
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Acompanhamentos"></title>
    <link th:include="fragments/header :: header-css" />
</head>

<style>


    .indicador {
        text-align: center;
        vertical-align: middle;
        align-items: center;
        align-content: center;
        width: 7.1%;
        max-width: 7.1%;
        min-width: 7.1%;
        border-right: solid 1px #CFCFCF;
        border-left: solid 1px #CFCFCF;
        color: white;
        font-size: 16px;
    }
    


    div {
        text-align: center;
        vertical-align: middle;
    }

    #excelBtn {
        background-color: #1d6f42;
    }

    .indicadores {
        color: white;
    }

    .etapa {
        width: 30%;
        height: auto;
        max-height: 120px;
        max-width: 30%;
        display: inline-block;
        position: relative;
        padding: 20px;
    }

    .indicadorTotais {
        position: absolute;
        bottom: 33px;
        font-size: 16px;
        color: #ffffff;
        display: inline-block
    }

    .indicadorPercentSimTotais {
        position: absolute;
        right: 58%;
        bottom: 33px;
        font-size: 16px;
        color: #ffffff;
        display: inline-block
    }

    .indicadorPercentNaoTotais {
        position: absolute;
        left: 75%;
        bottom: 33px;
        font-size: 16px;
        color: #ffffff;
        display: inline-blocke
    }

    .cartao {
        overflow: hidden;
        text-align: center;
    }
    
    .cartao2 {
        overflow: hidden;
        text-align: left;
    }

    .loader {
        position: fixed;
        top: 45%;
        left: 48%;
    }
    
    .finalizados{
    	background-color: #2bbbad;
    	
    }
    
    .naoFinalizados{
    	background-color: #ef5350;
    	
    }
    
    .porcentagem{
    	background-color: #61a29c;
    }

</style>


<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Relatório De Acompanhamento De Faturamento</h4>
                <hr />
            </div>
        </div>

    </div>
	
	 <div class="container" style="width: 100%;">
	 
	 <div class="row">
            <a id="excelBtn" onClick="htmlTableToExcel('tabela-faturamentos','faturamentos');" data-position="left"
                data-tooltip="Baixar o estado atual da tabela para Excel" class="tooltipped waves-effect btn right"><i
                    class="material-icons left">file_download</i>Exportar Excel</a>
        </div>
	 
    <ul class="collapsible popout" data-collapsible="expandable">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">search</i>Filtros
            </div>
            <div class="collapsible-body grey lighten-3">

                    <div class="row">

                        <section id="filters">
                            <div class="input-field col m2">
                                <select name="campanha" class="select" id="select-campanha">
                                    <option th:selected="selected" th:value="''">Selecione</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                </select>
                                <label>Campanha</label>
                            </div>

                            <div class="input-field col m3">
                                <select name="idProduto" id="selectProduto" class="select">
                                    <option value="" th:selected="selected">Selecione</option>
                                    <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.nome}"></option>
                                </select>
                                <label>Produto</label>
                            </div>

                            <div class="input-field col m4">
                                <select class="select" name="etapa" id="select-etapa">
                                    <option value="" th:selected="selected">Selecione</option>
                                </select>
                                <label>Etapa</label>
                            </div>

                            <div class="input-field col m3">
                                <select class="select" name="filial" id="select-filial">
                                    <option value="" th:selected="selected">Selecione</option>
                                    <option th:each="e : ${filiais}" th:value="${e.id}" th:text="${e.nome}"></option>
                                </select>
                                <label>Filial</label>
                            </div>
                        </section>

                    </div>

                    <div class="row">
                        <div class="input-field col m4">
                            <i class="material-icons prefix">search</i>
                            <input name="empresa" type="text" id="txt-pesq-empresa" />
                            <label for="txt-pesq-cliente">Empresa</label>
                        </div>

                        <div class="input-field col m2">
                            <select class="select" name="tipoNegocio" id="tipoNegocio">
                                <option value="" th:selected="selected">Selecione</option>
                                <option th:value="NN">Novo Negócio</option>
                                <option th:value="RR">Recorrência</option>
                            </select>
                            <label>Tipo de Negócio</label>
                        </div>
                        
                        <div class="input-field col m2">
                               <select class="select" name="quantificacao" id="quantificacao">
                                     <option value="" th:selected="selected">Selecione</option>
                                     <option value='true'>Sim</option>
                                     <option value='false'>Não</option>
                                </select>
                                <label>Quantificação</label>
                         </div>
                         
                         <div class="input-field col m2">
                               <select class="select" name="submissao" id="submissao">
                                     <option value="" th:selected="selected">Selecione</option>
                                     <option value='true'>Sim</option>
                                     <option value='false'>Não</option>
                                </select>
                                <label>Submissão MCTI</label>
                         </div>
                    </div>

                    <div class="row">

                        <div class="col m3">
                            <button type="submit" id="btn" class="waves-effect blue btn modal-trigger buscar">
                                <i class="material-icons left">search</i>Buscar
                            </button>
                        </div>
                    </div>

            </div>
        </li>
         <li>
                <div class="collapsible-header totais">
                    <i class="material-icons">add_circle_outline</i> Totais
                </div>
                <div class="collapsible-body grey lighten-3">
                    <div id="totais" class="row">
						
						 
						 <div id="quantificacaoCard" class="etapa card-panel grey lighten-4 z-depth-3 ">
						 		<span><b>Quantificação </b></span> <br/>
						 	<div id="totalSimQuantificacao" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 24%; height: 34px; background-color: #2bbbad; border-right-color: coral;" class="indicadores card-panel z-depth-1">
						 	</div>
						 	<div id="totalSimQuantificacaoPercent" style="margin-right: 2px;max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px; background-color: #2bbbad;" class="indicadores cartao card-panel ">
						 	</div>
						 	<div id="totalNaoQuantificacao" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 23%; height: 34px;" class="indicadores cartao card-panel red lighten-1 ">
						 	</div>
						 	<div id="totalNaoQuantificacaoPercent" style="max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px;" class="indicadores card-panel red lighten-1 z-depth-1">
						 	</div>
						 </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						 
						 
						 <div id="submissaoMcti" class="etapa card-panel grey lighten-4 z-depth-3 ">
						 		<span><b>Submissão MCTI </b></span> <br/>
						 	<div id="totalSimSubmissao" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 24%; height: 34px; background-color: #2bbbad; border-right-color: coral;" class="indicadores card-panel z-depth-1">
						 	</div>
						 	<div id="totalSimSubmissaoPercent" style="margin-right: 2px;max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px; background-color: #2bbbad;" class="indicadores cartao card-panel ">
						 	</div>
						 	<div id="totalNaoSubmissao" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 23%; height: 34px;" class="indicadores cartao card-panel red lighten-1 ">
						 	</div>
						 	<div id="totalNaoSubmissaoPercent" style="max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px;" class="indicadores card-panel red lighten-1 z-depth-1">
						 	</div>
						 </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						 
						 
						 

                    </div>
                    <div>
                    	<div id="submissaoMcti" class="etapa card-panel grey lighten-4 z-depth-3 ">
						 		<span><b>Faturamentos Quantificação </b></span> <br/>
						 	<div id="totalSimFatsQuanficacao" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 28%; height: 34px; background-color: #2bbbad; border-right-color: coral;" class="indicadores card-panel z-depth-1">
						 	</div>
						 	<div id="totalSimFatsQuanficacaoPercent" style="margin-right: 2px;max-height:38px;  float: left; width: 16%; height: 34px; background-color: #2bbbad;" class="indicadores cartao card-panel ">
						 	</div>
						 	<div id="totalNaoFatsQuanficacao" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 34%; height: 34px; background-color: #2bbbad;" class="indicadores cartao2 card-panel  lighten-1 ">
						 	</div>
						 	<div id="totalNaoFatsQuanficacaoPercent" style="max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 21%; height: 34px; background-color: #2bbbad;" class="indicadores card-panel  lighten-1 z-depth-1">
						 	</div>
						 </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						 
						 <div id="submissaoMcti" class="etapa card-panel grey lighten-4 z-depth-3 ">
						 		<span><b>Faturamentos Submissão</b></span> <br/>
						 	<div id="totalSimFatsSubmissao" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 28%; height: 34px; background-color: #2bbbad; border-right-color: coral;" class="indicadores card-panel z-depth-1">
						 	</div>
						 	<div id="totalSimFatsSubmissaoPercent" style="margin-right: 2px;max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 16%; height: 34px; background-color: #2bbbad;" class="indicadores cartao2 card-panel ">
						 	</div>
						 	<div id="totalNaoFatsSubmissao" style="max-height:40px; float: left; width: 34%; height: 34px; background-color: #2bbbad; text-align:left"  class="indicadores card-panel cartao2 ">
						 	</div>
						 	<div id="totalNaoFatsSubmissaoPercent" style="max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 21%; height: 34px; background-color: #2bbbad; " class="indicadores card-panel  lighten-1 z-depth-1">
						 	</div>
						 </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </li>
    </ul>

        <div class="row">
            <div id="listFaturamentos">
                <table class="responsive-table striped" id="tabela-faturamentos" style="margin-top: 50px">
                    <thead id="titulo-tabela">
                        <tr>
                            <th>Cliente</th>
                            <th>Campanha</th>
                            <th>Equipe</th>
                            <th>Apuração</th>
                            <th>Quantificação</th>
                            <th>Submissão MCTI</th>  
                            <th>% Quantificação</th>
                            <th>% Submissão</th>
                            <th>Qntd fat. Quantificação</th>
                            <th>Qntd fat. Submissão</th>
                            <th>VN</th>
                            <th>Modo</th>
                            <th>Gerou Faturamento?</th>
                           
                        </tr>
                    </thead>
                    <tbody id="corpo-tabela">
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
        <div id="loader" class="preloader-wrapper big active loader">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      </div>

    <div th:include="fragments/footer :: footer"></div>
    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/libs/exportExcel.js"></script>
    <script src="../js/faturamento/relatorioAcompanhamento.js"></script>

</body>

</html>