<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="'Relatório de Notas Fiscais'"></title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Relatório de Notas Fiscais</h4>
                <hr />
            </div>
        </div>

    </div>

    <div class="container" style="width: 100%;">
        <div class="row">
            <a id="excelBtn" onClick="htmlTableToExcel('tabela-notas-fiscais','relatorioNotasFiscais');"
                data-position="left" data-tooltip="Baixar o estado atual da tabela para Excel"
                class="tooltipped waves-effect btn right"><i class="material-icons left">file_download</i>Exportar
                Excel</a>
        </div>
        <ul class="collapsible popout" data-collapsible="expandable">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">search</i>Filtros
                </div>
                <div class="collapsible-body grey lighten-3">

                    <form th:action="@{/relatorios/relatorioNotaFiscal}">

                        <input name="queryTrigger" th:hidden="hidden" type="text" value="true" />

                        <div class="row">

                            <section id="filters">
                                <div class="input-field col m1">
                                    <i class="material-icons prefix">search</i>
                                    <select name="campanha" class="select" id="select-campanha">
                                        <option th:selected="selected" th:value="''">Selecione</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                    </select>
                                    <label>Campanha</label>
                                </div>

                                <div class="input-field col m2">
                                    <select name="idProduto" id="selectProduto" class="select">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.nome}">
                                        </option>
                                    </select>
                                    <label>Produto</label>
                                </div>

                                <div class="input-field col m3">
                                    <select class="select" name="etapa" id="select-etapa">
                                        <option value="" th:selected="selected">Selecione</option>
                                    </select>
                                    <label>Etapa</label>
                                </div>

                                <div class="row">
                                    <div class="input-field col m3">
                                        <select name="motivoCancelamento" id="select-motivoCancelamento" class="select">
                                            <option value="NONE" th:selected="selected">Selecione</option>
                                            <option th:each="mc : ${motivoCancelamento}" th:value="${mc.name()}"
                                                th:text="${mc.displayName()}"></option>
                                        </select> <label>Motivo Cancelamento</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col m3">
                                        <input name="empresa" type="text" id="txt-pesq-empresa" />
                                        <label for="txt-pesq-cliente">Empresa</label>
                                    </div>

                                    <div class="input-field col m2">
                                        <select class="select" name="tipoNegocio" id="tipoNegocio">
                                            <option value="" th:selected="selected">Selecione</option>
                                            <option th:value="NN">Novo Negócio</option>
                                            <option th:value="RR">Recorrência</option>
                                        </select>
                                        <label>Tipo de Negócio</label>
                                    </div>

                                    <div class="input-field col m2">
                                        <select class="select" name="filial" id="select-filial">
                                            <option value="" th:selected="selected">Selecione</option>
                                            <option th:each="e : ${filiais}" th:value="${e.id}" th:text="${e.nome}">
                                            </option>
                                        </select>
                                        <label>Filial</label>
                                    </div>

                                    <div class="input-field col m2">
                                        <i class="material-icons prefix">search</i>
                                        <input name="numeroNF" type="text" id="numeroNF" />
                                        <label for="txt-pesquisa-nota">Nº Nota</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col m2">
                                        <select class="select" name="cancelada" id="cancelada">
                                            <option value="" th:selected="selected">Selecione</option>
                                            <option value='true'>Sim</option>
                                            <option value='false'>Não</option>
                                        </select>
                                        <label>Cancelada</label>
                                    </div>
                                    <div class="input-field col m2">
                                        <select class="select" name="emAtraso" id="emAtraso">
                                            <option value="" th:selected="selected">Selecione</option>
                                            <option value="true">Sim</option>
                                            <option value="false">Não</option>
                                        </select>
                                        <label>Em Atraso</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <fieldset>
                                        <legend>Data Emissão</legend>
                                        <div class="input-field col m.0.3">
                                            <p>
                                                De
                                            </p>
                                        </div>
                                        <div class=" col m2">

                                            <input type="text" id="dataInicioEmissao" th:placeholder="'DD/MM'"
                                                name="dataInicioEmissao" class="datepicker" />
                                            <label for="dataInicioEmissao">Data Inicio</label>
                                        </div>
                                        <div class="input-field col m0.5">
                                            <p>
                                                Até
                                            </p>
                                        </div>
                                        <div class="col m2">
                                            <input type="text" id="dataFinalEmissao" th:placeholder="'DD/MM'"
                                                name="dataFinalEmissao" class="datepicker" />
                                            <label for="dataFinalEmissao">Data Final</label>
                                        </div>

                                        <div class="break"></div>
                                    </fieldset>
                                </div>

                                <div class="row">
                                    <fieldset>
                                        <legend>Data à Cobrar</legend>
                                        <div class="input-field col m0.5">
                                            <p>
                                                De
                                            </p>
                                        </div>
                                        <div class=" col m2">
                                            <input type="text" id="dataInicioCobrar" th:placeholder="'DD/MM'"
                                                name="dataInicioCobrar" class="datepicker" />
                                            <label for="dataInicioCobrar">Data Inicio</label>
                                        </div>
                                        <div class="input-field col m0.5">
                                            <p>
                                                Até
                                            </p>
                                        </div>
                                        <div class="col m2">
                                            <input type="text" id="dataFinalCobrar" th:placeholder="'DD/MM'"
                                                name="dataFinalCobrar" class="datepicker" />
                                            <label for="dataFinalCobrar">Data Final</label>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="row">
                                    <fieldset>
                                        <legend>Data Cobrança</legend>
                                        <div class="input-field col m0.5">
                                            <p>
                                                De
                                            </p>
                                        </div>
                                        <div class="col m2">
                                            <input type="text" id="dataInicioCobranca" th:placeholder="'DD/MM'"
                                                name="dataInicioCobranca" class="datepicker" />
                                            <label for="dataInicioCobranca">Data Inicio</label>
                                        </div>
                                        <div class="input-field col m0.5">
                                            <p>
                                                Até
                                            </p>
                                        </div>
                                        <div class="col m2">
                                            <input type="text" id="dataFinalCobranca" th:placeholder="'DD/MM'"
                                                name="dataFinalCobranca" class="datepicker" />
                                            <label for="dataFinalCobranca">Data Final</label>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="row">

                                    <div class="col m3 left">
                                        <button type="submit" id="btn" class="waves-effect blue btn modal-trigger">
                                            <i class="material-icons left">search</i>Buscar
                                        </button>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </form>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">attach_money</i>Totais
                </div>
                <div class="collapsible-body grey lighten-3">

						<form>
            			<div class="row">
                			<div style="padding: 0px;" class="col s12 m12">
                    			<div class="card blue-grey darken-2 z-depth-2">
                        			<div style="padding-bottom: 1px; padding-top: 10px; padding-left: 0px; padding-right: 0px;" class="card-content white-text">
                            			<span class="card-title center">Totais</span>
                           					<div class="row center" >
                                				<div class="col m2 offset-m2">
                                    				<div class="card-panel blue-grey lighten-5 z-depth-3">
                                        				<span class="black-text"><b>Valor Bruto</b> 
                                        				<p style="text-align:center"><span id="totalBruto" th:text="${totalBruto}">0</span></p>
                                        				</span>
                                    				</div>
                                				</div>
                                				<div class="col m2" >
                                    				<div class="card-panel blue-grey lighten-5 z-depth-3">
                                        				<span class="black-text"><b>Valor Líquido</b>
                                        				<p style="text-align:center"><span id="totalLiquido"  th:text="${totalLiquido}">0</span> </p>
                                        				</span>
                                    				</div>
                                				</div>
                                				<div class="col m2">
                                    				<div class="card-panel blue-grey lighten-5 z-depth-3">
                                        				<span class="black-text"><b>Valor Recebido</b>
                                        				<p style="text-align:center"><span id="totalRecebido" th:text="${totalRecebido}">0</span></p>
                                        				</span>
                                    				</div>
                                				</div>
                                				<div class="col m2">
                                    				<div class="card-panel blue-grey lighten-5 z-depth-3">
                                        				<span class="black-text"><b>Valor A Receber</b>
                                        				<p style="text-align:center"><span id="totalAReceber" th:text="${totalAReceber}">0</span></p>
                                        				</span>
                                    				</div>
                                				</div>
                               				</div>
                               			</div>
                               		</div>
                               	</div>
                          </div>
                     </form>
                </div>
            </li>
        </ul>
        <div class="row">
            <div id="listNotasFiscais">
                <table class="responsive-table striped" id="tabela-notas-fiscais" style="margin-top: 50px">
                    <thead>
                        <tr>
                        	<th class="ignore" th:hidden="hidden" id="id"></th>
                            <th>Empresa</th>
                            <th>CNPJ</th>
                            <th>Filial</th>
                            <th>Serviço</th>
                            <th>Campanha</th>
                            <th>R$ Bruto</th>
                            <th>R$ Líquido</th>
                            <th>R$ Cobrança</th>
                            <th>Parcelas</th>
                            <th>Apuração</th>
                            <th>Emissão</th>
                            <th>Nº NF</th>
                            <th>Data Vencimento</th>
                            <th>Data Cobrança</th>
                            <th>Cancelada</th>
                            <th>Incidência</th>
                            <th th:hidden="hidden" class="ignore">Cobrança</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="nf, index : ${notaFiscal}" id="notaFiscal" th:class="registroNotaClass">
                        	<td th:hidden="hidden" class="ignore idNotaClass" th:id="idNota" th:text="${nf?.id}"></td>
                            <td><a th:href="@{/notasFiscais/} + ${nf?.id}" th:text="${nf.razaoSocialFaturar}"></a></td>
                            <td th:text="${nf.cnpjFaturar}"></td>
                            <td th:text="${nf?.filial?.nome}"></td>
                            <td th:text="${nf?.faturamento?.produto?.nome}"> </td>
                            <td th:text="${nf?.faturamento?.campanha}"> </td>
                            <td th:class="valorBrutoClass" th:text="${nf.faturar}"></td>
                            <td th:class="valorLiquidoClass" th:text="${nf.cobrar}"> </td>
                            <td th:class="valorRecebidoClass" th:text="${nf?.valorCobranca}"></td>
                            <td th:class="parcelaClass" th:text="${nf.parcela}"> </td>
                            <td th:text="${nf?.faturamento?.producao?.tipoDeApuracao}"> </td>
                            <td th:text="${nf?.dataEmissao}"></td>
                            <td th:text="${nf?.numeroNF}"></td>
                            <td th:text="${nf?.dataVencimento}"></td>
                            <td th:text="${nf?.dataCobranca}"></td>
                            <td th:text="${nf?.cancelada} ? 'SIM' : 'NÃO'"> </td>
                            <td th:if="${nf.incidencia != null and nf.cobranca == false}" th:text="${nf.incidencia}"></td>
                            <td th:unless="${nf.incidencia != null and nf.cobranca == false}" th:text="''"></td>
						</tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div th:include="fragments/footer :: footer"></div>
    <script src="../js/libs/datePickerInit.js"></script>
    <script src="../js/libs/exportExcel.js"></script>
    <script th:src="@{/js/producao/update.js}"></script>
    <script src="../js/notaFiscal/relatorio.js"></script>

</body>

</html>