<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>+ Endereço Cliente</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" th:href="@{/css/cliente/form-cliente.css}" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Endereço</h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">

        <form th:action="@{/clientes/enderecoFormAdd}" method="POST">

            <div class="row">        
            
            	<input id="clienteId" type="text" th:value="${cliente.id}" name="cliente.id" th:hidden="hidden" />

                <div class="input-field col m2">
                    <input id="cep" type="text" th:maxlength="8" name="cep" th:required="required" />
                    <label for="cep">CEP</label>
                </div>

                <div class="input-field col m4">
                    <input id="rua" type="text" name="logradouro" th:required="required" />
                    <label for="rua">Endereço</label>
                </div>         

				<div class="input-field col m1">
                    <input id="numero" type="text" name="numero" />
                    <label for="numero">N°</label>
                </div>
                
                <div class="input-field col m2">
                    <input id="complemento" type="text" name="complemento" />
                    <label for="complemento">Complemento</label>
                </div>
                

            </div>

            <div class="row">
            
            	<div class="input-field col m2">
                    <select name="tipo" id="endereco.tipo" class="select">
             	        <option th:disabled="disabled" 
                     			th:selected="selected" >Selecione</option>
	                    <option th:each="ca : ${tipo}"
	                      	th:value="${ca.displayName()}"
	                      	th:text="${ca.displayName()}">
	                    </option>
	             	</select>
                    <label>Tipo</label>
                </div>

                <div class="input-field col m2">
                    <input id="bairro" type="text" name="bairro" th:required="required" />
                    <label for="bairro">Bairro</label>
                </div>

                <div class="input-field col m2">
                    <input id="cidade" type="text" name="cidade" th:required="required" />
                    <label for="cidade">Cidade</label>
                </div>

                <div class="input-field col m1">
                    <input id="estado" type="text" name="estado" th:required="required" />
                    <label for="estado">Estado</label>
                </div>

                <p class="col m3">
                    <input id="checkEnderecoNotaFiscalBoleto" type="checkbox" name="enderecoNotaFiscalBoleto" />
                    <label for="checkEnderecoNotaFiscalBoleto">Endereço nota fiscal / Boleto</label>
                </p>

            </div>
           
            <div class="row">
                <div class="col m2">
                    <button type="submit" id="btn-cad-ender" class="waves-effect green btn"><i class="material-icons left">add</i>Add</button>
                </div>
                <div class="col m10 right-align">
                    <a th:href="@{/clientes/} + ${cliente.id}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        </form>

    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/cliente/buscaCEP.js}"></script>
    <script th:src="@{/js/cliente/form.js}"></script>

</body>

</html>
