<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Atualizar"></title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <h4 th:text="Atualizar"></h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
 
        <form th:action="@{/clientes/updateAtualizar}" method="POST">
        
        <div class="row">
        
        <input type="hidden" value="on" name="_active"/>

                    <input type="text" th:hidden="hidden" name="clienteId" th:value="${ender.cliente.id}"/>
                    <input type="text" th:hidden="hidden" name="id" th:value="${ender.id}"/>
                    
                    <div class="input-field col m2">
                        <input id="cep" type="text" th:maxlength="8" name="cep" th:required="required" th:value="${ender.cep}"/>
                        <label for="cep">CEP</label>
                    </div>


                    <div class="input-field col m4">
                        <input id="rua" type="text" name="logradouro" th:required="required" th:value="${ender.logradouro}"/>
                        <label for="endereco">Endereço</label>
                    </div>
                    
                    <div class="input-field col m1">
                        <input id="numero" type="text" name="numero" th:required="required" th:value="${ender.numero}"/>
                        <label for="numero">N°</label>
                    </div>
                    
                    <div class="input-field col m3">
                        <input id="complemento" type="text" name="complemento" th:value="${ender.complemento}"/>
                        <label for="complemento">Complemento</label>
                    </div>
                    </div>
                    
                    <div class="row">
                    
                    <div class="input-field col m2">
                    <select name="tipo" id="planta" class="select">
             	        <option th:disabled="disabled" 
                     			th:selected="selected" >Selecione</option>
	                    <option th:each="ca : ${tipo}"
	                      	th:value="${ca.displayName()}"
	                      	th:text="${ca.displayName()}"
	                        th:selected="(${ender.tipo == ca.displayName()})"></option>
	             		</select>
                    	<label>Tipo</label>
                	</div>
                    
                    <div class="input-field col m2">
                    <input id="bairro" type="text" name="bairro" th:required="required" th:value="${ender.bairro}"/>
                    <label for="bairro">Bairro</label>
                </div>

                <div class="input-field col m2">
                    <input id="cidade" type="text" name="cidade" th:required="required" th:value="${ender.cidade}"/>
                    <label for="cidade">Cidade</label>
                </div>

                <div class="input-field col m1">
                    <input id="estado" type="text" name="estado" th:required="required" th:value="${ender.estado}"/>
                    <label for="estado">Estado</label>
                </div>

                <p class="col m3">
                    <input type="checkbox" th:checked="${ender.enderecoNotaFiscalBoleto}" name="enderecoNotaFiscalBoleto" id="enderecoNotaFiscalBoleto" />
                    <label for="enderecoNotaFiscalBoleto">Endereço nota fiscal / Boleto</label>
                </p>
                
                </div>
                
                <div class="row">
                <div class="col m3">
                    <button type="submit" id="btn-att-cliente" class="waves-effect light-blue darken-4 btn"><i class="material-icons left">edit</i>Atualizar</button>
                </div>
                 <div class="col m9 right-align">
                    <a th:href="@{/clientes/}+${ender.cliente.id}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
                </div>
                
            
        </form>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script>
    $('.select').material_select();
    </script>
    <script th:src="@{/js/cliente/buscaCEP.js}"></script>

</body>

</html>
