<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Cadastrar Etapa de Trabalho</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Etapa de Trabalho</h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <form th:action="@{/etapasTrabalho/add}" method="POST" autocomplete='off'>

            <div class="row">

                <div class="input-field col m4">
                    <input id="nomeEtapaTrabalho" type="text" class="tooltip" th:required="required" name="nome" />
                    <label for="nomeEtapaTrabalho">Nome da Etapa de Trabalho</label>
                </div>
                
                <div>
                <input id="subProducao" name="subProducao" type="checkbox" />
                <label for="subProducao">Sub-Produção</label>
                </div>
                
            </div>

            <div class="row">
                <div class="input-field col m8">
                    <textarea id="descricaoEtapaTrabalho" name="descricao" th:required="required" class="materialize-textarea"></textarea>
                    <label for="descricaoEtapaTrabalho">Descrição da Etapa de Trabalho</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col m12">
                    <select id="tarefas" multiple="multiple" name="tarefas" th:required="required">
	                	<option value="" th:disabled="disabled" 
	             			th:selected="selected" >Selecione as tarefas da etapa</option>
	                   <option th:each="tarefa : ${tarefasList}"
	                    	th:value="${tarefa.id}"
	                    	th:text="${tarefa.id} + ' - ' + ${tarefa.nome}"></option>
	                </select>
                    <label>Tarefas da etapa de trabalho</label>
                </div>
            </div>

            <div class="row">
                <div class="col m6">
                    <button type="submit" class="waves-effect green btn tooltip" id="btnAddEtapaTrabalho">
		                  <i class="material-icons left">add</i>Adicionar
		             </button>
                </div>
                <div class="col m6 right-align">
                    <a href="/produtos/form" class="waves-effect yellow-text black btn tooltip" id="btnAddProduto">
                        <i class="material-icons left">add</i>Produto
                    </a>
                </div>
            </div>

        </form>

        <div class="row">
            <div class="col m12 right-align">
                <a href="/tarefas/form" class="waves-effect yellow-text black btn tooltip" id="btnAddTarefa">
                    <i class="material-icons left">add</i>Tarefa
                </a>
            </div>
        </div>

    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/etapatrabalho/main.js"></script>

</body>

</html>
