<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Cadastrar Contrato</title>
    <link th:include="fragments/header :: header-css" />
    
    <style>
.tooltip {
          position: relative;
          display: inline-block;
          border-bottom: 1px dotted black;
           /* font-size: 1.7 em; */
        }
        
        .tooltip .tooltiptext {
          visibility: hidden;
          
          width: 320px;
          font-size: 1.7 em;
          background-color: #555;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: -40%;
          left: 135%;
          margin-left: -60px;
          opacity: 0;
          transition: opacity 0.3s;
        }
        
        .tooltip .tooltiptext::after {
          content: "";
          
          position: absolute;
          top: 50%;
          left: 0%;
          margin-left: -5px;
          border-width: 0px;
          border-style: solid;
          border-color: #555 transparent transparent transparent;
        }
        
        .tooltip:hover .tooltiptext {
          visibility: visible;
          opacity: 1;
          font-size: 1.7 em;
        }

</style>
    
    
</head>

<body>


    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Contrato </h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <form id="form" th:action="@{/contratos/add}" method="POST">
            <div class="row">

            </div>

            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">person</i>Produto / Cliente</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="">
                            
                            <div class="row">
                                <div class="input-field col m4">
                                    <select name="produto.id" id="selectProduto" class="select" th:required="required">
                                        <option value="" th:disabled="disabled" 
                                            th:selected="selected" >Selecione o produto</option>
                                        <option th:each="produto : ${produtos}"
                                            th:value="${produto.id}"
                                            th:text="${produto.nome}"></option>
                                    </select>
                                    <label>Selecione o produto</label>
                                </div>
                                
                                 <div class="input-field col m2">
                                            <label>Data de Entrada</label>
                                            <input type="text" id="dataEntrada" name="dataEntrada" class="datepicker" />
                                        </div>
                                        
                                        
                                 <div class="col m2">
                                 <p>
                               
                             	
                            	<input name="contratoFisico" type="checkbox" class="filled-in" id="contratoFisico" />
                            	<label for="contratoFisico">Contrato Assinado</label>
                        		</p>
                                 </div>
                                
                        		<div class="col m2">
                        		<p>
                            	<input name="manual" type="checkbox" class="filled-in" id="manual" />
                            	<label for="manual">Tratativa Manual</label>
                        		</p>
                        		</div>
                        		

                        		
                        		
                                </div>
                                
                                
                                
                        

                                <div class="row">

                                <div class="input-field col m4">
                                    <input id="cnpj" type="text" class="tooltip" th:required="required" name="cnpj" />
                                    <label for="cnpj">CNPJ</label>
                                </div>
                                
                                <input type="text" name="cliente.id" th:hidden="hidden" th:value="${cliente?.id}" id="idcliente"/>

                                <div class="input-field col m4">
                                    <input id="nomeEmpresa" type="text" class="tooltip" th:required="required" name="nomeEmpresa" />
                                    <label for="nomeEmpresa">Cliente</label>
                                </div>
                            	
                            	</div>
                            	
                            	<div class="row">

                                <div class="input-field col m4">
                                    <input id="cnpjFaturar" type="text" class="tooltip" th:required="required" name="cnpjFaturar" />
                                    <label for="cnpjFaturar">CNPJ a Faturar</label>
                                </div>
                                
                                <input type="text" name="cliente.id" th:hidden="hidden" id="idcliente"/>

                                <div class="input-field col m4">
                                    <input id="razaoSocialFaturar" type="text" class="tooltip" name="razaoSocialFaturar" />
                                    <label for="razaoSocialFaturar">Razão Social a Faturar</label>
                                </div>
                            	
                            	</div>
                            	
                            	
                            	
                            	
                            	
                            	
                            
                            <div class="row">
                                
                                <div class="input-field col m4">
                                    <select name="comercialResponsavelEntrada.id" id="comercialResponsavelEntrada" class="select" th:required="required">
                                        <option value="" 
                                            th:selected="selected" >Selecione o comercial responsável</option>
                                        <option th:each="comercial : ${comerciaisTodos}"
                                            th:value="${comercial.id}"
                                            th:text="${comercial.sigla} +', '+${comercial.nome}"></option>
                                    </select>
                                    <label>Comercial Responsável pela Entrada</label>
                                </div>  
                                
                                <div class="input-field col m4">
                                    <select name="comercialResponsavelEfetivo.id" id="comercialResponsavelEfetivo" class="select" th:required="required">
                                        <option value="" 
                                            th:selected="selected" >Selecione o comercial responsável</option>
                                        <option th:each="comercial : ${comerciaisAtivos}"
                                            th:value="${comercial.id}"
                                            th:text="${comercial.sigla} +', '+${comercial.nome}"></option>
                                    </select>
                                    <label>Comercial Responsável Atual</label>
                                </div>  
                                
                                  <div class="input-field col m4">
                            <input class="money" type="text" name="estimativaComercial" id="estimativaComercial" />
                             <label for="estimativaComercial">Estimativa Comercial</label>
                            </div>
                                                          	
                            </div>
                            
                            <div class="row">
                        
                        <p>
                            <input name="pedidoCompra" type="checkbox" class="filled-in" id="pedidoCompra" />
                            <label for="pedidoCompra">Pedido de Compra</label>
                        </p>
                        
                        </div>
                        </div>
                    </div>
                </li>  
                
              
                <li>
                	 <div class="collapsible-header"><i class="material-icons">view_list</i>Combo</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="row">
                     
                        <div class="row">
								<div class="col m3">
								<p>
									<input name="combo" type="checkbox" class="filled-in"
										id="combo" />
										<label for="combo">Combo</label>
								</p>


							</div>
							
							<div class="col m3">
								<p id="group_id">
									<input name="produtoAlvo" type="checkbox" class="filled-in"
										id="produtoPrincipal" />
									<label for="produtoPrincipal">Produto Alvo</label>
								</p>

							</div>
							
							<div class="col m4">
								<label id="botao-principal" for="botao-produtoPrincipal">Selecioneo Produto Alvo</label>
								<button type="submit" id="botao-produtoPrincipal"
									class="waves-effect light-blue darken-4 btn" onclick="botao()"
									title="teste">
									<i class=" Small material-icons center">search</i>

								</button>

							</div>
							
							</div>
						
                      
                         <div class="input-field col m3">
                         <p id="selectCombo">
                                    <select name="selectNomeCombo" id="selectNomeCombo" class="select" >
                                        <option value=""   th:selected="selected">Selecione o Nome do Combo</option>
                                    </select>
                                    <label>Selecione o Nome do Combo</label>
                          </p>
                          </div>  
                           
                           <div class="input-field col m1">
                            		<p id= "separador">
                            		 <label> Ou</label>
                            		</p>
                            </div>
                       
                            
							
							<div class="input-field col m3">
                            		<p id= "textNomeCombo">
                            		
                            			<label >Escreva nome do  Combo</label>
                            			<input name="nomeCombo" type="text" id="nomeCombo"  />
                            			
                            		</p>
                           		</div>
                           		
                           
							
							<div id="contratoCombo" class="modal -dialog modal-xl">
								<div class="modal-content">
									<div class="tooltip"><h5>Selecione Produto Alvo</h5>
          								<span class="tooltiptext">Ao selecionar um ou mais itens da lista abaixo, o contrato
              							 terá os itens selecionados como seus produtos alvos.   </span>
       								 </div>
								
								
									<table>
										<thead>
										<tr>
											<th th:hidden="hidden">#</th>
											<th>Produto</th>
											<th>Início Vigência</th>
											<th>Fim da Vigência</th>
											<th>Comercial Responsável Atual</th>
											<th>Selecione</th>
										</tr>
									</thead>
									 <tbody id= "TabelaForms">
										<tr> 
										
										</tr>
									</tbody>  
								</table>

							</div>
							<div class="modal-footer">
								<a href="#" onclick="fecharModalContato()"
									class="modal-close waves-effect waves-green btn-flat">
									Fechar</a> <a href="#" 
									class="modal-close waves-effect waves-green btn-flat">
									Salvar</a>

							</div>
						</div>
                        
                        
                        
                        </div>
                     </div>
                
                </li>
                
                
                              
                <li>
                    <div class="collapsible-header"><i class="material-icons">date_range</i>Vigência</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="row">
                            <ul class="container">
                                <li>
                                    <input name="vigenciaradio" type="radio" id="vigenciaDeterminada" th:required="required" th:value="vigenciaDeterminada" />
                                    <label for="vigenciaDeterminada">Vigência Determinada</label>
                                </li>
                                <li>
                                    <input name="vigenciaradio" type="radio" id="vigenciaIndeterminada" th:value="vigenciaIndeterminada" />
                                    <label for="vigenciaIndeterminada">Vigência Indeterminada</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                
                
                <li>
                    <div class="collapsible-header"><i class="material-icons">attach_money</i>Honorários</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="row">
                            <ul class="container">
                                <li>
                                    <input name="valorfixocheck" type="checkbox" class="filled-in" id="valorFixo" />
                                    <label for="valorFixo">Valor Fixo</label>
                                </li>
                                <li>
                                    <input name="percentualfixocheck" type="checkbox" class="filled-in" id="percentualFixo" />
                                    <label for="percentualFixo">Percentual Fixo</label>
                                </li>
                                <li>
                                    <input name="percentualescalonadocheck" type="checkbox" class="filled-in" id="percentualEscalonado" />
                                    <label for="percentualEscalonado">Percentual Escalonado</label>
                                </li>
                            </ul>
                        </div>                
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">alarm_on</i>Timing de Faturamento</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="row">
							<ul class="container">
                                <li>
                                    <input name="pagamentoEntrega" type="checkbox" class="filled-in" id="pagamentoEntrega" />
                                    <label for="pagamentoEntrega">Faturamento por entrega de tarefas</label>
                                </li>
                                <li>
                                    <input name="pagamentoData" type="checkbox" class="filled-in" id="pagamentoData" />
                                    <label for="pagamentoData">Faturamento com data inicial</label>
                                </li>									
							</ul>                        	
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">payment</i>Forma de Pagamento</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="row">
                            <ul class="container">
                                <th:block th:each="formapag : ${formasPagamento}">
                                    <li>
                                        <input name="formaPagamento" type="radio" th:id="${formapag.name()}" th:value="${formapag.name()}" />
                                        <label th:for="${formapag.name()}" th:text="${formapag.displayName()}">Vigência Indeterminada</label>
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">access_time</i>Prazo para Pagamento</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="container">
                            <div class="row">
                                
                                <div class="input-field col m3">
                                    <input type="number" th:value="0" name="prazoPagamento" id="prazoPagamento" />
                                    <label for="prazoPagamento">Prazo (Dias)</label>
                                </div>
                                <div class="input-field col m3">
                         			<p id="periodoCobranca">
                                    <select  name="selectPeriodoCobranca" id="selectPeriodoCobranca" style="left: 100px;">
										<option value="" th:disabled="disabled" th:selected="selected">Selecione </option>
										<option value="Mensal">Mensal</option>
										<option value="trimestral">Trimestral</option>
										<option value="Anual">Anual</option>
                                    </select>
                                    <label>Período cobrança</label>
                          			</p>
                          		</div> 
                            </div>
                                
                           
                            
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">local_atm</i>Reajuste e Reembolso</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="container">
                            <div class="row">
                                <div>
                                    <input name="reembolsoDespesas" type="checkbox" class="filled-in" id="reembolsoDespesas" />
                                    <label for="reembolsoDespesas">Reembolso Despesas</label>
                                </div>
                            </div>
                            
                            <hr/>
                            
                            <div class="row">
                            <br/>
                                <div>
                                    <input name="reajuste" type="checkbox" class="filled-in" id="reajuste" />
                                    <label for="reajuste">Reajuste?</label>
                                </div>
                                <div class="col m3">
                                	<input type="text" id="dataReajuste" name="dataReajuste" class="datepicker" />
                                	<label for="dataReajuste">Data</label>
                                </div>
                                </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">enhanced_encryption</i>Garantias</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="container">
                            <div class="row">
                                <div class="">
                                    <div class="input-field">
                                        <select id="selectGarantias" multiple="multiple" name="garantias">
				                        	<option value="" th:disabled="disabled"
				                     			th:selected="selected" >Selecione as garantias</option>
				                           <option th:each="garantia : ${garantias}"
				                            	th:value="${garantia.id}"
				                            	th:text="${garantia.descricao}"></option>
				                        </select>
                                        <label>Garantias no contrato</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                 <li>
                    <div class="collapsible-header"><i class="material-icons">priority_high</i>Observações</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="row">
                            <ul class="container">
                                
                                <div class="row">
                					<div class="input-field col m8">
                    					<textarea id="obsContrato" name="obsContrato" class="materialize-textarea"></textarea>
                    					<label for="obsContrato">Observações</label>
                					</div>
            				    </div>
                            </ul>
                        </div>                
                    </div>
                </li>
            </ul>

            <div class="row">
                <div class="col m4">
                    <button type="submit" class="waves-effect green btn tooltip" id="btn-add-contrato">
	                    <i class="material-icons left">add</i>Adicionar	        
	                </button>
                </div>               
			    <div class="col m8 right-align">
                    <a th:href="@{/contratos/all}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>                
            </div>
        </form>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/libs/CNPJ.js"></script>
    <script src="../js/contrato/form.js"></script>
    <script src="../js/libs/datePickerInit.js"></script>
    <script src="../js/contrato/buscaCNPJ.js"></script>

</body>

</html>
