<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="'Atualizar Contrato' + ' ' + ${contrato.cliente.razaoSocial}"></title>
    <link th:include="fragments/header :: header-css" />
    <style>
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
            /* font-size: 1.7 em; */
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 320px;
            font-size: 1.7 em;
            background-color: #555;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: -40%;
            left: 135%;
            margin-left: -60px;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0%;
            margin-left: -5px;
            border-width: 0px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
            font-size: 1.7 em;
        }
    </style>
</head>

<body>
    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">
        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <h4 th:text="Atualizar + ' ' + 'Contrato' + ' ' + ${contrato.cliente.razaoSocial}"></h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <input type="text" th:value="${contrato.id}" name="id" id="idContrato" th:hidden="hidden" />
        </div>

        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">person</i>Produto / Cliente
                </div>
                <div class="collapsible-body grey lighten-4">
                    <div class="">
                        <div class="row">
                            <div class="input-field col m4">
                                <select name="produto.id" id="id-produto" class="select" th:required="required">
                                    <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                    <option th:each="produto : ${produtos}" th:value="${produto.id}"
                                        th:text="${produto.nome}"
                                        th:selected="(${contrato.produto.nome == produto.nome})"></option>
                                </select> <label>Produto</label>
                            </div>
                            <div class="row">
                                <div class="input-field col m4">
                                    <input type="text" name="dataEntrada" th:value="${contrato.dataEntrada}"
                                        id="dataEntrada" class="datepicker" /> <label for="dataEntrada">Data
                                        de Entrada</label>
                                </div>
                                
                                <div class="col m2">
                                 <p>
                                    <input name="contratoFisico" th:checked="(${contrato.contratoFisico})"
                                        type="checkbox" class="filled-in" id="contratoFisico" /> <label
                                        for="contratoFisico">Contrato Assinado</label>
                                </p>
                                 </div>
                                
                        		<div class="col m2">
                        		<p>
                                    <input name="manual" th:checked="(${contrato.manual})"
                                        type="checkbox" class="filled-in" id="manual" /> <label
                                        for="manual">Tratativa Manual</label>
                                </p>
                        		</div>
                                
                            </div>
                        </div>

                        <div class="row">

                            <div class="input-field col m4">
                                <input id="cnpj" type="text" th:value="${contrato.cliente.cnpj}" class="tooltip"
                                    th:required="required" name="cnpj" /> <label for="cnpj">CNPJ</label>
                            </div>


                            <div class="input-field col m4">
                                <input id="nomeEmpresa" type="text" th:value="${contrato.cliente.razaoSocial}"
                                    class="tooltip" th:required="required" name="nomeEmpresa" /> <label
                                    for="nomeEmpresa">Cliente</label>
                            </div>

                        </div>

                        <div class="row">

                            <div class="input-field col m4">
                                <input id="cnpjFaturar" type="text" th:value="${contrato.cnpjFaturar}" class="tooltip"
                                    th:required="required" name="cnpjFaturar" /> <label for="cnpjFaturar">CNPJ a
                                    Faturar</label>
                            </div>

                            <input type="text" name="cliente.id" th:value="${contrato?.cliente?.id}" th:hidden="hidden"
                                id="idcliente" />

                            <input type="text" name="produtoid" th:value="${contrato?.produto?.id}" th:hidden="hidden"
                                id="produtoid" />

                            <div class="input-field col m4">
                                <input id="razaoSocialFaturar" th:value="${contrato.razaoSocialFaturar}" type="text"
                                    class="tooltip" th:required="required" name="razaoSocialFaturar" /> <label
                                    for="razaoSocialFaturar">Razão
                                    Social a Faturar</label>
                            </div>

                        </div>

                        <div class="row">

                            <div class="input-field col m4">
                                <select name="comercialResponsavel.id" id="comercialResponsavelEntrada" class="select"
                                    th:required="required">
                                    <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                    <option th:each="cr : ${comerciaisTodos}" th:value="${cr.id}"
                                        th:text="${cr.sigla} +', '+${cr.nome}"
                                        th:selected="(${contrato?.comercialResponsavelEntrada?.nome == cr.nome})">
                                    </option>
                                </select> <label for="comercialResponsavelEntrada">Comercial Responsável Entrada</label>
                            </div>

                            <div class="input-field col m4">
                                <select name="comercialResponsavel.id" id="comercialResponsavelEfetivo" class="select"
                                    th:required="required">
                                    <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                    <option th:each="cr : ${comerciaisAtivos}" th:value="${cr.id}"
                                        th:text="${cr.sigla} +', '+${cr.nome}"
                                        th:selected="(${contrato?.comercialResponsavelEfetivo?.nome == cr.nome})">
                                    </option>
                                </select> <label for="comercialResponsavelEfetivo">Consultor
                                    Comercial Atual</label>
                            </div>

                            <div class="input-field col m4">
                                <input class="money" type="text" name="estimativaComercial"
                                    th:value="${contrato.estimativaComercial}" id="estimativaComercial" /> <label
                                    for="estimativaComercial">Estimativa
                                    Comercial</label>
                            </div>

                        </div>

                        <div class="row">

                            <p>
                                <input name="pedidoCompra" th:checked="${contrato.pedidoCompra}" type="checkbox"
                                    class="filled-in" id="pedidoCompra" /> <label for="pedidoCompra">Pedido de
                                    Compra</label>
                            </p>
                            
                             <input name="contratoInativo" th:checked="(${contrato.contratoInativo})"
                                        type="checkbox" class="filled-in" id="contratoInativo" /> <label
                                        for="contratoInativo">Contrato Inativo</label>
							
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="collapsible-header"><i class="material-icons">view_list</i>Combo</div>
                <div class="collapsible-body grey lighten-3">

                    <div class="row">
                        <div class="col m3">
                            <p>
                                <input name="combo" type="checkbox" class="filled-in" id="combo"
                                    th:checked="${contrato.combo}" /> <label for="combo">Combo</label>
                            </p>


                        </div>

                        <div class="col m3">
                            <p id="group_id">
                                <input name="produtoAlvo" type="checkbox" class="filled-in" id="produtoPrincipal"
                                    th:checked="${contrato.produtoAlvo}" />
                                <label for="produtoPrincipal">Produto Alvo</label>
                            </p>

                        </div>

                        <div class="col m4">
                            <label id="botao-principal" for="botao-produtoPrincipal">Selecione
                                o Produto Alvo</label>


                            <button type="submit" id="botao-produtoPrincipal"
                                class="waves-effect light-blue darken-4 btn" onclick="botao()" title="teste">
                                <i class=" Small material-icons center">search</i>

                            </button>

                        </div>

                    </div>


                    <div class="row">
                        <div class="input-field col m3">
                            <p id="selectCombo">
                                <select name="selectNomeCombo" id="selectNomeCombo" class="select">
                                    <option value="" th:selected="selected" th:value="${contrato.nomeCombo}">Selecione o Nome do Combo</option>

                                </select>
                                <label>Selecione o Nome do Combo</label>
                            </p>
                        </div>
                        <div class="input-field col m1">
                            <p id="separador">
                                <label> Ou</label>
                            </p>
                        </div>


                        <div class="input-field col m3">
                            <p id="textNomeCombo">
                                <label>Escreva o nome do Combo</label>
                                <input name="nomeCombo" type="text" id="nomeCombo" th:value="${contrato?.nomeCombo}" />


                            </p>
                        </div>

                    </div>

                    <div id="contratoCombo" class="modal -dialog modal-xl">
                        <div class="modal-content">
                            <div class="tooltip">
                                <h5>Selecione Produto Alvo</h5>
                                <span class="tooltiptext">Ao selecionar um ou mais itens da lista abaixo, o contrato
                                    terá os itens selecionados como seus produtos alvos. </span>
                            </div>


                            <table>
                                <thead>
                                    <tr>
                                        <th th:hidden="hidden">#</th>

                                        <th>Produto</th>
                                        <th>Início Vigência</th>
                                        <th>Fim da Vigência</th>
                                        <th>Comercial Responsável Atual</th>
                                        <th>Selecione</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="p,i : ${produtosPrincipais}">

                                        <td class="align-middle" th:text="${p?.produto.nome}"></td>


                                        <td class="align-middle" th:text="${p?.vigencia.inicioVigencia}"></td>

                                        <td th:if="${p.vigencia.nome == 'VIGÊNCIA INDETERMINADA'}"
                                            th:text="${p.vigencia.dataEncerramentoContrato}">Indeterminada</td>

                                        <td th:if="${p.vigencia.nome.toString() == 'VIGÊNCIA DETERMINADA'}"
                                            th:text="${p.vigencia.fimVigencia}"></td>


                                        <td id="nome" th:text="${p?.comercialResponsavelEfetivo?.nome}"></td>
                                        <td>
                                            <p>
                                                <input th:id="${p.id}" name="produtosAlvo" type="checkbox"
                                                    th:value="${p?.id}" class="filled-in" />
                                                <label th:for="${p.id}"> </label>
                                            </p>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <a href="#" onclick="fecharModalContato()"
                                class="modal-close waves-effect waves-green btn-flat">
                                Fechar</a>
                            <a href="#" onclick="produtosAlvo()" class="modal-close waves-effect waves-green btn-flat">
                                Salvar</a>

                        </div>
                    </div>


                </div>
            </li>


            <li>
                <div class="collapsible-header">
                    <i class="material-icons">date_range</i>Vigência<span class="new badge"
                        data-badge-caption="Atualize a Vigência"></span>
                </div>
                <div class="collapsible-body grey lighten-3">
                    <div class="row">
                        <div class="container">

                            <div class="row">
                                <a id='updateVigencia'
                                    class="btn-floating right btn-large waves-effect waves-light grey modal-trigger"
                                    href="#modalVigencia"><i class="material-icons">edit</i></a>
                            </div>

                            <div class="row">

                                <span th:text="${contrato.vigencia.nome}" id="tipoVigencia" th:hidden="hidden"></span>
                                <input type="text" name="vigencia.nome" th:value="${contrato.vigencia.nome}"
                                    th:hidden="hidden" />
                                <h5 th:text="${contrato.vigencia.nome}"></h5>
                                <hr />
                            </div>
                            <div class="row">
                                <div class="col m3">
                                    <label>Inicio Vigência</label> <input type="text"
                                        th:value="${contrato.vigencia.inicioVigencia}" id="inicioVigencia"
                                        name="inicioVigencia" class="datepicker" />
                                    <input type="text" th:value="${contrato.vigencia.id}" name="vigencia.id"
                                        th:hidden="hidden" id="idVigencia" />
                                </div>
                                <div class="col m4 offset-m2">
                                    <div
                                        th:if="${#strings.toUpperCase(contrato.vigencia.nome) == 'VIGÊNCIA DETERMINADA'}">
                                        <label>Fim da Vigência</label> <input type="text"
                                            th:value="${contrato?.vigencia?.fimVigencia}" name="fimVigenciaDeterminada"
                                            class="datepicker" id="fimVigencia" />
                                    </div>

                                    <div
                                        th:if="${#strings.toUpperCase(contrato.vigencia.nome) == 'VIGÊNCIA INDETERMINADA'}">
                                        <div id="dateEncerramentoContrato">
                                            <label>Data de encerramento de contrato</label> <input type="text"
                                                th:value="${contrato.vigencia.dataEncerramentoContrato}"
                                                id="dataEncerramentoContrato" name="dataEncerramentoContrato"
                                                class="datepicker" />
                                        </div>

                                        <button
                                            th:if="${contrato.vigencia.dataEncerramentoContrato == '' OR contrato.vigencia.dataEncerramentoContrato == null}"
                                            id="btnEncerrarContrato" type="button"
                                            class="waves-effect red accent-1 white-text btn">Encerrar contrato</button>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                             
                            	<div class="col m3">

                                        <label for="campanhaInicial">Campanha Inicial</label>
                                        <select name="campanhaInicial" id="campanhaInicial" class="select" th:selected="${contrato?.vigencia?.campanhaInicial}">
                            				<option value="">Selecione</option>
                            				<option th:if="${contrato?.vigencia?.campanhaInicial} == 2019" th:selected="selected" value="2019">2019</option>
                            				<option th:if="${contrato?.vigencia?.campanhaInicial} != 2019"  value="2019">2019</option>
                            				<option th:if="${contrato?.vigencia?.campanhaInicial} == 2020" th:selected="selected" value="2020">2020</option>
                            				<option th:if="${contrato?.vigencia?.campanhaInicial} != 2020"  value="2020">2020</option>
                            				<option th:if="${contrato?.vigencia?.campanhaInicial} == 2021" th:selected="selected" value="2021">2021</option>
                            				<option th:if="${contrato?.vigencia?.campanhaInicial} != 2021"  value="2021">2021</option>
                            				<option th:if="${contrato?.vigencia?.campanhaInicial} == 2022" th:selected="selected" value="2022">2022</option>
                            				<option th:if="${contrato?.vigencia?.campanhaInicial} != 2022"  value="2022">2022</option>
                            				<option th:if="${contrato?.vigencia?.campanhaInicial} == 2023" th:selected="selected" value="2023">2023</option>
                            				<option th:if="${contrato?.vigencia?.campanhaInicial} != 2023"  value="2023">2023</option>
                            				<option th:if="${contrato?.vigencia?.campanhaInicial} == 2024" th:selected="selected" value="2024">2024</option>
                            				<option th:if="${contrato?.vigencia?.campanhaInicial} != 2024"  value="2024">2024</option>
                        				</select>
                        				
                               </div>
                               
                               <div class="col m4 offset-m2">
                               		  <label>Campanha Final</label>	
                                      <select name="campanhaFinal" id="campanhaFinal" class="select" th:selected="${contrato?.vigencia?.campanhaFinal}">
                            				<option value="">Selecione</option>
                            				<option th:if="${contrato?.vigencia?.campanhaFinal} == 'INDETERMINADA'" th:selected="selected" value="INDETERMINADA">INDETERMINADA</option>
                            				<option th:if="${contrato?.vigencia?.campanhaFinal} != 'INDETERMINADA'"  value="INDETERMINADA">INDETERMINADA</option>
                            				<option th:if="${contrato?.vigencia?.campanhaFinal} == 2019" th:selected="selected" value="2019">2019</option>
                            				<option th:if="${contrato?.vigencia?.campanhaFinal} != 2019"  value="2019">2019</option>
                            				<option th:if="${contrato?.vigencia?.campanhaFinal} == 2020" th:selected="selected" value="2020">2020</option>
                            				<option th:if="${contrato?.vigencia?.campanhaFinal} != 2020"  value="2020">2020</option>
                            				<option th:if="${contrato?.vigencia?.campanhaFinal} == 2021" th:selected="selected" value="2021">2021</option>
                            				<option th:if="${contrato?.vigencia?.campanhaFinal} != 2021"  value="2021">2021</option>
                            				<option th:if="${contrato?.vigencia?.campanhaFinal} == 2022" th:selected="selected" value="2022">2022</option>
                            				<option th:if="${contrato?.vigencia?.campanhaFinal} != 2022"  value="2022">2022</option>
                            				<option th:if="${contrato?.vigencia?.campanhaFinal} == 2023" th:selected="selected" value="2023">2023</option>
                            				<option th:if="${contrato?.vigencia?.campanhaFinal} != 2023"  value="2023">2023</option>
                            				<option th:if="${contrato?.vigencia?.campanhaFinal} == 2024" th:selected="selected" value="2024">2024</option>
                            				<option th:if="${contrato?.vigencia?.campanhaFinal} != 2024"  value="2024">2024</option>
                        				</select> 
                        				
                                </div>
                          
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li th:if="${contrato.produto.nome == 'LEI DO BEM' OR contrato.produto.nome == 'LB RETROATIVA' OR contrato.produto.nome == 'LB PREJUÍZO'}">
                <div class="collapsible-header">
                    <i class="material-icons">attach_money</i>Honorários<span class="new badge"
                        data-badge-caption="Atualize os Honorários"></span>
                </div>
                <div class="collapsible-body grey lighten-4">
                    <div class="container">
                        <div class="row">
                            <a id='updateHonorarios'
                                class="btn-floating right btn-large waves-effect waves-light grey modal-trigger"
                                href="#modalHonorario"><i class="material-icons">edit</i></a>
                        </div>
                        <div class="row">

                            <div th:each="h : ${honorarios}">
                                <div th:class="${h.nome}">

                                    <div th:if="${h.nome} == 'Valor Fixo'">

                                        <input type="text" th:value="${h.nome}" id="honorFixo" th:hidden="hidden" />

                                        <h5 th:text="${h.nome}" class="honorario" id="nomeHonorario"></h5>
                                        <hr />
                                        <div class="row">

                                            <div class="input-field col m4">
                                                <input type="text" th:hidden="hidden" name="idValorFixo"
                                                    id="idValorFixo" th:value="${h.id}" /> <input class="money"
                                                    type="text" name="valorVF" th:value="${h.valor}" id="valorFixo" />
                                                <label for="valorFixo">Valor R$</label>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <p class="col m3">
                                                <input name="valorMensal" th:checked="${h.valorMensal}" type="checkbox"
                                                    class="filled-in" id="isValorMensal" /> <label
                                                    for="isValorMensal">Mensal?</label>
                                            </p>

                                            <div class="input-field col m3">
                                                <label for="dataCobrancaMensal">Mensal / Dia:</label> <input
                                                    type="number" min="0" max="30" name="dataCobrancaMensal"
                                                    th:value="${h?.dataCobrancaMensal}" id="dataCobrancaMensal" />
                                            </div>

                                        </div>

                                        <div class="row">

                                            <p class="col m3">
                                                <input name="valorTrimestral" th:checked="${h.valorTrimestral}"
                                                    type="checkbox" class="filled-in" id="isvalorTrimestral" /> <label
                                                    for="isvalorTrimestral">Trimestral?</label>
                                            </p>

                                            <div class="input-field col m2">
                                                <label for="dataCobrancaTrimestral1">Data 1</label> <input type="text"
                                                    name="dataCobrancaTrimestral1" th:placeholder="'DD/MM'"
                                                    th:value="${h?.dataCobrancaTrimestral1}"
                                                    id="dataCobrancaTrimestral1" />
                                            </div>

                                            <div class="input-field col m2">
                                                <label for="dataCobrancaTrimestral2">Data 2</label> <input type="text"
                                                    name="dataCobrancaTrimestral2" th:placeholder="'DD/MM'"
                                                    th:value="${h?.dataCobrancaTrimestral2}"
                                                    id="dataCobrancaTrimestral2" />
                                            </div>

                                            <div class="input-field col m2">
                                                <label for="dataCobrancaTrimestral3">Data 3</label> <input type="text"
                                                    name="dataCobrancaTrimestral3" th:placeholder="'DD/MM'"
                                                    th:value="${h?.dataCobrancaTrimestral3}"
                                                    id="dataCobrancaTrimestral3" />
                                            </div>

                                        </div>

                                        <div class="row">

                                            <p class="col m3">
                                                <input name="valorAnual" th:checked="${h.valorAnual}" type="checkbox"
                                                    class="filled-in" id="isValorAnual" /> <label
                                                    for="isValorAnual">Anual?</label>
                                            </p>

                                            <div class="input-field col m3">
                                                <label for="dataCobrancaAnual">Anual / Período</label> <input
                                                    type="text" name="dataCobrancaAnual"
                                                    th:value="${h?.dataCobrancaAnual}" id="dataCobrancaAnual"
                                                    class="datepicker" />
                                            </div>

                                        </div>

                                        <br />

                                        <div class="row">

                                            <p class="col m3">
                                                <input name="reajuste" th:checked="${h.reajuste}" type="checkbox"
                                                    class="filled-in" id="isReajuste" /> <label
                                                    for="isReajuste">Reajuste ?</label>
                                            </p>

                                            <div class="input-field col m3">
                                                <label for="obesrvacaoReajuste">Obs Reajuste</label> <input type="text"
                                                    name="obesrvacaoReajuste" th:value="${h?.obesrvacao}"
                                                    id="obesrvacaoReajuste" />
                                            </div>

                                        </div>
                                    </div>

                                    <div th:if="${h.nome} == 'Percentual Fixo'">
                                        <h5 th:text="${h.nome}" id="nomePercentualFixo" class="honorario"></h5>
                                        <input type="text" th:hidden="hidden" name="idPercentualFixo"
                                            id="idPercentualFixo" th:value="${h.id}" />
                                        <hr />
                                        <div class="row">
                                            <div class="input-field col m3">
                                                <input type="number" th:value="${h.valorPercentual}" name="valorPF" class="commaForDot"
                                                    id="valorPF" /> <label for="valorPF">Fixo
                                                    %</label>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col m4">
                                                    <input class="money" type="text" th:value="${h.limitacao}"
                                                        name="limitacao" id="limitacaoPercentualFixo" /> <label
                                                        for="limitacaoPercentualFixo">Limitação R$</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div th:if="${h.nome} == 'Percentual Escalonado'">
                                        <h5 th:text="${h.nome}" class="honorario"></h5>

                                        <hr />
                                        <input type="text" th:value="${h.id}" id="idPEscalonado" th:hidden="hidden" />
                                        <ul id="faixasEscalonamento">
                                            <li th:each=" fe : ${h.faixasEscalonamento}">
                                                <div class="row">
                                                    <input type="text" th:value="${fe.id}" id="idPercentualEscalonado"
                                                        th:hidden="hidden" />
                                                    <div class="input-field col m3">
                                                        <input type="number" pattern="[0-9]" title="Numbers only"
                                                            step="1" min="0" th:value="${fe.valorPercentual}"
                                                            id="valorPercentual" class="valorPercentual" /> <label
                                                            for="valorPercentual">Valor %</label>
                                                    </div>
                                                    <div class="input-field col m3">
                                                        <input type="text" class="money valorInicial"
                                                            th:value="${fe.valorInicial}" id="valorInicial" /> <label
                                                            for="valorInicial">Valor inicial R$</label>
                                                    </div>
                                                    <div class="input-field col m3">
                                                        <input type="text" class="money valorFinal"
                                                            th:value="${fe.valorFinal}" id="valorFinal" /> <label
                                                            for="valorFinal">Valor Final R$</label>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="row">
                                            <a id="addFaixaEscalonado" class="mouse-hand tooltipped"
                                                data-position="left" data-tooltip="Adicionar Faixa"><i
                                                    class="material-icons left">add</i></a> <a
                                                id="removeFaixaEscalonado" class="mouse-hand tooltipped"
                                                data-position="right" data-tooltip="Remover Faixa"><i style='color: red'
                                                    class="material-icons left">remove</i></a>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col m3 ">
                                                <input type="text" class="money acimaDe" th:value="${h.acimaDe}"
                                                    id="acimaDe" /> <label for="acimaDe">Acima de R$</label>
                                            </div>

                                            <div class="input-field col m3">
                                                <input type="number" pattern="[0-9]" title="Numbers only" step="1"
                                                    min="0" th:value="${h.percentAcimaDe}" id="percentAcimaDe"
                                                    class="percentAcimaDe" /> <label for="percentAcimaDe">Valor
                                                    %</label>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="input-field col m4">
                                                <input class="money" type="text" th:value="${h.limitacao}"
                                                    name="limitacao" id="limitacaoPercentualEscalonado" /> <label
                                                    for="limitacaoPercentualEscalonado">Limitação R$</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </li>

            <li id="clausulaLB" th:if="${contrato.produto.id == 23}">
                <div class="collapsible-header">
                    <i class="material-icons">money_off</i> Cláusula LB Prejuízo
                </div>
                <div class="collapsible-body grey lighten-4">
                    <div class="container">
                        <div class="row">
                            <div class="col m4">
                                <input name="prejuizoFixo" th:checked="(${contrato.prejuizoFixo})"
                                    onclick="fixoPositivo()" type="checkbox" class="filled-in" id="prejuizoFixo" />
                                <label for="prejuizoFixo">Valor
                                    Fixo</label> <input name="prejuizoValorFixo"
                                    th:value="${contrato.prejuizoValorFixo}" placeholder="R$" class="money" type="text"
                                    id="prejuizoValorFixo" />
                            </div>
                            <div class="col m4">
                                <input name="prejuizoPercentual" th:checked="(${contrato.prejuizoPercentual})"
                                    onclick="percentualPositivo()" type="checkbox" class="filled-in"
                                    id="prejuizoPercentual" /> <label for="prejuizoPercentual">Valor Percentual</label>
                                <input name="prejuizoPercentualFixo" th:value="${contrato.prejuizoPercentualFixo}"
                                    placeholder="%" type="number" step='.1' class="porcentagem"
                                    id="prejuizoPercentualFixo" />
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li th:if="${contrato.produto.nome == 'LEI DO BEM' OR contrato.produto.nome == 'LB RETROATIVA' OR contrato.produto.nome == 'LB PREJUÍZO'}">
                <div class="collapsible-header">
                    <i class="material-icons">done_all</i>Timing de Faturamento<span class="new badge"
                        data-badge-caption="Atualize o Faturamento"></span>
                </div>
                <div class="collapsible-body grey lighten-4">
                    <div class="container">
                        <div class="row">
                            <input name="pagamentoEntrega" th:disabled="disabled" type="checkbox"
                                th:checked="(${contrato.pagamentoEntrega})" id="pagamentoEntrega" /> <label
                                for="pagamentoEntrega">Faturamento
                                na entrega de tarefas.</label> &nbsp;&nbsp; <input name="pagamentoData"
                                th:disabled="disabled" type="checkbox" th:checked="(${contrato.pagamentoData})"
                                id="pagamentoData" />
                            <label for="pagamentoData">Faturamento apartir de data.</label>
                        </div>

                        <div class="row" th:if="${contrato.pagamentoEntrega} == true">

                            <h5 th:text="Etapas"></h5>

                            <div class="row">
                                <input type="text" id="idEtapas" th:value="${contrato?.etapasPagamento?.id}"
                                    th:hidden="hidden" />
                                <div class="input-field col m4">
                                    <select name="etapasPagamento.etapa1" id="etapa1" class="select">
                                        <option value="0" th:selected="selected">Selecione</option>
                                        <option th:each="etapa : ${etapasTrabalho}" th:value="${etapa.id}"
                                            th:text="${etapa.nome}"
                                            th:selected="(${etapasPagamento?.etapa1?.nome == etapa.nome})"></option>
                                    </select> <label>1ª Etapa para faturamento</label>
                                </div>

                                <div class="input-field col m1">
                                    <input class="porcentagem1" type="text" name="porcentagem1"
                                        th:value="${etapasPagamento?.porcentagem1}" id="porcentagem1" />
                                    <label for="porcentagem1">%</label>
                                </div>

                                <div class="input-field col m1">
                                    <input type="number" name="parcela1" th:value="${etapasPagamento?.parcela1}"
                                        id="parcela1" /> <label for="parcela1">Parcelas</label>
                                </div>
                            </div>

                            <div class="row">

                                <div class="input-field col m4">
                                    <select name="etapasPagamento.etapa2" id="etapa2" class="select">
                                        <option value="0" th:selected="selected">Selecione</option>
                                        <option th:each="etapa : ${etapasTrabalho}" th:value="${etapa.id}"
                                            th:text="${etapa.nome}"
                                            th:selected="(${etapasPagamento?.etapa2?.nome == etapa.nome})"></option>
                                    </select> <label>2ª Etapa para faturamento</label>
                                </div>

                                <div class="input-field col m1">
                                    <input type="text" class="porcentagem2" name="porcentagem2"
                                        th:value="${etapasPagamento?.porcentagem2}" id="porcentagem2" />
                                    <label for="porcentagem2">%</label>
                                </div>

                                <div class="input-field col m1">
                                    <input type="text" name="parcela2" th:value="${etapasPagamento?.parcela2}"
                                        id="parcela2" /> <label for="parcela2">Parcelas</label>
                                </div>
                            </div>

                            <div class="row">

                                <div class="input-field col m4">
                                    <select name="etapasPagamento.etapa3" id="etapa3" class="select">
                                        <option value="0" th:selected="selected">Selecione</option>
                                        <option th:each="etapa : ${etapasTrabalho}" th:value="${etapa.id}"
                                            th:text="${etapa.nome}"
                                            th:selected="(${etapasPagamento?.etapa3?.nome == etapa.nome})"></option>
                                    </select> <label>3ª Etapa para faturamento</label>
                                </div>

                                <div class="input-field col m1">
                                    <input class="porcentagem3" type="text" name="porcentagem3"
                                        th:value="${etapasPagamento?.porcentagem3}" id="porcentagem3" />
                                    <label for="porcentagem3">%</label>
                                </div>

                                <div class="input-field col m1">
                                    <input type="number" name="parcela3" th:value="${etapasPagamento?.parcela3}"
                                        id="parcela3" /> <label for="parcela3">Parcelas</label>
                                </div>
                            </div>

                            <div class="row">

                                <div class="input-field col m4">
                                    <select name="etapasPagamento.etapa4" id="etapa4" class="select">
                                        <option value="0" th:selected="selected">Selecione</option>
                                        <option th:each="etapa : ${etapasTrabalho}" th:value="${etapa.id}"
                                            th:text="${etapa.nome}"
                                            th:selected="(${etapasPagamento?.etapa4?.nome == etapa.nome})"></option>
                                    </select> <label>4ª Etapa para faturamento</label>
                                </div>

                                <div class="input-field col m1">
                                    <input class="porcentagem4" type="text" name="porcentagem4"
                                        th:value="${etapasPagamento?.porcentagem4}" id="porcentagem4" />
                                    <label for="porcentagem4">%</label>
                                </div>

                                <div class="input-field col m1">
                                    <input type="number" name="parcela4" th:value="${etapasPagamento?.parcela4}"
                                        id="parcela4" /> <label for="parcela4">Parcelas</label>
                                </div>
                            </div>

                            <div class="row">

                                <p class="left">Total:</p>
                                <p class="left" id="totalPorcent"></p>

                            </div>

                        </div>

                        <div class="row" th:if="${contrato.pagamentoData} == true">
                            <hr />

                            <h5 th:text="Data" class="honorario"></h5>

                            <div class="input-field col m4">
                                <input type="text" th:value="${etapasPagamento?.dataFaturamento}" id="dataFat"
                                    name="dataFat" class="datepicker" /> <label>Início de
                                    Faturamento</label>
                            </div>

                        </div>

                    </div>
                </div>
            </li>

            <li th:if="${contrato.produto.nome != 'LEI DO BEM' AND contrato.produto.nome != 'LB RETROATIVA' AND contrato.produto.nome != 'LB PREJUÍZO'}">
                <div class="collapsible-header">
                    <i class="material-icons">done_all</i>Honorários e Timing de
                    Faturamento<span class="new badge" data-badge-caption="Atualize o Faturamento"></span>
                </div>
                <div class="collapsible-body grey lighten-4">
                    <div class="container">

                        <div class="row">
                            <a id='carregDefault'
                                class="btn-floating right btn-large waves-effect waves-light grey tooltipped"
                                data-position="top" data-tooltip="Carregar configuração padrão"><i
                                    class="material-icons">save</i></a>
                            <a th:if="${contrato.pagamentoData} == true" id='updateHonorarios'
                                class="btn-floating right btn-large waves-effect waves-light grey tooltipped modal-trigger"
                                data-position="top" data-tooltip="Alterar Honorários" href="#modalHonorario"><i class="material-icons">edit</i></a>
                        </div>

                        <div class="row">
                            <input name="pagamentoEntrega" th:disabled="disabled" type="checkbox"
                                th:checked="(${contrato.pagamentoEntrega})" id="pagamentoEntrega" /> <label
                                for="pagamentoEntrega">Faturamento
                                na entrega de tarefas.</label> &nbsp;&nbsp; <input name="pagamentoData"
                                th:disabled="disabled" type="checkbox" th:checked="(${contrato.pagamentoData})"
                                id="pagamentoData" />
                            <label for="pagamentoData">Faturamento apartir de data.</label>
                        </div>

                        <div class="row" th:if="${contrato.pagamentoEntrega} == true">

                            <h5 th:text="Etapas"></h5>

                            <div class="row">
                                <input type="text" id="idEtapas" th:value="${contrato?.etapasPagamento?.id}"
                                    th:hidden="hidden" />
                                <div class="input-field col m4">
                                    <select name="etapasPagamento.etapa1" id="etapa1" class="select">
                                        <option value="0" th:selected="selected">Selecione</option>
                                        <option th:each="etapa : ${etapasTrabalho}" th:value="${etapa.id}"
                                            th:text="${etapa.nome}"
                                            th:selected="(${etapasPagamento?.etapa1?.nome == etapa.nome})"></option>
                                    </select> <label>1ª Etapa para faturamento</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="honorario1" id="honorario1" class="select" th:required="required">
                                        <option th:if="${contrato?.etapasPagamento?.honorario1 != null}"
                                            th:value="${contrato?.etapasPagamento?.honorario1}"
                                            th:text="${contrato?.etapasPagamento?.honorario1}" th:selected="selected">
                                        </option>
                                        <option th:if="${contrato?.etapasPagamento?.honorario1 == null}" value=""
                                            th:selected="selected">Selecione</option>
                                        <option value="Valor Fixo">Valor Fixo</option>
                                        <option value="Percentual Fixo">Percentual Fixo</option>
                                        <option value="Percentual Escalonado">Percentual
                                            Escalonado</option>
                                        <option value="Isento">Isento</option>
                                    </select> <label>Honorário</label>
                                </div>

                                <div id="divEscalonado1" class="input-field col tooltipped" data-position="top"
                                    data-tooltip="Configurar escalonamento" th:hidden="hidden">
                                    <a class="btn modal-trigger grey" onclick="populaModal(1)" href="#modalEscalonado">
                                        <i class="material-icons">format_list_numbered</i>
                                    </a>
                                </div>

                                <div id="divValor1" class="input-field col m2" hidden="hidden">
                                    <input class="money" type="text" name="valor1" th:value="${etapasPagamento?.valor1}"
                                        id="valor1" /> <label for="valor1">R$</label>
                                </div>

                                <div id="divPorcent1" class="input-field col m2" hidden="hidden">
                                    <input class="porcentagem1" type="text" name="porcentagem1"
                                        th:value="${etapasPagamento?.porcentagem1}" id="porcentagem1" />
                                    <label for="porcentagem1">%</label>
                                </div>

                                <div class="input-field col m1">
                                    <input type="number" name="parcela1" th:value="${etapasPagamento?.parcela1}"
                                        id="parcela1" /> <label for="parcela1">Parcelas</label>
                                </div>
                            </div>

                            <div class="row">

                                <div class="input-field col m4">
                                    <select name="etapasPagamento.etapa2" id="etapa2" class="select">
                                        <option value="0" th:selected="selected">Selecione</option>
                                        <option th:each="etapa : ${etapasTrabalho}" th:value="${etapa.id}"
                                            th:text="${etapa.nome}"
                                            th:selected="(${etapasPagamento?.etapa2?.nome == etapa.nome})"></option>
                                    </select> <label>2ª Etapa para faturamento</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="honorario2" id="honorario2" class="select" th:required="required">
                                        <option th:if="${contrato?.etapasPagamento?.honorario2 != null}"
                                            th:value="${contrato?.etapasPagamento?.honorario2}"
                                            th:text="${contrato?.etapasPagamento?.honorario2}" th:selected="selected">
                                        </option>
                                        <option th:if="${contrato?.etapasPagamento?.honorario2 == null}" value=""
                                            th:selected="selected">Selecione</option>
                                        <option value="Valor Fixo">Valor Fixo</option>
                                        <option value="Percentual Fixo">Percentual Fixo</option>
                                        <option value="Percentual Escalonado">Percentual
                                            Escalonado</option>
                                        <option value="Isento">Isento</option>
                                    </select> <label>Honorário</label>
                                </div>

                                <div id="divEscalonado2" class="input-field col tooltipped" data-position="top"
                                    data-tooltip="Configurar escalonamento" th:hidden="hidden">
                                    <a class="btn modal-trigger grey" onclick="populaModal(2)" href="#modalEscalonado">
                                        <i class="material-icons">format_list_numbered</i>
                                    </a>
                                </div>

                                <div id="divValor2" class="input-field col m2" hidden="hidden">
                                    <input class="money" type="text" name="valor2" th:value="${etapasPagamento?.valor2}"
                                        id="valor2" /> <label for="valor2">R$</label>
                                </div>

                                <div id="divPorcent2" class="input-field col m2" hidden="hidden">
                                    <input type="text" class="porcentagem2" name="porcentagem2"
                                        th:value="${etapasPagamento?.porcentagem2}" id="porcentagem2" />
                                    <label for="porcentagem2">%</label>
                                </div>

                                <div class="input-field col m1">
                                    <input type="text" name="parcela2" th:value="${etapasPagamento?.parcela2}"
                                        id="parcela2" /> <label for="parcela2">Parcelas</label>
                                </div>
                            </div>

                            <div class="row">

                                <div class="input-field col m4">
                                    <select name="etapasPagamento.etapa3" id="etapa3" class="select">
                                        <option value="0" th:selected="selected">Selecione</option>
                                        <option th:each="etapa : ${etapasTrabalho}" th:value="${etapa.id}"
                                            th:text="${etapa.nome}"
                                            th:selected="(${etapasPagamento?.etapa3?.nome == etapa.nome})"></option>
                                    </select> <label>3ª Etapa para faturamento</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="honorario3" id="honorario3" class="select" th:required="required">
                                        <option th:if="${contrato?.etapasPagamento?.honorario3 != null}"
                                            th:value="${contrato?.etapasPagamento?.honorario3}"
                                            th:text="${contrato?.etapasPagamento?.honorario3}" th:selected="selected">
                                        </option>
                                        <option th:if="${contrato?.etapasPagamento?.honorario3 == null}" value=""
                                            th:selected="selected">Selecione</option>
                                        <option value="Valor Fixo">Valor Fixo</option>
                                        <option value="Percentual Fixo">Percentual Fixo</option>
                                        <option value="Percentual Escalonado">Percentual
                                            Escalonado</option>
                                        <option value="Isento">Isento</option>
                                    </select> <label>Honorário</label>
                                </div>

                                <div id="divEscalonado3" class="input-field col tooltipped" data-position="top"
                                    data-tooltip="Configurar escalonamento" th:hidden="hidden">
                                    <a class="btn modal-trigger grey" onclick="populaModal(3)" href="#modalEscalonado">
                                        <i class="material-icons">format_list_numbered</i>
                                    </a>
                                </div>

                                <div id="divValor3" class="input-field col m2" hidden="hidden">
                                    <input class="money" type="text" name="valor1" th:value="${etapasPagamento?.valor3}"
                                        id="valor3" /> <label for="valor3">R$</label>
                                </div>

                                <div id="divPorcent3" class="input-field col m2" hidden="hidden">
                                    <input class="porcentagem3" type="text" name="porcentagem3"
                                        th:value="${etapasPagamento?.porcentagem3}" id="porcentagem3" />
                                    <label for="porcentagem3">%</label>
                                </div>

                                <div class="input-field col m1">
                                    <input type="number" name="parcela3" th:value="${etapasPagamento?.parcela3}"
                                        id="parcela3" /> <label for="parcela3">Parcelas</label>
                                </div>
                            </div>

                            <div class="row">

                                <div class="input-field col m4">
                                    <select name="etapasPagamento.etapa4" id="etapa4" class="select">
                                        <option value="0" th:selected="selected">Selecione</option>
                                        <option th:each="etapa : ${etapasTrabalho}" th:value="${etapa.id}"
                                            th:text="${etapa.nome}"
                                            th:selected="(${etapasPagamento?.etapa4?.nome == etapa.nome})"></option>
                                    </select> <label>4ª Etapa para faturamento</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="honorario4" id="honorario4" class="select" th:required="required">
                                        <option th:if="${contrato?.etapasPagamento?.honorario4 != null}"
                                            th:value="${contrato?.etapasPagamento?.honorario4}"
                                            th:text="${contrato?.etapasPagamento?.honorario4}" th:selected="selected">
                                        </option>
                                        <option th:if="${contrato?.etapasPagamento?.honorario4 == null}" value=""
                                            th:selected="selected">Selecione</option>
                                        <option value="Valor Fixo">Valor Fixo</option>
                                        <option value="Percentual Fixo">Percentual Fixo</option>
                                        <option value="Percentual Escalonado">Percentual
                                            Escalonado</option>
                                        <option value="Isento">Isento</option>
                                    </select> <label>Honorário</label>
                                </div>

                                <div id="divEscalonado4" class="input-field col tooltipped" data-position="top"
                                    data-tooltip="Configurar escalonamento" th:hidden="hidden">
                                    <a class="btn modal-trigger grey" onclick="populaModal(4)" href="#modalEscalonado">
                                        <i class="material-icons">format_list_numbered</i>
                                    </a>
                                </div>

                                <div id="divValor4" class="input-field col m2" hidden="hidden">
                                    <input class="money" type="text" name="valor4" th:value="${etapasPagamento?.valor4}"
                                        id="valor4" /> <label for="valor4">R$</label>
                                </div>

                                <div id="divPorcent4" class="input-field col m2" hidden="hidden">
                                    <input class="porcentagem4" type="text" name="porcentagem4"
                                        th:value="${etapasPagamento?.porcentagem4}" id="porcentagem4" />
                                    <label for="porcentagem4">%</label>
                                </div>

                                <div class="input-field col m1">
                                    <input type="number" name="parcela4" th:value="${etapasPagamento?.parcela4}"
                                        id="parcela4" /> <label for="parcela4">Parcelas</label>
                                </div>
                            </div>

                        </div>

                        <div class="row" th:if="${contrato.pagamentoData} == true">
                            <hr />

                            <h5 th:text="Data" class="honorario"></h5>

                            <div class="row">
                                <div class="input-field col m4">
                                    <input type="text" th:value="${etapasPagamento?.dataFaturamento}" id="dataFat"
                                        name="dataFat" class="datepicker" /> <label>Início de
                                        Faturamento</label>
                                </div>
                            </div>
                            <div class="row">

                                <div th:each="h : ${honorarios}">
                                    <div th:class="${h.nome}">

                                        <div th:if="${h.nome} == 'Valor Fixo'">

                                            <input type="text" th:value="${h.nome}" id="honorFixo" th:hidden="hidden" />

                                            <h5 th:text="${h.nome}" class="honorario" id="nomeHonorario"></h5>
                                            <hr />
                                            <div class="row">

                                                <div class="input-field col m4">
                                                    <input type="text" th:hidden="hidden" name="idValorFixo"
                                                        id="idValorFixo" th:value="${h.id}" /> <input class="money"
                                                        type="text" name="valorVF" th:value="${h.valor}"
                                                        id="valorFixo" />
                                                    <label for="valorFixo">Valor R$</label>
                                                </div>

                                            </div>

                                            <div class="row">

                                                <p class="col m3">
                                                    <input name="valorMensal" th:checked="${h.valorMensal}"
                                                        type="checkbox" class="filled-in" id="isValorMensal" /> <label
                                                        for="isValorMensal">Mensal?</label>
                                                </p>

                                                <div class="input-field col m3">
                                                    <label for="dataCobrancaMensal">Mensal / Dia:</label> <input
                                                        type="number" min="0" max="30" name="dataCobrancaMensal"
                                                        th:value="${h?.dataCobrancaMensal}" id="dataCobrancaMensal" />
                                                </div>

                                            </div>

                                            <div class="row">

                                                <p class="col m3">
                                                    <input name="valorTrimestral" th:checked="${h.valorTrimestral}"
                                                        type="checkbox" class="filled-in" id="isvalorTrimestral" />
                                                    <label for="isvalorTrimestral">Trimestral?</label>
                                                </p>

                                                <div class="input-field col m2">
                                                    <label for="dataCobrancaTrimestral1">Data 1</label> <input
                                                        type="text" name="dataCobrancaTrimestral1"
                                                        th:placeholder="'DD/MM'"
                                                        th:value="${h?.dataCobrancaTrimestral1}"
                                                        id="dataCobrancaTrimestral1" />
                                                </div>

                                                <div class="input-field col m2">
                                                    <label for="dataCobrancaTrimestral2">Data 2</label> <input
                                                        type="text" name="dataCobrancaTrimestral2"
                                                        th:placeholder="'DD/MM'"
                                                        th:value="${h?.dataCobrancaTrimestral2}"
                                                        id="dataCobrancaTrimestral2" />
                                                </div>

                                                <div class="input-field col m2">
                                                    <label for="dataCobrancaTrimestral3">Data 3</label> <input
                                                        type="text" name="dataCobrancaTrimestral3"
                                                        th:placeholder="'DD/MM'"
                                                        th:value="${h?.dataCobrancaTrimestral3}"
                                                        id="dataCobrancaTrimestral3" />
                                                </div>

                                            </div>

                                            <div class="row">

                                                <p class="col m3">
                                                    <input name="valorAnual" th:checked="${h.valorAnual}"
                                                        type="checkbox" class="filled-in" id="isValorAnual" /> <label
                                                        for="isValorAnual">Anual?</label>
                                                </p>

                                                <div class="input-field col m3">
                                                    <label for="dataCobrancaAnual">Anual / Período</label> <input
                                                        type="text" name="dataCobrancaAnual"
                                                        th:value="${h?.dataCobrancaAnual}" id="dataCobrancaAnual"
                                                        class="datepicker" />
                                                </div>

                                            </div>

                                            <br />

                                            <div class="row">

                                                <p class="col m3">
                                                    <input name="reajuste" th:checked="${h.reajuste}" type="checkbox"
                                                        class="filled-in" id="isReajuste" /> <label
                                                        for="isReajuste">Reajuste ?</label>
                                                </p>

                                                <div class="input-field col m3">
                                                    <label for="obesrvacaoReajuste">Obs Reajuste</label> <input
                                                        type="text" name="obesrvacaoReajuste"
                                                        th:value="${h?.obesrvacao}" id="obesrvacaoReajuste" />
                                                </div>

                                            </div>
                                        </div>

                                        <div th:if="${h.nome} == 'Percentual Fixo'">
                                            <h5 th:text="${h.nome}" id="nomePercentualFixo" class="honorario"></h5>
                                            <input type="text" th:hidden="hidden" name="idPercentualFixo"
                                                id="idPercentualFixo" th:value="${h.id}" />
                                            <hr />
                                            <div class="row">
                                                <div class="input-field col m3">
                                                    <input type="number" th:value="${h.valorPercentual}" name="valorPF"
                                                        id="valorPF" /> <label for="valorPF">Fixo
                                                        %</label>
                                                </div>
                                                <div class="row">
                                                    <div class="input-field col m4">
                                                        <input class="money" type="text" th:value="${h.limitacao}"
                                                            name="limitacao" id="limitacaoPercentualFixo" /> <label
                                                            for="limitacaoPercentualFixo">Limitação R$</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div th:if="${h.nome} == 'Percentual Escalonado'">
                                            <h5 th:text="${h.nome}" class="honorario"></h5>

                                            <hr />
                                            <input type="text" th:value="${h.id}" id="idPEscalonado"
                                                th:hidden="hidden" />
                                            <ul id="faixasEscalonamento">
                                                <li th:each=" fe : ${h.faixasEscalonamento}">
                                                    <div class="row">
                                                        <input type="text" th:value="${fe.id}"
                                                            id="idPercentualEscalonado" th:hidden="hidden" />
                                                        <div class="input-field col m3">
                                                            <input type="number" pattern="[0-9]" title="Numbers only"
                                                                step="1" min="0" th:value="${fe.valorPercentual}"
                                                                id="valorPercentual" class="valorPercentual" /> <label
                                                                for="valorPercentual">Valor %</label>
                                                        </div>
                                                        <div class="input-field col m3">
                                                            <input type="text" class="money valorInicial"
                                                                th:value="${fe.valorInicial}" id="valorInicial" />
                                                            <label for="valorInicial">Valor inicial R$</label>
                                                        </div>
                                                        <div class="input-field col m3">
                                                            <input type="text" class="money valorFinal"
                                                                th:value="${fe.valorFinal}" id="valorFinal" /> <label
                                                                for="valorFinal">Valor Final R$</label>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="row">
                                                <a id="addFaixaEscalonado" class="mouse-hand tooltipped"
                                                    data-position="left" data-tooltip="Adicionar Faixa"><i
                                                        class="material-icons left">add</i></a> <a
                                                    id="removeFaixaEscalonado" class="mouse-hand tooltipped"
                                                    data-position="right" data-tooltip="Remover Faixa"><i
                                                        style='color: red' class="material-icons left">remove</i></a>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col m3 ">
                                                    <input type="text" class="money acimaDe" th:value="${h.acimaDe}"
                                                        id="acimaDe" /> <label for="acimaDe">Acima de R$</label>
                                                </div>

                                                <div class="input-field col m3">
                                                    <input type="number" pattern="[0-9]" title="Numbers only" step="1"
                                                        min="0" th:value="${h.percentAcimaDe}" id="percentAcimaDe"
                                                        class="percentAcimaDe" /> <label for="percentAcimaDe">Valor
                                                        %</label>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="input-field col m4">
                                                    <input class="money" type="text" th:value="${h.limitacao}"
                                                        name="limitacao" id="limitacaoPercentualEscalonado" /> <label
                                                        for="limitacaoPercentualEscalonado">Limitação R$</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </li>


            <li>
                <div class="collapsible-header">
                    <i class="material-icons">payment</i>Forma de Pagamento
                </div>
                <div class="collapsible-body grey lighten-4">
                    <div class="row">
                        <ul class="container">
                            <th:block th:each="formapag : ${formasPagamento}">
                                <li><input name="formaPagamento"
                                        th:checked="(${formapag?.name() == contrato?.formaPagamento?.name()})"
                                        type="radio" th:id="${formapag.name()}" th:value="${formapag.name()}" /> <label
                                        th:for="${formapag.name()}" th:text="${formapag.displayName()}">Vigência
                                        Indeterminada</label></li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">access_time</i>Prazo para Pagamento
                </div>
                <div class="collapsible-body grey lighten-4">
                    <div class="container">

                        <div class="row">
                            <div class="input-field col m3">
                                <input type="number" name="prazoPagamento" th:value="${contrato.prazoPagamento}"
                                    id="prazoPagamento" /> <label for="prazoPagamento">Prazo (Dias)</label>
                            </div>
                            
                            <div class="input-field col m2">
                            	<input  id="p" type="text" th:value="${contrato?.periodoCobranca}" th:hidden='hidden' />
                             	
                                        <select name="selectPeriodoCobranca" id="selectPeriodoCobranca" class="select" th:selected="${contrato?.periodoCobranca}">
                            				<option value="">Selecione</option>
                         					<option th:if="${contrato?.periodoCobranca} == Mensal" th:selected="selected" value="Mensal">Mensal</option>
                         					<option th:if="${contrato?.periodoCobranca} != Mensal"  value="Mensal">Mensal</option>
                            				<option th:if="${contrato?.periodoCobranca} == trimestral" th:selected="selected" value="trimestral">Trimestral</option>
                            				<option th:if="${contrato?.periodoCobranca} != trimestral"  value="trimestral">Trimestral</option>
                            				<option th:if="${contrato?.periodoCobranca} == Anual" th:selected="selected" value="Anual">Anual</option>
                            				<option th:if="${contrato?.periodoCobranca} != Anual"  value="Anual">Anual</option>
                         			 
                         			 <label for="selectPeriodoCobranca"> Período cobrança</label>
                         			
                            			 
                                    </select>
                                   
                          		
                          </div> 
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">local_atm</i>Reajuste e Reembolso
                </div>
                <div class="collapsible-body grey lighten-3">
                    <div class="container">
                        <div class="row">
                            <div>
                                <input name="reembolsoDespesas" type="checkbox"
                                    th:checked="(${contrato.reembolsoDespesas})" class="filled-in"
                                    id="reembolsoDespesas" /> <label for="reembolsoDespesas">Reembolso
                                    Despesas</label>
                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <br />
                            <div>
                                <input name="reajuste" type="checkbox" th:checked="(${contrato.reajuste})"
                                    class="filled-in" id="reajuste" /> <label for="reajuste">Reajuste?</label>
                            </div>
                            <div class="col m3">
                                <input type="text" id="dataReajuste" th:value="${contrato.dataReajuste}"
                                    name="dataReajuste" class="datepicker" /> <label for="dataReajuste">Data</label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">enhanced_encryption</i>Garantias
                </div>
                <div class="collapsible-body grey lighten-4">
                    <div class="container">
                        <div class="row">
                            <div class="col m12">
                                <div class="input-field">
                                    <select class="select" id="selectGarantias" multiple="multiple" name="garantias"
                                        th:required="required">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione
                                        </option>
                                        <option th:each="garantia : ${contrato.garantias}" th:value="${garantia.id}"
                                            th:text="${garantia.descricao}" th:selected="selected"></option>
                                        <option th:each="garantias : ${garantiasNo}" th:value="${garantias.id}"
                                            th:text="${garantias.descricao}">
                                        </option>
                                    </select> <label>Garantias</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">priority_high</i>Observações
                </div>
                <div class="collapsible-body grey lighten-3">
                    <div class="row">
                        <div class="input-field col m8">
                            <input id="obsContrato" name="obsContrato" th:value="${contrato.obsContrato}" type="text" />
                            <label for="obsContrato">Observações</label>
                        </div>
                    </div>

                </div>

            </li>
        </ul>

        <div class="row">
            <div class="col m4">
                <button class="waves-effect green btn tooltip" id="btn-update-contrato">
                    <i class="material-icons left">edit</i>Gravar alterações
                </button>
            </div>
            
            <form th:action="@{/faturamentos/apagaFaturamentosPorContrato/} + ${contrato.id}" method="POST">
            <div th:id="modalDeleteFaturamentos" class="modal bottom-sheet">
            	<div class="modal-content">
                	<h4>Deseja mesmo alterar este Contrato? 
                	<i class="material-icons right modal-close mouse-hand">close</i>
                	</h4>
                	<p th:text="'Você estará removendo todos os Faturamentos Gerados. Este processo é irreversível.'"></p>
                </div>
                <div class="modal-footer">
                	<button id="btnAlterar" type="submit"
                    	class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Alterar</button>
                </div>
            </div>
            </form>

            <div class="col m8 right-align">
                <a th:href="@{/contratos/all}" href="javascript:history.back()" class="waves-effect tooltip"><i
                        class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>
    </div>

    <div id="modalHonorario" class="modal">
        <div class="modal-content">
            <h4>Honorários do contrato:</h4>
            <hr />

            <th:block th:each='h : ${contrato.honorarios}'>
                <input class='honorariosContrato' type="text" th:value="${h.nome}" th:hidden='hidden' />
            </th:block>

            <div class="container">
                <div>
                    <input type="checkbox" id="hon_valor_fixo" /> <label for="hon_valor_fixo">Valor Fixo</label>
                </div>
                <div>
                    <input type="checkbox" id="hon_percent_fixo" /> <label for="hon_percent_fixo">Percentual
                        Fixo</label>
                </div>
                <div>
                    <input type="checkbox" id="hon_percent_escalonado" /> <label for="hon_percent_escalonado">Percentual
                        Escalonado</label>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <a th:if="${possuiFat == false}" class="waves-effect waves-light btn-flat modal-trigger"
                href="#confirmHonorario">Salvar</a> <a th:if="${possuiFat == true}" id='honorarioBlocked'
                class="waves-effect waves-light btn-flat modal-trigger">Salvar</a>
        </div>
    </div>

    <div id="modalVigencia" class="modal">
        <div class="modal-content">
            <h4>Vigência do contrato:</h4>
            <hr />

            <th:block>
                <input type="text" id="vigContrato" th:value="${contrato.vigencia.nome}" th:hidden='hidden' />
            </th:block>

            <div class="container">
                <div>
                    <input type="radio" value="det" name="checkVigencia" id="vig_determinada" /> <label
                        for="vig_determinada">Vigência
                        Determinada</label>
                </div>
                <div>
                    <input type="radio" value="indet" name="checkVigencia" id="vig_indeterminada" /> <label
                        for="vig_indeterminada">Vigência
                        Indeterminada</label>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <a id='atualizaVigencia' class="waves-effect waves-light btn-flat modal-trigger">Salvar</a>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="confirmHonorario" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>
                <b>Atenção!</b>
            </h4>
            <p style="font-size: 15px;">Ao alterar a configuração dos
                honorários, as informações dos honorários atuais que não estão
                inclusos nessa nova configuração serão perdidos permanentemente.
                Deseja continuar?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Não</a>
            <a id="salvaHonorario" class="modal-close waves-effect waves-green btn-flat">Sim</a>
        </div>
    </div>

    <div id="modalEscalonado" class="modal">
        <div class="modal-content">
            <h4 id="modalHeader"></h4>
            <div id="modalBody">
                <div class="row">
                    <a id="addFaixaEscalonadoModal" class="mouse-hand tooltipped" data-position="left"
                        data-tooltip="Adicionar Faixa"><i class="material-icons left">add</i></a> <a
                        id="removeFaixaEscalonadoModal" class="mouse-hand tooltipped" data-position="right"
                        data-tooltip="Remover Faixa"><i style='color: red' class="material-icons left">remove</i></a>
                </div>

                <div class="container" id="corpoFaixas"></div>

                <div class="container" id="corpoPE">

                    <input type='text' class="PE" id='idPE' th:hidden='hidden' />

                    <div class='row PE' id='PE'>
                        <div class='input-field col s4'>
                            <label for='acima' class="active">Acima de</label> <input type='text' class="money PE"
                                id='acima' />
                        </div>
                        <div class='input-field col s2'>
                            <label for='percentAcima' class="active">%</label> <input type='number' class='PE'
                                id='percentAcima' />
                        </div>
                    </div>

                    <div class="row limit">
                        <div class='input-field col s4'>
                            <label for='limitação' class="active">Limitação</label> <input type='text' class='money PE'
                                id='limitação' />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-red btn-flat">Fechar</a> <a id="salvaPEModal"
                class="waves-effect waves-green btn-flat">Salvar</a>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/libs/datePickerInit.js"></script>
    <script src="../js/libs/CNPJ.js"></script>
    <script src="../js/contrato/update.js"></script>
    <script src="../js/contrato/produtos/exTarifario.js"></script>

</body>

</html>