<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>+ Cliente</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/cliente/form-cliente.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Cliente</h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">

        <form th:action="@{/clientesCO/add}" method="POST">

            <div class="row">

                <h5>Geral</h5>
                <div class="divider"></div>

                <div class="input-field col m4">
                    <input id="nit" type="text" class="tooltip" th:required="required" name="nit" />
                    <label for="rut">NIT</label>
                </div>

                <div class="input-field col m8">
                    <input id="razaosocial" type="text" th:required="required" name="razaoSocial" />
                    <label for="razaosocial">Razón Social</label>
                </div>

            </div>

            <div class="row">

                <div class="input-field col m4">
                    <input placeholder="https://exemplo.com" id="site" type="text" name="site" />
                    <label for="site">Site</label>
                </div>

                <div class="input-field col m4">
                    <input id="grupoEconomico" type="text" name="grupoEconomico" />
                    <label for="grupoEconomico">Grupo Economico</label>
                </div>

                <div class="input-field col m2">
                    <select name="categoria" id="select-categoria" class="select">
             	        <option th:disabled="disabled" 
                     			th:selected="selected" >Selecione</option>
	                    <option th:each="ca : ${categoria}"
	                      	th:value="${ca.name()}"
	                      	th:text="${ca.displayName()}">
	                    </option>
	             	</select>
                    <label>Categoria</label>
                </div>
                
                 <i class="material-icons small tooltipped"  data-position="bottom">priority_high</i>

            </div>

            <div class="row">
                <div class="input-field col m4">
                    <select name="setorAtividade" id="select-setorAtividade" class="select">
             	        <option value="" th:disabled="disabled" 
                     			th:selected="selected" >Selecione</option>
	                    <option th:each="sa : ${setorAtividade}"
	                      	th:value="${sa.name()}"
	                      	th:text="${sa.displayName()}">
	                    </option>
	             	</select>
                    <label>Sector</label>
                </div>

                <div class="row">
                </div>

                <div class="row">

                    <h5>Endereço</h5>
                    <div class="divider"></div>

                    <div class="input-field col m2">
                        <input id="cep" type="text" th:maxlength="8" name="cep" th:required="required" />
                        <label for="cep">Código Postal</label>
                    </div>

                    <div class="input-field col m4">
                        <input id="rua" type="text" name="logradouro" th:required="required" />
                        <label for="rua">Endereço</label>
                    </div>
                    
                    <div class="input-field col m1">
                        <input id="numero" type="text" name="numero" th:required="required" />
                        <label for="numero">N°</label>
                    </div>
                    
                    <div class="input-field col m3">
                        <input id="complemento" type="text" name="complemento"/>
                        <label for="complemento">Complemento</label>
                    </div>
                </div>

                <div class="row">

                    <div class="input-field col m2">
                        <select th:required="required" name="tipoEnder" id="tipoEnder" class="select">
             	        <option th:disabled="disabled" 
                     			th:selected="selected" >Selecione</option>
	                    <option th:each="ca : ${tipo}"
	                      	th:value="${ca.displayName()}"
	                      	th:text="${ca.displayName()}">
	                    </option>
	             	</select>
                    <label>Tipo</label>
                    </div>

                    <div class="input-field col m2">
                        <input id="bairro" type="text" name="bairro" />
                        <label for="bairro">Bairro</label>
                    </div>

                    <div class="input-field col m2">
                        <input id="cidade" type="text" name="cidade" th:required="required" />
                        <label for="cidade">Ciudad</label>
                    </div>

                    <div class="input-field col m1">
                        <input id="estado" type="text" name="estado" th:required="required" />
                        <label for="estado">Estado</label>
                    </div>
 
                    <p class="col m4">
                        <input id="enderecoNotaFiscalBoleto" type="checkbox" name="enderecoNotaFiscalBoleto" />
                        <label for="enderecoNotaFiscalBoleto">Endereço nota fiscal / Boleto</label>
                    </p>
                    
                    <div class="row">
                    </div>
                    
                </div>

            <section>
            
             <h5>Contato</h5>
             <div class="divider"></div>
            
            <div>
                <div class="row">
                    <div class="input-field col m3">
                        <input id="contato-nome" type="text" th:required="required" name="nome" />
                        <label for="contato-nome">Nome do contato</label>
                    </div>

                    <div class="input-field col m3">
                        <input id="contato-cargo" type="text" th:required="required" name="cargo" />
                        <label for="contato-cargo">Cargo</label>
                    </div>
                    
                    </div>
                    
                    <div class="row">
                    
                    <div class="input-field col m3">
                        <input id="contato-email" type="text" th:required="required" name="email" />
                        <label for="contato-email">@ E-mail</label>
                    </div>
                    
                    <div class="input-field col m2">
                        <input id="telefone1" type="text" name="telefone1" />
                        <label for="telefone">(DD) Telefone</label>
                    </div>
                    
                    <div class="input-field col m2">
                        <input id="telefone2" type="text" name="telefone2" />
                        <label for="telefone">(DD) Celular</label>
                    </div>
                    
                </div>

                <div class="row">
                    <ul>
                        <li>
                            <input id="checkPessoaNfBoleto" name="nfBoleto" type="checkbox" />
                            <label for="checkPessoaNfBoleto">Irá receber NF / Boleto</label>
                        </li>
                        <li>
                            <input id="checkReferenciaNovosContatos" name="novosContatos" type="checkbox" />
                            <label for="checkReferenciaNovosContatos">Referência para novos contatos</label>
                        </li>
                        <li>
                            <input id="checkPesquisaSatisfacao" name="fidelizado" type="checkbox" />
                            <label for="checkPesquisaSatisfacao">Participou da pesquisa de satisfação</label>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


                <div class="row"> 
                	<div class="col m3">
                        <button type="submit" id="btn-cad-cliente" class="waves-effect green btn"><i class="material-icons left">add</i>Adicionar</button>
                    </div>
                    <div class="col m10 right-align">
                        <a th:href="@{/clientesCO/all}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                    </div>
                </div>
                </div>
        </form>

        </div>

        <div th:include="fragments/footer :: footer"></div>
        <script src="../js/libs/jquery.mask.min.js"></script>
        <script src="../js/cliente/colombia/form.js"></script>

</body>

</html>
