<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Relatório eFIciência</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/rel/list.css}" />
</head>

<style>

    table td {
        word-break: break-word;
        font-size: 10px !important;
    }
    

</style>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
               <h4>Relatório Apontamento de Horas Sintético</h4>
                <hr />
            </div>
        </div>

    </div>

        <div class="row">
            <a id="excelBtn" onClick="htmlTableToExcel('tabela-clientes','relatorioEficiencia');" data-position="left" data-tooltip="Baixar o estado atual da tabela para Excel" class="tooltipped waves-effect btn right"><i class="material-icons left">file_download</i>Exportar Excel</a>
        </div>

        <ul class="collapsible popout" data-collapsible="expandable">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">search</i>Filtros
                </div>
                <div class="collapsible-body grey lighten-3">
                    <div class="row">
                        <section id="filters">

                            <form th:action="@{/relatorios/eficiencia}" method="POST">
                        <section id="filters">
                            <div class="row">

                                <div class="input-field col m1">
                                    <select class="select" id="ano" name="ano">
                                        <option value="">Selecione</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                    	<option value="2022" th:selected="selected">2022</option>
                                    	<option value="2023">2023</option>
                                    </select>
                                    <label>Ano</label>
                                </div>
                                
                                <div class="input-field col m1">
                                    <select name="situacao" id="situacao" class="select">
                                        <option value="" th:selected="selected">Selecione</option>
                                       <option th:each="si : ${situacao}" th:value="${si.name()}" th:text="${si.displayName()}"></option>
                                    </select> <label for="situação">Situação</label>
                                </div>
                                
                                <div class="input-field col m3 left" >
                    				<input type="text" name="razaoSocial" placeholder='Pesquisar' id="razaoSocial" />
                    					<label for="razaoSocial">Razão Social</label>
                				</div>
                                
                                <div class="input-field col m3">
                                    <select name="consultor" id="consultor" class="select">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${consultores}" th:value="${c.id}" th:text="${c.sigla} +', '+${c.nome} "></option>
                                    </select>
                                    <label for="select-feitoPor">Consultor</label>
                                </div>

                                <div class="input-field col m2">
                                    <select name="filial" id="equipe" class="select">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${filial}" th:value="${c.id}" th:text="${c.nome}"></option>
                                    </select> <label for="select-feitoPor">Filial</label>
                                </div>

                                <div class="input-field col m1">
                                    <select name="equipe" id="equipe" class="select">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${equipes}" th:value="${c.id}" th:text="${c.nome}"></option>
                                    </select> <label for="select-feitoPor">Equipe</label>
                                </div>
                               
                            </div>
                            <div class="row">

                            </div>

                            <div class="row">
                                <div class="col m3">
                                    <button type="submit" id="btn" class="waves-effect blue btn modal-trigger">
                                        <i class="material-icons left">search</i>Buscar
                                    </button>
                                </div>
                            </div>

                        </section>
                    </form>

                        </section>

                    </div>
                </div>
            </li>
        </ul>

        <table id="tabela-clientes" class="responsive-table tabela-cliente bordered highlight">
            <thead id="corpo">
                <tr>
                    <th>Cliente</th>
                    <th>Categoria</th>
                    <th>CNPJ</th>
                    <th>Situação</th>
                    <th>Grupo</th>
                    <th>Tipo Negócio</th>
                    <th>Est. Comercial</th>
                    <th>Valor Negócio</th>
                    <th>Modo</th>
                    <th>Produto</th>
                    <th>Ano</th>
                    <th>Equipe</th>
                    <th>Consultor</th>
                    <th>Cargo</th>
                    <th>Categoria</th>
                    <th>Etapa de Trabalho</th>
                    <th>Tarefa</th>
                    <th>Data</th>
                    <th>Atividade</th>
                    <th>Sigla</th>
                    <th>Horas</th>
                </tr>
            </thead>
            <tbody th:each="e : ${eficiencias}">
                <tr>
                    <td><a th:href="@{/producoes/update/} + ${e.producao.id}" th:text="${e.producao.cliente.razaoSocial}"></a></td>
                    <td th:if="${e.producao?.cliente?.categoria == 'Aplus'}" th:text="'A+'"></td>
                    <td th:if="${e.producao?.cliente?.categoria != 'Aplus'}" th:text="${e?.producao?.cliente?.categoria == null} ? ${e?.producao?.cliente?.categoria} : ' ' "></td>
                    <td th:text="${e.producao.cliente.cnpj}"></td>
                    <td th:text="${e.producao.situacao}"></td>
                    <td th:text="${e.producao.cliente.grupoEconomico}"></td>
                    <td th:text="${e.producao.tipoDeNegocio}"></td>
                    <td class="moneyClass"  style="width: 5%;" th:text="${e?.vn?.estComercial}"></td>
                    <td  class="moneyClass" style="width: 5%;" th:text="${e?.vn?.valorBase}"></td>
                    <td style="width: 5%;" th:text="${e?.vn?.modoValor}"></td>
                    <td th:text="${e.producao.produto.nome}"></td>
                    <td style="width: 4%" th:text="${e.producao.ano}"></td>
                    <td th:text="${e.producao.equipe.nome}"></td>
                    <td th:text="${e.producao.consultor.sigla}"></td>
                    <td th:text="${e.producao.consultor.cargo}"></td>
                    <td th:text="${e.producao.consultor.categoriaConsultor}"></td>
                    <td><a th:href="@{/producoes/eficiencia/} + ${e.producao.id}" th:text="${e.etapa.nome}"></a></td>
                    <td th:text="${e?.tarefa?.nome}"></td>
                    <td class="data" th:text="${e.dataApontamento}"></td>
                    <td th:text="${e.atividade}"></td>
                    <td th:text="${e.consultor.sigla}"></td>
                    <td th:text="${e.horas}"></td>
                    
                </tr>
            </tbody>
        </table>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/relatorioEficiencia.js}"></script>
    <script src="../js/libs/exportExcel.js"></script>

</body>

</html>
