<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Relatório Financiamento</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/rel/list.css}" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Relatório Financiamento</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container" style="width: auto; max-width: 90%">

        <ul class="collapsible popout" data-collapsible="expandable">
            <li class="active">
                <div class="collapsible-header">
                    <i class="material-icons">search</i>Filtros
                </div>
                <div class="collapsible-body grey lighten-3">
                    <form th:action="@{/relatorios/financiamento}" method="POST">
                        <section id="filters">
                            <div class="row">

                                <div class="input-field col m1">
                                    <select class="select" id="ano" name="ano">
                                        <option value="">Selecione</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021" th:selected="selected">2021</option>
                                        <option value="2022">2022</option>
                                    </select>
                                    <label>Ano</label>
                                </div>
                                
                                <div class="input-field col m3">
                                <select name="setorAtividade" id="select-setorAtividade" class="select">
                                    <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                    <option th:each="sa : ${setorAtividade}" th:value="${sa.name()}" th:text="${sa.displayName()}">
                                    </option>
                                </select>
                                <label>Setor de Atividade</label>
                            </div>
                            
                            <input type="text" id="setorAtividade" th:value="${setorAtividadeTexto?.toString()}" th:hidden="hidden" />

                            <div class="input-field col m3">
                                <select name="consultor" id="select-feitoPor" class="select" th:required="required">
                                    <option value="" th:disabled="disabled" th:value="'NULL'" th:selected="selected">Selecione</option>
                                    <option th:each="c : ${consultores}" th:value="${c.id}" th:text="${c.sigla} + ', ' + ${c.nome}"></option>
                                </select> <label for="select-feitoPor">Consultor</label>
                            </div>
                            
                            <input type="text" id="idConsultor" th:value="${consultorTexto?.toString()}" th:hidden="hidden" />

                            <div class="input-field col m2">
                                <select name="equipe" id="select-equipe" class="select" th:required="required">
                                    <option value="" th:disabled="disabled" th:value="'NULL'" th:selected="selected">Selecione</option>
                                    <option th:each="e : ${equipe}" th:value="${e.id}" th:text="${e.nome}"></option>
                                </select> <label for="select-feitoPor">Equipe</label>
                             </div>
                             
                             <input type="text" id="idEquipe" th:value="${equipeTexto?.toString()}" th:hidden="hidden" />
                            
                            </div>

                            <div class="row">
                                <div class="col m3">
                                    <button type="submit" id="btn" class="waves-effect blue btn modal-trigger">
                                        <i class="material-icons left">search</i>Buscar
                                    </button>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </li>
        </ul>
        <div class="row" >
	        <table id="tabela-clientes" class="responsive-table striped">
	            <thead id="corpo">
                <tr>
                    <th>Razão Social</th>
                    <th>Órgão Fomento</th>
                    <th>Linha</th>
                    <th>Valor Financiado</th>
                    <th>Valor Contrapartida</th>
                    <th>Valor Total Aprovado</th>
                    <th>Linha Aprovação</th>
                    <th>Tipo de Garantia</th>
                    <th>Equipe</th>
                    <th>Seguimento</th>
                    <th>Localização Geográfica</th>
                </tr>
            </thead>
	            <tbody>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            	<td></td>
	            </tbody>
	        </table>
	    </div>

    </div>
         <div th:include="fragments/footer :: footer"></div>
          <script th:src="@{/js/relatorio/preFinanciamento.js}"></script>

</body>

</html>