<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
	    <meta charset="UTF-8" />
	    <title>Relatórios Analitícos</title>
	    <link th:include="fragments/header :: header-css" />
	    <link rel="stylesheet" type="text/css" th:href="@{/css/rel/list.css}" />
	</head>
	
	<body>
	
	    <div th:include="fragments/header :: menu-lateral"></div>
	
	    <div class="row">
	
	        <div th:include="fragments/btnMenuLogout :: btns-default"></div>
	
	        <div class="col m10">
	            <div class="center">
	                <!-- Título da página -->
	                <h4>Consulta Analítica de Relatórios</h4>
	                <hr />
	            </div>
	        </div>
	    </div>
	    
	    <div class="container" style="width: auto; max-width: 90%">
	    
		    <div class="row">
		    	<a id="excelBtn" onClick="javascript:fnExcelReport();" data-position="left" data-tooltip="Baixar o estado atual da tabela para Excel" class="tooltipped waves-effect btn right"><i class="material-icons left">file_download</i>Exportar Excel</a>
			</div>
	
	        <ul class="collapsible popout" data-collapsible="expandable">
	            <li>
	                <div class="collapsible-header">
	                    <i class="material-icons">search</i>Parâmetros de pesquisa
	                </div>
	                <div class="collapsible-body grey lighten-3">
	                  	<form th:action="@{/relatorios/relatoriosAnaliticos}" method="POST">
		                    <section id="filters">
		                        <div class="row">
		                            <div class="input-field col m1">
		                                <select class="select" id="ano" name="ano">
		                                    <option value="2018">2018</option>
		                                    <option value="2019">2019</option>
		                                    <option value="2020">2020</option>
		                                    <option value="2021">2021</option>
		                                    <option value="2022" th:selected="selected">2022</option>
		                                    <option value="2023">2023</option>
		                                </select>
		                                <label>Ano</label>
		                            </div>
		
		                            <div class="input-field col m3">
		                                <select name="setor" id="setor" class="select">
		                                    <option value="" th:disabled="disabled" th:value="'NULL'" th:selected="selected">Selecione</option>
		                                    <option th:each="sa : ${setorAtividade}" th:value="${sa.name()}" th:text="${sa.displayName()}"></option>
		                                </select> <label for="select-feitoPor">Setor de Atividade</label>
		                            </div>
		
		                            <div class="input-field col m3">
		                                <select name="especialidade" id="especialidade" class="select" >
		                                    <option value="" th:disabled="disabled" th:value="'NULL'" th:selected="selected">Selecione</option>
		                                    <option th:each="e : ${especialidade}" th:value="${e.name()}" th:text="${e.displayName()}"></option>
		                                </select> <label for="select-feitoPor">Especialidade</label>
		                            </div>
		                        </div>
		
		                        <div class="row">
		                            <div class="input-field col m1">
		                                <select name="equipe" id="equipe" class="select">
		                                    <option value="" th:selected="selected">Selecione</option>
		                                    <option th:each="c : ${equipes}" th:value="${c.id}" th:text="${c.nome}"></option>
		                                </select> <label for="select-feitoPor">Equipe</label>
		                            </div>
		
		                            <div class="input-field col m3">
		                                <select name="consultor" id="consultor" class="select">
		                                    <option value="" th:selected="selected">Selecione</option>
		                                    <option th:each="c : ${consultores}" th:value="${c?.id}" th:text="${c?.sigla} +', '+${c?.nome} "></option>
		                                </select>
		                                <label for="select-feitoPor">Consultor</label>
		                            </div>
		
		                            <div class="input-field col m3">
		                                <select name="feitoPor" id="feitoPor" class="select">
		                                    <option value="" th:selected="selected">Selecione</option>
		                                    <option th:each="c : ${consultores}" th:value="${c?.id}" th:text="${c?.sigla} +', '+${c?.nome} "></option>
		                                </select>
		                                <label for="select-feitoPor">Feito Por</label>
		                            </div>
		
		                            <div class="input-field col m3">
		                                <select name="corrigidoPor" id="corrigidoPor" class="select">
		                                    <option value="" th:selected="selected">Selecione</option>
		                                    <option th:each="c : ${consultores}" th:value="${c?.id}" th:text="${c?.sigla} +', '+${c?.nome} "></option>
		                                </select>
		                                <label for="select-feitoPor">Corrigido Por</label>
		                            </div>
		
		                            <div class="input-field col m2">
		                                <select name="estado" id="estado" class="select" th:required="required">
		                                    <option value="" th:disabled="disabled" th:value="'NULL'" th:selected="selected">Selecione</option>
		                                    <option th:each="c : ${estados}" th:value="${c.name()}" th:text="${c.displayName()}"></option>
		                                </select> <label for="select-feitoPor">Estado</label>
		                            </div>
		
		                        </div>
		                        <div>
		                        	<div class="col m3">
			                            <button type="submit" id="btn" class="tooltipped waves-effect blue btn modal-trigger" data-position="right" data-tooltip="Buscar informações dos campos selecionados">
			                                <i class="material-icons left">search</i>Buscar
			                            </button>
		                            </div>
		                        </div>
		                        
		                    </section>
	                     </form>
	                </div>
	            </li>
	        </ul>
	    </div>
	    <div class="row" >
	        <table id="tabela-analiticos" class="responsive-table striped">
	            <thead>
	                <tr>
	                    <th>Razão Social</th>
	                    <th>Ano</th>
	                    <th>Setor Atividade</th>
	                    <th>Espec.</th>
	                    <th>Equipe</th>
	                    <th>Consultor</th>
	                    <th>N°</th>
	                    <th>Nome do Relatório</th>
	                    <th>Feito</th>
	                    <th>%</th>
	                    <th>Corrigido</th>
	                    <th>Estado</th>
	                </tr>
	            </thead>
	            <tbody>
	            </tbody>
	        </table>
	    </div>
	
	    <div th:include="fragments/footer :: footer"></div>
	    <script th:src="@{/js/producao/relatoriosAnaliticos.js}"></script>
	    
	
	</body>

</html>
