<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Relatórios</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/rel/list.css}" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Consulta de Seguimentos</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container" style="width: auto; max-width: 90%">

        <div class="row">

            <a id="excelBtn" onClick="htmlTableToExcel('tabela','Seguimento');" data-position="left" data-tooltip="Baixar o estado atual da tabela para Excel" class="tooltipped waves-effect btn right"><i class="material-icons left">file_download</i>Exportar Excel</a>

        </div>

        <ul class="collapsible popout" data-collapsible="expandable">
            <li class="active">
                <div class="collapsible-header">
                    <i class="material-icons">search</i>Parâmetros de pesquisa
                </div>
                <div class="collapsible-body grey lighten-3">
                    <form th:action="@{/relatorios/seguimento}" method="POST">
                        <section id="filters">
                            <div class="row">

                                <div class="input-field col s3">
                                    <input type="text" name='razaoSocial' />
                                    <label>Razão Social</label>
                                </div>

                                <div class="input-field col m1">
                                    <select class="select" id="ano" name="ano">
                                        <option value="">Selecione</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021" >2021</option>
                                        <option value="2022" th:selected="selected">2022</option>
                                        <option value="2023" >2023</option>
                                    </select>
                                    <label>Ano</label>
                                </div>

                                <div class="input-field col m2">
                                    <select name="filial" id="equipe" class="select">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${filial}" th:value="${c.id}" th:text="${c.nome}"></option>
                                    </select> <label for="select-feitoPor">Filial</label>
                                </div>

                                <div class="input-field col m1">
                                    <select name="equipe" id="equipe" class="select">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${equipes}" th:value="${c.id}" th:text="${c.nome}"></option>
                                    </select> <label for="select-feitoPor">Equipe</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="consultor" id="consultor" class="select">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${consultores}" th:value="${c.id}" th:text="${c.sigla} +', '+${c.nome} "></option>
                                    </select>
                                    <label for="select-feitoPor">Consultor</label>
                                </div>

                            </div>
                            <div class="row">

                                <div class="input-field col m2">
                                    <select name="situacao" id="select-situacao" class="select">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option th:each="si : ${situacao}" th:value="${si.name()}" th:text="${si.displayName()}">
                                        </option>
                                    </select>
                                    <label>Situação</label>
                                </div>
                                
                                <div class="input-field col m2">
                                    <select name="setor" id="select-setorAtividade" class="select">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option th:each="sa : ${setorAtividade}" th:value="${sa.name()}" th:text="${sa.displayName()}">
                                        </option>
                                    </select>
                                    <label>Setor de Atividade</label>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col m3">
                                    <button type="submit" id="btn" class="waves-effect blue btn modal-trigger">
                                        <i class="material-icons left">search</i>Buscar
                                    </button>
                                </div>
                            </div>

                        </section>
                    </form>
                </div>
            </li>
        </ul>

    </div>

    <div class="row">
        <table id="tabela" class="responsive-table striped">
            <thead>
                <tr>
                    <th>CNPJ</th>
                    <th>Razão Social</th>
                    <th>Setor Atividade</th>
                    <th>Grupo Eco.</th>
                    <th>Ano</th>
                    <th>Equipe</th>
                    <th>Consultor</th>
                    <th>Situação</th>
                    <th>Motivo</th>
                    <th>L. Real</th>
                    <th>L. Fiscal</th>
                    <th>Data Entrega Benef.</th>
                    <th>Prev. Cálculo</th>
                    <th>Prev. Despe</th>
                    <th>Prev. Exclusão</th>
                    <th>Tipo Negócio</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

        <div th:include="fragments/footer :: footer"></div>
        <script th:src="@{/js/producao/relatoriosSeguimento.js}"></script>

</body>

</html>