<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Relatório Financiamento</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Relatório Financiamento</h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
            <div class="row">

                <ul class="collapsible popout" data-collapsible="expandable">
            <li class="active">
                <div class="collapsible-header">
                    <i class="material-icons">search</i>Filtros
                </div>
                <div class="collapsible-body grey lighten-3">
                        <section id="filters">
                            <div class="row">

                                <div class="input-field col m1">
                                    <select class="select" id="campanha" name="campanha">
                                        <option value="">Selecione</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                    	<option value="2022" th:selected="selected">2022</option>
                                    	<option value="2023">2023</option>
                                    </select>
                                    <label>Campanha</label>
                                </div>
                                
                                <div class="input-field col m3">
                		            <input type="text" name="razaoSocial" placeholder="Pesquisar Cliente" id="txt-pesq-cliente" />
        		                    <label for="txt-pesq-cliente ">Razão Social</label>
		                        </div>
                                
                                <div class="input-field col m3">
                                <select name="setorAtividade" id="select-setorAtividade" class="select">
                                    <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                    <option th:each="sa : ${setorAtividade}" th:value="${sa.name()}" th:text="${sa.displayName()}">
                                    </option>
                                </select>
                                <label>Setor de Atividade</label>
                            </div>
                            
                            <input type="text" id="setorAtividade" th:value="${setorAtividadeTexto?.toString()}" th:hidden="hidden" />

                            <div class="input-field col m2">
                                <select name="equipes" id="select-equipe" class="select" th:required="required">
                                    <option value="" th:disabled="disabled" th:value="'NULL'" th:selected="selected">Selecione</option>
                                    <option th:each="e : ${equipes}" th:value="${e.id}" th:text="${e.nome}"></option>
                                </select> <label for="select-feitoPor">Equipe</label>
                             </div>
                             
                             <input type="text" id="idEquipe" th:value="${equipeTexto?.toString()}" th:hidden="hidden" />
                            
                            </div>

                            <div class="row">
                                <div class="col m3">
                                    <button id="btn" class="waves-effect blue btn modal-trigger buscar">
                                        <i class="material-icons left">search</i>Buscar
                                    </button>
                                </div>
                            </div>
                        </section>
                </div>
            </li>
        </ul>
            </div>
            <div class="row" >
	        <table id="tabela-clientes" class="responsive-table striped">
	            <thead>
                <tr>
                    <th>Razão Social</th>
                    <th>Órgão Fomento</th>
                    <th>Linha</th>
                    <th>Valor Financiado</th>
                    <th>Valor Contrapartida</th>
                    <th>Valor Total Aprovado</th>
                    <th>Linha Aprovação</th>
                    <th>Tipo de Garantia</th>
                    <th>Equipe</th>
                    <th>Seguimento</th>
                    <th>Localização Geográfica</th>
                </tr>
            </thead>
	            <tbody id="corpo"></tbody>
	        </table>
	    </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/libs/CNPJ.js}"></script>
    <script th:src="@{/js/relatorio/preFinanciamento.js}"></script>
    <script th:src="@{/js/contrato/buscaCNPJ.js}"></script>
</body>

</html>
