<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Relatório Sintético</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/rel/list.css}" />
</head>

<style>
    table td {
        word-break: break-word;
        font-size: 11px !important;
    }
    .loader{
    display:block;
    position: fixed;
	top: 70%;
	left: 48%;
    }

</style>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Relatório Sintético</h4>
                <hr />
            </div>
        </div>

    </div>

    <div class="container" style="width: 100%;">

        <div class="row">
            <a id="excelBtn" onClick="htmlTableToExcel('tabela-clientes','relatorioSintetico');" data-position="left" data-tooltip="Baixar o estado atual da tabela para Excel" class="tooltipped waves-effect btn right"><i class="material-icons left">file_download</i>Exportar Excel</a>
        </div>

        <ul class="collapsible popout" data-collapsible="expandable">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">search</i>Filtros
                </div>
                <div class="collapsible-body grey lighten-3">
                    <div class="row">
                    <form th:action="@{/relatorios/sintetico}" method="POST">
                        <section id="filters">
                            <div class="input-field col m2">
                                <select class="select" id="ano" name="ano">
                                    <option value="" >Selecione</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022" th:selected="selected">2022</option>
                                    <option value="2023">2023</option>
                                </select>
                                <label>Ano</label>
                            </div>
                            
                            <input type="text" id="ano" th:value="${anoTexto}" th:hidden="hidden"/>
                         
                            <div class="input-field col m3">
                                <select name="setorAtividade" id="select-setorAtividade" class="select">
                                    <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                    <option th:each="sa : ${setorAtividade}" th:value="${sa.name()}" th:text="${sa.displayName()}">
                                    </option>
                                </select>
                                <label>Setor de Atividade</label>
                            </div>
                            
                      <!--         <input type="text" id="setorAtividade" th:value="${setorAtividade.name()}" th:hidden='hidden' /> -->

                            <div class="input-field col m3">
                                <select name="consultor" id="select-feitoPor" class="select" th:required="required">
                                    <option value="" th:disabled="disabled" th:value="'NULL'" th:selected="selected">Selecione</option>
                                    <option th:each="c : ${consultores}" th:value="${c.id}" th:text="${c.sigla} + ', ' + ${c.nome}"></option>
                                </select> <label for="select-feitoPor">Consultor</label>
                            </div>
                            
                            <input type="text" id="idConsultor" th:value="${consultorTexto}" th:hidden="hidden"/>
                           
                            <div class="input-field col m2">
                                <select name="equipe" id="select-equipe" class="select" th:required="required">
                                    <option value="" th:disabled="disabled" th:value="'NULL'" th:selected="selected">Selecione</option>
                                    <option th:each="e : ${equipe}" th:value="${e.id}" th:text="${e.nome}"></option>
                                </select> <label for="select-feitoPor">Equipe</label>
                            </div>
                            
                            <input type="text" id="idEquipe" th:value="${equipeTexto}" th:hidden="hidden"/>
                            
                            <div class="row">
                                <div class="col m3">
                                    <button type="submit" id="btn" class="waves-effect blue btn modal-trigger">
                                        <i class="material-icons left">search</i>Buscar
                                    </button>
                                </div>
                            </div>
                          </section>
                       </form>
                    </div>
                </div>
            </li>

            <li>
                <div class="collapsible-header">
                    <i class="material-icons">add_circle_outline</i>Totais
                </div>
                <div class="collapsible-body grey lighten-3">
                    <div class="row">

                        <div class="col s12 m2">
                            <div class="card-panel teal">
                                <span class="white-text"> Prev. de Relatórios: <b id="prevRel">0</b>
                                </span>
                            </div>
                        </div>

                        <div class="col s12 m2">
                            <div class="card-panel teal">
                                <span class="white-text"> Rel. Cadastrados: <b id="relCad">0</b>
                                </span>
                            </div>
                        </div>

                        <div class="col s12 m2">
                            <div class="card-panel teal">
                                <span class="white-text"> Doc. Completa: <b id="DocCompleta">0</b>
                                </span>
                            </div>
                        </div>

                        <div class="col s12 m2">
                            <div class="card-panel teal">
                                <span class="white-text"> Á Redigir: <b id="aRedigir">0</b>
                                </span>
                            </div>
                        </div>

                        <div class="col s12 m2">
                            <div class="card-panel teal">
                                <span class="white-text"> Á Redigir Doc.: <b id="aRedigirDoc">0</b>
                                </span>
                            </div>
                        </div>

                        <div class="col s12 m2">
                            <div class="card-panel teal">
                                <span class="white-text"> Redação: <b id="redacao">0</b>
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col s12 m2">
                            <div class="card-panel teal">
                                <span class="white-text"> Correção: <b id="correcao">0</b>
                                </span>
                            </div>
                        </div>

                        <div class="col s12 m2">
                            <div class="card-panel teal">
                                <span class="white-text"> Revisão: <b id="revisao">0</b>
                                </span>
                            </div>
                        </div>

                        <div class="col s12 m2">
                            <div class="card-panel teal">
                                <span class="white-text"> Completo: <b id="completo">0</b>
                                </span>
                            </div>
                        </div>

                        <div class="col s12 m2">
                            <div class="card-panel teal">
                                <span class="white-text"> Cliente: <b id="cliente">0</b>
                                </span>
                            </div>
                        </div>

                        <div class="col s12 m2">
                            <div class="card-panel teal">
                                <span class="white-text"> Aprovado: <b id="aprovado">0</b>
                                </span>
                            </div>
                        </div>


                    </div>

                </div>
            </li>

        </ul>

        <table id="tabela-clientes" style="text-align: center;" class="responsive-table tabela-cliente bordered highlight">
            <thead id="corpo">
                <tr>
                    <th>Cliente</th>
                    <th>Ano</th>
                    <th>Setor</th>
                    <th>Equipe</th>
                    <th>Consultor</th>
                    <th>Categoria</th>
                    <th>Prev. Rel</th>
                    <th>Rel. Cadastrados</th>
                    <th>Rel. Documentação</th>
                    <th>Á Redigir</th>
                    <th>Á Redigir Doc. Completa</th>
                    <th>Redação</th>
                    <th>Correção</th>
                    <th>Revisão</th>
                    <th>Completo</th>
                    <th>Cliente</th>
                    <th>Aprovado</th>

                </tr>
            </thead>
            <tbody>
                <tr  th:each="p : ${producoes}" th:id="${p.id}+'prod'">
                    <td><a th:href="@{/producoes/update/} + ${p.id}" th:text="${p.cliente.razaoSocial}"></a></td>
                    <td style="width: 50px;" th:text="${p.ano}"></td>
                    <td th:text="${p.contrato.cliente.setorAtividade}"></td>
                    <td th:text="${p.equipe.nome}"></td>
                    <td th:text="${p.consultor.sigla}"></td>
                    <td th:text="${p.contrato.cliente.categoria}"></td>
                    <td class="previsaoRelColumn" th:id="${p.id}+'prev'"></td>
                    <td class="cadastrodsColumn" th:id="${p.id}+'cadastrados'">0</td>
                    <td class="documentColumn" th:id="${p.id}+'document'">0</td>
                    <td class="aRedigirColumn" th:id="${p.id}+'aRedigir'">0</td>
                    <td class="docCompletaColumn" th:id="${p.id}+'docCompleta'">0</td>
                    <td class="redacaoColumn" th:id="${p.id}+'redacao'">0</td>
                    <td class="correcaoColumn" th:id="${p.id}+'correcao'">0</td>
                    <td class="revisaoColumn" th:id="${p.id}+'revisao'">0</td>
                    <td class="completoColumn" th:id="${p.id}+'completo'">0</td>
                    <td class="clienteColumn" th:id="${p.id}+'cliente'">0</td>
                    <td class="aprovadoColumn" th:id="${p.id}+'aprovado'">0</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="container"></div>

	<div id="loader" class="preloader-wrapper big active loader">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/relatoriosSintetico.js}"></script>
	<script src="../js/libs/exportExcel.js"></script>

</body>

</html>
