<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Relatórios Combo</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

	<div th:include="fragments/header :: menu-lateral"></div>
	
	<div class="row">
		<div th:include="fragments/btnMenuLogout :: btns-default"></div>
		
			<div class="col m10">
	           	<div class="center">
	                <!-- Título da página -->
	                <h4> Relatórios Combo</h4>
	                <hr />
	            </div>
	       	</div>
	</div>
	
	<div class="container" style="width: auto; max-width: 90%"> 
		
		<ul class="collapsible popout" data-collapsible="expandable">
        	 <li class="active">
           		<div class="collapsible-header">
               		<i class="material-icons">search</i>Filtros
            	</div>
            	<div class="collapsible-body grey lighten-3">



                	<form th:action="@{/relatorios/relatoriosCombo}">
                	
                	  <input name="queryTrigger" th:hidden="hidden" type="text" value="true" />
                	
						<div class="">	
                    		<div class="row">
                    			<div class="input-field col m4">
									<select name="idProduto" id="idProduto" class="select" >
										<option value="" th:selected="selected">Selecione o produto</option>
										<option th:each="p : ${produtos}"
											th:value="${p.id}"
											th:text="${p.nome}">
											
										</option>
									</select>
									<label>Selecione o produto</label>
								</div>
								
                     			<div class="input-field col m8">
                                	
                                		<div class="input-field col m4">
                            				<i class="material-icons prefix">search</i>
                            				<input name="empresa" type="text" id="txt-pesq-empresa" />
                           					 <label for="txt-pesq-cliente">Empresa</label>
                        				</div>
                                		
									
                                          

                                      <div class="break"></div>
                                   
                                </div>
                            
                   	 </div>
                   	  <div class="row">
                                
                                <div class="input-field col m4">
                                    <select name="ComercialResponsávelEntrada" id="ComercialResponsávelEntrada" class="select">
                                        <option value="" th:selected="selected" >Selecione o comercial responsável</option>
                                        <option th:each="comercial : ${comerciaisTodos}"
                                            th:value="${comercial.id}"
                                            th:text="${comercial.sigla} +', '+${comercial.nome}"
                                            th:selected="(${contrato?.comercialResponsavelEntrada?.nome == comercial.nome})">
                                        </option>
                                    </select>
                                    <label>Comercial Responsável pela Entrada</label>
                                </div>  
                                
                                <div class="input-field col m4">
                                    <select name="ComercialResponsávelAtual" id="ComercialResponsávelAtual" class="select" >
                                        <option value="" 
                                            th:selected="selected" >Selecione o comercial responsável</option>
                                        <option th:each="comercial : ${comerciaisAtivos}"
                                            th:value="${comercial.id}"
                                            th:text="${comercial.sigla} +', '+${comercial.nome}"
                                            th:selected="(${contrato?.comercialResponsavelEfetivo?.nome == comercial.nome})">
                                            </option>
                                    </select>
                                    <label>Comercial Responsável Atual</label>
                                </div>  
                                
                                
                                
                                
                                
                                
                   	 </div>
                   	 
                   	<div class="row">
					
                    	<div class="col m2 right">
                    		<button type="submit" id="btn" class="waves-effect blue btn modal-trigger">
                         		<i class="material-icons left">search</i>Buscar
                        	</button>
                    	</div>

                   	</div>
                   	
             </div>	
                </form>
				</div>
			</li>
		</ul>
		
		 <div class="row">
		    	<a id="excelBtn"  onClick="htmlTableToExcel('tabela-Combo','relatorioCombo');" data-position="left" data-tooltip="Baixar o estado atual da tabela para Excel" class="tooltipped waves-effect btn right"><i class="material-icons left">file_download</i>Exportar Excel</a>
			</div>
	</div>
	
	
	
	<div class="container" style="width: 100%;">
		 <div class="row">
           
                <table class="tabela-contratos responsive-table" id="tabela-Combo" style="margin-top: 50px">
                    <thead>
                        <tr>
                            <th class="ignore" id="id"></th>
                            <th>Empresa</th>
                            <th>Produto</th>        
                          	<th>Comercial Responsável pela Entrada</th>
                          	<th>Comercial Responsável Atual</th> 
                          	<th>Produto Alvo</th>
                          	<th>Nome Combo</th>
                        </tr>
                    </thead>
                    <tbody>
                    	<tr th:each="rc : ${relatorioCombo}" id="relatorioCombo">
                    	
                    		<td class="ignore"></td>
                    	 	<td><a th:href="@{/contratos/} + ${rc?.id}"
                                    th:text= "${rc?.cliente.razaoSocial}"></a></td>
                    		<td  th:text="${rc?.produto?.nome}"> </td>
                    		<td th:text="${rc?.comercialResponsavelEntrada?.nome}"></td>
                    		<td th:text="${rc?.comercialResponsavelEfetivo?.nome}"></td>
                        	<td th:text="${rc?.produtoAlvo} ? 'SIM' : 'NÃO'"> </td>
                    		<td th:text="${rc?.nomeCombo}"></td>
                    	</tr>
                    </tbody>
                </table>
         </div>
	</div>
	
	
							
	
	
	
	
	
	
	

	
	<div th:include="fragments/footer :: footer"></div>
	<script src="../js/libs/datePickerInit.js"></script>
 	<!-- <script src="../js/libs/jquery.mask.min.js"></script>  -->
 	<script src="../js/libs/exportExcel.js"></script>
	<script src="../js/relatorio/relatoriosCombo.js"></script>
	
	

</body>
</html>
