<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<title>Relatórios</title>
<link th:include="fragments/header :: header-css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/rel/list.css}" />
</head>

<style> 
    .loader {
        position: fixed;
		top: 70%;
		left: 48%;
        display:none;
    }

</style>

<body>

	<div th:include="fragments/header :: menu-lateral"></div>

	<div class="row">

		<div th:include="fragments/btnMenuLogout :: btns-default"></div>

		<div class="col m10">
			<div class="center">
				<!-- Título da página -->
				<h4>Valor de Negócio</h4>
				<hr />
			</div>
		</div>

	</div>
	
	<div class="container">
	<div class="row">
	<div class="input-field col left m1">
                                    <select class="select" th:name="ano" id="ano">
                                        <option th:selected="selected" value="2022">2022</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                    </select>
                                    

                                </div>
                                
                            
		<!-- <div class="input-field col m2">
                                <input type="text" name="ultimaAtualizacaoVN"
                                    th:value="${ultimaAtualizacaoVN}" id="ultimaAtualizacaoVN" /> <label
                                    for="ultimaAtualizacaoVN">Ultima Atualização</label>
                            </div> -->
                                
	</div>
	
	<div class="row">
	<div class="col s13 m5">
	<button type="submit" id="loadBtn"  class="waves-effect btn left"><i class="material-icons left">cached</i>Carregar Valor de Negócio &nbsp; &nbsp; </button>
	</div>
	
    <a th:href="@{/relatorios/gerenciarVN}" class="waves-effect btn right"><i class="material-icons left">business_center</i>Gerenciar Valor de Negócio</a>
	</div>

	
	<div class="row">
	<div class="col s13 m5">
		<!-- <a id="geraVN" class="waves-effect btn left"><i class="material-icons left">build</i>Gerar Valor de Negócio</a> -->
		<button sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_COORDENADOR', 'ROLE_GERENTE', 'ROLE_DIRETORIA')" type="submit" id="geraVN"  class="waves-effect btn left"><i class="material-icons left">build</i>&nbsp; &nbsp; &nbsp; Gerar Valor de Negócio   &nbsp; &nbsp; &nbsp;</button>
	</div>
	  <a id="excelBtn" onClick="javascript:fnExcelReport();" data-position="bottom" data-tooltip="Baixar o estado atual da tabela para Excel" class="tooltipped waves-effect btn right bottom"><i class="material-icons left">file_download</i> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Exportar Excel  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a>
	
	
	</div>        
	
	<div class="row">
		<div class="col s13 m3.8">
        	<div id="rels" class="card-panel #03a9f4 light-blue  valor">
        		<span class="white-text"  th:text=" 'Ultima Atualização: '  + ${ultimaAtualizacaoVN} " style="font-size: 1.03em; font-weight:bold"><b></b> <b id="ultimaAtualizacaoVN"></b></span> 
    			<br/>
        		<span class="white-text"  th:text="'Campanha Atualizada: ' + ${anoAtualizado}" style="font-size: 1.03em; font-weight:bold"><b></b> <b id="ultimaAtualizacaoVN"></b></span>
        	 </div>
         </div>
       
       </div>        					 
	
	  <div class="progress">
      <div class="indeterminate"></div>
      </div>
        
     </div>
     
     <div id="middlecol" class="row">
            <table id="tabela-vn" class="responsive-table tabela-cliente bordered">
                <thead>
                    <tr>
                        <th>EMPRESA</th>
                        <th>CONSULTOR</th>
                        <th>GRUPO</th>
                        <th>CNPJ</th>
                        <th>CIDADE</th>
                        <th>ESTADO</th>
                        <th>EQUIPE</th>
                        <th>FILIAL</th>
                        <th>CATEGORIA</th>
                        <th>DIVISÃO</th>
                        <th>SETOR</th>
                        <th>SITUAÇÃO</th>
                        <th>TIPO DE NEGÓCIO</th>
                        <th>DATA ENTRADA</th>
                        <th>COMERCIAL</th>
                        <th>ESTIMATIVA COMERCIAL</th>
                        <th>DISPÊNDIO ANTERIOR</th>
                        <th>BENEFICIO ANTERIOR</th>
                        <th>FATURAMENTO ANTERIOR</th>
                        <th>RRPLUS</th>
                        <th>PREVISÃO DISPÊNDIO</th>
                        <th>PREVISÃO EXCLUSÃO</th>
                        <th>PREVISÃO BENEFÍCIOS</th>
                        <th>PREVISÃO FATURAMENTO</th>
                        <th>PREVISÃO DATA</th>
                        <th>DISPÊNDIO ATUAL</th>
                        <th>EXCLUSÃO ATUAL</th>
                        <th>CÁLCULO ATUAL</th>
                        <th>VALOR CÁLCULO</th>
                        <th>VALIDADO</th>
                        <th>CONTRATO VALOR FIXO</th>
                        <th>OBSERVAÇÕES</th>
                        <th>FEE FATURAMENTO</th>
                        <th>CONTRATO TETO</th>
                        <th>PERCENTUAL ECONOMICO</th>
                        <th>PERCENTUAL SUBMISSÃO</th>
                        <th>PERCENTUAL MCTI</th>
                        <th>FATURAMENTO REAL</th>
                        <th>FATURAMENTO ESTIMADO</th>
                        <th>VALOR</th>
                        <th>MODO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="vn : ${valorNegocios}" class="valorNegocio">
                        <td th:text="${vn?.nome_empresa}"></td>
                        <td th:text="${vn?.sigla}"></td>
                        <td th:text="${vn?.cliente.grupoEconomico}"></td>
                        <td th:text="${vn?.cliente?.cnpj}"></td>
                        <td></td>
                        <td></td>
                        <td th:text="${vn?.equipe}"></td>
                        <td th:text="${vn?.categoria.displayName()}"></td>
                        <td></td>
                        <td th:text="${vn?.cliente.setorAtividade}"></td>
                        <td th:text="${vn?.producao.situacao}"></td>
                        <td th:text="${vn?.producao.tipoDeNegocio}"></td>
                        <td></td>
                        <td th:text="${vn?.comercial}"></td>
                        <td class="valor" th:text="${vn?.estComercial}"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td th:text="${vn?.prevDespesa}"></td>
                        <td th:text="${vn?.exclPrev}"></td>
   						<td th:if="${vn?.prevBeneficio == null}" th:text="'R$: 0,00'"></td>
 						<td th:if="${vn?.prevBeneficio != null}" th:text="'R$'+${#numbers.formatDecimal(vn?.prevBeneficio, 0, 'POINT', 2, 'COMMA')}"></td>
                        <td th:text="${vn?.fatPrev}"></td>
                        <td th:text="${vn?.producao.filial.nome"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td th:text="${vn?.ctrPcDe}"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
            </table>
     </div>

	<div class="container"></div>


	<div id="loader" class="preloader-wrapper big active loader">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      </div>
	

	<div th:include="fragments/footer :: footer"></div>
	
	<script th:src="@{/js/libs/jquery.mask.min.js}"></script>
	<script th:src="@{/js/relatorio/valorNegocio.js}"></script>

</body>

</html>
