<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<title>Valor de Negocio de Chile</title>
<link th:include="fragments/header :: header-css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/rel/list.css}" />
</head>

<style>
.proj {
	width: 100vw;
	height: 100vh;
}

.mini-vn {
	border-radius: 10px;
	width: 80vw;
	height: 70vh;
}

.mini-vn ul {
	display: grid;
	grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(1, 15px);
}

.max-vn {
	width: 100vw;
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	display: flex;
	overflow: auto;
}

.cabeca {
	height: 20px;
	border-bottom: 1px solid #00000055;
	color: black;
}

.mini-vn ul li {
	display: flex;
	justify-content: center;
}

.formulario {
	width: 100vw;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
</style>
<body>

	<div th:include="fragments/header :: menu-lateral"></div>

	<div class="proj">
		<div class="row">
			<div th:include="fragments/btnMenuLogout :: btns-default"></div>
			<div class="col m10">
				<div class="center">
					<!-- Título da página -->
					<h4>Valor de Negócio de Chile</h4>
					<hr />
				</div>
			</div>
		</div>
		<form class="formulario" th:action="@{vNegocioCL}">
			<button type="submit" class="waves-effect btn left">
				<i class="material-icons left">build</i>&nbsp; &nbsp; &nbsp; Gerar
				Valor de Negócio &nbsp; &nbsp; &nbsp;
			</button>
			<button type="button" class="disabled waves-effect btn left">&nbsp;
				&nbsp; &nbsp; Gerar Excel &nbsp; &nbsp; &nbsp;</button>
		</form>
		<div class="max-vn " id="middlecol">
			<table id=""
				class="mini-vn responsive-table tabela-cliente bordered scrollab">
				<thead class="cabeca">
					<tr>
						<th>Nombre de Empresa</th>
						<th>Campaña</th>
						<th>Año Fiscal</th>
						<th>Etapa</th>
						<th>Fee</th>
						<th>Contracto</th>
						<th>Valor</th>
					</tr>

				</thead>
				<tbody>
					<tr th:each="vn : ${valorNegocioChile}">
						<td th:text="${vn?.nome_empresa}"></td>
						<td th:text="${vn?.campanha}"></td>
						<td th:text="${vn?.ano_fiscal}"></td>
						<td th:text="${vn?.etapa}"></td>
						<td th:text="${vn?.fee}"></td>
						<td th:text="${vn?.tipo}"></td>
						<td
							th:text="'R$'+${#numbers.formatDecimal(vn?.valor, 0, 'POINT', 2, 'COMMA')}">
						</td>
						</tr>
				</tbody>

			</table>
		</div>
	</div>


	<div th:include="fragments/footer :: footer"></div>

	<script th:src="@{/js/libs/jquery.mask.min.js}"></script>
	<script th:src="@{/js/relatorio/valorNegocio.js}"></script>

</body>

</html>
