<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Atualizar"></title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <h4 th:text="Atualizar"></h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
      
       <form th:action="@{/relatorios/gerenciarValorNegocio}"> 
        <input name="queryTrigger" th:hidden="hidden" type="text" value="true" />
      <div class="row">
                                <div class="input-field col m4">
                                    <input id="cnpj" type="text" class="tooltip"  name="cnpj" />
                                    <label for="cnpj">CNPJ</label>
                                </div>    

                                <div class="input-field col m4">
                                    <input id="nomeEmpresa" type="text" class="tooltip"  name="nomeEmpresa" />
                                    <label for="nomeEmpresa">Cliente</label>
                                </div>
                                
                                 <div class="input-field col m1">
                                	<input id="idcliente" type="text" class="tooltip"  name="idcliente" />
                                	<label for="idcliente">ID</label>
                                </div> 
                                
                           
                                	<!-- <button  class="teal lighten-2 btn left" id="buscarVN"><i class="material-icons left">search</i>Buscar Valores</button> -->
                                	 <button  class="teal lighten-2 btn left" type="submit" ><i class="material-icons left">search</i>Buscar Valores</button> 
                                	
      
    </div>
    </form> 
    <div class="row">
    <table class="tabela-consultor responsive-table"
				id="tabela-consultor">
				<thead>
					<tr>
						<th class="ignore" th:hidden="hidden" id="id"></th>
						<th>Empresa</th>
						<th>Produto</th>
						<th>Campanha</th>
						<th>Valor de Negócio</th>
						<th>Modo</th>
						<th></th>
						<th></th>
						
					</tr>
				</thead>
				<!-- <tbody id="corpo-vn"> -->
				<tbody>	
            <tr th:each="vn : ${gerenciarVN}" id="gerenciarVN">
            
               <td  class="ignore idValorBase"  id="idvalNota" th:hidden="hidden"  th:text="${vn?.id}"></td>
                <td  th:text="${vn?.cliente.razaoSocial}"> </td>
                <td th:text="${vn?.producao.produto.nome}"></td>
                <td th:text="${vn?.campanha}"></td>
                <td class='vn' th:text="${vn?.valorBase}"></td>
               <!--  <td th:id="valorBase"></td> -->
                <td th:text="${vn?.modoValor}"></td>
                <td>
                	<a class="btn light-blue right darken-4 att" th:attr="onclick=|botaoEditar('${vn.id}')|" >
                		<i class="material-icons">edit</i>
                	</a>
                </td>
			 	<td>
			 		<a class="btn modal-trigger left red">
			 			<i class="material-icons">delete</i>
			 		</a>
			 	</td>
               
                
            </tr> 
            
        </tbody> 
			</table>
    </div>

	</div>
	
	<div id="modalAtt" class="modal">
    <div class="modal-content">
      <h4>Atualizar VN: <b id='nomeAtt'></b></h4>
      <div class="row">
      			<div class="input-field col m1">
                    <input type="text" id="idVN" disabled='disabled' name="idVN" th:required="required" />
                    <label for="idVN">ID VN</label>
                </div>
      			<div class="input-field col m3">
                    <input type="text" class="money" id="valor_base" name="valor_base" th:required="required" />
                    <label for="valor_base">Valor de Negócio</label>
                </div>
                </div>
    </div>
    <div class="modal-footer">
      <a class=" waves-effect waves-green salvaVN btn">Salvar</a>
      <a href="#!" class="modal-close waves-effect waves-red btn">Fechar</a>
    </div>
  </div>
	
    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/contrato/buscaCNPJ.js"></script>
    <script src="../js/relatorio/updateVN.js"></script>
    <script src="../js/libs/jquery.mask.min.js"></script>
    

</body>

</html>
