<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Métricas"></title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/cliente/list.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Parametrização de Métricas</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <h5>Selecione o ano</h5>

        <div class="row">

            <div class="input-field col left m1">
                <select class="select" id="combo-box">
                    <option th:selected="selected" value=""></option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2021">2022</option>
                </select>
            </div>

        </div>

        <div id="indicadores" class="row">

            <ul id="produtos" class="collapsible">
                <li id="list" th:each="p : ${produtos}">
                    <div class="collapsible-header"><i class="material-icons indicadores">equalizer</i><span class="filho" th:text="${p.nome}"></span></div>
                    <div class="corpo collapsible-body z-depth-4">

                        <div>
                            <h5><b>Etapas de Trabalho</b></h5>
                            <h6>Defina a data de finalização para as Etapas de Trabalho desse produto no ano selecionado.</h6>
                            <br/>
                        </div>

                        <div class="row">

                            <div class="card-panel grey lighten-5 z-depth-1">
                                <table class="highlight" style="table-layout: fixed;">
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th>Data</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="e : ${p.etapasTrabalho}" th:class="${p.id}" th:id="${e.id}">
                                            <td th:text="${e.nome}"></td>
                                            <td>
                                                <div class="col m3">
                                                    <label>Finalização em</label>
                                                    <input type="text" class="datepicker" th:id="'dataFinalizacao'+${p.id}+${e.id}" />
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <div class="row">

                                <br />
                                <button style="margin-right: 5%" th:id="${p.id}" class="waves-effect green btn tooltip right salvaMetrica">
                                    <i class="material-icons left">add</i>Salvar
                                </button>

                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script src="../js/libs/datePickerInit.js"></script>
    <script th:src="@{/js/metricas/main.js}"></script>

</body>

</html>
