<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Detalhes Nota Fiscal</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Detalhes Nota Fiscal</h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
    	
            <div class="row">
                <h5>Informações Gerais</h5>
                <hr />
            </div>
            <div class="row">
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th>CNPJ</th>
                        <th>Razão Social</th>
                        <th>Grupo Econômico</th>
                        <th>Campanha</th>
                        <th>Total à Faturar</th>
                    </tr>
                </thead>
                <tbody id="tbody-informacoesGeraisNF">
                    <tr>
                        <td th:text="${notaFiscal?.cnpjFaturar}" class="cnpj"></td>
                        <td th:text="${notaFiscal?.razaoSocialFaturar}"></td>
                        <td th:text="${notaFiscal?.cliente?.grupoEconomico}"></td>
                        <td th:text="${notaFiscal?.faturamento?.campanha}"></td>
                        <td th:id="totalAFaturar"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <h5>Informações da Nota Fiscal</h5>
            <hr />
        </div>
        <div class="row">
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                    	<th>Forma de Pagamento</th>
                    	<th>Etapa à Faturar</th>
                    	<th>Percentual Faturado</th>
                    	<th>Valor Etapa R$</th>
                    	<th>Prazo de Faturamento</th>
                    	<th>Forma de Pagamento</th>
                    	<th th:hidden="hidden">ID Faturamento</th>
                    	<th th:hidden="hidden">ID Contrato</th>
                    	<th th:hidden="hidden">ID Balancete</th>
                    </tr>
                </thead>
                <tbody id="tbody-informacoes">
                    <tr th:each="nf : ${notaFiscal}">
                        <td th:text="${nf?.faturamento?.contrato?.formaPagamento}"></td>
                        <td th:text="${nf?.faturamento?.etapaTrabalho}"></td>
                        <td th:text="${nf?.faturamento?.percetEtapa} + '%'"></td>
                        <td id="idValorEtapa" th:text="${nf?.faturamento?.valorEtapa}"></td>
                        <td th:text="${nf?.faturamento?.contrato?.prazoPagamento} + ' dias'"></td>
                        <td th:text="${nf?.faturamento?.contrato?.formaPagamento}"></td>
                        <td id = "idFaturamento" th:text="${nf?.faturamento?.id}" th:hidden="hidden"></td>
                        <td id = "idContrato" th:text="${nf?.faturamento?.contrato?.id}" th:hidden="hidden"></td>
                    </tr>
                    <tr th:each="balancete : ${balancetes}" th:hidden="hidden">
                        <td th:text="${balancete?.id}"></td>
                        <td th:class="valorBeneficio" th:text="${balancete?.reducaoImposto}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="row">
            <h5>Informações de Parcelas</h5>
            <hr />
        </div>
        <div class="row">
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                    	<th>N parcela</th>
                    	<th>Valor Parcela</th>
                    	<th>Data Cobrança</th>
                    	<th>Data Vencimento</th>
                    	<th>Pago</th>
                    </tr>
                </thead>
                <tbody id="tbody-informacoes">
                    <tr  th:each="p : ${parcelas}">
                        <td th:text="${p?.nParcela}"></td>
                        <td th:text="'R$ ' + ${#numbers.formatDecimal(p?.valorParcela, 0, 'POINT', 2, 'COMMA')}"></td>
                        <td th:text="${p?.dataCobranca}"></td>
                        <td th:text="${p?.dataVencimento}"></td>
                        <td th:text="${p?.pago ? 'SIM' : 'NÃO'}"></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        
            <div class="row">
                <h5>Informações do Contato</h5>
                <hr/>
            </div>
            <div>
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                    </tr>
                </thead>

                <tbody id="tbody-informacoesDaNF">
                    <tr th:each="contato : ${contatos}">
                        <td th:text="${contato?.nome}"></td>
                        <td th:text="${contato?.email}"></td>
                        <td th:text="${contato?.telefone1}"></td>
                    </tr>
                </tbody>
                
                <thead>
                    <tr>
                    	<th></th>
                        <th>Endereço Entrega Boleto</th>
                    </tr>
                </thead>
                
                <tbody id="tbody-informacoesDoEndereco">
                	<tr>
                		<td>
                			<td th:each="endereco : ${enderecos}" th:text="${endereco?.logradouro} + ' N° ' + ${endereco?.numero} + ' - ' + ${endereco?.cidade} + ' - ' + ${endereco?.estado}"></td>
                		</td>
                	</tr>
                </tbody>
            </table>
            </div>
        
        <div class="row">
            <h5>Impostos Retidos na Fatura</h5>
            <hr/>
        </div>
        <div class="row">
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th>IRRF (1,5%)</th>
                        <th>CSSL (1%)</th>
                        <th>PIS (0,65%)</th>
                        <th>COFINS (3%)</th>
                        <th>Total</th>
                        <th>Valor Líquido</th>
                    </tr>
                </thead>
                <tbody id="tbody-informacoes">
                    <tr th:each="nf : ${notaFiscal}">
                        <td id="idIRRF"></td>
                        <td id="idCSSL"></td>
                        <td id="idPIS"></td>
                        <td id="idCOFINS"></td>
                        <td id="idTotal"></td>
                        <td id="idValorLiquido"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="row">
            <h5>Informações do Balancete</h5>
            <hr/>
        </div>
        <div class="row">
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th>Versão</th>
                        <th>Apuração</th>
                        <th>Dispêndio</th>
                        <th>Redução</th>
                        <th>% da Etapa</th>
                        <th>Valor Faturamento</th>
                        <th>Submotivo</th>
                    </tr>
                </thead>
                <tbody id="tbody-informacoesBalancete">
                <tr>
                    <td th:text="${faturamento?.producao?.tipoDeApuracao}"></td>
                    <td th:text="${faturamento?.balancete?.versao}"></td>
                    <td th:text="'R$ ' +${faturamento?.balancete?.valorTotal}"></td>
                    <td th:id="beneficio" th:text="'R$ ' + ${faturamento?.balancete?.reducaoImposto}"></td>
                    <!-- <td th:text="${faturamento?.balancete?.observacoes}"></td> -->
                    <td th:text="${submotivo}"></td>
                </tr>
            	</tbody>
            </table>
        </div>
        <div class="center-align input-field col s6">
                    <textarea id="obsBalancete" class="materialize-textarea" th:value="${faturamento?.balancete?.observacoes}"
                        th:inline="text" th:text="${faturamento?.balancete?.observacoes}" name="obsBalancete" th:readonly="readonly"></textarea>
                    <label for="obsBalancete">Observações do Balancete</label>
                </div>
        
        <div class="row">
            <h5>Impostos Devidos Empresa - F.I.</h5>
            <hr/>
        </div>
        <div class="row">
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th>PIS (1,65%)</th>
                        <th>COFINS (7,6%)</th>
                        <th>ISS (5%)</th>
                        <th>ISS (Variável)</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody id="tbody-informacoes">
                    <tr th:each="nf : ${notaFiscal}">
                        <td id="idPISImpostosDevidos"></td>
                        <td id="idCOFINSImpostosDevidos"></td>
                        <td id="idISSImpostosDevidos"></td>
                        <td id="idISSVariavelImpostosDevidos"></td>
                        <td id="idTotalImpostosDevidos"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="row" th:each="h : ${honors}">
            <div th:if="${h.nome == 'Percentual Escalonado'}">
                <h5>Cálculos de Faturamento F.I. (% Escalonado)</h5>
                <table class="responsive-table table-default bordered">
                    <thead>
                        <tr>
                            <th>Intervalo de Faturamento</th>
                            <th>Valor Aplicado</th>
                            <th>Percentual %</th>
                            <th>Honorários</th>
                        </tr>
                    </thead>
                    <tbody id="tabelaEscalonado">
                        <!-- <tr th:each="f,i : ${percentual?.faixasEscalonamento}">
                            <td th:id="'valores'+${i.index}"></td>
                            <td th:id="'valoresAplicados'+${i.index}"></td>
                            <td th:id="percentual" th:text="${f.valorPercentual}+'%'"></td>
                            <td th:id="'calc'+${i.index}" th:class="calc"></td>
                        </tr> -->
                        <!-- <tr>
                            <td th:id="valorAcimaDe"></td>
                            <td th:id="valorAplicadoAcimaDe"></td>
                            <td th:id="percentAcimaDe" th:text="${h.percentAcimaDe} + '%'"></td>
                            <td th:id="honorarioAcimaDe"></td>
                        </tr> -->
                    </tbody>
                    <tbody><tr><td></td><td style="font-weight:bold" th:class="left-align" th:id="totalHonorariosAplicados">
                    </td><td></td><td style="font-weight:bold" th:id="totalHonorarios"/></tr></tbody>
                </table>
                <input type="text" th:value="${h?.acimaDe}" id="idValorAcimaDe" th:hidden="hidden" />
                <input type="text" th:value="${h?.limitacao}" id="idLimitacao" th:hidden="hidden" />
            </div>

            <div th:if="${h.nome == 'Valor Fixo'}">
                <h5>Cálculos de Faturamento F.I. (Valor Fixo)</h5>
                <table class="responsive-table table-default bordered">
                    <thead>
                        <tr>
                            <th>Período do Honorário</th>
                            <th>Valor Fixo</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-informacoes-valorFixo">
                        <tr>
                            <td th:text="${faturamento?.producao?.tipoDeApuracao}"></td>
                            <td th:id="valorFixoHonorario" th:text="${faturamento?.valorF?.valor}" th:class="money">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${h.nome == 'Percentual Fixo'}">
                <h5>Cálculos de Faturamento F.I. (Percentual Fixo)</h5>
                <table class="responsive-table table-default bordered">
                    <thead>
                        <tr>
                            <th>Percentual Fixo</th>
                            <th>Valor Aplicado</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-informacoes-percentualFixo">
                        <tr>
                            <td th:id="idPercentualFixo" th:text="${faturamento?.percentualF?.valorPercentual} + '%'">
                            </td>
                            <td th:id="idPercentualFixoHonorarioValorAplicado"></td>
                            <td th:id="idPercentualFixoHonorario"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col m12 right-align">
             	  <form th:action="@{/notasFiscais/retornarNotaFiscal}" method="POST">
                		<button type="button" class="btn modal-trigger btn tooltip" style="background-color: #4DB6AC" th:attr="data-target='modal' +${notaFiscal?.id}">
                        		<i class="material-icons left">arrow_back</i>Retornar NF</button>
                    <input type="text" name="idNotaFiscal" id = "idNotaFiscal" th:value="${notaFiscal?.id}"  class="idNotaFiscal" th:hidden="hidden" />
                    		
                    		<div th:id="modal+ ${notaFiscal?.id}" class="modal bottom-sheet">
            							<div class="modal-content">
               							 <h4>
                   						 Deseja mesmo retornar essa nota fiscal? <i class="material-icons right modal-close mouse-hand">close</i>
                						</h4>
                						
            							</div>
            							<div class="modal-footer">
                							<button type="submit"
                    						class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Retornar NF</button>
            							</div>
        						</div>
                	 </form> 
             
                	 
                 </div>
        
            <div class="row">
                <div class="col m4 center-align">
                    <a th:href="@{/faturamentos/details/} + ${notaFiscal?.faturamento?.id}"
                        class="waves-effect tooltip"><i class="material-icons left">visibility</i>Faturamento</a>
                </div>
                <div class="col m4 right-align">
                    <a th:href="@{/notasFiscais/all}" class="waves-effect tooltip"><i
                           class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>

        <div th:include="fragments/footer :: footer"></div>

        <script th:src="@{/js/notaFiscal/details.js}"></script>
        <script th:src="@{/js/libs/datePickerInit.js}"></script>
        <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
	</div>
</body>

</html>