<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Nota fiscal</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Nota Fiscal</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="row">
                <h5>Informações Gerais</h5>
                <hr />
            </div>
            <div class="row">
                <div class="input-field col m3">
                    <input id="cnpjFaturar" type="text" class="tooltip" maxlength="18" th:required="required"
                        name="cnpjFaturar" />
                    <label for="cnpjFaturar">CNPJ</label>
                </div>

                <div class="input-field col m5">
                    <input id="razaoSocialFaturar" type="text" class="tooltip" name="razaoSocialFaturar" />
                    <label for="razaoSocialFaturar">Razão Social</label>
                </div>
            </div>

            <input type="text" name="cliente.id" th:hidden="hidden" id="idCliente" />

            <div class="row">

                <div class="input-field col m2">
                    <select name="filial.id" id="filial" class="select tooltip" th:required="required">
                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                        <option th:each="f : ${filiais}" th:value="${f.id}" th:text="${f.nome}"></option>
                    </select> <label>Filial</label>
                </div>
            </div>

        </div>

        <div class="row ">
            <h5>Faturamento</h5>
            <hr />
            <table id="tabela-fat" class="responsive-table tabela-cliente bordered">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Campanha</th>
                        <th>Versão</th>
                        <th>Etapa de Trabalho</th>
                        <th>Valor</th>
                        <th>Selecionar</th>
                    </tr>
                </thead>
                <tbody id="corpo-faturamento">
                </tbody>
            </table>
        </div>

        <div class="row ">
            <h5>Informações da Nota Fiscal</h5>
            <hr />
        </div>

        <div class="row">
            <div class="input-field col m3">
                <select name="tipoNotaFiscal" id="select-tipoNotaFiscal" class="select">
                    <option value="" th:selected="selected" th:disabled="disabled">Selecione</option>
                    <option th:each="tn : ${tipoNotaFiscal}" th:value="${tn.name()}" th:text="${tn.displayName()}"
                        th:selected="(${notaFiscal?.tipoNotaFiscal?.name() == tn.name()})"></option>
                </select> <label>Tipo Nota Fiscal</label>
            </div>
            <div class="input-field col m2">
                <input id="numeroNF" type="number" class="tooltip" th:required="required" name="numeroNF" />
                <label for="numeroNnF">N° NF</label>
            </div>
            <div class="input-field col m3" id="numeroNotaSubstituida">
                <input type="text" class="tooltip" name="numeroNotaSubstituida" />
                <label for="numeroNotaSubstituida">Número da Nota Substituída</label>
            </div>
        </div>

        <div class="row">
            <p>
                <input name="cancelada" type="checkbox" class="filled-in" id="cancelada" />
                <label for="cancelada">Cancelada</label>
            </p>
            <p>
                <input name="cobranca" type="checkbox" class="filled-in" id="cobranca" />
                <label for="cobranca">Cobrança</label>
            </p>
            <p>
                <input name="atraso" type="checkbox" class="filled-in" id="atraso" />
                <label for="atraso">Atraso</label>
            </p>
        </div>

        <div class="row">
            <div class="col m2">
                <input type="text" name="dataEmissao" th:placeholder="'DD/MM'" id="dataEmissao" class="datepicker" />
                <label for="dataEmissao">Data de Emissão</label>
            </div>
            <div class="col m2">
                <input type="text" name="dataVencimento" th:placeholder="'DD/MM'" id="dataVencimento"
                    class="datepicker" />
                <label for="dataVencimento">Data de Vencimento</label>
            </div>
            <div class="col m2">
                <input type="text" name="dataCobranca" th:placeholder="'DD/MM'" id="dataCobranca" class="datepicker" />
                <label for="dataCobranca">Data de Cobrança</label>
            </div>
        </div>

        <div class="row ">
            <h5>Detalhes</h5>
            <hr />
        </div>

        <div class="row">
            <div class="input-field col m5">
                <select name="incidencia" id="select-incidencia" class="select">
                    <option value="NONE" th:selected="selected">Selecione</option>
                    <option th:each="in : ${incidencia}" th:value="${in.name()}" th:text="${in.displayName()}"></option>
                </select> <label>Incidência</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col m5">
                <textarea id="obsNota" class="materialize-textarea" th:inline="text" name="obsNota"></textarea>
                <label for="obsNota">Observações Nota Fiscal</label>
            </div>
        </div>

        <div class="row ">
            <h5>Valores/Cobrança</h5>
            <hr />
        </div>
        <div class="row">
            <div class="input-field col m2">
                <input id="faturar" type="text" class="money" th:required="required" name="faturar" />
                <label for="faturar">Valor Bruto R$</label>
            </div>
            <div class="input-field col m2">
                <input id="cobrar" type="text" class="money" th:required="required" name="cobrar" />
                <label class="active" for="cobrar">Valor Liquido R$</label>
            </div>
            <div class="input-field col m2">
                <input id="valorCobranca" type="text" class="money" th:required="required" name="valorCobranca" />
                <label for="valorCobranca">Cobrança R$</label>
            </div>
        </div>

        <div class="row ">
            <h5>Parcelas</h5>
            <hr />
        </div>
        <div>
            <div class="row">
                <a id="addParcela" class="mouse-hand tooltipped" data-position="left"
                    data-tooltip="Adicionar Parcela"><i class="material-icons left">add</i></a>
                <a id="removeParcela" class="mouse-hand tooltipped" data-position="right"
                    data-tooltip="Remover Parcela"><i style='color: red' class="material-icons left">remove</i></a>
                <div class="row" id="valorParcelaaa"></div>
            </div>

            <div id="parcela">

            </div>
        </div>

        <div class="row">
            <div class="col m4">
                <button type="submit" id="btn-cad-NotaFiscal" class="waves-effect green btn"><i
                        class="material-icons left">add</i>Adicionar</button>
            </div>
            <div class="col m10 right-align">
                <a th:href="@{/notasFiscais/all}" class="waves-effect tooltip"><i
                        class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/libs/datePickerInit.js"></script>
    <script src="../js/notaFiscal/buscaCNPJ.js"></script>
    <script src="../js/notaFiscal/form.js"></script>
    <script src="../js/libs/jquery.mask.min.js"></script>
</body>

</html>