<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Nota Fiscal</title>
    <link th:include="fragments/header :: header-css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Nota Fiscal</h4>
                <hr />
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <section id="filters">
                <div class="input-field col m5">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="txt-pesq-notaFiscal" />
                    <label for="txt-pesq-notaFiscal">Pesquisar nota fiscal</label>
                </div>

            </section>
            <div class="col m3 offset-m4">
                <a type="submit" class="waves-effect green btn right" th:href="@{/notasFiscais/form}"
                    title="adicionar"><i class="material-icons left">add</i>Nota Fiscal</a>
            </div>
        </div>

        <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s3"><a href="#test-swipe-1">Faturamentos liberados</a></li>
            <li class="tab col s3"><a href="#test-swipe-2">Notas Fiscais</a></li>
        </ul>
        <!--   https://localhost:9000/notasFiscais/all#test-swipe-1 -->
        <div id="test-swipe-1" style="height: 100%;" class="col s12 grey lighten-5" >
            <ul class="collapsible popout" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">search</i>Filtros
                    </div>
                    <div class="collapsible-body grey lighten-3">

                        <form th:action="@{/notasFiscais/all}">

                            <input name="queryTriggerFaturamento" th:hidden="hidden" type="text" value="true" />

                            <div class="row">

                                <section id="filters">
                                    <div class="input-field col m2">
                                        <i class="material-icons prefix">search</i>
                                        <select name="campanha" class="select" id="select-campanha">
                                            <option th:selected="selected" th:value="null">Selecione</option>
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                        </select>
                                        <label>Campanha</label>
                                    </div>


                                    <div class="input-field col m3">
                                        <select name="idProduto" id="selectProduto" class="select">
                                            <option value="" th:selected="selected">Selecione</option>
                                            <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.nome}">
                                            </option>
                                        </select>
                                        <label>Produto</label>
                                    </div>

                                    <div class="input-field col m4">
                                        <select class="select" name="etapa" id="select-etapa">
                                            <option value="" th:selected="selected">Selecione</option>
                                        </select>
                                        <label>Etapa</label>
                                    </div>

                                    <div class="input-field col m3">
                                        <select class="select" name="estado" id="select-estado">
                                            <option value="" th:selected="selected">Selecione</option>
                                            <option th:each="e : ${estado}" th:value="${e.id}" th:text="${e.nome}">
                                            </option>
                                        </select>
                                        <label>Estado</label>
                                    </div>
                                </section>
                            </div>

                            <div class="row">
                                <div class="input-field col m4">
                                    <i class="material-icons prefix">search</i>
                                    <input name="razaoSocial" type="text" id="txt-pesq-cliente" />
                                    <label for="txt-pesq-cliente">Pesquisar cliente</label>
                                </div>

                                <div class="input-field col m2">
                                    <select class="select" name="tipoNegocio" id="tipoNegocio">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option th:value="NN">Novo Negócio</option>
                                        <option th:value="RR">Recorrência</option>
                                    </select>
                                    <label>Tipo de Negócio</label>
                                </div>
                            </div>
                            
                            <div class="row">
                            	<div class="input-field col m2">
                                        <i class="material-icons prefix">search</i>
                                        <select name="mesBusca" class="select" id="select-mes-geracao">
                                            <option th:selected="selected" th:value="null">Selecione</option>
                                            <option value="01">Janeiro</option>
                                            <option value="02">Fevereiro</option>
                                            <option value="03">Março</option>
                                            <option value="04">Abril</option>
                                            <option value="05">Maio</option>
                                            <option value="06">Junho</option>
                                            <option value="07">Julho</option>
                                            <option value="08">Agosto</option>
                                            <option value="09">Setembro</option>
                                            <option value="10">Outubro</option>
                                            <option value="11">Novembro</option>
                                            <option value="12">Dezembro</option>
                                        </select>
                                        <label>Mês de Geração</label>
                                    </div>
                                    
                                    <!-- BLOCO IMPORTANTE, NÃO APAGUE <fieldset>
                                        <legend>Data de Geração</legend>
                                        <div class="input-field col m0.5">
                                            <p>
                                                De
                                            </p>
                                        </div>
                                        <div class="col m2">
                                            <input type="text" id="dataInicio" th:placeholder="'DD/MM/AAAA'"
                                                name="dataInicio" class="datepicker" />
                                            <label for="dataInicio">Data Início</label>
                                        </div>
                                        <div class="input-field col m0.5">
                                            <p>
                                                Até
                                            </p>
                                        </div>
                                        <div class="col m2">
                                            <input type="text" id="dataFinal" th:placeholder="'DD/MM/AAAA'"
                                                name="dataFinal" class="datepicker" />
                                            <label for="dataFinal">Data Final</label>
                                        </div>
                                    </fieldset> -->
                                </div>

                            <div class="row">

                                <div class="col m3">
                                    <button type="submit" id="btn" class="waves-effect blue btn modal-trigger">
                                        <i class="material-icons left">search</i>Buscar
                                    </button>
                                </div>

                            </div>

                        </form>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">attach_money</i>Totais
                    </div>
                    <div class="collapsible-body grey lighten-3">

						<form>
            			<div class="row">
                			<div style="padding: 0px;" class="col s12 m12">
                    			<div class="card blue-grey darken-2 z-depth-2">
                        			<div style="padding-bottom: 1px; padding-top: 10px; padding-left: 5px; padding-right: 0px;" class="card-content white-text">
                           					<div class="row center">
                                				<div class="col m2 offset-m4">
                                    				<div class="card-panel blue-grey lighten-5 z-depth-3">
                                        				<span class="black-text"><b>Valor a Receber</b> 
                                        				<p style="text-align:center"><span id="totalAReceberFaturamentosLiberados" th:text="'R$ 0,00'">0</span></p>
                                        				</span>
                                    				</div>
                                				</div>
                                				<div class="col m2" >
                                    				<div class="card-panel blue-grey lighten-5 z-depth-3">
                                        				<span class="black-text"><b>Total de Faturamentos</b>
                                        				<p style="text-align:center"><span id="quantidadeFaturamentosLiberados" th:text="0">0</span> </p>
                                        				</span>
                                    				</div>
                                				</div>
                               				</div>
                               			</div>
                               		</div>
                               	</div>
                          </div>
                     </form>
                </div>
                </li>
            </ul>
            <table id="tabela-fat" class="responsive-table tabela-cliente bordered striped" >
                <thead>
                    <tr>
                        <th>Razão Social</th>
                        <th>Produto</th>
                        <th>Campanha</th>
                        <th>Data Liberação</th>
                        <th>Etapa</th>
                        <th>Estado da Etapa</th>
                        <th>Data Geração</th>
                        <th>Apuração</th>
                        <th>Versão Balancete </th>
                        <th>Valor</th>
                        <th>Enviado ao Cliente?</th>
                        <th>Detalhes</th>
                        <th>Gerar NF</th>
                        <th>Retornar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="f : ${faturamentosNaoEmitidos}" th:switch="${f.modo}" id="'lihha'+${f.id}">
                        <td id="razao" style="width: 30%" th:text="${f?.cliente?.razaoSocial}"></td>
                        <td th:text="${f?.produto?.nome}"></td>
                        <td th:text="${f?.campanha}"></td>
                        <td  th:text="${f?.dataLiberacao}"></td>
                        <td th:case="'Valor Fixo'" th:text="'VALOR FIXO'"></td>
                        <td th:case="*" th:text="${f?.etapa?.nome}"></td>
                        <td style="word-wrap: break-word; overflow-wrap: break-word; width: 15%" th:text="${f.estado}">
                        </td>
                        <td th:text="${f?.dataCriacao}"></td>
                        <td th:text="${f?.producao?.tipoDeApuracao}"></td>
                        <td th:if="${f?.consolidado == false}" th:text="${f?.balancete?.versao}"></td>
                    	<td th:if="${f?.consolidado == true}" th:text="'Consolidado'"></td>
                        <td class="valor" th:text="'R$ '+${f?.valorEtapa}"></td>

                        <td> <button th:if="${f?.enviadoAoCliente} == false" th:id='btn-enviadoAoCliente' th:value="${f?.id}" class="btn validar" title="Validar envio">
							<i class="Large material-icons ">check</i>
							</button>
							
							<button th:if="${f?.enviadoAoCliente} == true" th:disabled='disabled' th:id='btn-enviadoAoCliente' th:value="${f?.id}" class="btn validar" title="Validar envio">
							<i class="Large material-icons ">check</i>
							</button>

							<!-- <div class="col m2">
							<input name="inputEnviadoAoCliente" type="checkbox" th:if="${f?.enviadoAoCliente}" class="filled-in" id="checkEnviadoAoCliente" readonly="readonly"
							th:checked="${f?.enviadoAoCliente}" />
							<label th:if="${f.enviadoAoCliente}" for="checkEnviadoAoCliente"></label>
							</div> -->
						</td>
				   	<td>
                         <a  class="btn tooltipped grey darken-1"  th:id ="${f.id}" onclick="detailsFaturamento(id)"
                            data-position="top" data-tooltip="Visualizer detalhes do faturamento">
                            <i class="material-icons">visibility</i>
                        </a>   
                    </td>
                        <td>
                            <a th:id="'gera'+${f.id}" class="btn tooltipped green ligthen-1 modal-trigger btnGerar"
                                href="#gerarNF" data-position="top" data-tooltip="Gerar Nota Fiscal">
                                <i class="material-icons">receipt</i>
                            </a>
                        </td>
                        <td>
                            <a th:id="'retorna'+${f.id}"
                                class="btn tooltipped teal lighten-2 btn modal-trigger btnRetornar"
                                href="#voltarEstoque" data-position="top"
                                data-tooltip="Retornar faturamento para estoque">
                                <i class="material-icons">arrow_back</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="test-swipe-2" class="col s12 grey lighten-5" >
            <div class="row">
                <ul class="collapsible popout" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">search</i>Filtros
                        </div>
                        <div class="collapsible-body grey lighten-3">

                            <form th:action="@{/notasFiscais/all}">

                                <input name="queryTriggerNotas" id="queryTriggerNotas" th:hidden="hidden" type="text"
                                    value="true" />

                                <div class="row">

                                    <section id="filters">
                                        <div class="input-field col m2">
                                            <i class="material-icons prefix">search</i>
                                            <select name="campanha" class="select" id="select-campanha">
                                                <option th:selected="selected" th:value="null">Selecione</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                            </select>
                                            <label>Campanha</label>
                                        </div>


                                        <div class="input-field col m3">
                                            <select name="idProduto" id="selectProduto" class="select">
                                                <option value="" th:selected="selected">Selecione</option>
                                                <option th:each="p : ${produtos}" th:value="${p.id}"
                                                    th:text="${p.nome}"></option>
                                            </select>
                                            <label>Produto</label>
                                        </div>

                                        <div class="input-field col m4">
                                            <select class="select" name="etapa" id="select-etapa">
                                                <option value="" th:selected="selected">Selecione</option>
                                            </select>
                                            <label>Etapa</label>
                                        </div>

                                        <div class="input-field col m3">
                                            <select class="select" name="estado" id="select-estado">
                                                <option value="" th:selected="selected">Selecione</option>
                                                <option th:each="e : ${estado}" th:value="${e.id}" th:text="${e.nome}">
                                                </option>
                                            </select>
                                            <label>Estado</label>
                                        </div>
                                    </section>
                                </div>

                                <div class="row">
                                    <div class="input-field col m4">
                                        <i class="material-icons prefix">search</i>
                                        <input name="razaoSocial" type="text" id="txt-pesq-cliente" />
                                        <label for="txt-pesq-cliente">Pesquisar cliente</label>
                                    </div>
                                    
                                    <div class="input-field col m2">
                                        <i class="material-icons prefix">search</i>
                                        <input name="numeroNF"  type="number" id="txt-pesq-numeroNF" />
                                        <label for="txt-pesq-numeroNF">Nº NF</label>
                                    </div>

                                    <div class="input-field col m2">
                                        <select class="select" name="tipoNegocio" id="tipoNegocio">
                                            <option value="" th:selected="selected">Selecione</option>
                                            <option th:value="NN">Novo Negócio</option>
                                            <option th:value="RR">Recorrência</option>
                                        </select>
                                        <label>Tipo de Negócio</label>
                                    </div>

                                    <div class="input-field col m2">
                                        <select class="select" name="emAtraso" id="emAtraso">
                                            <option value="" th:selected="selected">Selecione</option>
                                            <option value="true">Sim</option>
                                            <option value="false">Não</option>
                                        </select>
                                        <label>Em Atraso</label>
                                    </div>

                                    <div class="input-field col m2">
                                        <select class="select" name="paga" id="paga">
                                            <option value="" th:selected="selected">Selecione</option>
                                            <option value="true">Paga</option>
                                            <option value="false">Em aberto</option>
                                        </select>
                                        <label>Status de pagamento</label>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col m3">
                                        <button type="submit" id="btnNotas" class="waves-effect blue btn modal-trigger">
                                            <i class="material-icons left">search</i>Buscar
                                        </button>
                                    </div>

                                </div>

                            </form>

                        </div>
                    </li>
                </ul>

                <table id="tabela-notasFiscais" style="width: 100%;" class="responsive-table bordered striped"
                    >
                    <thead>
                        <tr>
                            <th th:hidden="hidden">#</th>
                            <th>Razão social</th>
                            <th>Nº NF</th>
                            <th>Apuração</th>
                            <th>Versão Balancete </th>
                            <th>Faturar</th>
                            <th>Valor à Cobrar</th>
                            <th>Cobrança</th>
                            <th>Data Emissão</th>
                            <th>Data Vencimento</th>
                            <th>Data Cobrança</th>
                            <th>Ano</th>
                            <th>Produto</th>
                            <th>Em atraso </th>
                            <th>Status Pagamento</th>
                            <th>Detalhes</th>
                            <th>Editar</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="nf : ${notasFiscais}">
                            <td style="width: 30%" th:text="${nf.razaoSocialFaturar}"></td>
                            <td th:text="${nf?.numeroNF}"></td>
                            <td th:text="${nf?.faturamento?.producao?.tipoDeApuracao}"></td>
                            <td th:text="${nf?.faturamento?.balancete?.versao}"></td>
                            <td th:text="'R$ ' + ${nf?.faturar}"></td>
                            <td th:if="${nf.cobrar == ''}" th:text="'R$ 0,00'"></td>
                            <td th:if="${nf.cobrar != ''}" th:text="'R$ ' + ${nf.cobrar}"></td>
                            <td th:if="${nf.valorCobranca == ''}" th:text="'R$ 0,00'"></td>
                            <td th:if="${nf.valorCobranca != ''}" th:text="'R$ ' + ${nf.valorCobranca}"></td>
                            <td th:text="${nf.dataEmissao}"></td>
                            <td th:text="${nf.dataVencimento}"></td>
                            <td th:text="${nf.dataCobranca}"></td>
                            <td th:text="${nf?.faturamento?.campanha}"></td>
                            <td th:text="${nf?.faturamento?.produto?.nome}"></td>
                            <td th:text="${nf.atraso} ? 'SIM' : 'NÃO'" />
                            <td th:if="${nf.cancelada}" th:text="CANCELADA" />
                            <td th:if="${!nf.cancelada}" th:text="${nf?.cobranca} ? 'PAGA' : 'EM ABERTO'" />
                            <!-- BOTÃO OCULTO -->
                            <td>
                                <a th:if="${nf?.faturamento?.consolidado == false and nf?.faturamento?.consolidadoPorFat == false  }" th:href="@{/notasFiscais/details/} + ${nf.id}" class="btn tooltipped grey darken-1"> <i
                                        class="material-icons">visibility</i>
                                </a>
                                <a th:if="${nf?.faturamento?.consolidado == true or nf?.faturamento?.consolidadoPorFat == true  }" th:href="@{/notasFiscais/detailsNotaConsolidada/} + ${nf?.id}" class="btn tooltipped grey darken-1"> <i
                                        class="material-icons">visibility</i>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/notasFiscais/} + ${nf.id}" class="btn light-blue darken-4"> <i
                                        class="material-icons">edit</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
		<input name="currentParametros" type="text" id="currentParametros" hidden="hidden" />

    </div>

    <!-- Modal Structure -->
    <div id="voltarEstoque" class="modal bottom-sheet">
        <div class="modal-content">
            <input type="text" id='fatIdHolder' th:hidden="hidden" />
            <h4>Retornar faturamento?</h4>
            <p style="font-size: 15px;">Tem certeza que deseja retornar o faturamento para o estoque de faturamentos?
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <a id='retorna' class="waves-effect waves-green btn-flat">Retornar</a>
        </div>
    </div>

    <div id="gerarNF" class="modal modal-fixed-footer">
        <div class="modal-content">

            <input type="text" id='fatIdHolderNF' th:hidden="hidden" />

            <h4>Gerar Nota Fiscal:</h4>

            <div class="row">

                <h5>Informações da Nota Fiscal</h5>
                <hr />

                <div style="width: 18%" class="input-field col m2">
                    <input type="text" id="cnpj" readonly="readonly" />
                    <label for="cnpj">CNPJ</label>
                </div>

                <div class="input-field col m6">
                    <input type="text" id="razaoSocial" readonly="readonly" />
                    <label for="razaoSocial">Razão Social</label>
                </div>

                <div class="input-field col m1">
                    <input type="text" id="categoriaProblematica" readonly="readonly" />
                    <label for="categoriaProblematica">Problemática</label>
                </div>

                <div class="input-field col m2">
                    <label>Data de Emissão</label>
                    <input type="text" id="dataEmissao" name="dataEmissao" class="datepicker" />
                </div>

            </div>

            <div class="row">

                <div class="input-field col m3">
                    <input type="text" id="produto" readonly="readonly" />
                    <label for="produto">Produto</label>
                </div>

                <div class="input-field col m1">
                    <select name="campanha" id="campanha" class="select" readonly='readonly'>
                        <option value="" th:selected="selected">Selecione</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                    </select>
                    <label>Campanha</label>
                </div>

                <div class="input-field col m2">
                    <select name="categoriaNF" id="categoriaNF" class="select">
                        <option value="" th:selected="selected">Selecione</option>
                        <option value="Receita">Receita</option>
                        <option value="Devolução">Devolução</option>
                    </select>
                    <label>Categoria</label>
                </div>

                <div class="input-field col m2">
                    <input type="number" id="numeroNota" />
                    <label for="numeroNota">N° Nota Fiscal</label>
                </div>
                
                <div class="row ">
            		<div class="input-field col m4">
                		<select name="filial.id" id="filial" class="select tooltip" th:required="required">
                    		<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                    		<option th:each="filial : ${filiais}" th:value="${filial.id}" th:text="${filial.nome}"></option>
                		</select> <label>Filial</label>
		            </div>
    	 	   </div>

            </div>
            
			 <input type="text" id="idCliente" readonly="readonly" th:hidden='hidden' />

             <div th:id="divContatoCliente" class="row" > 
               
            	<!-- teste -->
				
                <!-- <div style="width: 35%" class="input-field col m4">
                    <input type="text" id="endereco" readonly="readonly" />
                    <label for="endereco">Endereço</label>
                </div>

                <div style="width: 35%" class="input-field col m3">
                    <input type="text" id="cidade" readonly="readonly" />
                    <label for="cidade">Cidade</label>
                </div> -->

             </div> 

            <div class="row">
                <h5>Valores/Cobrança</h5>
                <hr />

                <div class="input-field col m1">
                    <select name="parcela" id="parcela" class="select">
                        <option value="" th:selected="selected">Sel.</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <label>Parcelas</label>
                </div>

                <div class="input-field col m2">
                    <input class="money" type="text" name="valorFat" id="valorFat"/>
                    <label for="valorFat">Valor Bruto $</label>
                </div>

                <div class="input-field col m2">
                    <select name="faturacao" id="faturacao" class="select">
                        <option value="" th:selected="selected">Selecione</option>
                        <option value="Mensal">Mensal</option>
                        <option value="Trimestral">Trimestral</option>
                        <option value="Anual">Anual</option>
                    </select>
                    <label>Faturação</label>
                </div>

                <div class="input-field col m2">
                    <input class="money" type="text" name="cobrar" id="cobrar" />
                    <label for="cobrar">Valor Liquido $</label>

                </div>

                <div class="input-field col m2">
                    <label>Data Vencimento</label>
                    <input type="text" id="vencimento" name="vencimento" class="datepicker" />
                </div>


                <div class="input-field col m2">
                    <input class="money" type="text" name="valorCobrança" id="valorCobrança" />
                    <label for="valorCobrar">Valor Cobrança $</label>

                </div>

                <div style="width: 20%" class="input-field col m2">
                    <input type="text" id="formaPagamento" readonly="readonly" />
                    <label for="formaPagamento">Forma Pagamento</label>
                </div>

            </div>
            <div class="row">
                <h5>Impostos retidos na fatura</h5>
                <hr />

                <div style="width: 20%" class="input-field col m1">
                    <input type="text" id="IRRF" readonly="readonly" />
                    <label for="IRRF">IRRF (1,5%)</label>
                </div>

                <div style="width: 12%" class="input-field col m1">
                    <input type="text" id="CSSL" readonly="readonly" />
                    <label for="CSSL">CSSL (1%)</label>
                </div>

                <div style="width: 12%" class="input-field col m1">
                    <input type="text" id="PIS" readonly="readonly" />
                    <label for="PIS">PIS (0,65%)</label>
                </div>

                <div style="width: 20%" class="input-field col m1">
                    <input type="text" id="COFINS" readonly="readonly" />
                    <label for="COFINS">COFINS (3%)</label>
                </div>

            </div>

            <div class="row">
                <h5>Impostos devido empresa - FI</h5>
                <hr />

                <div style="width: 12%" class="input-field col m1">
                    <input type="text" id="PISdevido" readonly="readonly" />
                    <label for="PISdevido">PIS (1,65%)</label>
                </div>

                <div style="width: 20%" class="input-field col m1">
                    <input type="text" id="COFINSdevido" readonly="readonly" />
                    <label for="COFINSdevido">COFINS (7,6%)</label>
                </div>

                <div style="width: 12%" class="input-field col m1">
                    <input type="text" id="ISSdevido" readonly="readonly" />
                    <label for="ISSdevido">ISS (5%)</label>
                </div>

                <div class="input-field col m2">
                    <select name="duplaTributacao" id="duplaTributacao" class="select">
                        <option value="" th:selected="selected">Selecione</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                    <label>Dupla Tributação?</label>
                </div>

                <div style="width: 11%" class="input-field col m1">
                    <input type="number" onchange="handleChange(this);" id="percentVariavel" />
                    <label for="percentVariavel">% Variável</label>
                </div>

                <div class="input-field col m2">
                    <input type="number" id="ISSVariavel" />
                    <label for="ISSVariavel">ISS Variável</label>
                </div>

            </div>
            
            <div class="row" id="tabBalancete">
                <h5>Informações do Benefício</h5>
                <hr />

                <div style="width: 12%" class="input-field col m2">
                    <input type="text" id="versaoBalancete" readonly="readonly" />
                    <label for="versaoBalancete">Versão Balancete</label>
                </div>

                <div style="width: 20%" class="input-field col m2">
                    <input type="text" id="apuracaoProducao" readonly="readonly" />
                    <label for="apuracaoProducao">Apuração Produção</label>
                </div>
                
                <div style="width: 20%" class="input-field col m2">
                    <input type="text" id="reducaoImposto" readonly="readonly" />
                    <label for="reducaoImposto">Redução Imposto</label>
                </div>
            </div>

            <div th:id="divCompleta" class="row"></div>
            <div id="corpoFatConsolidados"></div>
            
           
                        
                          <div class = "row" id="corpoFats" th:hidden="hidden">
                          
                	<span style='font-size: 14px;'></span>
                </div>
		
		
		 <div id="memoriaCalculoConsolidado">
                                                <div class="row">
                                                    <div id="escalonado" th:hidden="hidden">
                                                       <span style='font-size: 14px;'><b>Cálculos de Faturamento F.I. (% Escalonado)</b></span>
                                                        <table id="tableEscalonado" class="responsive-table table-default bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Intervalo de Faturamento</th>
                                                                    <th>Valor Aplicado</th>
                                                                    <th>Percentual %</th>
                                                                    <th>Honorários</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody-escalonado">
                                                            </tbody>
                                                        </table>
                                                        <input type="text" id="idValorAcimaDe" th:hidden="hidden" />
                                                        <input type="text" id="idLimitacao" th:hidden="hidden" />
                                                    </div>

                                                    <div id="valorFixo" th:hidden="hidden">
                                                        <span style='font-size: 14px;'><b>Cálculos de Faturamento F.I. (Valor Fixo)</b></span>
                                                        <table class="responsive-table table-default bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Período do Honorário</th>
                                                                    <th>Valor Fixo</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody-valorFixo">
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div id="percentFixo" th:hidden="hidden">
                                                        <span style='font-size: 14px;'><b>Cálculos de Faturamento F.I. (% Fixo)</b></span>
                                                        <table class="responsive-table table-default bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Valor Aplicado</th>
                                                                    <th>% Fixo</th>
                                                                    <th>Valor</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody-percentualFixo">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                           
                     
            

            <div class="row">
                <h5>Observações</h5>
                <hr />

                <div class="input-field col s12">
                    <textarea id="obs" class="materialize-textarea"></textarea>
                    <label for="obs">Comentários gerais</label>
                </div>

            </div>

            <div id="modalLiberarNF" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>Revise as informações do Faturamento:</h4>
                    <div class="row" id='corpoModalNF'>

                        <input type="text" id='fatIdHolder' th:hidden="hidden" />

                        <div class="row ">

                            <h5>Informações Gerais</h5>
                            <hr />

                            <b>Razão Social: </b>
                            <p style="display:inline" id='nfRazaoSocial'></p><br />
                            <b>CNPJ: </b>
                            <p style="display:inline" id='nfCnpj'></p><br />
                            <b>Razão Social a faturar: </b>
                            <p style="display:inline" id='nfRazaoSocialFaturar'></p><br />
                            <b>CNPJ a Faturar: </b>
                            <p style="display:inline" id='nfCnpjFaturar'></p><br />
                            <b>Produto: </b>
                            <p style="display:inline" id='nfProduto'></p><br />
                            <b>Valor Etapa: </b>
                            <p style="display:inline" id='nfValorEtapa'></p><br />

                        </div>

                        <div class="row " id="">
                            <h5>Informações Balancete</h5>
                            <hr />
                            <b>Apuração: </b>
                            <p style="display:inline" id='nfApuracao'></p><br />
                            <b>Versão: </b>
                            <p style="display:inline" id='nfVersao'></p><br />
                            <b>Dispêndio: </b>
                            <p style="display:inline" id='nfDispendio'></p><br />
                            <b>Redução: </b>
                            <p style="display:inline" id='nfReducao'></p><br />

                        </div>
                        <div class="row ">
                            <h5>Informações da Nota Fiscal</h5>
                            <hr />
                            <b>Forma de Pagamento: </b>
                            <p style="display:inline" id='nfFormaPagemento'></p><br />
                            <b>Etapa a faturar: </b>
                            <p style="display:inline" id='nfEtapaFaturar'></p><br />
                            <b>% da etapa: </b>
                            <p style="display:inline" id='nfPorcentEtapa'></p><br />
                            <b>Conclusão: </b>
                            <p style="display:inline" id='nfConclusao'></p><br />
                        </div>
                        </div>
                        
                        
                   
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
                    <a id="releaseNF" class="btn waves-effect waves-green btn-flat">Liberar</a>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <a id='gerar' class="waves-effect waves-green btn-flat">Gerar</a>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/libs/datePickerInit.js"></script>
    <script src="../js/notaFiscal/main.js"></script>
    <script src="../js/notaFiscal/list.js"></script>

</body>

</html>