<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Nota fiscal</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Nota Fiscal</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row ">
            <h5>Informações Gerais</h5>
            <hr />
        </div>
        <div class="row">
            <div class="input-field col m3">
                <input id="cnpjFaturar" type="text" class="tooltip" th:value="${notaFiscal.cnpjFaturar}"
                    th:required="required" name="cnpjFaturar" />
                <label for="cnpjFaturar">CNPJ a Faturar</label>
            </div>

            <div class="input-field col m5">
                <input id="razaoSocialFaturar" type="text" class="tooltip" th:value="${notaFiscal.razaoSocialFaturar}"
                    th:required="required" name="razaoSocialFaturar" />
                <label for="razaoSocialFaturar">Razão Social a Faturar</label>
            </div>

            <div class="input-field col m2">
                <select name="ano" id="ano" class="select">
                	<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                	<option th:if="${notaFiscal?.campanha == null}" th:value="${notaFiscal?.faturamento?.campanha}" th:text="${notaFiscal?.faturamento?.campanha}" th:selected="selected"></option>
                	<option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>                        
                </select>                
                <label>Campanha</label>
            </div>

            <input type="text" name="id" th:value='${notaFiscal.id}' th:hidden="hidden" id="idNota" />
            <input type="text" name="id" th:value='${notaFiscal.faturamento.id}' th:hidden="hidden" id="idFat" />

            <div class="input-field col m1">
                <input id="numeroNF" type="number" class="tooltip" th:value="${notaFiscal.numeroNF}"
                    th:required="required" name="numeroNF" />
                <label for="numeroNnF">N° NF</label>
            </div>
        </div>

        <div class="row ">
            <div class="input-field col m2">
                <select name="filial.id" id="filial" class="select tooltip" th:required="required">
                    <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                    <option th:each="f : ${filiais}" th:value="${f.id}" th:text="${f.nome}"
                        th:selected="(${notaFiscal?.filial?.id == f.id})"></option>
                </select> <label>Filial</label>
            </div>
        </div>

        <div class="row">
            <h5>Informações de Faturamento</h5>
            <hr />
        </div>
        <div class="row">
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Campanha</th>
                        <th>Versão</th>
                        <th>Etapa de trabalho</th>
                        <th>Valor</th>
                        <th>Total a Faturar</th>
                    </tr>
                </thead>
                <tbody id="tbody-informacoes">
                    <tr th:each="nf : ${notaFiscal}">
                        <td th:text="${nf?.faturamento?.produto?.nome}"></td>
                        <td th:text="${nf?.faturamento?.campanha}"></td>
                        <td th:text="${nf?.faturamento?.balancete?.versao}"></td>
                        <td th:text="${nf?.faturamento?.etapa?.nome}"></td>
                        <td th:class="moneyClass" th:text="${nf?.faturamento?.valorEtapa}"></td>
                        <td th:class="moneyClass" th:text="${total}"> </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row ">
            <h5>Informações da Nota Fiscal</h5>
            <hr />
        </div>
        <div class="row">
            <div class="input-field col m3">
                <select name="tipoNotaFiscal" id="selectTipoNotaFiscal" class="select">
                    <option value="" th:disabled="disabled">Selecione</option>
                    <option th:each="tn : ${tipoNotaFiscal}" th:value="${tn.name()}" th:text="${tn.displayName()}"
                        th:selected="(${notaFiscal?.tipoNotaFiscal?.name() == tn.name()})"></option>
                </select> <label>Tipo Nota Fiscal</label>
            </div>

            <div class="input-field col m3" id="numeroNotaSubstituida">
                <input id="numeroNotaSubstituida" th:value="${notaFiscal.numeroNotaSubstituida}" type="text"
                    class="tooltip" name="numeroNotaSubstituida" />
                <label for="numeroNotaSubstituida">Número da Nota Substituída</label>
            </div>
        </div>

        <!-- Modal Structure -->
        <div id="listaDeNotas" class="modal bottom-sheet">
            <div class="modal-content">
                <input type="text" id='fatIdHolder' th:hidden="hidden" />

                <h4>Selecione uma Nota para ser Cancelada</h4>
                <p style="font-size: 15px;">Tem certeza que deseja Cancelar esta Nota e substituí-la?</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
                <a id='retorna' class="waves-effect waves-green btn-flat">Retornar</a>
            </div>
        </div>

        <div id="listaDeNotas" class="modal modal-fixed-footer">
            <div class="modal-content">

                <input type="text" id='fatIdHolderNF' th:hidden="hidden" />

                <h4>Notas</h4>

                <div class="row">

                    <div class="input-field col m1">
                        <select name="campanha" id="campanha" class="select" readonly='readonly'>
                            <option value="" th:selected="selected">Selecione</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                        </select>
                        <label>Campanha</label>
                    </div>

                    <div class="input-field col m2">
                        <input type="text" id="numeroNota" />
                        <label for="numeroNota">N° Nota Fiscal</label>
                    </div>

                </div>

                <div class="input-field col m2">
                    <input class="money" type="text" name="valorCobrar" id="valorCobrar" />
                    <label for="valorCobrar">Valor Cobrar $</label>

                </div>

                <div class="input-field col m2">
                    <label>Data Vencimento</label>
                    <input type="text" id="vencimento" name="vencimento" class="datepicker" />
                </div>

                <div class="input-field col m2">
                    <label>Data Cobrança</label>
                    <input type="text" id="cobrança" name="cobrança" class="datepicker" />
                </div>

                <div class="input-field col m2">
                    <input class="money" type="text" name="valorCobrança" id="valorCobrança" />
                    <label for="valorCobrar">Valor Cobrança $</label>
                </div>

            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
                <a id="releaseNF" class="btn waves-effect waves-green btn-flat">Liberar</a>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
                <a id='gerar' class="waves-effect waves-green btn-flat">Gerar</a>
            </div>
        </div>

        <div class="row">
            <p>
                <input name="cancelada" th:checked="(${notaFiscal.cancelada})" type="checkbox" class="filled-in"
                    id="cancelada" />
                <label for="cancelada">Cancelada</label>
            </p>
            <p>
                <input name="cobranca" th:checked="(${notaFiscal.cobranca})" type="checkbox" class="filled-in"
                    id="cobranca" />
                <label for="cobranca">Paga</label>
            </p>
            <p>
                <input name="atraso" th:checked="(${notaFiscal.atraso})" type="checkbox" class="filled-in"
                    id="atraso" />
                <label for="atraso">Atraso</label>
            </p>
        </div>

        <div class="row">
            <div class="col m2">
                <input type="text" name="dataEmissao" th:placeholder="'DD/MM'" th:value="${notaFiscal.dataEmissao}"
                    id="dataEmissao" class="datepicker" />
                <label for="dataEmissao">Data de Emissão</label>
            </div>
            <div class="col m2">
                <input type="text" name="dataVencimento" th:placeholder="'DD/MM'"
                    th:value="${notaFiscal?.dataVencimento}" id="dataVencimento" class="datepicker" />
                <label for="dataVencimento">Data de Vencimento</label>
            </div>
            <div class="col m2">
                <input type="text" name="dataCobranca" th:placeholder="'DD/MM'" th:value="${notaFiscal.dataCobranca}"
                    id="dataCobranca" class="datepicker" />
                <label for="dataCobranca">Data de Cobrança</label>
            </div>

        </div>

        <div class="row ">
            <h5>Cancelamento/Detalhes</h5>
            <hr />
        </div>

        <div class="row">

            <div class="input-field col m5">
                <select name="motivoCancelamento" id="selectMotivoCancelamento" class="select">
                    <option value="NONE" th:selected="selected">Selecione</option>
                    <option th:each="mc : ${motCancelamento}" th:value="${mc.name()}" th:text="${mc.displayName()}"
                        th:selected="(${notaFiscal?.motivoCancelamento?.name() == mc.name()})"></option>
                </select> <label>Motivo de Cancelamento</label>
            </div>
            <div class="input-field col m5">
                <select name="incidencia" id="selectIncidencia" class="select">
                    <option value="NONE" th:selected="selected" th:disabled="disabled">Selecione</option>
                    <option th:each="in : ${incidencia}" th:value="${in.name()}" th:text="${in.displayName()}"
                        th:selected="(${notaFiscal.incidencia?.name() == in.name()})"></option>
                </select> <label>Incidência</label>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="obsNota" class="materialize-textarea" th:value="${notaFiscal.obsNota}"
                        th:inline="text" th:text="${notaFiscal.obsNota}" name="obsNota"></textarea>
                    <label for="obsNota">Observações Nota Fiscal</label>
                </div>
                
                <div class="input-field col s6">
                    <textarea id="obsCobranca" class="materialize-textarea" th:value="${notaFiscal.obsCobranca}"
                        th:inline="text" th:text="${notaFiscal.obsCobranca}" name="obsCobranca"></textarea>
                    <label for="obsCobranca">Observações Cobrança</label>
                </div>
            </div>

            <div class="row ">
                <h5>Valores/Cobrança</h5>
                <hr />
            </div>
            <div class="row" id="parcelas">
               <div class="input-field col m2">
                    <input id="valorFat" type="text" class="money valor" th:value="${notaFiscal.faturar}"
                        th:required="required" name="valorFat" />
                    <label for="faturar">Valor Bruto R$</label>
                </div>

                <div class="input-field col m2">
                    <input id="cobrar" type="text" class="money valor" th:value="${notaFiscal.cobrar}"
                        th:required="required" name="valorCobrar" />
                    <label for="cobrar">Valor Líquido R$</label>
                </div>


                <div class="input-field col m2">
                    <input id="valorCobranca" type="text" class="money valor" th:value="${notaFiscal.valorCobranca}"
                        th:required="required" name="valorCobranca" />
                    <label for="valorCobranca">Cobrança R$</label>
                </div>

                <div class="row">
                    <div style="width: 12%" class="input-field col m1">
                        <input type="text" id="IRRF" readonly="readonly" />
                        <label for="IRRF">IRRF (1,5%)</label>
                    </div>

                    <div style="width: 12%" class="input-field col m1">
                        <input type="text" id="CSSL" readonly="readonly" />
                        <label for="CSSL">CSSL (1%)</label>
                    </div>

                    <div style="width: 12%" class="input-field col m1">
                        <input type="text" id="PIS" readonly="readonly" />
                        <label for="PIS">PIS (0,65%)</label>
                    </div>

                    <div style="width: 12%" class="input-field col m1">
                        <input type="text" id="COFINS" readonly="readonly" />
                        <label for="COFINS">COFINS (3%)</label>
                    </div>
                </div>
            </div>

            <div class="row ">
                <h5>Parcelas</h5>
                <hr />
            </div>

            <div>
                <input type="text" name="numeroTotalDeParcelas" th:value='${notaFiscal.parcela}' th:hidden="hidden"
                    id="numeroTotalDeParcelas" />

                <div class="row">
                    <a id="addParcela" class="mouse-hand tooltipped" data-position="left"
                        data-tooltip="Adicionar Parcela"><i class="material-icons left">add</i></a>
                    <a id="removeParcela" class="mouse-hand tooltipped" data-position="right"
                        data-tooltip="Remover Parcela"><i style='color: red' class="material-icons left">remove</i></a>
                    <div class="row" id="valorParcelaaa"></div>
                </div>

                <div id="parcela">

                </div>
            </div>

            <div class="row">
                <div class="col m4 left-align">
                    <button id="btn-cad-notaFiscal" class="waves-effect green btn"><i
                            class="material-icons left">add</i>Atualizar</button>
                </div>
                <div class="col m4 center-align">
                    <a th:href="@{/faturamentos/details/} + ${notaFiscal?.faturamento?.id}"
                        class="waves-effect blue btn"><i class="material-icons left">visibility</i>Faturamento</a>
                </div>
                <div class="col m4 right-align">
                    <a th:href="@{/notasFiscais/all}" class="waves-effect tooltip"><i
                           class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        </div>
        
         <div id="modalSubstituiNF" class="modal">
    		<div class="modal-content">
      			<h4>Deseja substituir a Nota Fiscal?</h4>
      		</div>
    				<div class="modal-footer ">
        				<a class="waves-effect btn-flat  subsNF" style="background-color: #4DB6AC"><i class="material-icons">SIM</i></a> 
        				<a class="modal-close waves-effect  red btn-flat" ><i class="material-icons">NÃO</i></a>
    				</div>
  			
  		</div>

        <div th:include="fragments/footer :: footer"></div>
        <script src="../js/notaFiscal/update.js"></script>
        <script src="../js/libs/datePickerInit.js"></script>
        <script src="../js/libs/jquery.mask.min.js"></script>


    </div>
</body>

</html>