<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Métricas"></title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/cliente/list.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Migração</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">


    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script src="../js/libs/datePickerInit.js"></script>

</body>

</html>
