<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Cadastrar Item da Tarefa</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Item de Tarefa</h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <form th:action="@{/itensTarefas/add}" method="POST">

            <div class="row">

                <div class="input-field col m5">
                    <input id="itemTarefaNome" type="text" class="tooltip" th:required="required" name="nome" />
                    <label for="itemTarefaNome">Nome do item</label>
                </div>

                <div class="input-field col m4">
                    <select name="tipo" id="selectTipoItem" class="select" th:required="required">
	                	<option value="" 
	             			th:selected="selected" >Selecione o tipo</option>
	                    <option th:each="f : ${tiposCampo}"
	                    	th:value="${f.name()}"
	                    	th:text="${f.displayName()}"></option>
	                </select>
                    <label>Tipo do Item</label>
                </div>
                 <div class="row">
                 <p class="col m3">
                        <input id="definidor" type="checkbox" name="defineRealizacao" />
                        <label for="definidor" data-tooltip="Esta opção é disponível somente para os itens do tipo Check" class="tooltipped">Este item definirá a etapa como concluída?</label>
                  </p>
                  </div>
                <div class="row">
                    <p class="col m3">
                        <input id="possuiDataPrevisao" type="checkbox" name="possuiDataPrevisao" />
                        <label for="possuiDataPrevisao">Este item possui data de previsão</label>
                    </p>
                    <p class="col m3">
                        <input id="possuiDataRealizado" type="checkbox" name="possuiDataRealizado" />
                        <label for="possuiDataRealizado">Este item possui data de realizado</label>
                    </p>
                    <p class="col m3">
                        <input id="readOnly" type="checkbox" name="readOnly" />
                        <label for="readOnly">Apenas Leitura</label>
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col m6">
                    <button type="submit" class="waves-effect green btn tooltip" id="btnAddProduto">
		                  <i class="material-icons left">add</i>Adicionar
		             </button>
                </div>
                <div class="col m6 right-align">
                    <a href="/tarefas/form" class="waves-effect yellow-text black btn tooltip" id="btnAddTarefa">
                        <i class="material-icons left">add</i>Tarefa
                    </a>
                </div>
            </div>
        </form>
        
        <div class="row">
            <div class="col m5">
                <a id="tabela-lista-exibe" class="mouse-hand"> Ocultar Listas</a>
                <a id="tabela-lista-hidden" class="mouse-hand" th:hidden="hidden"> Exibir Listas</a>
            </div>
        </div>
        
        <div class="row">
            <h5>Listas de Valores</h5>
            <table id="tabela-listas" class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th th:hidden="hidden">#</th>
                        <th>Nome</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody id="tbody-contatos">
                    <tr th:each="i : ${itens}">
                        <td th:if="${i.tipo.toString() == 'LISTA DE VALORES'}" th:text="${i.nome}"></td>
                        <td th:if="${i.tipo.toString() == 'LISTA DE VALORES'}"><a th:href="@{/listas/update/}+${i.id}"  type="submit">
                        <i class="material-icons">edit</i>
                        </a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/itemtarefa/main.js"></script>

</body>

</html>
