<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Itens Tarefa</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/etapaTrabalho/list.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4 th:text="'Itens da tarefa : ' + ${tarefa.nome}"></h4>
                <hr/>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">   
            <section id="filters">
                <div class="input-field col m5">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="txt-pesq-empresa" />
                    <label for="txt-pesq-empresa">Pesquisar item</label>
                </div>
            </section>
            <!-- 
            <div class="col m5 offset-m2">
                <a type="submit" class="waves-effect green btn right" th:href="@{/etapasTrabalho/form}" title="adicionar"><i class="material-icons left">add</i>Etapa de trabalho</a>
            </div>
             -->
        </div>
        <div class="row">
            <table id="tabela-etapas-trabalho" class="responsive-table bordered">
                <thead>
                    <tr>
                        <th th:hidden="hidden">#</th>
                        <th>Nome do item</th>
                        <th>Tipo do item</th>
                        <th>Data de previsão?</th>
                        <th>Data realizado?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${tarefa.itensTarefa}" class="itemTarefa">
                        <td th:hidden="hidden" id="tarefa" th:text="${item.id}"></td>
                        <td id="nome" th:text="${item.nome}"></td>
                        <td id="tipo" th:text="${item.tipo.displayName()}"></td>
                        <td id="dataprevisao">
                            <div th:switch="${item.possuiDataPrevisao}">
                                <span th:case="true">Sim</span>
                                <span th:case="false">Não</span>
                            </div>
                        </td>
                        <td id="datarealizado">
                            <div th:switch="${item.possuiDataRealizado}">
                                <span th:case="true">Sim</span>
                                <span th:case="false">Não</span>
                            </div>
                        </td>
                        <td class="right">
                            <a th:href="@{/itensTarefas/} + ${item.id}" class="btn light-blue darken-4">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                        <!-- 
                    	<td>
	                        <a th:href="@{/produtos/details/} + ${produto.id}" class="btn grey darken-1 ">
	                            <i class="material-icons">visibility</i>
	                        </a>
                    	</td>
                    	 -->
                        <!-- 
                        <td sec:authorize="hasRole('ROLE_ADMIN')">
                            <form th:action="@{/produtos/delete/} + ${tarefa.id}" method="POST" id="formDeleteProduto">
                                <input type="hidden" th:value="${tarefa.id}" name="cnpj" />
                                <button type="submit" class="btn tooltip red"><i class="material-icons">delete</i></button>
                            </form>
                        </td>
                         -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/etapaTrabalho/list.js"></script>

</body>

</html>
