<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Acompanhamentos"></title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <h4>Tarefas de </h4>
                <h4 th:text="${acompanhamento.nome}"></h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <form th:action="@{/producoes/acompanhamentos/update}" method="POST">
        <div class="row">
            <ul class="collapsible popout" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">import_contacts</i>Documentação administrativo/financeira</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="row">
                            
                            <input type="text" name="id" th:value="${acompanhamento.id}" th:hidden="hidden" />
                            <input type="text" name="producao.id" th:value="${acompanhamento.producao.id}" th:hidden="hidden" />
							<input type="text" name="documentacao.id" th:value="${acompanhamento.documentacao.id}" th:hidden="hidden" />
							<input type="text" name="documentacao.acompanhamento.id" th:value="${acompanhamento.id}" th:hidden="hidden" />
							<input type="text" name="nome" th:value="${acompanhamento.nome}" th:hidden="hidden" />
							
                            <div class="col m3">
                                <input th:value="${acompanhamento.documentacao.previsaoDocumentacao}" type="text" id="previsaoRecebebimentoDocu" name="documentacao.previsaoDocumentacao" class="datepicker" />
                                <label for="previsaoRecebebimentoDocu">Previsão receber documentação</label>
                            </div>

                            <p class="col m4">
                                <input id="infoRecebidaDocu" th:checked="${acompanhamento.documentacao.informacaoRecebida}" type="checkbox" name="documentacao.informacaoRecebida" />
                                <label for="infoRecebidaDocu">Informação recebida</label>
                            </p>

                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <input type="text" id="acompId" th:value="${acompanhamento.id}" th:hidden="hidden" />
            <ul class="collapsible popout" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">info_outline</i>Informação cálculo</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="row">
                        <input type="text" name="informacaoCalculo.id" th:value="${acompanhamento?.informacaoCalculo?.id}" th:hidden="hidden" />
                        <input type="text" name="informacaoCalculo.acompanhamento.id" th:value="${acompanhamento.id}" th:hidden="hidden" />

                            <div class="col m3">
                                <input type="text" th:value="${acompanhamento.informacaoCalculo.previsaoDocumentacao}" id="previsaoRecebebimentoInfoCalc" name="informacaoCalculo.previsaoDocumentacao" class="datepicker" />
                                <label for="previsaoRecebebimentoInfoCalc">Previsão receber documentação</label>
                            </div>

                            <p class="col m4">
                                <input id="infoRecebidaInfoCalc" th:checked="${acompanhamento.informacaoCalculo.informacaoRecebida}" type="checkbox" name="informacaoCalculo.informacaoRecebida" />
                                <label for="infoRecebidaInfoCalc">Informação recebida</label>
                            </p>

                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <ul class="collapsible popout" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">info_outline</i>Informação técnica</div>
                    <div class="collapsible-body grey lighten-3">
                        <input type="text" name="informacaoTecnica.id" th:value="${acompanhamento?.informacaoTecnica?.id}" th:hidden="hidden" />
                        <input type="text" name="informacaoTecnica.acompanhamento.id" th:value="${acompanhamento.id}" th:hidden="hidden" />
                        
                        
                        <div class="row">
                            
                            <div class="col m3">
                                <input type="text" id="previsaoRecebebimentoInfoTec" th:value="${acompanhamento.informacaoTecnica.previsaoDocumentacao}" name="informacaoTecnica.previsaoDocumentacao" class="datepicker" />
                                <label for="previsaoRecebebimentoInfoTec">Previsão receber documentação</label>
                            </div>

                            <p class="col m4">
                                <input id="infoRecebidaInfoTec" th:checked="${acompanhamento.informacaoTecnica.informacaoRecebida}" type="checkbox" name="informacaoTecnica.informacaoRecebida" />
                                <label for="infoRecebidaInfoTec">Informação recebida</label>
                            </p>
                        </div>

                        <div class="row">
                            <div class="col m2">
                                <input type="number" id="reunioesNecessariasInfoTec" th:value="${acompanhamento.informacaoTecnica.reunioes}" name="informacaoTecnica.reunioes" />
                                <label for="reunioesNecessariasInfoTec">Reuniões presenciais necessárias</label>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <ul class="collapsible popout" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">library_books</i>Relatório técnico/financeiro</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="row">
						<input type="text" name="relatorioTecnico.id" th:value="${acompanhamento?.relatorioTecnico?.id}" th:hidden="hidden" />
                        <input type="text" name="relatorioTecnico.acompanhamento.id" th:value="${acompanhamento.id}" th:hidden="hidden" />
                            
                            <div class="input-field col m4">
                                <select name="relatorioTecnico.feitoPor.id" id="feitoPorRel" class="select" th:required="required">
	                	<option value="" th:disabled="disabled" th:value="'NULL'" 
                     			th:selected="selected">Selecione</option>
	                    <option th:each="c : ${consultores}"
	                      	th:value="${c.id}"
	                      	th:text="${c.nome}"
	                      	th:selected="(${c.nome} == *{acompanhamento?.relatorioTecnico?.feitoPor?.nome})">
	                    </option>
	           					 	</select>
                                <label for="feitoPorRel">Feito por</label>
                            </div>

                            <div class="input-field col m2">
                                <input type="number" id="porcentagemFeitaRel" th:value="${acompanhamento.relatorioTecnico.porcentagemRealizado}" max="100" min="0" name="relatorioTecnico.porcentagemRealizado" />
                                <label for="porcentagemFeitaRel">% Realizado</label>
                            </div>

                        </div>
                        <div class="row">

                            <div class="input-field col m4">
                                <select name="relatorioTecnico.validadoPor.id" id="validadoPorRel" class="select" th:required="required">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="l : ${lideres}" 
											th:value="${l.id}"
											th:text="${l.nome}"
											th:selected="(${l.nome} == *{acompanhamento?.relatorioTecnico?.validadoPor?.nome})"></option>
									</select>
                                <label for="validadoPorRel">Validado por</label>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col m3">
                                <input type="text" id="enviadoEm" th:value="${acompanhamento.relatorioTecnico.enviadoEm}" name="relatorioTecnico.enviadoEm" class="datepicker" /> 
                                <label for="enviadoCliente">Enviado ao cliente</label>
                            </div>

                        </div>

                        <div class="row">

                            <div class="input-field col m3">
                                <select name="relatorioTecnico.estado" id="select-estado" class="select">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="e : ${estado}"
											th:value="${e.name()}" 
											th:text="${e.displayName()}"
											th:selected="(${e.name()} == *{acompanhamento?.relatorioTecnico?.estado?.name()})">
										</option>
									</select> <label for="select-estado">Estado</label>
                            </div>

                        </div>

                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <ul class="collapsible popout" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">send</i>Envio relatório acompanhamento parcial</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="row">
						<input type="text" name="envioRelatorio.id" th:value="${acompanhamento?.envioRelatorio?.id}" th:hidden="hidden" />
                        <input type="text" name="envioRelatorio.acompanhamento.id" th:value="${acompanhamento.id}" th:hidden="hidden" />  
                            
                            <div class="input-field col m4">
                                <select name="acompanhamento.envioRelatorio.feitoPor.id" id="feitoPorEnvio" class="select" th:required="required">
	                	<option value="" th:disabled="disabled" th:value="'NULL'" 
                     			th:selected="selected">Selecione</option>
	                    <option th:each="c : ${consultores}"
	                      	th:value="${c.id}"
	                      	th:text="${c.nome}"
	                      	th:selected="(${c.nome} == *{acompanhamento?.envioRelatorio?.feitoPor?.nome})">
	                    </option>
	           					 	</select>
                                <label for="feitoPorEnvio">Feito por</label>
                            </div>

                            <div class="input-field col m4">
                                <select name="acompanhamento.envioRelatorio.validadoPor.id" id="validadoPorEnvio" class="select" th:required="required">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="l : ${lideres}" th:value="${l.id}"
											th:text="${l.nome}"
											th:selected="(${l.nome} == *{acompanhamento?.recurso?.validadoPor?.nome})"></option>
									</select>
                                <label for="validadoPorEnvio">Validado por</label>
                            </div>
                            </div>
                            
                            <div class="row">
                            <div class="col m3">
                                <input type="text" id="enviadoEmEnvio" th:value="${acompanhamento.envioRelatorio.enviadoEm}" name="envioRelatorio.enviadoEm" class="datepicker" /> 
                                <label for="enviadoEmEnvio">Enviado ao cliente</label>
                            </div>
							
							<p class="col m4">
                                <input id="validadoClienteEnvio" th:checked="${acompanhamento.envioRelatorio.validadoEm}" type="checkbox" name="envioRelatorio.validadoEm" />
                                <label for="validadoClienteEnvio">Validado por cliente</label>
                            </p>
							
                        </div>
                        <div class="row">
                        
                         <div class="col m3">
                                <input type="text" id="protocolizacaoEnvio" th:value="${acompanhamento.envioRelatorio.dataProtocolo}" name="envioRelatorio.dataProtocolo" class="datepicker" /> 
                                <label for="protocolizacaoEnvio">Data protocolização</label>
                            </div>
                        
                        </div>
                        
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <ul class="collapsible popout" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">question_answer</i>Questionamentos</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="row">
                            <input type="text" name="questionamentos.id" th:value="${acompanhamento?.questionamentos?.id}" th:hidden="hidden" />
                            <input type="text" name="questionamentos.acompanhamento.id" th:value="${acompanhamento.id}" th:hidden="hidden" /> 
                            
                            <div class="col m3">
                                <input type="text" id="dataRecebimentoQuest" th:value="${acompanhamento.questionamentos.dataRecebimento}" name="questionamentos.dataRecebimento" class="datepicker" /> 
                                <label for="dataRecebimentoQuest">Data Recebimento</label>
                            </div>
                            
                            <div class="col m3">
                                <input type="text" id="dataLimiteQuest" th:value="${acompanhamento.questionamentos.dataLimite}" name="questionamentos.dataLimite" class="datepicker" /> 
                                <label for="dataLimiteQuest">Data Limite</label>
                            </div>
                            
                        </div>
                        
                        <div class="row">
                        <div class="input-field col m12">
                        <input type="text" id="questQuest" th:value="${acompanhamento.questionamentos.questionamento}" name="questionamentos.questionamento" />
                        <label>Questionamento</label>
                        </div>
                        
                        </div>
                        
                        <div class="row">
                        <div class="input-field col m4">
                                    <input class="money" type="text" th:value="${acompanhamento.questionamentos.valorQuestionado}" name="questionamentos.valorQuestionado" id="valorQuestionadoQuest" />
                                    <label for="valorQuestionadoQuest">Valor(R$) Questionado</label>
                                </div>
                        </div>
                        
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <ul class="collapsible popout" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">announcement</i>Recurso</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="row">
                            <div class="row">
                            <input type="text" name="recurso.id" th:value="${acompanhamento?.recurso?.id}" th:hidden="hidden" />
							<input type="text" name="recurso.acompanhamento.id" th:value="${acompanhamento.id}" th:hidden="hidden" /> 

                            <div class="input-field col m4">
                                <select name="acompanhamento.recurso.feitoPor.id" id="feitoPorRecurso" class="select" th:required="required">
	                	<option value="" th:disabled="disabled" th:value="'NULL'" 
                     			th:selected="selected">Selecione</option>
	                    <option th:each="c : ${consultores}"
	                      	th:value="${c.id}"
	                      	th:text="${c.nome}"
	                      	th:selected="(${c.nome} == *{acompanhamento?.recurso?.feitoPor?.nome})">
	                    </option>
	           					 	</select>
                                <label for="feitoPorRecurso">Feito por</label>
                            </div>

                            <div class="input-field col m4">
                                <select name="acompanhamento.recurso.validadoPor.id" id="validadoPorRecurso" class="select" th:required="required">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="l : ${lideres}" th:value="${l.id}"
											th:text="${l.nome}"
											th:selected="(${l.nome} == *{acompanhamento?.recurso?.validadoPor?.nome})"></option>
									</select>
                                <label for="validadoPorRecurso">Validado por</label>
                            </div>
                            </div>
                            
                            <div class="row">
                            <div class="col m3">
                                <input type="text" id="enviadoEmRecurso" th:value="${acompanhamento.recurso.enviadoEm}" name="recurso.enviadoEm" class="datepicker" /> 
                                <label for="enviadoEmRecurso">Enviado ao cliente</label>
                            </div>
							
							<p class="col m4">
                                <input id="validadoClienteRecurso" type="checkbox" th:checked="${acompanhamento.recurso.validado}" name="recurso.validado" />
                                <label for="validadoClienteRecurso">Validado por cliente</label>
                            </p>
							
                        </div>
                        <div class="row">
                        
                        <div class="col m3">
                                <input type="text" id="protocolizacaoRecurso" th:value="${acompanhamento.recurso.dataProtocolizacao}" name="recurso.dataProtocolizacao" class="datepicker" /> 
                                <label for="protocolizacaoRecurso">Data protocolização</label>
                        </div>
                        
                        </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <ul class="collapsible popout" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">notifications</i>Resultado final</div>
                    <div class="collapsible-body grey lighten-3">
                        <div class="row">
                            <input type="text" name="resultadoFinal.id" th:value="${acompanhamento?.resultadoFinal?.id}" th:hidden="hidden" />
                            <input type="text" name="resultadoFinal.acompanhamento.id" th:value="${acompanhamento.id}" th:hidden="hidden" /> 
                            
                            <div class="col m3">
                                <input type="text" id="dataRecebimentoQuest" th:value="${acompanhamento.resultadoFinal.dataRecebimento}" name="resultadoFinal.dataRecebimento" class="datepicker" /> 
                                <label for="dataRecebimentoQuest">Data Recebimento</label>
                            </div>
                            
                            </div>
                            <div class="row">

                            <div class="input-field col m3">
                                <select name="acompanhamento.resultadoFinal.resultado" id="select-resultado" class="select">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="r : ${resultado}"
											th:value="${r.name()}" 
											th:text="${r.displayName()}"
											th:selected="(${r.name()} == *{acompanhamento?.resultadoFinal?.resultado?.name()})">
										</option>
									</select> <label for="select-resultado">Resultado</label>
                            </div>
                            </div>
                            
                            <div class="row">
                        	<div class="input-field col m4">
                                    <input class="money" type="text" th:value="${acompanhamento.resultadoFinal.valorQuestionado}" name="resultadoFinal.valorQuestionado" id="questionado" />
                                    <label for="questionado">Valor(R$) Questionado</label>
                                </div>
                        </div> 
                    </div>
                </li>
            </ul>
        </div>

		<div class="row">
			<div class="col m3">
                    <button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
						<i class="material-icons left">save</i>Salvar
					</button>
            </div>
            
             <div class="col m8 right-align">
            <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
        </div>
		</div>
		
		
		</form>
		
		
       
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/update.js}"></script>
	<script th:src="@{/js/producao/itemTest.js}"></script>
	<script th:src="@{/js/libs/datePickerInit.js}"></script>
	<script th:src="@{/js/libs/jquery.mask.min.js}"></script>

</body>

</html>
