<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Acompanhamentos"></title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <h4 th:text="Acompanhamentos"></h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
    
    		 <nav>
                <div class="nav-wrapper">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb" th:text="${cliente.razaoSocial}"></a>
                        <a th:href="@{/producoes/update/} + ${producao.id}" class="breadcrumb" th:text="${producao.ano}+' Etapas'"></a>
                        <a th:href="@{/producoes/acompanhamentos/} + ${producao.id}" class="breadcrumb">Acompahamentos</a>
                    </div>
                </div>
            </nav>
    
        <div class="row">

            <form th:action="@{/producoes/acompanhamentos/add}" method="POST">
                
                <div class="row">
                <div class="input-field col m5">
                	<input type="text" name="idProducao" th:value="${producao.id}" th:hidden="hidden" />
                	<input type="text" name="nome" id="nome" />
                	<label for="nome">Nome</label>
                </div>
                </div>
                <div class="row">
                    <div class="col m4">
                        <button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
						<i class="material-icons left">add</i>Add Acompanhamento
					</button>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="row">
                
                    <table>
                        <thead>
                            <tr>
                                <th>Acompanhamento</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="a : ${acompanhamentos}">
                                <td th:text="${a.nome}"></td>
                                <td> <a th:href="@{/producoes/acompanhamentoTarefas/} + ${a.id}" class="btn light-blue darken-4">
                 				<i class="material-icons">edit</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </form>
            <div class="col m8 right-align">
                <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/update.js}"></script>

</body>

</html>
