<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Acompanhamento</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Atualizar acompanhamento</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb"
                            th:text="${cliente.razaoSocial}"></a>
                        <a th:href="@{/producoes/update/} + ${producao.id}" class="breadcrumb" th:text="'Etapas'"></a>
                        <a th:href="@{/producoes/subProd/} + ${etapas.producao.id} +'?idEtapa='+ ${etapas.etapa.id}"
                            class="breadcrumb" th:text="${etapas.etapa.nome}"></a>
                        <a href="" class="breadcrumb" th:text="${subProducao.descricao}"></a>
                    </div>
                </div>
            </nav>
        </div>

        <form th:action="@{/producoes/acompanhamentoEx/update} +'?idEtapas='+${etapas.id}" method="POST">

            <input type="text" hidden="hidden" name="etapasId" th:value="${etapasId}" />
            <input type="text" hidden="hidden" name="producao.id" th:value="${producao.id}" />
            <input type="text" hidden="hidden" name="subProducao.id" th:value="${subProducao.id}" />
            <input type="text" hidden="hidden" name="id" th:value="${acomp.id}" />

            <br />

            <div class="row">

                <p>
                    <input name="contatoRealizado" th:checked="${acomp.contatoRealizado}" type="checkbox"
                        class="filled-in" id="contatoRealizado" />
                    <label for="contatoRealizado">Contato com o cliente realizado</label>
                </p>
                <p>
                    <input name="envioComprovante" th:checked="${acomp.envioComprovante}" type="checkbox"
                        class="filled-in" id="envioComprovante" />
                    <label for="envioComprovante">Envio de comprovante do Recebimento da Máquina/Equipamento</label>
                </p>

            </div>

            <div class="row">

                <div class="input-field col m2">
                    <input type="text" th:value="${acomp?.dataInicio}" id="dataInicio" name="dataInicio"
                        class="datepicker" />
                    <label for="dataInicio">Início do Trimestre Analisado</label>
                </div>

                <div class="input-field col m2">
                    <input type="text" th:value="${acomp?.dataInicio}" id="dataFim" name="dataFim" class="datepicker" />
                    <label for="dataFim">Final do Trimestre Analisado</label>
                </div>

            </div>

            <div class="row">

                <div class="input-field col m2">
                    <input type="number" th:value="${acomp?.itensRecebidos}" name="itensRecebidos"
                        id="itensRecebidos" />
                    <label for="itensRecebidos">N° Itens Recebidos</label>
                </div>

                <div class="input-field col m2">
                    <input class="money" type="text" th:value="${acomp?.valorItensRecebidos}" name="valorItensRecebidos"
                        id="valorItensRecebidos" />
                    <label for="valorItensRecebidos">Valor(R$) Itens Recebidos</label>
                </div>

                <div class="input-field col m2">
                    <select th:required="required" name="moedaTransacao" id="select-moedaTransacao" class="select">
                        <option th:value="${acomp?.moedaTransacao}" th:text="${acomp?.moedaTransacao}"
                            th:selected="selected">Selecione</option>
                        <option value="Dólar">Dólar</option>
                        <option value="Euro">Euro</option>
                        <option value="Real">Real</option>
                    </select>
                    <label for="select-moedaTransacao">Moeda da Transação</label>
                </div>

            </div>

            <div class="row">

                <div class="input-field col m1">
                    <input th:value="${acomp?.percentualReducao}" type="number" name="percentualReducao"
                        id="percentualReducao" />
                    <label for="percentualReducao">% Redução</label>
                </div>

                <div class="input-field col m2">
                    <input class="money" type="text" th:value="${acomp?.beneficioCalculado}" name="beneficioCalculado"
                        id="beneficioCalculado" />
                    <label for="beneficioCalculado">Benefício Cálculado (R$)</label>
                </div>

            </div>

            <div class="row">

                <div class="input-field col m4">
                    <select name="feitoPor.id" id="select-feitoPor" class="select">
                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                        <option th:each="c : ${consultores}" th:value="${c.id}" th:text="${c.sigla} +', '+${c.nome} "
                            th:selected="(${acomp?.feitoPor?.sigla == c.sigla})"></option>
                    </select>
                    <label for="select-feitoPor">Feito Por</label>
                </div>

                <div class="input-field col m4">
                    <select name="validadoPor.id" id="select-validadePor" class="select">
                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                        <option th:each="c : ${lideres}" th:value="${c.id}" th:text="${c.sigla} +', '+${c.nome} "
                            th:selected="(${acomp?.validadoPor?.sigla == c.sigla})"></option>
                    </select>
                    <label for="select-validadePor"> Validado por superior</label>
                </div>

            </div>

            <div class="row">

                <div class="input-field col m2">
                    <input type="text" th:value="${acomp?.dataEnviado}" id="dataEnviado" name="dataEnviado"
                        class="datepicker" />
                    <label for="dataEnviado">Enviado ao Cliente</label>
                </div>

                <div class="input-field col m2">
                    <input type="text" th:value="${acomp?.dataAprovado}" id="dataAprovado" name="dataAprovado"
                        class="datepicker" />
                    <label for="dataAprovado">Validado pelo Cliente</label>
                </div>

                <div class="col m2">
                    <p>
                        <input name="aprovado" th:checked="${acomp.aprovado}" type="checkbox" class="filled-in"
                            id="aprovado-check" />
                        <label for="aprovado-check">Aprovado</label>
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col m3">
                    <button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
                        <i class="material-icons left">save</i>Salvar
                    </button>
                </div>
            </div>


        </form>
        <div class="row">
            <div class="col m10 right-align">
                <a href="javascript:history.back()" class="waves-effect tooltip"><i
                        class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/balanceteROTA.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>

</body>

</html>