<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Auditoria Econômica</title>
    <link th:include="fragments/header :: header-css" />
</head>

<style>

 .nav-wrapper{
  background-color: #616161;
  min-height: 74px;
  min-width: 900px;
  overflow: auto;
  white-space: nowrap;
}

.nav-wrapper a {
  display: inline-block;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}
</style>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Auditoria Econômica</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <nav>
            <div class="nav-wrapper">
                <div class="col m12 grey darken-2 z-depth-1">
                    <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb" th:text="${cliente.razaoSocial}"></a> <a th:href="@{/producoes/update/} + ${producao.id}" class="breadcrumb" th:text="${producao.ano}+' Etapas'"></a> <a th:href="@{/producoes/tarefa/} + ${etapa.id}" class="breadcrumb">Tarefas</a>
                    <a href="#!" class="breadcrumb">Auditoria Econômica</a>
                </div>
            </div>
        </nav>

		<br/>
        <form th:action="@{/producoes/auditoriaEconomica/update}" method="POST">

                            <div class="row">

                                <input type="text" name="idProducao" th:value="${producao.id}" th:hidden="hidden" />
                                <input type="text" name="idEtapas" th:value="${etapas.id}" th:hidden="hidden" />
                                <input type="text" name="id" th:value="${auditoria.id}" th:hidden="hidden" />
                                

                                <div class="input-field col m4">
                                    <input type="text" th:value="${auditoria.nomeProjeto}" name="nomeProjeto" id="nomeProjeto" />
                                    <label for="nomeProjeto">Nome do Projeto</label>
                                </div>

                                <div class="input-field col m2">
                                    <select th:required="required" class="select" name="tipoDispendio" id="select-tipoDispendio">
                                        <option th:value="${auditoria.tipoDispendio}" th:text="${auditoria.tipoDispendio}" th:selected="selected"></option>
                                        <option value="Interno">Interno</option>
                                        <option value="Repassado">Repassado</option>
                                        <option value="Misto">Misto</option>
                                    </select>
                                    <label for="select-tipoDispendio">Tipo de Dispêndio</label>
                                </div>

                                <div class="input-field col m2">
                                    <input th:value="${auditoria.porcentagemRealizado}" type="number" onchange="handleChange(this);" name="porcentagemRealizado" id="porcentagemRealizado" /><span></span>
                                    <label for="porcentagemRealizado">% Realizado</label>
                                </div>

                            </div>
                            <div class="row">

                                <div class="input-field col m4">
                                    <input th:value="${auditoria.valorAprovado}" class="money" type="text" name="valorAprovado" id="valorAprovado" />
                                    <label for="valorAprovado">Valor(R$) Aprovado</label>
                                </div>

                                <div class="input-field col m4">
                                    <input th:value="${auditoria.valorGlosado}" class="money" type="text" name="valorGlosado" id="valorGlosado" />
                                    <label for="valorGlosado">Valor(R$) Glosado</label>
                                </div>

                                <div class="input-field col m4">
                                    <input th:value="${auditoria.valorTotal}" class="money" type="text" name="valorTotal" id="valorTotal" />
                                    <label for="valorTotal">Valor(R$) Total</label>
                                </div>

                            </div>


                            <div class="row">
                                <div class="input-field col m8">
                                    <textarea id="observacoes" name="observacoes" class="materialize-textarea" th:inline="text">[[${auditoria.observacoes}]]</textarea>
                                    <label for="observacoes">Observações</label>
                                </div>
                            </div>

                            <div class="row">

                               <div class="input-field col m3">
                                    <select name="feitoPor.id" id="select-feitoPor" class="select">
										<option value="" th:disabled="disabled" 
											th:selected="selected">Selecione</option>
										<option th:each="c : ${consultores}" 
											th:value="${c.id}"
											th:text="${c.sigla} +', '+${c.nome} "
											th:selected="(${auditoria?.feitoPor?.sigla == c.sigla})"></option>
										</select>
                                    <label for="select-feitoPor">Feito Por</label>
                                </div>

					<div class="input-field col m4">
                                    <select name="validadoPor.id" id="select-validadePor" class="select">
	                					<option value="" th:disabled="disabled"  
                     						th:selected="selected">Selecione</option>
	                    				<option th:each="c : ${lideres}"
	                      					th:value="${c.id}"
	                      					th:text="${c.sigla} +', '+${c.nome} "
	                      					th:selected="(${auditoria?.validadoPor?.sigla == c.sigla})"></option>
	             					</select>
                                    <label for="select-validadePor"> Validado por superior</label>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col m2">
                                    <button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
                                        <i class="material-icons left">add</i>Atualizar
                                    </button>
                                </div>
                            </div>

        </form>

        <div class="row">
            <div class="col m10 right-align">
                <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/auditoriaEconomica.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>

</body>

</html>
