<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Auditoria de Projetos</title>
    <link th:include="fragments/header :: header-css" />
</head>

<style>

 .nav-wrapper{
  background-color: #616161;
  min-height: 74px;
  min-width: 900px;
  overflow: auto;
  white-space: nowrap;
}

.nav-wrapper a {
  display: inline-block;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}
</style>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Auditoria de Projetos</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <nav>
            <div class="nav-wrapper">
                <div class="col m12 grey darken-2 z-depth-1">
                    <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb" th:text="${cliente.razaoSocial}"></a> <a th:href="@{/producoes/update/} + ${producao.id}" class="breadcrumb" th:text="${producao.ano}+' Etapas'"></a> <a th:href="@{/producoes/tarefa/} + ${etapa.id}" class="breadcrumb">Tarefas</a>
                    <a href="#!" class="breadcrumb">Auditoria de Projetos</a>
                </div>
            </div>
        </nav>
        <br/>

        <form th:action="@{/producoes/auditoriaProjetos/add}" method="POST">
            <div class="row">
                <ul class="collapsible popout" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">add_box</i>Adicionar Auditoria de Projetos
                        </div>
                        <div class="collapsible-body grey lighten-3">
                            <div class="row">

                                <input type="text" name="idProducao" th:value="${producao.id}" th:hidden="hidden" />
                                <input type="text" name="idEtapas" th:value="${etapas.id}" th:hidden="hidden" />

                                <div class="input-field col m4">
                                    <input type="text" name="nomeProjeto" id="nomeProjeto" />
                                    <label for="nomeProjeto">Nome do Projeto</label>
                                </div>

                                <div class="input-field col m2">
                                    <input style="left: 100px;" type="number" onchange="handleChange(this);" name="porcentagemRealizado" id="porcentagemRealizado" /><span></span>
                                    <label for="porcentagemRealizado">% Realizado</label>
                                </div>

                            </div>

                            <div class="row">

                                <ul>
                                    <li>
                                        <input id="atividadesRelacionadas" name="atividadesRelacionadas" type="checkbox" />
                                        <label for="atividadesRelacionadas">As atividades do projeto se referem ou estão relacionadas de forma complementar a outras realizadas nas áreas de TI e Comunicação.</label>
                                    </li>
                                    <li>
                                        <input id="infoPodemSerValidadas" name="infoPodemSerValidadas" type="checkbox" />
                                        <label for="infoPodemSerValidadas">Os campos do relatório foram preenchidos com informações que podem ser avaliadas.</label>
                                    </li>
                                    <li>
                                        <input id="atividadesDentroPeriodo" name="atividadesDentroPeriodo" type="checkbox" />
                                        <label for="atividadesDentroPeriodo">As atividades foram desenvolvidas dentro do período válido para o ano base relativo ao RDA apresentado.</label>
                                    </li>
                                </ul>

                            </div>

                            <div class="row">

                                <div class="input-field col m4">
                                    <select th:required="required" class="select" name="categoria" id="select-categoria">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option value="P,D&amp;I Stricto Sensu">P,D&amp;I Stricto Sensu</option>
                                        <option value="P,D&amp;I de Capacitação e formação">P,D&amp;I de Capacitação e formação</option>
                                    </select>
                                    <label for="select-categoria">Categoria</label>
                                </div>

                                <div class="input-field col m4">
                                    <select th:required="required" class="select" name="resultado" id="select-resultado">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option value="Enquadrado">Enquadrado</option>
                                        <option value="Não enquadrado">Não enquadrado</option>
                                        <option value="Não enquadrado por falta de informação">Não enquadrado por falta de informação</option>
                                    </select>
                                    <label for="select-resultado">Resultado</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m3">
                                    <select name="feitoPor.id" id="select-feitoPor" class="select">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${consultores}" th:value="${c.id}" th:text="${c.sigla} +', '+${c.nome} "></option>
                                    </select>
                                    <label for="select-feitoPor">Feito Por</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="validadoPor.id" id="select-validadePor" class="select">
                                        <option value="" th:disabled="disabled" th:value="'NULL'" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${lideres}" th:value="${c.id}" th:text="${c.sigla} +', '+${c.nome} ">
                                        </option>
                                    </select>
                                    <label>Validado por</label>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col m2">
                                    <button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
                                        <i class="material-icons left">add</i>Add
                                    </button>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </form>

        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>Projeto</th>
                        <th>% Realizado</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="p : ${auditorias}">
                        <td th:text="${p?.nomeProjeto}"></td>
                        <td th:text="${p?.porcentagemRealizado}"></td>
                        <td><a th:href="@{/producoes/auditoriaProjetosUpdate/} + ${p.id} +'?idEtapas='+${etapas.id}" class="btn light-blue darken-4"> <i class="material-icons">edit</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col m10 right-align">
                <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/auditoriaEconomica.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>

</body>

</html>
