<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Auditoria de Projetos</title>
    <link th:include="fragments/header :: header-css" />
</head>

<style>

 .nav-wrapper{
  background-color: #616161;
  min-height: 74px;
  min-width: 900px;
  overflow: auto;
  white-space: nowrap;
}

.nav-wrapper a {
  display: inline-block;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}
</style>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Auditoria de Projetos</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <nav>
            <div class="nav-wrapper">
                <div class="col m12 grey darken-2 z-depth-1">
                    <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb" th:text="${cliente.razaoSocial}"></a> <a th:href="@{/producoes/update/} + ${producao.id}" class="breadcrumb" th:text="${producao.ano}+' Etapas'"></a> <a th:href="@{/producoes/tarefa/} + ${etapa.id}" class="breadcrumb">Tarefas</a>
                    <a href="#!" class="breadcrumb">Auditoria de Projetos</a>
                </div>
            </div>
        </nav>

        <form th:action="@{/producoes/auditoriaProjetos/update}" method="POST">

            <br />
            <div class="row">

                <input type="text" name="idProducao" th:value="${producao.id}" th:hidden="hidden" />
                <input type="text" name="idEtapas" th:value="${etapas.id}" th:hidden="hidden" />
                <input type="text" name="id" th:value="${auditoria.id}" th:hidden="hidden" />

                <div class="input-field col m4">
                    <input type="text" th:value="${auditoria.nomeProjeto}" name="nomeProjeto" id="nomeProjeto" />
                    <label for="nomeProjeto">Nome do Projeto</label>
                </div>

                <div class="input-field col m2">
                    <input style="left: 100px;" th:value="${auditoria.porcentagemRealizado}" type="number" onchange="handleChange(this);" name="porcentagemRealizado" id="porcentagemRealizado" /><span></span>
                    <label for="porcentagemRealizado">% Realizado</label>
                </div>

            </div>

            <div class="row">

                <ul>
                    <li>
                        <input id="atividadesRelacionadas" th:checked="${auditoria.atividadesRelacionadas}" name="atividadesRelacionadas" type="checkbox" />
                        <label for="atividadesRelacionadas">As atividades do projeto se referem ou estão relacionadas de forma complementar a outras realizadas nas áreas de TI e Comunicação.</label>
                    </li>
                    <li>
                        <input id="infoPodemSerValidadas" th:checked="${auditoria.infoPodemSerValidadas}" name="infoPodemSerValidadas" type="checkbox" />
                        <label for="infoPodemSerValidadas">Os campos do relatório foram preenchidos com informações que podem ser avaliadas.</label>
                    </li>
                    <li>
                        <input id="atividadesDentroPeriodo" th:checked="${auditoria.atividadesDentroPeriodo}" name="atividadesDentroPeriodo" type="checkbox" />
                        <label for="atividadesDentroPeriodo">As atividades foram desenvolvidas dentro do período válido para o ano base relativo ao RDA apresentado.</label>
                    </li>
                </ul>

            </div>

            <div class="row">

                <div class="input-field col m4">
                    <select class="select" name="categoria" id="select-categoria">
                        <option th:value="${auditoria.categoria}" th:text="${auditoria.resultado}" th:selected="selected"></option>
                        <option value="P,D&amp;I Stricto Sensu">P,D&amp;I Stricto Sensu</option>
                        <option value="P,D&amp;I de Capacitação e formação">P,D&amp;I de Capacitação e formação</option>
                    </select>
                    <label for="select-categoria">Categoria</label>
                </div>

                <div class="input-field col m4">
                    <select class="select" name="resultado" id="select-tipoDispendio">
                        <option th:value="${auditoria.resultado}" th:text="${auditoria.resultado}" th:selected="selected"></option>
                        <option value="Enquadrado">Enquadrado</option>
                        <option value="Não enquadrado">Não enquadrado</option>
                        <option value="Não enquadrado por falta de informação">Não enquadrado por falta de informação</option>
                    </select>
                    <label for="select-tipoDispendio">Resultado</label>
                </div>

            </div>

            <div class="row">

                <div class="input-field col m3">
                    <select name="feitoPor.id" id="select-feitoPor" class="select">
                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                        <option th:each="c : ${consultores}" th:value="${c.id}" th:text="${c.sigla} +', '+${c.nome} " th:selected="(${auditoria?.feitoPor?.sigla == c.sigla})"></option>
                    </select>
                    <label for="select-feitoPor">Feito Por</label>
                </div>

                <div class="input-field col m4">
                    <select name="validadoPor.id" id="select-validadePor" class="select">
                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                        <option th:each="c : ${lideres}" th:value="${c.id}" th:text="${c.sigla} +', '+${c.nome} " th:selected="(${auditoria?.validadoPor?.sigla == c.sigla})"></option>
                    </select>
                    <label for="select-validadePor"> Validado por superior</label>
                </div>

            </div>

            <div class="row">
                <div class="col m2">
                    <button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
                        <i class="material-icons left">add</i>Atualizar
                    </button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col m10 right-align">
                <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/auditoriaEconomica.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>

</body>

</html>
