<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Balancete Cálculo</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Balancete Cálculo</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

			<div class="row">
             <nav>
                <div class="nav-wrapper">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb" th:text="${cliente.razaoSocial}"></a>
                        <a th:href="@{/producoes/update/} + ${producao.id}" class="breadcrumb" th:text="'Etapas'"></a>
                        <a th:href="@{/producoes/} + ${producao.id}+'/'+${etapa.id}" class="breadcrumb" th:text="${etapa.nome}"></a>          
                        <a href="" class="breadcrumb" th:text="'Balancete Cálculo'"></a>
                    </div>
                </div>
            </nav>
		   </div>

        <form th:action="@{/producoes/balanceteROTA/add}" method="POST">
            <div class="row">
            
            <input type="text" hidden="hidden" name="etapasId" th:value="${etapasId}" />
              <input type="text" hidden="hidden" name="producao.id" th:value="${producao.id}" />
            
                <ul class="collapsible popout" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">add_box</i>Adicionar Balancete
                        </div>
                        <div class="collapsible-body">         
                            <div class="row">
                        
                             <div class="input-field col m2" th:if="${producao.tipoDeApuracao.name() == 'MENSAL'}">
                                    <select th:required="required" name="versao" id="select-relatorioCalculo" style="left: 100px;">
										<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
      									<option value="1">M1</option>
      									<option value="2">M2</option>
      									<option value="3">M3</option>
      									<option value="4">M4</option>
      									<option value="5">M5</option>
      									<option value="6">M6</option>
      									<option value="7">M7</option>
      									<option value="8">M8</option>
      									<option value="9">M9</option>
      									<option value="10">M10</option>
      									<option value="11">M11</option>
      									<option value="12">M12</option>
      									</select>
                                    <label for="select-relatorioCalculo">Relatório cálculo</label>
                                </div>
                                
                                <div class="input-field col m2" th:if="${producao.tipoDeApuracao.name() == 'TRIMESTRAL'}">
                                    <select th:required="required" name="versao" id="select-relatorioCalculo" style="left: 100px;">
										<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
      									<option value="1">T1</option>
      									<option value="2">T2</option>
      									<option value="3">T3</option>
      									<option value="4">T4</option>
      									</select>
                                    <label for="select-relatorioCalculo">Relatório cálculo</label>
                                </div>
                                
                                <div class="input-field col m2" th:if="${producao.tipoDeApuracao.name() == 'ANUAL'}">
                                    <select th:required="required" name="versao" id="select-relatorioCalculo" style="left: 100px;" >
										<option value="1" th:disabled="disabled" th:selected="selected">Selecione</option>
      									<option value="1">A1</option>
      									<option value="2">A2</option>
      									<option value="3">A3</option>
      									<option value="4">A4</option>
      									</select>
                                    <label for="select-relatorioCalculo">Relatório cálculo</label>
                                </div>

                                <div class="input-field col m2">
                                    <input style="left: 100px;" type="number" onchange="handleChange(this);" name="porcentagemRealizado" id="porcentagemRealizado" /><span></span>
                                    <label for="porcentagemRealizado">% Realizado</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m3">
                                    <select th:required="required" name="feitoPor.id" id="select-feitoPor" class="select">
										<option value="" th:disabled="disabled" 
											th:selected="selected">Selecione</option>
										<option th:each="c : ${consultores}" th:value="${c.id}"
											th:text="${c.sigla} +', '+${c.nome} "></option>
										</select>
                                    <label for="select-feitoPor">Feito Por</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="validadoPor.id" id="select-validadePor" class="select">
	                					<option value="" th:disabled="disabled"  th:value="'NULL'" 
                     						th:selected="selected">Selecione</option>
	                    				<option th:each="c : ${lideres}"
	                      					th:value="${c.id}"
	                      					th:text="${c.sigla} +', '+${c.nome} ">
	                    				</option>
	             					</select>
                                    <label>Validado por superior</label>
                                </div>

                            </div>
                            
                            <div class="row">
                            
                                    <p>
                        			<input name="dispendiosEstrategicos" type="checkbox" class="filled-in" id="dispendiosEstrategicos" />
                        			<label for="dispendiosEstrategicos">Existem dispêndios Estratégicos?</label>
                    				</p>
                    				
                    				<br/>

                               <div class="input-field col m4">
                                    <input class="money" type="text" th:value="0" name="valorDispendiosNaoEstrategicos" id="valorDispendiosNaoEstrategicos" />
                                    <label for="valorDispendiosNaoEstrategicos">Valor(R$) dispêndios não estratégicos</label>
                                </div>
                                
                                 <div class="input-field col m4">
                                    <input class="money" type="text" th:value="0" name="valorDispendiosEstrategicos" id="valorDispendiosEstrategicos" />
                                    <label for="valorDispendiosEstrategicos">Valor(R$) dispêndios estratégicos</label>
                                </div>
                                
                            </div>
                            
                            <div class="row">                   
                            
                            <div class="divider"></div>
                            
                            <div class="row">
                            <div class="col m3 offset-m4">
                                    <input class="money" type="text" name="valorDispendiosTotal" id="valorDispendiosTotal" />
                                    <label for="valorDispendiosTotal">Valor(R$) dispêndios total</label>
                                </div>
                            
                            </div>
                            
                            <div class="divider"></div>
                            <br/>
                            
                            <div class="row">
                            
                            <div class="input-field col m3">
                                    <select th:required="required" name="exclusaoUtilizada" id="select-exclusaoUtilizada" class="select">
										<option value="" th:disabled="disabled" 
											th:selected="selected">Selecione</option>
										<option value="10,2%" >10,2%</option>
										<option value="12,5%" >12,5%</option>
										</select>
                                    <label for="select-fexclusaoUtilizada">Exclusão Utilizada</label>
                                </div>
                                
                                <div class="col m4">
                                	 <label for="reducaoImposto">Redução imposto (R$)</label>
                                    <input class="money" type="text" name="reducaoImposto" id="reducaoImposto"/>
                                </div>          
                            
                            </div>
                            
                            <div class="row">
                            
                            	<div class="input-field col m2">
                                    <input type="text" th:value="'Sem Data'" id="enviadoCliente" name="enviadoCliente" class="datepicker" />
                                    <label for="enviadoCliente">Enviado ao cliente</label>
                                </div>
                                
                                <div data-position="bottom" id="validadoCliente" class="input-field col m2">
                                    <input type="text" th:value="'Sem data'" id="validadoCliente" name="validadoCliente" class="datepicker" />
                                    <label for="validadoCliente">Validado cliente</label>
                                </div>
                                
                                <div class="col m2">
                    				<p>
                        			<input name="versaoFinal" type="checkbox" class="filled-in" id="versaoFinal" />
                        			<label for="versaoFinal">Versão Final</label>
                    				</p>

               					</div>         				                      
                            </div>
                            </div>
                                                   
                            <div class="row">                                 
                                <div class="col m3">
                                    <button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
										<i class="material-icons left">add</i>Add
									</button>
                                </div>
                                
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="row">
        <table>
        <thead>
          <tr>
          	  <th>Versão</th>
          	  <th>% Realizado</th>
              <th>Feito Por</th>
              <th>Validado por Superior</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="bc : ${balancete}">
          	<td th:text="${bc?.versao}"></td>
            <td th:text="${bc?.porcentagemRealizado}"></td>
            <td th:text="${bc?.feitoPor?.sigla}"></td>
			<td th:text="${bc?.validadoPor?.sigla}"></td>
			<td sec:authorize="hasAnyRole('ROLE_ADMINISTRATIVO','LIDERTECNICO', 'ADMIN', 'TI','ROLE_CONSULTOR')"> 
			<a th:href="@{/producoes/balanceteROTAUpdate/} + ${bc.id} +'?idEtapa='+${etapasId}" class="btn light-blue darken-4">
                 <i class="material-icons">edit</i></a>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
        </form>

        <div class="row">
            <div class="col m10 right-align">
                <a href="javascript:history.back()" class="waves-effect tooltip"><i
					class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>

    </div>
 

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/balanceteROTA.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
	
</body>

</html>
