<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<title>Balancete Cálculo</title>
<link th:include="fragments/header :: header-css" />
</head>

<body>

	<div th:include="fragments/header :: menu-lateral"></div>
	<div class="row">

		<div th:include="fragments/btnMenuLogout :: btns-default"></div>

		<div class="col m10">
			<div class="center">
				<!-- Título da página -->
				<h4>Balancete Cálculo</h4>
				<hr />
			</div>
		</div>
	</div>

	<div class="container">



		<input type="text" hidden="hidden" id="statusContrato"
			th:value="${statusContrato}" /> <input type="text" hidden="hidden"
			id="statusContatoNF" th:value="${statusContatoNF}" /> <input
			type="text" hidden="hidden" id="statusVersaoAnterior"
			th:value="${versaoAnterior}" /> <input name="submitSalva"
			type="text" id="submitSalva" hidden="hidden" />

		<div class="row">
			<nav>
				<div class="nav-wrapper">
					<div class="col m12 grey darken-2 z-depth-1">
						<a th:href="@{/producoes/cliente/} + ${cliente.id}"
							class="breadcrumb" th:text="${cliente.razaoSocial}"></a> <a
							th:href="@{/producoes/update/} + ${producao.id}"
							class="breadcrumb" th:text="'Etapas'"></a> <a
							th:href="@{/producoes/} + ${producao.id}+'/'+${etapa.id}"
							class="breadcrumb" th:text="${etapa.nome}"></a> <a href=""
							class="breadcrumb" th:text="'Balancete Update'"></a>
					</div>
				</div>
			</nav>
		</div>

		<form th:action="@{/producoes/balancete/update}"
			id="balanceteUpdateForm" method="POST">

			<input type="text" hidden="hidden" name="etapasId"
				th:value="${etapasId}" />

			<div class="row">
				<span id="blockMsgValidado" th:hidden="hidden">Balancete
					bloqueado (Validado)</span>
				<div id="unlockValidado" th:hidden="hidden"
					sec:authorize="hasAnyRole('ROLE_ADMIN', 'TI', 'DIRETORIA', 'ROLE_LIDERTECNICO')">
					<p th:if="${balancete.gerouFaturamento == true}" class="tooltipped"
						data-position="left"
						data-tooltip="O balancete já gerou faturamento.">
						<button type="button" id="unlockBalanceteValidado"
							class="waves-effect green btn">Desbloquear</button>
					</p>

					<p th:if="${balancete.gerouFaturamento == false}">
						<button type="button" id="unlockBalanceteValidado"
							class="waves-effect green btn">Desbloquear</button>
					</p>
				</div>



				<br /> <br /> <input type="text" id="idBalancete" name="id"
					th:value="${balancete.id}" th:hidden="hidden" /> <input
					type="text" id="producaoId" name="producao.id"
					th:value="${balancete.producao.id}" th:hidden="hidden" /> <input
					type="text" id="aliquota" th:value="${aliquota}" th:hidden="hidden" />
				<input type="text" id="gerouFaturamento" name="gerouFaturamento"
					th:value="${balancete.gerouFaturamento}" th:hidden="hidden" />


				<div class="input-field col m2"
					th:if="${balancete.producao.tipoDeApuracao.name() == 'MENSAL'}">
					<select name="versao" id="select-relatorioCalculo" class="select">
						<option th:value="${balancete.versao}" th:selected="selected"
							th:text="'M'+${balancete.versao}"></option>
						<option value="1">M1</option>
						<option value="2">M2</option>
						<option value="3">M3</option>
						<option value="4">M4</option>
						<option value="5">M5</option>
						<option value="6">M6</option>
						<option value="7">M7</option>
						<option value="8">M8</option>
						<option value="9">M9</option>
						<option value="10">M10</option>
						<option value="11">M11</option>
						<option value="12">M12</option>
						<option value="13">M13</option>
					</select> <label for="select-relatorioCalculo">Relatório cálculo</label>
				</div>

				<div class="input-field col m2"
					th:if="${balancete.producao.tipoDeApuracao.name() == 'TRIMESTRAL'}">
					<select name="versao" id="select-relatorioCalculo" class="select">
						<option th:value="${balancete.versao}" th:selected="selected"
							th:text="'T'+${balancete.versao}"></option>
						<option value="1">T1</option>
						<option value="2">T2</option>
						<option value="3">T3</option>
						<option value="4">T4</option>
						<option value="5">T5</option>
					</select> <label for="select-relatorioCalculo">Relatório cálculo</label>
				</div>

				<div class="input-field col m2"
					th:if="${balancete.producao.tipoDeApuracao.name() == 'ANUAL'}">
					<select name="versao" id="select-relatorioCalculo" class="select">
						<option th:value="${balancete.versao}" th:selected="selected"
							th:text="'A'+${balancete.versao}"></option>
						<option value="1">A1</option>
						<option value="2">A2</option>
						<option value="3">A3</option>
						<option value="4">A4</option>
						<option value="5">A5</option>
					</select> <label for="select-relatorioCalculo">Relatório cálculo</label>
				</div>

				<div class="input-field col m2">
					<input th:value="${balancete.porcentagemRealizado}"
						name="porcentagemRealizado" onchange="handleChange(this);"
						type="text" id="porcentagemRealizado" /><span></span> <label
						for="porcentagemRealizado">% Realizado</label>
				</div>

				<div class="row">
					<p>
						<input name="prejuizo" th:checked="${balancete.prejuizo}"
							type="checkbox" class="filled-in" id="prejuizo" /> <label
							for="prejuizo">Prejuízo Fiscal</label>
					</p>
				</div>

			</div>

			<div class="row" id="validado">

				<div class="input-field col m3">
					<select name="feitoPor.id" id="select-feitoPor" class="select">
						<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
						<option th:each="c : ${consultores}" th:value="${c.id}"
							th:text="${c.sigla} +', '+${c.nome} "
							th:selected="(${balancete?.feitoPor?.sigla == c.sigla})"></option>
					</select> <label for="select-feitoPor">Feito Por</label>
				</div>

				<div class="input-field col m4">
					<select name="validadoPor.id" id="select-validadePor"
						class="select">
						<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
						<option th:each="c : ${lideres}" th:value="${c.id}"
							th:text="${c.sigla} +', '+${c.nome} "
							th:selected="(${balancete?.validadoPor?.sigla == c.sigla})"></option>
					</select> <label for="select-validadePor"> Validado por superior</label>
				</div>

			</div>

			<div class="row" id="valoresBalancete">

				<div class="input-field col m4">
					<input th:value="${balancete.valorRH}" class="money" type="text"
						name="valorRH" id="valorRH" /> <label for="valorRH">Valor(R$)
						RH</label>
				</div>

				<div class="input-field col m4">
					<input th:value="${balancete.valorServicosTerceiros}" class="money"
						type="text" name="valorServicosTerceiros"
						id="valorServicosTerceiros" /> <label
						for="valorServicosTerceiros">Valor(R$) Serviços Terceiros</label>
				</div>

				<div class="input-field col m4">
					<input th:value="${balancete.valorMateriais}" class="money"
						type="text" name="valorMateriais" id="valorMateriais" /> <label
						for="valorMateriais">Valor(R$) Materiais</label>
				</div>
				<div class="row input-field col m12	">
					<input th:value="${balancete.evidencia}" type="text"
						name="evidencia" id="evidencia" /> <label for="valorRH">Evidencia*</label>
				</div>
			</div>




			<div class="row" id="somarDespesas">

				<div class="col m4 offset-m4">
					<div id="somar" class="btn waves-effect green btn">
						<i class="material-icons left">add</i>Somar Despesas
					</div>
				</div>

			</div>

			<div class="divider"></div>

			<div class="row" id="despesasTotais">
				<div class="col m4 offset-m4">
					<input th:value="${balancete.valorTotal}" type="text"
						name="valorTotal" id="valorTotal" /> <label for="valorTotal">Valor(R$)
						Despesas Totais</label>
				</div>

			</div>

			<div class="divider"></div>
			<br />

			<div class="row">

				<div class="row" id="observacoes">
					<div class="input-field col m8">
						<textarea id="observacoes" name="observacoes"
							class="materialize-textarea" th:text="${balancete.observacoes}"></textarea>
						<label for="observacoes">Observações</label>
					</div>
				</div>
				<div class="input-field col m3">
					<select th:required="required" name="exclusaoUtilizada"
						id="select-exclusaoUtilizada">
						<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
						<option th:each="eu : ${exclusaoUtilizada}"
							th:value="${eu.name()}" th:text="${eu.displayName()}"
							th:selected="(${balancete.exclusaoUtilizada == eu.name()})">
						</option>
					</select> <label>Exclusão Utilizada</label>
				</div>

				<div class="input-field col m4">
					<label for="reducaoImposto">Redução imposto (R$)</label> <input
						th:value="${balancete.reducaoImposto}" class="money" type="text"
						name="reducaoImposto" id="reducaoImposto" />
				</div>

				<div class="col m4 offset-m3">
					<div id="reduction" class="btn waves-effect green btn">
						<i class="material-icons left">add</i>Calcular Redução
					</div>
				</div>

			</div>

			<div class="row" id="enviadoValidado">

				<div class="input-field col m2">
					<input th:value="${balancete.enviadoEm}" type="text" id="enviadoEm"
						name="enviadoEm" class="datepicker" /> <label for="enviadoEm">Enviado
						ao cliente</label>
				</div>

				<div class="input-field col m2">
					<input th:value="${balancete.validadoEm}" type="text"
						id="validadoEm" name="validadoEm" class="datepicker" /> <label
						for="validadoEm">Validado pelo cliente</label>
				</div>
				<div class="col m2">
					<p class="tooltipped" data-position="right"
						data-tooltip="Necessário para concluir a Etapa">
						<input name="validado" th:checked="${balancete.validado}"
							type="checkbox" class="filled-in" id="validado-check" /> <label
							for="validado-check">Validado Cliente</label>
					</p>
				</div>

			</div>
			<div class="row" id="versoesFinais">
				<input type="text" hidden="hidden" id="statusVersaoFinal"
					th:value="${balancete.versaoFinal}" />
				<div class="col m2">
					<p th:if="${temFinal == false}">
						<input name="versaoFinal" th:checked="${balancete.versaoFinal}"
							type="checkbox" class="filled-in" id="versaoFinal" /> <label
							for="versaoFinal">Versão Final</label>
					</p>
					<p th:if="${temFinal == true}" class="tooltipped"
						data-position="right"
						data-tooltip="Só é possível marcar 1 balancete final por Produção.">
						<input name="versaoFinal" th:checked="${balancete.versaoFinal}"
							type="checkbox" class="filled-in" id="versaoFinal" /> <label
							for="versaoFinal">Versão Final</label>
					</p>
					<!-- <p class="tooltipped" data-position="right"
                        data-tooltip="Define o balancete como a versão consilidada dos valores.">
                        <input name="consolidado" th:checked="${balancete.consolidado}" type="checkbox" class="filled-in" id="consolidado" />
                        <label for="consolidado">Versão Consolidada</label>
                    </p> -->
				</div>
			</div>

			<div class="row">
				<div class="col m3">
					<button type="submit" id="btn-update-cliente"
						class="waves-effect green btn">
						<i class="material-icons left">save</i>Salvar
					</button>
				</div>
			</div>
			<div id="modalEficiencia" class="modal">
				<div class="modal-content">
					<h4>Apontamento de Horas</h4>
					<p>
						Cadastre as horas para as atividades da etapa: <b
							th:text="${etapa.nome}"></b>
					</p>
					<div class="row">
						<h5>Atividades</h5>
						<div th:id="corpo">
							<a th:id="addAtividade" class="mouse-hand add tooltipped"
								data-position="left" data-tooltip="Adicionar Atividade"><i
								class="material-icons left">add</i></a> <a th:id="removeAtividade"
								class="mouse-hand remove tooltipped" data-position="right"
								data-tooltip="Remover Atividade"><i style='color: red'
								class="material-icons left">remove</i></a> <br /> <br />
						</div>

						<button class="waves-effect green btn tooltip salvar right"
							id="salvaEficiencia">
							<i class="material-icons left">save</i>Salvar
						</button>

					</div>
				</div>
			</div>

		</form>
		<div class="row">
			<div class="col m10 right-align">
				<a href="javascript:history.back()" class="waves-effect tooltip"><i
					class="material-icons left">arrow_back</i>Voltar</a>
			</div>
		</div>

	</div>

	<div th:include="fragments/footer :: footer"></div>
	<script th:src="@{/js/producao/balancete.js}"></script>
	<script th:src="@{/js/libs/datePickerInit.js}"></script>
	<script th:src="@{/js/libs/jquery.mask.min.js}"></script>

</body>

</html>