<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<title>Balancete Cálculo</title>
<link th:include="fragments/header :: header-css" />
<style>
span {
	font-size: 12px;
}
</style>
</head>

<body>

	<div th:include="fragments/header :: menu-lateral"></div>
	<div class="row">

		<div th:include="fragments/btnMenuLogout :: btns-default"></div>

		<div class="col m10">
			<div class="center">
				<!-- Título da página -->
				<h4>Balancete Cálculo</h4>
				<hr />
			</div>
		</div>
	</div>

	<div class="container">

		<input type="text" hidden="hidden" id="statusContrato"
			th:value="${statusContrato}" /> <input type="text" hidden="hidden"
			id="statusContatoNF" th:value="${statusContatoNF}" /> <input
			type="text" hidden="hidden" id="statusVersaoAnterior"
			th:value="${versaoAnterior}" /> <input type="text" hidden="hidden"
			id="tipoApuracao" th:value="${producao.tipoDeApuracao.name()}" />

		<div class="row">
			<nav>
				<div class="nav-wrapper">
					<div class="col m12 grey darken-2 z-depth-1">
						<a th:href="@{/producoes/cliente/} + ${cliente.id}"
							class="breadcrumb" th:text="${cliente.razaoSocial}"></a> <a
							th:href="@{/producoes/update/} + ${producao.id}"
							class="breadcrumb" th:text="'Etapas'"></a> <a
							th:href="@{/producoes/} + ${producao.id}+'/'+${etapa.id}"
							class="breadcrumb" th:text="${etapa.nome}"></a> <a href=""
							class="breadcrumb" th:text="'Balancete Cálculo'"></a>
					</div>
				</div>
			</nav>
		</div>

		<form id="formAdd" th:action="@{/producoes/balancete/add}"
			method="POST">

			<div th:if="${producao.tipoDeApuracao.displayName() != 'Anual'}"
				class="row">
				<div style="padding: 0px;" class="col s12 m12">
					<div class="card blue-grey darken-2 z-depth-2">
						<div
							style="padding-bottom: 1px; padding-top: 10px; padding-left: 0px; padding-right: 0px;"
							class="card-content white-text">
							<span class="card-title center">Valores Consolidados</span>
							<div class="row center">
								<div class="col m2 offset-m1">
									<div class="card-panel blue-grey lighten-5 z-depth-3">
										<span class="black-text"><b>Recursos Humanos</b> R$<span
											id="rh" th:text="${rh}">0</span></span>
									</div>
								</div>
								<div class="col m2">
									<div class="card-panel blue-grey lighten-5 z-depth-3">
										<span class="black-text"><b>Serviços Terceiros</b> R$<span
											id="terceiros" th:text="${terceiros}">0</span></span>
									</div>
								</div>
								<div class="col m2">
									<div class="card-panel blue-grey lighten-5 z-depth-3">
										<span class="black-text"><b>Materiais Consumo</b> R$<span
											id="materiais" th:text="${materiais}">0</span></span>
									</div>
								</div>
								<div class="col m2">
									<div class="card-panel blue-grey lighten-5 z-depth-3">
										<span class="black-text"><b>Despesas Totais</b> R$<span
											id="despesas" th:text="${despesas}">0</span></span>
									</div>
								</div>
								<div class="col m2">
									<div class="card-panel blue-grey lighten-5 z-depth-3">
										<span class="black-text"><b>Benefício Total</b> R$<span
											id="beneficio" th:text="${beneficio}">0</span></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">

				<input type="text" hidden="hidden" name="etapasId" id="etapasId"
					th:value="${etapasId}" />


				<ul class="collapsible popout" data-collapsible="expandable">
					<li>
						<div class="collapsible-header">
							<i class="material-icons">add_box</i>Adicionar Balancete
						</div>
						<div class="collapsible-body grey lighten-4">
							<div class="row">

								<input type="text" id="aliquota" th:value="${aliquota}"
									th:hidden="hidden" /> <input type="text" id="producaoId"
									th:value="${producao.id}" th:hidden="hidden" /> <input
									type="text" id="idEtapa" th:value="${producao}"
									th:hidden="hidden" />


								<div class="input-field col m2 relatorioCalculo"
									th:if="${producao.tipoDeApuracao.name() == 'MENSAL'}">
									<select th:required="required" name="versao"
										id="select-relatorioCalculo-mensal" style="left: 100px;">
										<option value="" th:disabled="disabled" th:selected="selected">Selecione
										</option>
										<option value="1">M1</option>
										<option value="2">M2</option>
										<option value="3">M3</option>
										<option value="4">M4</option>
										<option value="5">M5</option>
										<option value="6">M6</option>
										<option value="7">M7</option>
										<option value="8">M8</option>
										<option value="9">M9</option>
										<option value="10">M10</option>
										<option value="11">M11</option>
										<option value="12">M12</option>
									</select> <label for="select-relatorioCalculo-mensal">Relatório
										cálculo</label>
								</div>

								<div class="input-field col m2 relatorioCalculo"
									th:if="${producao.tipoDeApuracao.name() == 'TRIMESTRAL'}">
									<select th:required="required" name="versao"
										id="select-relatorioCalculo-trimestral" style="left: 100px;">
										<option value="" th:disabled="disabled" th:selected="selected">Selecione
										</option>
										<option value="1">T1</option>
										<option value="2">T2</option>
										<option value="3">T3</option>
										<option value="4">T4</option>
									</select> <label for="select-relatorioCalculo-trimestral">Relatório
										cálculo</label>
								</div>

								<div class="input-field col m2 relatorioCalculo"
									th:if="${producao.tipoDeApuracao.name() == 'ANUAL'}">
									<select th:required="required" name="versao"
										id="select-relatorioCalculo-anual" style="left: 100px;">
										<option value="1" th:disabled="disabled"
											th:selected="selected">Selecione</option>
										<option value="1">A1</option>
										<option value="2">A2</option>
										<option value="3">A3</option>
										<option value="4">A4</option>
									</select> <label for="select-relatorioCalculo-anual">Relatório
										cálculo</label>
								</div>

								<div class="input-field col m2">
									<input style="left: 100px;" type="number"
										onchange="handleChange(this);" name="porcentagemRealizado"
										id="porcentagemRealizado" /><span></span> <label
										for="porcentagemRealizado">% Realizado</label>
								</div>

								<div class="row">
									<p>
										<input name="prejuizo" type="checkbox" class="filled-in"
											id="prejuizo" /> <label for="prejuizo">Prejuízo
											Fiscal</label>
									</p>
								</div>

							</div>

							<div class="row" id="validado">

								<div class="input-field col m3">
									<select th:required="required" name="feitoPor.id"
										id="select-feitoPor" class="select">
										<option value="" th:disabled="disabled" th:selected="selected">Selecione
										</option>
										<option th:each="c : ${consultores}" th:value="${c.id}"
											th:text="${c.sigla} +', '+${c.nome} "></option>
									</select> <label for="select-feitoPor">Feito Por</label>
								</div>

								<div class="input-field col m3">
									<select name="validadoPor.id" id="select-validadePor"
										class="select">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="c : ${lideres}" th:value="${c.id}"
											th:text="${c.sigla} +', '+${c.nome} "></option>
									</select> <label>Validado por superior</label>
								</div>

							</div>

							<div class="row" id="valoresBalancete">

								<div class="input-field col m4">
									<input class="money" type="text" th:value="0" name="valorRH"
										id="valorRH" /> <label for="valorRH">Valor(R$) RH</label>
								</div>

								<div class="input-field col m4">
									<input class="money" type="text" th:value="0"
										name="valorServicosTerceiros" id="valorServicosTerceiros" />
									<label for="valorServicosTerceiros">Valor(R$) Serviços
										Terceiros</label>
								</div>

								<div class="input-field col m4">
									<input class="money" type="text" th:value="0"
										name="valorMateriais" id="valorMateriais" /> <label
										for="valorMateriais">Valor(R$) Materiais</label>
								</div>
								<div class="row input-field col m12">
									<input type="text"
										name="evidencia" id="evidencia" placeholder="C:/PASTA" />
										 <label for="valorRH">Evidencia*</label>
								</div>
							</div>

							<div class="row" id="somarDespesas">

								<div class="col m4 offset-m4">
									<div id="somar" class="btn waves-effect green btn">
										<i class="material-icons left">add</i>Somar Despesas
									</div>
								</div>

							</div>

							<div class="divider"></div>

							<div class="row" id="despesasTotais">
								<div class="col m3 offset-m4">
									<input class="money" type="text" name="valorTotal"
										id="valorTotal" /> <label for="valorTotal">Valor(R$)
										Despesas Totais</label>
								</div>

							</div>

							<div class="divider"></div>
							<br />

							<div class="row" id="observacoes">

								<div class="row">
									<div class="input-field col m8">
										<textarea id="observacoes" name="observacoes"
											class="materialize-textarea"></textarea>
										<label for="observacoes">Observações</label>
									</div>
								</div>

								<div class="input-field col m3">
									<select th:required="required" name="exclusaoUtilizada"
										id="select-exclusaoUtilizada" class="select">
										<option value="" th:disabled="disabled" th:selected="selected">Selecione
										</option>
										<option th:each="eu : ${exclusaoUtilizada}"
											th:value="${eu.name()}" th:text="${eu.displayName()}+'%'">
										</option>
									</select> <label for="select-fexclusaoUtilizada">Exclusão
										Utilizada</label>
								</div>

								<div class="col m4">
									<label for="reducaoImposto">Redução imposto (R$)</label> <input
										class="money" type="text" name="reducaoImposto"
										id="reducaoImposto" />
								</div>

								<div class="col m4 offset-m3">
									<div id="reduction" class="btn waves-effect green btn">
										<i class="material-icons left">add</i>Calcular Redução
									</div>
								</div>

							</div>

							<div class="row" id="enviadoValidado">

								<div class="input-field col m2">
									<input type="text" th:value="'Sem Data'" id="enviadoEm"
										name="enviadoEm" class="datepicker" /> <label for="enviadoEm">Enviado
										ao cliente</label>
								</div>

								<div data-position="bottom"
									data-tooltip="Resolva as pendências para validar o balancete."
									id="validado" class="input-field col m2">
									<input type="text" th:value="'Sem data'" id="validadoEm"
										name="validadoEm" class="datepicker" /> <label
										for="validadoEm">Validado cliente</label>
								</div>

								<div class="col m2">
									<p class="tooltipped" data-position="right"
										data-tooltip="Necessário para concluir a Etapa">
										<input name="validado" type="checkbox" class="filled-in"
											id="validado-check" /> <label for="validado-check">Validado
											Cliente</label>
									</p>
								</div>

							</div>
							<div class="row" id="versoesFinais">

								<div class="col m2">
									<p th:if="${temFinal == false}">
										<input name="versaoFinal" type="checkbox" class="filled-in"
											id="versaoFinal" /> <label for="versaoFinal">Versão
											Final</label>
									</p>
									<p th:if="${temFinal == true}" class="tooltipped"
										data-position="right"
										data-tooltip="Só é possível marcar 1 balancete final por Produção.">
										<input name="versaoFinal" th:disabled="disabled"
											type="checkbox" class="filled-in" id="versaoFinal" /> <label
											for="versaoFinal">Versão Final</label>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col m3">
									<button type="submit" id="btn-cad-cliente"
										class="waves-effect green btn">
										<i class="material-icons left">add</i>Add
									</button>

									<a id="btn-add-prejuizo" class="waves-effect green btn right">
										<i class="material-icons">add</i> Add
									</a>

								</div>
							</div>
							<input name="submitAdd" type="text" id="submitAdd"
								hidden="hidden" /> <input name="submitSalva" type="text"
								id="submitSalva" hidden="hidden" />
						</div>
					</li>
				</ul>
			</div>

			<div class="row">
				<table id="tabela-balancete" class="striped">
					<thead>
						<tr>
							<th>Versão</th>
							<th>% Realizado</th>
							<th>Valor Dispêndio</th>
							<th>Valor Benefício</th>
							<th>Validado pelo Cliente</th>
							<th>Gerou Faturamento</th>
							<th>Editar</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="bc : ${balancete}">
							<td th:text="${bc?.versao}"></td>
							<td th:text="${bc?.porcentagemRealizado}"></td>
							<td th:text="'R$ '+${bc?.valorTotal}"></td>
							<td th:text="'R$ '+${bc?.reducaoImposto}"></td>
							<td th:text="${bc?.validado} ? 'Sim' : 'Não'" />
							<td th:text="${bc?.gerouFaturamento} ? 'Sim' : 'Não'" />
							<td
								sec:authorize="hasAnyRole('ROLE_ADMINISTRATIVO','LIDERTECNICO', 'ADMIN', 'TI','ROLE_CONSULTOR')">
								<a
								th:href="@{/producoes/balanceteUpdate/} + ${bc.id} +'?idEtapa='+${etapasId}"
								class="btn light-blue darken-4"> <i class="material-icons">edit</i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
		<div id="modalEficiencia" class="modal">
			<div class="modal-content">
				<h4>Apontamento de Horas</h4>
				<p>
					Cadastre as horas para as atividades da etapa: <b
						th:text="${etapa.nome}"></b>
				</p>
				<div class="row">
					<h5>Atividades</h5>
					<div th:id="corpo">
						<a th:id="addAtividade" class="mouse-hand add tooltipped"
							data-position="left" data-tooltip="Adicionar Atividade"><i
							class="material-icons left">add</i></a> <a th:id="removeAtividade"
							class="mouse-hand remove tooltipped" data-position="right"
							data-tooltip="Remover Atividade"><i style='color: red'
							class="material-icons left">remove</i></a> <br /> <br />
					</div>

					<button class="waves-effect green btn tooltip salvar right"
						id="salvaEficiencia">
						<i class="material-icons left">save</i>Salvar
					</button>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col m10 right-align">
				<a href="javascript:history.back()" class="waves-effect tooltip"><i
					class="material-icons left">arrow_back</i>Voltar</a>
			</div>
		</div>

	</div>


	<div th:include="fragments/footer :: footer"></div>
	<script th:src="@{/js/producao/balancete.js}"></script>
	<script th:src="@{/js/libs/datePickerInit.js}"></script>
	<script th:src="@{/js/libs/jquery.mask.min.js}"></script>

</body>

</html>