<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Balancete Cálculo</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Balancete Cálculo</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <form th:action="@{/producoes/balanceteROTA/update}" id="balanceteUpdateForm" method="POST">


            <input type="text" hidden="hidden" name="etapasId" th:value="${etapasId}" />
            <input type="text" hidden="hidden" name="producao.id" th:value="${producao.id}" />
            <input type="text" hidden="hidden" name="id" th:value="${balancete.id}" />

            <div class="row">

                <div class="input-field col m2" th:if="${producao.tipoDeApuracao.name() == 'MENSAL'}">
                    <select th:required="required" name="versao" id="select-relatorioCalculo" style="left: 100px;">
                        <option th:value="${balancete.versao}" th:selected="selected" th:text="'M'+${balancete.versao}"></option>
                        <option value="1">M1</option>
                        <option value="2">M2</option>
                        <option value="3">M3</option>
                        <option value="4">M4</option>
                        <option value="5">M5</option>
                        <option value="6">M6</option>
                        <option value="7">M7</option>
                        <option value="8">M8</option>
                        <option value="9">M9</option>
                        <option value="10">M10</option>
                        <option value="11">M11</option>
                        <option value="12">M12</option>
                    </select>
                    <label for="select-relatorioCalculo">Relatório cálculo</label>
                </div>

                <div class="input-field col m2" th:if="${producao.tipoDeApuracao.name() == 'TRIMESTRAL'}">
                    <select th:required="required" name="versao" id="select-relatorioCalculo" style="left: 100px;">
                        <option th:value="${balancete.versao}" th:selected="selected" th:text="'T'+${balancete.versao}"></option>
                        <option value="1">T1</option>
                        <option value="2">T2</option>
                        <option value="3">T3</option>
                        <option value="4">T4</option>
                    </select>
                    <label for="select-relatorioCalculo">Relatório cálculo</label>
                </div>

                <div class="input-field col m2" th:if="${producao.tipoDeApuracao.name() == 'ANUAL'}">
                    <select th:required="required" name="versao" id="select-relatorioCalculo" style="left: 100px;">
                        <option th:value="${balancete.versao}" th:selected="selected" th:text="'A'+${balancete.versao}"></option>
                        <option value="1">A1</option>
                        <option value="2">A2</option>
                        <option value="3">A3</option>
                        <option value="4">A4</option>
                    </select>
                    <label for="select-relatorioCalculo">Relatório cálculo</label>
                </div>

                <div class="input-field col m2">
                    <input th:value="${balancete.porcentagemRealizado}" name="porcentagemRealizado" onchange="handleChange(this);" type="text" id="porcentagemRealizado" /><span></span>
                    <label for="porcentagemRealizado">% Realizado</label>
                </div>

            </div>

            <div class="row">
                <div class="input-field col m3">
                    <select name="feitoPor.id" id="select-feitoPor" class="select">
                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                        <option th:each="c : ${consultores}" th:value="${c.id}" th:text="${c.sigla} +', '+${c.nome} " th:selected="(${balancete?.feitoPor?.sigla == c.sigla})"></option>
                    </select>
                    <label for="select-feitoPor">Feito Por</label>
                </div>

                <div class="input-field col m4">
                    <select name="validadoPor.id" id="select-validadePor" class="select">
                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                        <option th:each="c : ${lideres}" th:value="${c.id}" th:text="${c.sigla} +', '+${c.nome} " th:selected="(${balancete?.validadoPor?.sigla == c.sigla})"></option>
                    </select>
                    <label for="select-validadePor"> Validado por superior</label>
                </div>

            </div>

            <div class="row">

                <p>
                    <input name="dispendiosEstrategicos" th:checked="${balancete.dispendiosEstrategicos}" type="checkbox" class="filled-in" id="dispendiosEstrategicos" />
                    <label for="dispendiosEstrategicos">Existem dispêndios Estratégicos?</label>
                </p>

                <br />

                <div class="input-field col m4">
                    <input class="money" type="text" th:value="${balancete.valorDispendiosNaoEstrategicos}" name="valorDispendiosNaoEstrategicos" id="valorDispendiosNaoEstrategicos" />
                    <label for="valorDispendiosNaoEstrategicos">Valor(R$) dispêndios não estratégicos</label>
                </div>

                <div class="input-field col m4">
                    <input class="money" type="text" th:value="${balancete.valorDispendiosEstrategicos}" name="valorDispendiosEstrategicos" id="valorDispendiosEstrategicos" />
                    <label for="valorDispendiosEstrategicos">Valor(R$) dispêndios estratégicos</label>
                </div>

            </div>

            <div class="row">

                <div class="divider"></div>

                <div class="row">
                    <div class="col m3 offset-m4">
                        <input class="money" type="text" th:value="${balancete.valorDispendiosTotal}" name="valorDispendiosTotal" id="valorDispendiosTotal" />
                        <label for="valorDispendiosTotal">Valor(R$) dispêndios total</label>
                    </div>

                </div>

                <div class="divider"></div>
                <br />

                <div class="row">

                    <div class="input-field col m3">
                        <select th:required="required" name="exclusaoUtilizada" id="select-exclusaoUtilizada" class="select">
                            <option th:value="${balancete.exclusaoUtilizada}" th:text="${balancete.exclusaoUtilizada}" th:selected="selected"></option>
                            <option value="10,2%">10,2%</option>
                            <option value="12,5%">12,5%</option>
                        </select>
                        <label for="select-fexclusaoUtilizada">Exclusão Utilizada</label>
                    </div>

                    <div class="col m4">
                        <label for="reducaoImposto">Redução imposto (R$)</label>
                        <input th:value="${balancete.reducaoImposto}" class="money" type="text" name="reducaoImposto" id="reducaoImposto" />
                    </div>

                </div>

                <div class="row">

                    <div class="input-field col m2">
                        <input type="text" th:value="${balancete.enviadoCliente}" id="enviadoCliente" name="enviadoCliente" class="datepicker" />
                        <label for="enviadoCliente">Enviado ao cliente</label>
                    </div>

                    <div data-position="bottom" id="validadoCliente" class="input-field col m2">
                        <input type="text" th:value="${balancete.validadoCliente}" id="validadoCliente" name="validadoCliente" class="datepicker" />
                        <label for="validadoCliente">Validado cliente</label>
                    </div>

                    <div class="col m2">
                        <p>
                            <input th:checked="${balancete.versaoFinal}" name="versaoFinal" type="checkbox" class="filled-in" id="versaoFinal" />
                            <label for="versaoFinal">Versão Final</label>
                        </p>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col m3">
                    <button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
                        <i class="material-icons left">save</i>Salvar
                    </button>
                </div>
            </div>
            
        </form>
        <div class="row">
            <div class="col m10 right-align">
                <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/balanceteROTA.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>

</body>

</html>
