<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Produções</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/producao.css}" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4 th:text="Produção"></h4>
                <a th:href="@{/clientes/details/} + ${cliente.id}" class="waves-effect tooltip">
                <i class="material-icons left">business</i>Acessar Detalhes Do Cliente</a>
                <hr />
            </div>
        </div>

    </div>

    <div class="container">

        <div class="col m2">

            <a th:href="@{/producoes/form/} + ${cliente.id}"
                sec:authorize="hasAnyRole('ROLE_LIDERTECNICO','ROLE_DIRETORIA','ROLE_ADMIN', 'ROLE_CONSULTOR')"
                class="waves-effect modal-trigger green btn right" title="adicionar" style='width: 271px'><i
                    class="material-icons left">add</i>Produção</a>
            <br /><br />

            <a type="submit" id="balancete" style='width: 271px' class="waves-effect blue btn right"
                onclick="balancete()" title="balancete">Todos balancetes</a>
            <br /><br />
            <a type="submit" id="relatorio" style='width: 271px' class="waves-effect #86759f btn right"
                onclick="relatorio()" title="relatorio">Todos Relatórios</a>
            <br /><br />
        </div>

        <div id="modalbalancete" class="modal -dialog modal">
            <div class="modal-content">
                <div class="tooltip">
                    <h5>Balancete</h5>

                </div>
                <table>
                    <thead>
                        <tr>
                            <th th:hidden="hidden">#</th>
                            <th>Ano de campanha</th>
                            <th>Versão</th>
                            <th>Dispêndio total</th>
                            <th>Valor benefício</th>
                            <th>Gerou Faturamento</th>
                            <th>Balancete</th>
                        </tr>
                    </thead>
                    <tbody id="TabelaBalancete">

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <a href="#" onclick="" class="modal-close waves-effect waves-green btn-flat">
                    Fechar</a>

            </div>
        </div>

        <div id="modalRelatorio" class="modal -dialog modal-xl">
            <div class="modal-content">
                <div class="tooltip">
                    <h5>Relatório</h5>

                </div>
                <table>
                    <thead>
                        <tr>
                            <th th:hidden="hidden">#</th>
                            <th>Ano de campanha</th>
                            <th>Número</th>
                            <th>Nome</th>
                            <th>Estado</th>
                            <th>Feito por</th>
                            <th>Validado por </th>
                            <th>Relatório </th>

                        </tr>
                    </thead>
                    <tbody id="TabelaRelatorio">

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <a href="#" onclick="" class="modal-close waves-effect waves-green btn-flat">
                    Fechar</a>

            </div>
        </div>
        <div class="row">
            <section id="filters">

                <div class="input-field col m1">
                    <select class="select" id="combo-box" style="left: 100px;">
                        <option th:disabled="disabled" th:selected="selected" value="2022">2022</option>
                        <option value="all">Todas</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
                    <label>Campanha</label>
                </div>
                <input type="text" name="cliente.id" th:value="${cliente.id}" th:hidden="hidden" id="idcliente" />

                <input type="text" th:hidden="hidden" id="idDoEtapas" />
              		
				<div id="modalbalancete" class="modal -dialog modal">
								<div class="modal-content">
									<div class="tooltip"><h5>Balancete</h5></div>
									<table>
										<thead>
										<tr>
											<th th:hidden="hidden">#</th>
											<th>Id</th>
											<th>Gerou Faturamento</th>
											<th>Redução Imposto</th>
											<th>Valor total</th>
										</tr>
									</thead>
									 <tbody id= "TabelaBalancete">
										<tr> 
										</tr>
									</tbody>  
								</table>

							</div>
							<div class="modal-footer">
								<a href="#" onclick=""
									class="modal-close waves-effect waves-green btn-flat">
									Fechar</a> 
							</div>
						</div>					               

                

            </section>
        </div>

        <div class="row">

            <nav>
                <div class="nav-wrapper">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb"
                            th:text="${cliente.razaoSocial}"></a>
                    </div>
                </div>
            </nav>

            <div id="listContratos">
                <table id="tabela-producao" class="responsive-table highlight bordered">
                    <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Situação</th>
                            <th>Ano de Campanha</th>
                            <th>Equipe</th>
                            <th>Consultor</th>
                            <th>Produção</th>
                            <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDENADOR', 'ROLE_DIRETORIA')">Contrato</th>
                            <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDENADOR', 'ROLE_DIRETORIA', 'ROLE_LIDERTECNICO')">Alterar Contrato</th>
                            <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDENADOR', 'ROLE_GERENTE','ROLE_DIRETORIA')">Remover</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p : ${producao}">
                            <td th:text="${p?.produto?.nome}"></td>
                            <td th:text="${p?.situacao}"></td>
                            <td><b th:text="${p?.ano}"></b></td>
                            <td th:text="${p?.equipe?.nome}"></td>
                            <td th:text="${p?.consultor?.nome}"></td>
                            <td>
                                <a th:href="@{/producoes/update/} + ${p.id}" type="submit"
                                    class="btn light-blue darken-4">
                                    <i class="material-icons">arrow_forward</i>
                                </a>
                            </td>
                            <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDENADOR', 'ROLE_DIRETORIA')">
                                <a th:href="@{/contratos/} + ${p.contrato.id}" type="submit"
                                    class="btn light-blue darken-4">
                                    <i class="material-icons">library_books</i>
                                </a>
                            </td>
                            <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COORDENADOR', 'ROLE_DIRETORIA', 'ROLE_LIDERTECNICO')">
                                <a th:href="@{/producoes/updateContrato/} + ${p.id}" type="submit"
                                    class="btn light-blue darken-4">
                                    <i class="material-icons">autorenew</i>
                                </a>
                            </td>
                            
                            <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ADMIN','ROLE_COORDENADOR', 'ROLE_GERENTE','ROLE_DIRETORIA')">

                                <button type="button" class="btn modal-trigger btn tooltip red"
                                    th:attr="data-target='modalD' + ${p.id}" id="btnRemover">
                                    <i class="material-icons">delete</i>
                                </button>

                                <form th:action="@{/producoes/delete/} + ${p.id}" method="POST">
                                    <div th:id="modalD + ${p.id}" class="modal bottom-sheet">
                                        <div class="modal-content">
                                            <h4>
                                                Deseja mesmo remover a produção? <i
                                                    class="material-icons right modal-close mouse-hand">close</i>
                                            </h4>
                                            <p
                                                th:text="'Você está removendo uma produção, este processo é irreversível'">
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit"
                                                class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Remover</button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div class="col m8 right-align">
                    <a href="/producoes/all" class="waves-effect tooltip"><i
                            class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        </div>
    </div>

    <div id="modal1" style="width: 40%; height: 40%;" class="modal modal-fixed-footer ">
        <div class="modal-content">
            <a th:if="${possuiContrato} == 'true'" th:href="@{/producoes/form/} + ${cliente.id}"
                style="width: 49.5%; height: 100%; font-size: 14px;" class="waves-effect waves-light left btn"><i
                    class="large material-icons icone">library_books</i>Com Contrato</a>
            <a th:if="${possuiContrato} == 'false'" th:disabled="disabled" th:href="@{/producoes/form/} + ${cliente.id}"
                style="width: 49.5%; height: 100%; font-size: 14px;"
                class="waves-effect waves-light left btn tooltipped"><i
                    class="large material-icons icone">library_books</i>Com Contrato</a>
            <a th:href="@{/producoes/formSemContrato/} + ${cliente.id}"
                style="width: 49.5%; height: 100%; font-size: 14px;" class="waves-effect waves-light right btn"><i
                    class="large material-icons icone">flip_to_back</i>Sem Contrato</a>
        </div>
        <div id="botoesFooter" class="modal-footer">
            <a id="closeMod"
                class="modal-action modal-close waves-effect waves-green btn-flat red white-text mouse-hand">Fechar</a>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script th:src="@{/js/producao/list.js}"></script>

</body>

</html>