<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Produções</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4 th:text="Produção"></h4>
                <hr />
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <section id="filters">
                <div class="input-field col m5">
                    <i class="material-icons prefix">search</i> <input type="text" id="txt-pesq-cliente" /> <label for="txt-pesq-filial">Pesquisar</label>
                </div>
                <div class="input-field col m7">
                    <a type="submit" class="waves-effect gren btn right" th:href="@{/producoes/formSemContrato/} + ${cliente.id}" title="adicionar"><i
					   class="material-icons left">add</i>Produção</a>
        		</div>
            </section>
        </div>
        
        <div class="row">

            <nav>
                <div class="nav-wrapper">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb" th:text="${cliente.razaoSocial}"></a>
                    </div>
                </div>
            </nav>

            <div id="listContratos">
                <table id="tabela-contratos" class="responsive-table bordered">
                    <thead>
                        <tr>
                            <th th:hidden="hidden">#</th>
                            <th>Produto</th>
                            <th>Início da Vigência</th>
                            <th>Fim da Vigência</th>
                            <th>Comercial Responsável</th>
                            <th>Produção</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="c : ${contratos}" id="contrato">
                            <td th:text="${c.produto.nome}"></td>
                            <td th:text="${c.vigencia.inicioVigencia}"></td>
                            <td th:if="${c.vigencia.nome == 'VIGÊNCIA INDETERMINADA'}" th:text="${c.vigencia.dataEncerramentoContrato}">Indeterminada</td>
                            <td th:if="${c.vigencia.nome.toString() == 'VIGÊNCIA DETERMINADA'}" th:text="${c.vigencia.fimVigencia}"></td>
                            <td id="nome"><a th:text="${c?.comercialResponsavelEfetivo?.nome}"></a>
                            </td>
                            <td>
                                <div th:switch="${c.statusProducao}">
                                    <div th:case="false">
                                        <div class="col">
                                            <a type="submit" class="waves-effect gren btn right" th:href="@{/producoes/form/} + ${c.id}" title="adicionar"><i
												class="material-icons left">add</i>Produção</a>
                                        </div>
                                    </div>
                                    <div th:case="true">
                                        <div class="col">
                                            <a type="submit" class="waves-effect blue btn right" th:onclick="'listarAnosModal(\'' + ${c.id} + '\');'" title="adicionar"><i class="material-icons left">edit</i>Produção</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div class="col m8 right-align">
                    <a href="/producoes/all" class="waves-effect tooltip"><i
						class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        </div>
    </div>

    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Selecione o ano</h4>
            <ul id="anoProducao" class="collection">
                <li><a></a></li>
            </ul>
        </div>
        <div sec:authorize="hasAnyRole('LIDERTECNICO','DIRETORIA','ROLE_ADMIN', 'ROLE_CONSULTOR')" id="botoesFooter" class="modal-footer"></div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script th:src="@{/js/producao/list.js}"></script>

</body>

</html>
