<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Produções</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/producao.css}" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4 th:text="Producción"></h4>
                <hr />
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <section id="filters">

                <div class="input-field col right m3">
                    <a th:href="@{/producoes/formPreCO/} + ${cliente.id}"
                        sec:authorize="hasAnyRole('ROLE_LIDERTECNICO','ROLE_DIRETORIA','ROLE_ADMIN', 'ROLE_CONSULTOR')"
                        class="waves-effect modal-trigger green btn right" title="adicionar"><i
                            class="material-icons left">add</i>Preproducción</a>
                </div>

            </section>
        </div>
        <div class="row">

            <nav>
                <div class="nav-wrapper" th:if="${#authentication.getPrincipal().getPais().name()=='BRASIL'}">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb"
                            th:text="${cliente.razaoSocial}"></a>
                    </div>
                </div>
                <div class="nav-wrapper" th:if="${#authentication.getPrincipal().getPais().name()=='CHILE'}">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/clienteCL/} + ${cliente.id}" class="breadcrumb"
                            th:text="${cliente.razaoSocial}"></a>
                    </div>
                </div><div class="nav-wrapper" th:if="${#authentication.getPrincipal().getPais().name()=='COLOMBIA'}">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/clienteCO/} + ${cliente.id}" class="breadcrumb"
                            th:text="${cliente.razaoSocial}"></a>
                    </div>
                </div>
            </nav>

            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">assignment</i><b>Preproducción</b></div>
                    <div class="collapsible-body">

                        <table id="tabela-preproducao" class="responsive-table highlight bordered">
                            <thead>
                                <tr>
                                    <th th:hidden="hidden">#</th>
                                    <th>Campaña</th>
                                    <th>Situación</th>
                                    <th>Equipo</th>
                                    <th>Consultor</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="p : ${preProducao}">
                                    <td th:text="${p.campanha}"></td>
                                    <td th:text="${p.situacao}"></td>
                                    <td th:text="${p.equipe.nome}"></td>
                                    <td th:text="${p.consultor.nome}"></td>
                                    <td>
                            <a th:href="@{/producoes/preProducaoCO/} + ${p.id}" type="submit" class="btn right light-blue darken-4">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                                    <td>
                                        <a th:href="@{/producoes/formCO/} + ${p.id}"
                                            sec:authorize="hasAnyRole('ROLE_LIDERTECNICO','ROLE_DIRETORIA','ROLE_ADMIN', 'ROLE_CONSULTOR')"
                                            class="waves-effect modal-trigger green btn left" title="adicionar"><i
                                                class="material-icons left">add</i>Producción</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">group_work</i><b>Producción</b></div>
                    <div class="collapsible-body">
                        <div id="listContratos">

                            <div class="input-field col m1">
                                <select class="select" id="combo-box" style="left: 100px;">
                                    <option th:disabled="disabled" th:selected="selected" value="2022">2022</option>
                                    <option value="all">Todas</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                </select>
                                <label>Campanha</label>
                            </div>
                            
                            <div class="input-field col m4">
                    		<i class="material-icons prefix">search</i>
                    		<input type="text" id="txt-pesq-codigo" />
                    		<label for="txt-pesq-empresa">Código Certificación</label>
               				 </div>

                            <table id="tabela-producao" class="responsive-table highlight bordered">
                                <thead>
                                    <tr>
                                        <th th:hidden="hidden">#</th>
                                        <th>Producto</th>
                                        <th>Código Certificación</th>
                                        <th>Nombre Proyecto</th>
                                        <th>Estado del Proyecto</th>
                                        <th>Situación</th>
                                        <th>Campaña</th>
                                        <th>Equipo</th>
                                        <th>Consultor</th>
                                        <th>Producción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="p : ${producao}">
                                        <td th:text="${p.produto.nome}"></td>
                                        <td th:each="c : ${codigos}" th:if="${c.producao.id==p.id}" th:text="${c.valor}"></td>
                                        <td th:text="${p.nomeProjeto}"></td>
                                        <td th:each="e : ${estados}" th:if="${e.producao.id==p.id}" th:text="${e.valor}"></td>
                                        <td th:text="${p.situacao}"></td>
                                        <td th:text="${p.ano}"></td>
                                        <td th:text="${p.equipe.nome}"></td>
                                        <td th:text="${p.consultor.nome}"></td>
                                        <td>
                                            <a th:href="@{/producoes/update/} + ${p.id}" type="submit"
                                                class="btn light-blue darken-4">
                                                <i class="material-icons">arrow_forward</i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

        <br />
        <div class="col m8 right">
            <a href="/producoes/all" class="waves-effect tooltip"><i
                    class="material-icons left">arrow_back</i>Voltar</a>
        </div>

    </div>

    <div id="modal1" style="width: 40%; height: 40%;" class="modal modal-fixed-footer ">
        <div class="modal-content">
            <a th:if="${possuiContrato} == 'true'" th:href="@{/producoes/form/} + ${cliente.id}"
                style="width: 49.5%; height: 100%; font-size: 14px;" class="waves-effect waves-light left btn"><i
                    class="large material-icons icone">library_books</i>Com Contrato</a>
            <a th:if="${possuiContrato} == 'false'" th:disabled="disabled" th:href="@{/producoes/form/} + ${cliente.id}"
                style="width: 49.5%; height: 100%; font-size: 14px;"
                class="waves-effect waves-light left btn tooltipped"><i
                    class="large material-icons icone">library_books</i>Com Contrato</a>
            <a th:href="@{/producoes/formSemContrato/} + ${cliente.id}"
                style="width: 49.5%; height: 100%; font-size: 14px;" class="waves-effect waves-light right btn"><i
                    class="large material-icons icone">flip_to_back</i>Sem Contrato</a>
        </div>
        <div id="botoesFooter" class="modal-footer">
            <a id="closeMod"
                class="modal-action modal-close waves-effect waves-green btn-flat red white-text mouse-hand">Fechar</a>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script th:src="@{/js/producao/listCL.js}"></script>

</body>

</html>