<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="'Apontamento de Horas'"></title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/eficiencia.css" />
</head>

<style>
    .collapsible li.disabled .collapsible-body {
        display: none !important;
        /*or using id of the app to avoid the use of !important*/
    }

    .collapsible li.disabled .collapsible-header {
        background: #f5f5f5;
    }

    i.false {
        color: red;
    }

    i.true {
        color: green;
    }

</style>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4 th:text="'Apontamento de Horas'"></h4>
                <h5 th:text="${producao.contrato.cliente.razaoSocial}+' - '+${producao.ano}+' - '+${producao.contrato.produto.nome}"></h5>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <input type="text" th:value="${producao.id}" id="prodId" hidden="hidden" />
         <input type="text"  id="tarefaId" hidden="hidden" />

        <ul class="collapsible" th:each="e: ${etapas}" th:switch="${e.concluido}">
            <li th:case="true">
                <div class="collapsible-header"><i class="material-icons true">check</i><span th:text="${e.etapa.nome}"></span></div>
                <div class="collapsible-body">
                        <div class="row">
                            <h5>Atividades</h5>
                            <div th:id="'corpo'+${e.etapa.id}">
                                <a th:id="'addAtividade'+${e.etapa.id}" class="mouse-hand add tooltipped" data-position="left" data-tooltip="Adicionar Atividade"><i class="material-icons left">add</i></a>
                                <a th:id="'removeAtividade'+${e.etapa.id}" class="mouse-hand remove tooltipped" data-position="right" data-tooltip="Remover Atividade"><i style='color: red' class="material-icons left">remove</i></a>
                                <br />
                                <br />
                            </div>
                            
                              <button class="waves-effect green btn tooltip salvar right" th:id="${e.etapa.id}">
                                    <i class="material-icons left">save</i>Salvar
                              </button>
                            
                        </div>

                    </div>
            </li>
            <li th:case="false" >
                                <div class="collapsible-header"><i class="material-icons false">clear</i><span th:text="${e.etapa.nome}"></span></div>
                <div class="collapsible-body">
                        <div class="row">
                            <h5>Atividades</h5>
                            <div th:id="'corpo'+${e.etapa.id}">
                                <a th:id="'addAtividade'+${e.etapa.id}" class="mouse-hand add tooltipped" data-position="left" data-tooltip="Adicionar Atividade"><i class="material-icons left">add</i></a>
                                <a th:id="'removeAtividade'+${e.etapa.id}" class="mouse-hand remove tooltipped" data-position="right" data-tooltip="Remover Atividade"><i style='color: red' class="material-icons left">remove</i></a>
                                <br />
                                <br />
                            </div>
                            
                              <button class="waves-effect green btn tooltip salvar right" th:id="${e.etapa.id}">
                                    <i class="material-icons left">save</i>Salvar
                              </button>
                            
                        </div>

                    </div>
            </li>
        </ul>

    </div>
    <div class="row">
    	<div class="col m10 right-align">
                    <a th:href="@{/producoes/update/} + ${producao.id}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
      	</div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/producao/eficiencia.js}"></script>

</body>

</html>
