<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<title>+ Preproducción</title>
<link th:include="fragments/header :: header-css" />
</head>

<body>

	<div th:include="fragments/header :: menu-lateral"></div>

	<div class="row">

		<div th:include="fragments/btnMenuLogout :: btns-default"></div>

		<div class="col m10">
			<div class="center">
				<!-- Título da página -->
				<h4>+ Preproducción</h4>
				<hr />
			</div>
		</div>
	</div>

	<div class="container">
		<form th:action="@{/producoes/addPre}" id="form" method="POST">

			<input type="text" id="clienteId" th:value="${cliente.id}"
				name="cliente.id" th:hidden="hidden" />

			<h5>Informaciones Generales</h5>
			<hr />

			<div class="row">

				<div class="input-field col m3">
					<input id="rut" type="text" th:value="${cliente.rut}" name="rut"
						readonly="readonly" /> <label for="rut">RUT</label>
				</div>

				<div class="input-field col m8">
					<input id="razaosocial" type="text"
						th:value="${cliente.razaoSocial}" name="razaoSocial"
						readonly="readonly" /> <label for="razaosocial">Razón
						Social</label>
				</div>

				<div class="input-field col m3">
					<input id="setor" type="text" th:value="${cliente.setorAtividade}"
						name="setor" readonly="readonly" /> <label for="setor">Sector</label>
				</div>

				<div class="row">

					<div class="input-field col m1">
						<input id="campanha" onchange="checkPreProducaoUnique(this);"
							type="text" name="campanha" /> <label for="campanha">Campaña</label>
					</div>

					<div class="input-field col m2">
						<select name="filial.id" id="filial" class="select tooltip"
							th:required="required">
							<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
							<option th:each="f : ${filiais}" th:value="${f.id}"
								th:text="${f.nome}"></option>
						</select> <label>Filial</label>
					</div>


					<div class="input-field col m2">
						<select name="equipe.id" id="equipe" class="select tooltip"
							th:required="required">
							<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
							<option th:each="e : ${equipe}" th:value="${e.id}"
								th:text="${e.nome}"></option>
						</select> <label>Equipe</label>
					</div>

					<div class="input-field col m3">
						<select name="consultor.id" id="consultor" class="select tooltip"
							th:required="required">
							<option value="" th:disabled="disabled" th:selected="selected">Selecione
								o consultor técnico</option>
							<option th:each="c : ${consultores}" th:value="${c.id}"
								th:text="${c.sigla}+', '+${c.nome}"></option>
						</select> <label>Consultor Responsable</label>
					</div>

				</div>

				<div class="row">

					<div class="input-field col m2">
						<select id="combo-box" name="tipoNegocio" class="select"
							style="left: 100px;" th:required="required">
							<option th:selected="selected" value="">Selecione</option>
							<option value="NNEG">NNEG</option>
							<option value="REC">REC</option>
						</select> <label>Tipo de negocio</label>
					</div>

					<p class="col m3">
						<input id="primeiraCampanha" name="primeiraCampanha"
							type="checkbox" /> <label for="primeiraCampanha">¿Primera
							campaña trabajada en I+D? </label>
					</p>

				</div>

				<h5>Situación y Motivo</h5>
				<hr />
				<div class="row">
					<br />

					<div class="input-field col m2">
						<select name="situacao" id="select-situacao" class="select">
							<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
							<option th:each="s : ${situacao}" th:value="${s.name()}"
								th:text="${s.displayName()}"></option>
						</select> <label>Situación</label>
					</div>

					<div class="input-field col m2">
						<input type="text" id="fechaActivacion" name="fechaActivacion"
							class="datepicker" /> <label for="fechaActivacion">Fecha
							de activación del cliente</label>
					</div>

					<div class="input-field col m2">
						<select name="reactivacionLevantamiento" class="select"
							id="select-reactivacionLevantamiento">
							<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
							<option value="Reactivacion">Reactivación</option>
							<option value="Levantamiento">Levantamiento</option>
							<option value="Estrategico">Estratégico</option>
						</select> <label>Reactivación/Levantamiento</label>
					</div>
					<div class="input-field col m2">
						<select name="responsableReactivacion" class="select"
							id="select-responsableReactivacion">
							<option value="" th:selected="selected">Selecione</option>
							<option value="Comercial">Comercial</option>
							<option value="Consultor">Consultor</option>
							<option value="Consultoria">Consultoría</option>
							<option value="Direccion">Dirección</option>
							<option value="I&amp;S">I&amp;S</option>
							<option value="N/A">N/A</option>
						</select> <label>Responsable de Reactivación</label>
					</div>

				</div>
				<div class="row">

					<div class="input-field col m3">
						<input type="text" id="ultimoContatoMail" name="ultimoContatoMail"
							class="datepicker" /> <label for="ultimoContatoMail">Fecha
							de último contacto correo electrónico </label>
					</div>

					<div class="input-field col m3">
						<input type="text" id="ultimoContatoTelefone"
							name="ultimoContatoTelefone" class="datepicker" /> <label
							for="ultimoContatoTelefone">Fecha del último contacto
							telefónico</label>
					</div>

				</div>
				<div class="row">

					<div class="input-field col m2">
						<select name="estadoCliente" class="select"
							id="select-estadoCliente">
							<option value="" th:selected="selected">Selecione</option>
							<option value="Sin contacto">Sin contacto</option>
							<option value="En Contacto">En Contacto</option>
							<option value="Coordinando reunión">Coordinando reunión</option>
							<option value="Reunión Realizada">Reunión Realizada</option>
							<option value="Levantando Proyectos">Levantando Proyectos</option>
							
						</select> <label>Estado de Cliente</label>
					</div>
					<div class="input-field col m2">
						<select name="motivoSituacao" class="select"
							id="select-motivoSituacao">
							<option value="" th:selected="selected">Selecione</option>
							<option value="Sin proyectos">Sin proyectos</option>
							<option value="Proyectos sin potencial">Proyectos sin potencial</option>
							<option value="Empresa sin potencial">Empresa sin potencial</option>
							<option value="Disolución empresa">Disolución empresa</option>
							<option value="Centralizado por empresa del grupo">Centralizado por empresa del grupo</option>
							<option value="Sin contacto efectivo">Sin contacto efectivo</option>
							<option value="Malas experiencias">Malas experiencias</option>
							<option value="I+D lo hacen solos">I+D lo hacen solos</option>
							<option value="Servicio terminado">Servicio terminado</option>
							<option value="Sin lanzamiento">Sin lanzamiento</option>
							<option value="Sin interés por parte de cliente">Sin interés por parte de cliente</option>
							<option value="Sin respuesta">Sin respuesta</option>
							<option value="Contactar después">Contactar después</option>
							<option value="Interés otros servicios">Interés otros servicios</option>
							<option value="Priorización subsidios">Priorización subsidios</option>
							<option value="A verificar potencial">A verificar potencial</option>
							<option value="N/A">N/A</option>
						</select> <label>Motivo de la situación</label>
					</div>
 					<div class="input-field col m5">
						<select name="motivoReferencia" class="select"
							id="select-motivoReferencia">
							<option value="" th:selected="selected">Selecione</option>
							<option value="Centralizado por Empresa del Grupo">Centralizado por Empresa del Grupo</option>
							<option value="Contactar Después">Contactar Después</option>
							<option value="Empresa sin Potencial">Empresa sin Potencial</option>
							<option value="Problemas de contacto">Problemas de contacto</option>
							<option value="Servicio Terminado">Servicio Terminado</option>
							<option value="Sin Interés">Sin Interés</option>
							<option value="Sin Proyectos">Sin Proyectos</option>
						</select> <label>Motivo de Referencia</label>
					</div>
					<div class="input-field col s12">
						<textarea id="explicacaoMotivo" name="explicacaoMotivo"
							class="materialize-textarea"></textarea>
						<label for="explicacaoMotivo">Explicación del motivo</label>
					</div>
					
					
					<div class="row">
						
					<div class="input-field col m3">
						<input type="text" id="envioEstrategia" name="envioEstrategia"
							class="datepicker" /> <label for="envioEstrategia">Compromiso envío estrategia</label>
					</div>

					<div class="input-field col m3">
						<input type="text" id="proximaReuniao"
							name="proximaReuniao" class="datepicker" /> <label
							for="proximaReuniao">Fecha próxima reunión</label>
					</div>

				</div>

				</div>
				<h5>Estrategia</h5>
				<hr />
				<div class="row">
					<div class="input-field col m3">
						<input id="numeroIniciativas" type="text" name="numeroIniciativas" />
						<label for="numeroIniciativas">Número de iniciativas
							identificadas</label>
					</div>

					<div class="input-field col m3">
						<input id="estrategiaProjetos" type="text"
							name="estrategiaProjetos" /> <label for="estrategiaProjetos">Estrategia
							de proyectos</label>
					</div>

					<div class="input-field col m3">
						<input id="projetosFormulacao" type="number"
							name="projetosFormulacao" /> <label for="projetosFormulacao">N°
							de proyectos que pasan a formulación</label>
					</div>

					<div class="input-field col m2">
						<input id="projetosInformacao" type="text"
							name="projetosInformacao" /> <label for="projetosInformacao">Proyectos
							con información</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col m3">
						<select name="reuniaoLancamento" class="select"
							id="select-reuniaoLancamento">
							<option value="" th:selected="selected">Selecione</option>
							<option value="SI">Si</option>
							<option value="NO">No</option>
							<option value="N/A">N/A</option>
						</select> <label>Reunión de Lanzamiento</label>
					</div>
					<div class="input-field col m3">
						<select name="levantamentoInicial" class="select"
							id="select-levantamentoInicial">
							<option value="" th:selected="selected">Selecione</option>
							<option value="SI">Si</option>
							<option value="NO">No</option>
							<option value="N/A">N/A</option>
						</select> <label>Levantamiento inicial</label>
					</div>
					<div class="input-field col m3">
						<select name="diagnosticoEstrategia" class="select"
							id="select-diagnosticoEstrategia">
							<option value="" th:selected="selected">Selecione</option>
							<option value="En validación">En validación</option>
							<option value="No requerido">No requerido</option>
							<option value="Validado">Validado</option>
						</select> <label>Diagnóstico o Estrategia presentada</label>
					</div>
					<div class="input-field col m2">
						<input type="text" id="diagnosticoValidado"
							name="diagnosticoValidado" class="datepicker" /> <label
							for="diagnosticoValidado">¿Diagnóstico validado cliente?</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col m3">
						<select name="enviadaProgramacao" class="select"
							id="select-enviadaProgramacao">
							<option value="" th:selected="selected">Selecione</option>
							<option value="SI">Si</option>
							<option value="NO">No</option>
							<option value="N/A">N/A</option>
						</select> <label>Enviada Programación de la empresa</label>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col m4">
					<button type="submit" class="waves-effect green btn tooltip" id="x">
						<i class="material-icons left">add</i>Adicionar
					</button>
				</div>
				<div class="col m8 right-align">
					<a href="javascript:history.back()" class="waves-effect tooltip"><i
						class="material-icons left">arrow_back</i>Voltar</a>
				</div>
			</div>
		</form>
	</div>


	<div th:include="fragments/footer :: footer"></div>
	<script th:src="@{/js/libs/datePickerInit.js}"></script>
	<script th:src="@{/js/libs/jquery.mask.min.js}"></script>
	<script th:src="@{/js/libs/CNPJ.js}"></script>
	<script th:src="@{/js/producao/formPreProd.js}"></script>
	<script th:src="@{/js/contrato/buscaCNPJ.js}"></script>

</body>

</html>