<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Abertura de Missão</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Produção</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
        <form th:action="@{/producoes/add}" id="form" method="POST">
            <div class="row">

                <input type="text" id="clienteId" th:value="${cliente.id}" name="clienteId" th:hidden="hidden" />

                <ul class="collapsible">
                    <li class="active">
                        <div class="collapsible-header active"><i class="material-icons">library_books</i>Contrato</div>
                        <div class="collapsible-body white">

                            <div class="row" id="anteriorC">
                                <div class="col s12 m12">
                                    <b>Contratos</b>
                                    <div class="card-panel grey lighten-5 z-depth-1">
                                        <table class="highlight">
                                            <thead>
                                                <tr>
                                                    <th>Produto</th>
                                                    <th>Início da Vigência</th>
                                                    <th>Fim da Vigência</th>
                                                    <th>Comercial Responsável</th>
                                                    <th>Selecionar</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr th:each="c : ${contratosAtual}">
                                                    <td id="produtoId" th:text="${c.produto.id}" th:hidden="hidden">
                                                    </td>
                                                    <td th:text="${c.produto.nome}"></td>
                                                    <td id='inicio' th:text="${c?.vigencia?.inicioVigencia}"></td>
                                                    <td id='fim'
                                                        th:if="${#strings.toUpperCase(c?.vigencia.nome) == 'VIGÊNCIA INDETERMINADA'}">
                                                        Indeterminada</td>
                                                    <td id='fim'
                                                        th:if="${#strings.toUpperCase(c?.vigencia.nome) == 'VIGÊNCIA DETERMINADA'}"
                                                        th:text="${c?.vigencia?.fimVigencia}"></td>
                                                    <td th:text="${c?.comercialResponsavelEfetivo?.nome}"></td>
                                                    <td>
                                                        <p>
                                                            <input name="contratoId" type="radio" th:value="${c.id}"
                                                                th:id="${c.id}" required="required" />
                                                            <label th:for="${c.id}"></label>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header active"><i class="material-icons">star_border</i>Abertura de
                            Missão</div>
                        <div class="collapsible-body white">
                            <div class="row">
                                <b>Cliente:</b>
                                <p th:text="${cliente.razaoSocial}"></p>

                            </div>
                            <fieldset id="formProd">
                                <div class="row">
                                    <div class="input-field col m1">
                                        <input id="ano" th:value="${preProducao.campanha}" type="number" class="tooltip"
                                            th:required="required" name="ano" />
                                        <label for="ano">Campaña</label>
                                    </div>
                                    <div class="input-field col m2">
                                        <select name="filial.id" id="filial" class="select tooltip"
                                            th:required="required">
                                            <option th:value="${preProducao.filial.id}"
                                                th:text="${preProducao.filial.nome}" th:selected="selected"></option>
                                            <option th:each="f : ${filiais}" th:value="${f.id}" th:text="${f.nome}">
                                            </option>
                                        </select> <label>Filial</label>
                                    </div>
                                    <div class="input-field col m2">
                                        <select name="equipe.id" id="equipe" class="select tooltip"
                                            th:required="required">
                                            <option th:value="${preProducao.equipe.id}"
                                                th:text="${preProducao.equipe.nome}" th:selected="selected">
                                            </option>
                                            <option th:each="e : ${equipe}" th:value="${e.id}" th:text="${e.nome}">
                                            </option>
                                        </select> <label>Equipo</label>
                                    </div>
                                    <div class="input-field col m4">
                                        <select name="consultor.id" id="consultor" class="select tooltip"
                                            th:required="required">
                                            <option th:value="${preProducao.consultor.id}"
                                                th:text="${preProducao.consultor.nome}" th:selected="selected"></option>
                                            <option th:each="c : ${consultores}" th:value="${c.id}"
                                                th:text="${c.sigla}+', '+${c.nome}"></option>
                                        </select> <label>Consultor</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col m2">
                                        <select id="combo-box" name="tipoDeNegocio" style="left: 100px;"
                                            th:required="required">
                                            <option th:selected="selected" th:value="${preProducao.tipoNegocio}"
                                                th:text="${preProducao.tipoNegocio}"></option>
                                            <option value="NNEG">NNEG</option>
                                            <option value="REC">REC</option>
                                            <option value="PLUR">PLUR</option>
                                        </select> <label>Tipo de negocio</label>
                                    </div>

                                    <div class="input-field col m2">
                                        <select name="situacao" id="select-situacao">
                                            <option th:value="${preProducao.situacao.name()}" th:text="${preProducao.situacao.displayName()}"
                                                th:selected="selected"></option>
                                            <option th:each="s : ${situacao}" 
                                            	th:value="${s.name()}"
                                                th:text="${s.displayName()}"></option>
                                        </select> <label>Situación</label>
                                    </div>

                                    <div class="input-field col m2">
                                        <select name="motivoSituacao" class="select" id="select-motivoSituacao">
                                            <option th:value="${preProducao.motivoSituacao}" th:text="${preProducao.motivoSituacao}" th:selected="selected"></option>
                                            <option value="Coordinando Reunión">Coordinando Reunión</option>
                                            <option value="En Contacto">En Contacto</option>
                                            <option value="Levantando Proyectos">Levantando Proyectos</option>
                                            <option value="Reunión Realizada">Reunión Realizada</option>
                                            <option value="Sin Contacto">Sin Contacto</option>
                                        </select> <label>Motivo de la situación</label>
                                    </div>

                                </div>
                            </fieldset>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="row">
                <div class="col m4">
                    <button type="submit" class="waves-effect green btn tooltip" id="btn-add-producao">
                        <i class="material-icons left">add</i>Adicionar
                    </button>
                </div>
                <div class="col m8 right-align">
                    <a href="javascript:history.back()" class="waves-effect tooltip"><i
                            class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        </form>
    </div>


    <div id="modalContrato" class="modal">
        <div class="modal-content">
            <h4>Sem contrato!</h4>
            <p>Não foi identificado nenhum contrato para o ano corrente. Selecione um contrato base anterior e sinalize
                o responsável.</p>
        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/libs/CNPJ.js}"></script>
    <script th:src="@{/js/contrato/form.js}"></script>
    <script th:src="@{/js/contrato/buscaCNPJ.js}"></script>
    <script th:src="@{/js/producao/formCL.js}"></script>
</body>

</html>