<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Abertura de Missão</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Produção (Sem Contrato)</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
        <form th:action="@{/producoes/addSemContrato}" method="POST">
            <div class="row">

                <input type="text" id="clienteId" th:value="${cliente.id}" name="clienteId" th:hidden="hidden" />

                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header active"><i class="material-icons">star_border</i>Abertura de Missão</div>
                        <div class="collapsible-body white">
                            <div class="row">
                                <b>Cliente:</b>
                                <p th:text="${cliente.razaoSocial}"></p>

                                <b>Tipo de Contrato:</b>

                                <p style="display: inline-block; padding-top: 10px;">
                                    <input id="anterior" th:value="anterior" name="tipoContrato" type="radio" />
                                    <label for="anterior">Anterior</label>
                                </p>
                                <p style="display: inline-block; padding-top: 10px;">
                                    <input id="temp" th:value="temp" name="tipoContrato" type="radio" />
                                    <label for="temp">Temporário</label>
                                </p>

                            </div>

                            <div class="row">
                                <div class="input-field col m1">
                                    <input id="ano" type="text" class="tooltip" th:required="required" name="ano" />
                                    <label for="ano">Ano</label>
                                </div>
                                <div class="input-field col m2">
                                    <select name="filial.id" id="select-tipo" class="select" th:required="required">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="f : ${filiais}" th:value="${f.id}" th:text="${f.nome}"></option>
                                    </select> <label>Filial</label>
                                </div>
                                <div class="input-field col m2">
                                    <select name="equipe.id" id="select-tipo" class="select" th:required="required">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="e : ${equipe}" th:value="${e.id}" th:text="${e.nome}"></option>
                                    </select> <label>Equipe</label>
                                </div>
                                <div class="input-field col m4">
                                    <select name="consultor.id" id="select-tipo" class="select" th:required="required">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione o consultor técnico</option>
                                        <option th:each="c : ${consultores}" th:value="${c.id}" th:text="${c.sigla}+', '+${c.nome}"></option>
                                    </select> <label>Consultor</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col m2">
                                    <select name="tipoDeApuracao" id="select-tipoDeApuracaoes" th:required="required">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="t: ${tipoDeApuracao}" th:value="${t.name()}" th:text="${t.displayName()}"></option>
                                    </select> <label>Tipo de apuração</label>
                                </div>
                                <div class="input-field col m3">
                                    <select id="combo-box" name="tipoDeNegocio" style="left: 100px;" th:required="required">
                                        <option th:selected="selected" value="">Selecione</option>
                                        <option value="nn">Novo negócio</option>
                                        <option value="rr">Recorrência</option>
                                    </select> <label>Tipo de negócio</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header active"><i class="material-icons">library_books</i>Contrato</div>
                        <div class="collapsible-body white">

                            <div class="row" id="anteriorC">
                                <div class="col s12 m12">
                                    <b>Contratos anteriores</b>
                                    <div class="card-panel grey lighten-5 z-depth-1">
                                        <table class="highlight">
                                            <thead>
                                                <tr>
                                                    <th>Produto</th>
                                                    <th>Início da Vigência</th>
                                                    <th>Fim da Vigência</th>
                                                    <th>Comercial Responsável</th>
                                                    <th>Selecionar</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr th:each="c : ${contratos}">
                                                    <td th:text="${c.produto.nome}"></td>
                                                    <td th:text="${c?.vigencia?.inicioVigencia}"></td>
                                                    <td th:if="${c?.vigencia?.nome == 'VIGÊNCIA INDETERMINADA'}">INDETERMINADA</td>
                                                    <td th:if="${c?.vigencia?.nome.toString() == 'VIGÊNCIA DETERMINADA'}" th:text="${c.vigencia.fimVigencia}"></td>
                                                    <td th:text="${c?.comercialResponsavelEfetivo?.nome}"></td>
                                                    <td>
                                                        <p>
                                                            <input name="contratoId" type="radio" th:value="${c.id}" th:id="${c.id}" />
                                                            <label th:for="${c.id}"></label>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                            <div class="row" id="temporario">

                                <b>Novo contrato temporário</b>

                                <div>

                                    <div class="row">

                                        <div class="input-field col m4">
                                            <select name="produtoId" id="selectProduto" class="select">
                                                <option value="" th:disabled="disabled" th:selected="selected">Selecione o produto</option>
                                                <option th:each="produto : ${produtos}" th:value="${produto.id}" th:text="${produto.nome}"></option>
                                            </select>
                                            <label>Selecione o produto</label>
                                        </div>

                                        <p>
                                            <input name="contratoFisico" type="checkbox" class="filled-in" id="contratoFisico" />
                                            <label for="contratoFisico">Contrato Assinado</label>
                                        </p>

                                    </div>

                                    <div class="row">

                                        <div class="input-field col m4">
                                            <select name="comercialResponsavelEntrada" id="comercialResponsavelEntrada" class="select">
                                                <option value="" th:disabled="disabled" th:selected="selected">Selecione o comercial responsável</option>
                                                <option th:each="comercial : ${comerciaisTodos}" th:value="${comercial.id}" th:text="${comercial.sigla} +', '+${comercial.nome}"></option>
                                            </select>
                                            <label>Comercial Responsável pela Entrada</label>
                                        </div>

                                        <div class="input-field col m4">
                                            <select name="comercialResponsavelEfetivo" id="comercialResponsavelEfetivo" class="select">
                                                <option value="" th:disabled="disabled" th:selected="selected">Selecione o comercial responsável</option>
                                                <option th:each="comercial : ${comerciaisAtivos}" th:value="${comercial.id}" th:text="${comercial.sigla} +', '+${comercial.nome}"></option>
                                            </select>
                                            <label>Comercial Responsável Atual</label>
                                        </div>

                                        <div class="input-field col m3">
                                            <input class="money" type="text" name="estimativaComercial" id="estimativaComercial" />
                                            <label for="estimativaComercial">Estimativa Comercial</label>
                                        </div>
										
                                    </div>

                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col m4">
                    <button type="submit" class="waves-effect green btn tooltip" id="btn-add-producao">
                        <i class="material-icons left">add</i>Adicionar
                    </button>
                </div>
                <div class="col m8 right-align">
                    <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        </form>
    </div>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Criação de Produção sem contrato vigente.</h4>
            <p>Para criar uma produção sem contrato, será necessário escolher um contrato anterior ou criar um contrato temporário
                que será usado como base para essa produção. </p>
        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/libs/CNPJ.js}"></script>
    <script th:src="@{/js/contrato/form.js}"></script>
    <script th:src="@{/js/contrato/buscaCNPJ.js}"></script>
    <script th:src="@{/js/producao/formNoContract.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>
    
</body>

</html>