<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>+ Sub-Produção</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Sub-Produção</h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <form th:action="@{/producoes/addSubProd}" id='form' method="POST">
            <div class="row">

               <input type="text" id="etapaId" th:value="${etapa.id}" name="etapaId" th:hidden="hidden" />
               
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header active"><i class="material-icons">star_border</i><b th:text="'SUB-PRODUÇÃO '+${etapa.etapa.nome}"></b></div>
                        <div class="collapsible-body white">
                            <div class="row">
                                <b>Cliente:</b>
                                <p th:text="${cliente.razaoSocial}"></p>

                            </div>
							<fieldset id="formProd">
                            <div class="row">
                                <div class="input-field col m1">
                                    <input id="ano" type="text" class="tooltip" th:required="required" name="ano" />
                                    <label for="ano">Ano</label>
                                </div>
                                <div class="input-field col m6">
                                    <input id="descricao" type="text" class="tooltip" th:required="required" name="descricao" />
                                    <label for="descricao">Descrição</label>
                                </div>

                            </div>
                            </fieldset>
                        </div>
                    </li>
                            </ul>
               
            </div>
            <div class="row">
                <div class="col m4">
                    <button type="submit" class="waves-effect green btn tooltip" id="btn-add-subProd">
	                    <i class="material-icons left">add</i>Adicionar	        
	                </button>
                </div>
                <div class="col m8 right-align">
                    <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        </form>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/producao/formSubProd.js}"></script>
    
</body>

</html>
