<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Gerencial</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

	<input type="text" th:value="${producao.id}" th:hidden="hidden"/>

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4 th:text="Alteração + ' ' + 'Gerencial' + ' ' + ${contrato.cliente.razaoSocial}"></h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
    <form th:action="@{/producoes/gerencial/update}" method="POST">
    <input type="text" name="id" th:value="${producao.id}" th:hidden="hidden"/>
    
            <div class="row">
                                
                                <div class="input-field col m2">
									<select name="filial.id" id="select-filial" class="select">
										<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
										<option th:each="f : ${filiais}" 
											th:value="${f.id}"
											th:text="${f.nome}"
											th:selected="(${producao.filial.nome == f.nome})"></option>
									</select> <label>Filial</label>
								</div>
								<div class="input-field col m2">
									<select name="equipe.id" id="select-equipe" class="select">
										<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
										<option th:each="e : ${equipe}" 
											th:value="${e.id}"
											th:text="${e.nome}"
											th:selected="(${producao.equipe.nome == e.nome})"></option>
									</select> <label>Equipe</label>
								</div>
								<div class="input-field col m3">
									<select name="consultor.id" id="select-consultor" class="select">
										<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
										<option th:each="c : ${consultores}" 
											th:value="${c.id}"
											th:text="${c.sigla}+', '+${c.nome}"
											th:selected="(${producao.consultor.sigla == c.sigla})"></option>
									</select> <label>Consultor</label>
								</div>
                            </div>
    
    <div class="row">
                <div class="col m3">
                    <button type="submit" id="btn-att-gerencial" class="waves-effect light-blue darken-4 btn">
                         <i class="material-icons left">edit</i>Atualizar
                    </button>
                </div>
                
                 <div class="col m10 right-align">
                    <a th:href="@{/producoes/update/} + ${producao.id}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
                
                </div>
				</form>
                
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/libs/CNPJ.js}"></script>
    <script th:src="@{/js/contrato/form.js}"></script>
    <script th:src="@{/js/contrato/buscaCNPJ.js}"></script>
</body>

</html>
