<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Produção</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/filial/list.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Gestão Faturamento</h4>
                <hr />
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <section id="filters">
                <div class="input-field col m5">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="txt-pesq-empresa" />
                    <label for="txt-pesq-empresa">Pesquisar</label>
                </div>
                <div class="col m3 offset-m4">
                </div>
            </section>

        </div>
        <div class="row">
            <table id="tabela-empresas" class="responsive-table bordered">
                <thead>
                    <tr>
                        <th th:hidden="hidden">#</th>
                        <th>Cliente</th>
                        <th>Possui Faturamento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="f : ${faturamentos}" id="faturamentos">
                        <td id="nome" th:text="${f.razaoSocialFaturar}"></td>


                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/producao/gestaoFaturamento.js"></script>

</body>

</html>
