<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Habilitações e inclusões Produtos</title>
    <link th:include="fragments/header :: header-css" />
</head>

<style>

 .nav-wrapper{
  background-color: #616161;
  min-height: 74px;
  min-width: 900px;
  overflow: auto;
  white-space: nowrap;
}

.nav-wrapper a {
  display: inline-block;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}
</style>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Habilitações e inclusões Produtos</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <nav>
            <div class="nav-wrapper">
                <div class="col m12 grey darken-2 z-depth-1">
                    <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb" th:text="${cliente.razaoSocial}"></a> <a th:href="@{/producoes/update/} + ${habilitacao.producao.id}" class="breadcrumb" th:text="${habilitacao.producao.ano}+' Etapas'"></a> <a th:href="@{/producoes/tarefa/} + ${etapa.id}" class="breadcrumb">Tarefas</a>
                    <a href="#!" class="breadcrumb">Habilitações e inclusões Produtos</a>
                </div>
            </div>
        </nav>
        
        <br/>

        <form th:action="@{/producoes/habilitacaoPortaria/update}" method="POST">

                    <div class="row">
                        <input type="text" name="producao.id" th:value="${habilitacao.producao.id}" th:hidden="hidden" />
                        <input type="text" name="id" th:value="${habilitacao.id}" th:hidden="hidden" />
                        <input type="text" name="idEtapas" th:value="${etapas.id}" th:hidden="hidden" />
                    </div>

					 <div class="row">
					 
                                <div class="input-field col m3">
                                    <input id="sigplaniProduto" th:value="${habilitacao.senhaSigplaniProduto}" type="text" class="tooltip" th:required="required" name="senhaSigplaniProduto" />
                                    <label for="sigplaniProduto">Senha Sigplani Produto</label>
                                </div>

                                <div class="input-field col m3">
                                    <input id="sigplaniModelo" th:value="${habilitacao.senhaSigplaniModelo}" type="text" class="tooltip" th:required="required" name="senhaSigplaniModelo" />
                                    <label for="sigplaniModelo">Senha Sigplani Modelo</label>
                                </div>

                                <div class="input-field col m2">
                                    <select name="tipoInclusao" id="select-tipoInclusao" class="select">
                                        <option th:value="${habilitacao.tipoInclusao}" th:text="${habilitacao.tipoInclusao}" th:selected="selected">Selecione</option>
                                        <option value="Modelo">Modelo</option>
                                        <option value="Produto">Produto</option>
                                    </select>
                                    <label>Tipo de Inclusão</label>
                                </div>

                            </div>
                                
                                <div class="row">

                                <div class="input-field col m8">
                                    <textarea id="descricaoItem" name="descricaoItem" th:inline="text" class="materialize-textarea">[[${habilitacao.descricaoItem}]]</textarea>
                                    <label for="descricaoItem">Descrição do Item</label>
                                </div>

                                <p>
                                    <input id="informacaoRecebida" th:checked="${habilitacao.informacaoRecebida}" name="informacaoRecebida" type="checkbox" />
                                    <label for="informacaoRecebida">Informação recebida</label>
                                </p>

                            </div>
                            
                              <div class="row"> 
                                
                                <div class="input-field col m3">
                                    <select name="situacao" id="select-situacao" class="select">
                                        <option th:value="${habilitacao.situacao}" th:text="${habilitacao.situacao}" th:selected="selected"></option>
                                        <option value="Modelo">Em elaboração</option>
                                        <option value="Produto">Em análise</option>
                                        <option value="Produto">Exigência</option>
                                        <option value="Produto">Aprovado</option>
                                        <option value="Produto">Reprovado</option>
                                    </select>
                                    <label>Situação</label>
                                </div>
                                
                                <div class="input-field col m2">
                                    <input type="text" th:value="${habilitacao.dataSubmissao}" id="dataSubmissao" name="dataSubmissao" class="datepicker" />
                                    <label for="dataSubmissao">Data de Submissão</label>
                                </div>
                                
                                </div>
                                
                                <div class="row">
                                
                                <p>
                                    <input id="solicitadoHabilitacao" th:checked="${habilitacao.habilitacaoProvisoria}" name="solicitadoHabilitacao" type="checkbox" />
                                    <label for="solicitadoHabilitacao">Solicitado Habilitação Provisória?</label>
                                </p>
                                
                                <div class="input-field col m3">
                                    <input id="sigplaniModelo" th:value="${habilitacao.numeroPortariaProvisoria}" type="text" class="tooltip" name="senhaSigplaniModelo" />
                                    <label for="sigplaniModelo">Número da portaria de habilitação provisória</label>
                                </div>
                                
                                </div>
                                
                                <div class="row">
                                
                                <p>
                                    <input id="habilitacaoDefinitiva" th:checked="${habilitacao.habilitacaoDefinitiva}" name="habilitacaoDefinitiva" type="checkbox" />
                                    <label for="habilitacaoDefinitiva">Habilitação Definitiva?</label>
                                </p>
                                
                                <div class="input-field col m3">
                                    <input id="numeroPortariaDefinitiva" th:value="${habilitacao.numeroPortariaDefinitiva}" type="text" class="tooltip" name="numeroPortariaDefinitiva" />
                                    <label for="numeroPortariaDefinitiva">Número da Portaria de habilitação definitiva</label>
                                </div>
                                
                                </div>
                                
                                <div class="row">
                                
                                <div class="input-field col m3">
                                    <input id="modeloshabilitados" th:value="${habilitacao.modeloshabilitados}" type="text" class="tooltip" name="modeloshabilitados" />
                                    <label for="modeloshabilitados">Modelos habilitados</label>
                                </div>
                                
                                </div>

                    <div class="row">
                        <div class="col m2">
                            <button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
                                <i class="material-icons left">add</i>Add
                            </button>
                        </div>
                    </div>
        </form>

        <div class="row">
            <div class="col m10 right-align">
                <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/habilitacaoPortaria.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>

</body>

</html>
