<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Produção</title>
    <link th:include="fragments/header :: header-css" />
</head>

<style>
 .nav-wrapper{
  background-color: #616161;
  min-height: 87px;
  min-width: 900px;
  overflow: auto;
  white-space: nowrap;
}

.nav-wrapper a {
  display: inline-block;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}
</style>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Itens de Tarefa</h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb" th:text="${cliente.razaoSocial}"></a>
                        <a th:href="@{/producoes/update/} + ${producao.id}" class="breadcrumb" th:text="${etapa.nome}"></a>
                        <a th:href="@{/producoes/tarefa/} + ${etapa.id}" class="breadcrumb" th:text="${tarefa.nome}"></a>
                        <a href="#!" class="breadcrumb">Itens</a>
                    </div>
                </div>
            </nav>
            <br/>
            <div class="row">

                <div th:each="v : ${valores}">
                    <ul class="collapsible">
                        <li th:if="${v.item.tipo.toString() == 'Data'}">
                            <div class="collapsible-header" th:text="${v.item.nome}"></div>
                            <div class="collapsible-body grey lighten-4">
                                <div class="input-field m8">
                                    <input type="text" class="identificador" th:value="${v.id}" th:hidden="hidden" />
                                    <input type="text" class="identificadorItem" th:value="${v.item.id}" th:hidden="hidden" />
                                    <input type="text" class="identificadorTarefa" th:value="${v.tarefa.id}" th:hidden="hidden" />
                                    <label th:text="${v.item.nome}"></label>
                                    <input type="text" th:value="${v.valor}" class="campo datepicker" />
                                </div>

                                <!-- Datas -->
                                <div class="input-field m6" th:if="${v.item.possuiDataPrevisao == true}">
                                    <input type="text" th:value="${v.dataPrevisao}" class="dataPrevisao datepicker" />
                                    <label>Data Prevista</label>
                                </div>
                                <div class="input-field m6" th:if="${v.item.possuiDataPrevisao == false}">
                                    <input type="text" class="dataPrevisao datepicker" th:hidden="hidden" />
                                </div>
                                <div class="input-field m6" th:if="${v.item.possuiDataRealizado == true}">
                                    <input type="text" th:value="${v.dataRealizado}" class="dataRealizado datepicker" />
                                    <label>Data Realizada</label>
                                </div>
                                <div class="input-field m6" th:if="${v.item.possuiDataRealizado == false}">
                                    <input type="text" class="dataRealizado datepicker" th:hidden="hidden" />
                                </div>
                                <!-- Fim Datas -->

                            </div>
                        </li>

                        <li th:if="${v.item.tipo.toString() == 'Texto'}">
                            <div class="collapsible-header" th:text="${v.item.nome}"></div>
                            <div class="collapsible-body grey lighten-4">
                                <div class="input-field m8">
                                    <input type="text" class="identificador" th:value="${v.id}" th:hidden="hidden" />
                                    <input type="text" class="identificadorItem" th:value="${v.item.id}" th:hidden="hidden" />
                                    <input type="text" class="identificadorTarefa" th:value="${v.tarefa.id}" th:hidden="hidden" />
                                    <input type="text" class="campo" th:value="${v.valor}" />
                                    <label th:text="${v.item.nome}"></label>

                                    <!-- Datas -->
                                    <div class="input-field m6" th:if="${v.item.possuiDataPrevisao == true}">
                                        <input type="text" th:value="${v.dataPrevisao}" class="dataPrevisao datepicker" />
                                        <label>Data Prevista</label>
                                    </div>
                                    <div class="input-field m6" th:if="${v.item.possuiDataPrevisao == false}">
                                        <input type="text" class="dataPrevisao datepicker" th:hidden="hidden" />
                                    </div>
                                    <div class="input-field m6" th:if="${v.item.possuiDataRealizado == true}">
                                        <input type="text" th:value="${v.dataRealizado}" class="dataRealizado datepicker" />
                                        <label>Data Realizada</label>
                                    </div>
                                    <div class="input-field m6" th:if="${v.item.possuiDataRealizado == false}">
                                        <input type="text" class="dataRealizado datepicker" th:hidden="hidden" />
                                    </div>
                                    <!-- Fim Datas -->

                                </div>
                            </div>
                        </li>

                        <li th:if="${v.item.tipo.toString() == 'Texto Longo'}">
                            <div class="collapsible-header" th:text="${v.item.nome}"></div>
                            <div class="collapsible-body grey lighten-4">
                                <div class="input-field m8">
                                    <input type="text" class="identificador" th:value="${v.id}" th:hidden="hidden" />
                                    <input type="text" class="identificadorItem" th:value="${v.item.id}" th:hidden="hidden" />
                                    <input type="text" class="identificadorTarefa" th:value="${v.tarefa.id}" th:hidden="hidden" />
                                    <input class="campo materialize-textarea" th:value="${v.valor}"></input>
                                    <label th:text="${v.item.nome}"></label>

                                    <!-- Datas -->
                                    <div class="input-field m6" th:if="${v.item.possuiDataPrevisao == true}">
                                        <input type="text" th:value="${v.dataPrevisao}" class="dataPrevisao datepicker" />
                                        <label>Data Prevista</label>
                                    </div>
                                    <div class="input-field m6" th:if="${v.item.possuiDataPrevisao == false}">
                                        <input type="text" class="dataPrevisao datepicker" th:hidden="hidden" />
                                    </div>
                                    <div class="input-field m6" th:if="${v.item.possuiDataRealizado == true}">
                                        <input type="text" th:value="${v.dataRealizado}" class="dataRealizado datepicker" />
                                        <label>Data Realizada</label>
                                    </div>
                                    <div class="input-field m6" th:if="${v.item.possuiDataRealizado == false}">
                                        <input type="text" class="dataRealizado datepicker" th:hidden="hidden" />
                                    </div>
                                    <!-- Fim Datas -->

                                </div>
                            </div>
                        </li>

                        <li th:if="${v.item.tipo.toString() == 'Dinheiro $'}">
                            <div class="collapsible-header" th:text="${v.item.nome}"></div>
                            <div class="collapsible-body grey lighten-4">
                                <div class="input-field m8">
                                    <input type="text" class="identificador" th:value="${v.id}" th:hidden="hidden" />
                                    <input type="text" class="identificadorItem" th:value="${v.item.id}" th:hidden="hidden" />
                                    <input type="text" class="identificadorTarefa" th:value="${v.tarefa.id}" th:hidden="hidden" />
                                    <input class="campo money" type="text" th:value="${v.valor}" />
                                    <label th:text="${v.item.nome}"></label>

                                    <!-- Datas -->
                                    <div class="input-field m6" th:if="${v.item.possuiDataPrevisao == true}">
                                        <input type="text" th:value="${v.dataPrevisao}" class="dataPrevisao datepicker" />
                                        <label>Data Prevista</label>
                                    </div>
                                    <div class="input-field m6" th:if="${v.item.possuiDataPrevisao == false}">
                                        <input type="text" class="dataPrevisao datepicker" th:hidden="hidden" />
                                    </div>
                                    <div class="input-field m6" th:if="${v.item.possuiDataRealizado == true}">
                                        <input type="text" th:value="${v.dataRealizado}" class="dataRealizado datepicker" />
                                        <label>Data Realizada</label>
                                    </div>
                                    <div class="input-field m6" th:if="${v.item.possuiDataRealizado == false}">
                                        <input type="text" class="dataRealizado datepicker" th:hidden="hidden" />
                                    </div>
                                    <!-- Fim Datas -->
                                </div>
                            </div>
                        </li>

                        <li th:if="${v.item.tipo.toString() == 'Check'}">
                            <div class="collapsible-header" th:text="${v.item.nome}"></div>
                            <div class="collapsible-body grey lighten-4">
                                <div>
                                    <br/>
                                    <input type="text" class="identificador" th:value="${v.id}" th:hidden="hidden" />
                                    <input type="text" class="identificadorItem" th:value="${v.item.id}" th:hidden="hidden" />
                                    <input type="text" class="identificadorTarefa" th:value="${v.tarefa.id}" th:hidden="hidden" />
                                    <input type="checkbox" th:checked="${v.valor}" class="campo filled-in" />
                                    <label class="campo" th:text="${v.item.nome}"></label>

                                    <!-- Datas -->
                                    <div class="input-field m6" th:if="${v.item.possuiDataPrevisao == true}">
                                        <input type="text" th:value="${v.dataPrevisao}" class="dataPrevisao datepicker" />
                                        <label>Data Prevista</label>
                                    </div>
                                    <div class="input-field m6" th:if="${v.item.possuiDataPrevisao == false}">
                                        <input type="text" class="dataPrevisao datepicker" th:hidden="hidden" />
                                    </div>
                                    <div class="input-field m6" th:if="${v.item.possuiDataRealizado == true}">
                                        <input type="text" th:value="${v.dataRealizado}" class="dataRealizado datepicker" />
                                        <label>Data Realizada</label>
                                    </div>
                                    <div class="input-field m6" th:if="${v.item.possuiDataRealizado == false}">
                                        <input type="text" class="dataRealizado datepicker" th:hidden="hidden" />
                                    </div>
                                    <!-- Fim Datas -->
                                    <br/>
                                </div>
                            </div>
                        </li>

                        <li th:if="${v.item.tipo.toString() == 'Lista de Consultor'}">
                            <div class="collapsible-header" th:text="${v.item.nome}"></div>
                            <div class="collapsible-body grey lighten-4">
                                <div>
                                    <input type="text" class="identificador" th:value="${v.id}" th:hidden="hidden" />
                                    <input type="text" class="identificadorItem" th:value="${v.item.id}" th:hidden="hidden" />
                                    <input type="text" class="identificadorTarefa" th:value="${v.tarefa.id}" th:hidden="hidden" />
                                    <div class="input-field m6">
                                       
                                        <select name="consultores" class="campo select" th:required="required">
	                				<option value="" th:disabled="disabled" 
	             						th:selected="selected">Consultor</option>
	                   				<option th:each="consultor : ${consultores}"
	                    				th:value="${consultor.id}"
	                    				th:text="${consultor.nome}"
	                    				th:selected="(${v.valor == consultor.nome})"></option>
	                				</select>
                                        <label th:text="${v.item.nome}"></label>

                                        <!-- Datas -->
                                        <div class="input-field m6" th:if="${v.item.possuiDataPrevisao == true}">
                                            <input type="text" th:value="${v.dataPrevisao}" class="dataPrevisao datepicker" />
                                            <label>Data Prevista</label>
                                        </div>
                                        <div class="input-field m6" th:if="${v.item.possuiDataPrevisao == false}">
                                            <input type="text" class="dataPrevisao datepicker" th:hidden="hidden" />
                                        </div>
                                        <div class="input-field m6" th:if="${v.item.possuiDataRealizado == true}">
                                            <input type="text" th:value="${v.dataRealizado}" class="dataRealizado datepicker" />
                                            <label>Data Realizada</label>
                                        </div>
                                        <div class="input-field m6" th:if="${v.item.possuiDataRealizado == false}">
                                            <input type="text" class="dataRealizado datepicker" th:hidden="hidden" />
                                        </div>
                                        <!-- Fim Datas -->
                                    </div>
                                </div>
                            </div>
                        </li>
						
                        <li th:if="${v.item.tipo.toString() == 'Lista de Valores'}">
                            <div class="collapsible-header" th:text="${v.item.nome}"></div>
                            <div class="collapsible-body grey lighten-4">
                                <div>
                                    <input type="text" class="identificador" th:value="${v.id}" th:hidden="hidden" />
                                    <input type="text" class="identificadorItem" th:value="${v.item.id}" th:hidden="hidden" />
                                    <input type="text" class="identificadorTarefa" th:value="${v.tarefa.id}" th:hidden="hidden" />
                                    <div>
                                        <div class="input-field m6">
                                            <div>
                                                <select name="consultores" class="campo select" th:required="required">
	                				<option value="" th:disabled="disabled" 
	             						th:selected="selected">Selecione</option>
	                   				<option th:each="vl :${valoreslista}" th:if="${vl.item.id} == ${v.item.id}"
	                    				th:value="${vl.id}"
	                    				th:text="${vl.valor}"
	                    				th:selected="(${v.valor == vl.valor})"></option>
	                				</select>
                                                <label th:text="${v.item.nome}"></label>

                                                <!-- Datas -->
                                                <div class="input-field m6" th:if="${v.item.possuiDataPrevisao == true}">
                                                    <input type="text" th:value="${v.dataPrevisao}" class="dataPrevisao datepicker" />
                                                    <label>Data Prevista</label>
                                                </div>
                                                <div class="input-field m6" th:if="${v.item.possuiDataPrevisao == false}">
                                                    <input type="text" class="dataPrevisao datepicker" th:hidden="hidden" />
                                                </div>
                                                <div class="input-field m6" th:if="${v.item.possuiDataRealizado == true}">
                                                    <input type="text" th:value="${v.dataRealizado}" class="dataRealizado datepicker" />
                                                    <label>Data Realizada</label>
                                                </div>
                                                <div class="input-field m6" th:if="${v.item.possuiDataRealizado == false}">
                                                    <input type="text" class="dataRealizado datepicker" th:hidden="hidden" />
                                                </div>
                                                <!-- Fim Datas -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <br/>
            </div>
            <div class="row">
                <div class="col m4">
                    <button type="submit" class="waves-effect green btn tooltip" id="atualizar-vigencia">
	                    <i class="material-icons left">save</i>Salvar	        
	                </button>
                </div>
                <div class="col m8 right-align">
                    <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/itemTest.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>

</body>

</html>
