<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<title>Contratos</title>
<link th:include="fragments/header :: header-css" />
<link rel="stylesheet" href="../css/filial/list.css" />
</head>

<body>

	<div th:include="fragments/header :: menu-lateral"></div>

	<div class="row">

		<div th:include="fragments/btnMenuLogout :: btns-default"></div>

		<div class="col m10">
			<div class="center">
				<!-- Título da página -->
				<h4>Produção</h4>
				<hr />
			</div>
		</div>

	</div>

	<div class="container">
		<div class="row">
			<section id="filters">
                <div class="input-field col m5">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="txt-pesq-filial" />
                    <label for="txt-pesq-filial">Pesquisar</label> 
                </div>
                <div class="col m3 offset-m4">
			</div>
            </section>
	
		</div>
		<div class="row">
		<div id="listContratos">
			<table class="tabela-contratos responsive-table"
				id="tabela-contratos" style="margin-top: 50px">
				<thead>
					<tr>
						<th th:hidden="hidden">#</th>
						<th>Cliente</th>
					</tr>
				</thead>
				<tr th:each="c : ${clientes}" id="contrato">
				<td id="nome" >
                <a th:text="${c.razaoSocial}" th:href="@{/producoes/cliente/} + ${c.id}"></a>
                        </td>			
				</tr>
			</table>
		</div>
		</div>
	</div>
	<div th:include="fragments/footer :: footer"></div>

	<script src="../js/contrato/list.js"></script>

</body>

</html>
