<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Produção</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/filial/list.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Produção</h4>
                <hr />
            </div>
        </div>

    </div>

    <div class="container">
   
             
                	 <form th:action="@{/producoes/filtroProducao}">
                	
                	  <input name="queryTrigger" th:hidden="hidden" type="text" value="true" />
                	
						<div class="row">
                    		<div class="input-field col m5 left" >
                    			<i class="material-icons prefix">search</i>
                    				<input type="text" name="empresa" id="txt-pesq-empresa" />
                    					<label for="txt-pesq-empresa">Pesquisar</label>
                			</div>
                		
                    	<div class="col m2 left ">
                    		<button type="submit" id="btn" class="waves-effect blue btn modal-trigger right">
                         		<i class="material-icons left">search</i>Buscar
                        	</button>
                    	</div>

                   	</div>
                	</form>
                
               
         <div class="row">
            <section id="filters">
                <div class="col m3 offset-m4">
                </div>
                
                <div class="input-field col right m3">
                    <a th:if="${#authentication.getPrincipal().getPais().name()=='CHILE'}"
                        class="waves-effect modal-trigger blue btn tooltipped" href="#modalBusca" data-position="right" data-tooltip="Buscar producciones por Código del proyecto Certificación"><i
                            class="material-icons left">search</i>Acesso Rapido</a>
                </div>
                
            </section>

        </div> 
        <div class="row">
            <table id="tabela-empresas" class="responsive-table bordered" style="width: 100%;" >
                <thead>
                    <tr>
                        <th th:hidden="hidden">#</th>
                        <th>Cliente</th>
                        <th class="right">Produção</th>
                    </tr>
                </thead>
                <tbody>
                
                  <tr th:each="c : ${clientes}" id="clientes">
                        <td th:hidden="hidden" id="idCliente" th:text="${c.id}"></td>
                        <td id="nome" th:text="${c.razaoSocial}"></td>
                         <td th:if="${#authentication.getPrincipal().getPais().name()=='BRASIL'}"><a th:href="@{/producoes/cliente/} + ${c.id}" class="btn light-blue darken-4 right">
                        <i class="material-icons">group_work</i></a></td>
                        <td class = "right" th:if="${#authentication.getPrincipal().getPais().name()=='CHILE'}"><a th:href="@{/producoes/clienteCL/} + ${c.id}" class="btn light-blue darken-4">
						<i class="material-icons">group_work</i></a></td>
						<td th:if="${#authentication.getPrincipal().getPais().name()=='COLOMBIA'}"><a th:href="@{/producoes/clienteCO/} + ${c.id}" class="btn light-blue darken-4">
						<i class="material-icons">group_work</i></a></td>
                    </tr>     
                </tbody>
            </table>
        </div>
    </div>
    
    <div id="modalBusca" class="modal">
    <div class="modal-content" style="height: 75% !important ;">
      <h4>Búsqueda de producciones</h4>
      <div class="row">
       <div style="max-width: 30%;" class="input-field col">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="txt-pesq-codigo" />
                    <label for="txt-pesq-codigo">Código</label>
                </div>
                <a id="buscarCodigo" class="btn-floating waves-effect waves-light blue" ><i class="material-icons left">search</i></a> 
    </div>
    <hr/>
    <div class="row">
    	<table id="tabela-producao" class="responsive-table highlight bordered">
                                <thead>
                                    <tr>
                                        <th th:hidden="hidden">#</th>
                                        <th>Cliente</th>
                                        <th>Producto</th>
                                        <th>Código Certificación</th>
                                        <th>Nombre Proyecto</th>
                                        <th>Situación</th>
                                        <th>Campaña</th>
                                        <th>Equipo</th>
                                        <th>Consultor</th>
                                        <th>Producción</th>
                                    </tr>
                                </thead>
                                <tbody id="corpo-tabela-prod">
                                </tbody>
                                </table>
    </div>
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>
    
    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/producao/list.js"></script>
    <script th:if="${#authentication.getPrincipal().getPais().name()=='CHILE'}" th:src="@{/js/producao/quickAcessCL.js}"></script>
    

</body>

</html>
