<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Sub-Produções</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Sub-Produções</h4>
                <hr />
            </div>
        </div>

    </div>

    <div class="container">

        <div class="row">
            <section id="filters">
                <div class="input-field col m5">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="txt-pesq-empresa" />
                    <label for="txt-pesq-empresa">Pesquisar</label>
                </div>
                <div class="col m3 offset-m4">
                </div>
            </section>

            <div class="input-field col right m3">
                <a th:href="@{/producoes/formSubProd/} + ${etapas.id}"
                    sec:authorize="hasAnyRole('ROLE_LIDERTECNICO','ROLE_DIRETORIA','ROLE_ADMIN', 'ROLE_CONSULTOR')"
                    class="waves-effect modal-trigger green btn right" title="adicionar"><i
                        class="material-icons left">add</i>Sub-Produção</a>
            </div>

        </div>

        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb"
                            th:text="${cliente.razaoSocial}"></a>
                        <a th:href="@{/producoes/update/} + ${producao.id}" class="breadcrumb"
                            th:text="${producao.produto.nome}+' '+${producao.ano}"></a>
                        <a th:if="${etapas.etapa.subProducao==false}" th:href="@{/producoes/subProd/} + ${etapas.id}"
                            class="breadcrumb" th:text="${etapas.etapa.nome}"></a>
                        <a th:if="${etapas.etapa.subProducao==true}"
                            th:href="@{/producoes/subProd/} + ${etapas.producao.id} +'?idEtapa='+ ${etapas.etapa.id}"
                            class="breadcrumb" th:text="${etapas.etapa.nome}"></a>
                    </div>
                </div>
            </nav>
        </div>
		
        <ul class="collapsible popout" th:if="${etapas.etapa.nome == '2. ANÁLISE E MAPEAMENTO PRELIMINAR  (ET)'}">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>Mapeamentos Gerais</div>
                <div class="collapsible-body">

                    <input name="idProd" type="text" th:value="${etapas.producao.id}" id="idProd" th:hidden="hidden" />

                    <p>
                        <input name="oppIdentificadas" type="checkbox" th:checked="${etapas.producao.oppIdentificadas}"
                            class="filled-in" id="oppIdentificadas" />
                        <label for="oppIdentificadas">Quadro de oportunidades identificadas</label>
                    </p>

                    <br />

                    <div class="row">
                        <div class="col m3">
                            <button type="submit" id="btn-salvaMapeamento" class="waves-effect green btn"><i
                                    class="material-icons left">save</i>Salvar</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="row">
            <table id="tabela-empresas" class="responsive-table bordered">
                <thead>
                    <tr>
                        <th th:hidden="hidden">#</th>
                        <th>Descrição</th>
                        <th>Ano</th>
                        <th th:if="${etapas.etapa.nome == '6. FISCALIZACIÓN TÉCNICA'}">Fecha prevista</th>
                        <th>Tarefas</th>
                        <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDERTECNICO')">Editar</th>
                        <th>Estado</th>
                        <th sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDERTECNICO')">Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="s : ${subs}" id="subs">
                        <td th:hidden="hidden" id="idCliente" th:text="${s.id}"></td>
                        <td id="nome" style="max-width: 25%" th:text="${s.descricao}"></td>
                        <td id="nome" th:text="${s.ano}"></td>
                        <td th:each="f : ${fechasPrevistas}"
                            th:if="${etapas.etapa.nome == '6. FISCALIZACIÓN TÉCNICA' and  f?.subProducaoIndex?.id==s.id}"
                            th:text="${f.valor}"></td>
                        <td th:switch="${etapas.etapa.nome}" style="width: 15%">
                            <a th:case="'5. ACOMPANHAMENTO DA IMPORTAÇÃO (ET)'"
                                th:href="@{/producoes/acompanhamentoEx/}+${s.id}+'?idEtapas='+${etapas.id}"
                                class="btn light-blue darken-4">
                                <i class="material-icons">group_work</i>
                            </a>
                            <a th:case="*" th:href="@{/producoes/subProducao/}+${s.id}" class="btn light-blue darken-4">
                                <i class="material-icons">group_work</i>
                            </a>
                        </td>
                        <td th:switch="${etapas.etapa.nome}" style="width: 15%">
                            <a th:case="*" th:href="@{/producoes/updateSubProd/}+${s.id}" class="btn light-blue darken-4">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                        <td th:if="${s.finalizado==false}" style="width: 10%"><i class="material-icons"
                                style="color: red">close</i></td>
                        <td th:if="${s.finalizado==true}" style="width: 10%"><i class="material-icons"
                                style="color: green">check</i></td>
                        <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDERTECNICO')">
                                <button type="button" class="btn modal-trigger btn tooltip red"
                                    th:attr="data-target='modalD' + ${s.id}" id="btnRemover">
                                    <i class="material-icons">delete</i>
                                </button>

                                <form th:action="@{/producoes/subProducao/delete/}+${s.id}" method="POST">
                                    <div th:id="modalD + ${s.id}" class="modal bottom-sheet">
                                        <div class="modal-content">
                                            <h4>
                                                Deseja mesmo remover a Sub-Produção? <i
                                                    class="material-icons right modal-close mouse-hand">close</i>
                                            </h4>
                                            <p
                                                th:text="'Você está removendo uma Sub-Produção, este processo é irreversível.'">
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit"
                                                class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Remover</button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script th:src="@{/js/producao/listSubProd.js}"></script>

</body>

</html>