<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Cadastrar Contrato</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Obrigações Periódicas</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
		
		<br/>
	
        <form th:action="@{/producoes/obrigacoes/update}" method="POST">
            <div class="row">
	
                    <div class="row">
                    <input type="text" name="producao.id" th:value="${obrigacao.producao.id}" th:hidden="hidden" />
					<input type="text" name="id" th:value="${obrigacao.id}" th:hidden="hidden" />
					
                <div class="col m2">
                    <input type="text" th:value="${obrigacao.dataRecebimento}" id="diaPrevisto" name="dataRecebimento" class="datepicker" />
                    <label for="diaPrevisto">Dia previsto de recebimento dos dados</label>
                </div>

                <div class="col m2">
                    <p>
                        <input name="informacaoRecebida" th:checked="${obrigacao.informacaoRecebida}" type="checkbox" class="filled-in" id="isInfoRecebida" />
                        <label for="isInfoRecebida">Informação recebida</label>
                    </p>
                </div>

            <div class="col m3">
                <select name="feitoPor.id" id="select-feitoPor" class="select" th:required="required">
	                	<option value="" th:disabled="disabled" th:value="'NULL'" 
                     			th:selected="selected">Feito Por</option>
	                    <option th:each="c : ${consultores}"
	                      	th:value="${c.id}"
	                      	th:text="${c.nome}"
	                      	th:selected="(${c.id} == *{obrigacao?.feitoPor?.id})"></option>
	             	</select>
                <label for="select-feitoPor">Feito Por</label>
            </div>
            
            <div class="col m3">
                <select name="validadePor.id" id="select-validadePor" class="select" th:required="required">
	                	<option value="" th:disabled="disabled"  th:value="'NULL'" 
                     			th:selected="selected">Validado por superior</option>
	                    <option th:each="c : ${lideres}"
	                      	th:value="${c.id}"
	                      	th:text="${c.nome}"
	                      	th:selected="(${c.id} == *{obrigacao?.validadePor?.id})">
	                    </option>
	             	</select>
                <label>Validado por superior</label>
            </div>
            </div>
            
            <div class="row">
            
            <div class="col m2">
                    <input th:value="${obrigacao.enviadoCliente}"  type="text" id="enviadoEm" name="enviadoCliente" class="datepicker" />
                    <label for="enviadoEm">Enviado ao cliente em</label>
                </div>
                
                <div class="col m2">
                    <input th:value="${obrigacao.aprovadoCliente}" type="text" id="aprovadoCliente" name="aprovadoCliente" class="datepicker" />
                    <label for="aprovadoCliente">Aprovado pelo cliente</label>
                </div>
            
            <div class="col m3">
                    <button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
						<i class="material-icons left">save</i>Salvar
					</button>
                </div>
                
                 <div class="row">
                <div class="col m10 right-align">
                    <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
            
            </div>
            </div>
			</form>
            </div>
            

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/itemTest.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>

</body>

</html>
