<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Obrigações Periódicas</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Obrigações Periódicas</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">	
    
  			<nav>
                <div class="nav-wrapper">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb" th:text="${cliente.razaoSocial}"></a>
                        <a th:href="@{/producoes/update/} + ${producao.id}" class="breadcrumb" th:text="${producao.ano}+' Etapas'"></a>
                        <a th:href="@{/producoes/tarefa/} + ${etapa.id}" class="breadcrumb">Tarefas</a>
                        <a class="breadcrumb">Obrigações</a>
                    </div>
                </div>
            </nav>
  
		<br/>
		<br/>
	
        <form th:action="@{/producoes/obrigacoes/add}" method="POST">
            <div class="row">
			<ul class="collapsible popout" data-collapsible="expandable">
			<li>
                    <div class="collapsible-header"><i class="material-icons">add_box</i>Adicionar obrigação</div>
                    <div class="collapsible-body grey lighten-3">
                    			<div class="row">
					<input type="text" name="idProducao" th:value="${producao.id}" th:hidden="hidden" />

                <div class="col m2">
                    <input type="text" id="diaPrevisto" name="dataRecebimento" class="datepicker" />
                    <label for="diaPrevisto">Dia previsto de recebimento dos dados</label>
                </div>

                <div class="col m2">
                    <p>
                        <input name="informacaoRecebida" type="checkbox" class="filled-in" id="isInfoRecebida" />
                        <label for="isInfoRecebida">Informação recebida</label>
                    </p>
                </div>

            <div class="col m3">
                <select name="feitoPor.id" id="select-feitoPor" class="select" th:required="required">
	                	<option value="" th:disabled="disabled" th:value="'NULL'" 
                     			th:selected="selected">Feito Por</option>
	                    <option th:each="c : ${consultores}"
	                      	th:value="${c.id}"
	                      	th:text="${c.nome}">
	                    </option>
	             	</select>
                <label for="select-feitoPor">Feito Por</label>
            </div>
            
            <div class="col m3">
                <select name="validadePor.id" id="select-validadePor" class="select" th:required="required">
	                	<option value="" th:disabled="disabled"  th:value="'NULL'" 
                     			th:selected="selected">Validado por superior</option>
	                    <option th:each="c : ${lideres}"
	                      	th:value="${c.id}"
	                      	th:text="${c.nome}">
	                    </option>
	             	</select>
                <label>Validado por superior</label>
            </div>
            </div>
            
            <div class="row">
            
            <div class="col m2">
                    <input type="text" id="enviadoEm" name="enviadoCliente" class="datepicker" />
                    <label for="enviadoEm">Enviado ao cliente em</label>
                </div>
                
                <div class="col m2">
                    <input type="text" id="aprovadoCliente" name="aprovadoCliente" class="datepicker" />
                    <label for="aprovadoCliente">Aprovado pelo cliente</label>
                </div>
            
            <div class="col m2">
                    <button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
						<i class="material-icons left">add</i>Add
					</button>
                </div>
            
            </div>
            </div>
            </li>
            </ul>
            </div>
            
            <div class="row">
            
             <table>
        <thead>
          <tr>
              <th>Dia previsto de recebimento dos dados</th>
              <th>Informação recebida</th>
              <th>Feito por</th>
              <th>Validado por superior</th>
              <th>Enviado ao cliente em</th>
              <th>Aprovado pelo cliente</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="o : ${obrigacoes}">
            <td th:text="${o.dataRecebimento}"></td>
			<td><input th:disabled="disabled" id="infoRecebida" type="checkbox" th:checked="${o.informacaoRecebida}" class="checkbox" /><label for="infoRecebida"></label></td>
			<td th:text="${o?.feitoPor?.nome}"></td>
			<td th:text="${o?.validadePor?.nome}"></td>
			<td th:text="${o.enviadoCliente}"></td>
			<td th:text="${o.aprovadoCliente}"></td>
			<td> <a th:href="@{/producoes/obrigacoesUpdate/} + ${o.id}" class="btn light-blue darken-4">
                 <i class="material-icons">edit</i></a>
            </td>
          </tr>
        </tbody>
      </table>
            
            </div>
            </form>
            <div class="divider"></div>
            <br/>
          
            <form th:action="@{/producoes/FNDCT/add}" method="POST">
            <div class="row">
			<div th:if="${FNDCTCondic?.valor?.toString() == 'true'}">
			<ul class="collapsible popout" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">attach_money</i>FNDCT</div>
                    <div class="collapsible-body grey lighten-3">
                    <input type="text" name="idProducao" th:value="${producao.id}" th:hidden="hidden" />
                     <input type="text" name="id" th:value="${FNDCT.id}" th:hidden="hidden" />
                             1° Envio:
                            <div class="row">
                           	<div class="col m3">
                                        <label>FNDCT enviado em</label>
                                        <input type="text" th:value="${FNDCT?.primeroEnviadoEm}" name="primeroEnviadoEm" class="datepicker" />
                            </div>
                            <div class="col m3">
                                        <label>Comprovante de FNDCT recebido em</label>
                                        <input type="text" th:value="${FNDCT?.primeroRecebidoEm}" name="primeroRecebidoEm" class="datepicker" />
                             </div>
                             </div>
                             2° Envio:
                            <div class="row">
                           	<div class="col m3">
                                        <label>FNDCT enviado em</label>
                                        <input type="text" th:value="${FNDCT?.segundoEnviadoEm}"    name="segundoEnviadoEm" class="datepicker" />
                            </div>
                            <div class="col m3">
                                        <label>Comprovante de FNDCT recebido em</label>
                                        <input type="text" th:value="${FNDCT?.segundoRecebidoEm}"   name="segundoRecebidoEm" class="datepicker" />
                                    </div>
                            </div>
                             3° Envio:
                            <div class="row">
                           	<div class="col m3">
                                        <label>FNDCT enviado em</label>
                                        <input type="text" th:value="${FNDCT?.terceiroEnviadoEm}"   name="terceiroEnviadoEm" class="datepicker" />
                            </div>
                            <div class="col m3">
                                        <label>Comprovante de FNDCT recebido em</label>
                                        <input type="text" th:value="${FNDCT?.terceiroRecebidoEm}"   name="terceiroRecebidoEm" class="datepicker" />
                                    </div>
                            </div>
                             4° Envio:
                            <div class="row">
                           	<div class="col m3">
                                        <label>FNDCT enviado em</label>
                                        <input type="text" th:value="${FNDCT?.quartoEnviadoEm}"    name="quartoEnviadoEm" class="datepicker" />
                            </div>
                            <div class="col m3">
                                        <label>Comprovante de FNDCT recebido em</label>
                                        <input type="text" th:value="${FNDCT?.quartoRecebidoEm}"   name="quartoRecebidoEm" class="datepicker" />
                                    </div>
                            </div>
                             5° Envio:
                            <div class="row">
                           	<div class="col m3">
                                        <label>FNDCT enviado em</label>
                                        <input type="text" th:value="${FNDCT?.quintoEnviadoEm}"   name="quintoEnviadoEm" class="datepicker" />
                            </div>
                            <div class="col m3">
                                        <label>Comprovante de FNDCT recebido em</label>
                                        <input type="text" th:value="${FNDCT?.quintoRecebidoEm}"  name="quintoRecebidoEm" class="datepicker" />
                                    </div>
                            </div>     
                            <div class="row">
                            <div class="col m3">
                    		<button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
							<i class="material-icons left">save</i>Salvar
					</button>
					<br/>
					</div>
                </div>
      				</div>
    			</li>
  			</ul>
			</div>
            </div>
           
            <div class="row">
                <div class="col m10 right-align">
                    <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        
	</form>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/itemTest.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>

</body>

</html>
