<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Operacional</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <input type="text" th:value="${producao.id}" th:hidden="hidden" />

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4 th:text="Alteração + ' ' + 'Operacional' + ' ' + ${contrato.cliente.razaoSocial}"></h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <form th:action="@{/producoes/operacional/update}" method="POST">
            <input type="text" name="id" th:value="${producao.id}" th:hidden="hidden" />

            <div class="row">
                <div class="input-field col m2">
                    <select name="situacao" id="select-situacao">
                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                        <option th:each="s : ${situacao}" th:value="${s.name()}" th:text="${s.displayName()}" th:selected="(${producao.situacao.name() == s.name()})"></option>
                    </select> <label>Situação</label>
                </div>
                <div class="input-field col m2">
                    <select id="combo-box" name="tipoDeNegocio" style="left: 100px;">
                        <option th:selected="selected" th:value="${producao?.tipoDeNegocio}" th:text="${producao?.tipoDeNegocio}"></option>
                        <option value="NN">Novo negócio</option>
                        <option value="RR">Recorrência</option>
                    </select><label>Tipo de negócio</label>
                </div>

                <div th:if="${balanceteChecker} == false" class="input-field col m2">
                    <select name="tipoDeApuracao" id="select-tipoDeApuracaoes">
                        <option th:each="t: ${tipoDeApuracao}" th:value="${t.name()}" th:text="${t.displayName()}" th:selected="(${producao?.tipoDeApuracao?.name() == t.name()})"></option>
                    </select> <label>Tipo de apuração</label>
                </div>

                <div th:if="${balanceteChecker} == true" class="input-field col m2 tooltipped" data-position="right" data-tooltip="Não é possível alterar o tipo de apuração quando a produção já possui balancete.">
                    <select th:disabled="disabled" name="tipoDeApuracao" id="select-tipoDeApuracaoes">
                        <option th:each="t: ${tipoDeApuracao}" th:value="${t.name()}" th:text="${t.displayName()}" th:selected="(${producao?.tipoDeApuracao?.name() == t.name()})"></option>
                    </select> <label>Tipo de apuração</label>
                </div>
               
                <input type="text" id="idProduto" th:value="${producao.produto.id}"  th:hidden="hidden"/>
               <div id="motivoInatividade" class="input-field col m3">
<select name="motivoInatividade">
<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
<option th:each="m: ${motivo}" th:value="${m.name()}" th:text="${m.displayName()}" th:selected="(${producao?.motivoInatividade?.name() == m.name()})"></option>

</select> <label>Motivo de Inatividade</label>
</div>
       			
                <div id="razaoInatividade" class="input-field col m6">
                    <input id="razao" th:value="${producao.razaoInatividade}" type="text" name="razaoInatividade" />
                    <label for="razao">Observação de Inatividade</label>
                </div>
            </div>

            <div class="row">

                <div class="input-field col m2">
                     <input type="text" id="ultimoContato" th:value="${producao.ultimoContato}" name="ultimoContato" class="datepicker" />
                      <label for="ultimoContato">Último Contato</label>
               </div>

                <div class="input-field col m6">
                    <input type="text" th:value="${producao.observacoes}" id='obs' name="observacoes" />
                    <label for='obs'>Observações do contato</label>
                </div>

            </div>

            <div class="row">

                <div class="input-field col m5">
                    <input type="text" th:value="${producao.cliente.caminhoPasta}" placeholder='A:\CONSULTORIA\clientes\Nome Do Cliente' id='caminhoPasta' name="caminhoPasta" />
                    <label for='caminhoPasta'>Caminho da Pasta do Cliente</label>
                </div>

            </div>

            <div class="row">
                <div class="col m3">
                    <button type="submit" id="btn-att-operacional" class="waves-effect light-blue darken-4 btn">
                        <i class="material-icons left">edit</i>Atualizar
                    </button>
                </div>

                <div class="col m10 right-align">
                    <a th:href="@{/producoes/update/} + ${producao.id}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>

            </div>

        </form>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>
    <script th:src="@{/js/libs/CNPJ.js}"></script>
    <script th:src="@{/js/contrato/form.js}"></script>
    <script th:src="@{/js/contrato/buscaCNPJ.js}"></script>
    <script th:src="@{/js/producao/operacional.js}"></script>
</body>

</html>
