<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Projetos</title>
    <link th:include="fragments/header :: header-css" />
</head>

<style>

 .nav-wrapper{
  background-color: #616161;
  min-height: 74px;
  min-width: 900px;
  overflow: auto;
  white-space: nowrap;
}

.nav-wrapper a {
  display: inline-block;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}
</style>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Projetos</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
    
    <nav>
            <div class="nav-wrapper">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb" th:text="${cliente.razaoSocial}"></a>
                        <a th:href="@{/producoes/update/} + ${producao.id}" class="breadcrumb" th:text="'Etapas'"></a>
                        <a href="#" class="breadcrumb" th:text="${etapa.nome}"></a>          
                    </div>
                </div>
        </nav>
		<br/>

        <form th:action="@{/producoes/projetos/update}" method="POST">

            <div class="row">
                <input type="text" name="producao.id" th:value="${projeto.producao.id}" th:hidden="hidden" />
                <input type="text" name="id" th:value="${projeto.id}" th:hidden="hidden" />
				<input type="text" name="idEtapas" th:value="${etapas.id}" th:hidden="hidden" />
				
                <div class="input-field col m3">
                    <select name="tipo" id="select-tipo" class="select">
             	        <option value="" th:disabled="disabled" 
                     			th:selected="selected" >Selecione</option>
	                    <option th:each="tp : ${tiposProjeto}"
	                      	th:value="${tp.name()}"
	                      	th:text="${tp.displayName()}"
	                      	th:selected="(${tp.name()} == *{projeto?.tipo?.name()})">
	                    </option>
	             	</select>
                    <label>Tipo do Projeto</label>
                </div>
                
                <div class="input-field col m8">
                                    <input type="text" th:value="${projeto.descricao}" id="descricao" name="descricao"/>
                                    <label for="descricao">Descrição</label>
                                </div>
                
                </div>
                
                <div class="row">
                                <div class="col m3">
                                    <input type="text" id="previsaoReceberDadosEconomicos" th:value="${projeto.previsaoReceberDadosEconomicos}" name="previsaoReceberDadosEconomicos" class="datepicker" />
                                    <label for="previsaoReceberDadosEconomicos">Previsão receber dados econômicos</label>
                                </div>

                                <div class="col m3">
                                    <input type="text" id="previsaoReceberDadosTecnicos" th:value="${projeto.previsaoReceberDadosTecnicos}" name="previsaoReceberDadosTecnicos" class="datepicker" />
                                    <label for="previsaoReceberDadosTecnicos">Previsão receber dados técnicos</label>
                                </div>
                            </div>
                            
                             <div class="row">

                                <p class="col m4">
                                    <input id="dadosEconomicosRecebidos" th:checked="${projeto.dadosEconomicosRecebidos}" type="checkbox" name="dadosEconomicosRecebidos" />
                                    <label for="dadosEconomicosRecebidos">Dados econômicos recebidos</label>
                                </p>

                                <p class="col m3">
                                    <input id="dadosTecnicosRecebidos" th:checked="${projeto.dadosTecnicosRecebidos}" type="checkbox" name="dadosTecnicosRecebidos" />
                                    <label for="dadosTecnicosRecebidos">Dados técnicos recebidos</label>
                                </p>

                                <p class="col m4">
                                    <input id="apresentadoAnoAnterior" th:checked="${projeto.apresentadoAnoAnterior}" type="checkbox" name="apresentadoAnoAnterior" />
                                    <label for="apresentadoAnoAnterior">Projeto apresentado no ano anterior</label>
                                </p>

                            </div>
                            
                             <div class="row">

                                <div class="input-field col m4">
                                    <input class="money" type="text" th:value="${projeto.valorAdiantadoAnoAnterior}" name="valorAdiantadoAnoAnterior" id="valorAdiantadoAnoAnterior" />
                                    <label for="valorAdiantadoAnoAnterior">Valor(R$) adiantado do ano anterior</label>
                                </div>

                                <div class="input-field col m4">
                                    <input class="money" type="text" th:value="${projeto.valorAdiantadoAnoSeguinte}" name="valorAdiantadoAnoSeguinte" id="valorAdiantadoAnoSeguinte" />
                                    <label for="valorAdiantadoAnoSeguinte">Valor(R$) adiantado para o ano seguinte</label>
                                </div>

                                <div class="input-field col m4">
                                    <input class="money" type="text" th:value="${projeto.valorRepassadoEsseAno}" name="valorRepassadoEsseAno" id="valorRepassadoEsseAno" />
                                    <label for="valorRepassadoEsseAno">Valor(R$) repassado neste ano</label>
                                </div>

                            </div>
                            
                            <div class="row">

                                <div class="input-field col m4">
                                    <select name="relatorioEconomicoFeitoPor.id" id="select-feitoPor" class="select" th:required="required">
	                	<option value="" th:disabled="disabled" th:value="'NULL'" 
                     			th:selected="selected">Selecione</option>
	                    <option th:each="c : ${consultores}" 
											th:value="${c.id}"
											th:text="${c.sigla} +', '+${c.nome} "
											th:selected="(${projeto?.relatorioEconomicoFeitoPor?.id == c.id})"></option>
	            					</select>
                                    <label for="select-feitoPor">Relatório econômico feito por</label>
                                </div>

                                <div class="input-field col m4">
                                    <select name="relatorioEconomicoValidadoPor.id" id="relatorioEconomicoValidadoPor" class="select" th:required="required">
	                	<option value="" th:disabled="disabled" th:value="'NULL'" 
                     			th:selected="selected">Selecione</option>
	                    <option th:each="c : ${consultores}" 
											th:value="${c.id}"
											th:text="${c.sigla} +', '+${c.nome} "
											th:selected="(${projeto?.relatorioEconomicoValidadoPor?.id == c.id})"></option>	
	             					</select>
                                    <label for="relatorioEconomicoValidadoPor">Relatório econômico validado por superior</label>
                                </div>

							<div class="input-field col m2">
									<select name="estadoEconomico" id="select-relatorioCalculo"
										class="select">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="e : ${estado}"
											th:value="${e.name()}" 
											th:text="${e.displayName()}"
											th:selected="(${e.name()} == *{projeto?.estadoEconomico?.name()})">
										</option>
									</select> <label for="select-relatorioCalculo">Estado</label>
								</div>
							
                            </div>
                            
                            <div class="row">

                                <div class="input-field col m4">
                                    <select name="relatorioTecnicoFeitoPor.id" id="relatorioTecnicoFeitoPor" class="select" th:required="required">
	                	<option value="" th:disabled="disabled" th:value="'NULL'" 
                     			th:selected="selected">Selecione</option>
	                    <option th:each="c : ${consultores}"
	                      	th:value="${c.id}"
	                      	th:text="${c.nome}"
	                      	th:selected="(${c.id} == *{projeto?.relatorioTecnicoFeitoPor?.id})">
	                    </option>
	           					 	</select>
                                    <label for="relatorioTecnicoFeitoPor">Relatório técnico feito por</label>
                                </div>

                                <div class="input-field col m4">
                                    <select name="relatorioTecnicoValidadoPor.id" id="relatorioTecnicoValidadoPor" class="select" th:required="required">
	                	<option value="" th:disabled="disabled" th:value="'NULL'" 
                     			th:selected="selected">Selecione</option>
	                    <option th:each="l : ${lideres}"
	                      	th:value="${l.id}"
	                      	th:text="${l.nome}"
	                      	th:selected="(${l.id} == *{projeto?.relatorioTecnicoValidadoPor?.id})">
	                    </option>
	             					</select>
                                    <label for="relatorioTecnicoValidadoPor">Relatório técnico validado por superior</label>
                                </div>
                                
                                <div class="input-field col m2">
									<select name="estadoTecnico" id="select-relatorioCalculo"
										class="select">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="e : ${estado}"
											th:value="${e.name()}" 
											th:text="${e.displayName()}"
											th:selected="(${e.name()} == *{projeto?.estadoTecnico?.name()})">
										</option>
									</select> <label for="select-relatorioCalculo">Estado</label>
								</div>
                                
                            </div>
                            
                            <div class="row">
                                <div class="col m3">
                                    <input type="text" th:value="${projeto.relatoriosEnviadosEm}" id="relatoriosEnviadosEm" name="relatoriosEnviadosEm" class="datepicker" />
                                    <label for="relatoriosEnviadosEm">Relatório técnico econômico enviado ao cliente em</label>
                                </div>

                                <div class="col m3">
                                    <input type="text" th:value="${projeto.relatoriosValidadosEm}" id="relatoriosValidadosEm" name="relatoriosValidadosEm" class="datepicker" />
                                    <label for="relatoriosValidadosEm">Relatório técnico econômico validado pelo cliente em</label>
                                </div>
                            </div>
                            
                <div class="col m3">
                    <button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
						<i class="material-icons left">save</i>Salvar
					</button>
                </div>
                
        </form>
        <div class="row">
            <div class="col m10 right-align">
                <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/itemTest.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>

</body>

</html>
