<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Projetos</title>
    <link th:include="fragments/header :: header-css" />
</head>

<style>

 .nav-wrapper{
  background-color: #616161;
  min-height: 74px;
  min-width: 900px;
  overflow: auto;
  white-space: nowrap;
}

.nav-wrapper a {
  display: inline-block;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}
</style>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Projetos</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <nav>
            <div class="nav-wrapper">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb" th:text="${cliente.razaoSocial}"></a>
                        <a th:href="@{/producoes/update/} + ${producao.id}" class="breadcrumb" th:text="'Etapas'"></a>
                        <a href="#" class="breadcrumb" th:text="${etapa.nome}"></a>          
                    </div>
                </div>
        </nav>
		<br/>
        <form th:action="@{/producoes/projetos/add}" method="POST">
            <div class="row">
                <ul class="collapsible popout" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">add_box</i>Adicionar projeto
                        </div>
                        <div class="collapsible-body grey lighten-3">
                            <div class="row">
                                <input type="text" name="idProducao" th:value="${producao.id}" th:hidden="hidden" />
								<input type="text" name="idEtapas" th:value="${etapas.id}" th:hidden="hidden" />

                                <div class="input-field col m3">
                                    <select name="tipo" id="select-tipo" class="select">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="tp : ${tiposProjeto}" th:value="${tp.name()}" th:text="${tp.displayName()}"></option>
                                    </select> <label>Tipo do Projeto</label>
                                </div>

                                <div class="input-field col m8">
                                    <input type="text" id="descricao" name="descricao" /> <label for="descricao">Descrição</label>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col m2">
                                    <input type="text" id="previsaoReceberDadosEconomicos" name="previsaoReceberDadosEconomicos" class="datepicker" /> <label for="previsaoReceberDadosEconomicos">Previsão receber
                                        dados econômicos</label>
                                </div>

                                <div class="col m2">
                                    <input type="text" id="previsaoReceberDadosTecnicos" name="previsaoReceberDadosTecnicos" class="datepicker" /> <label for="previsaoReceberDadosTecnicos">Previsão receber
                                        dados técnicos</label>
                                </div>
                            </div>

                            <div class="row">

                                <p class="col m4">
                                    <input id="dadosEconomicosRecebidos" type="checkbox" name="dadosEconomicosRecebidos" /> <label for="dadosEconomicosRecebidos">Dados econômicos
                                        recebidos</label>
                                </p>

                                <p class="col m3">
                                    <input id="dadosTecnicosRecebidos" type="checkbox" name="dadosTecnicosRecebidos" /> <label for="dadosTecnicosRecebidos">Dados técnicos recebidos</label>
                                </p>

                                <p class="col m4">
                                    <input id="apresentadoAnoAnterior" type="checkbox" name="apresentadoAnoAnterior" /> <label for="apresentadoAnoAnterior">Projeto apresentado no
                                        ano anterior</label>
                                </p>

                            </div>

                            <div class="row">

                                <div class="input-field col m4">
                                    <input class="money" type="text" name="valorAdiantadoAnoAnterior" id="valorAdiantadoAnoAnterior" /> <label for="valorAdiantadoAnoAnterior">Valor(R$) adiantado do
                                        ano anterior</label>
                                </div>

                                <div class="input-field col m4">
                                    <input class="money" type="text" name="valorAdiantadoAnoSeguinte" id="valorAdiantadoAnoSeguinte" /> <label for="valorAdiantadoAnoSeguinte">Valor(R$) adiantado
                                        para o ano seguinte</label>
                                </div>

                                <div class="input-field col m4">
                                    <input class="money" type="text" name="valorRepassadoEsseAno" id="valorRepassadoEsseAno" /> <label for="valorRepassadoEsseAno">Valor(R$) repassado neste
                                        ano</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m4">
                                    <select name="relatorioEconomicoFeitoPor.id" id="select-feitoPor" class="select" th:required="required">
                                        <option value="" th:disabled="disabled" th:value="'NULL'" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${consultores}" th:value="${c.id}" th:text="${c.nome}"></option>
                                    </select> <label for="select-feitoPor">Relatório econômico feito
                                        por</label>
                                </div>

                                <div class="input-field col m4">
                                    <select name="relatorioEconomicoValidadoPor.id" id="relatorioEconomicoValidadoPor" class="select" th:required="required">
                                        <option value="" th:disabled="disabled" th:value="'NULL'" th:selected="selected">Selecione</option>
                                        <option th:each="l : ${lideres}" th:value="${l.id}" th:text="${l.nome}"></option>
                                    </select> <label for="relatorioEconomicoValidadoPor">Relatório
                                        econômico validado por superior</label>
                                </div>

                                <div class="input-field col m2">
                                    <select name="estadoEconomico" id="select-estado" class="select">
                                        <option value="" th:disabled="disabled" th:value="'NULL'" th:selected="selected">Selecione</option>
                                        <option th:each="e : ${estado}" th:value="${e.name()}" th:text="${e.displayName()}">
                                        </option>
                                    </select> <label for="select-estado">Estado Rel. Econômico</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m4">
                                    <select name="relatorioTecnicoFeitoPor.id" id="relatorioTecnicoFeitoPor" class="select" th:required="required">
                                        <option value="" th:disabled="disabled" th:value="'NULL'" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${consultores}" th:value="${c.id}" th:text="${c.nome}"></option>
                                    </select> <label for="relatorioTecnicoFeitoPor">Relatório
                                        técnico feito por</label>
                                </div>

                                <div class="input-field col m4">
                                    <select name="relatorioTecnicoValidadoPor.id" id="relatorioTecnicoValidadoPor" class="select" th:required="required">
                                        <option value="" th:disabled="disabled" th:value="'NULL'" th:selected="selected">Selecione</option>
                                        <option th:each="l : ${lideres}" th:value="${l.id}" th:text="${l.nome}"></option>
                                    </select> <label for="relatorioTecnicoValidadoPor">Relatório
                                        técnico validado por superior</label>
                                </div>

                                <div class="input-field col m2">
                                    <select name="estadoTecnico" id="select-estado" class="select">
                                        <option value="" th:disabled="disabled" th:value="'NULL'" th:selected="selected">Selecione</option>
                                        <option th:each="e : ${estado}" th:value="${e.name()}" th:text="${e.displayName()}">
                                        </option>
                                    </select> <label for="select-estado">Estado Rel. Técnico</label>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col m3">
                                    <input type="text" id="relatoriosEnviadosEm" name="relatoriosEnviadosEm" class="datepicker" /> <label for="relatoriosEnviadosEm">Relatórios enviados ao cliente em</label>
                                </div>

                                <div class="col m3">
                                    <input type="text" id="relatoriosValidadosEm" name="relatoriosValidadosEm" class="datepicker" /> <label for="relatoriosValidadosEm">Relatórios validados pelo cliente em</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col m2">
                                    <button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
                                        <i class="material-icons left">add</i>Add
                                    </button>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </form>

        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>Tipo de Projeto</th>
                        <th>Descrição</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="p : ${projetos}">
                        <td th:text="${p?.tipo}"></td>
                        <td th:text="${p?.descricao}"></td>
                        <td><a th:href="@{/producoes/projetosUpdate/} + ${p.id} +'?idEtapas='+${etapas.id}" class="btn light-blue darken-4"> <i class="material-icons">edit</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col m10 right-align">
                <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/itemTest.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>

</body>

</html>
