<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<title>Relatórios Técnicos</title>
<link th:include="fragments/header :: header-css" />
</head>

<body>

	<div th:include="fragments/header :: menu-lateral"></div>
	<div class="row">

		<div th:include="fragments/btnMenuLogout :: btns-default"></div>

		<div class="col m10">
			<div class="center">
				<!-- Título da página -->
				<h4>Relatórios Técnicos</h4>
				<hr />
			</div>
		</div>
	</div>

	<div class="container">
	<div class="row">
             <nav>
                <div class="nav-wrapper">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb" th:text="${cliente.razaoSocial}"></a>
                         <a th:href="@{/producoes/update/} + ${producao.id}" class="breadcrumb" th:text="'Etapas'"></a>
                        <a th:href="@{/producoes/} + ${producao.id}+'/'+${etapa.id}" class="breadcrumb" th:text="${etapa.nome}"></a>          
                        <a href="" class="breadcrumb" th:text="'Relatórios Técnicos'"></a>
                    </div>
                </div>
            </nav>
		   </div>

		<form th:action="@{/producoes/relatorios/update}" method="POST">
			<div class="row">
			 <input type="text" hidden="hidden" name="etapasId" th:value="${etapasId}" />
			 <input type="text" hidden="hidden" id="statusEstado" th:value="${relatorio?.estado?.displayName()}" />
			  
			<div class="row">
			
								<div class="input-field col m3">
									<select name="estado" id="select-relatorioCalculo"
										class="select">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="e : ${estado}"
											th:value="${e.name()}" 
											th:text="${e.displayName()}"
											th:selected="(${e.name()} == *{relatorio?.estado?.name()})">
										</option>
									</select> <label for="select-relatorioCalculo">Estado</label>
								</div>

							</div>
			
							<div class="row">
								<input type="text" name="producao.id" th:value="${relatorio.producao.id}" th:hidden="hidden" />
								<input type="text" name="id" th:value="${relatorio.id}" th:hidden="hidden" />
								<input name="selectedUpdateSubmit" type="text" id="selectedUpdateSubmit" hidden="hidden" />
								
								
								<div class="input-field col m2">
									<input type="number" th:value="${relatorio?.numero}" id="numero" min="0" name="numero" />
									<label for="numero">Número</label>
								</div>

								<div class="input-field col m6">
									<input type="text" th:value="${relatorio?.nome}" id="nome" name="nome" /> <label for="nome">Nome</label>
								</div>

							</div>

							<div class="row">

								<div class="input-field col m3">
									<select name="especialidade" id="select-especialidade"
										class="select" th:required="required">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="e : ${especialidade}" 
											th:value="${e.name()}"
											th:text="${e.displayName()}"
											th:selected="(${e.name()} == *{relatorio?.especialidade?.name()})"></option>
									</select> <label for="select-feitoPor">Especialidade</label>
								</div>

								<p class="col m4">
									<input id="documentacaoCompleta" th:checked="${relatorio?.documentacaoCompleta}" type="checkbox" name="documentacaoCompleta" /> 
									<label for="documentacaoCompleta">Documentação completa</label>
								</p>
							</div>

							<div class="row">

								<div class="input-field col m4">
									<select name="feitoPor.id"
										id="select-feitoPor" class="select" th:required="required">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="c : ${consultores}" 
											th:value="${c.id}"
											th:text="${c.sigla} +', '+${c.nome} "
											th:selected="(${c.nome} == *{relatorio?.feitoPor?.nome})"></option>
									</select> <label for="select-feitoPor">Feito por</label>
								</div>

								<div class="input-field col m4">
									<select name="validadoPor.id"
										id="validadoPor" class="select"
										th:required="required">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="l : ${lideres}" 
											th:value="${l.id}"
											th:text="${l.sigla} +', '+${l.nome} "
											th:selected="(${l.nome} == *{relatorio?.validadoPor?.nome})"></option>
									</select> <label for="validadoPor">Validado por</label>
								</div>

							</div>

							<div class="row">
								 <div class="input-field col m2">
                                    <input type="number" id="porcentagemFeita" onchange="handleChange(this);" th:value="${relatorio?.porcentagemFeita}" style="left: 100px;" name="porcentagemFeita" /><span></span>
                                    <label for="porcentagemFeita">% Realizado</label>
                                </div>

							</div>

							<div class="row">

								<div class="input-field col m1">
									<input type="text" th:value="${relatorio?.enviadoCliente}" id="enviadoCliente" name="enviadoCliente" class="datepicker" /> 
									<label for="enviadoCliente">Data</label>
								</div>

							</div>

							<div class="row">
								<div class="col m3">
                    <button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
						<i class="material-icons left">save</i>Salvar
					</button>
                </div>
							</div>
						</div>
		</form>
		
		<div id="modalEficiencia" class="modal">
        						<div class="modal-content">
           						 <h4>Apontamento de Horas</h4>
          						  <p>Cadastre as horas para as atividades da etapa: <b th:text="${etapa.nome}"></b></p>
           						  <div class="row">
                					<h5>Atividades</h5>
                						<div th:id="corpo">
                    						<a th:id="addAtividade" class="mouse-hand add tooltipped" data-position="left" data-tooltip="Adicionar Atividade"><i class="material-icons left">add</i></a>
                   		<a th:id="removeAtividade" class="mouse-hand remove tooltipped" data-position="right" data-tooltip="Remover Atividade"><i style='color: red' class="material-icons left">remove</i></a>
                  		  <br />
                   		 <br />
                </div>

                <button class="waves-effect green btn tooltip salvar right" id="salvaEficiencia">
                    <i class="material-icons left">save</i>Salvar
                </button>

            </div>
        </div>
    </div>

		<div class="row">
			<div class="col m10 right-align">
				<a href="javascript:history.back()" class="waves-effect tooltip"><i
					class="material-icons left">arrow_back</i>Voltar</a>
			</div>
		</div>

	</div>

	<div th:include="fragments/footer :: footer"></div>
	<script th:src="@{/js/producao/itemTest.js}"></script>
	<script th:src="@{/js/libs/datePickerInit.js}"></script>
	<script th:src="@{/js/libs/jquery.mask.min.js}"></script>
	<script th:src="@{/js/producao/relatorios.js}"></script>

</body>

</html>
