<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Relatórios Técnicos</title>
    <link th:include="fragments/header :: header-css" />
</head>

<style>
 .nav-wrapper{
  background-color: #616161;
  min-height: 74px;
  min-width: 900px;
  overflow: auto;
  white-space: nowrap;
}

.nav-wrapper a {
  display: inline-block;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}
</style>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Relatórios Técnicos</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
	<div class="row">
             <nav>
                <div class="nav-wrapper">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb" th:text="${cliente.razaoSocial}"></a>
                         <a th:href="@{/producoes/update/} + ${producao.id}" class="breadcrumb" th:text="'Etapas'"></a>
                        <a th:href="@{/producoes/} + ${producao.id}+'/'+${etapa.id}" class="breadcrumb" th:text="${etapa.nome}"></a>          
                        <a href="" class="breadcrumb" th:text="'Relatórios Técnicos'"></a>
                    </div>
                </div>
            </nav>
	</div>

        <form  th:action="@{/producoes/relatorios/add}" method="POST">
        
        <input type="text" id="etapasId" th:value="${etapasId}" name="etapasId" th:hidden="hidden"/>
        
            <div class="row">
                <ul class="collapsible popout" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">add_box</i>Adicionar Relatório
                        </div>
                        <div class="collapsible-body grey lighten-3">
                            <div class="row">
                                <input type="text" id="idProducao" name="idProducao" th:value="${producao.id}" th:hidden="hidden" />

                                <div class="input-field col m2">
                                    <input th:required="required" type="number" id="numero" min="0" th:value="0" name="numero" />
                                    <label for="numero">Número</label>
                                </div>

                                <div class="input-field col m6">
                                    <input th:required="required" type="text" id="nome" name="nome" /> <label for="nome">Nome</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m3">
                                    <select name="especialidade" id="select-especialidade" class="select">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="e : ${especialidade}" 
											th:value="${e.name()}"
											th:text="${e.displayName()}"></option>
									</select> <label for="select-feitoPor">Especialidade</label>
                                </div>

                                <p class="col m4">
                                    <input id="documentacaoCompleta" type="checkbox" name="documentacaoCompleta" /> <label for="documentacaoCompleta">Documentação completa</label>
                                </p>

                            </div>

                            <div class="row">

                                <div class="input-field col m4">
                                    <select name="feitoPor.id" id="select-feitoPor" class="select">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="c : ${consultores}" th:value="${c.id}"
											th:text="${c.sigla} +', '+${c.nome} "></option>
									</select> <label for="select-feitoPor">Feito por</label>
                                </div>

                                <div class="input-field col m4">
                                    <select name="validadoPor.id" id="validadoPor" class="select">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="l : ${lideres}" th:value="${l.id}"
											th:text="${l.sigla} +', '+${l.nome} "></option>
									</select>
                                    <label for="validadoPor">Validado por</label>
                                </div>

                            </div>

                            <div class="row">
                                <div class="input-field col m2">
                                    <input type="number" id="porcentagemFeita" onchange="handleChange(this);" value="0" name="porcentagemFeita" /><span></span>
                                    <label for="porcentagemFeita">% Realizado</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m2">
                                    <input type="text" id="enviadoEm" name="enviadoCliente" class="datepicker" /> 
                                    <label for="enviadoCliente">Enviado ao cliente</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m3">
                                    <select name="estado" id="select-estado" class="select">
										<option value="" th:disabled="disabled" th:value="'NULL'"
											th:selected="selected">Selecione</option>
										<option th:each="e : ${estado}"
											th:value="${e.name()}" 
											th:text="${e.displayName()}">
										</option>
									</select> <label for="select-estado">Estado</label>
                                </div>

                            </div>

                            <div sec:authorize="hasAnyRole('ROLE_ADMINISTRATIVO','LIDERTECNICO', 'ADMIN', 'TI','ROLE_CONSULTOR')" 
                                 class="row">
                                <div class="col m3">
                                    <button type="submit" id="btn-cad-cliente" class="waves-effect green btn">
										<i class="material-icons left">add</i>Add
									</button>
                                </div>
                                
                            </div>
                            
                        </div>
                    </li>
                </ul>
            </div>
        </form>
			 <input name="selectedSubmit" type="text" id="selectedSubmit" hidden="hidden" />
			 <input name="selectedUpdateSubmit" type="text" id="selectedUpdateSubmit" hidden="hidden" />
			 
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nome</th>
                        <th>% Realizado</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
				
				
                <tbody>
               
                    <tr th:each="r : ${relatorios}">
                        <td th:text="${r?.numero}"></td>
                        <td th:text="${r?.nome}"></td>
                        <td th:text="${r?.porcentagemFeita}"></td>
                        <td th:text="${r?.estado}"></td>
                        <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_CONSULTOR','ROLE_COORDENADOR', 'ROLE_LIDERTECNICO')" class="left"> 
                        <a th:href="@{/producoes/relatoriosUpdate/} + ${r.id}+'?idEtapa='+${etapasId}" class="btn light-blue darken-6">
                 		<i class="material-icons">edit</i></a></td>
                 			

                 <td sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIDERTECNICO','ROLE_COORDENADOR')" class="left">

							<button type="button" class="btn modal-trigger btn tooltip red"
								th:attr="data-target='modalD' + ${r.id}" id="btnRemover">
								<i class="material-icons">delete</i>
							</button>

                            <form th:action="@{/producoes/relatoriosDelete/} + ${r.id}" method="POST">
                                <div th:id="modalD + ${r.id}" class="modal bottom-sheet">
                                    <div class="modal-content">
                                    
                                        <h4>
                                            Deseja mesmo remover o relatório ? <i class="material-icons right modal-close mouse-hand">close</i>
                                        </h4>
                                    </div>
                                    <input type="text" hidden="hidden" name="etapasId" th:value="${etapasId}" />
                                    <div class="modal-footer">
                                        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Remover</button>
                                    </div>
                                </div>
                            </form>

                        </td>
                    
                    </tr>
                    
                </tbody>
            </table>
        </div>
        
                     <div id="modalEficiencia" class="modal">
        						<div class="modal-content">
           						 <h4>Apontamento de Horas</h4>
          						  <p>Cadastre as horas para as atividades da etapa: <b th:text="${etapa.nome}"></b></p>
           						  <div class="row">
                					<h5>Atividades</h5>
                						<div th:id="corpo">
                    						<a th:id="addAtividade" class="mouse-hand add tooltipped" data-position="left" data-tooltip="Adicionar Atividade"><i class="material-icons left">add</i></a>
                   		<a th:id="removeAtividade" class="mouse-hand remove tooltipped" data-position="right" data-tooltip="Remover Atividade"><i style='color: red' class="material-icons left">remove</i></a>
                  		  <br />
                   		 <br />
                </div>

                <button class="waves-effect green btn tooltip salvar right" id="salvaEficiencia">
                    <i class="material-icons left">save</i>Salvar
                </button>

            </div>
        </div>
    </div>

        <div class="row">
            <div class="col m10 right-align">
                <a href="javascript:history.back()" class="waves-effect tooltip"><i
					class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>

    </div>


    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/itemTest.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>

    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>

</body>

</html>
