<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Produção"></title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <h4 th:text="${etapa.nome}"></h4>
                <hr/>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="row">
                <section id="filters">
                    <div class="input-field col m5">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="txt-pesq-tarefas" />
                        <label for="txt-pesq-tarefas">Pesquisar Tarefas</label>
                    </div>
                </section>
            </div>

             <div class="row">
             <nav>
                <div class="nav-wrapper">
                    <div class="col m12 grey darken-2 z-depth-1">
                        <a th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb" th:text="${cliente.razaoSocial}"></a>
                         <a th:href="@{/producoes/update/} + ${producao.id}" class="breadcrumb" th:text="'Etapas'"></a>
                        <a th:href="@{/producoes/} + ${producao.id}+'/'+${etapa.id}" class="breadcrumb" th:text="${etapa.nome}"></a>
                    </div>
                </div>
            </nav>
		   </div>

            <form th:action="@{/producoes/update}" method="POST">
                <div class="row">
                    <table id="tabela-tarefas" class="responsive-table bordered">
                        <thead>
                            <tr>
                                <th th:hidden="hidden">#</th>
                                <th>Tarefas da Etapa</th>
                                <th>Itens</th>
                            </tr>
                        </thead>
                        <tbody th:each="t: ${etapa.tarefas}" th:switch="${t.nome}">
                             <tr th:case="'Obrigações periódicas'">
                                <td><a th:text="${t.nome}"></a></td>
                                <td>
                                    <a th:href="@{/producoes/obrigacoes/} + ${producao.id}" class="btn blue-grey lighten-1">
                                    <i class="material-icons">playlist_add_check</i>
                            		</a>
                                </td>
                            </tr>
                            
                             <tr th:case="'Relatório individual de projeto'">
                                <td><a th:text="${t.nome}"></a></td>
                                <td>
                                    <a th:href="@{/producoes/projetos/} + ${producao.id}" class="btn blue-grey lighten-1">
                                    <i class="material-icons">playlist_add_check</i>
                            		</a>
                                </td>
                            </tr>
                            
                             <tr th:case="'4. Balancete cálculo'">
                                <td><a th:text="${t.nome}"></a></td>
                                <td>
                                    <a th:href="@{/producoes/balancete/} + ${producao.id}" class="btn blue-grey lighten-1">
                                    <i class="material-icons">playlist_add_check</i>
                            		</a>
                                </td>
                            </tr>
                            
                            <tr th:case="'2. Relatórios técnicos'">
                                <td><a th:text="${t.nome}"></a></td>
                                <td>
                                    <a th:href="@{/producoes/relatorios/} + ${producao.id}" class="btn blue-grey lighten-1">
                                    <i class="material-icons">playlist_add_check</i>
                            		</a>
                                </td>
                            </tr>
                            
                            <tr th:case="*">
                                <td><a th:text="${t.nome}"></a></td>
                                <td>
                                    <a th:href="@{/producoes/} + ${etapas.id} + '/v2'" class="btn blue-grey lighten-1">
                                    <i class="material-icons">playlist_add_check</i>
                            		</a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </form>
            <div class="col m8 right-align">
                <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/update.js}"></script>

</body>

</html>
