<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<title th:text="Produção"></title>
<link th:include="fragments/header :: header-css" />
</head>

<body>

	<div th:include="fragments/header :: menu-lateral"></div>

	<div class="row">

		<div th:include="fragments/btnMenuLogout :: btns-default"></div>

		<div class="col m10">
			<div class="center">
				<h4
					th:text="${cliente.razaoSocial}+ ' - ' + ${producao.ano}+ ' - ' +${producao.tipoDeNegocio}"></h4>
				<hr />
			</div>
		</div>
	</div>
	<div class="container">

		<div class="col m2">
			<a th:href="@{/producoes/gerencial/} + ${producao.id}" type="button"
				style='width: 271px' class="waves-effect green btn right"
				title="gerencial"><i class="material-icons left">supervisor_account</i>Gerencial</a>
			<br /> <br /> <a
				th:if="${#authentication.getPrincipal().getPais().name()!='CHILE'}"
				th:href="@{/producoes/operacional/} + ${producao.id}" type="button"
				style='width: 271px' class="waves-effect blue btn right"
				title="operacional"><i class="material-icons left">build</i>Operacional</a>
			<br /> <br /> 
			<a th:href="@{/producoes/eficiencia/} + ${producao.id}" type="button"
				style='width: 271px' class="waves-effect #86759f btn right"
				title="eficiencia"><i class="material-icons left">alarm_on</i>Apontamento
				de Horas</a>

		</div>

		<div class="row">
			<div class="row"
				th:if="${#authentication.getPrincipal().getPais().name()=='CHILE'}">
				<form th:action="@{/producoes/linkPre/}+${producao.id}" id="form" method="POST">
					<div class="input-field col m5">
						<select id="pre" name="pre" class="select"
							th:required="required">
							<option th:selected="selected" value="">Selecione</option>
							<option th:each="p : ${preProd}" th:value="${p.id}"
								th:text="${p.campanha}+';'+${p.situacao}+';'+${p.consultor.nome}" th:selected="(${p?.id == producao?.preProducao?.id})"></option>
						</select> <label>Conectar preproducción</label>
					</div>
					<button type="submit" class="waves-effect green btn tooltip" id="x" style="margin-top:10px;">
					<i class="material-icons left">add</i>Adicionar</button>
				</form>
			</div>
			<div class="row">
				<section id="filters">
					<div class="input-field col m5">
						<i class="material-icons prefix">search</i> <input type="text"
							id="txt-pesq-etapas" /> <label for="txt-pesq-etapas">Pesquisar
							Etapas</label>
					</div>
				</section>
			</div>

			<div th:if="${producao.produto.nome=='EX-TARIFÁRIO'}" class="row">
				<div class="col s12 m3">
					<div class="card blue-grey darken-1">
						<div class="card-content white-text">
							<span style="font-size: 15px;" class="card-title">Crédito
								(Submissão de Pleito):</span>
							<p th:if="${producao.credito != null}"
								th:text="'R$ '+${producao.credito}"></p>
							<p th:if="${producao.credito == null}" th:text="'R$ 0,00'"></p>
						</div>
					</div>
				</div>
			</div>

			<nav>
				<div class="nav-wrapper">
					<div class="col m12 grey darken-2 z-depth-1">
						<a
							th:if="${#authentication.getPrincipal().getPais().name()=='BRASIL'}"
							th:href="@{/producoes/cliente/} + ${cliente.id}"
							class="breadcrumb" th:text="${cliente.razaoSocial}"></a> <a
							th:if="${#authentication.getPrincipal().getPais().name()=='CHILE'}"
							th:href="@{/producoes/clienteCL/} + ${cliente.id}"
							class="breadcrumb" th:text="${cliente.razaoSocial}"></a> <a
							th:href="@{/producoes/update/} + ${producao.id}"
							class="breadcrumb" th:text="Etapas"></a>
					</div>
				</div>
			</nav>

			<input type="text" th:value="${produto.id}" id="prodId"
				hidden="hidden" />

			<form th:action="@{/producoes/update}" method="POST">
				<div class="row">
					<table id="tabela-etapas" class="responsive-table bordered">
						<thead>
							<tr>
								<th th:hidden="hidden">#</th>
								<th>Etapa de trabalho</th>
								<th>Tarefas</th>
								<th th:hidden="hidden">Item2o</th>
							</tr>
						</thead>
						<tbody th:each="e: ${produto.etapasTrabalho}"
							th:switch="${e.subProducao}">
							<tr th:case="false">
								<td><a class="tooltipped" data-position="right"
									th:text="${e?.nome}"></a></td>
								<td><a
									th:href="@{/producoes/} + ${producao.id} +'/'+ ${e.id}"
									class="btn blue-grey lighten-1"> <i id="botaoTarefas"
										class="material-icons">dehaze</i>
								</a> <!-- 	                            	<a th:hidden="hidden" id="erroUpdate" name="erroUpdate" ></a> -->
									<input type="text" name="erroUpdate" id="erroUpdate"
									th:hidden="hidden" /></td>
							</tr>
							<tr th:case="true">
								<td><a class="tooltipped" data-position="right"
									th:text="${e.nome}"></a></td>
								<td><a
									th:href="@{/producoes/subProd/} + ${producao.id}+'?idEtapa='+${e.id}"
									class="btn blue-grey lighten-1"> <i class="material-icons">dehaze</i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
			<div class="col m8 right-align">
				<a th:href="@{/producoes/all}" class="waves-effect tooltip"><i
					class="material-icons left">arrow_back</i>Voltar</a>
			</div>
		</div>
	</div>

	<div th:include="fragments/footer :: footer"></div>
	<script th:src="@{/js/producao/update.js}"></script>
	<script th:src="@{/js/libs/jquery.mask.min.js}"></script>

</body>

</html>