<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Abertura de Missão</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Produção</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
        
            <div class="row">

                <input type="text" id="clienteId" th:value="${cliente.id}" name="clienteId" th:hidden="hidden" />
                <input type="text" id="producaoId" th:value="${producao.id}" name="producaoId" th:hidden="hidden" />

                <ul class="collapsible">
                    <li class="active">
                        <div class="collapsible-header active"><i class="material-icons">library_books</i>Contratos</div>
                        <div class="collapsible-body white">

                            <div class="row" id="anteriorC">
                                <div class="col s12 m12">
                                    <b>Contratos</b>
                                    <div class="card-panel grey lighten-5 z-depth-1">
                                        <table class="highlight">
                                            <thead>
                                                <tr>
                                                	<th>Data Registro</th>
                                                    <th>Produto</th>
                                                    <th>Situação</th>
                                                    <th>Início da Vigência</th>
                                                    <th>Fim da Vigência</th>
                                                    <th>Comercial Responsável</th>
                                                     <th>Produto Alvo</th>
                                                     <th>Selecionar</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr th:each="c : ${contratos}">
                                                    <td id="produtoId" th:text="${c.produto.id}" th:hidden="hidden"></td>
                                                    <td th:text="${c.dataEntrada}"></td>
                                                    <td th:text="${c.produto.nome}"></td>
                                                    <td th:if="${c?.contratoInativo == true}" th:text="'Inativo'"></td>
                    								<td th:if="${c?.contratoInativo == false}" th:text="'Ativo'"></td>
                                                    <td id='inicio' th:text="${c?.vigencia?.inicioVigencia}"></td>
                                                    <td id='fim' th:if="${#strings.toUpperCase(c?.vigencia.nome) == 'VIGÊNCIA INDETERMINADA'}" th:text="${c?.vigencia.dataEncerramentoContrato != ''} ? ${c?.vigencia?.dataEncerramentoContrato} : 'Indeterminada'">Indeterminada</td>
                            						<td id='fim' th:if="${#strings.toUpperCase(c?.vigencia.nome) == 'VIGÊNCIA DETERMINADA'}" th:text="${c?.vigencia?.fimVigencia}"></td>
                                                    <td th:text="${c?.comercialResponsavelEfetivo?.nome}"></td>
                                                    <td   th:switch="${c.produtoAlvo}">
                                                    		<p th:case="true" th:text="SIM"></p>
                             								<p th:case="false" th:text="NÃO"></p>  
                                                    </td>
                                                    <td>
                                                        <p>
                                                            <input name="contrato.id" class="contratoId" type="radio" th:value="${c.id}" th:id="${c.id}" th:checked="${c.id == producao.contrato.id}" required="required" />
                                                            <label th:for="${c.id}"></label>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            <form th:id="formId">
	            <div th:id="modalDeleteFaturamentos" class="modal bottom-sheet">
    	        	<div class="modal-content">
        	        	<h4>Deseja mesmo alterar o Contrato desta Produção? 
            	    	<i class="material-icons right modal-close mouse-hand">close</i>
                		</h4>
                		<p th:text="'Você estará removendo todos os Faturamentos Gerados. Este processo é irreversível.'"></p>
	                </div>
                	<div class="modal-footer">
                		<button id="btnAlterar"
                	    	class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Alterar</button>
            	    </div>
            	</div>
            </form>

            </div>
            <div class="row">
                <div class="col m4">
                    <button type="submit" class="waves-effect green btn tooltip" id="btn-add-producao">
                        <i class="material-icons left">add</i>Salvar
                    </button>
                </div>
                <div class="col m8 right-align">
                    <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
    </div>


    <div id="modalContrato" class="modal">
        <div class="modal-content">
            <h4>Sem contrato!</h4>
            <p>Não foi identificado nenhum contrato para o ano corrente. Selecione um contrato base anterior e sinalize o responsável.</p>
        </div>

        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/libs/CNPJ.js}"></script>
    <script th:src="@{/js/contrato/buscaCNPJ.js}"></script>
    <script th:src="@{/js/producao/updateContrato.js}"></script>
</body>

</html>
