<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8" />
		<title>Cadastrar Prêmio</title>
		<link th:include="fragments/header :: header-css" />
	</head>
	
	<body>
		<div th:include="fragments/header :: menu-lateral"></div>
	
	    <div class="row">
	
	        <div th:include="fragments/btnMenuLogout :: btns-default"></div>
	
	        <div class="col m10">
	            <div class="center">
	                <!-- Título da página -->
	                <h4>+ Prêmio</h4>
	                <hr/>
	            </div>
	        </div>
	    </div>
	
		<div class="container">
        	<form th:action="@{/premios/add}" method="POST">
       			<ul class="collapsible">
       				<li>
       					<div class="collapsible-header"><i class="material-icons">person</i>Funcionário</div>
       					<div class="collapsible-body grey lighten-3">
       						
       						<div class="row">
       							<div class="input-field col m5">
       								<select name="idConsultor" id="select-consultor" class="select tooltip" th:required="true" onblur="validaConsultor();">
			                           <option value="" th:disabled="disabled" th:selected="selected">Selecione o funcionário</option>
			                           <option 	th:each="consultor : ${consultores}"
			                            		th:value="${consultor.id}" 
			                            		th:text="${consultor.nome}">
			                           </option>
				                    </select>
                                    <label>Funcionário</label>
       							</div>
<!--        							th:value="${consultor.email}"  -->
				                <div class="input-field col m6">
				                    <input name="email" id="email" readonly="true" type="text" class="tooltip"/>
				                    <label for="email">E-mail @fi-group.com</label>
				                </div>
       						</div>
<!--        						th:value="${consultor.cargo}" -->
       						<div class="row">
       							<div class="input-field col m4">
                                    <input name="cargo" id="cargo" readonly="true" type="text" class="tooltip " onblur="validaConsultor();" th:required="true"/>
                                    <label for="cargo">Cargo</label>
                                </div>
<!--        							<div class="input-field col m4"> -->
<!--                                     <input name="nivelCargo" id="nivelCargo" readonly="true" type="text" class="tooltip" th:required="required"/> -->
<!--                                     <label for="nivelCargo">Categoria do Cargo</label> -->
<!--                                 </div> -->
                                <div class="input-field col s3 m3 s3 center">
									<select class="select" id="select-categoria" style="left: 100px;" onblur="validaValores();">
										<option th:disabled="disabled" th:selected="selected" value="">Selecione</option>
	      								<option value="JUNIOR">Junior</option>
	      								<option value="JUNIOR_RS">Junior RS</option>
	                                	<option value="PLENO">Pleno</option>
	                                	<option value="SENIOR">Senior</option>
	                                	<option value="SENIOR_LAB">Senior Lab</option>
	                                	<option value="SENIOR_RS">Senior RS</option>
	                                	<option value="KAM">KAM</option>
	                                	<option value="KAM_SC">KAM SC</option>
		      						</select>
                                	<label>Categoria</label>
								</div>
       						</div>
       					</div>
       				</li>
       				
                	<li>
	                    <div class="collapsible-header"><i class="material-icons">flag</i>Metas</div>
	                    <div class="collapsible-body grey lighten-3">
	                    	<div class="row">
	                        	<div class="input-field col m3">
                                    <input name="VNAtingido" id="VNAtingido" type="text" class="tooltip center" onblur="validaVN();"/>
                                    <label for="VNAtingido">VN atingido (R$)</label>
                                </div>
	                        	<div class="input-field col m3">
                                    <input name="VNPretendido" id="VNPretendido" type="text" class="tooltip center" onblur="validaVN();"/>
                                    <label for="VNPretendido">VN pretendido (R$)</label>
                                </div>
                           		<div class="input-field col m2">
	                        		<input name="eficienciaVN" id="eficienciaVN" type="text" value="0" readonly="true" class="tooltip center"/>
	                        		<label class="center">%</label>
	                        	</div>
	                        	<div class="input-field col m4">
	                        		<label>Acima de 70% da meta, 50% do prêmio desbloqueado</label>
	                        	</div>
                            </div>
                            <div class="row center">
	                        	<div>
	                        		<h5>KPI's</h5>
	                        	</div>
                            </div>
                            <div class="row">
	                        	<div class="input-field col m3">
                                    <input name="propostas" id="propostas" type="text" value="0" onchange="handleChange(this);" class="tooltipped center" 
                                    		data-position="left" data-tooltip="de 0 até 1000 propostas"  onblur="validaPropostas();"/>
                                    <label for="propostas">Propostas atingidas</label>
                                </div>
	                        	<div class="input-field col m3">
                                    <input name="metaPropostas" id="metaPropostas" type="text" value="0" onchange="handleChange(this);" class="tooltip center"
                                    		onblur="validaPropostas();"/>
                                    <label for="metaPropostas">Meta de propostas</label>
                                </div>
                                <div class="input-field col m2">
	                        		<input name="eficienciaPropostas" id="eficienciaPropostas" type="text" value="0" readonly="true" class="tooltip center"/>
	                        		<label class="center">%</label>
	                        	</div>
                                <div class="input-field col m4">
	                        		<label>	Prêmio proporcional a porcentagem de eficiência das propostas
	                        		</label>
	                        	</div>
                           	</div>
                            <div class="row">
	                        	<div class="input-field col m3">
                                    <input name="contratos" id="contratos" type="text" value="0" onchange="handleChange(this);" class="tooltipped center" 
                                   			data-position="left" data-tooltip="de 0 até 1000 contratos"  onblur="validaContratos();"/>
                                    <label for="contratos">Contratos atingidos</label>
                                </div>
	                        	<div class="input-field col m3">
                                    <input name="metaContratos" id="metaContratos" type="text" value="0" onchange="handleChange(this);" class="tooltip center"
                                    		onblur="validaContratos();"/>
                                    <label for="metaContratos">Meta de contratos</label>
                                </div>
                                <div class="input-field col m2">
	                        		<input name="eficienciaContratos" id="eficienciaContratos" type="text" value="0" readonly="true" class="tooltip center"/>
	                        		<label class="center">%</label>
	                        	</div>
                                <div class="input-field col m4">
	                        		<label>	Prêmio proporcional a porcentagem de eficiência dos contratos
	                        		</label>
	                        	</div>
                           	</div>
                           	<div class="row">
                                <div class="input-field col m3">
                                    <input name="ticketMedio" id="ticketMedio" type="text" class="tooltip center" onblur="validaTicketMedio();"/>
                                    <label for="ticketMedio">Ticket Medio atingido (R$)</label>
                                </div>
                                <div class="input-field col m3">
                                    <input name="metaTicketMedio" id="metaTicketMedio" type="text" class="tooltip center" onblur="validaTicketMedio();"/>
                                    <label for="metaTicketMedio">Meta de Ticket medio(R$)</label>
                                </div>
                                <div class="input-field col m2">
	                        		<input name="eficienciaTicketMedio" id="eficienciaTicketMedio" type="text" value="0" readonly="true" class="tooltip center"/>
	                        		<label class="center">%</label>
	                        	</div>
                                <div class="input-field col m4">
	                        		<label>	Atingido meta do plano estrategico, prêmio adicionado
	                        		</label>
	                        	</div>
                            </div>
                            <div class="row">
                                <div class="input-field col m3">
                                    <input name="fluxoCaixa" id="fluxoCaixa" type="text" class="tooltip center" onblur="validaFluxoCaixa();"/>
                                    <label for="fluxoCaixa">Fluxo de caixa atingido (R$)</label>
                                </div>
                                <div class="input-field col m3">
                                    <input name="metaFluxoCaixa" id="metaFluxoCaixa" type="text" class="tooltip center" onblur="validaFluxoCaixa();"/>
                                    <label for="metaFluxoCaixa">Gatilho 70% Fluxo de caixa (R$)</label>
                                </div>
                                <div class="input-field col m2">
	                        		<input name="eficienciaFluxoCaixa" id="eficienciaFluxoCaixa" type="text" value="0" readonly="true" class="tooltip center"/>
	                        		<label class="center">%</label>
	                        	</div>
                                <div class="input-field col m4">
	                        		<label>	Faturado 70% do que foi vendido antes do fim da campanha<br/>
	                        				Receber proporcional ao prêmio
	                        		</label>
	                        	</div>
                           </div>
                                
                       	</div>
                    </li>
                	<li>
	                    <div class="collapsible-header"><i class="material-icons">attach_money</i>Valores</div>
	                    <div class="collapsible-body grey lighten-3">
	                        <div class="row">
<!-- 	                        	<div class="input-field col m3"> -->
<!-- 	                            	<input value="0" id="valorPremio" type="number" data-position="above" data-tooltip="de 0% ate 20%" class="tooltipped center" name="valorPremio" onchange="handleChange(this);" min="0" max="20" step="0.1"/> -->
<!-- 	                                <label for="valorPremio">Porcentagem do prêmio</label> -->
<!--                                 </div> -->
	                        	<div class="input-field col m4">
	                        		<input type="text" id="premioKPIEficiencia" 	name="premioKPIEficiencia" 	th:hidden="hidden"/>
	                        		<input type="text" id="premioKPIServicos" 		name="premioKPIServicos" 	th:hidden="hidden"/>
                        			<input type="text" id="premioKPITicketMedio" 	name="premioKPITicketMedio" th:hidden="hidden"/>
	                        		<input type="text" id="premioKPIFluxoCaixa" 	name="premioKPIFluxoCaixa" 	th:hidden="hidden"/>
                                    <input name="totalPremio" id="totalPremio" type="text" 
                                    	class="tooltip center" 
                                    	onblur="validaTotalPremio();" 
                                    	onkeyup="handleChange2();"/>
                                    <label for="totalPremio">Total do prêmio (R$)</label>
                               	</div>
                               	<div class="input-field col m4">
                                    <input name="limitePremioCargo" id="limitePremioCargo" readonly="true" type="text" class="tooltip center"  />
                                    <label for="limitePremioCargo">Máximo de prêmio (R$)</label>
                               	</div>
	                        </div>
	                    </div>
                    </li>
                    <li>
                    <div class="collapsible-header"><i class="material-icons">date_range</i>Data do prêmio</div>
	                    <div class="collapsible-body grey lighten-3">
	                        <div class="row" style="margin-bottom: 0px">
	                        	<div class="input-field col m3 center" style="margin-bottom: 0px">
                                      	<input id="dataEntradaCliente" name="dataEntradaCliente" type="text" class="datepicker col m8 center" />
	                                    <label class="center">Dt. de recebimento do cliente</label>
                                </div>
	                        	<div class="input-field col m3 center" style="margin-bottom: 0px">
                                      	<input id="dataEntradaFuncionario" name="dataEntradaFuncionario" type="text" class="datepicker col m9 center" />
	                                    <label class="center">Dt. de recebimento do funcionário</label>
                                </div>
                                <div class="input-field col left m3 center">
					                <select class="select center col m8" name="campanha" id="select-campanha">
					                    <option th:disabled="disabled" th:selected="selected" value="" class="center ">Campanha</option>
					                    <option value="2019" class="center">2019</option>
					                    <option value="2020">2020</option>
					                    <option value="2021">2021</option>
					                    <option value="2021">2022</option>
					                </select>
					            </div>
	                        </div>
	                    </div>
                	</li>
                   	<li>
                    <div class="collapsible-header"><i class="material-icons">priority_high</i>Observações</div>
	                    <div class="collapsible-body grey lighten-3">
                            <div class="row">
               					<div class="input-field col m8">
                   					<textarea id="obsPremio" name="obsPremio" class="materialize-textarea"></textarea>
                   					<label for="obsPremio">Observações</label>
               					</div>
           				    </div>
	                    </div>
                	</li>
                   	
       			</ul>
       			<div class="row">
	                <div class="col m4">
	                    <button id="btn-add-premio" type="submit" class="tooltipped waves-effect green btn tooltip" 
	                    		data-position="right" data-tooltip="Adicionar novo prêmio">
		                    <i class="material-icons left">add</i>
		                    Adicionar	        
		                </button>
	                </div>               
				    <div class="col m8 right-align">
	                    <a th:href="@{/comissoes/all}" data-position="left" data-tooltip="Voltar para listagem" class="tooltipped waves-effect tooltip">
	                    	<i class="material-icons left">arrow_back</i>
	                    	Voltar
	                    </a>
	                </div> 
                </div>
       		</form>
       	</div>
	
		<div th:include="fragments/footer :: footer"></div>
		<script src="../js/libs/datePickerInit.js"></script>
		<script src="../js/libs/jquery.mask.min.js"></script>
		<script src="../js/premio/form.js"></script>
	</body>
</html>