<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
		<meta charset="UTF-8" />
		<title th:text="'Informações do prêmio'"></title>
		<link th:include="fragments/header :: header-css" />
	</head>
	
	<body>
		<div th:include="fragments/header :: menu-lateral"></div>
		<div class="row">
			<div th:include="fragments/btnMenuLogout :: btns-default"></div>
		</div>
	
		<div class="container">
			<form action="/premios/update" method="POST" th:object="${premio}">
			
			<input type="text" name="id" id="id" th:hidden="hidden"/>
				<div class="center">
					<h4 class="green-text darken-4" style="margin-bottom: 0px; margin-top: 0px" th:text="'Premio campanha: ' + ${premio.campanha} + ' de ' + ${premio.consultor.nome}"></h4>
						<hr />
				</div>
				<div class="row center">
					<h5>Informações Gerais</h5>
					<table class="responsive-table table-default bordered">
						<thead>
							<tr>
<!-- 							<th>Consultor</th> -->
								<th>VN atingido</th>
	                     		<th>Eficiencia atingida</th>
	                     		<th>Serviços atingido</th>
								<th>Ticket Médio atingido</th>
								<th>Fluxo de caixa atingido</th>
								<th>Porcentagem do Prêmio</th>
								<th>Valor do Prêmio</th>
								
							</tr>
						</thead>
						<tbody id="tbody-informacoes-premio">
							<tr>
<!-- 							<td th:text="${premio?.consultor?.nome}"></td>Consultor  -->
								<td class="center" th:text="'R$' + ${premio?.valorNegocioRealizado}"></td><!--VN atingido-->
								<td class="center" th:text="${premio?.eficienciaPropostasRealizado}"></td><!--Eficiencia Atingida-->
								<td class="center" th:text="${premio?.eficienciaContratosRealizado} + '%'"></td><!--Servicos Atingidos-->
								<td class="center" th:text="'R$' + ${premio?.ticketMedioRealizado}"></td><!--Ticket medio atingido-->
								<td class="center" th:text="${premio?.faturamentoRealizado}"></td><!--Fluxo de caixa atingido-->
								<td class="center" th:text="${premio?.porcentagemPremio} + '%'"></td><!--Porcentagem premio-->
								<td class="center" th:text="'R$' + ${premio?.valorPremio}"></td><!--Valor premio-->
								
							</tr>
						</tbody>
					</table>
				</div>	
				
				<div class="row center">
					<h5>Datas</h5>
					<table class="responsive-table table-default bordered e">
						<thead>
							<tr>
								<th class="center">Dt. recebimento cliente</th>
								<th class="center">Dt. recebimento funcionario</th>
							</tr>
						</thead>
						<tbody class="center" id="tbody-datas-premio">
							<tr>
	 							<td class="center" th:text="${premio?.dataDeRecebimentoCliente}"></td>
								<td class="center" th:text="${premio?.dataRecebimentoFuncionario}"></td>
		   					</tr>
						</tbody>
					</table>
				</div>
				
		
				<div class="row center">
					<h5>Observações</h5>
					<table class="responsive-table table-default bordered">
						<thead>
							<tr>
							</tr>
						</thead>
						<tbody class="center" id="tbody-observacoes-premio">
							<tr>
	 							<td th:if="${premio?.observacoes != null}" th:text="'Observação: '+ ${premio?.observacoes}"></td>
								<td th:if="${premio?.observacoes == null}" th:text="'Sem' + ' ' + 'observações'"></td>
		   					</tr>
						</tbody>
					</table>
				</div>
				
					<div class="row">
						<div class="col s4 m4 l4 left-align">
							<a id="excelBtn" 
								onClick="javascript:fnExcelReport();" 
								data-position="above" data-tooltip="Baixar o estado atual da tabela para Excel" 
								class="tooltipped waves-effect btn left">
			                    <i class="material-icons left">file_download</i>Exportar Excel
		                    </a>
	                    </div>
	                    <div class="col s4 m4 l4 center">
                    		<button type="submit" 
                            		id="btn-valida-premio" 
                            		data-position="above" data-tooltip="Validar prêmio" 
                            		class="tooltipped waves-effect green btn">Validar prêmio
                           		<i class="material-icons left" style="margin: 0px; padding: 0px">check</i>
                            </button>
	                    </div>
		                <div class="col s4 m4 l4 right-align">
		                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/comissoes/all}" 
		                    	data-position="above" data-tooltip="Voltar para listagem" 
                           		class="tooltipped waves-effect tooltip" style="margin-top: 3px">
		                    	<i class="material-icons left">arrow_back</i>Voltar</a>
		                </div>
		            </div>
			</form>
		</div>
	
		<div th:include="fragments/footer :: footer"></div>
		<script th:src="@{/js/faturamento/main.js}"></script>
		<script th:src="@{/js/libs/jquery.mask.min.js}"></script>
		<script th:src="@{/js/libs/CNPJ.js}"></script>
	
	</body>

</html>
