<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Prêmios</title>
		<link th:include="fragments/header :: header-css" />
		
	</head>
	<body>
		<div th:include="fragments/header :: menu-lateral"></div>
	
	    <div class="row">
	
	        <div th:include="fragments/btnMenuLogout :: btns-default"></div>
	
	        <div class="col m10">
	            <div class="center">
	                <!-- Título da página -->
	                <h4>Prêmios por consultor</h4>
	                <hr/>
	            </div>
	        </div>
	    </div>
	    <div class="container">
			<div class="row">
				<section id="filters">
					<div class="input-field col m5">
						<i class="material-icons prefix">search</i> <input type="text"
							id="txt-pesq-cliente" /> <label for="txt-pesq-filial">Pesquisar consultor</label>
					</div>
				</section>
				<div class="col m3 offset-m4">
					<a type="submit" class="waves-effect green btn right" th:href="@{/premios/form}" title="adicionar">
					<i class="material-icons left">add</i>Prêmio
					</a>
				</div>
			</div>
		    
		</div>
		
		<div class="row">
            <table id="" class="responsive-table tabela-cliente bordered">
                <thead>
	                <tr>
						<th th:hidden="hidden">#</th> 
						<th>Consultor</th>
						<th>Cliente</th>
						<th>Ano</th>
						<th>Produto</th>
					</tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div th:include="fragments/footer :: footer"></div>
		<script src="../js/premio/list.js"></script>
	</body>
</html>