<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8" />
		<title>Atualizar Prêmio</title>
		<link th:include="fragments/header :: header-css" />
		
	</head>
	
	<body>
		<div th:include="fragments/header :: menu-lateral"></div>
	
	    <div class="row">
	
	        <div th:include="fragments/btnMenuLogout :: btns-default"></div>
	
	        <div class="col m10">
	            <div class="center">
	                <!-- Título da página -->
	                <h4>Alteração de Prêmio</h4>
	                <!-- <h4 th:text="Atualizar + ' ' + 'Comissao' + ' ' + ${comissao.consultor.nome}"></h4> -->
	                
	                <hr/>
	            </div>
	        </div>
	    </div>
	    
	    <div class="container">
       			<div class="row">
		        	<input type="text" name="id" id="idPremio" th:hidden="hidden" />
       			</div>
       			
       			<ul class="collapsible">
       				<li>
       					<div class="collapsible-header"><i class="material-icons">person</i>Consultor</div>
       					<div class="collapsible-body grey lighten-3">
       						<div class="">
	       						<div class="row">
	       							<div class="input-field col m4">
	       								<select name="consultor" id="consultor" class="select">
	       									<option th:disabled="disabled">Selecione o consultor</option>
	                                        <option value="Consultor1">Consultor consultor</option>
	                                        <option value="Consultor2" th:selected="selected">Consultor consultor2</option>
	                                        <option value="Consultor3">Consultor consultor3</option>
	                                        <option value="Consultor4">Consultor consulto4</option>
	       								</select>
	       								<label>Selecione o consultor</label>
	       							</div>
	       						</div>
	       					</div>
       					</div>
       				</li>
       				<li>
                    <div class="collapsible-header"><i class="material-icons">date_range</i>Data da comissão</div>
	                    <div class="collapsible-body grey lighten-3">
	                        <div class="row">
	                        	<div class="input-field col m2">
	                                    <label>Data de Entrada</label>
                                      	<input type="text" id="dataEntrada" name="dataEntrada" class="datepicker" />
                                </div>
	                        </div>
	                    </div>
                	</li>
                	<li>
	                    <div class="collapsible-header"><i class="material-icons">attach_money</i>Valores</div>
	                    <div class="collapsible-body grey lighten-3">
	                        <div class="row">
	                            <ul class="container">
	                            </ul>
	                        </div>
	                    </div>
                    </li>
                    <li>
                    <div class="collapsible-header"><i class="material-icons">local_atm</i>Impostos</div>
	                    <div class="collapsible-body grey lighten-3">
	                        <div class="container">
	                            <div class="row">
	                            
	                            </div>
	                        </div>
	                    </div>
                    </li>
                    <li>
                    <div class="collapsible-header"><i class="material-icons">enhanced_encryption</i>Garantias</div>
	                    <div class="collapsible-body grey lighten-3">
	                        <div class="container">
	                            <div class="row">
	                            </div>
	                       	</div>
	                    </div>
                   	</li>
                   	<li>
                    <div class="collapsible-header"><i class="material-icons">priority_high</i>Observações</div>
	                    <div class="collapsible-body grey lighten-3">
	                        <div class="row">
	                            <ul class="container">
	                                
	                                <div class="row">
	                					<div class="input-field col m8">
	                    					<textarea id="obsContrato" name="obsContrato" class="materialize-textarea"></textarea>
	                    					<label for="obsContrato">Observações</label>
	                					</div>
	            				    </div>
	                            </ul>
	                        </div>                
	                    </div>
                	</li>
                   	
       			</ul>
     		<div class="row">
                <div class="col m4">
                    <button class="waves-effect green btn tooltip" id="btn-update-premio">
	                    <i class="material-icons left">edit</i>Gravar alterações      
	                </button>
                </div>               
			    <div class="col m8 right-align">
                    <a th:href="@{/comissoes/all}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>                
            </div>
       	</div>
	    
	    <div th:include="fragments/footer :: footer"></div>
		<script src="../js/premio/update.js"></script>
	</body>
</html>