<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Contratos</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/filial/list.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4 th:text="Contratos"></h4>
                <hr />
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <section id="filters">
                <div class="input-field col m5">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="txt-pesq-filial" />
                    <label for="txt-pesq-filial">Pesquisar Contratos</label>
                </div>
            </section>
        </div>
        <div class="row">
            <div id="listContratos">
                <table class="striped responsive-table" id="tabela-contratos" style="margin-top: 50px">
                    <thead>
                        <tr>
                            <th th:hidden="hidden">#</th>
                            <th>Produto</th>
                            <th>Início da Vigência</th>
                            <th>Fim da Vigência</th>
                            <th>Comercial Responsável Atual</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="c : ${contratos}" id="contrato">
                            <td id="nome" th:text="${c.produto.nome}"></td>
                            <td id="nome" th:text="${c.vigencia.inicioVigencia}"></td>
                             <td th:if="${#strings.toUpperCase(c?.vigencia.nome) == 'VIGÊNCIA INDETERMINADA'}">Indeterminada</td>
                            <td th:if="${#strings.toUpperCase(c?.vigencia.nome) == 'VIGÊNCIA DETERMINADA'}" th:text="${c?.vigencia?.fimVigencia}"></td>
                            <td id="nome" th:text="${c?.comercialResponsavelEfetivo?.nome}"></td>
                            <td>
                                <a th:href="@{/contratosCL/chile/} + ${c.id}" type="submit" class="btn light-blue darken-4">
                				<i class="material-icons">edit</i>
                				</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
         <div class="col m9 right-align">
                    <a th:href="@{/contratosCL/allCL}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
                </div>
    </div>
    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/contrato/list.js"></script>

</body>

</html>
