<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="'Atualizar Contrato' + ' ' + ${contrato.cliente.razaoSocial}"></title>
    <link th:include="fragments/header :: header-css" />
    <style>

    </style>
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">
        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <h4 th:text="Atualizar + ' ' + 'Contrato' + ' ' + ${contrato.cliente.razaoSocial}"></h4>
                <hr />
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <input type="text" th:value="${contrato.id}" name="id" id="idContrato" th:hidden="hidden" />
        </div>

        <ul class="collapsible" data-collapsible="expandable">
            <li>
                <div class="collapsible-header"><i class="material-icons">person</i>Produto / Cliente</div>
                <div class="collapsible-body grey lighten-4">
                    <div class="">
                        <div class="row">
                            <div class="input-field col m4">
                                <select name="produto.id" id="id-produto" class="select" th:required="required">
                                    <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                    <option th:each="produto : ${produtos}" th:value="${produto.id}" th:text="${produto.nome}" th:selected="(${contrato.produto.nome == produto.nome})"></option>
                                </select>
                                <label>Produto</label>      
                              </div>
                              
                              <div class="input-field col m2">
                                    <select name="tipo" id="selectTipo" class="select" th:required="required">
                                        <option value="" th:disabled="disabled" 
                                            th:selected="selected" >Selecione</option>
                                        <option>Global</option>
                                        <option>Anual</option>
                                        <option>Misto</option>
                                    </select>
                                    <label>Tipo de Contrato</label>
                                </div>
                              
                              <div class="input-field col m2">
                                       	<input type="text" name="dataEntrada" th:value="${contrato.dataEntrada}" id="dataEntrada" class="datepicker" />
              						    <label for="dataEntrada">Data de Entrada</label> 
                                </div>
                                 <p>
                                <input name="contratoFisico" th:checked="(${contrato.contratoFisico})" type="checkbox" class="filled-in" id="contratoFisico" />
                                <label for="contratoFisico">Contrato Físico</label>
                            </p>

                        </div>

                        <div class="row">

                            <div class="input-field col m4">
                                <input id="RUT" type="text" th:value="${contrato.cliente.rut}" class="tooltip" th:required="required" name="RUT" />
                                <label for="RUT">RUT</label>
                            </div>

                            <input type="text" name="cliente.id" th:hidden="hidden" id="idcliente" />

                            <div class="input-field col m4">
                                <input id="nomeEmpresa" type="text" th:value="${contrato.cliente.razaoSocial}" class="tooltip" th:required="required" name="nomeEmpresa" />
                                <label for="nomeEmpresa">Cliente</label>
                            </div>

                        </div>

                        <div class="row">

                            <div class="input-field col m4">
                                <input id="rutFaturar" type="text" th:value="${contrato.rutFaturar}" class="tooltip" th:required="required" name="rutFaturar" />
                                <label for="rutFaturar">RUT a Faturar</label>
                            </div>

                            <input type="text" name="cliente.id" th:hidden="hidden" id="idcliente" />

                            <div class="input-field col m4">
                                <input id="razaoSocialFaturar" th:value="${contrato.razaoSocialFaturar}" type="text" class="tooltip" th:required="required" name="razaoSocialFaturar" />
                                <label for="razaoSocialFaturar">Razão Social a Faturar</label>
                            </div>

                        </div>
                        <div class="row">

                            <div class="input-field col m4">
                                <select name="comercialResponsavel.id" id="comercialResponsavelEntrada" class="select" th:required="required">
                                    <option value="" th:disabled="disabled"  th:selected="selected">Selecione</option>
                                    <option th:each="cr : ${comerciaisTodos}" th:value="${cr.id}" th:text="${cr.sigla} +', '+${cr.nome}" th:selected="(${contrato?.comercialResponsavelEntrada?.nome == cr.nome})"></option>
                                </select>
                                <label>Comercial Responsável Entrada</label>
                            </div>

                            <div class="input-field col m4">
                                <select name="comercialResponsavel.id" id="comercialResponsavelEfetivo" class="select" th:required="required">
                                    <option value="" th:disabled="disabled"  th:selected="selected">Selecione</option>
                                    <option th:each="cr : ${comerciaisAtivos}" th:value="${cr.id}" th:text="${cr.sigla} +', '+${cr.nome}" th:selected="(${contrato?.comercialResponsavelEfetivo?.nome == cr.nome})"></option>
                                </select>
                                <label>Consultor Comercial Atual</label>
                            </div>

                            <div class="input-field col m4">
                                <input class="money" type="text" name="estimativaComercial" th:value="${contrato.estimativaComercial}" id="estimativaComercial" />
                                <label for="estimativaComercial">Estimativa Comercial</label>
                            </div>

                        </div>

                        <div class="row">

                            <p>
                                <input name="pedidoCompra" th:checked="${contrato.pedidoCompra}" type="checkbox" class="filled-in" id="pedidoCompra" />
                                <label for="pedidoCompra">Pedido de Compra</label>
                            </p>

                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">date_range</i>Vigência<span class="new badge" data-badge-caption="Atualize a Vigência"></span></div>
                <div class="collapsible-body grey lighten-3">
                    <div class="row">
                        <div class="container">
                             <div class="row">
                        <a id='updateVigencia' class="btn-floating right btn-large waves-effect waves-light grey modal-trigger" href="#modalVigencia"><i class="material-icons">edit</i></a>
                        </div>
                        
                            <div class="row">
                            
                                <span th:text="${contrato.vigencia.nome}" id="tipoVigencia" th:hidden="hidden"></span>
                                <input type="text" name="vigencia.nome" th:value="${contrato.vigencia.nome}" th:hidden="hidden" />
                                <h5 th:text="${contrato.vigencia.nome}"></h5>
                                <hr />
                            </div>
                            <div class="row">
                                <div class="col m3">
                                    <label>Inicio Vigência</label>
                                    <input type="text" th:value="${contrato.vigencia.inicioVigencia}" id="inicioVigencia" name="inicioVigencia" class="datepicker" />
                                    <input type="text" th:value="${contrato.vigencia.id}" name="vigencia.id" th:hidden="hidden" id="idVigencia" />
                                </div>
                                <div class="col m4 offset-m2">
                                    <div th:switch="${contrato.vigencia.nome}">
                                        <div th:if="${#strings.toUpperCase(contrato.vigencia.nome) == 'VIGÊNCIA DETERMINADA'}">
                                            <label>Fim da Vigência</label>
                                            <input type="text" th:value="${contrato?.vigencia?.fimVigencia}" name="fimVigenciaDeterminada" class="datepicker" id="fimVigencia" />
                                        </div>
                                        <div th:if="${#strings.toUpperCase(contrato.vigencia.nome) == 'VIGÊNCIA INDETERMINADA'}">
                                            <div id="dateEncerramentoContrato">
                                                <label>Data de encerramento de contrato</label>
                                                <input type="text" th:value="${contrato.vigencia.dataEncerramentoContrato}" id="dataEncerramentoContrato" name="dataEncerramentoContrato" class="datepicker" />
                                            </div>
                                            <button id="btnEncerrarContrato" type="button" class="waves-effect red accent-1 white-text btn">Encerrar contrato</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">attach_money</i>Honorários<span class="new badge" data-badge-caption="Atualize os Honorários"></span></div>
                <div class="collapsible-body grey lighten-4">
                    <div class="row">
                        <div class="container">
                        
                        <div class="row">
                            <a id='updateHonorarios' class="btn-floating right btn-large waves-effect waves-light grey modal-trigger" href="#modalHonorario"><i class="material-icons">edit</i></a>
                        </div>
                        
                            <div class="row">
                            <div th:each="h : ${honorarios}">
                                <div th:class="${h.nome}">

                                    <div th:if="${h.nome} == 'Valor Fixo'">

                                        <input type="text" th:value="${h.nome}" id="honorFixo" th:hidden="hidden" />

                                        <h5 th:text="${h.nome}" class="honorario" id="nomeHonorario"></h5>
                                        <hr />
                                        <div class="row">

                                            <div class="input-field col m4">
                                                <input type="text" th:hidden="hidden" name="idValorFixo" id="idValorFixo" th:value="${h.id}" />
                                                <input class="money" type="text" name="valorVF" th:value="${h.valor}" id="valorFixo" />
                                                <label for="valorFixo">Valor</label>
                                            </div>

                                        </div>

                                        <div class="row">

                                            <p class="col m3">
                                                <input name="valorMensal" th:checked="${h.valorMensal}" type="checkbox" class="filled-in" id="isValorMensal" />
                                                <label for="isValorMensal">Mensal?</label>
                                            </p>

                                            <div class="input-field col m3">
                                                <label for="dataCobrancaMensal">Mensal / Dia:</label>
                                                <input type="number" min="0" max="30" name="dataCobrancaMensal" th:value="${h?.dataCobrancaMensal}" id="dataCobrancaMensal" />
                                            </div>

                                        </div>

                                        <div class="row">

                                            <p class="col m3">
                                                <input name="valorTrimestral" th:checked="${h.valorTrimestral}" type="checkbox" class="filled-in" id="isvalorTrimestral" />
                                                <label for="isvalorTrimestral">Trimestral?</label>
                                            </p>

                                            <div class="input-field col m2">
                                                <label for="dataCobrancaTrimestral1">Data 1</label>
                                                <input type="text" name="dataCobrancaTrimestral1" th:placeholder="'DD/MM'" th:value="${h?.dataCobrancaTrimestral1}" id="dataCobrancaTrimestral1" />
                                            </div>

                                            <div class="input-field col m2">
                                                <label for="dataCobrancaTrimestral2">Data 2</label>
                                                <input type="text" name="dataCobrancaTrimestral2" th:placeholder="'DD/MM'" th:value="${h?.dataCobrancaTrimestral2}" id="dataCobrancaTrimestral2" />
                                            </div>

                                            <div class="input-field col m2">
                                                <label for="dataCobrancaTrimestral3">Data 3</label>
                                                <input type="text" name="dataCobrancaTrimestral3" th:placeholder="'DD/MM'" th:value="${h?.dataCobrancaTrimestral3}" id="dataCobrancaTrimestral3" />
                                            </div>

                                        </div>

                                        <div class="row">

                                            <p class="col m3">
                                                <input name="valorAnual" th:checked="${h.valorAnual}" type="checkbox" class="filled-in" id="isValorAnual" />
                                                <label for="isValorAnual">Anual?</label>
                                            </p>

                                            <div class="input-field col m3">
                                                <label for="dataCobrancaAnual">Anual / Período</label>
                                                <input type="text" name="dataCobrancaAnual" th:value="${h?.dataCobrancaAnual}" id="dataCobrancaAnual" class="datepicker" />
                                            </div>

                                        </div>

                                        <br />

                                        <div class="row">

                                            <p class="col m3">
                                                <input name="reajuste" th:checked="${h.reajuste}" type="checkbox" class="filled-in" id="isReajuste" />
                                                <label for="isReajuste">Reajuste ?</label>
                                            </p>

                                            <div class="input-field col m3">
                                                <label for="obesrvacaoReajuste">Obs Reajuste</label>
                                                <input type="text" name="obesrvacaoReajuste" th:value="${h?.obesrvacao}" id="obesrvacaoReajuste" />
                                            </div>

                                        </div>
                                    </div>

                                    <div th:if="${h.nome} == 'Percentual Fixo'">
                                        <h5 th:text="${h.nome}" id="nomePercentualFixo" class="honorario"></h5>
                                        <input type="text" th:hidden="hidden" name="idPercentualFixo" id="idPercentualFixo" th:value="${h.id}" />
                                        <hr />
                                        <div class="row">
                                            <div class="input-field col m3">
                                                <input type="number" th:value="${h.valorPercentual}" name="valorPF" id="valorPF" />
                                                <label for="valorPF">Fixo %</label>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col m4">
                                                    <input class="money" type="text" name="limitacao" id="limitacaoPercentualFixo" />
                                                    <label for="limitacaoPercentualFixo">Limitação </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div th:if="${h.nome} == 'Percentual Escalonado'">
                                        <h5 th:text="${h.nome}" class="honorario"></h5>

                                        <hr />
                                        <input type="text" th:value="${h.id}" id="idPEscalonado" th:hidden="hidden" />
                                        <ul id="faixasEscalonamento">
                                            <li th:each=" fe : ${h.faixasEscalonamento}">
                                                <div class="row">
                                                    <input type="text" th:value="${fe.id}" id="idPercentualEscalonado" th:hidden="hidden" />
                                                    <div class="input-field col m3">
                                                        <input type="number" pattern="[0-9]" title="Numbers only" step="1" min="0" th:value="${fe.valorPercentual}" id="valorPercentual" class="valorPercentual" />
                                                        <label for="valorPercentual">Valor %</label>
                                                    </div>
                                                    <div class="input-field col m3">
                                                        <input type="text" class="money valorInicial" th:value="${fe.valorInicial}" id="valorInicial" />
                                                        <label for="valorInicial">Valor inicial </label>
                                                    </div>
                                                    <div class="input-field col m3">
                                                        <input type="text" class="money valorFinal" th:value="${fe.valorFinal}" id="valorFinal" />
                                                        <label for="valorFinal">Valor Final </label>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="row">
                                            <a id="addFaixaEscalonado" class="mouse-hand tooltipped" data-position="left" data-tooltip="Adicionar Faixa"><i class="material-icons left">add</i></a>
                                            <a id="removeFaixaEscalonado" class="mouse-hand tooltipped" data-position="right" data-tooltip="Remover Faixa"><i style='color: red' class="material-icons left">remove</i></a>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col m3 ">
                                                <input type="text" class="money acimaDe" th:value="${h.acimaDe}" id="acimaDe" />
                                                <label for="acimaDe">Acima de </label>
                                            </div>

                                            <div class="input-field col m3">
                                                <input type="number" pattern="[0-9]" title="Numbers only" step="1" min="0" th:value="${h.percentAcimaDe}" id="percentAcimaDe" class="percentAcimaDe" />
                                                <label for="percentAcimaDe">Valor %</label>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="input-field col m4">
                                                <input class="money" type="text" th:value="${h.limitacao}" name="limitacao" id="limitacaoPercentualEscalonado" />
                                                <label for="limitacaoPercentualEscalonado">Limitação </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>

                    </div>

                </div>
            </li>

            <li>
                <div class="collapsible-header"><i class="material-icons">done_all</i>Timing de Faturamento<span class="new badge" data-badge-caption="Atualize o Faturamento"></span></div>
                <div class="collapsible-body grey lighten-4">
                    <div class="container">
                        <div class="row">
                            <input name="pagamentoEntrega" th:disabled="disabled" type="checkbox" th:checked="(${contrato.pagamentoEntrega})" id="pagamentoEntrega" />
                            <label for="pagamentoEntrega">Faturamento na entrega de tarefas.</label>

                            &nbsp;&nbsp;

                            <input name="pagamentoData" th:disabled="disabled" type="checkbox" th:checked="(${contrato.pagamentoData})" id="pagamentoData" />
                            <label for="pagamentoData">Faturamento apartir de data.</label>
                        </div>

                        <div class="row" th:if="${contrato.pagamentoEntrega} == true">

                            <h5 th:text="Etapas"></h5>

                            <div class="row">
                                <input type="text" id="idEtapas" th:value="${contrato?.etapasPagamento?.id}" th:hidden="hidden" />
                                <div class="input-field col m4">
                                    <select name="etapasPagamento.etapa1" id="etapa1" class="select">
                                        <option value="0"  th:selected="selected">Selecione</option>
                                        <option th:each="etapa : ${etapasTrabalho}" th:value="${etapa.id}" th:text="${etapa.nome}" th:selected="(${etapasPagamento?.etapa1?.nome == etapa.nome})"></option>
                                    </select>
                                    <label>1ª Etapa para faturamento</label>
                                </div>

                                <div class="input-field col m1">
                                    <input class="porcentagem1" type="text" name="porcentagem1" th:value="${etapasPagamento?.porcentagem1}" id="porcentagem1" />
                                    <label for="porcentagem1">%</label>
                                </div>

                                <div class="input-field col m1">
                                    <input type="number" name="parcela1" th:value="${etapasPagamento?.parcela1}" id="parcela1" />
                                    <label for="parcela1">Parcelas</label>
                                </div>
                            </div>

                            <div class="row">

                                <div class="input-field col m4">
                                    <select name="etapasPagamento.etapa2" id="etapa2" class="select">
                                        <option value="0" th:selected="selected">Selecione</option>
                                        <option th:each="etapa : ${etapasTrabalho}" th:value="${etapa.id}" th:text="${etapa.nome}" th:selected="(${etapasPagamento?.etapa2?.nome == etapa.nome})"></option>
                                    </select>
                                    <label>2ª Etapa para faturamento</label>
                                </div>

                                <div class="input-field col m1">
                                    <input type="text" class="porcentagem2" name="porcentagem2" th:value="${etapasPagamento?.porcentagem2}" id="porcentagem2" />
                                    <label for="porcentagem2">%</label>
                                </div>

                                <div class="input-field col m1">
                                    <input type="text" name="parcela2" th:value="${etapasPagamento?.parcela2}" id="parcela2" />
                                    <label for="parcela2">Parcelas</label>
                                </div>
                            </div>

                            <div class="row">

                                <div class="input-field col m4">
                                    <select name="etapasPagamento.etapa3" id="etapa3" class="select">
                                        <option value="0" th:selected="selected">Selecione</option>
                                        <option th:each="etapa : ${etapasTrabalho}" th:value="${etapa.id}" th:text="${etapa.nome}" th:selected="(${etapasPagamento?.etapa3?.nome == etapa.nome})"></option>
                                    </select>
                                    <label>3ª Etapa para faturamento</label>
                                </div>

                                <div class="input-field col m1">
                                    <input class="porcentagem3" type="text" name="porcentagem3" th:value="${etapasPagamento?.porcentagem3}" id="porcentagem3" />
                                    <label for="porcentagem3">%</label>
                                </div>

                                <div class="input-field col m1">
                                    <input type="number" name="parcela3" th:value="${etapasPagamento?.parcela3}" id="parcela3" />
                                    <label for="parcela3">Parcelas</label>
                                </div>
                            </div>
                            
                            <div class="row">

                                <div class="input-field col m4">
                                    <select name="etapasPagamento.etapa4" id="etapa4" class="select">
                                        <option value="0" th:selected="selected">Selecione</option>
                                        <option th:each="etapa : ${etapasTrabalho}" th:value="${etapa.id}" th:text="${etapa.nome}" th:selected="(${etapasPagamento?.etapa4?.nome == etapa.nome})"></option>
                                    </select>
                                    <label>4ª Etapa para faturamento</label>
                                </div>

                                <div class="input-field col m1">
                                    <input class="porcentagem4" type="text" name="porcentagem4" th:value="${etapasPagamento?.porcentagem4}" id="porcentagem4" />
                                    <label for="porcentagem4">%</label>
                                </div>

                                <div class="input-field col m1">
                                    <input type="number" name="parcela4" th:value="${etapasPagamento?.parcela4}" id="parcela4" />
                                    <label for="parcela4">Parcelas</label>
                                </div>
                            </div>

                            <div class="row">

                                <p class="left">Total: </p>
                                <p class="left" id="totalPorcent"></p>

                            </div>

                        </div>

                        <div class="row" th:if="${contrato.pagamentoData} == true">
                            <hr />

                            <h5 th:text="Data" class="honorario"></h5>

                            <div class="input-field col m4">
                                <input type="text" th:value="${etapasPagamento?.dataFaturamento}" id="dataFat" name="dataFat" class="datepicker" />
                                <label>Início de Faturamento</label>
                            </div>
                        </div>

                    </div>
                </div>
            </li>

            <li>
                <div class="collapsible-header"><i class="material-icons">payment</i>Forma de Pagamento</div>
                <div class="collapsible-body grey lighten-4">
                    <div class="row">
                        <ul class="container">
                            <th:block th:each="formapag : ${formasPagamentoCL}">
                                <li>
                                    <input name="formaPagamentoCL" th:checked="(${formapag?.name() == contrato?.formaPagamentoCL?.name()})" type="radio" th:id="${formapag.name()}" th:value="${formapag.name()}" />
                                    <label th:for="${formapag.name()}" th:text="${formapag.displayName()}">Vigência Indeterminada</label>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">access_time</i>Prazo para Pagamento</div>
                <div class="collapsible-body grey lighten-4">
                    <div class="container">

                        <div class="row">
                            <div class="input-field col m3">
                                <input type="number" name="prazoPagamento" th:value="${contrato.prazoPagamento}" id="prazoPagamento" />
                                <label for="prazoPagamento">Prazo (Dias)</label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">local_atm</i>Reajuste e Reembolso</div>
                <div class="collapsible-body grey lighten-3">
                    <div class="container">
                        <div class="row">
                            <div>
                                <input name="reembolsoDespesas" type="checkbox" th:checked="(${contrato.reembolsoDespesas})" class="filled-in" id="reembolsoDespesas" />
                                <label for="reembolsoDespesas">Reembolso Despesas</label>
                            </div>
                        </div>
                        <hr />

                        <div class="row">
                            <br />
                            <div>
                                <input name="reajuste" type="checkbox" th:checked="(${contrato.reajuste})" class="filled-in" id="reajuste" />
                                <label for="reajuste">Reajuste?</label>
                            </div>
                            <div class="col m3">
                                <input type="text" id="dataReajuste" th:value="${contrato.dataReajuste}" name="dataReajuste" class="datepicker" />
                                <label for="dataReajuste">Data</label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">enhanced_encryption</i>Garantias</div>
                <div class="collapsible-body grey lighten-4">
                    <div class="container">
                        <div class="row">
                            <div class="col m12">
                                <div class="input-field">
                                    <select class="select" id="selectGarantias" multiple="multiple" name="garantias" th:required="required">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="garantia : ${contrato.garantias}" th:value="${garantia.id}" th:text="${garantia.descricao}" th:selected="selected">
                                        </option>
                                        <option th:each="garantias : ${garantiasNo}" th:value="${garantias.id}" th:text="${garantias.descricao}">
                                        </option>
                                    </select>
                                    <label>Garantias</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">priority_high</i>Observações</div>
                <div class="collapsible-body grey lighten-3">
                    <div class="row">
                        <div class="input-field col m8">
                            <input id="obsContrato" name="obsContrato" th:value="${contrato.obsContrato}" type="text" />
                            <label for="obsContrato">Observações</label>
                        </div>
                    </div>

                </div>

            </li>
        </ul>

        <div class="row">
            <div class="col m4">
                <button class="waves-effect green btn tooltip" id="btn-update-contrato">
                    <i class="material-icons left">edit</i>Gravar alterações
                </button>
            </div>
            
            <div class="col m8 right-align">
                <a th:href="@{/contratosCL/allCL}" href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>
    </div>
    
    <div id="modalHonorario" class="modal">
        <div class="modal-content">
            <h4>Honorários do contrato:</h4>
            <hr />
            
            <th:block th:each='h : ${contrato.honorarios}'>
            <input class='honorariosContrato' type="text" th:value="${h.nome}" th:hidden='hidden' />
            </th:block>

            <div class="container">
                <div>
                    <input type="checkbox" id="hon_valor_fixo" />
                    <label for="hon_valor_fixo">Valor Fixo</label>
                </div>
                <div>
                    <input type="checkbox" id="hon_percent_fixo" />
                    <label for="hon_percent_fixo">Percentual Fixo</label>
                </div>
                <div>
                    <input type="checkbox" id="hon_percent_escalonado" />
                    <label for="hon_percent_escalonado">Percentual Escalonado</label>
                </div>
            </div>

        </div>
        <div class="modal-footer">
        	<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <a class="waves-effect waves-light btn-flat modal-trigger" href="#confirmHonorario">Salvar</a>
        </div>
     </div>

	<div id="modalVigencia" class="modal">
        <div class="modal-content">
            <h4>Vigência do contrato:</h4>
            <hr />
            
            <th:block>
            <input type="text" id="vigContrato" th:value="${contrato.vigencia.nome}" th:hidden='hidden' />
            </th:block>

            <div class="container">
                <div>
                    <input type="radio" value="det" name="checkVigencia" id="vig_determinada" />
                    <label for="vig_determinada">Vigência Determinada</label>
                </div>
                <div>
                    <input type="radio" value="indet" name="checkVigencia" id="vig_indeterminada" />
                    <label for="vig_indeterminada">Vigência Indeterminada</label>
                </div>
            </div>

        </div>
        <div class="modal-footer">
        	<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <a id='atualizaVigencia' class="waves-effect waves-light btn-flat modal-trigger">Salvar</a>
        </div>
     </div>

  <!-- Modal Structure -->
  <div id="confirmHonorario" class="modal bottom-sheet">
    <div class="modal-content">
      <h4><b>Atenção!</b></h4>
      <p style="font-size: 15px;">Ao alterar a configuração dos honorários, as informações dos honorários atuais que não estão inclusos nessa nova configuração serão perdidos permanentemente. Deseja continuar? </p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Não</a>
      <a id="salvaHonorario" class="modal-close waves-effect waves-green btn-flat">Sim</a>
    </div>
  </div>

    <div th:include="fragments/footer :: footer"></div>

    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>
    <script th:src="@{/js/libs/CNPJ.js}"></script>
    <script th:src="@{/js/contrato/update.js}"></script>


</body>

</html>
