<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Atualizar Contato do Cliente</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../../css/cliente/form-cliente.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Atualizar Contato : <span th:text="${contatoInstituicao.nome}"></span></h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">

        <form th:action="@{/instituicoes/contatos/update}" method="POST">
            <div id="#form-contato-Instituicoes">
                <input id="idContato" name="id" th:value="${contatoInstituicao.id}" th:hidden="hidden" />
                <div class="row">
                    <div class="input-field col m3">
                        <input id="contato-nome" type="text" th:required="required" name="nome" th:value="${contatoInstituicao.nome}" />
                        <label for="contato-nome">Nome do contato</label>
                    </div>

                    <div class="input-field col m3">
                        <input id="contato-email" type="text" th:required="required" name="email" th:value="${contatoInstituicao.email}" />
                        <label for="contato-email">@ E-mail</label>
                    </div>

                    <div class="input-field col m3">
                        <input id="contato-cargo" type="text" th:required="required" name="cargo" th:value="${contatoInstituicao.cargo}" />
                        <label for="contato-cargo">Cargo</label>
                    </div>

                    <div class="input-field col m2">
                        <input id="telefone" type="text" th:required="required" th:value="${contatoInstituicao.telefone.numero}" name="telefone.numero" />
                        <label for="telefone">(DD) Telefone</label>
                    </div>

                </div>

                <div class="row">

                </div>

                <div class="row">
                    <div class="col m3">
                        <button type="submit" class="waves-effect light-blue darken-4 btn"><i class="material-icons left">edit</i>Atualizar</button>
                    </div>
                    <div class="col m9 right-align">
                        <a th:href="@{/instituicoes/} + ${idInstituicao}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script src="../../js/libs/jquery.mask.min.js"></script>
    <script src="../../js/instituicao/contatoinstituicao/contatoinstituicao.js"></script>

</body>

</html>
