<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>+ Cliente</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/cliente/form-cliente.css" />
</head>

<!-- <style> 
    .motivoFidelizado {
        position: fixed;
        display:none;
    }

</style> -->

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Cliente</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <form th:action="@{/clientes/add}" id="form" method="POST" >

            <div class="row">

                <h5>Geral</h5>
                <div class="divider"></div>

                <div class="input-field col m4">
                    <input id="cnpj" type="text" class="tooltip" th:required="required" name="cnpj" />
                    <label for="cnpj">Cnpj</label>
                </div>

                <div class="input-field col m8">
                    <input id="razaosocial" type="text" th:required="required" name="razaoSocial" />
                    <label for="razaosocial">Razão Social</label>
                </div>


            </div>

            <div class="row">

                <div class="input-field col m4">
                    <input placeholder="https://exemplo.com" id="site" type="text" name="site" />
                    <label for="site">Site</label>
                </div>

                <div class="input-field col m4">
                    <input id="grupoEconomico" type="text" name="grupoEconomico" />
                    <label for="grupoEconomico">Grupo Econômico</label>
                </div>

                <div class="input-field col m2">
                    <select name="categoria" id="select-categoria" class="select">
                        <option th:disabled="disabled" th:selected="selected">Selecione</option>
                        <option th:each="ca : ${categoria}" th:value="${ca.name()}" th:text="${ca.displayName()}">
                        </option>
                    </select>
                    <label>Categoria</label>
                </div>
                
                <div class="col m2">
                    <input name="clean" type="checkbox" class="filled-in" id="clean" />
                    <label for="clean">Clean</label>
                </div>

            </div>

            <div class="row">
                <div class="input-field col m3">
                    <select name="setorAtividade" id="select-setorAtividade" class="select">
                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                        <option th:each="sa : ${setorAtividade}" th:value="${sa.name()}" th:text="${sa.displayName()}">
                        </option>
                    </select>
                    <label>Setor de Atividade</label>
                </div>

                <div class="input-field col m3">
                    <select name="categoriaProblematica" id="select-categoriaProblematica" class="select">
                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                        <option th:each="cp : ${categoriaProblematica}" th:value="${cp.name()}"
                            th:text="${cp.displayName()}">
                        </option>
                    </select>
                    <label>Categoria Problemática</label>
                </div>
                
          
                 <div id="divisao" class="input-field col m2">
                        <select class='select' id="select-divisao" name="divisao">
                        	<option value="" th:disabled="disabled" 
                     			th:selected="selected" >Selecione a Divisao</option>
                             <option th:each="divisao : ${divisao}"
                            	th:value="${divisao.name()}"
	                      		th:text="${divisao.displayName()}"></option>  
	                   
                        </select>
                        <label for="setorAtividade">Divisao</label>
                    </div>
               
              
                <div class="col m2">
                    <input name="fidelizado" type="checkbox" class="filled-in" id="fidelizado" />
                    <label for="fidelizado">Fidelizado</label>
                </div>
				
				 <input type="text" name="cliente.id" th:hidden="hidden" th:value="${cliente?.id}" id="idcliente"/>
				   
				  
				 <div class="input-field col m2">
                 	<label for="dataFidelizacao" id="labDataFidelizacao">Data de Fidelização</label>
                    <input type="text" id="dataFidelizacao" name="dataFidelizacao" class="datepicker" />
                 </div>
                 
                  <div class="input-field col m2">
                 	<label for="dataVencimentoFidelizacao" id="labDataVencimentoFidelizacao">Vencimento Fidelização</label>
                    <input type="text" id="dataVencimentoFidelizacao" name="dataVencimentoFidelizacao" class="datepicker" />
                 </div>
			
                <!--  <div class="input-field col m3" id="divFidelizado">
                    <select name="motivoFidelizacao" id="motivoFidelizacao" class="select">
             	        <option value="" th:disabled="disabled" 
                     			th:selected="selected" >Selecione</option>
	                    <option th:each="mf : ${motivoFidelizacao}"
	                      	th:value="${mf.name()}"
	                      	th:text="${mf.displayName()}">
	                    </option>
	             	</select>
                    <label>Motivo Fidelizacao</label>
                </div> -->

                <div class="input-field col m3" id="divFidelizado">
                    <select name="motivoFidelizacao" id="motivoFidelizacao" class="select">
                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                        <option th:each="mf : ${motivoFidelizacao}" th:value="${mf.name()}" th:text="${mf.displayName()}"
                            th:selected="(${cliente?.motivoFidelizacao?.name() == mf.name()})">
                        </option>
                    </select>
                    <label>Motivo Fidelizacao</label>
                </div>

                <div class="input-field col m4">
                    <input id="caminhoACT" type="text" th:placeholder="'Exemplo: A:\CONSULTORIA\clientes\ACT'"
                        th:value="${cliente?.caminhoACT}" name="caminhoACT" />
                    <label for="caminhoACT" id="labelACT">Caminho para ACT</label>
                
                    <input id="fidelizacaoElogio" type="text"  th:placeholder="'Exemplo: A:\CONSULTORIA\clientes\elogios'"  
                    th:value="${cliente?.fidelizacaoElogio}" name="fidelizacaoElogio" />
                    <label for="fidelizacaoElogio" id="labelElogio">Caminho para Elogio</label>
               
                
                <input id="caminhoRECO" type="text"  th:placeholder="'Exemplo: A:\CONSULTORIA\clientes\RECO'"  
                    th:value="${cliente?.caminhoRECO}" name="caminhoRECO" />
                    <label for="caminhoRECO" id="labelRECO">Caminho para RECO</label>
                 </div>


                <div class="row">
                </div>



                <div class="row">

                    <h5>Endereço</h5>
                    <div class="divider"></div>

                    <div class="input-field col m2">
                        <input id="cep" type="text" th:maxlength="8" name="cep" th:required="required" />
                        <label for="cep">CEP</label>
                    </div>

                    <div class="input-field col m4">
                        <input id="rua" type="text" name="logradouro" th:required="required" />
                        <label for="rua">Endereço</label>
                    </div>

                    <div class="input-field col m1">
                        <input id="numero" type="text" name="numero" th:required="required" />
                        <label for="numero">N°</label>
                    </div>

                    <div class="input-field col m3">
                        <input id="complemento" type="text" name="complemento" />
                        <label for="complemento">Complemento</label>
                    </div>
                </div>

                <div class="row">

                    <div class="input-field col m2">
                        <select th:required="required" name="tipoEnder" id="tipoEnder" class="select">
                            <option th:disabled="disabled" th:selected="selected">Selecione</option>
                            <option th:each="ca : ${tipo}" th:value="${ca.displayName()}" th:text="${ca.displayName()}">
                            </option>
                        </select>
                        <label>Tipo</label>
                    </div>

                    <div class="input-field col m2">
                        <input id="bairro" type="text" name="bairro" />
                        <label for="bairro">Bairro</label>
                    </div>

                    <div class="input-field col m2">
                        <input id="cidade" type="text" name="cidade" th:required="required" />
                        <label for="cidade">Cidade</label>
                    </div>

                    <div class="input-field col m1">
                        <input id="estado" type="text" name="estado" th:required="required" />
                        <label for="estado">Estado</label>
                    </div>

                    <p class="col m4">
                        <input id="enderecoNotaFiscalBoleto" type="checkbox" name="enderecoNotaFiscalBoleto" />
                        <label for="enderecoNotaFiscalBoleto">Endereço nota fiscal / Boleto</label>
                    </p>

                    <div class="row">
                    </div>

                </div>

                <section>

                    <h5>Contato</h5>
                    <div class="divider"></div>

                    <div>
                        <div class="row">
                            <div class="input-field col m3">
                                <input id="contato-nome" type="text" th:required="required" name="nome" />
                                <label for="contato-nome">Nome do contato</label>
                            </div>

                            <div class="input-field col m3">
                                <input id="contato-cargo" type="text" th:required="required" name="cargo" />
                                <label for="contato-cargo">Cargo</label>
                            </div>

                        </div>

                        <div class="row">

                            <div class="input-field col m3">
                                <input id="contato-email" type="text" th:required="required" name="email" />
                                <label for="contato-email">@ E-mail</label>
                            </div>

                            <div class="input-field col m2">
                                <input id="telefone1" type="text" name="telefone1" />
                                <label for="telefone">(DD) Telefone</label>
                            </div>

                            <div class="input-field col m2">
                                <input id="telefone2" type="text" name="telefone2" />
                                <label for="telefone">(DD) Celular</label>
                            </div>

                        </div>

                        <div class="row">
                            <ul>
                                <li>
                                    <input id="checkPessoaNfBoleto" name="nfBoleto" type="checkbox" />
                                    <label for="checkPessoaNfBoleto">Irá receber NF / Boleto</label>
                                </li>
                                <li>
                                    <input id="checkReferenciaNovosContatos" name="novosContatos" type="checkbox" />
                                    <label for="checkReferenciaNovosContatos">Referência para novos contatos</label>
                                </li>
                                <li>
                                    <input id="checkPesquisaSatisfacao" name="fidelizado" type="checkbox" />
                                    <label for="checkPesquisaSatisfacao">Participou da pesquisa de satisfação</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>

                <div class="row">
                    <div class="col m3">
                        <button type="submit" id="btn-cad-cliente" class="waves-effect green btn"><i
                                class="material-icons left">add</i>Adicionar</button>
                    </div>
                    <div class="col m10 right-align">
                        <a th:href="@{/clientes/all}" class="waves-effect tooltip"><i
                                class="material-icons left">arrow_back</i>Voltar</a>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/cliente/buscaCEP.js"></script>
    <script src="../js/cliente/buscaCNPJ.js"></script>
    <script src="../js/libs/datePickerInit.js"></script>
    <script src="../js/cliente/form.js"></script>

</body>

</html>