<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Detalhes + ' : ' +  ${instituicao.razaoSocial}"></title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/cliente/list.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4 th:text="${instituicao.razaoSocial}" class="green-text darken-4"></h4>
                <a th:href="@{/instituicoes/} + ${instituicao.id}">
                    <i class="material-icons">edit</i>
                </a>
                <hr/>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row ">
            <h5>Informações</h5>
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th>CNPJ</th>
                        <th>Site</th>
                        <th>Tipo de instituição</th>
                        <th>Contrato Vigente</th>
                    </tr>
                </thead>
                <tbody id="tbody-informacoes">
                    <tr>
                        <td th:text="${instituicao.cnpj}"></td>
                        <td>
                            <a th:text="${instituicao.site}" th:href="@{${instituicao.site}}" th:target="_blank"></a>
                        </td>
                        <td th:text="${instituicao.tipo}"></td>
                        <td>
                            <input type="checkbox" th:checked="${instituicao.contratoVigente}" disabled="disabled" />
                            <label for="test7"></label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <h5>Endereço</h5>
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th>CEP</th>
                        <th>Lagradouro</th>
                        <th>Complemento</th>
                        <th>Cidade</th>
                    </tr>
                </thead>
                <tbody id="tbody-endereco">
                    <tr>
                        <td th:text="${instituicao.endereco.cep}"></td>
                        <td th:text="${instituicao.endereco.lagradouro}"></td>
                        <td th:text="${instituicao.endereco.complemento}"></td>
                        <td th:text="${instituicao.endereco.cidade}"></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="row">
            <h5>Contatos</h5>
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th th:hidden="hidden">#</th>
                        <th>Nome</th>
                        <th>@ E-mail</th>
                        <th>Cargo</th>
                        <th>N° Tel</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbody-contatos">
                    <tr th:each="contato : ${instituicao.contatos}">
                        <td th:text="${contato.nome}"></td>
                        <td th:text="${contato.email}"></td>
                        <td th:text="${contato.cargo}"></td>
                        <td th:text="${contato.telefone.numero}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row right-align">
            <div class="col m12 right-align">
                <a th:href="@{/instituicoes/all}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

</body>

</html>
