<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>+ Instituição | FSEWeb</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/empresa/form-empresa.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Instituição</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <form th:action="@{/instituicoes/add}" method="POST">

            <div class="row">

                <div class="input-field col m4">
                    <input id="cnpj" type="text" class="tooltip" th:required="required" name="cnpj" /> <label for="cnpj">Cnpj</label>
                </div>

                <div class="input-field col m6">
                    <input id="razaosocial" type="text" th:required="required" name="razaoSocial" /> <label for="razaosocial">Razão
						Social</label>
                </div>

            </div>

            <div class="row">

                <div class="input-field col m4">
                    <input id="empresa" type="text" name="empresa" /> <label for="empresa">Empresa</label>
                </div>

                <div class="row">
                    <div class="input-field col m2">
                        <select name="tipo" id="select-tipoInstituicao" class="select" th:required="required">
							<option value="" th:selected="selected">Selecione</option>
							<option th:each="tipoInst : ${tiposInstituicao}"
								th:value="${tipoInst.name()}"
								th:text="${tipoInst.displayName()}"></option>
						</select> <label>Tipo de Instituição</label>
                    </div>

                    <div class="input-field col m4">
                        <input id="site" type="text" name="site" /> <label for="site">Site</label>
                    </div>

                </div>
            </div>

            <div class="row">


                <div class="input-field col m2">
                    <input id="cep" type="text" th:maxlength="8" name="endereco.cep" th:required="required" /> <label for="cep">CEP</label>
                </div>

                <div class="input-field col m6">
                    <input id="rua" type="text" name="endereco.lagradouro" th:required="required" /> <label for="rua">Rua</label>
                </div>

            </div>

            <div class="row">

                <div class="input-field col m2">
                    <input id="bairro" type="text" name="endereco.bairro" th:required="required" /> <label for="bairro">Bairro</label>
                </div>

                <div class="input-field col m2">
                    <input id="cidade" type="text" name="endereco.cidade.nome" th:required="required" /> <label for="cidade">Cidade</label>
                </div>

                <div class="input-field col m1">
                    <input id="estado" type="text" name="endereco.cidade.estado.uf" th:required="required" /> <label for="estado">Estado</label>
                </div>

                <div class="input-field col m3">
                    <input id="complemento" type="text" name="endereco.complemento" />
                    <label for="complemento">Complemento</label>
                </div>

                <p class="col m3">
                    <input id="checkContratoVigente" type="checkbox" name="contratoVigente" /> <label for="checkContratoVigente">Contrato Vigente</label>
                </p>
            </div>

            <div class="row">
                <div class="row">
                    <div class="input-field col m6">
                        <textarea id="observacoes" class="materialize-textarea" name="observacoes"></textarea>
                        <label for="observacoes">Observações</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col m2">
                    <button type="submit" id="btn-cad-instituicao" class="waves-effect green btn">
						<i class="material-icons left">add</i>Add
					</button>
                </div>
                <div class="col m10 right-align">
                    <a th:href="@{/instituicoes/all}" class="waves-effect tooltip"><i
						class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        </form>

    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/instituicao/buscaCEP.js"></script>
    <script src="../js/instituicao/form.js"></script>

</body>

</html>
