<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Instituições</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/empresa/list.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Instituições</h4>
                <hr />
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <section id="filters">
                <div class="input-field col m5">
                    <i class="material-icons prefix">search</i> <input type="text" id="txt-pesq-instituicao" /> <label for="txt-pesq-instituicao">Pesquisar
						Instituição</label>
                </div>
            </section>
            <div class="col m3 offset-m4">
                <a type="submit" class="waves-effect green btn right" th:href="@{/instituicoes/form}" title="adicionar"><i
					class="material-icons left">add</i>Instituição</a>
            </div>
        </div>
        <div class="row">
            <table id="tabela-instituicoes" class="responsive-table tabela-instituicoes bordered">
                <thead>
                    <tr>
                        <th>CNPJ</th>
                        <th>Razão Social</th>
                        <th>Site</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="instituicao : ${instituicoes}" class="instituicao">
                        <td id="#cnpj" th:text="${instituicao.cnpj}"></td>
                        <td id="#razaosocial" th:text="${instituicao.razaoSocial}"></td>
                        <td>
                            <a th:text="${instituicao.site}" th:href="@{${instituicao.site}}" th:target="_blank"></a>
                        </td>
                        <td>
                            <a th:href="@{/instituicoes/} + ${instituicao.id}" type="submit" class="btn light-blue darken-4"> <i class="material-icons">edit</i>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/instituicoes/details/} + ${instituicao.id}" class="btn grey darken-1 "> <i class="material-icons">visibility</i>
                            </a>
                        </td>
                        <td sec:authorize="hasRole('ROLE_ADMIN')">

                            <button type="button" class="btn modal-trigger btn tooltip red" th:attr="data-target='modal' + ${instituicao.id}" id="btnRemover">
								<i class="material-icons">delete</i>
							</button>

                            <form th:action="@{/instituicoes/delete/} + ${instituicao.id}" method="POST">
                                <div th:id="modal + ${instituicao.id}" class="modal bottom-sheet">
                                    <div class="modal-content">
                                        <h4>Deseja mesmo remover a instituição ? <i class="material-icons right modal-close mouse-hand">close</i></h4>
                                        <p th:text="'Você está removendo ' + ${instituicao.razaoSocial} +', este processo é irreversível'"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Remover</button>
                                    </div>
                                </div>
                            </form>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/instituicao/list.js"></script>

</body>

</html>
