<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <meta charset="UTF-8" />
    <title>Atualizar Instituição</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/cliente/form-cliente.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4 th:text="${instituicao.razaoSocial}"></h4>

                <hr/>
            </div>
        </div>
    </div>

    <div class="container">

        <form th:action="@{/instituicoes/update}" method="POST">

            <div class="row">

                <input id="ativo" type="checkbox" name="ativo" th:checked="${instituicao.ativo}" th:hidden="hidden" />
                <input id="enderecoId" type="text" name="endereco.id" th:value="${instituicao.endereco.id}" th:hidden="hidden" />

                <div class="input-field col m4">
                    <input id="idinstituicao" type="number" class="tooltip" th:value="${instituicao.id}" name="id" th:hidden="hidden" />
                    <input id="cnpj" type="text" class="tooltip" th:value="${instituicao.cnpj}" th:required="required" name="cnpj" />
                    <label for="cnpj">Cnpj</label>
                </div>

                <div class="input-field col m8">
                    <input id="nome" type="text" th:required="required" th:value="${instituicao.razaoSocial}" name="razaoSocial" />
                    <label for="nome">Razão Social</label>
                </div>

            </div>

            <div class="row">

                <div class="input-field col m4">
                    <input id="site" type="text" th:value="${instituicao.site}" name="site" />
                    <label for="site">Site</label>
                </div>

                <div class="input-field col m2">
                    <input id="cep" type="text" th:maxlength="8" name="endereco.cep" th:value="${instituicao.endereco.cep}" th:required="required" />
                    <label for="cep">CEP</label>
                </div>

            </div>

            <div class="row">
            
                <div class="input-field col m6">
                    <input id="rua" type="text" name="endereco.lagradouro" th:value="${instituicao.endereco.lagradouro}" th:required="required" />
                    <label for="rua">Rua</label>
                </div>
                
                <div class="input-field col m3">
                    <input id="complemento" type="text" name="endereco.complemento" th:value="${instituicao.endereco.complemento}" />
                    <label for="complemento">Complemento</label>
                </div>
                
                </div>
                
			<div class="row">
            
             	<div class="input-field col m3">
                    <input id="cidade" type="text" name="endereco.cidade" th:value="${instituicao.endereco.cidade}" />
                    <label for="cidade">Cidade</label>
                </div>        

                <div class="input-field col m2">
                    <input id="estado" type="text" name="endereco.estado" th:value="${instituicao.endereco.estado}" th:required="required" />
                    <label for="estado">Estado</label>
                </div>

                <p class="col m3">
                    <input id="checkContratoVigente" type="checkbox" name="contratoVigente" th:checked="${instituicao.contratoVigente}" />
                    <label for="checkContratoVigente">Contrato Vigente</label>
                </p>

            </div>

            <div class="row">

                <div class="input-field col m4">
                    <select name="tipo" id="select-tipo" class="select" th:required="required">
	                	<option value="" th:disabled="disabled" 
                     			th:selected="selected" >Selecione</option>
	                   	<option th:each="sa : ${tipo}"
                            	th:value="${sa.name()}"
                            	th:text="${sa.displayName()}"
                            	th:selected="(${instituicao.tipo.name() == sa.name()})"></option>
	             	</select>
                    <label>Tipo de instituição</label>
                </div>

            </div>

            <div class="row">
                <div class="col m3">
                    <button type="submit" id="btn-att-instituicao" class="waves-effect light-blue darken-4 btn"><i class="material-icons left">edit</i>Atualizar</button>
                </div>
                <div class="col m9 right-align">
                    <a th:href="@{/instituicoes/all}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>

        </form>
        <div class="row">
            <div class="col m5">
                <a id="tabela-contato-instituicao" class="mouse-hand"> Exibir contatos</a>
                <a id="tabela-contato-instituicao-hidden" class="mouse-hand"> Ocultar contatos</a>
            </div>
        </div>



        <table id="tabela-contatos" class="responsive-table table-default bordered">
            <thead>
                <tr>
                    <th th:hidden="hidden">#</th>
                    <th>Nome</th>
                    <th>@ E-mail</th>
                    <th>Cargo</th>
                    <th>N° Tel</th>
                </tr>
            </thead>
            <tbody id="tbody-contatos">
            </tbody>
        </table>

        <section id="contato-instituicao">
            <hr/>
            <h5>Adicionar Contato</h5>
            <div id="#form-contato-instituicao">
                <input id="cnpj" name="cnpj" th:value="${instituicao.cnpj}" th:hidden="hidden" />

                <div class="row">
                    <div class="input-field col m3">
                        <input id="contato-nome" type="text" th:required="required" name="nome" />
                        <label for="contato-nome">Nome do contato</label>
                    </div>

                    <div class="input-field col m3">
                        <input id="contato-email" type="text" th:required="required" name="email" />
                        <label for="contato-email">@ E-mail</label>
                    </div>

                    <div class="input-field col m3">
                        <input id="contato-cargo" type="text" th:required="required" name="cargo" />
                        <label for="contato-cargo">Cargo</label>
                    </div>

                    <div class="input-field col m2">
                        <input id="telefone" type="text" th:required="required" name="telefone.numero" />
                        <label for="telefone">(DD) Telefone</label>
                    </div>

                </div>

                <div class="row">
                    <div class="col m3">
                        <button id="btn-cad-contato-instituicao" class="waves-effect green btn"><i class="material-icons left">add</i>Adicionar</button>
                    </div>
                </div>
            </div>
        </section>

        <div class="row">
            <div class="col m5">
                <a id="add-contato-instituicao" class="mouse-hand">+ Adicionar contato à</a>
            </div>
        </div>

    </div>

    <div id="modalContatoinstituicao" class="modal">
        <div class="modal-content">
            <h4 id="nomeContatoModal">Nome do contato vai aqui</h4>
            <p id="emailContatoModal"></p>
            <p id="cargoContatoModal"></p>
            <p id="numeroTelefone"></p>

        </div>
        <div class="modal-footer">
            <a id="fecharModalContato" class=" modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>Fechar</a>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/libs/urlShortener.js"></script>
    <script src="../js/instituicao/buscaCEP.js"></script>
    <script src="../js/instituicao/form.js"></script>
    <script src="../js/instituicao/contatoinstituicao/contatoinstituicao.js"></script>

</body>

</html>
