.icone{
	color: DimGray;
	position: relative;
    bottom: 5px;
}

.card-panel{
	max-height: 60px;
	position: relative;
}

.spanInterior{
	text-align: center;
    position: relative;
    bottom: 12px;
    left: 5px;
}

.insider{
	position: absolute; 
	left: 87%;
	bottom: 18%;
}