<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<style type="text/css">
</style>

<div th:fragment="header-css">
	<meta charset="utf-8" />
	<link
		th:href="@{https://fonts.googleapis.com/css?family=Noto+Sans|Oxygen}"
		rel="stylesheet" />
	<link th:href="@{https://fonts.googleapis.com/css?family=Nunito}"
		rel="stylesheet" />
	<link th:rel="stylesheet"
		th:href="@{../../css/libs/materialize.min.css}" />
	<link th:rel="stylesheet" th:href="@{../../css/libs/google-fonts.css}" />
	<link th:rel="stylesheet"
		th:href="@{../../css/libs/selectize.default.css}" />
	<link th:rel="stylesheet"
		th:href="@{../../css/libs/tooltipster.bundle.min.css}" />
	<link th:rel="stylesheet" th:href="@{../../css/estilos.css}" />
	<link th:rel="stylesheet" th:href="@{../../css/libs/jsgrid.min.css}" />
	<link th:rel="stylesheet"
		th:href="@{../../css/libs/jsgrid-theme.min.css}" />
	<link rel="icon" type="image/ico" th:href="@{/../../img/favicon.png}" />
</div>

</head>

<body>
	<div th:fragment="menu-lateral">

		<ul id="slide-out" class="side-nav">
			<li>
				<div class="user-view">

					<div class="background">
						<a th:href="@{/}"><img th:src="@{../../img/bg-menu-dark.jpg}" /></a>
					</div>
					
					<div>
						<a style="top: 15px;"
							class="btn-floating waves-effect waves-light red btn-logout z-depth-5 right"
							title="Logout" href="/preLogout"> <i class="material-icons">power_settings_new</i>
						</a>
					</div>
					
					<input name="consultorLogado" id="consultorLogado" th:hidden="hidden" type="text"
                                    th:value="${#authentication.getPrincipal().getId()}" />

					<a style="background-color: Transparent;" class="btn tooltipped"
						data-position="right" data-tooltip="Voltar ao menu inicial"
						th:href="@{/}"><img class="circle"
						th:src="@{../../img/1600.jpg}" /></a> <span class="white-text name"
						th:text="${#authentication.getPrincipal().getNome()}"></span>
						<br/>


				</div>
			</li>

			<li class="no-padding">
				<ul class="collapsible collapsible-accordion ul-red">
					<li>
					<a class="collapsible-header">Consultoria <i class="material-icons">keyboard_arrow_right</i><i class="material-icons">dvr</i></a>
						<div class="collapsible-body">
							<ul>
								<li><a th:href="@{/producoes/all}">Produção<i class="material-icons">group_work</i></a></li>
								<li><a th:if="${#authentication.getPrincipal().getPais().name()=='BRASIL'}" th:href="@{/clientes/all}">Cliente<i class="material-icons">business</i></a></li>
								<li><a th:if="${#authentication.getPrincipal().getPais().name()=='CHILE'}" th:href="@{/clientesCL/all}">Cliente<i class="material-icons">business</i></a></li>
								<li><a th:if="${#authentication.getPrincipal().getPais().name()=='COLOMBIA'}" th:href="@{/clientesCO/all}">Cliente<i class="material-icons">business</i></a></li>
							</ul>
						</div>
						</li>	
						
						<li>
					<a class="collapsible-header">Relatórios <i class="material-icons">keyboard_arrow_right</i> <i class="material-icons">assessment</i></a>
						<div class="collapsible-body">
							<ul>
								<li><a th:if="${#authentication.getPrincipal().getCargo().name()=='ANALISTA_DE_CONTROLADORIA'}" th:href="@{/relatorios/PreEficiencia}">eFIciência<i class="material-icons">alarm_on</i></a></li>
								<li><a th:if="${#authentication.getPrincipal().getCargo().name()=='GERENTE_DE_FINANCEIRO_E_CONTROLADORIA'}" th:href="@{/relatorios/PreEficiencia}">eFIciência<i class="material-icons">alarm_on</i></a></li>
								<li><a th:if="${#authentication.getPrincipal().getCargo().name()=='ANALISTA_DE_CONTROLADORIA'}" th:href="@{/relatorios/valorNegocio}">Valor de Negócio<i class="material-icons">account_balance_wallet</i></a></li>
								<li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:if="${#authentication.getPrincipal().getPais().name()=='CHILE'}" th:href="@{/relatorios/valorNegocioCL}">Valor de Negócio de Chile<i class="material-icons">memory</i></a></li>
								<li><a th:if="${#authentication.getPrincipal().getCargo().name()=='GERENTE_DE_FINANCEIRO_E_CONTROLADORIA'}" th:href="@{/relatorios/valorNegocio}">Valor de Negócio<i class="material-icons">account_balance_wallet</i></a></li>
								<li><a th:href="@{/pontoSituacao/produtos}">Ponto Situação<i class="material-icons">error_outline</i></a></li>
								<li><a th:href="@{/relatorios/produtosSeguimento}">Relatório de Seguimentos<i class="material-icons">grid_on</i></a></li>
								<li><a th:href="@{/relatorios/preRelatoriosAnaliticos}">Relatório Análitico<i class="material-icons">dehaze</i></a></li>
								<li><a th:href="@{/relatorios/PreSintetico}">Relatório Sintético<i class="material-icons">flag</i></a></li>
								<li><a th:href="@{/relatorios/financiamento}">Relatório Financiamento<i class="material-icons">functions</i></a></li>
								<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_ADMINISTRATIVO', 'ROLE_GERENTE')"><a th:href="@{/relatorios/relatorioFaturamento}">Relatório Faturamento<i class="material-icons">attach_money</i></a></li>
								<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_ADMINISTRATIVO', 'ROLE_GERENTE')"><a th:href="@{/relatorios/relatorioAcompanhamentoFaturamento}">Acompanhamento<i class="material-icons">timeline</i></a></li>
								<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_ADMINISTRATIVO', 'ROLE_GERENTE')"><a th:href="@{/relatorios/relatorioNotaFiscal}">Relatório Notas Fiscais<i class="material-icons">receipt</i></a></li>
								<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'TI', 'ROLE_COORDENADOR', 'ROLE_GERENTE')"><a th:href="@{/relatorios/valorNegocio}">Valor de Negócio<i class="material-icons">account_balance_wallet</i></a></li>
								<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'TI', 'ROLE_COORDENADOR')"><a th:href="@{/relatorios/PreEficiencia}">Apontamento de Horas<i class="material-icons">alarm_on</i></a></li>
								<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_ADMINISTRATIVO')"><a th:href="@{/relatorios/relatoriosCombo}">Relatório Combo<i class="material-icons">view_list</i></a></li>
							</ul>
					</div></li>
					
					<li sec:authorize="hasAnyRole('ROLE_ADMINISTRATIVO','ROLE_ADMIN', 'TI')">
					<a class="collapsible-header">Operações <i class="material-icons">keyboard_arrow_right</i><i class="material-icons">filter_tilt_shift</i></a>
						<div class="collapsible-body">
							<ul>
								<li><a th:if="${#authentication.getPrincipal().getPais().name()=='BRASIL'}" th:href="@{/contratos/all}">Contrato<i class="material-icons">library_books</i></a></li>
								<li><a th:if="${#authentication.getPrincipal().getPais().name()=='CHILE'}" th:href="@{/contratosCL/allCL}">Contrato<i class="material-icons">library_books</i></a></li>
								<li><a th:if="${#authentication.getPrincipal().getPais().name()=='COLOMBIA'}" th:href="@{/contratosCO/all}">Contrato<i class="material-icons">library_books</i></a></li>
							</ul>
						</div>
					</li>
					
					<li sec:authorize="hasAnyRole('ROLE_ADMINISTRATIVO','ROLE_ADMIN', 'TI')">
					<a class="collapsible-header">Financeiro <i class="material-icons">keyboard_arrow_right</i><i class="material-icons">style</i></a>
						<div class="collapsible-body">
							<ul>
								<li><a th:href="@{/faturamentos/all}">Faturamento<i class="material-icons">attach_money</i></a></li>
								<li><a th:href="@{/notasFiscais/all}">Nota Fiscal<i class="material-icons">receipt</i></a></li>	
							</ul>
						</div>
					</li>
					
					<li sec:authorize="hasAnyRole('ROLE_ADMINISTRATIVO','ROLE_ADMIN', 'TI', 'ROLE_IEM')">
					<a class="collapsible-header">Inovação e Marketing <i class="material-icons">keyboard_arrow_right</i><i class="material-icons">layers</i></a>
						<div class="collapsible-body">
							<ul>
								<li><a th:href="@{/instituicoes/all}">Instituição<i class="material-icons">account_balance</i></a></li>
								<li><a th:href="@{/IeM/all}">Oportunidades<i class="material-icons">assignment_late</i></a></li>
							</ul>
						</div>
					</li>			
					<li>
					<a class="collapsible-header">Gratificações <i class="material-icons">keyboard_arrow_right</i><i class="material-icons">local_atm</i></a>
						<div class="collapsible-body">
							<ul>
								<li>
										<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_ADMINISTRATIVO')"><a  th:href="@{/comissoes/all}">Prêmios e Comissões<i class="material-icons">star</i></a></li>
										<li sec:authorize="!hasAnyRole('ROLE_ADMIN', 'ROLE_ADMINISTRATIVO')"><a th:href="@{/comissoes/details/}+${#authentication.getPrincipal().getId()}" >Prêmios e Comissões<i class="material-icons">star</i></a></li>
							
								</li>
							</ul>
						</div>
					</li>			

					<li><a class="subheader">Painel Administrativo</a></li>

					<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'TI','ROLE_COORDENADOR','ROLE_GERENTE','ROLE_DIRETORIA')"><a
						th:href="@{/consultores/all}">Consultor<i class="material-icons">person</i>
					</a></li>
					
					<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'TI')"><a
						th:href="@{/equipes/all}">Equipe<i class="material-icons">people</i>
					</a></li>
											
					<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'TI')"><a
						th:href="@{/filiais/all}">Filial<i class="material-icons">linear_scale</i>
					</a></li>
					
					<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'TI', 'ROLE_PRODUTO')"><a
						th:href="@{/produtos/all}">Produto<i class="material-icons">lens</i>
					</a></li>
					
					<li sec:authorize="hasAnyRole('ROLE_ADMIN', 'TI', 'ROLE_PRODUTO')"><a
						th:href="@{/metricas/update}">Métricas<i class="material-icons">multiline_chart</i>
					</a></li>

				</ul>
			</li>
		</ul>

	</div>
	<div th:include="footer :: footer"></div>
</body>

</html>
