<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="'Detalhes de Faturamento'"></title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/cliente/list.css" />
</head>

<body>

    <input type="text" id="idContrato" th:hidden="hidden" th:value="${faturamento?.contrato?.id}" />

    <div class="row">

        <div th:include="fragments/header :: menu-lateral"></div>
        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Detalhes Faturamento</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
        <!-- 	<form action="/faturamentos/update" method="POST" th:object="${consultor}"> -->

        <input type="text" th:value="${faturamento.id}" name="id" id="id" th:hidden="hidden" />
        <input type="text" th:hidden="hidden" id="idDoEtapas" />
        <input type="text" th:value="${faturamento.cliente?.id}" name="idcliente" id="idcliente" th:hidden="hidden" />
        <input type="text" th:value="${faturamento?.producao?.id}" name="idProducao" id="idProducao"
            th:hidden="hidden" />

        <div class="center-align">
            <ul class="collapsible popout" data-collapsible="expandable">
                <li class="active">
                    <div class="collapsible-header">
                        <i class="material-icons">launch</i>Atalhos
                    </div>
                    <div class="collapsible-body grey lighten-3">
                        <form th:action="@{/relatorios/seguimento}" method="POST">
                            <section id="filters">
                                <a th:if="${faturamento?.contrato?.id} != null"
                                    th:href="@{/contratos/} + ${faturamento?.contrato?.id}"
                                    class="col m8 waves-effect btn">
                                    <i class="material-icons left">library_books</i>Contrato</a>
                                <a th:if="${faturamento?.producao?.id} != null"
                                    th:href="@{/producoes/update/} + ${faturamento?.producao?.id}"
                                    class="col m8 waves-effect btn">
                                    <i class="material-icons left">visibility</i>Produção</a>

                                <a class="col m8 waves-effect btn" onclick="balancete()">
                                    <i class="material-icons left">view_stream</i>Balancetes</a>
                            </section>
                        </form>
                    </div>
                </li>
            </ul>

        </div>

        <div id="modalbalancete" class="modal -dialog modal">
            <div class="modal-content">
                <div class="tooltip">
                    <h5>Balancetes</h5>

                </div>
                <table>
                    <thead>
                        <tr>
                            <th th:hidden="hidden">#</th>
                            <th>Ano de campanha</th>
                            <th>Versão</th>
                            <th>Dispêndio total</th>
                            <th>Valor benefício</th>
                            <th>Gerou Faturamento</th>
                            <th>Balancete</th>
                        </tr>
                    </thead>
                    <tbody id="TabelaBalancete"></tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <h5>Informações Gerais</h5>
                <hr />
            </div>
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th>Razão Social</th>
                        <th>CNPJ</th>
                        <th>Razão Social a Faturar</th>
                        <th>Grupo Econômico</th>
                        <th>CNPJ a Faturar</th>
                        <th>Produto</th>
                    </tr>
                </thead>

                <tbody id="tbody-informacoesBalancete">
                    <tr>
                        <td th:text="${faturamento.cliente.razaoSocial}"></td>
                        <td th:text="${faturamento.cliente.cnpj}" class="cnpj"></td>
                        <td th:text="${faturamento.razaoSocialFaturar}"></td>
                        <td th:text="${faturamento?.cliente?.grupoEconomico}"></td>
                        <td th:text="${faturamento.cnpjFaturar}"></td>
                        <td th:text="${faturamento.produto.nome}"></td>
                    </tr>
                </tbody>
                </table>
                <table>
                <thead>
                    <tr>
                		<th>Valor da Etapa</th>
                        <th>Total a Faturar</th>
                        <th>Campanha</th>
                        <th>Ano Fiscal</th>
                        <th>Valor Bruto R$</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    	<td th:id="idValorEtapa" th:text="${faturamento.valorEtapa}"></td>
                        <td th:id="idTotal" th:value="${total}" th:text="${total}"></td>
                        <td th:text="${faturamento?.campanha}"></td>
                        <td th:text="${faturamento?.anoFiscal}"></td>
                        <td th:id="idFatValorEtapa" th:text="${faturamento?.valorEtapa}"></td>
                        
                    </tr>
                    <tr></tr>
                    </tbody>
            </table>
        </div>
		    <input type="text" id="totalfat" th:value="${total}" th:hidden="hidden"/>
        <div class="row">
            <div class="row">
                <h5>Informações da Nota Fiscal</h5>
                <hr />
            </div>
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th>Nota Fiscal</th>
                        <th>Forma de Pagamento</th>
                        <th>Etapa a faturar</th>
                        <th>% da etapa</th>
                        <th>Estado Faturamento</th>
                        <th>SubEstado</th>
                    </tr>
                </thead>

                <tbody id="tbody-informacoes">
                    <tr>
                        <td style="width:8%">
                            <input type="number" name="numeroNF" th:value="${faturamento?.numeroNF}" />
                        </td>
                        <td th:text="${faturamento?.contrato?.formaPagamento}"></td>
                        <td th:text="${faturamento?.etapa?.nome}"></td>
                        <td th:text="${faturamento?.percetEtapa}+'%'"></td>
                        <td th:text="${faturamento?.estado}"></td>
                        <td th:text="${faturamento?.subEstadoFaturamento}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="row">
                <h5>Observações</h5>
            </div>
            <hr />
            <b th:text="'Seguimento: '"></b>
            <p th:text="${faturamento?.cliente?.setorAtividade}"></p>
            <b th:text="'Observações do contrato: '"></b>
            <p th:text="${faturamento?.obsContrato}"></p>
            <b th:text="'Observações Faturamento: '"></b>
            <p th:text="${faturamento?.observacao}"></p>
            <hr />
        </div>

        <div class="row">
            <div class="row">
                <h5>Informações dos Contatos</h5>
                <hr />
            </div>
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th>Nome contato</th>
                        <th>E-mail Contato</th>
                        <th>Telefone Contato</th>
                    </tr>
                </thead>
                <tbody id="tbody-informacoes">
                    <tr th:each="c : ${contatos}">
                        <td th:text="${c.nome}"></td>
                        <td th:text="${c.email}"></td>
                        <td th:text="${c.telefone1}"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                    	<th></th>
                        <th>Endereço Entrega Boleto</th>
                    </tr>
                </thead>
                
                <tbody id="tbody-informacoesDoEndereco">
                	<tr>
                		<td>
                			<td th:each="endereco : ${endereco}" th:text="${endereco?.logradouro} + ' N° ' + ${endereco?.numero} + ' - ' + ${endereco?.cidade} + ' - ' + ${endereco?.estado}"></td>
                		</td>
                	</tr>
                </tbody>
            </table>
        </div>
        
        <div class="row">
            <h5>Impostos Retidos na Fatura</h5>
            <hr/>
        </div>
        <div class="row">
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th>IRRF (1,5%)</th>
                        <th>CSSL (1%)</th>
                        <th>PIS (0,65%)</th>
                        <th>COFINS (3%)</th>
                        <th>Total</th>
                        <th>Valor Líquido</th>
                    </tr>
                </thead>
                <tbody id="tbody-informacoes">
                    <tr>
                        <td id="idIRRF"></td>
                        <td id="idCSSL"></td>
                        <td id="idPIS"></td>
                        <td id="idCOFINS"></td>
                        <td id="idTotalImpostos"></td>
                        <td id="idValorLiquido"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="containerFatManual">
                <div class="row" id="tituloBalancete">
            <h5>Informações Balancete</h5>
            <hr />
        </div>

        <table class="responsive-table table-default bordered">
            <thead>
                <tr>
                    <th>Apuração</th>
                    <th>Versão</th>
                    <th>Dispêndio</th>
                    <th>Benefício</th>
                </tr>

            </thead>

            <tbody id="tbody-informacoesBalancete">
                <tr>
                    <td th:text="${faturamento?.producao?.tipoDeApuracao}"></td>
                    <td th:text="${faturamento?.balancete?.versao}"></td>
                    <td th:text="'R$ ' +${faturamento?.balancete?.valorTotal}"></td>
                    <td th:id="beneficio" th:text="'R$ ' + ${faturamento?.balancete?.reducaoImposto}"></td>
                </tr>
            </tbody>
        </table>
        <div class="center-align input-field col s6">
                    <textarea id="obsBalancete" class="materialize-textarea" th:value="${faturamento?.balancete?.observacoes}"
                        th:inline="text" th:text="${faturamento?.balancete?.observacoes}" name="obsBalancete" th:readonly="readonly"></textarea>
                    <label for="obsBalancete">Observações do Balancete</label>
        </div>

        <div class="row" th:each="h : ${honors}">
            <div th:if="${h.nome == 'Percentual Escalonado'}">
                <h5>Cálculos de Faturamento F.I. (% Escalonado)</h5>
                <table class="responsive-table table-default bordered">
                    <thead>
                        <tr>
                            <th>Intervalo de Faturamento</th>
                            <th>Valor Aplicado</th>
                            <th>Percentual %</th>
                            <th>Honorários</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-informacoes">
                        <tr th:each="f,i : ${percentual?.faixasEscalonamento}">
                            <td th:id="'valores'+${i.index}"></td>
                            <td th:id="'valoresAplicados'+${i.index}"></td>
                            <td th:id="percentual" th:text="${f.valorPercentual}+'%'"></td>
                            <td th:id="'calc'+${i.index}" th:class="calc"></td>
                        </tr>
                        <tr>
                            <td th:id="valorAcimaDe"></td>
                            <td th:id="valorAplicadoAcimaDe"></td>
                            <td th:id="percentAcimaDe" th:text="${h.percentAcimaDe} + '%'"></td>
                            <td th:id="honorarioAcimaDe"></td>
                        </tr>
                    </tbody>
                    <tbody><tr>
                    <td></td><td style="font-weight:bold" th:class="left-align" th:id="totalHonorariosAplicados"></td>
                    <td></td><td style="font-weight:bold" th:id="totalHonorarios"/>
                    </tr></tbody>
                </table>
                <input type="text" th:value="${h?.acimaDe}" id="idValorAcimaDe" th:hidden="hidden" />
                <input type="text" th:value="${h?.limitacao}" id="idLimitacao" th:hidden="hidden" />
            </div>

            <div th:if="${h.nome == 'Valor Fixo'}">
                <h5>Cálculos de Faturamento F.I. (Valor Fixo)</h5>
                <table class="responsive-table table-default bordered">
                    <thead>
                        <tr>
                            <th>Período do Honorário</th>
                            <th>Valor Fixo</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-informacoes-valorFixo">
                        <tr>
                            <td th:text="${faturamento?.producao?.tipoDeApuracao}"></td>
                            <td th:id="valorFixoHonorario" th:text="${faturamento?.valorF?.valor}" th:class="money">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${h.nome == 'Percentual Fixo'}">
                <h5>Cálculos de Faturamento F.I. (Percentual Fixo)</h5>
                <table class="responsive-table table-default bordered">
                    <thead>
                        <tr>
                            <th>Percentual Fixo</th>
                            <th>Valor Aplicado</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-informacoes-percentualFixo">
                        <tr>
                            <td th:id="idPercentualFixo" th:text="${faturamento?.percentualF?.valorPercentual} + '%'">
                            </td>
                            <td th:id="idPercentualFixoHonorarioValorAplicado"></td>
                            <td th:id="idPercentualFixoHonorario"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
	 </div>
        <div>
            <div class="row">
                <form th:action="@{/faturamentos/formConsolidadoPreLoaded}" method="POST">
                    <input type="text" name="idProdLoad" th:value="${faturamento?.producao?.id}" th:hidden="hidden" />
                    <button type="submit" class="waves-effect blue btn">
                        <i class="material-icons left">library_add</i>Consolidar
                    </button>
                </form>
                <input name="currentParametros" type="text" id="currentParametros" hidden="hidden" />
                <a   onclick="botaoVoltar()" class="col waves-effect tooltip right"><i
                        class="material-icons left">arrow_back</i>Voltar
                         </a>
                        
            </div>
        </div>
        <input type="text" th:value="${faturamento?.id}" id="fatId" th:hidden="hidden" />
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/faturamento/main.js}"></script>
    <script th:src="@{/js/faturamento/details.js}"></script>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/libs/CNPJ.js}"></script>

</body>

</html>