<!DOCTYPE html >
    <html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

        <head>
            <meta charset="UTF-8" />
            <title th:text="'Detalhes de Faturamento Consolidado'"></title>
            <link th:include="fragments/header :: header-css" />
            <link rel="stylesheet" href="../css/cliente/list.css" />
        </head>

        <body>
            <input type="text" id="idContrato" th:hidden="hidden" th:value="${faturamento?.contrato?.id}" />

            <div class="row">

                <div th:include="fragments/header :: menu-lateral"></div>
                <div th:include="fragments/btnMenuLogout :: btns-default"></div>

                <div class="col m10">
                    <div class="center">
                        <!-- Título da página -->
                        <h4>Detalhes Faturamento Consolidado</h4>
                        <hr />
                    </div>
                </div>
            </div>

            <div class="container">

                <input type="text" th:value="${faturamento?.id}" name="id" id="id" th:hidden="hidden" />
                <input type="text" th:hidden="hidden" id="idDoEtapas" />
                <input type="text" th:value="${faturamento?.cliente?.id}" name="idcliente" id="idcliente" th:hidden="hidden" />
                <input type="text" th:value="${faturamento?.producao?.id}" name="idProducao" id="idProducao" th:hidden="hidden" />

                <div class="center-align">

                    <div class="center-align">
                        <ul class="collapsible popout" data-collapsible="expandable">
                            <li class="active">
                                <div class="collapsible-header">
                                    <i class="material-icons">launch</i>Atalhos
                                </div>
                                <div class="collapsible-body grey lighten-3">
                                    <form th:action="@{/relatorios/seguimento}" method="POST">
                                        <section id="filters">
                                            <a th:if="${faturamento?.contrato?.id} != null"
                                                th:href="@{/contratos/} + ${faturamento?.contrato?.id}"
                                                class="col m8 waves-effect tooltip">
                                                <i class="material-icons left">library_books</i>Contrato</a>
                                            <a th:if="${faturamento?.producao?.id} != null"
                                                th:href="@{/producoes/update/} + ${faturamento?.producao?.id}"
                                                class="col m8 waves-effect tooltip">
                                                <i class="material-icons left">visibility</i>Produção</a>
                                            <a class="col m8 waves-effect tooltip" onclick="balancete()">
                                                <i class="material-icons left">view_stream</i>Balancetes</a>
                                        </section>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div id="modalbalancete" class="modal -dialog modal">
                        <div class="modal-content">
                            <div class="tooltip">
                                <h5>Balancetes</h5>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th th:hidden="hidden">#</th>
                                        <th>Ano de campanha</th>
                                        <th>Versão</th>
                                        <th>Dispêndio total</th>
                                        <th>Valor benefício</th>
                                        <th>Gerou Faturamento</th>
                                        <th>Balancete</th>
                                    </tr>
                                </thead>
                                <tbody id="TabelaBalancete"></tbody>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <a href="#" onclick="" class="modal-close waves-effect waves-green btn-flat">
                                Fechar</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <h5>Informações Gerais</h5> <hr />
                    </div>
                    <table class="responsive-table table-default bordered">
                        <thead>
                            <tr>
                                <th>Razão Social</th>
                                <th>CNPJ</th>
                                <th>Razão Social a Faturar</th>
                                <th>CNPJ a Faturar</th>
                                <th>Produto</th>
                                <th>Valor da Etapa</th>
                                <th>Total a Faturar</th>
                                <th>Campanha</th>
                                <th>Ano Fiscal</th>
                                <th>Valor Bruto R$</th>

                            </tr>
                        </thead>

                        <tbody id="informacoesBalancete">
                            <tr>
                                <td th:text="${faturamento?.cliente?.razaoSocial}"></td>
                                <td th:text="${faturamento?.cliente?.cnpj}" class="cnpj"></td>
                                <td th:text="${faturamento?.razaoSocialFaturar}"></td>
                                <td th:text="${faturamento?.cnpjFaturar}"></td>
                                <td th:text="${faturamento?.produto?.nome}"></td>
                                <td th:id="idValorEtapa" th:class="money" th:text="${faturamento?.valorEtapa}"></td>
                                <td th:id="idTotal" th:class="money" th:text="${total}"></td>
                                <td th:text="${faturamento?.campanha}"></td>
                                <td th:text="${faturamento?.anoFiscal}"></td>
                                <td th:text="${faturamento?.valorEtapa}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="row">
                        <h5>Informações da Nota Fiscal</h5><hr />
                    </div>
                    <table class="responsive-table table-default bordered">
                        <thead>
                            <tr>
                                <th>Nota Fiscal</th>
                                <th>Forma de Pagamento</th>
                                <th>Etapa a faturar</th>
                                <th>% da etapa</th>
                                <th>Estado Faturamento</th>
                                <th>Submotivo</th>
                            </tr>
                        </thead>

                        <tbody id="informacoesNF">
                            <tr>
                                <td style="width:8%" >
                                    <input type="number" name="numeroNF" th:value="${faturamento?.numeroNF}" /></td>
                                <td th:text="${faturamento?.contrato?.formaPagamento}"></td>
                                <td th:text="${faturamento?.etapa?.nome}"></td>
                                <td th:text="${faturamento?.percetEtapa}+'%'"></td>
                                <td th:text="${faturamento?.estado}"></td>
                                <td th:text="${submotivo}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="row">
                        <h5>Observações</h5>
                    </div>
                    <hr />
                    <b th:text="'Seguimento: '"></b><p th:text="${faturamento?.cliente?.setorAtividade}"></p>
                    <b th:text="'Observações do contrato: '"></b><p th:text="${faturamento?.obsContrato}"></p>
                    <b th:text="'Observações Faturamento: '"></b><p th:text="${faturamento?.observacao}"></p>
                    <hr />
                </div>

                <div class="row">
                    <div class="row">
                        <h5>Informações dos Contatos</h5><hr />
                    </div>
                    <table class="responsive-table table-default bordered">
                        <thead>
                            <tr>
                                <th>Nome contato</th>
                                <th>E-mail Contato</th>
                                <th>Telefone Contato</th>
                            </tr>
                        </thead>
                        <tbody id="informacoesContato">
                            <tr th:each="c : ${contato}">
                                <td th:text="${c.nome}"></td>
                                <td th:text="${c.email}"></td>
                                <td th:text="${c.telefone1}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="container" >

                <h5>Informações da Consolidação</h5>
                <div id="corpoFats">
                    <span style='font-size: 14px;'></span>
                </div>

                <div id="memoriaCalculo">
                    <div class="row">
                        <div id="escalonado" th:hidden="hidden">
                            <h5>Cálculos de Faturamento F.I. (% Escalonado)</h5>
                            <table class="responsive-table table-default bordered">
                                <thead>
                                    <tr>
                                        <th>Intervalo de Faturamento</th>
                                        <th>Valor Aplicado</th>
                                        <th>Percentual %</th>
                                        <th>Honorários</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-escalonado">
                                </tbody>
                            </table>
                            <input type="text" id="idValorAcimaDe" th:hidden="hidden" />
                            <input type="text" id="idLimitacao" th:hidden="hidden" />
                        </div>

                        <div id="valorFixo" th:hidden="hidden">
                            <h5>Cálculos de Faturamento F.I. (Valor Fixo)</h5>
                            <table class="responsive-table table-default bordered">
                                <thead>
                                    <tr>
                                        <th>Período do Honorário</th>
                                        <th>Valor Fixo</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-valorFixo">
                                </tbody>
                            </table>
                        </div>

                        <div id="percentFixo" th:hidden="hidden">
                            <h5>Cálculos de Faturamento F.I. (% Fixo)</h5>
                            <table class="responsive-table table-default bordered">
                                <thead>
                                    <tr>
                                        <th>Valor Aplicado</th>
                                        <th>% Fixo</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-percentualFixo">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
				
				  <div id="fatConsolidado" class="row" th:hidden="hidden" >
							
							<div class="col s12 m12">
                                    
											 <input id="idClienteConsolidado" type="text" class="tooltip" th:required="required"
                                                name="idClienteConsolidado" th:hidden="hidden" />
											<input id="idProdutoConsolidado" type="text" class="tooltip" th:required="required"
                                                name="idProdutoConsolidado" th:hidden="hidden" />
                                                
                                             <input id="idProducaoConsolidado" type="text" class="tooltip" th:required="required"
                                                name="idProducaoConsolidado" th:hidden="hidden" />
                                           
                                            <input id="idsFatsConsolidado" type="text" class="tooltip" th:required="required"
                                                name="idsFatsConsolidado" th:hidden="hidden" /> 
                                               
                                     <div class="row">
                                       
                                            <div id="corpoFatConsolidados">
                                                <span style='font-size: 14px;'><b>Faturamentos à serem
                                                        consolidados:</b></span>
                                            </div>
                                        </div>
                                    </div>
                        </div> 
				

                <div class="row">
                	 <div class="col m12 right-align">
                	<form th:action="@{/faturamentos/desconsolidaFaturamento}" method="POST">
                    	<button type="button" class="btn modal-trigger btn tooltip orange" th:attr="data-target='modal' + ${faturamento?.id}">
                        		<i class="material-icons left">library_add</i>Desconsolidar</button>
                    	<input type="text" name="idFaturamento" th:value="${faturamento?.id}" th:hidden="hidden" /> 
                    		
                    		<div th:id="modal+ ${faturamento?.id}" class="modal bottom-sheet">
            							<div class="modal-content">
               							 <h4>
                   						 Deseja mesmo desconsolidar esse faturamento ? <i class="material-icons right modal-close mouse-hand">close</i>
                						</h4>
                						
            							</div>
            							<div class="modal-footer">
                							<button type="submit"
                    						class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Desconsolidar</button>
            							</div>
        						</div>
                	 </form>
                 	</div>  
                 	<input name="currentParametros" type="text" id="currentParametros" hidden="hidden" />
                    <div class="col m8 left-align">
                        <a onclick="botaoVoltar()" class="waves-effect tooltip"><i
                            class="material-icons left">arrow_back</i>Voltar</a>
                    </div>
                </div>

            </div>

            <div th:include="fragments/footer :: footer"></div>
            <script th:src="@{/js/faturamento/detailsConsolidado.js}"></script>
            <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
            <script th:src="@{/js/libs/CNPJ.js}"></script>
        </body>
    </html>