<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="'Alterar Faturamento'"></title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/cliente/list.css" />
</head>

<style>
    #selectProduto {
        pointer-events: none;
    }
</style>

<body>



    <div class="row">

        <div th:include="fragments/header :: menu-lateral"></div>
        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Alterar Faturamento</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
        <form action="/faturamentos/update" method="POST" th:object="${consultor}">

            <input type="text" th:value="${faturamento.id}" name="id" id="id" th:hidden="hidden" />

            <div class="row">
                <div class="row ">
                    <h5>Informações Gerais</h5>
                    <hr />
                </div>
                <div class="input-field col m4">
                    <input type="text" class="razaoSocial" readonly="readonly" id="razaoSocial" name="razaoSocial"
                        th:value="${faturamento.cliente.razaoSocial}" />
                    <label for="razaoSocialFaturar">Razão Social</label>
                </div>
                <div class="input-field col m3">
                    <input type="text" class="cnpjClass" readonly="readonly" id="cnpj" name="cnpj"
                        th:value="${faturamento.cliente.cnpj}"/>
                    <label for="cnpj">CNPJ</label>
                </div>
                <div class="input-field col m4">
                    <input id="razaoSocialFaturar" type="text" name="razaoSocialFaturar" class="razaoSocialFaturar"
                        th:value="${faturamento.razaoSocialFaturar}" />
                    <label>Razão Social a faturar</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col m2">
                    <input type="text" class="cnpjFaturar" id="cnpjFaturar" name="cnpjFaturar"
                        th:value="${faturamento.cnpjFaturar}" />
                    <label>CNPJ a faturar</label>
                </div>
                <!--   <div class="input-field col m2">
                 <input type="text" class="cnpjFaturar" id="cnpjFaturar" name="cnpjFaturar" th:value="${faturamento.cnpjFaturar}"/>
                 <input type="text" class="produto" readonly="readonly" id="produto" name="produto" th:value="${faturamento.produto.nome}"/>
                 <label>Produto</label>
            </div>  -->
                <div class="input-field col m2" id="divProduto">
                    <select name="produto.id" id="selectProduto" class="select" th:required="required">
                        <option value="" th:selected="selected">Selecione o produto</option>
                        <option th:each="p : ${produtos} " th:value="${p.id}" th:text="${p.nome}"
                            th:selected="(${faturamento.produto.nome == p.nome})"></option>
                    </select>
                    <label>Selecione o produto</label>
                </div>

                <div class="input-field col m4">
                    <select name="etapa" id="etapa" class="select">
                        <option value="" th:selected="selected">Selecione</option>
                        <option th:each="etapa : ${etapaTrabalho}" th:value="${etapa.id}" th:text="${etapa.nome}"
                            th:selected="${faturamento?.etapa?.id == etapa.id}"></option>
                    </select>
                    <label>Etapa</label>
                </div>

                <div class="input-field col m3">
                    <!--                  <input id="valorFinal" name="valorFinal" class="money valor" th:value="${faturamento.valorEtapa}"/> -->
                    <input type="text" class="money" id="valorEtapa" name="valorEtapa"
                        th:value="${faturamento.valorEtapa}" />
                    <label>Valor Bruto R$</label>
                </div>
                <div class="input-field col m3">
                       <input type="text" id="valorTotal" name="valorTotal" class="money totalFaturar" th:value="${total}" />  
                     <!-- <input type="text" class="money" id="valorTotal" name="valorTotal"
                        th:value="${faturamento.valorTotal}" />  -->
                    <label>Total Faturar R$</label>
                </div>
                <div class="input-field col m3">
                    <select class="select" name="seguimento" id="select-seguimento">
                        <option value="" th:selected="selected" th:disabled="disabled">Selecione</option>
                        <option th:each="sa : ${seguimento}" th:value="${sa.name()}" th:text="${sa.displayName()}"
                            th:selected="(${faturamento?.cliente?.setorAtividade.name() == sa.name()})">

                        </option>
                    </select>
                    <label>Setor Atividade</label>
                </div>
                
                 <div class="input-field col m2">
                    <input type="number" class="campanha" id="campanha" name="campanha"
                        th:value="${faturamento?.campanha}" />
                    <label>Campanha</label>
                </div>
                 
                  <div class="input-field col m2">
                    <input type="number" class="anoFiscal" id="anoFiscal" name="anoFiscal"
                        th:value="${faturamento?.anoFiscal}" />
                    <label>Ano Fiscal</label>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <div class="row ">
                        <h5>Informações Balancete</h5>
                        <hr />
                    </div>
                    <div class="input-field col m2">
                        <input type="text" class="tipoDeApuracao" readonly="readonly" id="tipoDeApuracao"
                            name="tipoDeApuracao" th:value="${faturamento?.producao?.tipoDeApuracao}" />
                        <label for="apuracao">Apuração</label>
                    </div>
                    <div class="input-field col m2">
                        <!--                   <td th:text="${faturamento?.balancete?.versao}"></td> -->
                        <input type="text" class="versao" readonly="readonly" id="versao" name="versao"
                            th:value="${faturamento?.balancete?.versao}" />
                        <label for="versao">Versão</label>
                    </div>
                    <div class="input-field col m3">
                        <!--                  <td th:text="'R$ '+${faturamento?.balancete?.valorTotal}"></td> -->
                        <!--                  <input id="valorTotal" name="valorTotal" class="valorTotal" th:value="'R$ ' + ${faturamento?.balancete?.valorTotal}"/> -->
                        <input type="text" class="money" readonly="readonly" id="valorTotal" name="ValorTotal"
                            th:value="${faturamento?.balancete?.valorTotal}" />
                        <label>Dispêndio R$</label>
                    </div>
                    <div class="input-field col m2">
                        <!--                  <td th:text="'R$ '+${faturamento?.balancete?.reducaoImposto}"></td> -->
                        <!--                  <input id="reducaoImposto" name="reducaoImposto" class="money valor" th:value="${faturamento?.balancete?.reducaoImposto}"/> -->
                        <input type="text" class="money" readonly="readonly" id="reducaoImposto" name="reducaoImposto"
                            th:value="${faturamento?.balancete?.reducaoImposto}" />
                        <label>Redução R$</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <div class="row">
                        <h5>Informações da Nota Fiscal</h5>
                        <hr />
                    </div>
                    <table class="responsive-table table-default bordered">
                        <thead>
                            <tr>
                                <th>Nota Fiscal</th>
                                <th>Forma de Pagamento</th>
                                <th>Etapa a faturar</th>
                                <th>% da etapa</th>
                                <th>Conclusão</th>
                                <th>Estado Faturamento</th>
                                <th>Submotivo</th>
                            </tr>
                        </thead>

                        <tbody id="tbody-informacoes">
                            <tr>
                                <td style="width: 10%">
                                    <input type="number" name="numeroNF" th:value="${faturamento?.numeroNF}" />
                                </td>
                                <td th:text="${faturamento?.contrato?.formaPagamento}"></td>
                                <td th:text="${faturamento?.etapa?.nome}"></td>
                                <td th:text="${faturamento?.percetEtapa}+'%'"></td>
                                <td th:text="${conclusao}"></td>
                                <td style="width: 27%">
                                    <div class="input-field col m12">
                                        <select name="estado" id="select-estado" class="select">
                                            <option value="" th:disabled="disabled" th:selected="selected">Selecione
                                            </option>
                                            <option th:each="e : ${estado}" th:value="${e.displayName()}"
                                                th:text="${e.displayName()}"
                                                th:selected="(${faturamento.estado == e.displayName()})">
                                            </option>
                                        </select>
                                        <label>Estado Faturamento</label>
                                    </div>
                                </td>
                               	<td>
                               	 	<div class="input-field col m12">
                                        <select name="subEstadoFaturamento" id="select-subEstadoFaturamento" class="select">
                                            <option value="" th:disabled="disabled" th:selected="selected">Selecione
                                            </option>
                                            <option th:each="se : ${subEstadoFaturamento}" th:value="${se.displayName()}"
                                                th:text="${se.displayName()}"
                                                th:selected="(${faturamento?.subEstadoFaturamento == se.displayName()})">
                                            </option>
                                        </select>
                                        <label>Sub Estado Faturamento</label>
                                    </div>
                               </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <h5>Observações</h5>
                </div>




                <div class="row">
                    <div class="input-field col s6">
                        <textarea th:if="${faturamento?.obsContrato == null}" th:text="''" id="obsContrato"
                            name="obsContrato" class="materialize-textarea"
                            placeholder="Observações do contrato"></textarea>
                        <textarea th:if="${faturamento?.obsContrato != null}" id="obsContrato" name="obsContrato"
                            class="materialize-textarea" placeholder="Observações do contrato"
                            th:inline="text">[[${faturamento?.obsContrato}]]</textarea>
                        <label for="textarea1">Observaçoes do Contrato</label>
                    </div>

                    <div class="input-field col s6">
                        <textarea th:if="${faturamento?.observacao == null}" th:text="''" id="obsContrato"
                            name="obsContrato" class="materialize-textarea"
                            placeholder="Observações do faturamento"></textarea>
                        <textarea th:if="${faturamento?.observacao != null}" id="obsFaturamento" name="obsFaturamento"
                            class="materialize-textarea" placeholder="observações do faturamento"
                            th:inline="text">[[${faturamento?.observacao}]]</textarea>
                        <label for="textarea1">Observaçoes do Faturamento</label>
                    </div>

                </div>



            </div>

            <div class="row">
                <div class="row">
                    <h5>Informações dos Contatos</h5>
                    <hr />
                </div>
                <table class="responsive-table table-default bordered">
                    <thead>
                        <tr>
                            <th>Nome contato</th>
                            <th>E-mail Contato</th>
                            <th>Telefone Contato</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-informacoes">
                        <tr th:each="c : ${contatos}">
                            <td th:text="${c.nome}"></td>
                            <td th:text="${c.email}"></td>
                            <td th:text="${c.telefone1}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row" th:each="h : ${honors}">

                <div th:if="${h.nome == 'Percentual Escalonado'}">
                    <div class="row">
                        <h5>Cálculos de Faturação F.I (% Escalonado)</h5>
                        <hr />
                    </div>
                    <table class="responsive-table table-default bordered">
                        <thead>
                            <tr>
                                <th>Intervalo de Faturação</th>
                                <th>Percentual %</th>
                                <th>Honorário</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-informacoes">
                            <tr th:each="f : ${percentual.faixasEscalonamento}">
                                <td th:text="'De R$ '+${f.valorInicial}+' à R$ '+${f.valorFinal}"></td>
                                <td th:text="${f.valorPercentual}+'%'"></td>
                                <td th:text="${f.valorPercentual}+'%'"></td>
                            </tr>
                            <tr th:each="f:${faturamento}">
                                <td>
                                    <a th:href="@{/faturamentos/faturamentoUpdate/} + ${f.id}"
                                        class="waves-effect green btn tooltip" data-position="top"
                                        data-tooltip="Alterar faturamentos">
                                        Alterar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col m4">
                    <button type="submit" class="waves-effect green btn tooltip" id="atualizar-faturamento">
                        <i class="material-icons left">save</i>Salvar
                    </button>
                </div>
				<input name="currentParametros" type="text" id="currentParametros" hidden="hidden" />
                <div>
                    <div class="col m8 right-align">
                        <a onclick="botaoVoltar()" class="waves-effect tooltip"><i
                                class="material-icons left">arrow_back</i>Voltar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal Structure -->
    <div id="voltarEstoque" class="modal bottom-sheet">
        <div class="modal-content">
            <input type="text" id='fatIdHolder' th:hidden="hidden" />
            <h4>Retornar faturamento?</h4>
            <p style="font-size: 15px;">Tem certeza que deseja retornar o faturamento para o estoque de faturamentos?
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
            <a id='retorna' class="waves-effect waves-green btn-flat">Retornar</a>
        </div>
    </div>



    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/libs/CNPJ.js}"></script>
    <script th:src="@{/js/faturamento/faturamentoUpdate.js}"></script>

</body>

</html>