<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="'Alterar Faturamento Consolidado'"></title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/cliente/list.css" />
</head>

<style>
    #selectProduto {
        pointer-events: none;
    }
</style>

<body>

    <div class="row">

        <div th:include="fragments/header :: menu-lateral"></div>
        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Alterar Faturamento Consolidado</h4>
                <hr />
            </div>
        </div>
    </div>
	
	 <div class="container">
        <form action="/faturamentos/updateConsolidado" method="POST" th:object="${consultor}"> 

            <input type="text" th:value="${faturamento?.id}" name="id" id="id" th:hidden="hidden" />

            <div class="row">
                <div class="row ">
                    <h5>Informações Gerais</h5>
                    <hr />
                </div>
                <div class="input-field col m4">
                  
                    <input type="text" class="razaoSocial" readonly="readonly" id="razaoSocial" name="razaoSocial"
                        th:value="${faturamento.cliente.razaoSocial}" />
                    <label for="razaoSocialFaturar">Razão Social</label>
                </div>
                <div class="input-field col m3">
                    
                    <input type="text" class="cnpj" readonly="readonly" id="cnpj" name="cnpj"
                        th:value="${faturamento.cliente.cnpj}" />
                    <label for="cnpj">CNPJ</label>
                </div>
                <div class="input-field col m4">
                    <input id="razaoSocialFaturar" type="text" name="razaoSocialFaturar" class="razaoSocialFaturar"
                        th:value="${faturamento.razaoSocialFaturar}" />
                    <label>Razão Social a faturar</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col m2">
                    <input type="text" class="cnpjFaturar" id="cnpjFaturar" name="cnpjFaturar"
                        th:value="${faturamento.cnpjFaturar}" />
                    <label>CNPJ a faturar</label>
                </div>
                
                <div class="input-field col m2" id="divProduto">
                    <select name="produto.id" id="selectProduto" class="select" th:required="required">
                        <option value="" th:selected="selected">Selecione o produto</option>
                        <option th:each="p : ${produtos} " th:value="${p.id}" th:text="${p.nome}"
                            th:selected="(${faturamento.produto.nome == p.nome})"></option>
                    </select>
                    <label>Selecione o produto</label>
                </div>

                <div class="input-field col m4">
                    <select name="etapa" id="etapa" class="select">
                        <option value="" th:selected="selected">Selecione</option>
                        <option th:each="etapa : ${etapaTrabalho}" th:value="${etapa.id}" th:text="${etapa.nome}"
                            th:selected="${faturamento?.etapa?.id == etapa.id}"></option>
                    </select>
                    <label>Etapa</label>
                </div>

                <div class="input-field col m3">
                    
                    <input type="text" class="money" id="valorEtapa" name="valorEtapa"
                        th:value="${faturamento.valorEtapa}" />
                    <label>Valor Bruto R$</label>
                </div>
                <div class="input-field col m3">
                  
                    <input type="text" class="money" readonly="readonly" id="valorTotal" name="valorTotal"
                        th:value="${total}" />
                    <label>Total Faturar R$</label>
                </div>
                <div class="input-field col m3">
                    <select class="select" name="seguimento" id="select-seguimento">
                        <option value="" th:selected="selected" th:disabled="disabled">Selecione</option>
                        <option th:each="sa : ${seguimento}" th:value="${sa.name()}" th:text="${sa.displayName()}"
                            th:selected="(${faturamento?.cliente?.setorAtividade.name() == sa.name()})">

                        </option>
                    </select>
                    <label>Setor Atividade</label>
                </div>
                
                 <div class="input-field col m2">
                    <input type="number" class="campanha" id="campanha" name="campanha"
                        th:value="${faturamento?.campanha}" />
                    <label>Campanha</label>
                </div>
                 
                  <div class="input-field col m2">
                    <input type="number" class="anoFiscal" id="anoFiscal" name="anoFiscal"
                        th:value="${faturamento?.anoFiscal}" />
                    <label>Ano Fiscal</label>
                </div>
            </div>
            
            
            
            <div class="row">
                <div class="row">
                    <div class="row">
                        <h5>Informações da Nota Fiscal</h5>
                        <hr />
                    </div>
                    <table class="responsive-table table-default bordered">
                        <thead>
                            <tr>
                                <th>Nota Fiscal</th>
                                <th>Forma de Pagamento</th>
                                <th>Etapa a faturar</th>
                                <th>% da etapa</th>
                                <th>Conclusão</th>
                                <th>Estado Faturamento</th>
                                <th>Submotivo</th>
                            </tr>
                        </thead>

                        <tbody id="informacoes">
                            <tr>
                                <td style="width: 10%">
                                    <input type="number" name="numeroNF" th:value="${faturamento?.numeroNF}" />
                                </td>
                                <td th:text="${faturamento?.contrato?.formaPagamento}"></td>
                                <td th:text="${faturamento?.etapa?.nome}"></td>
                                <td th:text="${faturamento?.percetEtapa}+'%'"></td>
                                <td th:text="${conclusao}"></td>
                                <td style="width: 27%">
                                    <div class="input-field col m12">
                                        <select name="estado" id="select-estado" class="select">
                                            <option value="" th:disabled="disabled" th:selected="selected">Selecione
                                            </option>
                                            <option th:each="e : ${estado}" th:value="${e.displayName()}"
                                                th:text="${e.displayName()}"
                                                th:selected="(${faturamento.estado == e.displayName()})">
                                            </option>
                                        </select>
                                        <label>Estado faturamento</label>
                                    </div>
                                </td>
                                <td th:text="${submotivo}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <h5>Observações</h5>
                </div>




                <div class="row">
                    <div class="input-field col s6">
                        <textarea th:if="${faturamento?.obsContrato == null}" th:text="''" id="obsContrato"
                            name="obsContrato" class="materialize-textarea"
                            placeholder="Observações do contrato"></textarea>
                        <textarea th:if="${faturamento?.obsContrato != null}" id="obsContrato" name="obsContrato"
                            class="materialize-textarea" placeholder="Observações do contrato"
                            th:inline="text">[[${faturamento?.obsContrato}]]</textarea>
                        <label for="textarea1">Observaçoes do Contrato</label>
                    </div>

                    <div class="input-field col s6">
                        <textarea th:if="${faturamento?.observacao == null}" th:text="''" id="obsContrato"
                            name="obsContrato" class="materialize-textarea"
                            placeholder="Observações do faturamento"></textarea>
                        <textarea th:if="${faturamento?.observacao != null}" id="obsFaturamento" name="obsFaturamento"
                            class="materialize-textarea" placeholder="observações do faturamento"
                            th:inline="text">[[${faturamento?.observacao}]]</textarea>
                        <label for="textarea1">Observaçoes do Faturamento</label>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="row">
                    <h5>Informações dos Contatos</h5>
                    <hr />
                </div>
                <table class="responsive-table table-default bordered">
                    <thead>
                        <tr>
                            <th>Nome contato</th>
                            <th>E-mail Contato</th>
                            <th>Telefone Contato</th>
                        </tr>
                    </thead>
                    <tbody id="informacoes">
                        <tr th:each="c : ${contatos}">
                            <td th:text="${c.nome}"></td>
                            <td th:text="${c.email}"></td>
                            <td th:text="${c.telefone1}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
           
           
		 
            	<h5>Informações da Consolidação</h5>
                <div id="corpoFats">
                	<span style='font-size: 14px;'></span>
                </div>
           
             <div id="memoriaCalculo">
                                                <div class="row">
                                                    <div id="escalonado" th:hidden="hidden">
                                                       <span style='font-size: 14px;'><b>Cálculos de Faturamento F.I. (% Escalonado)</b></span>
                                                        <table class="responsive-table table-default bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Intervalo de Faturamento</th>
                                                                    <th>Benefício atrelado</th>
                                                                    <th>Percentual %</th>
                                                                    <th>Honorários</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody-escalonado">
                                                            </tbody>
                                                        </table>
                                                        <input type="text" id="idValorAcimaDe" th:hidden="hidden" />
                                                        <input type="text" id="idLimitacao" th:hidden="hidden" />
                                                    </div>

                                                    <div id="valorFixo" th:hidden="hidden">
                                                        <span style='font-size: 14px;'><b>Cálculos de Faturamento F.I. (Valor Fixo)</b></span>
                                                        <table class="responsive-table table-default bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Período do Honorário</th>
                                                                    <th>Valor Fixo</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody-valorFixo">
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div id="percentFixo" th:hidden="hidden">
                                                        <span style='font-size: 14px;'><b>Cálculos de Faturamento F.I. (% Fixo)</b></span>
                                                        <table class="responsive-table table-default bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Benefício atrelado</th>
                                                                    <th>% Fixo</th>
                                                                    <th>Valor</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody-percentualFixo">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                             <div id="fatConsolidado" class="row" th:hidden="hidden" >
							
						 <div class="col s12 m12">
                                            
                                     <div class="row">
                                       
                                            <div id="corpoFatConsolidados">
                                                <span style='font-size: 14px;'><b>Faturamentos à serem
                                                        consolidados:</b></span>
                                            </div>
                                        </div>
                                    </div> 
                        </div> 
                                           
           
            
            <div class="row">
                <div class="col m4">
                    <button type="submit" class="waves-effect green btn tooltip" id="atualizar-faturamento">
                        <i class="material-icons left">save</i>Salvar
                    </button>
                </div>
	
              
             	<input name="currentParametros" type="text" id="currentParametros" hidden="hidden" />
                <div>
                    <div class="col m8 right-align">
                        <a onclick="botaoVoltar()" class="waves-effect tooltip"><i
                                class="material-icons left">arrow_back</i>Voltar</a>
                    </div>
                </div>
            </div>
             </form>
              <div class="col m8 right-align">
             <div class="col m12 right-align">
             	  <form th:action="@{/faturamentos/desconsolidaFaturamento}" method="POST">
                		<button type="button" class="btn modal-trigger btn tooltip orange " th:attr="data-target='modal' + ${faturamento?.id}">
                        		<i class="material-icons left">library_add</i>Desconsolidar</button>
                    	<input type="text" name="idFaturamento" th:value="${faturamento?.id}" th:hidden="hidden" /> 
                    		
                    		<div th:id="modal+ ${faturamento?.id}" class="modal bottom-sheet">
            							<div class="modal-content">
               							 <h4>
                   						 Deseja mesmo desconsolidar esse faturamento ? <i class="material-icons right modal-close mouse-hand">close</i>
                						</h4>
                						
            							</div>
            							<div class="modal-footer">
                							<button type="submit"
                    						class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Desconsolidar</button>
            							</div>
        						</div>
                	 </form> 
             
                	 
                 </div> 
               </div>
               
          </div>
            
	<div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/libs/CNPJ.js}"></script>
    <script th:src="@{/js/faturamento/faturamentoUpdate.js}"></script>
    
</body>
</html>