<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<title th:text="'Adicionar Faturamento'"></title>
<link th:include="fragments/header :: header-css" />
<link rel="stylesheet" href="../css/cliente/list.css" />
</head>

<body>

	<div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Faturamento</h4>
                <hr/>
            </div>
        </div>
    </div>
    
	<div class="container">
	<form th:action="@{/faturamentos/add}" id="form" method="POST">
	
		<div class="row ">
			    <h5>Informações Campanha / Contrato</h5>
				<div class="row">
				<div class="input-field col m4">
                     <input name="cnpjFaturar" id="cnpj" type="text" class="tooltip" th:required="required"/>
                  	 <label for="cnpj">CNPJ</label>
                </div>
                
                <div class="input-field col m4">
                     <input id="razaoSocial" name="razaoSocial" type="text" class="tooltip" th:required="required" />
                     <label for="razaoSocial">Razão Social</label>
                </div>
                </div> 
                
                <input id="idcliente" type="text" class="tooltip" th:required="required" name="cliente.id" th:hidden="hidden"/>
                
                <div class="row">
				<div class="input-field col m2">
                     <select name="produto.id" id="selectProduto" class="select" th:required="required">
                             <option value="" 
                                     th:selected="selected" >Selecione o produto</option>
                             <option th:each="produto : ${produtos}"
                                     th:value="${produto.id}"
                                     th:text="${produto.nome}"></option>
                     </select>
                     <label>Selecione o produto</label>
                </div>
                
                	<div class="input-field col m4">
                                <select class="select" name="etapa.id" id="select-etapa">
                                    <option value="" th:selected="selected">Selecione</option>
                                </select>
                                <label>Etapa</label>
                     </div>
                
                <div class="input-field col m2">
                            <select class="select" name="campanha" id="select-ano" style="left: 100px;">
								<option value="" th:selected="selected">Selecione</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2021">2022</option>
                                <option value="2021">2023</option>
      						</select>
                     <label>Campanha</label>
                 </div>
                 
                  <div class="input-field col m2">
                    <input type="number" class="anoFiscal" id="anoFiscal" name="anoFiscal"
                        th:value="${faturamento?.anoFiscal}" />
                    <label>Ano Fiscal</label>
                </div>
               
				</div>
                
		</div>
		
		<div class="row">

                <div class="col m3">
                    <button type="button" id="btnBuscaProducoes" class="waves-effect blue btn">
                        <i class="material-icons left">search</i>Buscar
                    </button>
                </div>

        </div>
		
		<h5>Produção</h5>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card-panel grey lighten-4 z-depth-1">

                            <table class="highlight responsive-table" id="tabelaProducao">
                                <thead>
                                    <tr>
                                        <th>Produto</th>
                                        <th>Campanha</th>
                                        <th>Apuração</th>
                                        <th>Situação</th>
                                        <th class="selecionar">Selecionar</th>
                                    </tr>
                                </thead>
                                <tbody id="corpoTabelaProducoes">
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                
        <h5>Balancete</h5>
                <div class="row">
                    <div class="col s12 m12">
                        <div class="card-panel grey lighten-4 z-depth-1">

                            <table class="highlight responsive-table" id="tabelaBalancete">
                                <thead>
                                    <tr>
                                        <th>Versão</th>
                                        <th>% Realizado</th>
                                        <th>Valor Dispêndio</th>
                                        <th>Benefício</th>
                                        <th>Validado?</th>
                                        <th>Gerou Faturamento?</th>
                                        <th>Selecionar</th>
                                    </tr>
                                </thead>
                                <tbody id="corpoTabelaBalancetes">
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
		
		<div class="row">
		<h5>Informações Faturamento</h5>
		
		<div class="row">
		
		<div class="input-field col m2">
			 <input type="text" id="valor" name="valorT" class="money" />
		     <label for="valor">Total Faturar R$</label>
		</div>
		
		<!--  <input type="text" id="idEtapas" th:value="${contrato?.etapasPagamento?.id}"/> -->
		
       <!--  <div class="input-field col m2">
             <select name="etapa.id" id="select-etapa" class="select">
	         <option value="0" 
                     th:selected="selected">Selecione</option>
	         </select>
             <label>Etapa faturamento</label>
        </div>  -->
                            
		<div class="input-field col m2">
			 <input type="text" name='valorE' id="valorEtapa" class="money"/>
			 <label for="valorEtapa">Valor Etapa R$</label>
		</div>
		
	
		
			<!--  <div class="input-field col m4">
                     <select name="etapaTrabalho" id="etapaTrabalho" class="select" th:required="required">
                             <option value="" 
                                     th:selected="selected" >Selecione a etapa</option>
                             <option th:each="e : ${etapaTrabalho}"
                                     th:value="${e.id}"
                                     th:text="${e.nome}"></option>
                     </select>
                     <label>Selecione a etapa</label>
                </div>  -->
		
		<!-- <div class="input-field col m2">
        	<input type="text" name ="etapaTrabalho" id="etapaTrabalho">
        	<label for="etapaTrabalho">Etapa de trabalho</label>
         </div>  -->     
         
         
		
		</div>
		
		<div class="row">
		<div class="input-field col m2">
			 <input type="text" id="diferenca" name="diferenca" class="money"/>
 			 <label for="diferenca">Diferença R$</label>
		</div>
		
		<div class="input-field col m4">
             <select name="estado" id="select-estado" class="select">
             	     <option value="" 
                     		 th:selected="selected" >Selecione</option>
	                 <option th:each="e : ${estado}"
	                      	 th:value="${e.displayName()}"
	                      	 th:text="${e.displayName()}">
	                 </option>
	         </select>
             <label>Estado faturamento</label>
        </div>
		</div>	
		
		<div class="row">
		<h5>Observações</h5>
		
		<div class="row">
		<div class="input-field col m8">
			 <textarea id="observacao" name="observacao" class="materialize-textarea"></textarea>
             <label for="obsContrato">Observações</label>
        </div>
        </div>
        </div>
        
        <div class="row">
                <div class="col m4">
                    <button type="submit" class="waves-effect green btn tooltip" id="btn-add-faturamento">
	                    <i class="material-icons left">add</i>Adicionar	        
	                </button>
                </div>
                <div class="col m8 right-align">
                    <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
		
		</div>
	
	</form>
	</div>
	
	<div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/faturamento/form.js}"></script>
    <script th:src="@{/js/faturamento/main.js}"></script>


</body>

</html>
