<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="'Adicionar Faturamento'"></title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/cliente/list.css" />
    <style>
        table td {
            width: 150px !important;
        }

        .selecionar {
            text-align: center;
            vertical-align: middle;
        }

        .check {
            text-align: center;
            vertical-align: middle;
            padding-left: 5px;
            max-width: 150px !important;
        }
    </style>
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Consolidar Faturamentos</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
    
    <input type="text" id="preLoaded" th:value="${preLoad}" th:hidden="hidden"/>
    <input type="text" th:if="${preLoad == 's'}" id="idProdLoaded" th:value="${idProdLoaded}" th:hidden="hidden"/>

        <div class="row ">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>1. Informações Campanha /
                        Contrato</div>
                    <div class="collapsible-body">

                        <div class="row">

                            <input id="idcliente" type="text" name="cliente.id" th:hidden="hidden" />

                            <div class="input-field col m3">
                                <input name="cnpjFaturar" id="cnpj" type="text" class="tooltip"
                                    th:required="required" />
                                <label for="cnpj">CNPJ</label>
                            </div>

                            <div class="input-field col m4">
                                <input id="razaoSocial" name="razaoSocial" type="text" class="tooltip"
                                    readonly="readonly" />
                                <label for="razaoSocial">Razão Social</label>
                            </div>

                            <div class="input-field col m3">
                                <select name="idProduto" id="selectProduto" class="select">
                                    <option value="" th:selected="selected">Selecione</option>
                                    <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.nome}">
                                    </option>
                                </select>
                                <label>Produto</label>
                            </div>

                            <div class="input-field col m1">
                                <select th:required="required" class="select" name="campanha" id="select-ano"
                                    style="left: 100px;">
                                    <option value="" th:selected="selected">Selecione</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                </select>
                                <label>Campanha</label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col m3">
                                <button type="button" id="btnBuscaProducoes" class="waves-effect blue btn">
                                    <i class="material-icons left">search</i>Buscar Produções
                                </button>
                            </div>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>2. Produção</div>
                    <div class="collapsible-body">

                        <div class="row">
                            <div class="col s12 m12">
                                <div class="card-panel grey lighten-4 z-depth-1">

                                    <table class="highlight responsive-table" id="tabelaProducao">
                                        <thead>
                                            <tr>
                                                <th>Produto</th>
                                                <th style="width: 10%;">Campanha</th>
                                                <th>Apuração</th>
                                                <th class="selecionar">Selecionar</th>
                                            </tr>
                                        </thead>
                                        <tbody id="corpoTabelaProducoes">
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col m3">
                                <button type="button" id="btn" class="waves-effect blue btn">
                                    <i class="material-icons left">search</i>Buscar Faturamentos
                                </button>
                            </div>
                        </div>

                    </div>
                </li>

                <li>
                    <div th:if="${preLoad == 's'}" class="collapsible-header fatsCollapsable active"><i class="material-icons">filter_drama</i>3. Faturamentos à
                        consolidar
                    </div>
                     <div th:if="${preLoad == 'n'}" class="collapsible-header fatsCollapsable"><i class="material-icons">filter_drama</i>3. Faturamentos à
                        consolidar
                    </div>
                    <div class="collapsible-body">
					
		  			<form>
					<div class="row">
 						<input type="radio" id="balanceteConsolidado" name="consolidar" value="balanceteConsolidado"/>
  							<label for="balanceteConsolidado">Consolidar Balancete</label>
  					</div>
  						
  					<div class="row">
  						<input type="radio" id="faturamentoConsolidado" name="consolidar" value="faturamentoConsolidado"/>
  							<label for="faturamentoConsolidado">Consolidar Faturamento</label>
					</div>
					</form>

                        <div class="row">
                            <div class="col s12 m12">
                                <div class="card-panel grey lighten-4 z-depth-1">

                                    <table class="highlight responsive-table" id="tabela">
                                        <thead>
                                            <tr>
                                                <th>Produto</th>
                                                <th style="width: 10%;">Campanha</th>
                                                <th>Apuração</th>
                                                <th>Versão</th>
                                                <th>Etapa</th>
                                                <th>Estado da Etapa</th>
                                                <th>Valor</th>
                                                <th class="selecionar">Selecionar</th>
                                            </tr>
                                        </thead>
                                        <tbody id="corpoTabela">
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m3">
                                <button type="button" id="btnSimular" class="waves-effect blue btn">
                                    <i class="material-icons left">search</i>Simular consolidação
                                </button>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>4. Simulação
                    </div>
                    <div class="collapsible-body">
                        <div id="beneficioConsolidado" class="row">

                                <div class="col s12 m12">
                                    <div class="row ">
                                        <div class="card-panel grey lighten-4 z-depth-1">
                                            <h5>Informações Campanha / Contrato</h5>
                                            <div class="row">
                                                <div class="input-field col m3">
                                                    <input name="cnpjFaturar" id="cnpjFat" type="text" class="tooltip"
                                                        th:required="required" readonly="readonly" />
                                                    <label for="cnpj">CNPJ</label>
                                                </div>

                                                <div class="input-field col m4">
                                                    <input id="razaoSocialFat" name="razaoSocialFat" type="text"
                                                        th:required="required" readonly="readonly" />
                                                    <label for="razaoSocialFat">Razão Social</label>
                                                </div>
                                            </div>

                                            <input id="idCliente" type="text" class="tooltip" th:required="required"
                                                name="idCliente" th:hidden="hidden" />
                                            <input id="idProduto" type="text" class="tooltip" th:required="required"
                                                name="idProduto" th:hidden="hidden" />
                                            <input id="idProducao" type="text" class="tooltip" th:required="required"
                                                name="idProducao" th:hidden="hidden" />
                                            <input id="idEtapa" type="text" class="tooltip" th:required="required"
                                                name="idEtapa" th:hidden="hidden" />
                                            <input id="idsFatsConsolidados" type="text" class="tooltip" th:required="required"
                                                name="idsFatsConsolidados" th:hidden="hidden" />

                                            <div class="row">
                                                <div class="input-field col m2">
                                                    <input name="produto.id" type="text" id="produto"
                                                        th:required="required" readonly="readonly"/>
                                                    <label for="produto">produto</label>
                                                </div>

                                                <div class="input-field col m2">
                                                    <input id="campanha" type="text" name="campanha" readonly="readonly" />
                                                    <label for="campanha">Campanha</label>
                                                </div>

                                                <div class="input-field col m2">
                                                    <input type="number" class="anoFiscal" id="anoFiscal"
                                                        name="anoFiscal" />
                                                    <label>Ano Fiscal</label>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="card-panel grey lighten-4 z-depth-1">
                                            <h5>Informações da Consolidação</h5>
                                            <div id="corpoFats">
                                                <span style='font-size: 14px;'><b>Faturamentos à serem
                                                        consolidados:</b></span>
                                            </div>
                                            <div id="memoriaCalculo">
                                                <div class="row">
                                                    <div id="escalonado" th:hidden="hidden">
                                                       <span style='font-size: 14px;'><b>Cálculos de Faturamento F.I. (% Escalonado)</b></span>
                                                        <table class="responsive-table table-default bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Intervalo de Faturamento</th>
                                                                    <th>Valor Aplicado</th>
                                                                    <th>Percentual %</th>
                                                                    <th>Honorários</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody-escalonado">
                                                            </tbody>
                                                        </table>
                                                        <input type="text" id="idValorAcimaDe" th:hidden="hidden" />
                                                        <input type="text" id="idLimitacao" th:hidden="hidden" />
                                                    </div>

                                                    <div id="valorFixo" th:hidden="hidden">
                                                        <span style='font-size: 14px;'><b>Cálculos de Faturamento F.I. (Valor Fixo)</b></span>
                                                        <table class="responsive-table table-default bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Período do Honorário</th>
                                                                    <th>Valor Fixo</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody-valorFixo">
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div id="percentFixo" th:hidden="hidden">
                                                        <span style='font-size: 14px;'><b>Cálculos de Faturamento F.I. (% Fixo)</b></span>
                                                        <table class="responsive-table table-default bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th>Benefício atrelado</th>
                                                                    <th>% Fixo</th>
                                                                    <th>Valor</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="tbody-percentualFixo">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="card-panel grey lighten-4 z-depth-1">
                                            <h5>Informações Faturamento</h5>

                                            <div class="row">
                                            
                                            <div class="input-field col m3">
                                                    <input name="" type="text" class="money" id="valorTotal" />
                                                    <label for="percentEtapa">Valor Total</label>
                                                </div>
                                            
                                            <div class="input-field col m3">
                                                    <input name="etapa.id" type="text" id="etapa" />
                                                    <label for="etapa">Etapa de Trabalho</label>
                                                </div>

                                                <div class="input-field col m3">
                                                    <input name="etapa.id" type="text" id="percentEtapa" />
                                                    <label for="percentEtapa">% da Etapa</label>
                                                </div>

                                                <div class="input-field col m2">
                                                    <input type="text" name='valorE' id="valorEtapa" class="money" />
                                                    <label for="valorEtapa">Valor Etapa R$</label>
                                                </div>

                                                <div class="input-field col m4">
                                                    <select name="estado" id="select-estado" class="select">
                                                        <option value="" th:selected="selected">Selecione</option>
                                                        <option th:each="e : ${estado}" th:value="${e.displayName()}"
                                                            th:text="${e.displayName()}">
                                                        </option>
                                                    </select>
                                                    <label>Estado faturamento</label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <h5>Observações</h5>

                                                <div class="row">
                                                    <div class="input-field col m8">
                                                        <textarea id="observacao" name="observacao"
                                                            class="materialize-textarea"></textarea>
                                                        <label for="obsContrato">Observações</label>
                                                    </div>
                                                </div>
                                            </div>
                                           </div>

                                            <div class="row">
                                                <div class="col m4">
                                                    <button class="waves-effect green btn"
                                                        id="btn-add-beneficioConsolidado">
                                                        <i class="material-icons left">add</i>Adicionar
                                                    </button>
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                        </div>
                       <!--  teste -->
                        <div id="fatConsolidado" class="row" th:hidden="hidden" >
								
							<div class="col s12 m12">
                                    <div class="row ">
                                        <div class="card-panel grey lighten-4 z-depth-1">
                                            <h5>Informações Campanha / Contrato</h5>
                                            <div class="row">
                                                <div class="input-field col m3">
                                                    <input name="cnpjConsolidado" id="cnpjConsolidado" type="text" class="tooltip"
                                                        th:required="required" readonly="readonly" />
                                                    <label for="cnpjConsolidado">CNPJ</label>
                                                </div>

                                                <div class="input-field col m4">
                                                    <input id="razaoSocialConsolidado" name="razaoSocialConsolidado" type="text"
                                                        th:required="required" readonly="readonly" />
                                                    <label for="razaoSocialConsolidado">Razão Social</label>
                                                </div>
                                            </div>
											
											 <input id="idClienteConsolidado" type="text" class="tooltip" th:required="required"
                                                name="idClienteConsolidado" th:hidden="hidden" />
											<input id="idProdutoConsolidado" type="text" class="tooltip" th:required="required"
                                                name="idProdutoConsolidado" th:hidden="hidden" />
                                                
                                             <input id="idProducaoConsolidado" type="text" class="tooltip" th:required="required"
                                                name="idProducaoConsolidado" th:hidden="hidden" />
                                           
                                            <input id="idsFatsConsolidado" type="text" class="tooltip" th:required="required"
                                                name="idsFatsConsolidado" th:hidden="hidden" /> 
                                               
                                                
                                            
                                            <div class="row">
                                                <div class="input-field col m2">
                                                    <input name="produtoConsolidado" type="text" id="produtoConsolidado"
                                                        th:required="required" readonly="readonly"/>
                                                    <label for="produtoConsolidado">produto</label>
                                                </div>

                                                <div class="input-field col m2">
                                                    <input id="campanhaConsolidado" type="text" name="campanhaConsolidado" readonly="readonly" />
                                                    <label for="campanhaConsolidado">Campanha</label>
                                                </div>

                                                <div class="input-field col m2">
                                                    <input type="number" class="anoFiscalConsolidado" id="anoFiscalConsolidado"
                                                        name="anoFiscalConsolidado" />
                                                    <label>Ano Fiscal</label>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    
                                     <div class="row">
                                        <div class="card-panel grey lighten-4 z-depth-1">
                                            <h5>Informações da Consolidação</h5>
                                            <div id="corpoFatConsolidados">
                                                <span style='font-size: 14px;'><b>Faturamentos à serem
                                                        consolidados:</b></span>
                                            </div>
                                         </div>
                                        </div>
                                          
                                     <div class="row">
                                        <div class="card-panel grey lighten-4 z-depth-1">
                                            <h5>Informações Faturamento</h5>

                                            <div class="row">
                                            
                                            <div class="input-field col m3">
                                                    <input name="" type="text" class="money" id="valorTotalConsolidado" />
                                                    <label for="valorTotalConsolidado">Valor Total</label>
                                                </div>
                                            
                                                <div class="input-field col m2">
                                                    <input type="text" name='valorEtapaConsolidado' id="valorEtapaConsolidado" class="money" />
                                                    <label for="valorEtapaConsolidado">Valor Etapa R$</label>
                                                </div> 

                                                <div class="input-field col m4">
                                                    <select name="estado" id="select-estadoConsolidado" class="select">
                                                        <option value="" th:selected="selected">Selecione</option>
                                                        <option th:each="e : ${estado}" th:value="${e.displayName()}"
                                                            th:text="${e.displayName()}">
                                                        </option>
                                                    </select>
                                                    <label>Estado faturamento</label>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <h5>Observações</h5>

                                                <div class="row">
                                                    <div class="input-field col m8">
                                                        <textarea id="observacaoConsolidado" name="observacaoConsolidado"
                                                            class="materialize-textarea"></textarea>
                                                        <label for="observacaoConsolidado">Observações</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col m4">
                                                    <button class="waves-effect green btn"
                                                        id="btn-add-faturamentoConsolidado">
                                                        <i class="material-icons left">add</i>Adicionar
                                                    </button>
                                                </div>
                                            </div>
                                           </div>
                                          </div>
                                         
                                    
                                    
                                    
                                    </div>
                                    
								
                        </div> 
                                   
                      <!--   fimTeste  -->
                        
                        
                        
                    </div>
                </li>
            </ul>

            <div class="row">
                <div class="col m8 right-align">
                    <a href="javascript:history.back()" class="waves-effect tooltip"><i
                            class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>

        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/faturamento/formConsolidado.js}"></script>

</body>

</html>