<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="'Adicionar Faturamento'"></title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/cliente/list.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Faturamento</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <ul class="collapsible" style="width: 80%; margin-left: 10%; margin-right: 20%;">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>1. Empresa</div>
                <div class="collapsible-body">
                    <h5>Empresa</h5>

                    <div class="row">
                        <div class="input-field col m3">
                            <input name="cnpjFaturar" id="cnpj" type="text" class="tooltip" th:required="required" />
                            <label for="cnpj">CNPJ</label>
                        </div>

                        <div class="input-field col m5">
                            <input id="razaoSocial" name="razaoSocial" type="text" class="tooltip" th:required="required" />
                            <label for="razaoSocial">Razão Social</label>
                        </div>  
                        
                        <div class="input-field col m1">
                            <input id="campanha" name="campanha" type="number" th:required="required" />
                            <label for="campanha">Campanha</label>
                        </div>      

                        <input id="idEmpresa" type="text" class="tooltip" hidden="hidden" />

                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>2. Contratos</div>
                <div class="collapsible-body">

                    <h5>Contratos</h5>

                    <div class="card-panel grey lighten-5 z-depth-1">
                        <table id="tabela" class="highlight" style="table-layout: fixed;">
                            <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>Início da Vigência</th>
                                    <th>Fim da Vigência</th>
                                    <th>Comercial Responsável</th>
                                    <th>Selecionar</th>
                                </tr>
                            </thead>
                            <tbody id="corpo">
                            </tbody>
                        </table>
                    </div>

                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>3. Simulação</div>
                <div class="collapsible-body">
                <div id="simulacaoFalse"></div>
                    <div id="corpoSimulacao" class='card-panel grey lighten-5 z-depth-1'>
	                    <div class="row">
            	            <div class="input-field col m5" id ="dataInicialContratoDiv"></div>
	                    </div>
                    <table id='tabelaFats' class='highlight' style='table-layout: fixed;'>
                    <thead>
                        <tr>
                        	<th>Cliente</th>
                            <th>Modo</th>
                            <th>Período</th>
                            <th>Valor</th>
                            <th>Data para Faturar</th>
                        </tr>
                    </thead>
                    <tbody id='corpoFats'>
                    </tbody>
                </table>
            </div>
                </div>
            </li>
        </ul>

		<br/>
		<div style="margin-right: 10%;" class="col m4">
        	<button class="waves-effect green btn tooltip right" id="btnGera">
	        	<i class="material-icons left">add</i>Gerar	        
	        </button>
         </div>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
    <script th:src="@{/js/faturamento/formValorFixo.js}"></script>
    <script src="../js/libs/datePickerInit.js"></script>
    <script th:src="@{/js/faturamento/main.js}"></script>

</body>

</html>
