<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Faturamento Gestão</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/cliente/list.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Faturamento Gestão</h4>
                <hr/>
            </div>
        </div>

    </div>

    <div style="width: 95%;" class="container">
        <div class="row">
            <section id="filters">
                <div class="input-field col m3">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="txt-pesq-cliente" />
                    <label for="txt-pesq-cliente">Pesquisar cliente</label>
                </div>
                 <div class="input-field col m3">
                					<i class="material-icons prefix">search</i>
									 <select class="select" id="select-campanha">
                                <option th:selected="selected" value="">Selecione</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                            </select>
                            <label>Campanha</label>
						</div>
                <div class="input-field col m3">
                					<select class="select" name="etapa" id="select-etapa">
										<option value="" th:selected="selected">Selecione</option>
										<option th:each="e : ${etapa}" 
											th:value="${e.name}"
											th:text="${e.name}"></option>
									</select> 
									<label>Etapa</label>
						</div>
						
                <div class="input-field col m3">
									<select class="select" name="estado" id="select-estado">
										<option value="" th:selected="selected">Selecione</option>
										<option th:each="e : ${estado}" 
											th:value="${e.name()}"
											th:text="${e.displayName()}"></option>
									</select> 
									<label>Estado</label>
						</div>
            </section>
        </div>
        
        <div class="col m4 right">
				<a type="submit" class="waves-effect cyan darken-1 btn right"
					th:href="@{/faturamentos/all}" title="voltar"><i
					class="material-icons left">keyboard_arrow_left</i>Voltar</a>
			</div>
        
            <table id="tabela-fat" class="responsive-table tabela-cliente bordered">
                <thead>
                    <tr>
                        <th>Razão Social</th>
                        <th>Produto</th>
                        <th>Campanha</th>
                        <th>Etapa</th>
                        <th>Estado da Etapa</th>
                        <th>Valor</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="f : ${faturamentos}">
                        <td id="razao" th:text="${f.cliente.razaoSocial}"></td>
                        <td style="width: 8%" th:text="${f.contrato.produto.nome}"></td>
                        <td style="width: 3%; text-align: center;" th:text="${f.producao?.ano}"></td>
                        <td style="width: 15%" th:text="${f.etapa.nome}"></td>
                        <td style="word-wrap: break-word; overflow-wrap: break-word; width: 15%;" th:text="${f.estado}"></td>
                        <td style="width: 10%" class="valor" th:text="${f.valorFinal}"></td>
                        <td style="width: 10%" th:switch="${f.contrato.pagamentoData}" id="btnFat">
                          
                        </td>
                        <td>
                            <a th:href="@{/faturamentos/details/} + ${f.id}" class="btn grey darken-1 ">
                                <i class="material-icons">visibility</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        

    

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/faturamento/main.js"></script>

</body>

</html>
