<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Faturamentos</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/faturamento/list.css" />
</head>

<body id="corpoFat">

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Faturamento</h4><a class="modal-trigger" href="#modalConfiguracao"> <i
                        class="material-icons">build</i></a>
                <hr />
            </div>
        </div>

    </div>

    <div class="container" style="width: 100%">

        <div class="row">
            <div class="col m12 ">
                <a class="waves-effect green darken-3 btn modal-trigger right" href="#modalAdd" title="adicionar"><i
                        class="material-icons left">add</i>Faturamento</a>
            </div>
        </div>

        <!--          <div class="row"> -->
        <!--              <div class="col m12 right"> -->
        <!--                  <a type="submit" class="waves-effect blue darken-3 btn right" th:href="@{/faturamentos/gestao}" title="adicionar"><i class="material-icons left">work</i>Gestão</a> -->
        <!--              </div> -->
        <!--          </div> -->

        <ul class="collapsible popout" data-collapsible="expandable">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">search</i>Filtros
                </div>
                <div class="collapsible-body grey lighten-3">

                    <form th:action="@{/faturamentos/all}">

                        <input name="queryTrigger" th:hidden="hidden" type="text" value="true" />

                        <div class="row">

                            <section id="filters">
                                <div class="input-field col m2">
                                    <i class="material-icons prefix">search</i>
                                    <select name="campanha" class="select" id="select-campanha">
                                        <option th:selected="selected" th:value="null">Selecione</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                    </select>
                                    <label>Campanha</label>
                                </div>

                                <div class="input-field col m2">
                                    <i class="material-icons prefix">search</i>
                                    <select name="anoFiscal" class="select" id="select-ano-fiscal">
                                        <option th:selected="selected" th:value="null">Selecione</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                    </select>
                                    <label>Ano Fiscal</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="idProduto" id="selectProduto" class="select">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.nome}">
                                        </option>
                                    </select>
                                    <label>Produto</label>
                                </div>

                                <div class="input-field col m4">
                                    <select class="select" name="etapa" id="select-etapa">
                                        <option value="" th:selected="selected">Selecione</option>
                                    </select>
                                    <label>Etapa</label>
                                </div>

                                <div class="input-field col m3">
                                    <select class="select" name="estado" id="select-estado">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option th:each="e : ${estado}" th:value="${e.name()}"
                                            th:text="${e.displayName()}"></option>
                                    </select>
                                    <label>Estado</label>
                                </div>
                            </section>
                        </div>

                        <div class="row">
                            <div class="input-field col m4">
                                <i class="material-icons prefix">search</i>
                                <input name="razaoSocial" type="text" id="txt-pesq-cliente" />
                                <label for="txt-pesq-cliente">Pesquisar cliente</label>
                            </div>

                            <div class="input-field col m2">
                                <select class="select" name="tipoNegocio" id="tipoNegocio">
                                    <option value="" th:selected="selected">Selecione</option>
                                    <option th:value="NN">Novo Negócio</option>
                                    <option th:value="RR">Recorrência</option>
                                </select>
                                <label>Tipo de Negócio</label>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col m3">
                                <button type="submit" id="btn" class="waves-effect blue btn modal-trigger">
                                    <i class="material-icons left">search</i>Buscar
                                </button>
                            </div>

                        </div>

                    </form>

                </div>
            </li>
        </ul>

        <!--         <div class="col m2 left">
            <a id="modalStart" type="submit" class="waves-effect cyan darken-1 btn right" title="adicionar"><i class="material-icons left">folder_open</i>Liberar todos</a>
        </div>
        <div th:id="modal" class="modal bottom-sheet">
            <div class="modal-content">
                <div class="row">
                    <h4>Deseja mesmo liberar todos os faturamentos? <i class="material-icons right modal-close mouse-hand">close</i></h4>
                    <p th:text="'Você está liberando todos os faturamentos, deseja proseguir?'"></p>
                    <div>
                        <a th:href="@{/faturamentos/liberaTodos}" class="modal-action modal-close cyan darken btn right">Liberar Todos</a>
                    </div>
                </div>
            </div>
        </div> -->

        <table id="tabela-fat" class="responsive-table bordered striped">
            <thead>
                <tr>
                    <th>Razão Social</th>
                    <th>Tipo Negócio</th>
                    <th>Produto</th>
                    <th>Campanha</th>
                    <th>Apuração</th>
                    <th>Data</th>
                    <th>Versão</th>
                    <th>Etapa</th>
                    <th>Estado da Etapa</th>
                    <th>Valor</th>
                    <th>Detalhes</th>
                    <th>Alterar</th>
                    <th>Liberar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="f : ${faturamentos}" th:switch="${f.modo}" th:id="'lihha'+${f.id}">
                    <td id="razao" style="width: 17%;" th:text="${f?.cliente?.razaoSocial}"></td>
                    <td th:text="${f?.producao?.tipoDeNegocio}"></td>
                    <td th:text="${f?.produto?.nome}"></td>
                    <td th:text="${f?.campanha}"></td>
                    <td th:text="${f?.producao?.tipoDeApuracao}"></td>
                    <td th:text="${f?.dataParaFaturar}"></td>
                    <td th:if="${f?.consolidado == false}" th:text="${f?.balancete?.versao}"></td>
                    <td th:if="${f?.consolidado == true}" th:text="'Consolidado'"></td>
                    <td th:case="'Valor Fixo'" th:text="'VALOR FIXO'"></td>
                    <td th:case="*" th:text="${f?.etapa?.nome}"></td>
                    <td  style="width: 10%;" th:text="${f.estado}"></td>
                    <td  style="width: 9%;" class="money" th:text="${f.valorEtapa}"></td>
                    <td>
                         <a  class="btn tooltipped grey darken-1"  th:id ="${f.id}" onclick="detailsFaturamento(id)"
                            data-position="top" data-tooltip="Visualizer detalhes do faturamento">
                            <i class="material-icons">visibility</i>
                        </a>   
                    </td>
                   
                    <td>
                        <a class="btn light-blue darken-4"   th:id = "${f.id}"  onclick="updateFaturamento(id)"
                            data-position="top" data-tooltip="Alterar faturamentos">
                            <i class="material-icons">edit</i>
                        </a>
                    </td>
                    <td>
                        <a th:id="${f.id}" class="btn tooltipped teal lighten-2 modal-trigger btnLiberar"
                            href="#modalLiberarNF" data-position="top" data-tooltip="Liberar para emissão de NF">
                            <i class="material-icons">arrow_forward</i>
                        </a>
                    </td>
                    <td>
						<input name="currentFiltro" type="text" id="currentFiltro" hidden="hidden" /> 
                        <button type="button" class="btn modal-trigger btn tooltip red"
                            th:attr="data-target='modalD' + ${f.id}" id="btnRemover">
                            <i class="material-icons">delete</i>
                        </button>
				  <input name="currentParametros" type="text" id="currentParametros" hidden="hidden" />
                        <div th:id="modalD + ${f.id}" class="modal bottom-sheet">
                            <form th:action="@{/faturamentos/delete/} + ${f.id}" method="POST">
                            
                                <div class="modal-content">
                                 <input name="currentParam" type="text" id="currentParam" hidden="hidden"/>
                                    <h4>
                                        Deseja mesmo remover o faturamento? <i
                                            class="material-icons right modal-close mouse-hand">close</i>
                                    </h4>
                                    <p th:text="'Você está removendo um faturamento, este processo é irreversível.'">
                                    </p>
                                </div>
                                <div class="modal-footer">
                                 
                                    <button type="submit"
                                        class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Remover</button>
                                </div>
                            </form>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="modalAdd" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Cadastrar Faturamento</h4>
            <p style="font-size: 15px;">Selecione a ação desejada.</p>
        </div>
        <div class="modal-footer">
        	<a th:href="@{/faturamentos/formConsolidado}" class="waves-effect waves-light btn">Faturamento consolidado</a>
            <a th:href="@{/faturamentos/gerarValorFixo}" class="waves-effect waves-light btn">Gerar Valor Fixo</a>
            <a th:href="@{/faturamentos/form}" class="waves-effect waves-light btn">Faturamento Manual</a>
<!--             <a th:href="@{/faturamentos/formConsolidadoManual}" class="waves-effect waves-light btn">Faturamento Manual Consolidado</a> -->
        </div>
    </div>

    <div id="modalConfiguracao" class="modal">
        <div style="height: 350px" class="modal-content">
            <h4>Receptores de e-mail</h4>
            <div class="row">
                <div class="input-field col m12">
                    <select class="select" id="receptores" multiple="multiple" name="receptores" th:required="required">
                        <option th:each="r : ${receptores}" th:value="${r.id}" th:text="${r.nome}"
                            th:selected="selected"></option>
                        <option th:each="cr : ${consultoresRestantes}" th:value="${cr.id}" th:text="${cr.nome}">
                        </option>
                    </select>
                    <label>Colaborador</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a id="cadRec" class="btn waves-effect waves-green btn-flat">Salvar</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
        </div>
    </div>

    <div id="modalLiberarNF" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Revise as informações do Faturamento:</h4>
            <div class="row" id='corpoModalNF'>

                <input type="text" id='fatIdHolder' th:hidden="hidden" />

                <div class="row ">

                    <h5>Informações Gerais</h5>
                    <hr />

                    <b>Razão Social: </b>
                    <p style="display:inline" id='nfRazaoSocial'></p><br />
                    <b>CNPJ: </b>
                    <p style="display:inline" id='nfCnpj'></p><br />
                    <b>Razão Social a faturar: </b>
                    <p style="display:inline" id='nfRazaoSocialFaturar'></p><br />
                    <b>CNPJ a Faturar: </b>
                    <p style="display:inline" id='nfCnpjFaturar'></p><br />
                    <b>Produto: </b>
                    <p style="display:inline" id='nfProduto'></p><br />
                    <b>Valor Bruto: </b>
                    <p style="display:inline" id='nfValorEtapa'></p><br />

                </div>

                <div class="row ">
                    <h5>Informações Balancete</h5>
                    <hr />
                    <b>Apuração: </b>
                    <p style="display:inline" id='nfApuracao'></p><br />
                    <b>Versão: </b>
                    <p style="display:inline" id='nfVersao'></p><br />
                    <b>Dispêndio: </b>
                    <p style="display:inline" id='nfDispendio'></p><br />
                    <b>Redução: </b>
                    <p style="display:inline" id='nfReducao'></p><br />

                </div>

                <div th:id="divCompleta" class="row"></div>
                
                 <div id="corpoFatConsolidados"></div>
                                       

                <div class="row ">
                    <h5>Informações da Nota Fiscal</h5>
                    <hr />
                    <b>Forma de Pagamento: </b>
                    <p style="display:inline" id='nfFormaPagemento'></p><br />
                    <b>Etapa a faturar: </b>
                    <p style="display:inline" id='nfEtapaFaturar'></p><br />
                    <b>% da etapa: </b>
                    <p style="display:inline" id='nfPorcentEtapa'></p><br />
                    <b>Conclusão: </b>
                    <p style="display:inline" id='nfConclusao'></p><br />
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" onclick="fechaModal()" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
            <a id="releaseNF" class="btn waves-effect waves-green btn-flat">Liberar</a>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/faturamento/main.js"></script>

</body>

</html>