<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Atualizar Contato do Cliente</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../../css/cliente/form-cliente.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Atualizar Contato : <span th:text="${contatoCliente.nome}"></span></h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">

        <form th:action="@{/clientes/contatos/update}" method="POST">
            <div id="#form-contato-Clientes">
                <input id="idContato" name="id" th:value="${contatoCliente.id}" th:hidden="hidden" />
                <input id="clienteId" name="cliente.id" th:value="${contatoCliente.cliente.id}" th:hidden="hidden"/>
                
                <div class="row">
                    <div class="input-field col m3">
                        <input id="contato-nome" type="text" th:value="${contatoCliente.nome}" th:required="required" name="nome" />
                        <label for="contato-nome">Nome do contato</label>
                    </div>

                    <div class="input-field col m3">
                        <input id="contato-cargo" type="text" th:value="${contatoCliente.cargo}" th:required="required" name="cargo" />
                        <label for="contato-cargo">Cargo</label>
                    </div>
                    
                    </div>
                    
                    <div class="row">
                    
                    <div class="input-field col m3">
                        <input id="contato-email" type="text" th:value="${contatoCliente.email}" th:required="required" name="email" />
                        <label for="contato-email">@ E-mail</label>
                    </div>
                    
                    <div class="input-field col m2">
                        <input id="telefone1" type="text" th:value="${contatoCliente.telefone1}" th:required="required" name="telefone1" />
                        <label for="telefone">(DD) Telefone 1</label>
                    </div>
                    
                    <div class="input-field col m2">
                        <input id="telefone2" type="text" th:value="${contatoCliente.telefone2}" name="telefone2" />
                        <label for="telefone">(DD) Telefone 2</label>
                    </div>
                    
                </div>

                <div class="row">

                    <ul>
                        <li>
                            <input id="checkPessoaNfBoleto" name="pessoaNfBoleto" type="checkbox" th:checked="${contatoCliente.pessoaNfBoleto}" />
                            <label for="checkPessoaNfBoleto">Irá receber NF / Boleto</label>
                        </li>
                        <li>
                            <input id="checkReferenciaNovosContatos" name="referencia" type="checkbox" th:checked="${contatoCliente.referencia}" />
                            <label for="checkReferenciaNovosContatos">Referência para novos contatos</label>
                        </li>
                        <li>
                            <input id="checkPesquisaSatisfacao" type="checkbox" name="pesquisaSatisfacao" th:checked="${contatoCliente.pesquisaSatisfacao}" />
                            <label for="checkPesquisaSatisfacao">Participou da pesquisa de satisfação</label>
                        </li>
                    </ul>

                </div>

                <div class="row">
                    <div class="col m3">
                        <button type="submit" class="waves-effect light-blue darken-4 btn"><i class="material-icons left">edit</i>Atualizar</button>
                    </div>
                    <div class="col m9 right-align">
                        <a th:href="@{/clientes/} + ${contatoCliente.cliente.id}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script src="../../js/libs/jquery.mask.min.js"></script>
    <script src="../../js/cliente/contatocliente/contatocliente.js"></script>

</body>

</html>
