<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<title th:text="Detalhes + ' : ' +  ${cliente.razaoSocial}"></title>
<link th:include="fragments/header :: header-css" />
<link rel="stylesheet" href="../css/cliente/list.css" />
</head>

<body>

	<div th:include="fragments/header :: menu-lateral"></div>

	<div class="row">

		<div th:include="fragments/btnMenuLogout :: btns-default"></div>

		<div class="col m10">
			<div class="center">
				<!-- Título da página -->
				<h4 th:text="${cliente.razaoSocial}" class="green-text darken-4"></h4>
				<a th:href="@{/clientes/} + ${cliente.id}"> <i
					class="material-icons">edit</i>
				</a>
				<hr />
			</div>
		</div>

	</div>

	<div class="container">
		<div class="row ">
			<h5>Informações</h5>
			<table class="responsive-table table-default bordered">
				<thead>
					<tr>
						<th>RUT</th>
						<th>Site</th>
						<th>Score Comercial</th>
						<th>Setor Atividade</th>
						<th>Ativo</th>
					</tr>
				</thead>
				<tbody id="tbody-informacoes">
					<tr>
						<td id="cnpj" th:text="${cliente.rut}"></td>
						<td><a th:text="${cliente.site}" th:href="@{${cliente.site}}"
							th:target="_blank"></a></td>
						<td th:text="${cliente.score=='APlus'?'A+':cliente.score}"></td>
						<td th:text="${cliente.setorAtividade}"></td>
						<td><input type="checkbox" th:checked="${cliente.ativo}"
							disabled="disabled" /> <label for="test7"></label></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row">
			<h5>Endereço</h5>
			<table class="responsive-table table-default bordered">
				<thead>
					<tr>
					<th>CEP</th>
                     <th>Endereço</th>
                     <th>Nº</th>
                     <th>Bairro</th>
                     <th>Cidade</th>
                     <th>Estado</th>
                     <th>Tipo</th>
                     <th>Endereço NF</th>
					</tr>
				</thead>
				<tbody id="tbody-endereco">
					<tr th:each="e : ${enderecos}">
						<td th:text="${e.cep}"></td>
						<td th:text="${e.logradouro}"></td>
						<td th:text="${e.numero}"></td>
						<td th:text="${e.bairro}"></td>
						<td th:text="${e.cidade}"></td>
						<td th:text="${e.estado}"></td>
						<td th:text="${e.tipo}"></td>
						<td th:if="${e.enderecoNotaFiscalBoleto == true}" th:text="Sim"></td>
 			 			<td th:if="${e.enderecoNotaFiscalBoleto == false}" th:text="Não"></td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="row">
			<h5>Contatos</h5>
			<table class="responsive-table table-default bordered">
				<thead>
					<tr>
						<th th:hidden="hidden">#</th>
						<th>Nome</th>
						<th>@ E-mail</th>
						<th>Cargo</th>
						<th>N° Tel</th>
						<th>N° Cel</th>
						<th>NF/Boleto</th>
						<th>Referência</th>
						<th>Pesq. Satisfacação</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="tbody-contatos">
					<tr th:each="contato : ${contatos}">
						<td th:text="${contato.nome}"></td>
						<td th:text="${contato.email}"></td>
						<td th:text="${contato.cargo}"></td>
						<td th:text="${contato.telefone1}"></td>
						<td th:text="${contato.telefone2}"></td>
						<td><input type="checkbox"
							th:checked="${contato.pessoaNfBoleto}" disabled="disabled" /> <label
							for=""></label></td>
						<td><input type="checkbox" th:checked="${contato.referencia}"
							disabled="disabled" /> <label for=""></label></td>
						<td><input type="checkbox"
							th:checked="${contato.pesquisaSatisfacao}" disabled="disabled" />
							<label for=""></label></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row right-align">
			<div class="col m12 right-align">
				<a th:href="@{/clientesCL/all}" class="waves-effect tooltip"><i
					class="material-icons left">arrow_back</i>Voltar</a>
			</div>
		</div>
	</div>

	<div th:include="fragments/footer :: footer"></div>
	
	<script src="../js/libs/jquery.mask.min.js"></script>
	<script>
	$(function() {
		
		var cellText = $("#cnpj").html();
		cellText = cellText.replace(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/g,"\$1.\$2.\$3\/\$4\-\$5");
		$($("#cnpj")).html(cellText);
		
	});
	</script>

</body>

</html>
