<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Clientes</title>
    <link th:include="fragments/header :: header-css" />
    
    
    <style type="text/css">

 table {
	table-layout: auto;
}

td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container{
            width: 90%;
            max-width:initial;
            > .row{
                margin: 0;
                > .col{
                    padding: 0;
                }
            }
        }
  
</style>
    
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Clientes</h4>
                <hr/>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <section id="filters">
                <div class="input-field col m5">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="txt-pesq-cliente" />
                    <label for="txt-pesq-cliente">Pesquisar cliente</label>
                </div>
            </section>
            
            <div class="col m3 offset-m4">
                <a type="submit" class="waves-effect green btn right" th:href="@{/clientesCL/form}" title="adicionar"><i class="material-icons left">add</i>Cliente</a>
      
            </div>
        
        </div>
        <div id="middlecol" class="row">
        
            <table id="tabela-clientes" class="responsive-table tabela-cliente bordered">
                <thead>
                    <tr>
                        <th>Rut</th>
                        <th>Razón Social</th>
                        <th>Site</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${clientes}" class="cliente">
                        <td th:text="${cliente.rut}" class="rut"></td>
                        <td style='max-width: 300px;' id="#razaosocial" th:text="${cliente.razaoSocial}"></td>
                        <td style='max-width: 150px;'>
                            <a th:text="${cliente.site}" th:href="@{${cliente.site}}" th:target="_blank"></a>
                        </td>
                        <td>
                            <a th:href="@{/clientesCL/} + ${cliente.id}" type="submit" class="btn light-blue darken-4">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/clientesCL/details/} + ${cliente.id}" class="btn grey darken-1 ">
                                <i class="material-icons">visibility</i>
                            </a>
                        </td>
                       
                       <!-- AQUI O CÓDIGO  -->
                       
                        <td sec:authorize="hasRole('ROLE_ADMIN')">

                            <button type="button" class="btn modal-trigger tooltip red" th:attr="data-target='modal' + ${cliente.id}" id="btnRemover"><i class="material-icons">delete</i></button>

                            <form th:action="@{/clientes/delete/} + ${cliente.id}" method="POST">
                                <div th:id="modal + ${cliente.id}" class="modal bottom-sheet">
                                    <div class="modal-content">
                                        <h4>Deseja mesmo remover o cliente ? <i class="material-icons right modal-close mouse-hand">close</i></h4>
                                        <p th:text="'Você está removendo ' + ${cliente.razaoSocial} +', este processo é irreversível'"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Remover</button>
                                    </div>
                                </div>
                            </form>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/cliente/chile/list.js"></script>

</body>

</html>
