<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

<meta charset="UTF-8" />
<title>Atualizar Cliente</title>
<link th:include="fragments/header :: header-css" />
<link rel="stylesheet" href="../css/cliente/form-cliente.css" />

</head>

<body>

	<div th:include="fragments/header :: menu-lateral"></div>

	<div class="row">

		<div th:include="fragments/btnMenuLogout :: btns-default"></div>

		<div class="col m10">
			<div class="center">
				<!-- Título da página -->
				<h4 th:text="${cliente.razaoSocial}"></h4>

				<hr />
			</div>
		</div>
	</div>

	<div class="container">

		<form action="/clientesCL/update" method="POST">

			<div class="row">

				<input id="ativo" type="checkbox" name="ativo"
					th:checked="${cliente.ativo}" th:hidden="hidden" />

				<div class="input-field col m4">
					<input id="idcliente" type="number" class="tooltip"
						th:value="${cliente.id}" name="id" th:hidden="hidden" /> <input
						maxlength="9" id="rut" type="text" class="tooltip"
						th:value="${cliente.rut}" th:required="required" name="rut" /> <label
						for="rut">RUT</label>
				</div>

				<div class="input-field col m8">
					<input id="nome" type="text" th:required="required"
						th:value="${cliente.razaoSocial}" name="razaoSocial" /> <label
						for="nome">Razão Social</label>
				</div>

			</div>

			<div class="row">

				<div class="input-field col m4">
					<input id="site" type="text" th:value="${cliente.site}" name="site" />
					<label for="site">Site</label>
				</div>

				<div class="input-field col m4">
					<input id="grupoEconomico" th:value="${cliente.grupoEconomico}"
						type="text" name="grupoEconomico" /> <label for="grupoEconomico">Grupo
						Econômico</label>
				</div>

				<div class="input-field col m2">
					<select name="categoria" id="select-categoria" class="select">
						<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
						<option th:each="ca : ${categoria}" th:value="${ca.name()}"
							th:text="${ca.displayName()}"
							th:selected="(${cliente.categoria == ca.name()})"></option>
					</select> <label>Categoria</label>
				</div>

				<i class="material-icons small tooltipped" data-position="bottom">priority_high</i>

			</div>

			<div class="row">

				<div class="input-field col m4">
					<select name="setorAtividade" id="select-setorAtividade"
						class="select" th:required="required">
						<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
						<option th:each="sa : ${setorAtividade}" th:value="${sa.name()}"
							th:text="${sa.displayName()}"
							th:selected="(${cliente?.setorAtividade?.name() == sa.name()})"></option>
					</select> <label>Setor de Atividade</label>
				</div>
				
				<div class="input-field col m2">
					<select name="score" id="select-score" class="select" th:required="required">
						<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
						<option th:each="sc : ${score}" th:value="${sc.name()}"
							th:text="${sc.displayName()}"
							th:selected="(${cliente.score == sc.name()})"></option>
					</select> <label>Score Comercial</label>
				</div>
				
			</div>

			<div class="row">
				<div class="col m3">
					<button type="submit" id="btn-att-cliente"
						class="waves-effect light-blue darken-4 btn">
						<i class="material-icons left">edit</i>Atualizar
					</button>
				</div>
				<div class="col m9 right-align">
					<a th:href="@{/clientesCL/all}" class="waves-effect tooltip"><i
						class="material-icons left">arrow_back</i>Voltar</a>
				</div>
			</div>

		</form>

		<hr />
		<h5>Endereços</h5>

		<div class="col m3 offset-m4">
			<a type="submit" class="waves-effect green btn right"
				th:href="@{/clientes/enderecoform/} + ${cliente.id}"
				title="adicionar"><i class="material-icons left">add</i>Endereço</a>
		</div>

		<table id="tabela-enderecos"
			class="responsive-table table-default bordered">
			<thead>
				<tr>
					<th th:hidden="hidden">#</th>
					<th>CEP</th>
					<th>Endereço</th>
					<th>Nº</th>
					<th>Bairro</th>
					<th>Cidade</th>
					<th>Estado</th>
					<th>Tipo</th>
					<th>Nota Fiscal?</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="tbody-planta">
				<tr th:each="e : ${enderecos}">
					<td th:text="${e.cep}"></td>
					<td th:text="${e.logradouro}"></td>
					<td th:text="${e.numero}"></td>
					<td th:text="${e.bairro}"></td>
					<td th:text="${e.cidade}"></td>
					<td th:text="${e.estado}"></td>
					<td th:text="${e.tipo}"></td>
					<td th:if="${e.enderecoNotaFiscalBoleto == true}" th:text="Sim"></td>
					<td th:if="${e.enderecoNotaFiscalBoleto == false}" th:text="Não"></td>
					<td><a th:href="@{/clientes/updateEndereco/} + ${e.id}"
						class="btn light-blue darken-4"> <i class="material-icons">edit</i></a></td>
					<td><a th:href="@{/clientes/deleteEndereco/} + ${e.id}"
						class="btn red"> <i class="material-icons">delete</i></a></td>
				</tr>
			</tbody>
		</table>

		<br />

		<hr />
		<h5>Contatos</h5>

		<div class="row">
			<div class="col m5">
				<a id="tabela-contato-cliente" class="mouse-hand"> Exibir
					contatos</a> <a id="tabela-contato-cliente-hidden" class="mouse-hand">
					Ocultar contatos</a>
			</div>
		</div>

		<table id="tabela-contatos"
			class="responsive-table table-default bordered">
			<thead>
				<tr>
					<th th:hidden="hidden">#</th>
					<th>Nome</th>
					<th>@ E-mail</th>
					<th>Cargo</th>
					<th>N° Tel</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="tbody-contatos">
				<tr th:each="c : ${contatos}">
					<td th:text="${c.nome}"></td>
					<td th:text="${c.email}"></td>
					<td th:text="${c.cargo}"></td>
					<td th:text="${c.telefone1}"></td>
					<td><a th:href="@{/clientes/contatos/} + ${c.id}"
						class="btn light-blue darken-4"> <i class="material-icons">edit</i></a></td>
					<td><a th:href="@{/clientes/deleteContato/} + ${c.id}"
						class="btn red"><i class="material-icons">delete</i></a></td>
				</tr>
			</tbody>
		</table>

		<section id="contato-cliente">

			<hr />
			<h5>Adicionar Contato</h5>

			<div id="#form-contato-cliente">
				<input id="cnpj" name="cnpj" th:value="${cliente.cnpj}"
					th:hidden="hidden" /> <input id="clienteId" name="cliente.id"
					th:value="${cliente.id}" th:hidden="hidden" />

				<div class="row">
					<div class="input-field col m3">
						<input id="contato-nome" type="text" th:required="required"
							name="nome" /> <label for="contato-nome">Nome do contato</label>
					</div>

					<div class="input-field col m3">
						<input id="contato-cargo" type="text" th:required="required"
							name="cargo" /> <label for="contato-cargo">Cargo</label>
					</div>

				</div>

				<div class="row">

					<div class="input-field col m3">
						<input id="contato-email" type="text" th:required="required"
							name="email" /> <label for="contato-email">@ E-mail</label>
					</div>

					<div class="input-field col m2">
						<input id="telefone1" type="text" th:required="required"
							name="telefone1" /> <label for="telefone">(DD) Telefone
							1</label>
					</div>

					<div class="input-field col m2">
						<input id="telefone2" type="text" th:required="required"
							name="telefone2" /> <label for="telefone">(DD) Telefone
							2</label>
					</div>

				</div>

				<div class="row">
					<ul>
						<li><input id="checkPessoaNfBoleto" type="checkbox" /> <label
							for="checkPessoaNfBoleto">Irá receber NF / Boleto</label></li>
						<li><input id="checkReferenciaNovosContatos" type="checkbox" />
							<label for="checkReferenciaNovosContatos">Referência para
								novos contatos</label></li>
						<li><input id="checkPesquisaSatisfacao" type="checkbox" /> <label
							for="checkPesquisaSatisfacao">Participou da pesquisa de
								satisfação</label></li>
					</ul>
				</div>

				<div class="row">
					<div class="col m3">
						<button id="btn-cad-contato-cliente"
							class="waves-effect green btn">
							<i class="material-icons left">add</i>Adicionar
						</button>
					</div>
				</div>
			</div>
		</section>

		<div class="row">
			<div class="col m5">
				<a id="add-contato-cliente" class="mouse-hand">+ Adicionar
					contato à</a>
			</div>
		</div>

	</div>

	<div id="modalContatocliente" class="modal">
		<div class="modal-content">
			<h4 id="nomeContatoModal">Nome do contato vai aqui</h4>
			<p id="emailContatoModal"></p>
			<p id="cargoContatoModal"></p>
			<p id="Telefone1"></p>
			<p id="Telefone2"></p>
			<p id="nfBoletoContatoModal"></p>
			<p id="referenciaContatoModal"></p>
			<p id="pesquisaSatisfacaoContatoModal"></p>
		</div>
		<div class="modal-footer">
			<a id="fecharModalContato"
				class=" modal-action modal-close waves-effect btn-flat"><i
				class="material-icons left">close</i>Fechar</a>
		</div>
	</div>

	<div th:include="fragments/footer :: footer"></div>

	<script src="../js/libs/jquery.mask.min.js"></script>
	<script src="../js/libs/urlShortener.js"></script>
	<script src="../js/cliente/buscaCEP.js"></script>
	<script src="../js/cliente/chile/form.js"></script>
	<script src="../js/cliente/contatocliente/contatocliente.js"></script>
	<script src="../js/cliente/contatocliente/enderecocliente.js"></script>

</body>

</html>
