.area-login {
    vertical-align: middle;
}

.logo-fi-login {
    float: left;
    vertical-align: middle;
}

.button-collapse {
    margin-top: 20px;
    margin-left: 15px;
    vertical-align: middle;
}

canvas {
    display: block;
}

.mouse-hand:hover {
    cursor: pointer;
}

.table-default {
    font-size: 12px;
}

html {
    font-family: 'Oxygen', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-size: 12.5px;
}

.body{
	background-color: #e0e0e0;
}


