#face{
	background-color: #3B5998;
	height: 45px;
	width: 175px;
}

#faceImg {
	with: 30px;
	height: 30px;
	position: relative;
	bottom: 17px;
	right: 10px;
}

#spanFace {
    text-align: center;
    position: relative;
    bottom: 23px;
    left: 10px;
}

td {
	padding-top: 5px;
}

i{
	height:20px;
	width: 20px;
}

#icone{
	height:200px;
}

#linkA{
	top: 31px;
}

#card-azul{
	padding-top: 15px;
}

.container {
	margin: 0 auto;
	max-width: 1000px;
  	width: 90%;
}

#cartaoBranco {
	padding-top: 4px;
	padding-left: 10px;
}

table{
	border-collapse: collapse;
	position: absolute;
	width: 450px;
	table-layout: fixed;
}

#ano{position: absolute;}

thead{
  display: block;
}

#nome_cliente {
    color: #3B97CF;
    cursor: pointer;
}


tbody {
	display: block;
	height: 225px;
	overflow: auto;
	font-size: 13px;
}

#in {
	background-color: #04689A;
	height: 45px;
	width: 175px;
	position: relative;
	right: 66px;
	top: 50px;
}

#inImg {
	with: 30px;
	height: 30px;
	position: relative;
	bottom: 15px;
	right: 8px;
}

#spanIn {
    text-align: center;
    position: relative;
    bottom: 23px;
    left: 10px;
}

#fi {
	position: relative;
	width: 130x;
	height: 85px;
}

#somar {
	position: relative;
	top: 20px;
}

#negativo {
  overflow: hidden;
}
#negativo:hover:before {
  opacity:1;
}

#negativo:before {
    content: '';
    opacity: 0;
    background-color: #e57373;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}

.indicadores{
	color: white;
}

.filho{
	color: white;
}

.corpo {
	padding-top: 15px;
	padding-left: 60px;
}

.etapa {
	width: 30%;
	height: auto;
	max-height: 120px;
	display: inline-block;
	position: relative;
	padding: 20px;
}

.indicador{
  position:absolute;
  bottom: 33px;
  font-size: 16px; 
  color: #ffffff;  
  display: inline-block
}

.indicadorPercentSim {
  position:absolute;
  bottom: 33px;
  font-size: 16px; 
  color: #ffffff;  
  display: inline-block;
  left: 90px;
  right: 0px;
  max-width: 10px;
}

.indicadorPercentNao {
  position:absolute;
  bottom: 33px;
  font-size: 16px; 
  color: #ffffff;  
  display: inline-block;
  left: 200px;
  right: 0px;
  max-width: 10px;
}

.cartao {
	overflow: hidden; 
    text-align: center;
}