.icone {
   position: absolute;
    top: 47%;
    left: 40%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    display: block;
    font-size: 4rem !important;
}