<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Cadastrar Item da Tarefa</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/produto/tarefas.css}" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Tarefa</h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <form th:action="@{/tarefas/add}" method="POST" autocomplete='off'>

            <div class="row">

                <div class="input-field col m4">
                    <input id="nomeTarefa" type="text" class="tooltip" th:required="required" name="nome" />
                    <label for="nomeTarefa">Nome da Tarefa</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col m8">
                    <textarea id="descricaoTarefa" name="descricao" th:required="required" class="materialize-textarea"></textarea>
                    <label for="descricaoTarefa">Descrição da tarefa</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col m12">
                    <select id="itensTarefa" multiple="multiple" name="itensTarefa" th:required="required">
	                	<option value="" th:disabled="disabled" 
	             			th:selected="selected" >Selecione os itens desta tarefa</option>
	                   <option th:each="itarefa : ${itensTarefa}"
	                    	th:value="${itarefa.id}"
	                    	th:text="${itarefa.id} + ' - ' + ${itarefa.nome} + ' - Tipo : ' + ${itarefa.tipo}"></option>
	                </select>
                    <label>Itens da Tarefa</label>
                </div>
            </div>
            
        <div class="row">
            <ul id="tabs-swipe-demo" class="tabs">
    			<li class="tab col s1"><a class="aba tooltipped" data-position="top" data-tooltip="Texto" href="#texto"><i class="material-icons icone">text_fields</i></a></li>
    			<li class="tab col s1"><a class="aba tooltipped" data-position="top" data-tooltip="Monetário" href="#money"><i class="material-icons icone">attach_money</i></a></li>
    			<li class="tab col s1"><a class="aba tooltipped" data-position="top" data-tooltip="Porcentagem" href="#percent"><i class="material-icons icone">adjust</i></a></li>
    			<li class="tab col s1"><a class="aba tooltipped" data-position="top" data-tooltip="Data" href="#data"><i class="material-icons icone">date_range</i></a></li>
    			<li class="tab col s1"><a class="aba tooltipped" data-position="top" data-tooltip="Check S/N" href="#check"><i class="material-icons icone">check_box</i></a></li>
    			<li class="tab col s1"><a class="aba tooltipped" data-position="top" data-tooltip="Lista de Valores" href="#listaVal"><i class="material-icons icone">format_list_bulleted</i></a></li>
    			<li class="tab col s1"><a class="aba tooltipped" data-position="top" data-tooltip="Lista de Consultores" href="#listaCons"><i class="material-icons icone">contacts</i></a></li>
    			<li class="tab col s1"><a class="aba tooltipped" data-position="top" data-tooltip="Texto Longo" href="#textoLong"><i class="material-icons icone">format_align_left</i></a></li>
  			</ul>
		  		<div id="texto" style="overflow:auto;" class="col s12 grey lighten-5 z-depth-1">
		  		<div id="txtLft" class="col s6" style="float:left; max-width: 48%;"></div>
		  		<div id="txtRgt" class="col s6" style="float:left; max-width: 48%;"></div>
		  		</div>
		  		<div id="money" style="overflow:auto;" class="col s12 grey lighten-5 z-depth-1">
		  		<div id="mnyLft" class="col s6" style="float:left; max-width: 48%;"></div>
		  		<div id="mnyRgt" class="col s6" style="float:left; max-width: 48%;"></div>
		  		</div>
		  		<div id="percent" style="overflow:auto;" class="col s12 grey lighten-5 z-depth-1">
		  		<div id="pctLft" class="col s6" style="float:left; max-width: 48%;"></div>
		  		<div id="pctRgt" class="col s6" style="float:left; max-width: 48%;"></div>
		  		</div>
		  		<div id="data" style="overflow:auto;" class="col s12 grey lighten-5 z-depth-1">
		  		<div id="dataLft" class="col s6" style="float:left; max-width: 48%;"></div>
		  		<div id="dataRgt" class="col s6" style="float:left; max-width: 48%;"></div>
		  		</div>
		  		<div id="check" style="overflow:auto;" class="col s12 grey lighten-5 z-depth-1">
		  		<div id="chkLft" class="col s6" style="float:left; max-width: 48%;"></div>
		  		<div id="chkRgt" class="col s6" style="float:left; max-width: 48%;"></div>
		  		</div>
		  		<div id="listaVal" style="overflow:auto;" class="col s12 grey lighten-5 z-depth-1">
		  		<div id="lstLft" class="col s6" style="float:left; max-width: 48%;"></div>
		  		<div id="lstRgt" class="col s6" style="float:left; max-width: 48%;"></div>
		  		</div>
		  		<div id="listaCons" style="overflow:auto;" class="col s12 grey lighten-5 z-depth-1">
		  		<div id="lstCLft" class="col s6" style="float:left; max-width: 48%;"></div>
		  		<div id="lstCRgt" class="col s6" style="float:left; max-width: 48%;"></div>
		  		</div>
		  		<div id="textoLong" style="overflow:auto;" class="col s12 grey lighten-5 z-depth-1">
		  		<div id="txtLLft" class="col s6" style="float:left; max-width: 48%;"></div>
		  		<div id="txtLRgt" class="col s6" style="float:left; max-width: 48%;"></div>
		  		</div>
        </div>
        
        <div class="row">
                <div class="col m6">
                    <button type="submit" class="waves-effect green btn tooltip" id="btnAddTarefa">
		                  <i class="material-icons left">add</i>Adicionar
		             </button>
                </div>
                <div class="col m6 right-align">
                    <a href="/etapasTrabalho/form" class="waves-effect yellow-text black btn tooltip" id="btnAddEtapaTrabalho">
                        <i class="material-icons left">add</i>Etapa de trabalho
                    </a>
                </div>
            </div>
        
         </form>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script src="../js/tarefa/main.js"></script>

</body>

</html>
