<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Cadastrar Item da Tarefa</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Tarefa</h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <form th:action="@{/tarefas/add}" method="POST" autocomplete='off'>

            <div class="row">

                <div class="input-field col m4">
                    <input id="nomeTarefa" type="text" class="tooltip" th:required="required" name="nome" />
                    <label for="nomeTarefa">Nome da Tarefa</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col m8">
                    <textarea id="descricaoTarefa" name="descricao" th:required="required" class="materialize-textarea"></textarea>
                    <label for="descricaoTarefa">Descrição da tarefa</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col m12">
                    <select id="itensTarefa" multiple="multiple" name="itensTarefa" th:required="required">
	                	<option value="" 
	             			th:selected="selected" >Selecione os itens desta tarefa</option>
	                   <option th:each="itarefa : ${itensTarefa}"
	                    	th:value="${itarefa.id}"
	                    	th:text="${itarefa.id} + ' - ' + ${itarefa.nome} + ' - Tipo : ' + ${itarefa.tipo}"></option>
	                </select>
                    <label>Itens da Tarefa</label>
                </div>
            </div>

            <div class="row">
                <div class="col m6">
                    <button type="submit" class="waves-effect green btn tooltip" id="btnAddTarefa">
		                  <i class="material-icons left">add</i>Adicionar
		             </button>
                </div>
                <div class="col m6 right-align">
                    <a href="/etapasTrabalho/form" class="waves-effect yellow-text black btn tooltip" id="btnAddEtapaTrabalho">
                        <i class="material-icons left">add</i>Etapa de trabalho
                    </a>
                </div>
            </div>

        </form>

        <div class="row">
            <div class="col m12 right-align">
                <a href="/itensTarefas/form" class="waves-effect yellow-text black btn tooltip" id="btnAddItensTarefa">
                    <i class="material-icons left">add</i>Itens da tarefa
                </a>
            </div>
        </div>

    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/tarefa/main.js"></script>

</body>

</html>
