<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Atualizar Tarefa</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4 th:text="'Atualizar tarefa : ' + ${tarefa.nome}"></h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <form th:action="@{/tarefas/update}" method="POST">
        
        	<input type="text" name="produto" id="produto" th:value="${produto.id}" th:hidden="hidden"/>

            <!-- Referência do Id para atualização -->
            <input type="text" th:hidden="hidden" name="id" th:value="${tarefa.id}" />
            <input type="text" th:hidden="hidden" name="idEtapa" th:value="${etapaId}" />

            <div class="row">

                <div class="input-field col m4">
                    <input id="nomeTarefa" type="text" th:value="${tarefa.nome}" class="tooltip" th:required="required" name="nome" />
                    <label for="nomeTarefa">Nome da Tarefa</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col m8">
                    <textarea id="descricaoTarefa" name="descricao" th:text="${tarefa.descricao}" th:required="required" class="materialize-textarea"></textarea>
                    <label for="descricaoTarefa">Descrição da tarefa</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col m12">
                    <select id="itensTarefa" multiple="multiple" name="itensTarefa" th:required="required">
	                	<option value="" th:disabled="disabled" 
	             			th:selected="selected" >Selecione os itens desta tarefa</option>
	                    <option th:each="itarefa : ${tarefa.itensTarefa}"
	                    	th:value="${itarefa.id}"
	                    	th:text="${itarefa.id} + ' - ' + ${itarefa.nome} + ' - Tipo : ' + ${itarefa.tipo}"
	                    	th:selected="selected"></option>
	                                                           <option th:each="itarefa : ${itensTarefasRestantes}"
	                    	th:value="${itarefa.id}"
	                    	th:text="${itarefa.id} + ' - ' + ${itarefa.nome} + ' - Tipo : ' + ${itarefa.tipo}"></option>                    	
	                </select>
                    <label>Itens da Tarefa</label>
                </div>
            </div>

            <div class="row">
                <div class="col m6">
                    <button type="submit" class="waves-effect light-blue darken-4 btn tooltip" id="btnAddTarefa">
		                  <i class="material-icons left">add</i>Atualizar
		             </button>
                </div>
                <div class="col m10 right-align">
                    <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>

        </form>

    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script>
    $("#itensTarefa").material_select();
    </script>

</body>

</html>
