<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <div th:include="fragments/header :: header-css"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
</head>

<body>
    <div id="corpo">
        <div th:include="fragments/header :: menu-lateral"></div>

        <div class="row">

            <div th:include="fragments/btnMenuLogout :: btns-default"></div>

            <div class="col m10">
                <div class="center">
                    <img id="fi" th:src="@{../../img/logo.png}" />
                    <hr />
                </div>
            </div>
        </div>

        <div class="container">

            <div style="margin: 1px;" class="row">

                <input type="text" id="consultorId" th:value="${consultor.id}" th:hidden="hidden" />
                <input type="text" id="primeiroLogin" th:value="${primeiroLogin}" th:hidden="hidden" />

                <span id="span" class="black-text"><b>Meu seguimento</b></span>

                <div id="card-azul" style="height: 340px; width: 1010px;" class="card-panel blue darken-4 z-depth-5">

                    <div class="col s6 m6">
                        <div id="cartaoBranco" style="height: 290px; width: 470px;" class=" card-panel  grey lighten-4 z-depth-5">


                                <table id="tabela-seguimento" class="responsive-table bordered">

                                    <thead>
                                        <tr>
                                            <th th:hidden="hidden">#</th>
                                            <th>Cliente</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="c : ${producoes}" id="clientes">
                                            <td th:hidden="hidden" th:text="${c?.cliente?.id}"></td>
                                            <td style="width: 40%; font-size: 80%;"><span th:onclick="'mostraDetalhes(\'' + ${c.id} + '\');'" id="nome_cliente" th:text="${c?.cliente?.razaoSocial}"></span></td>
                                            <td th:text="${c.ano}"></td>
                                            <td style="width: 20%; font-size: 80%;" th:text="${c.situacao}"></td>
                                            <td style="font-size: 80%;" th:text="${c?.contrato?.produto?.nome}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                               <!-- <div style="bottom: 15px;" class="input-field col right m2">
                                    <select class="select" id="select-tipoDeNegocio" style="left: 100px;">
                                        <option th:selected="selected" value="">NN</option>
                                        <option value="NN">NN</option>
                                        <option value="RR">RR</option>
                                    </select> 
                                </div>-->

                                <div style="bottom: 15px;" class="input-field col right m2">
                                    <select class="select" id="combo-box" style="left: 100px;">
                                        <option th:selected="selected" value="2022">2022</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                    </select>
                                </div>
							
							<!-- 
                            </div>
                             -->
                            
                        </div>
                    </div>

                    <div class="col s10 m6">
                        <div id="cartaoBranco2" style="height: 125px; width: 460px; padding-bottom: 2px; margin-bottom: 2px" class="col card-panel  grey lighten-4 z-depth-5">

                            <div class="row" id="informacoes">
                                <div id="tabs-aqui" style="padding-left: 0px; padding-right: 0px;" class="col s12"></div>
                            </div>
                        </div>

                        <div id="cartaoBranco3" style="height: 155px; width: 460px; overflow:auto" class="col card-panel  grey lighten-4 z-depth-5">

                            <div class="row" style="height: 100%; float:left;" id="pontoSituacao">
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <div class="row">
			
                <div class="col s12 m2">
                    <div id="rels" class="card-panel teal lighten-2 z-depth-3">
                        <span class="white-text">Ativos: <b id="countAtivos">0</b></span>
                    </div>
                </div>

                <div class="col s12 m2">
                    <div class="card-panel teal lighten-2 z-depth-3">
                        <span class="white-text">Inativos: <b id="countInativos">0</b></span>
                    </div>
                </div>
                
                <div class="col s12 m2">
                    <div class="card-panel teal lighten-2 z-depth-3">
                        <span class="white-text">Negociação: <b id="countNegociacoes">0</b></span>
                    </div>
                </div>

                <div class="col s12 m3">
                    <div  class="card-panel teal lighten-2 z-depth-3">
                        <span class="white-text">Previsão Ativos: <b id="countPAtivos">0</b></span>
                    </div>
                </div>

                <div class="col s12 m3">
                    <div class="card-panel teal lighten-2 z-depth-3">
                        <span class="white-text">Previsão Inativos: <b id="countPInativos">0</b></span>
                    </div>
                </div>
                
            </div>

            <span id="span" class="black-text"><b>Indicadores</b></span>
            <div id="indicadores" class="row">

                <ul id="produtos" class="collapsible">
                    <li id="list" th:each="p : ${produtos}">
                        <div class="collapsible-header blue darken-3 z-depth-3"><i class="material-icons indicadores">equalizer</i><span class="filho" th:text="${p.nome}"></span></div>
                        <div th:id="${p.id}" class="corpo collapsible-body z-depth-4">

                            <a id="prodBtn" type="submit" class="waves-effect teal lighten-2 btn" th:href="@{/producoes/all}" title="adicionar"><i class="material-icons left">group_work</i>Produções</a>
                            <a id="psBtn" type="submit" class="waves-effect teal lighten-2 btn" th:href="@{/pontoSituacao/}+${p.id}" title="adicionar"><i class="material-icons left">layers</i>Ponto Situação</a>
                            
                            <div class="row">
							 </div>
                            
                            <hr id="divisor"/>

                        </div>
                    </li>
                </ul>

            </div>

            <div class="row">

                <div class="row">
                    <div class="col s12 m12">
                        <div id="update" class="card-panel blue darken-1 z-depth-3">
                            <span class="white-text">Versão: V<span th:text="${versao.versao}"></span> - Última atualização do sistema: <span th:text="${versao.data}"></span></span>
						</div>
					</div>
				</div>

			</div>

			<!-- Tap Target Structure -->
			<div class="tap-target" data-target="menu">
				<div class="tap-target-content">
					<h5>Title</h5>
					<p>A bunch of text</p>
				</div>
			</div>
	
		</div>
		
<div class="row section">
		    <div class="col">
		    </div>
		</div>
		<!-- Modal Structure -->
		<div id="modalAviso" class="modal">
		    <div class="modal-content">
		     <div class="row" id="pagina1">
		     <img id="fi" th:src="@{../../img/figroup.png}" />
		        <p style="font-size: 22px; text-align: justify;">Seja bem-vindo ao FSEWeb <b th:text="${consultor.nome}"></b>!</p>
				<p style="font-size: 15px; text-align: justify;">Estamos contentes em ter você aqui. Com essa nova ferramenta podemos ir além do comum.<br/> Esse ambiente é direcionado a organização e gerenciamento das etapas de trabalho de <b>todos os produtos.</b></p>
				<p style="font-size: 15px; text-align: justify;">A FI-Tech estudou e desenvolveu uma solução tecnológica de ponta, para facilitar o dia a dia de todos nós, ajustando-se às nossas necessidades e de nossos clientes.</p>
				<p style="font-size: 15px; text-align: justify;">O FSEWeb permite a customização dos seguimentos (agora chamados de "Produção") dos produtos em tempo real, incluindo ou removendo tarefas e seus itens a qualquer momento da campanha, além de possibilitar a inclusão de novos produtos com facilidade.</p>
				<p style="font-size: 15px; text-align: justify;">Contamos com você para melhorarmos a ferramenta cada vez mais, em caso de sugestões e/ou problemas, utilize o ícone demostrado abaixo para nos informar!</p>
				<p style="font-size: 17px; text-align: justify;">Atenciosamente, <b>FI-Tech Brasil.</b></p>
			<img style="max-width: 100%; max-height: 100%" id="bugReport" th:src="@{../../img/bugReport.gif}" />
		    <br/>
		        </div>	
		        <div class="row right">   
		       <!-- <a id="proximo1" class="waves-effect waves-light btn right"><i class=" large material-icons right">arrow_forward</i>Proximo</a> -->
		       <a id="fechar" class="modal-close waves-effect waves-light btn"><i class="material-icons left">close</i>Fechar</a>
		        </div>	
		        <br/>
		    <div>
		        <div class="row" id="pagina2">
		        <img id="fi" th:src="@{../../img/twitter.png}" />
		        Para abrir o menu clique aqui.
		        </div>
		        <div class="row right"> 
		        <a id="anterior2" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Anterior</a>
		        <a id="proximo2" style="margin-right: 5px;" class="waves-effect waves-light btn"><i class="material-icons right">arrow_forward</i>Proximo</a>
		        </div>
		        <br/>
		    </div>  
		    <div>
		    	<div class="row" id="pagina3">
		    	<img id="fi" th:src="@{../../img/bg.png}" />
		        Para abrir a produção clique aqui.
		        </div>
		        <div class="row right"> 
		     
		        <a id="anterior3" class="waves-effect waves-light btn "><i class="material-icons left">arrow_back</i>Anterior</a>
		        <!-- <a id="fechar" class="waves-effect waves-light btn"><i class="material-icons left">close</i>Fechar</a> -->
		        </div>
		        <br/>
		    </div>
		    </div>
		</div>

		<div th:include="fragments/footer :: footer"></div>
		<script th:src="@{/js/index.js}"></script>
	</div>

</body>

</html>
