<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<title>Contratos</title>
<link th:include="fragments/header :: header-css" />
<link rel="stylesheet" href="../css/filial/list.css" />
</head>

<body>

	<div th:include="fragments/header :: menu-lateral"></div>

	<div class="row">

		<div th:include="fragments/btnMenuLogout :: btns-default"></div>

		<div class="col m10">
			<div class="center">
				<!-- Título da página -->
				<h4>Contratos</h4>
				<hr />
			</div>
		</div>

	</div>

	<div class="container">
		<div class="row">
			<section id="filters">
				<div class="input-field col m5">
					<i class="material-icons prefix">search</i> <input type="text"
						id="txt-pesq-contratos" /> <label for="txt-pesq-filial">Pesquisar</label>
				</div>
			</section>
		</div>
		
		<div class="row">
            <div id="listContratos">
                <table class="striped responsive-table" id="tabela-contratos" style="margin-top: 50px">
                    <thead>
                        <tr>
                            <th th:hidden="hidden">#</th>
                            <th>Cliente</th>
                            <th>Produto</th>
                            <th>Início da Vigência</th>
                            <th>Comercial Responsável</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="c : ${contratos}" id="contrato">
                        	 <td id="nome" th:text="${c.cliente.razaoSocial}"></td>
                            <td id="nome" th:text="${c.produto.nome}"></td>
                            <td id="nome" th:text="${c.vigencia.inicioVigencia}"></td>
                            <td th:if="${c.vigencia.nome == 'Vigência Indeterminada'}" th:text="${c.vigencia.dataEncerramentoContrato}">Indeterminada</td>
                            <td th:if="${c.vigencia.nome.toString() == 'Vigência Determinada'}" th:text="${c.vigencia.fimVigencia}"></td>
                            <td id="nome" th:text="${c?.comercialResponsavelEfetivo?.nome}"></td>
                            <td>
                                <a th:href="@{/contratosCL/chile/} + ${c.id}" type="submit" class="btn light-blue darken-4">
                				<i class="material-icons">edit</i>
                				</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
	
	</div>
	<div th:include="fragments/footer :: footer"></div>

	<script th:src="@{/js/contrato/listContracts.js}"></script>

</body>

</html>
