<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<title>Contratos</title>
<link th:include="fragments/header :: header-css" />
<link rel="stylesheet" href="../css/filial/list.css" />
</head>

<body>

	<div th:include="fragments/header :: menu-lateral"></div>

	<div class="row">

		<div th:include="fragments/btnMenuLogout :: btns-default"></div>

		<div class="col m10">
			<div class="center">
				<!-- Título da página -->
				<h4>Contratos</h4>
				<hr />
			</div>
		</div>

	</div>

	<div class="container">
		<div class="row">
			<section id="filters">
				<div class="input-field col m5">
					<i class="material-icons prefix">search</i> <input type="text"
						id="txt-pesq-cliente" /> <label for="txt-pesq-filial">Pesquisar Cliente</label>
				</div>
			</section>
			<div class="col m3 offset-m4">
				<a type="submit" class="waves-effect green btn right"
					th:href="@{/contratosCO/form}" title="adicionar"><i
					class="material-icons left">add</i>Contrato</a>
			</div>
		</div>
		<div class="col m3 offset-m4">
				<a type="submit" class="waves-effect cyan darken-1 btn right"
					th:href="@{/contratosCO/listAll}" title="adicionar"><i
					class="material-icons left">folder_open</i>Todos</a>
			</div>
		
		<div class="row">
            <table id="tabela-clientes-contratos" class="responsive-table tabela-cliente bordered">
                <thead>
                   <tr>
							<th th:hidden="hidden">#</th> 
							<th>Cliente</th>
							<th>Contratos</th>
						</tr>
                </thead>
                <tbody>
                  <tr th:each="c : ${clientes}" class="cliente">
						<td id="nome" th:text="${c.razaoSocial}"></td>
						<td><a th:href="@{/contratosCO/clienteCO/} + ${c.id}" class="btn grey darken-1 "> 
						<i class="material-icons">visibility</i>
						</a></td>
					</tr>
                </tbody>
            </table>
        </div>
	
	<div th:include="fragments/footer :: footer"></div>
	<script th:src="@{/js/contrato/list.js}"></script>
	</div>
</body>

</html>
