<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Ponto Situação</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">

            <div class="center">
                <!-- Título da página -->
                <h4>Relatórios</h4>
                <hr />
            </div>
        </div>
    </div>
    
    <div class="container">

        <div class="row">
            <div class="col s12 m12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Ponto Situação</span>
                        <p>O Ponto Situação é separado por Produto.</p>
                        <p>Para começar, selecione o produto desejado:</p>
                    </div>
                    <div class="card-action" th:each="p : ${produtos}">
                        <a th:if="${p.id==23}" th:href="@{/pontoSituacao/lb}" th:text="${p.nome}"></a>   
                        <a th:if="${p.id!=23}" th:href="@{/pontoSituacao/} + ${p.id}" th:text="${p.nome}"></a>
                    </div>
                </div>
            </div>
        </div>
        
        </div>
        
    <div th:include="fragments/footer :: footer"></div>

</body>

</html>
