<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Ponto Situação</title>
    <link th:include="fragments/header :: header-css" />

</head>

<style>
    .cliente {
        overflow: hidden;
        white-space: nowrap;
    }

    .indicador {
        text-align: center;
        vertical-align: middle;
        align-items: center;
        align-content: center;
        width: 7.1%;
        max-width: 7.1%;
        min-width: 7.1%;
        border-right: solid 1px #CFCFCF;
        border-left: solid 1px #CFCFCF;
        color: white;
        font-size: 16px;
    }

    div {
        text-align: center;
        vertical-align: middle;
    }

    #excelBtn {
        bottom: 50px;
        right: 25px;
        background-color: #1d6f42;
    }

    .indicadores {
        color: white;
    }

    .etapa {
        width: 30%;
        height: auto;
        max-height: 120px;
        max-width: 30%;
        display: inline-block;
        position: relative;
        padding: 20px;
    }

    .indicadorTotais {
        position: absolute;
        bottom: 33px;
        font-size: 16px;
        color: #ffffff;
        display: inline-block
    }

    .indicadorPercentSimTotais {
        position: absolute;
        right: 58%;
        bottom: 33px;
        font-size: 16px;
        color: #ffffff;
        display: inline-block
    }

    .indicadorPercentNaoTotais {
        position: absolute;
        left: 75%;
        bottom: 33px;
        font-size: 16px;
        color: #ffffff;
        display: inline-blocke
    }

    .cartao {
        overflow: hidden;
        text-align: center;
    }

    .loader {
        position: fixed;
        top: 45%;
        left: 48%;
    }

</style>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">

            <div class="center">
                <!-- Título da página -->
                <h4 th:text="'Ponto Situação | ' + ${produto.nome}"></h4>
                <hr />
            </div>
        </div>
    </div>

    <input type="text" id="equipeId" th:value="${equipe?.id}" th:hidden="hidden" />

    <div style="padding: 4%;" class="row">

        <input type="text" id="prodId" th:value="${produto.id}" th:hidden="hidden" />
        <input type="text" id="pais" th:value="${consultor.pais}" th:hidden="hidden" />

        <a id="excelBtn" onClick="htmlTableToExcel('tabela-clientes','pontoSituacão');" data-position="left" data-tooltip="Baixar o estado atual da tabela para Excel" class="tooltipped waves-effect btn right"><i class="material-icons left">file_download</i>Exportar Excel</a>

        <ul class="collapsible popout" data-collapsible="expandable">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">search</i>Filtros
                </div>
                <div class="collapsible-body grey lighten-3">
                    <div class="row">

                        <div class="input-field col m3">
                            <i class="material-icons prefix">search</i>
                            <input type="text" id="txt-pesq-cliente" />
                            <label for="txt-pesq-cliente">Pesquisar cliente</label>
                        </div>

                        <div class="input-field col left m1">
                            <select class="select search-key" id="combo-box">
                                <option th:selected="selected" value="">Sem filtro</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                            </select>
                            <label>Ano</label>
                        </div>

                        <div th:switch="${consultor.cargo.name()}">
                            <div th:case="'CONSULTOR_LIDER_TECNICO'">
                                <input type="text" value="1" id="liderFilter" th:hidden="hidden" />
                                <div class="input-field col m1">

                                    <select name="equipes" id="selectEquipes" class="select search-key">
                                        <option th:value="${equipe?.nome}" th:text="${equipe?.nome}" th:selected="selected" value="">Sem filtro</option>
                                        <option th:each="e : ${equipes}" th:value="${e.nome}" th:text="${e.nome}"></option>
                                    </select>
                                    <label>Equipe</label>
                                </div>
                            </div>

                            <div th:case="'CONSULTOR_TRAINEE'">
                                <input type="text" value="1" id="liderFilter" th:hidden="hidden" />
                                <div class="input-field col m1">
                                    <select name="equipes" id="selectEquipes" class="select search-key">
                                        <option th:value="${equipe?.nome}" th:text="${equipe?.nome}" th:selected="selected" value="">Sem filtro</option>
                                        <option th:each="e : ${equipes}" th:value="${e.nome}" th:text="${e.nome}"></option>
                                    </select>
                                    <label>Equipe</label>
                                </div>
                            </div>

                            <div th:case="'ESTAGIARIO_TECNICO'">
                                <input type="text" value="1" id="liderFilter" th:hidden="hidden" />
                                <div class="input-field col m1">
                                    <select name="equipes" id="selectEquipes" class="select search-key">
                                        <option th:value="${equipe.nome}" th:text="${equipe.nome}" th:selected="selected" value="">Sem filtro</option>
                                        <option th:each="e : ${equipes}" th:value="${e.nome}" th:text="${e.nome}"></option>
                                    </select>
                                    <label>Equipe</label>
                                </div>
                            </div>

                            <div th:case="*">
                                <div class="input-field col m1">
                                    <select name="equipes" id="selectEquipes" class="select search-key">
                                        <option th:selected="selected" value="">Sem filtro</option>
                                        <option value="">Sem filtro</option>
                                        <option th:each="e : ${equipes}" th:value="${e.nome}" th:text="${e.nome}"></option>
                                    </select>
                                    <label>Equipe</label>
                                </div>
                            </div>

                        </div>

                        <div th:switch="${consultor.cargo.name()}">
                            <div th:case="'CONSULTOR_TECNICO'">
                                <div class="input-field col m1">
                                    <select name="consultores" id="selectColaboradores" class="select search-key">
                                        <option th:value="${consultor.sigla}" th:text="${consultor.sigla}" th:selected="selected" value="">Sem filtro</option>
                                        <option th:each="consultor : ${consultores}" th:text="${consultor.sigla}" th:value="${consultor.sigla}"></option>
                                    </select>
                                    <label>Consultor</label>
                                </div>
                            </div>

                            <div th:case="*">
                                <div class="input-field col m1">
                                    <select name="consultores" id="selectColaboradores" class="select search-key">
                                        <option value="" th:selected="selected">Sem filtro</option>
                                        <option th:each="consultor : ${consultores}" th:text="${consultor.sigla}" th:value="${consultor.sigla}"></option>
                                    </select>
                                    <label>Consultor</label>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div id="filtroEtapas" class="row">
                    </div>

                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">add_circle_outline</i> Totais
                </div>
                <div class="collapsible-body grey lighten-3">
                    <div id="totais" class="row">

                    </div>
                </div>
            </li>
        </ul>

        <table id="tabela-clientes" style="text-align: center;" class="responsive-table tabela-cliente bordered striped">
            <thead>
                <tr id="etapasTrabalho"></tr>
            </thead>
            <tbody id="tabela">
            </tbody>
        </table>

    </div>

    
    <div id="loader" class="preloader-wrapper big active loader">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:if="${produto.id==23}" th:src="@{/js/relatorio/pontoSituacaoLB.js}"></script>
    <script src="../js/libs/exportExcel.js"></script>
    <script th:if="${produto.id!=23}" th:src="@{/js/relatorio/pontoSituacaoOP.js}"></script>

</body>

</html>
