<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Ponto Situação</title>
    <link th:include="fragments/header :: header-css" />

</head>

<style>
    .cliente {
        overflow: hidden;
        white-space: nowrap;
    }

    .indicador {
        text-align: center;
        vertical-align: middle;
        align-items: center;
        align-content: center;
        width: 7.1%;
        max-width: 7.1%;
        min-width: 7.1%;
        border-right: solid 1px #CFCFCF;
        border-left: solid 1px #CFCFCF;
        color: white;
        font-size: 16px;
    }

    div {
        text-align: center;
        vertical-align: middle;
    }

    #excelBtn {
        bottom: 50px;
        right: 25px;
        background-color: #1d6f42;
    }

    .indicadores {
        color: white;
    }

    .etapa {
        width: 30%;
        height: auto;
        max-height: 120px;
        max-width: 30%;
        display: inline-block;
        position: relative;
        padding: 20px;
    }

    .indicadorTotais {
        position: absolute;
        bottom: 33px;
        font-size: 16px;
        color: #ffffff;
        display: inline-block
    }

    .indicadorPercentSimTotais {
        position: absolute;
        right: 58%;
        bottom: 33px;
        font-size: 16px;
        color: #ffffff;
        display: inline-block
    }

    .indicadorPercentNaoTotais {
        position: absolute;
        left: 75%;
        bottom: 33px;
        font-size: 16px;
        color: #ffffff;
        display: inline-blocke
    }

    .cartao {
        overflow: hidden;
        text-align: center;
    }

    .loader {
        position: fixed;
        top: 45%;
        left: 48%;
    }
    
    .finalizados{
    	background-color: #2bbbad;
    	
    }
    
    .naoFinalizados{
    	background-color: #ef5350;
    	
    }
    
    .porcentagem{
    	background-color: #61a29c;
    }

</style>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">

            <div class="center">
                <!-- Título da página -->
                <h4 th:text="'Ponto Situação | Lei do bem'"></h4>
                <hr />
            </div>
        </div>
    </div>

    <input type="text" id="equipeId" th:value="${equipe?.id}" th:hidden="hidden" />

    <div style="padding: 4%;" class="row">

        <input type="text" id="prodId" th:value="'23'" th:hidden="hidden" />

        <a id="excelBtn" onClick="htmlTableToExcel('tabela-clientes','pontoSituacãoLB');" data-position="left" data-tooltip="Baixar o estado atual da tabela para Excel" class="tooltipped waves-effect btn right"><i class="material-icons left">file_download</i>Exportar Excel</a>

        <ul class="collapsible popout" data-collapsible="expandable">
            <li>
                <div class="collapsible-header active">
                    <i class="material-icons">search</i>Filtros
                </div>
                <div class="collapsible-body grey lighten-3">
                  
                    <div class="row">

                        <div class="input-field col m3">
                            <input type="text" name="razaoSocial" placeholder=" pesquisar cliente" id="txt-pesq-cliente" />
                            <label for="txt-pesq-cliente " >  <i class="material-icons" >search</i> </label>
                        </div>

                        <div class="input-field col left m1">
                            <select class="select search-key" name="campanha" id="campanha">
                                <option th:selected="selected" value="">Selecione</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                            </select>
                            <label>Ano</label>
                        </div>
                        
                        <div class="input-field col m1">

                           <select name="equipes" id="equipes" class="select search-key">
                           		<option th:selected="selected" value="">Selecione </option>
                                <option th:value="${equipe?.nome}" th:text="${equipe?.nome}" >Sem filtro</option>
                                <option th:each="e : ${equipes}" th:value="${e.id}" th:text="${e.nome}"></option>
                           </select>
                           <label>Equipe</label>
                       </div>

                        <div class="input-field col m1">
                              <select name="consultores" id="selectColaboradores" class="select search-key">
                                   <option th:selected="selected" value="">Selecione</option>
                                   <option th:each="consultor : ${consultores}" th:text="${consultor?.sigla}" th:value="${consultor?.sigla}"></option>
                             </select>
                            <label>Consultor</label>
                        </div>

                    </div>
                    
                     <div class="row">
                         <div class="input-field col m2">
                               <select class="select" name="abertura" id="abertura">
                                     <option value="" th:selected="selected">Selecione</option>
                                     <option value='true'>Sim</option>
                                     <option value='false'>Não</option>
                                </select>
                                <label>Abertura de Missão</label>
                         </div>
                         
                         <div class="input-field col m2">
                               <select class="select" name="identificacao" id="identificacao">
                                     <option value="" th:selected="selected">Selecione</option>
                                     <option value='true'>Sim</option>
                                     <option value='false'>Não</option>
                                </select>
                                <label>Identificação Técnica</label>
                         </div>
                         
                         <div class="input-field col m2">
                               <select class="select" name="quantificacao" id="quantificacao">
                                     <option value="" th:selected="selected">Selecione</option>
                                     <option value='true'>Sim</option>
                                     <option value='false'>Não</option>
                                </select>
                                <label>Quantificação</label>
                         </div>
                         
                         <div class="input-field col m2">
                               <select class="select" name="defesa" id="defesa">
                                     <option value="" th:selected="selected">Selecione</option>
                                     <option value='true'>Sim</option>
                                     <option value='false'>Não</option>
                                </select>
                                <label>Defesa Técnica</label>
                         </div>
                         
                         <div class="input-field col m2">
                               <select class="select" name="formCliente" id="formCliente">
                                     <option value="" th:selected="selected">Selecione</option>
                                     <option value='true'>Sim</option>
                                     <option value='false'>Não</option>
                                </select>
                                <label>Form Cliente</label>
                         </div>
                         
                         <div class="input-field col m2">
                               <select class="select" name="submissao" id="submissao">
                                     <option value="" th:selected="selected">Selecione</option>
                                     <option value='true'>Sim</option>
                                     <option value='false'>Não</option>
                                </select>
                                <label>Submissão MCTI</label>
                         </div>
                         
                         <div class="input-field col m2">
                               <select class="select" name="Er" id="Er">
                                     <option value="" th:selected="selected">Selecione</option>
                                     <option value='true'>Sim</option>
                                     <option value='false'>Não</option>
                                </select>
                                <label>ER</label>
                         </div>
                         
                         <div class="input-field col m2">
                               <select class="select" name="encerramento" id="encerramento">
                                     <option value="" th:selected="selected">Selecione</option>
                                     <option value='true'>Sim</option>
                                     <option value='false'>Não</option>
                                </select>
                                <label>Encerramento dos Trabalhos</label>
                         </div>
                         
                         
                         
                         
                    </div>                

                    <div id="filtroEtapas" class="row">
                    </div>
                    
                     <div class="row">

                        <div class="col m3">
                            <button  onClick="carregaPontoSituacao();" id="btn" class="waves-effect blue btn modal-trigger buscar">
                                <i class="material-icons left">search</i>Buscar
                            </button>
                            
                            
                        </div>
                    </div>
                </div>
              
            </li>
            <li>
                <div class="collapsible-header totais">
                    <i class="material-icons">add_circle_outline</i> Totais
                </div>
                <div class="collapsible-body grey lighten-3">
                    <div id="totais" class="row">
						 <div id="aberturaMissao" class="etapa card-panel grey lighten-4 z-depth-3 ">
						 		<span><b> Abertura de Missão </b></span> <br/>
						 	<div id="totalSimAbertura" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 24%; height: 34px; background-color: #2bbbad; border-right-color: coral;" class="indicadores card-panel z-depth-1">
						 	</div>
						 	<div id="totalSimAberturaPercent" style="margin-right: 2px;max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px; background-color: #2bbbad;" class="indicadores cartao card-panel ">
						 	</div>
						 	<div id="totalNaoAbertura" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 23%; height: 34px;" class="indicadores cartao card-panel red lighten-1 ">
						 	</div>
						 	<div id="totalNaoAberturaPercent" style="max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px;" class="indicadores card-panel red lighten-1 z-depth-1">
						 	</div>
						 </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						 <div id="identificacaoTecnica" class="etapa card-panel grey lighten-4 z-depth-3 ">
						 		<span><b>Identificação Técnica </b></span> <br/>
						 	<div id="totalSimIdentificacao" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 24%; height: 34px; background-color: #2bbbad; border-right-color: coral;" class="indicadores card-panel z-depth-1">
						 	</div>
						 	<div id="totalSimIdentificacaoPercent" style="margin-right: 2px;max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px; background-color: #2bbbad;" class="indicadores cartao card-panel ">
						 	</div>
						 	<div id="totalNaoIdentificacao" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 23%; height: 34px;" class="indicadores cartao card-panel red lighten-1 ">
						 	</div>
						 	<div id="totalNaoIdentificacaoPercent" style="max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px;" class="indicadores card-panel red lighten-1 z-depth-1">
						 	</div>
						 </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						 
						 <div id="quantificacaoCard" class="etapa card-panel grey lighten-4 z-depth-3 ">
						 		<span><b>Quantificação </b></span> <br/>
						 	<div id="totalSimQuantificacao" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 24%; height: 34px; background-color: #2bbbad; border-right-color: coral;" class="indicadores card-panel z-depth-1">
						 	</div>
						 	<div id="totalSimQuantificacaoPercent" style="margin-right: 2px;max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px; background-color: #2bbbad;" class="indicadores cartao card-panel ">
						 	</div>
						 	<div id="totalNaoQuantificacao" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 23%; height: 34px;" class="indicadores cartao card-panel red lighten-1 ">
						 	</div>
						 	<div id="totalNaoQuantificacaoPercent" style="max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px;" class="indicadores card-panel red lighten-1 z-depth-1">
						 	</div>
						 </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						 
						 <div id="defesaTecnica" class="etapa card-panel grey lighten-4 z-depth-3 ">
						 		<span><b>Defesa Técnica </b></span> <br/>
						 	<div id="totalSimDefesa" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 24%; height: 34px; background-color: #2bbbad; border-right-color: coral;" class="indicadores card-panel z-depth-1">
						 	</div>
						 	<div id="totalSimDefesaPercent" style="margin-right: 2px;max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px; background-color: #2bbbad;" class="indicadores cartao card-panel ">
						 	</div>
						 	<div id="totalNaoDefesa" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 23%; height: 34px;" class="indicadores cartao card-panel red lighten-1 ">
						 	</div>
						 	<div id="totalNaoDefesaPercent" style="max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px;" class="indicadores card-panel red lighten-1 z-depth-1">
						 	</div>
						 </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						 						 
						 <div id="formCliente" class="etapa card-panel grey lighten-4 z-depth-3 ">
						 		<span><b>Form Cliente </b></span> <br/>
						 	<div id="totalSimformCliente" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 24%; height: 34px; background-color: #2bbbad; border-right-color: coral;" class="indicadores card-panel z-depth-1">
						 	</div>
						 	<div id="totalSimFormClientePercent" style="margin-right: 2px;max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px; background-color: #2bbbad;" class="indicadores cartao card-panel ">
						 	</div>
						 	<div id="totalNaoFormCliente" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 23%; height: 34px;" class="indicadores cartao card-panel red lighten-1 ">
						 	</div>
						 	<div id="totalNaoFormClientePercent" style="max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px;" class="indicadores card-panel red lighten-1 z-depth-1">
						 	</div>
						 </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						 
						 <div id="submissaoMcti" class="etapa card-panel grey lighten-4 z-depth-3 ">
						 		<span><b>Submissão MCTI </b></span> <br/>
						 	<div id="totalSimSubmissao" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 24%; height: 34px; background-color: #2bbbad; border-right-color: coral;" class="indicadores card-panel z-depth-1">
						 	</div>
						 	<div id="totalSimSubmissaoPercent" style="margin-right: 2px;max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px; background-color: #2bbbad;" class="indicadores cartao card-panel ">
						 	</div>
						 	<div id="totalNaoSubmissao" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 23%; height: 34px;" class="indicadores cartao card-panel red lighten-1 ">
						 	</div>
						 	<div id="totalNaoSubmissaoPercent" style="max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px;" class="indicadores card-panel red lighten-1 z-depth-1">
						 	</div>
						 </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						 
						 <div id="Er" class="etapa card-panel grey lighten-4 z-depth-3 ">
						 		<span><b>ER </b></span> <br/>
						 	<div id="totalSimEr" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 24%; height: 34px; background-color: #2bbbad; border-right-color: coral;" class="indicadores card-panel z-depth-1">
						 	</div>
						 	<div id="totalSimErPercent" style="margin-right: 2px;max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px; background-color: #2bbbad;" class="indicadores cartao card-panel ">
						 	</div>
						 	<div id="totalNaoEr" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 23%; height: 34px;" class="indicadores cartao card-panel red lighten-1 ">
						 	</div>
						 	<div id="totalNaoErPercent" style="max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px;" class="indicadores card-panel red lighten-1 z-depth-1">
						 	</div>
						 </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						 
						 <div id="encerramentoTrabalhos" class="etapa card-panel grey lighten-4 z-depth-3 ">
						 		<span><b>Encerramento dos Trabalhos </b></span> <br/>
						 	<div id="totalSimEncerramento" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 24%; height: 34px; background-color: #2bbbad; border-right-color: coral;" class="indicadores card-panel z-depth-1">
						 	</div>
						 	<div id="totalSimEncerramentoPercent" style="margin-right: 2px;max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px; background-color: #2bbbad;" class="indicadores cartao card-panel ">
						 	</div>
						 	<div id="totalNaoEncerramento" style="max-height:40px; border-radius: 4px 0px 0px 4px; float: left; width: 23%; height: 34px;" class="indicadores cartao card-panel red lighten-1 ">
						 	</div>
						 	<div id="totalNaoEncerramentoPercent" style="max-height:38px; border-radius: 0px 4px 4px 0px; float: left; width: 24%; height: 34px;" class="indicadores card-panel red lighten-1 z-depth-1">
						 	</div>
						 </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </li>
        </ul>


        <table id="tabela-clientes" class="responsive-table tabela-cliente bordered highlight">
            <thead id="etapasTrabalho">       
            </thead>
            <tbody id="tabela">
            </tbody>
        </table>
    </div>

    
    <div id="loader" class="preloader-wrapper big active loader">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
      </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/relatorio/pontoSituacaoLB.js}"></script>

</body>

</html>
