<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Cadastrar Equipe</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">

            <div class="center">
                <!-- Título da página -->
                <h4>+ Equipe</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
        <form th:action="@{/equipes/add}" method="POST">

            <div class="row">

                <div class="input-field col m6">
                    <input id="equipeNome" type="text" class="tooltip" th:required="required" name="nome" />
                    <label for="equipeNome">Nome da Equipe</label>
                </div>

                <div class="input-field col m6">
                    <select name="lider.id" id="lider" class="select" th:required="required">
                        <option value="" th:selected="selected">Selecione o Líder da Equipe</option>
                        <option th:each="lider : ${lideres}" th:value="${lider.id}"
                            th:text="${lider.sigla} +', '+${lider.nome} ">
                        </option>
                    </select>
                    <label>Selecione o Líder</label>
                </div>

            </div>
            
            <div class="row">

                <div class="input-field col m6">
                    <select name="coordenador.id" id="select-coordenador" class="select">
                        <option value="" th:selected="selected">Selecione o Coordenador da Equipe</option>
                        <option th:each="coordenador : ${coordenadores}" th:value="${coordenador.id}"
                            th:text="${coordenador.sigla} +', '+${coordenador.nome} ">
                        </option>
                    </select>
                    <label>Selecione o Coordenador</label>
                </div>

                <div class="input-field col m6">
                    <select name="gerente.id" id="select-gerente" class="select">
                        <option value="" th:selected="selected">Selecione o Gerente da Equipe</option>
                        <option th:each="gerente : ${gerentes}" th:value="${gerente.id}"
                            th:text="${gerente.sigla} +', '+${gerente.nome} ">
                        </option>
                    </select>
                    <label>Selecione o Gerente</label>
                </div>

            </div>

                    <div class="input-field col m4">
                        <select name="consultores" id="selectConsultores" class="select" multiple="multiple"
                            th:required="required">
                            <option value="" th:disabled="disabled" th:selected="selected">Selecione os Consultores
                            </option>
                            <option th:each="consultor : ${consultores}" th:value="${consultor.id}"
                                th:text="${consultor.sigla} +', '+${consultor.nome} "></option>
                        </select>
                        <label>Selecione os Consultores desta Equipe</label>
                    </div>

                    <div class="row">
                        <div class="col m4">
                            <button type="submit" id="btn-cad-equipe" class="waves-effect green btn"><i
                                    class="material-icons left">add</i>Adicionar</button>
                        </div>
                        <div class="col m10 right-align">
                            <a th:href="@{/equipes/all}" class="waves-effect tooltip"><i
                                    class="material-icons left">arrow_back</i>Voltar</a>
                        </div>
                    </div>
        </form>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/equipe/main.js"></script>

</body>

</html>