<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Equipes</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/equipe/list.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Equipes</h4>
                <hr />
            </div>
        </div>

    </div>

	<div class="container">
		<div class="row">
			<section id="filters">
				<div class="input-field col m5">
					<i class="material-icons prefix">search</i> <input type="text"
						id="txt-pesq-equipe" /> <label for="txt-pesq-equipe">Pesquisar equipe</label>
				</div>
			</section>
			<div class="col m3 offset-m4">
				<a type="submit" class="waves-effect green btn right"
					th:href="@{/equipes/form}" title="adicionar"><i
					class="material-icons left">add</i>Equipe</a>
			</div>
		</div>
		<div class="row">
			<table id="tabela-equipes" class="responsive-table bordered">
				<thead>
					<tr>
						<th th:hidden="hidden">#</th>
						<th>Nome</th>
						<th>Líder</th>
						<th>Qtd de consultores</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="equipe : ${equipes}" class="equipe">

						<td th:hidden="hidden" id="idEquipe" th:text="${equipe.id}"></td>

						<td id="nome"><a th:text="${equipe.nome}"
							th:onclick="'listarConsultoresModal(' + ${equipe.id} + ');'"
							class="mouse-hand"></a></td>

						<td id="lider" th:text="${equipe.lider.nome}"></td>

						<td id="qtdConsultores" th:text="${equipe.consultores.size() + 1}"></td>

						<td sec:authorize="hasRole('ROLE_ADMIN')" class="right">

							<button type="button" class="btn modal-trigger btn tooltip red"
								th:attr="data-target='modalD' + ${equipe.id}" id="btnRemover">
								<i class="material-icons">delete</i>
							</button>

                            <form th:action="@{/equipes/delete/} + ${equipe.id}" method="POST">
                                <div th:id="modalD + ${equipe.id}" class="modal bottom-sheet">
                                    <div class="modal-content">
                                        <h4>
                                            Deseja mesmo remover a filial ? <i class="material-icons right modal-close mouse-hand">close</i>
                                        </h4>
                                        <p th:text="'Você está removendo ' + ${equipe.nome} +', este processo é irreversível'"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Remover</button>
                                    </div>
                                </div>
                            </form>

                        </td>

                        <td class="right">
                            <a th:href="@{/equipes/} + ${equipe.id}" class="btn light-blue darken-4"> <i class="material-icons">edit</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Consultores</h4>
            <ul id="lista-colaboradores" class="collection">
                <li></li>
            </ul>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat red white-text mouse-hand">Fechar</a>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/equipe/list.js"></script>

</body>

</html>
