<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Atualizar + ' ' + ${equipe.nome}"></title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <h4 th:text="Atualizar + ' ' + 'Equipe' + ' ' + ${equipe.nome}"></h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <p th:if="${sucesso}" th:text="${sucesso}"></p>
        <p th:if="${erro}" th:text="${erro}"></p>
        <form action="/equipes/update" method="POST" th:object="${equipe}">
            <div class="row">
                <div class="input-field col m4">
                    <input th:value="${equipe.id}" type="text" name="id" th:hidden="hidden" />
                    <input th:value="${equipe.nome}" type="text" id="equipeNome" name="nome"/>

                    <label for="nomeCompleto">Nome da Equipe</label>
                </div>

                <div class="input-field col m4">

                    <select name="lider.id" id="lider" class="select" th:required="required">
	                		<option value="">Selecione o Líder da Equipe</option>
	                		<option th:each="lider : ${lideres}"
	                				th:value="${lider.id}"
	                				th:text="${lider.sigla} +', '+${lider.nome} "
	                				th:selected="(${equipe?.lider?.nome == lider.nome})">
	                		</option>
	                	</select>
                    <label>Selecione o Líder</label>
                </div>
                
                <div class="input-field col m2">
					<select name="filial.id" id="select-filial" class="select">
							<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
							<option th:each="f : ${filiais}" 
							th:if="${equipe?.filial} == null"
							th:value="${f.id}"
							th:text="${f.nome}"
							></option>
							<option th:each="f : ${filiais}" 
							th:if="${equipe?.filial} != null"
							th:value="${f.id}"
							th:text="${f.nome}"
							th:selected="(${equipe?.filial?.nome == f.nome})">
							
							</option>
							
					</select> <label>Filial</label>
				</div>


            </div>
            
            <div class="row">
                <div class="input-field col m4">

                    <select name="coordenador.id" id="select-coordenador" class="select" >
	                		<option value=""  th:selected="selected">Selecione o Coordenador da Equipe</option>
	                		<option th:each="coordenador : ${coordenadores}"
	                				th:value="${coordenador.id}"
	                				th:text="${coordenador.sigla} +', '+${coordenador.nome} "
	                				th:selected="(${equipe?.coordenador?.nome == coordenador.nome})">
	                		</option>
	                	</select>
                    <label>Selecione o Coordenador</label>
                </div>

                <div class="input-field col m4">

                    <select name="gerente.id" id="select-gerente" class="select" >
	                		<option value=""  th:selected="selected">Selecione o Gerente da Equipe</option>
	                		<option th:each="gerente : ${gerentes}"
	                				th:value="${gerente.id}"
	                				th:text="${gerente.sigla} +', '+${gerente.nome} "
	                				th:selected="(${equipe?.gerente?.nome == gerente.nome})">
	                		</option>
	                	</select>
                    <label>Selecione o Gerente</label>
                </div>

            </div>

            <div class="row">
                <div class="col m8">
                    <div class="input-field">
                        <select id="selectConsultores" multiple="multiple" name="consultores" >
                        	<option value="" th:disabled="disabled" th:selected="selected" >Selecione os Consultores
                        	</option>
                    	    <option 
                           		th:each="consultor : ${equipe.consultores}"
                            	th:value="${consultor.id}"
                            	th:text="${consultor.sigla} +', '+${consultor.nome} "
                            	th:selected="selected">
                           </option>
                    	    <option 
                           		th:each="consultores : ${consultoresNoEquipe}"
                            	th:value="${consultores.id}"
                            	th:text="${consultores.sigla} +', '+${consultores.nome} ">
                           </option>                           
                        </select>
                        <label>Consultores</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col m4">
                    <button type="submit" class="waves-effect light-blue darken-4 btn tooltip" id="btn-editar-consultor">
	                    <i class="material-icons left">edit</i>Atualizar
	                </button>
                </div>
                <div class="col m8 right-align">
                    <a th:href="@{/equipes/all}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        </form>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/equipe/main.js"></script>

</body>

</html>
