<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Ordenação de Produto</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                 <h4><b th:text="${produto.nome}"></b> - Ordenação de Itens de Tarefas</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
    
        <div class="row">
            <table id="tabela-produtos" class="responsive-table bordered">
                <thead>
                    <tr>
                    	<th th:hidden="hidden">#</th>
                        <th>Tarefa</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="t : ${tarefas}" class="produto">
                        <td id="nome" th:text="${t.nome}"></td>                               
                        <td>
	                        <a th:href="@{/ordenacoes/tarefa/} + ${t.id}+'?idProd='+${produto.id}" class="btn light-blue darken-4">
	                            <i class="material-icons">edit</i>
	                        </a>
                    	</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script src="../js/ordenacao/produto.js"></script>

</body>

</html>
