<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Ordenação de Produto</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4><b th:text="${tarefa.nome}"></b> - Ordenação de Itens de Tarefas</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container" >

            <div class="row linha" th:each="i : ${itens}">
                
                <div class="input-field col m1">
                	<input readonly="true" type="text" class="idOrdem" th:value="${i.id}" />
                	<label>ID Ordenação</label>
                </div>
                
                <div class="input-field col m1">
                	<input readonly="true" type="text" class="idItem" th:value="${i.item.id}" />
                	<label>ID Item Tarefa</label>
                </div>
               
                <div class="input-field col m6">
                    <input readonly="true" type="text" th:value="${i.item.nome}" />
                    <label>Nome do Item</label>
                </div>
                
                <div class="input-field col m1">
                    <input readonly="true" type="text" th:value="${i.item.tipo}" />
                    <label>Nome do Item</label>
                </div>
               
                <div class="input-field col m1">
                    <input readonly="true" type="text" class="ordem" th:value="${i.numero}" />
                    <label>Nº da Ordem</label>
                </div>
                
                <a class="btn-floating btn-small red sobe"><i class="material-icons">arrow_upward</i></a>
                
                <a class="btn-floating btn-small red desce"><i class="material-icons">arrow_downward</i></a>
        </div>

        <button style="bottom: 15px" class="waves-effect green btn tooltip salvar right">
            <i class="material-icons left">save</i>Salvar
        </button>

    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/ordenacao/tarefa.js}"></script>

</body>

</html>
