<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Cadastrar Colaborador</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Colaborador</h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <form th:action="@{/consultores/add}" method="POST">
            <div class="row">
                <div class="input-field col m4">
                    <input type="text" id="nomeCompleto capitalize" name="nome" th:required="required" />
                    <label for="nomeCompleto">Nome Completo</label>
                </div>
                <div class="input-field col m1">
                    <input type="text" id="sigla" name="sigla" th:required="required" />
                    <label for="sigla">Sigla</label>
                </div>
                <div class="input-field col m3">
                    <input type="text" id="email" name="email" th:required="required" />
                    <label for="email">E-mail @fi-group.com</label>
                </div>
                
                <div class="col m2">
                    <div class="input-field">
                        <select class='select' id="select-pais" name="pais" th:required="required">
                        	<option value="" 
                     			th:selected="selected" >Selecione o país</option>
                           <option th:each="p : ${paises}"
                            	th:value="${p.name()}"
	                      		th:text="${p.displayName()}"></option>
                        </select>
                        <label>País</label>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="row">
            
            <div class="input-field col m4">
                    <input type="text" id="username" name="username" th:required="required" />
                    <label for="username">Username</label>
                </div>  
            
                <div class="input-field col m4">
                    <input type="password" id="senha" name="senha" th:required="required" />
                    <label for="senha">Senha</label>
                </div>
                <div class="input-field col m4">
                    <input type="password" id="confirmSenha" class="tooltip" th:required="required" />
                    <label for="confirmSenha">Confirmar Senha</label>
                </div>           
                                    
            </div>
            
            <div class="row">

				<div class="col m4">
                    <div class="input-field">
                        <select class='select' id="select-cargos" name="cargo" th:required="required">
                        	<option value="" 
                     			th:selected="selected" >Selecione o cargo</option>
                           <option th:each="cargo : ${cargos}"
                            	th:value="${cargo.name()}"
	                      		th:text="${cargo.displayName()}"></option>
                        </select>
                        <label>Cargo</label>
                    </div>
                    
                </div>
                
                <div class="row">
                  <div id="categoria" class="input-field col m1">
                        <select class='select' id="select-categoria" name="categoriaConsultor">
                        	<option value="" th:disabled="disabled" 
                     			th:selected="selected" >Selecione</option>
                           <option th:each="c : ${categoriaConsultor}"
                            	th:value="${c.name()}"
	                      		th:text="${c.displayName()}"></option>
                        </select>
                        <label for="categoria">Categoria</label>
                    </div>
                    
                
                   <div class="col m4">
                    <div class="input-field">
                        <select class='select' id="select-departamento" name="departamento" th:required="required">
                        	<option value="" 
                     			th:selected="selected" >Selecione o departamento</option>
                           <option th:each="departamento : ${departamentos}"
                            	th:value="${departamento.name()}"
	                      		th:text="${departamento.displayName()}"></option>
                        </select>
                        <label>Departamento</label>
                    </div>
                    
                </div>
                
                  <div id="setorAtividade" class="input-field col m2">
                        <select class='select' id="select-setorAtividade" name="setorAtividade">
                        	<option value="" th:disabled="disabled" 
                     			th:selected="selected" >Selecione a especialidade </option>
                            <option th:each="setorAtividade : ${setorAtividade}"
                            	th:value="${setorAtividade.name()}"
	                      		th:text="${setorAtividade.displayName()}"></option> 
	                   
                        </select>
                        <label for="setorAtividade">Especialidade </label>
                    </div>
                   
                    
                     <div class="col m4">
                    <div class="input-field">
                        <select class='select' id="select-permissoes" multiple="multiple" name="roles" th:required="required">
                        	<option value="" th:disabled="disabled" 
                     			th:selected="selected" >Selecione as permissões</option>
                           <option th:each="role : ${roles}"
                            	th:value="${role.nome}"
                            	th:text="${role.descricao}">
                           </option>
                        </select>
                        <label>Permissões</label>
                    </div>
                </div>
				</div>
				
               
                
            </div>
            
            <div class="row">
	            <div class="col m4">
	                <button type="submit" class="waves-effect green btn tooltip" id="btn-add-consultor">
	                    <i class="material-icons left">add</i>Adicionar
	                </button>
	            </div>
                <div class="col m8 right-align">
                   	<a th:href="@{/consultores/all}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
               	</div>
            </div>
        </form>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/consultor/form.js"></script>

</body>

</html>
