<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<title>Colaboradores</title>
<link th:include="fragments/header :: header-css" />
<link rel="stylesheet" href="../css/consultor/list.css" />
</head>

<body>

	<div th:include="fragments/header :: menu-lateral"></div>

	<div class="row">
		<div th:include="fragments/btnMenuLogout :: btns-default"></div>
		<div class="col m10">
			<div class="center">
				<!-- Título da página -->
				<h4>Colaboradores</h4>
				<hr />
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<section id="filters">
				<div class="input-field col m5">
					<i class="material-icons prefix">search</i> <input type="text"
						id="txt-pesq-consultor" /> <label for="txt-pesq-consultor">Pesquisar
						consultor</label>
				</div>
			</section>
		</div>
	
	<div class="col m1 offset-m2">
				<a type="submit" class="#00c853 green accent-4 btn right"
					th:href="@{/consultores/all}" title="ativos"><i
					class="material-icons left">folder_open</i>Ativos</a>
	</div>
	
	</div>

	<div class="container">
		<div id="listCollaborators">
			<table class="tabela-consultor responsive-table"
				id="tabela-consultor" name="tabela-consultor" style="margin-top: 50px">
				<thead>
					<tr>
						<th th:hidden="hidden">#</th>
						<th>Nome Completo</th>
						<th>Sigla</th>
						<th>E-mail</th>
						<th>Username</th>
						<th>Cargo</th>
					</tr>
				</thead>
				<tr th:each="c : ${consultores}" id="consultor">
					<td th:hidden="hidden" id="id" th:text="${c.id}"></td>
					<td id="nome" th:text="${c.nome}"></td>
					<td id="nome" th:text="${c.sigla}"></td>
					<td id="email" th:text="${c.email}"></td>
					<td id="username" th:text="${c.username}"></td>
					<td id="cargo" th:text="${c.cargo}"></td>
					<td><a th:href="@{/consultores/} + ${c.id}" type="submit"
						class="btn light-blue darken-4" th:data="${c.username}"> <i
							class="material-icons">edit</i>
					</a></td>
					
				</tr>
			</table>
		</div>
	</div>

	<div th:include="fragments/footer :: footer"></div>
	
	<script src="../js/libs/filtroTabela.js"></script>
	<script src="../js/consultor/list.js"></script>
	<script src="../js/consultor/listAll.js"></script>

</body>

</html>
