<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<title>Colaboradores</title>
<link th:include="fragments/header :: header-css" />
<link rel="stylesheet" href="../css/consultor/list.css" />
</head>

<body>

	<div th:include="fragments/header :: menu-lateral"></div>

	<div class="row">
		<div th:include="fragments/btnMenuLogout :: btns-default"></div>
		<div class="col m10">
			<div class="center">
				<!-- Título da página -->
				<h4>Colaboradores</h4>
				<hr />
			</div>
		</div>
	</div>

	<div class="container" style="width:90%" >
		<div class="row">
			<section id="filters">
				<div class="input-field col m5">
					<i class="material-icons prefix">search</i> <input type="text"
						id="txt-pesq-consultor" /> <label for="txt-pesq-consultor">Pesquisar
						consultor</label>
				</div>
			</section>
		
				<a type="submit" style='width: 200px'  class="waves-effect green btn right"
					th:href="@{/consultores/form}" title="adicionar"><i
					class="material-icons left">add</i>Consultor</a>
					 <br /><br />
			
				<a type="submit" style='width: 200px'  class="#e65100 orange darken-4 btn right"
					th:href="@{/consultores/listAll}" title="adicionar"><i
					class="material-icons left">folder_open</i>Todos</a>
					 <br /><br />
			
				<a id="excelBtn" style='width: 200px' onClick="htmlTableToExcel('tabela-consultor','colaboradores');" data-position="right" data-tooltip="Baixar o estado atual da tabela para Excel" class="tooltipped waves-effect btn right"><i class="material-icons left">file_download</i>Exportar Excel</a>
		</div>
	</div>
	
	
	<div class="container" style="width:90%">
		<div id="listCollaborators">
			<table class="tabela-consultor responsive-table"
				id="tabela-consultor" style="margin-top: 50px">
				<thead>
					<tr>
						<th class="ignore" th:hidden="hidden">#</th>
						<th>Nome Completo</th>
						<th>Sigla</th>
						<th>E-mail</th>
						<th>Username</th>
						<th>Cargo</th>
						<th>Departamento</th>
						<th>Especialidade</th>
						
					</tr>
				</thead>
				<tbody> 
				<tr th:each="c : ${consultores}" id="consultor">
					<td th:hidden="hidden" id="id" th:text="${c.id}" class="ignore"></td>
					<td id="nome" th:text="${c.nome}"></td>
					<td id="sigla" th:text="${c.sigla}"></td>
					<td id="email" th:text="${c.email}"></td>
					<td id="username" th:text="${c.username}"></td>
					<td id="cargo" th:text="${c.cargo}"></td>
					<td id ="departamento" th:text="${c.departamento}"></td>
					<td id ="setorAtividade" th:text="${c?.setorAtividade}"></td>
					
					<td sec:authorize="hasRole('ROLE_ADMIN')" class="ignore"><a th:href="@{/consultores/} + ${c.id}" type="submit"
						class="btn light-blue darken-4 modal-content ignore" th:data="${c.username}"> <i
							class="material-icons">edit</i>
					</a></td>
					<td sec:authorize="hasRole('ROLE_ADMIN')" class="right modal-content ignore">

						<button type="button" class="btn modal-trigger btn tooltip red"
							th:attr="data-target='modalD' + ${c.id}" id="btnRemover">
							<i class="material-icons">delete</i>
						</button>

						<form th:action="@{/consultores/delete/} + ${c.id}" method="POST">
							<div th:id="modalD + ${c.id}" class="modal bottom-sheet">
								<div class="modal-content">
									<h4>
										Deseja mesmo remover o consultor ? <i
											class="material-icons right modal-close mouse-hand">close</i>
									</h4>
									<p
										th:text="'Você está removendo ' + ${c.nome} +', este processo é irreversível'"></p>
								</div>
								<div class="modal-footer">
									<button type="submit"
										class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Remover</button>
								</div>
							</div>
						</form>

					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div th:include="fragments/footer :: footer"></div>
	
	<script src="../js/libs/filtroTabela.js"></script>
	<script src="../js/consultor/list.js"></script>
	<script src="../js/libs/exportExcel.js"></script>

</body>

</html>
