<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Atualizar + ' ' + ${consultor.username}"></title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <h4 th:text="Atualizar + ' ' + ${consultor.nome}"></h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <p th:if="${sucesso}" th:text="${sucesso}"></p>
        <p th:if="${erro}" th:text="${erro}"></p>
        <form action="/consultores/update" method="POST" th:object="${consultor}">
        	
            <div class="row">
                <div class="input-field col m4">
                	<input th:value="${consultor.id}" type="text" name="id" th:hidden="hidden" />
                    <input th:value="${consultor.nome}" type="text" id="nomeCompleto capitalize" name="nome" th:required="required" />
                    <label for="nomeCompleto">Nome Completo</label>
                </div>
                <div class="input-field col m1">
                    <input th:value="${consultor.sigla}" type="text" id="sigla" name="sigla" th:required="required" />
                    <label for="sigla">Sigla</label>
                </div>
                
                <div class="input-field col m3">
                    <input th:value="${consultor.email}" type="text" id="email" name="email" th:required="required" />
                    <label for="email">E-mail @f-iniciativas.com.br</label>
                </div>
                
                <div class="col m2">
                    <div class="input-field">
                        <select class='select' id="select-pais" name="pais" th:required="required">
                        	<option value="" 
                     			th:selected="selected" >Selecione o país</option>
                            <option th:each="p : ${paises}"
                            	th:value="${p.name()}"
	                      		th:text="${p.displayName()}"
	                      		th:selected="(${consultor.pais.name() == p.name()})"></option>
                        </select>
                        <label>País</label>
                    </div>
                    
                </div>
                
            </div>

            <div class="row">
                <div class="input-field col m4">
                    <input th:value="${consultor.username}" type="text" id="username" name="username" th:required="required" />
                    <label for="username">Username</label>
                </div>
                
                <div class="col m4">
                    <div class="input-field">
                        <select class='select' id="select-permissoes" multiple="multiple" name="roles" th:required="required">
                        	<option value="" th:disabled="disabled" th:selected="selected" >Selecione as permissões
                        	</option>
                    	    <option 
                           		th:each="role : ${consultor.roles}"
                            	th:value="${role.nome}"
                            	th:text="${role.descricao}"
                            	th:selected="selected">
                           </option>
                           <option 
                           		th:each="role : ${roles}"
                            	th:value="${role.nome}"
                            	th:text="${role.descricao}">
                            </option>
                        </select>
                        <label>Permissões</label>
                    </div>
                </div>

                   <div class="col m4">
                    <div class="input-field">
                        <select class='select' id="select-cargos" name="cargo" th:required="required">
                        	<option value="" th:disabled="disabled" 
                     			th:selected="selected" >Selecione o cargo</option>
                           <option th:each="cargo : ${cargos}"
                            	th:value="${cargo.name()}"
	                      		th:text="${cargo.displayName()}"
	                      		th:selected="(${consultor.cargo.name() == cargo.name()})"></option>
                        </select>
                        <label>Cargo</label>
                    </div>
                </div>
                
                <div class="row">
                  <div id="categoria" class="input-field col m1">
                        <select class='select' id="select-categoria" name="categoriaConsultor">
                        	<option value="" th:disabled="disabled" 
                     			th:selected="selected" >Selecione</option>
                           <option th:each="c : ${categoriaConsultor}"
                            	th:value="${c.name()}"
	                      		th:text="${c.displayName()}"
	                      		th:selected="(${consultor?.categoriaConsultor?.name() == c.name()})"></option>
	                    
                        </select>
                        <label for="categoria">Categoria</label>
                    </div>
                    
                 <div th:if="${consultor.ativo} == true" class="input-field col m1">
                    <input th:value="Ativo" type="text" id="situacao" name="situacao" th:disabled="disabled" />
                    <label for="situacao">Situação</label>
                </div>
                
                
              
                <div class="col m4">
                    <div class="input-field">
                        <select class='select' id="select-departamento" name="departamento" th:required="required">
                        	<option value="" th:disabled="disabled" 
                     			th:selected="selected" >Selecione o departamento</option>
                           <option th:each="departamento : ${departamentos}"
                            	th:value="${departamento.name()}"
	                      		th:text="${departamento.displayName()}"
	                      		th:selected="(${consultor?.departamento?.name() == departamento?.name()})"></option>
                        </select>
                        <label>Departamento</label>
                    </div>
                </div>
                
                <div id="setorAtividade" class="input-field col m1">
                        <select class='select' id="select-setorAtividade" name="setorAtividade">
                        	<option value="" th:disabled="disabled" 
                     			th:selected="selected" >Selecione a Especialidade </option>
                           <option th:each="setorAtividade : ${setorAtividade}"
                            	th:value="${setorAtividade.name()}"
	                      		th:text="${setorAtividade.displayName()}"
	                      		th:selected="(${consultor?.setorAtividade?.name() == setorAtividade.name()})"></option> 
	                    
                        </select>
                        <label for="categoria">Especialidade </label>
                    </div>
                    
                
                <div th:if="${consultor.ativo} == false" class="input-field col m1">
                    <input th:value="Inativo" type="text" id="situacao" name="situacao" th:disabled="disabled" />
                    <label for="situacao">Situação</label>
                </div> 
                </div>    
                
                <a th:href="@{/consultores/updateSenha/} + ${consultor.id}" class="btn light-blue right darken-4"><i class="material-icons">edit</i>Atualizar Senha</a>
                
            </div>    
            
            <input id="ativo" type="checkbox" name="ativo" th:checked="${consultor.ativo}" th:hidden="hidden" />           
            
            <div class="row">
                <div class="col m4">
                    <button type="submit" class="waves-effect light-blue darken-4 btn tooltip" id="btn-editar-consultor">
	                    <i class="material-icons left">edit</i>Atualizar
	                </button>         
                </div>
                <br/>
                <div class="col m8 right-align">
                   	<a th:href="@{/consultores/all}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
               	</div>
            </div>
        </form>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/consultor/form.js"></script>
    <script th:src="@{/js/consultor/update.js}"></script>

</body>

</html>
