<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Atualizar + ' ' + ${consultor.username}"></title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <h4 th:text="'Atualizar Senha' + ' ' + ${consultor.nome}"></h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <p th:if="${sucesso}" th:text="${sucesso}"></p>
        <p th:if="${erro}" th:text="${erro}"></p>
        <form action="/consultores/updatePassword" method="POST" th:object="${consultor}">
        	
            <input type="text" hidden="hidden" th:value="${consultor.id}" name="id" />
            
            <div class="row">
                <div class="input-field col m4">
                    <input type="password" id="senha" name="senha" th:required="required" />
                    <label for="senha">Senha</label>
                </div>
                <div class="input-field col m4">
                    <input type="password" id="confirmSenha" class="tooltip" th:required="required" />
                    <label for="confirmSenha">Confirmar Senha</label>
                </div>
            </div>
            
            <div class="row">
                <div class="col m4">
                    <button type="submit" class="waves-effect light-blue darken-4 btn tooltip" id="btn-editar-consultor">
	                    <i class="material-icons left">edit</i>Atualizar
	                </button>         
                </div>
                <br/>
                <div class="col m8 right-align">
                   	<a th:href="@{/consultores/all}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
               	</div>
            </div>
        </form>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/consultor/form.js"></script>
    <script th:src="@{/js/consultor/form.js}"></script>

</body>

</html>
