<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>+ Inovação e Marketing</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Inovação e Marketing</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div style="padding-left: 0px; padding-right: 0px;" class="col s12">
                <ul id="tabs" class="tabs z-depth-2 tabs-fixed-width">
                    <li class="tab col s2"><a href="#interna">Interna</a></li>
                    <li class="tab col s2"><a href="#internacional">Internacional</a></li>
                    <li class="tab col s2"><a href="#institucional">Instituicional</a></li>
                    <li class="tab col s2"><a href="#evento">Evento</a></li>
                    <li class="tab col s2"><a href="#marketing">Marketing</a></li>
                </ul>
            </div>

            <!-- RECO INTERNA  -->
            <div id="interna" style="padding: 20px;" class="col s12 grey lighten-5 z-depth-2">
                <form th:action="@{/IeM/addRecoInterna}" method="POST">

                    <div class="row">

                        <div style="margin-bottom: 0; padding-right: 15px" class="input-field col m3">
                            <select name="aprovacao" id="aprovacao" class="select">
                                <option value=""  th:selected="selected">Selecione</option>
                                <option th:each="a : ${aprovacao}" th:value="${a.name()}" th:text="${a.displayName()}"></option>
                            </select> <label>Aprovação</label>
                        </div>

                        <p class="left" style="padding-top: 10px; padding-right: 10px">
                            <input style="display: inline-block;" id="ativa" type="checkbox" name="recoAtiva" />
                            <label for="ativa">Reco Ativa?</label>
                        </p>

                        <p style="display: inline-block; padding-top: 10px;">
                            <input th:value="cliente" id="cliente" name="tipoReco" type="radio" />
                            <label for="cliente">Cliente</label>
                        </p>
                        <p style="display: inline-block; padding-top: 10px;">
                            <input th:value="direto" id="direto" name="tipoReco" type="radio" />
                            <label for="direto">Direto</label>
                        </p>
                    </div>

                    <div class="row">

                        <fieldset style="margin-bottom: 20px; margin-left: 10px;">
                            <legend>Recomendante</legend>

                            <div id="divCliente" class="row">

                                <div class="input-field col m3">
                                    <input id="nome" type="text" name="nomeRecomendante" />
                                    <label for="nome">Nome</label>
                                </div>

                                <div class="input-field col m3">
                                    <input id="contato" type="text" name="contato" />
                                    <label for="contato">Contato (Pessoa)</label>
                                </div>
                                
                                </div>
                                
                                <div id="divDireto" class="row">

                        		<p style="display: inline-block; padding-left: 10px;">
                           		<input th:value="consultor" id="dconsultor" name="tipoRecomendanteDireto" type="radio" />
                            	<label for="dconsultor">Próprio Consultor</label>
                        		</p>
                        		<p style="display: inline-block">
                            	<input th:value="fisica" id="fisica" name="tipoRecomendanteDireto" type="radio" />
                            	<label for="fisica">Pessoa Física</label>
                        		</p>
                        		<p style="display: inline-block">
                            	<input th:value="juridica" id="juridica" name="tipoRecomendanteDireto" type="radio" />
                            	<label for="juridica">Pessoa Jurídica</label>
                        		</p>
                               
                                </div>

                            <div class="row">
                            
                            <div class="input-field col m3">
                                    <select name="consultor.id" id="comercialResponsavelEntrada" class="select">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${consultores}" 
                                        th:value="${c.id}" 
                                        th:text="${c.sigla}+', '+${c.nome}"></option>
                                    </select>
                                    <label>Consultor</label>
                                </div>     

                                <div class="input-field col m2">
                                    <select name="campanha" id="combo-box">
                                        <option th:selected="selected"  value="">Selecione</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                    </select>
                                    <label>Campanha</label>
                                </div>

                                <div class="col m2">
                                    <label for="planta">Data</label>
                                    <input type="text" id="data" name="data" class="datepicker" />
                                </div>

                            </div>

                        </fieldset>
                    </div>

                    <div class="row">

                        <fieldset style="margin-bottom: 20px; margin-left: 10px;">
                            <legend>Recomendada</legend>

                            <div class="row">

                                <div class="input-field col m3">
                                    <input id="nome" type="text" name="nomeRecomendada" />
                                    <label for="nome">Nome</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="comercial.id" id="comercial" class="select">
                                        <option value=""  th:selected="selected">Selecione</option>
                                        <option th:each="c : ${comerciais}" 
                                        th:value="${c.id}" 
                                        th:text="${c.sigla}+', '+${c.nome}"></option>
                                    </select>
                                    <label>Comercial</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="produto.id" id="produto" class="select">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.nome}"></option>
                                    </select>
                                    <label>Produto</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m2">
                                    <select name="situacaoReco" id="situacaoReco" class="select">
                                        <option value="" th:selected="selected">Selecione</option>
                                        <option th:each="s : ${situacoes}" th:value="${s.name()}" th:text="${s.displayName()}"></option>
                                    </select>
                                    <label>Situação</label>
                                </div>

                                <div class="col m2">
                                    <label for="planta">Data</label>
                                    <input type="text" id="data" name="dataSituacao" class="datepicker" />
                                </div>

                            </div>

                            <div class="row">

                                <div class="row">

                                    <div class="input-field col m6">
                                        <textarea style="margin-left: 15px;" id="obs" name="observacao" class="materialize-textarea"></textarea>
                                        <label style="margin-left: 15px;" for="obs">Observação</label>
                                    </div>

                                </div>

                            </div>

                        </fieldset>

                    </div>

                    <div class="row">
                        <div class="col m4">
                            <button type="submit" id="btn-cad-filial" class="waves-effect green btn">
                                <i class="material-icons left">add</i>Adicionar
                            </button>
                        </div>
                    </div>

                </form>
            </div>

            <!-- RECO INTERNACIONAL  -->
            <div id="internacional" style="padding: 20px;" class="col s12 grey lighten-5 z-depth-2">

                <form th:action="@{/IeM/addRecoInternacional}" method="POST">

                    <div class="row">

                        <p class="left" style="padding-top: 10px; padding-left: 20px; padding-right: 10px">
                            <input style="display: inline-block;" id="recoAtiva" type="checkbox" name="recoAtiva" />
                            <label for="recoAtiva">Reco Ativa?</label>
                        </p>

                        <p style="display: inline-block; padding-top: 10px;">
                            <input id="recebida" th:value="recebida" name="statusReco" type="radio" />
                            <label for="recebida">Recebida</label>
                        </p>
                        <p style="display: inline-block; padding-top: 10px;">
                            <input id="enviada" th:value="enviada" name="statusReco" type="radio" />
                            <label for="enviada">Enviada</label>
                        </p>  

                    </div>

                    <div class="row">

                        <fieldset style="margin-bottom: 20px; margin-left: 10px;">
                            <legend>Recomendante</legend>

                            <div class="row">

                                <div class="input-field col m3">
                                    <input id="nome" type="text" name="recomendanteNome" />
                                    <label for="nome">Nome</label>
                                </div>

                                <div class="input-field col m3">
                                    <input id="contato" type="text" name="contato" />
                                    <label for="contato">Contato (Pessoa)</label>
                                </div>

                                <div class="input-field col m2">
                                    <select name="campanha" id="combo-box">
                                        <option th:selected="selected" th:disabled="disabled" value="">Selecione</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                    </select>
                                    <label>Campanha</label>
                                </div>

                                <div class="col m2">
                                    <label for="planta">Data</label>
                                    <input type="text" id="data" name="data" class="datepicker" />
                                </div>

								<div id="recebidaFilial">
                                <div class="input-field col m2">
                                    <select name="filialRecomendante.id" id="filialRecomendante" class="select">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="f : ${filiais}" th:value="${f.name()}" th:text="${f.displayName()}"></option>
                                    </select>
                                    <label>Filial</label>
                                </div>
								</div>
								
								<div id="enviadaConsultor">
                                <div class="input-field col m3">
                                    <select name="consultorRecomendante.id" id="consultorRecomendante" class="select">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${consultores}" 
                                        th:value="${c.id}" 
                                        th:text="${c.sigla}+', '+${c.nome}"></option>
                                    </select>
                                    <label>Consultor</label>
                                </div>    
								</div>
								
                            </div>

                        </fieldset>
                    </div>

                    <div class="row">

                        <fieldset style="margin-bottom: 20px; margin-left: 10px;">
                            <legend>Recomendada</legend>

                            <div class="row">

                                <div class="input-field col m3">
                                    <input id="nome" type="text" name="nomeRecomendada" />
                                    <label for="nome">Nome</label>
                                </div>

								<div id="recebidaComercial">
                                <div class="input-field col m3">
                                    <select name="comercial.id" id="comercial" class="select">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${comerciais}"
                                        th:value="${c.id}" 
                                        th:text="${c.sigla}+', '+${c.nome}"></option>
                                    </select>
                                    <label>Comercial</label>
                                </div>
                                </div>
                                
                                <div id="enviadaFilial">
                                <div class="input-field col m2">
                                    <select name="filialRecomendada.id" id="filialRecomendada" class="select">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="f : ${filiais}" th:value="${f.name()}" th:text="${f.displayName()}"></option>
                                    </select>
                                    <label>Filial</label>
                                </div>
                                </div>

                                <div class="input-field col m3">
                                    <select name="produto.id" id="produto" class="select" >
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.nome}"></option>
                                    </select>
                                    <label>Produto</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m2">
                                    <select name="situacaoReco" id="situacaoReco" class="select" >
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="s : ${situacoes}" th:value="${s.name()}" th:text="${s.displayName()}"></option>
                                    </select>
                                    <label>Situação</label>
                                </div>

                                <div class="col m2">
                                    <label for="planta">Data</label>
                                    <input type="text" id="data" name="dataSituacao" class="datepicker" />
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m6">
                                    <textarea style="margin-left: 10px;" id="obs" name="observacao" class="materialize-textarea"></textarea>
                                    <label style="margin-left: 10px;" for="obs">Observação</label>
                                </div>

                            </div>

                        </fieldset>

                    </div>

                    <div class="row">
                        <div class="col m4">
                            <button type="submit" id="btn-cad-filial" class="waves-effect green btn">
                                <i class="material-icons left">add</i>Adicionar
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- INSTITUCIONAL  -->
            <div id="institucional" style="padding: 20px;" class="col s12 grey lighten-5 z-depth-2">

                <form th:action="@{/IeM/addInstitucional}" method="POST">

                    <div class="row">

                        <p class="left" style="padding-top: 10px; padding-left: 20px; padding-right: 10px">
                            <input style="display: inline-block;" id="recoAtiva" type="checkbox" name="recoAtiva" />
                            <label for="ativa">Reco Ativa?</label>
                        </p>

                        <div style="width: auto;" class="col s12 m3 right">
                            <div id="update" class="card-panel teal lighten-2 z-depth-3">
                                <span class="white-text">Atualizado em: <span th:text="'12/08/2019'"></span></span>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <fieldset style="margin-bottom: 20px; margin-left: 10px;">
                            <legend>Recomendante</legend>

                            <div class="row">

                                <div class="input-field col m3">
                                    <select name="comercialResponsavelEntrada.id" id="comercialResponsavelEntrada" class="select" >
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="i : ${instituicoes}" th:value="${i.id}" th:text="${i.nome}"></option>
                                    </select>
                                    <label>Quem?</label>
                                </div>

                                <div class="col m2">
                                    <label for="planta">Data</label>
                                    <input type="text" id="data" name="data" class="datepicker" />
                                </div>

                                <div class="input-field col m2">
                                    <select id="combo-box">
                                        <option th:selected="selected" th:disabled="disabled" value="">Selecione</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                    </select>
                                    <label>Campanha</label>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="row">

                        <fieldset style="margin-bottom: 20px; margin-left: 10px;">
                            <legend>Recomendada</legend>

                            <div class="row">

                                <div class="input-field col m3">
                                    <input id="nome" type="text" name="" />
                                    <label for="nome">Nome</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="comercialResponsavelEntrada.id" id="comercialResponsavelEntrada" class="select" >
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${comerciais}" 
                                        th:value="${c.id}" 
                                        th:text="${c.sigla}+', '+${c.nome}"></option>
                                    </select>
                                    <label>Comercial</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="comercialResponsavelEntrada.id" id="comercialResponsavelEntrada" class="select">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.nome}"></option>
                                    </select>
                                    <label>Produto</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m2">
                                    <select name="comercialResponsavelEntrada.id" id="comercialResponsavelEntrada" class="select" >
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="s : ${situacoes}" th:value="${s.name()}" th:text="${s.displayName()}"></option>
                                    </select>
                                    <label>Situação</label>
                                </div>

                                <div class="col m2">
                                    <label for="planta">Data</label>
                                    <input type="text" id="data" name="dataSituacao" class="datepicker" />
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m6">
                                    <textarea style="margin-left: 10px;" id="obs" name="obs" class="materialize-textarea"></textarea>
                                    <label style="margin-left: 10px;" for="obs">Observação</label>
                                </div>

                            </div>

                        </fieldset>

                    </div>

                    <div class="row">
                        <div class="col m4">
                            <button type="submit" id="btn-cad-filial" class="waves-effect green btn">
                                <i class="material-icons left">add</i>Adicionar
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- EVENTO  -->
            <div id="evento" style="padding: 20px;" class="col s12 grey lighten-5 z-depth-2" >

                <form th:action="@{/IeM/addEvento}" method="POST">

                    <div class="row">

                        <p class="left" style="padding-top: 10px; padding-left: 20px; padding-right: 10px">
                            <input style="display: inline-block;" id="ativa" type="checkbox" name="endereco.enderecoNotaFiscalBoleto" />
                            <label for="ativa">Reco Ativa?</label>
                        </p>

                        <div style="width: auto;" class="col s12 m3 right">
                            <div id="update" class="card-panel teal lighten-2 z-depth-3">
                                <span class="white-text">Atualizado em: <span th:text="'12/08/2019'"></span></span>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <fieldset style="margin-bottom: 20px; margin-left: 10px;">
                            <legend>Recomendante</legend>

                            <div class="row">

                                <div class="input-field col m6">
                                    <textarea id="obs" name="obs" class="materialize-textarea"></textarea>
                                    <label style="margin-left: 10px;" for="obs">Observação</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col m2">
                                    <label for="planta">Data</label>
                                    <input type="text" id="data" name="data" class="datepicker" />
                                </div>

                                <div class="input-field col m2">
                                    <select id="combo-box">
                                        <option th:selected="selected" th:disabled="disabled" value="">Selecione</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                    </select>
                                    <label>Campanha</label>
                                </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="row">

                        <fieldset style="margin-bottom: 20px; margin-left: 10px;">
                            <legend>Recomendada</legend>

                            <div class="row">

                                <div class="input-field col m3">
                                    <input id="nome" type="text" name="" />
                                    <label for="nome">Nome</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="comercialResponsavelEntrada.id" id="comercialResponsavelEntrada" class="select" >
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${comerciais}" 
                                        th:value="${c.id}" 
                                        th:text="${c.sigla}+', '+${c.nome}"></option>
                                    </select>
                                    <label>Comercial</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="comercialResponsavelEntrada.id" id="comercialResponsavelEntrada" class="select" >
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.nome}"></option>
                                    </select>
                                    <label>Produto</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m2">
                                    <select name="comercialResponsavelEntrada.id" id="comercialResponsavelEntrada" class="select" >
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="s : ${situacoes}" th:value="${s.name()}" th:text="${s.displayName()}"></option>
                                    </select>
                                    <label>Situação</label>
                                </div>

                                <div class="col m2">
                                    <label for="planta">Data</label>
                                    <input type="text" id="data" name="dataSituacao" class="datepicker" />
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m6">
                                    <textarea style="margin-left: 10px;" id="obs" name="obs" th:required="required" class="materialize-textarea"></textarea>
                                    <label style="margin-left: 10px;" for="obs">Observação</label>
                                </div>

                            </div>

                        </fieldset>

                    </div>

                    <div class="row">
                        <div class="col m4">
                            <button type="submit" id="btn-cad-filial" class="waves-effect green btn">
                                <i class="material-icons left">add</i>Adicionar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        
        	<!-- MARKETING  -->
            <div id="marketing" style="padding: 20px;" class="col s12 grey lighten-5 z-depth-2" >

                <form th:action="@{/IeM/addMarketing}" method="POST">

                    <div class="row">

                        <p class="left" style="padding-top: 10px; padding-left: 20px; padding-right: 10px">
                            <input style="display: inline-block;" id="ativa" type="checkbox" name="endereco.enderecoNotaFiscalBoleto" />
                            <label for="ativa">Reco Ativa?</label>
                        </p>

                        <div style="width: auto;" class="col s12 m3 right">
                            <div id="update" class="card-panel teal lighten-2 z-depth-3">
                                <span class="white-text">Atualizado em: <span th:text="'12/08/2019'"></span></span>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <fieldset style="margin-bottom: 20px; margin-left: 10px;">
                            <legend>Recomendante</legend>

                            <div class="row">

                            <p style="display: inline-block; padding-left: 10px;">
                            <input id="telefone" name="group2" type="radio" />
                            <label for="telefone">Telefone</label>
                        	</p>
                        	<p style="display: inline-block; padding-left: 10px;">
                            <input id="email" name="group2" type="radio" />
                            <label for="email">E-mail</label>
                        	</p>
                        	<p style="display: inline-block; padding-left: 10px;">
                            <input id="site" name="group2" type="radio" />
                            <label for="site">Site</label>
                        	</p>
                        	<p style="display: inline-block; padding-left: 10px;">
                            <input id="frascati" name="group2" type="radio" />
                            <label for="frascati">Manual de Frascati</label>
                        	</p>
                        	<p style="display: inline-block; padding-left: 10px;">
                            <input id="outros" name="group2" type="radio" />
                            <label for="outros">Outros</label>
                        	</p>

                            </div>

                            <div class="row">
                            
                             <div class="input-field col m3">
                                    <select id="combo-box">
                                        <option th:selected="selected" th:disabled="disabled" value="">Selecione</option>
                                        <option value="f-iniciativas">www.f-iniciativas.com.br</option>
                                        <option value="leidobem">www.leidobem.com</option>
                                        <option value="leidainformatica">www.leidainformatica.com</option>
                                        <option value="financiamento">www.financiamentodainovacao.com</option>
                                    </select>
                                    <label>Site</label>
                            </div>

                                <div class="col m2">
                                    <label for="planta">Data</label>
                                    <input type="text" id="data" name="data" class="datepicker" />
                                </div>

                                <div class="input-field col m2">
                                    <select id="combo-box">
                                        <option th:selected="selected" th:disabled="disabled" value="">Selecione</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                    </select>
                                    <label>Campanha</label>
                                </div>
                            </div>
                            
                            <div class="row">
                            <div class="input-field col m6">
                                    <textarea id="obs" name="obs" th:required="required" class="materialize-textarea"></textarea>
                                    <label style="margin-left: 10px;" for="obs">Observação</label>
                            </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="row">

                        <fieldset style="margin-bottom: 20px; margin-left: 10px;">
                            <legend>Recomendada</legend>

                            <div class="row">

                                <div class="input-field col m3">
                                    <input id="nome" type="text" name="" />
                                    <label for="nome">Nome</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="comercialResponsavelEntrada.id" id="comercialResponsavelEntrada" class="select" th:required="required">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${comerciais}" 
                                        th:value="${c.id}" 
                                        th:text="${c.sigla}+', '+${c.nome}"></option>
                                    </select>
                                    <label>Comercial</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="comercialResponsavelEntrada.id" id="comercialResponsavelEntrada" class="select" th:required="required">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.nome}"></option>
                                    </select>
                                    <label>Produto</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m2">
                                    <select name="comercialResponsavelEntrada.id" id="comercialResponsavelEntrada" class="select" th:required="required">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="s : ${situacoes}" th:value="${s.name()}" th:text="${s.displayName()}"></option>
                                    </select>
                                    <label>Situação</label>
                                </div>

                                <div class="col m2">
                                    <label for="planta">Data</label>
                                    <input type="text" id="data" name="dataSituacao" class="datepicker" />
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m6">
                                    <textarea style="margin-left: 10px;" id="obs" name="obs" th:required="required" class="materialize-textarea"></textarea>
                                    <label style="margin-left: 10px;" for="obs">Observação</label>
                                </div>

                            </div>

                        </fieldset>

                    </div>

                    <div class="row">
                        <div class="col m4">
                            <button type="submit" id="btn-cad-filial" class="waves-effect green btn">
                                <i class="material-icons left">add</i>Adicionar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/libs/datePickerInit.js"></script>
    <script src="../js/IeM/form.js"></script>

</body>

</html>
