<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Inovação e Marketing</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/empresa/list.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Inovação e Marketing</h4>
                <hr />
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
        
            <section id="filters">
                <div class="input-field col m5">
                    <i class="material-icons prefix">search</i> <input type="text" id="txt-pesq-instituicao" /> 
                    <label for="txt-pesq-instituicao">Pesquisar Oportunidade</label>
                </div>
            </section>
            
            <div class="col m3 offset-m4">
                <a type="submit" class="waves-effect green btn right" th:href="@{/IeM/form}" title="adicionar"><i
					class="material-icons left">add</i>Cadastrar</a>
            </div>
        </div>
        <div class="row">
            <table id="tabela-instituicoes" class="responsive-table tabela-instituicoes bordered">
                <thead>
                    <tr>
                        <th>Oportunidade</th>
                        <th>Ativa</th>
                        <th>Recomendada</th>
                        <th>Data</th>
                        <th></th>
                    </tr>
                </thead>
                
                
                <tbody>
                    <tr th:each="r : ${recosInternas}" id="recoInterna">
                    	<td th:text="${r.oportunidade}"></td>
                    	<td th:if="${r.recoAtiva == true}" th:text="SIM"></td>
                    	<td th:if="${r.recoAtiva == false}" th:text="NÃO"></td>
                    	<td th:text="${r.nomeRecomendada}"></td>
                    	<td th:text="${r.data}"></td>
                    	<td class="left">
                            <a th:href="@{/IeM/recoInterna/} + ${r.id}" class="btn light-blue darken-4"> <i class="material-icons">edit</i>
                            </a>
                        </td>
                        <td class="left" sec:authorize="hasRole('ROLE_ADMIN')">

                            <button type="button" class="btn modal-trigger btn tooltip red" th:attr="data-target='modal' + ${r.id}" id="btnRemover"><i class="material-icons">delete</i></button>

                            <form th:action="@{/IeM/deleteRecoInterna/} + ${r.id}" method="POST">
                                <div th:id="modal + ${r.id}" class="modal bottom-sheet">
                                    <div class="modal-content">
                                        <h4>Deseja mesmo remover a oportunidade ? <i class="material-icons right modal-close mouse-hand">close</i></h4>
                                        <p th:text="'Você está removendo ' + ${r.oportunidade} +', este processo é irreversível'"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Remover</button>
                                    </div>
                                </div>
                            </form>

                        </td>
                    </tr>
                    	<tr th:each="r : ${recosInternacionais}" id="recoInternacional">
                    	<td th:text="${r.oportunidade}"></td>
                    	<td th:if="${r.recoAtiva == true}" th:text="SIM"></td>
                    	<td th:if="${r.recoAtiva == false}" th:text="NÃO"></td>
                    	<td th:text="${r.nomeRecomendada}"></td>
                    	<td th:text="${r.data}"></td>
                    	<td class="left">
                            <a th:href="@{/IeM/recoInternacional/} + ${r.id}" class="btn light-blue darken-4"> <i class="material-icons">edit</i>
                            </a>
                        </td>
                        <td class="left" sec:authorize="hasRole('ROLE_ADMIN')">

                            <button type="button" class="btn modal-trigger btn tooltip red" th:attr="data-target='modal' + ${r.id}" id="btnRemover"><i class="material-icons">delete</i></button>

                            <form th:action="@{/IeM/deleteRecoInternacional/} + ${r.id}" method="POST">
                                <div th:id="modal + ${r.id}" class="modal bottom-sheet">
                                    <div class="modal-content">
                                        <h4>Deseja mesmo remover a oportunidade ? <i class="material-icons right modal-close mouse-hand">close</i></h4>
                                        <p th:text="'Você está removendo ' + ${r.oportunidade} +', este processo é irreversível'"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Remover</button>
                                    </div>
                                </div>
                            </form>

                        </td>
                    </tr>
                    	<tr th:each="i : ${institucionais}" id="institucional">
                    	<td th:text="${i.oportunidade}"></td>
                    	<td th:if="${i.recoAtiva == true}" th:text="SIM"></td>
                    	<td th:if="${i.recoAtiva == false}" th:text="NÃO"></td>
                    	<td th:text="${i.nomeRecomendada}"></td>
                    	<td th:text="${i.data}"></td>
                    	<td class="left">
                            <a th:href="@{/IeM/institucional/} + ${i.id}" class="btn light-blue darken-4"> <i class="material-icons">edit</i>
                            </a>
                        </td>
                        <td class="left" sec:authorize="hasRole('ROLE_ADMIN')">

                            <button type="button" class="btn modal-trigger btn tooltip red" th:attr="data-target='modal' + ${i.id}" id="btnRemover"><i class="material-icons">delete</i></button>

                            <form th:action="@{/IeM/deleteInstitucional/} + ${i.id}" method="POST">
                                <div th:id="modal + ${i.id}" class="modal bottom-sheet">
                                    <div class="modal-content">
                                        <h4>Deseja mesmo remover a oportunidade ? <i class="material-icons right modal-close mouse-hand">close</i></h4>
                                        <p th:text="'Você está removendo ' + ${i.oportunidade} +', este processo é irreversível'"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Remover</button>
                                    </div>
                                </div>
                            </form>

                        </td>
                    </tr>
                    	<tr th:each="e : ${eventos}" id="evento">
                    	<td th:text="${e.oportunidade}"></td>
                    	<td th:if="${e.recoAtiva == true}" th:text="SIM"></td>
                    	<td th:if="${e.recoAtiva == false}" th:text="NÃO"></td>
                    	<td th:text="${e.nomeRecomendada}"></td>
                    	<td th:text="${e.data}"></td>
                    	<td class="left">
                            <a th:href="@{/IeM/evento/} + ${e.id}" type="submit" class="btn light-blue darken-4"> <i class="material-icons">edit</i>
                            </a>
                        </td>
                        <td class="left" sec:authorize="hasRole('ROLE_ADMIN')">

                            <button type="button" class="btn modal-trigger btn tooltip red" th:attr="data-target='modal' + ${e.id}" id="btnRemover"><i class="material-icons">delete</i></button>

                            <form th:action="@{/IeM/deleteEvento/} + ${e.id}" method="POST">
                                <div th:id="modal + ${e.id}" class="modal bottom-sheet">
                                    <div class="modal-content">
                                        <h4>Deseja mesmo remover a oportunidade ? <i class="material-icons right modal-close mouse-hand">close</i></h4>
                                        <p th:text="'Você está removendo ' + ${e.oportunidade} +', este processo é irreversível'"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Remover</button>
                                    </div>
                                </div>
                            </form>

                        </td>
                    </tr>
                    	 <tr th:each="m : ${marketings}" id="marketing">
                    	<td th:text="${m.oportunidade}"></td>
                    	<td th:if="${m.recoAtiva == true}" th:text="SIM"></td>
                    	<td th:if="${m.recoAtiva == false}" th:text="NÃO"></td>
                    	<td th:text="${m.nomeRecomendada}"></td>
                    	<td th:text="${m.data}"></td>
                    	<td class="left">
                            <a th:href="@{/IeM/marketing/} + ${m.id}" type="submit" class="btn light-blue darken-4"> <i class="material-icons">edit</i>
                            </a>
                        </td>
                    	<td class="left" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_IEM')">

                            <button type="button" class="btn modal-trigger btn tooltip red" th:attr="data-target='modal' + ${m.id}" id="btnRemover"><i class="material-icons">delete</i></button>

                            <form th:action="@{/IeM/deleteMarketing/} + ${m.id}" method="POST">
                                <div th:id="modal + ${m.id}" class="modal bottom-sheet">
                                    <div class="modal-content">
                                        <h4>Deseja mesmo remover a oportunidade ? <i class="material-icons right modal-close mouse-hand">close</i></h4>
                                        <p th:text="'Você está removendo ' + ${m.oportunidade} +', este processo é irreversível'"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Remover</button>
                                    </div>
                                </div>
                            </form>

                        </td>
                    </tr>
                 </tbody>
             </table>
        </div>
      </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/instituicao/list.js"></script>

</body>

</html>
