<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="UTF-8" />
	<title>Reco Marketing</title>
	<link th:include="fragments/header :: header-css"/>
</head>

<body>

  <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Alterações Reco Marketing</h4>
                <hr />
            </div>
        </div>
    </div>
    
    <div class="container">

        <div class="row">
            <div style="padding-left: 0px; padding-right: 0px;" class="col s12">
                <ul id="tabs" class="tabs z-depth-2 tabs-fixed-width">
                    <li class="tab col s2"><a href="#marketing">Marketing</a></li>
                </ul>
          	</div>
          	
          	<!-- MARKETING  -->
            <div id="marketing" style="padding: 20px;" class="col s12 grey lighten-5 z-depth-2" >

                <form th:action="@{/IeM/update/marketing/}" method="POST">

                    <div class="row">

                        <p class="left" style="padding-top: 10px; padding-left: 20px; padding-right: 10px">
                            <input style="display: inline-block;" id="ativa" type="checkbox" name="endereco.enderecoNotaFiscalBoleto" />
                            <label for="ativa">Reco Ativa?</label>
                        </p>

                        <div style="width: auto;" class="col s12 m3 right">
                            <div id="update" class="card-panel teal lighten-2 z-depth-3">
                                <span class="white-text">Atualizado em: <span th:text="'12/08/2019'"></span></span>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <fieldset style="margin-bottom: 20px; margin-left: 10px;">
                            <legend>Recomendante</legend>

                            <div class="row">

                            <p style="display: inline-block; padding-left: 10px;">
                            <input id="telefone" name="group2" type="radio" />
                            <label for="telefone">Telefone</label>
                        	</p>
                        	<p style="display: inline-block; padding-left: 10px;">
                            <input id="email" name="group2" type="radio" />
                            <label for="email">E-mail</label>
                        	</p>
                        	<p style="display: inline-block; padding-left: 10px;">
                            <input id="site" name="group2" type="radio" />
                            <label for="site">Site</label>
                        	</p>
                        	<p style="display: inline-block; padding-left: 10px;">
                            <input id="frascati" name="group2" type="radio" />
                            <label for="frascati">Manual de Frascati</label>
                        	</p>
                        	<p style="display: inline-block; padding-left: 10px;">
                            <input id="outros" name="group2" type="radio" />
                            <label for="outros">Outros</label>
                        	</p>

                            </div>

                            <div class="row">
                            
                             <div class="input-field col m3">
                                    <select id="combo-box">
                                        <option th:selected="selected" th:disabled="disabled" value="">Selecione</option>
                                        <option value="f-iniciativas">www.f-iniciativas.com.br</option>
                                        <option value="leidobem">www.leidobem.com</option>
                                        <option value="leidainformatica">www.leidainformatica.com</option>
                                        <option value="financiamento">www.financiamentodainovacao.com</option>
                                    </select>
                                    <label>Site</label>
                            </div>

                                <div class="col m2">
                                    <label for="planta">Data</label>
                                    <input type="text" id="data" name="data" class="datepicker" />
                                </div>

                                <div class="input-field col m2">
                                    <select id="combo-box">
                                        <option th:selected="selected" th:disabled="disabled" value="">Selecione</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                    </select>
                                    <label>Campanha</label>
                                </div>
                            </div>
                            
                            <div class="row">
                            <div class="input-field col m6">
                                    <textarea id="obs" name="obs" th:required="required" class="materialize-textarea"></textarea>
                                    <label style="margin-left: 10px;" for="obs">Observação</label>
                            </div>
                            </div>

                        </fieldset>
                    </div>

                    <div class="row">

                        <fieldset style="margin-bottom: 20px; margin-left: 10px;">
                            <legend>Recomendada</legend>

                            <div class="row">

                                <div class="input-field col m3">
                                    <input id="nome" type="text" name="" />
                                    <label for="nome">Nome</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="comercialResponsavelEntrada.id" id="comercialResponsavelEntrada" class="select" th:required="required">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${comerciais}" 
                                        th:value="${c.id}" 
                                        th:text="${c.sigla}+', '+${c.nome}"></option>
                                    </select>
                                    <label>Comercial</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="comercialResponsavelEntrada.id" id="comercialResponsavelEntrada" class="select" th:required="required">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.nome}"></option>
                                    </select>
                                    <label>Produto</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m2">
                                    <select name="comercialResponsavelEntrada.id" id="comercialResponsavelEntrada" class="select" th:required="required">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="s : ${situacoes}" th:value="${s.name()}" th:text="${s.displayName()}"></option>
                                    </select>
                                    <label>Situação</label>
                                </div>

                                <div class="col m2">
                                    <label for="planta">Data</label>
                                    <input type="text" id="data" name="dataSituacao" class="datepicker" />
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m6">
                                    <textarea style="margin-left: 10px;" id="obs" name="obs" th:required="required" class="materialize-textarea"></textarea>
                                    <label style="margin-left: 10px;" for="obs">Observação</label>
                                </div>

                            </div>

                        </fieldset>

                    </div>
          	
          	  <div class="row">
                    <div class="col m3">
                        <button type="submit" id="btn-cad-filial" class="waves-effect green btn"><i class="material-icons left">edit</i>Atualizar</button>
                    </div>
                        <div class="col m8 right-align">
                   			<a th:href="@{/IeM/all}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
               			</div>
                    </div>

                </form>
            </div> 	
            </div>
            </div>
            
			 <div th:include="fragments/footer :: footer"></div>

    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/libs/datePickerInit.js"></script>
    <script src="../js/IeM/form.js"></script>
    
    <script>
    		
    		$(function () {
    			 $('select').material_select();
    			 $("#divCliente").hide();
    			 $("#divDireto").hide();
    			 $("#recebidaFilial").hide();
    			 $("#recebidaComercial").hide();
    			 $("#enviadaConsultor").hide();
    			 $("#enviadaFilial").hide();
    		 });

    		$("input[name='tipoReco']").click(function() {
    		    if ($(this).val() === 'cliente') {
    		    	$("#divDireto").hide();
    		    	$("#divCliente").show();
    		    } else if ($(this).val() === 'direto') {
    		    	$("#divCliente").hide();
    		    	$("#divDireto").show();
    		    } 
    		  });

    		$("input[name='statusReco']").click(function() {
    		    if ($(this).val() === 'recebida') {
    		    	$("#enviadaConsultor").hide();
    		    	$("#enviadaFilial").hide();
    		    	$("#recebidaFilial").show();
    		    	$("#recebidaComercial").show();
    		    } else if ($(this).val() === 'enviada') {
    		    	 $("#recebidaFilial").hide();
    		    	 $("#recebidaComercial").hide();
    		    	$("#enviadaConsultor").show();
    		    	$("#enviadaFilial").show();
    		    } 
    		  });


    		
    		</script>

</body>
</html>