<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="UTF-8" />
	<title>Reco Interna</title>
	<link th:include="fragments/header :: header-css"/>
</head>

<body>

	  <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Alterações Reco Interna</h4>
                <hr />
            </div>
        </div>
    </div>
    
    <div class="container">

        <div class="row">
            <div style="padding-left: 0px; padding-right: 0px;" class="col s12">
                <ul id="tabs" class="tabs z-depth-2 tabs-fixed-width">
                    <li class="tab col s2"><a href="#recoInterna">Interna</a></li>
                </ul>
          	</div>
          	
           <!-- RECO INTERNA  -->
            <div id="recoInterna" style="padding: 20px;" class="col s12 grey lighten-5 z-depth-2">
                <form th:action="@{/IeM/update/recoInterna/}" method="POST">

                    <div class="row">

                        <div style="margin-bottom: 0; padding-right: 15px" class="input-field col m3">
                            <select name="aprovacao" id="aprovacao" class="select">
                                <option value="" th:selected="selected">Selecione</option>
                                <option th:each="a : ${aprovacao}" 
                                		th:value="${a.name()}" 
                                		th:text="${a.displayName()}"></option>
                            </select> <label>Aprovação</label>
                        </div>

                        <p class="left" style="padding-top: 10px; padding-right: 10px">
                            <input style="display: inline-block;" id="recoAtiva" type="checkbox" name="recoAtiva" />
                            <label for="ativa">Reco Ativa?</label>
                        </p>

                        <p style="display: inline-block; padding-top: 10px;">
                            <input th:value="cliente" id="cliente" name="tipoReco" type="radio" />
                            <label for="cliente">Cliente</label>
                        </p>
                        <p style="display: inline-block; padding-top: 10px;">
                            <input th:value="direto" id="direto" name="tipoReco" type="radio" />
                            <label for="direto">Direto</label>
                        </p>
                    </div>

                    <div class="row">

                        <fieldset style="margin-bottom: 20px; margin-left: 10px;">
                            <legend>Recomendante</legend>

                            <div id="divCliente" class="row">

                                <div class="input-field col m3">
                                    <input id="nome" type="text" name="nomeRecomendante" />
                                    <label for="nome">Nome</label>
                                </div>

                                <div class="input-field col m3">
                                    <input id="contato" type="text" name="contato" />
                                    <label for="contato">Contato (Pessoa)</label>
                                </div>
                                
                                </div>
                                
                                <div id="divDireto" class="row">

                        		<p style="display: inline-block; padding-left: 10px;">
                           		<input th:value="consultor" id="dconsultor" name="tipoRecomendanteDireto" type="radio" />
                            	<label for="dconsultor">Próprio Consultor</label>
                        		</p>
                        		<p style="display: inline-block">
                            	<input th:value="fisica" id="fisica" name="tipoRecomendanteDireto" type="radio" />
                            	<label for="fisica">Pessoa Física</label>
                        		</p>
                        		<p style="display: inline-block">
                            	<input th:value="juridica" id="juridica" name="tipoRecomendanteDireto" type="radio" />
                            	<label for="juridica">Pessoa Jurídica</label>
                        		</p>
                               
                                </div>

                            <div class="row">
                            
                            <div class="input-field col m3">
                                    <select name="consultor.id" id="comercialResponsavelEntrada" class="select">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${consultores}" 
                                        th:value="${c.id}" 
                                        th:text="${c.sigla}+', '+${c.nome}"></option>
                                    </select>
                                    <label>Consultor</label>
                                </div>     

                                <div class="input-field col m2">
                                    <select name="campanha" id="combo-box">
                                        <option th:selected="selected" th:disabled="disabled" value="">Selecione</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                    </select>
                                    <label>Campanha</label>
                                </div>

                                <div class="col m2">
                                    <label for="planta">Data</label>
                                    <input type="text" id="data" name="data" class="datepicker" />
                                </div>

                            </div>

                        </fieldset>
                    </div>

                    <div class="row">

                        <fieldset style="margin-bottom: 20px; margin-left: 10px;">
                            <legend>Recomendada</legend>

                            <div class="row">

                                <div class="input-field col m3">
                                    <input id="nome" type="text" name="nomeRecomendada"/>
                                    <label for="nome">Nome</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="comercial.id" id="comercial" class="select">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="c : ${comerciais}" 
                                        th:value="${c.id}" 
                                        th:text="${c.sigla}+', '+${c.nome}"></option>
                                    </select>
                                    <label>Comercial</label>
                                </div>

                                <div class="input-field col m3">
                                    <select name="produto.id" id="produto" class="select">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="p : ${produtos}" 
                                        		th:value="${p.id}" 
                                        		th:text="${p.nome}"></option>
                                    </select>
                                    <label>Produto</label>
                                </div>

                            </div>

                            <div class="row">

                                <div class="input-field col m2">
                                    <select name="situacaoReco" id="situacaoReco" class="select">
                                        <option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
                                        <option th:each="s : ${situacoes}" 
                                        		th:value="${s.name()}" 
                                        		th:text="${s.displayName()}"></option>
                                    </select>
                                    <label>Situação</label>
                                </div>

                                <div class="col m2">
                                    <label for="planta">Data</label>
                                    <input type="text" id="data" name="dataSituacao" class="datepicker" />
                                </div>

                            </div>

                            <div class="row">

                                <div class="row">

                                    <div class="input-field col m6">
                                        <textarea style="margin-left: 15px;" id="obs" name="observacao" class="materialize-textarea"></textarea>
                                        <label style="margin-left: 15px;" for="obs">Observação</label>
                                    </div>

                                </div>

                            </div>

                        </fieldset>

                    </div>

                     <div class="row">
                    <div class="col m3">
                        <button type="submit" id="btn-cad-filial" class="waves-effect green btn"><i class="material-icons left">edit</i>Atualizar</button>
                    </div>
                        <div class="col m8 right-align">
                   			<a th:href="@{/IeM/all}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
               			</div>
                    </div>

                </form>
            </div> 	
            </div>
            </div>
            
			 <div th:include="fragments/footer :: footer"></div>

    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/libs/datePickerInit.js"></script>
    <script th:src="@{../js/IeM/form.js}"></script>
    
    <script>
    
    $(function () {
   	 $('select').material_select();
   	 $("#divCliente").hide();
   	 $("#divDireto").hide();
   	 $("#recebidaFilial").hide();
   	 $("#recebidaComercial").hide();
   	 $("#enviadaConsultor").hide();
   	 $("#enviadaFilial").hide();
    });

   $("input[name='tipoReco']").click(function() {
       if ($(this).val() === 'cliente') {
       	$("#divDireto").hide();
       	$("#divCliente").show();
       } else if ($(this).val() === 'direto') {
       	$("#divCliente").hide();
       	$("#divDireto").show();
       } 
     });

   $("input[name='statusReco']").click(function() {
       if ($(this).val() === 'recebida') {
       	$("#enviadaConsultor").hide();
       	$("#enviadaFilial").hide();
       	$("#recebidaFilial").show();
       	$("#recebidaComercial").show();
       } else if ($(this).val() === 'enviada') {
       	 $("#recebidaFilial").hide();
       	 $("#recebidaComercial").hide();
       	$("#enviadaConsultor").show();
       	$("#enviadaFilial").show();
       } 
     });
    
    </script>
    
</body>
</html>