<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="UTF-8" />
<!-- 	<title th:text="Detalhes Comissão + ' : ' +  ${consultor.nome}"></title> -->
	<title>Detalhes Comissão e Prêmio</title>
	<link th:include="fragments/header :: header-css" />
</head>

	<body>
	
		<div th:include="fragments/header :: menu-lateral"></div>
		<div th:include="fragments/btnMenuLogout :: btns-default"></div>
		
		<div class="container" style="width: 100%">
			<div class="col m10">
				<div class="center">
					<!-- Título da página -->
					<h4 class="green-text darken-4" style="margin-bottom: 0px; margin-top: 0px" th:text="${consultor.nome}"></h4>
					<hr />
					
					<div class="col m12 right-align">
						<a href="javascript:history.back()" data-position="above" data-tooltip="Voltar para listagem" class="tooltipped waves-effect tooltip"><i
							class="material-icons left">arrow_back</i>Voltar</a>
					</div>
				</div>
			</div>
			<div class="row center">
				<h5>Informações</h5>
				<table class="responsive-table table-default bordered">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Cargo</th>
							<th>E-mail</th>
						</tr>
					</thead>
					<tbody id="tbody-informacoes">
						<tr>
							<td id="nome" 	th:text="${consultor.nome}"></td>
							<td id="cargo" 	th:text="${consultor.cargo}"></td>
							<td id="email" 	th:text="${consultor.email}"></td>
							
						</tr>
					</tbody>
				</table>
				<input type="text" id="consultorId" th:value="${consultor.id}" th:hidden="hidden" />
			</div>
			
			<ul class="collapsible">
				<li>
					<div class="collapsible-header"><i class="material-icons" id="colapseComissoes">flag</i>Comissões</div>
   					<div class="collapsible-body grey lighten-3">
   					<div class="row right" >
				                    <a id="excelBtn" onClick="htmlTableToExcel('tabela-comissoes','comissoes');" data-position="right" data-tooltip="Baixar o estado das comissões para Excel" class="tooltipped waves-effect btn">
					                    <i class="material-icons left">file_download</i>Exportar Excel
				                    </a>
				            </div>
   						<div class="row center">
   						
   						
				             
				             
							<h4>Comissões</h4>
							
							 
							
							<div class="row">
								 <div class="col s12 m3">
                    				<div id="rels" class="card-panel #03a9f4 light-blue valor">
                        				<span class="white-text" style="font-size: 1.2em"><b>Total a Receber: <br></br></b><b id="countReceber">0,00</b></span>
                   					</div>
               					 </div>
               					 
               					 <div class="col s12 m3">
                    				<div id="rels" class="card-panel #03a9f4 light-blue valor">
                        				<span class="white-text" style="font-size: 1.2em"><b>Total Recebido: <br></br></b> <b id="countRecebido">0,00</b></span>
                   					</div>
               					 </div>
               					 
               					 <div class="col s12 m3">
                    				<div id="rels" class="card-panel #03a9f4 light-blue valor">
                        				<span class="white-text" style="font-size: 1.2em"><b>Total Simulado: <br></br></b><b id="countSimulado">0</b></span>
                   					</div>
               					 </div>
               					 
               					 <div class="col s12 m3">
                    				<div id="rels" class="card-panel #03a9f4 light-blue valor">
                        				<span class="white-text" style="font-size: 1.2em"><b>A Receber Real: <br></br></b><b id="countReal">0</b></span>
                   					</div>
               					 </div>
							</div>
							
							
    
    					<div class="row center"> 
								<div class="col left" >
				                    <a  sec:authorize="hasRole('ROLE_ADMIN')" type="submit" data-position="above" data-tooltip="Adicionar nova comissão" class="tooltipped waves-effect light-blue darken-4 btn" 
										th:href="@{/comissoes/form}">
										<i class="material-icons left">add</i>Adicionar Comissão
									</a>
				                </div>
				                
				               
				                <div class="row center">
				         	<div class="col center" >
	                				<a id="atualizaComissoes"  data-position="center" data-tooltip="Atualizar comissões" class="tooltipped #0277bd light-blue darken-3 btn"><i class="material-icons left">refresh
	                				</i>Atualizar Comissões</a>
	                		</div>
				         </div>    
							
				                
				         </div>   
				         
				         
						
							
							
	<ul class="collapsible popout" data-collapsible="expandable">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">search</i>Filtros
            </div>
            <div class="collapsible-body grey lighten-3">
             
               

                <form action="">
     <div class="row">
                    <input name="queryTrigger" th:hidden="hidden" type="text" value="true" />


                            <div class="input-field col m2">
                                <select name="campanha" class="select" id="select-campanha">
                                    <option th:selected="selected" th:value="''">Selecione</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                </select>
                                <label>Campanha</label>
                                
                            </div>
                            
                            <div class="input-field col m3">
                                <select name="idProduto" id="selectProduto" class="select">
                                    <option value="" th:selected="selected">Selecione</option>
                                    <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.nome}"></option>
                                </select>
                                <label>Produto</label>
                            </div>

                            <div class="input-field col m4">
                                <select class="select" name="etapa" id="select-etapa">
                                    <option value="" th:selected="selected">Selecione</option>
                                </select>
                                <label>Etapa</label>
                            </div>
                        
                            
                            <div class="input-field col m2">
                              <select class="select" name="trimestrePagamento" id="trimestrePagamento">
                                       <option value="" th:selected="selected">Selecione</option>
                                       <option value='1'>1</option>
                                       <option value='2'>2</option>
                                       <option value='3'>3</option>
                                       <option value='4'>4</option>
                              </select>
                               <label>Trimestre Pagamento</label>
                            </div>
                            
                            <div class="input-field col m2">
                                <select name="anoPagamento" class="select" id="anoPagamento">
                                    <option th:selected="selected" th:value="''">Selecione</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                </select>
                                <label>Ano Pagamento</label>
                                
                            </div>
                            
                                
                            <div class="input-field col m2">
                              <select class="select" name="pagamento" id="pagamento">
                                       <option value="" th:selected="selected">Selecione</option>
                                       <option value='true'>Sim</option>
                                       <option value='false'>Não</option>
                              </select>
                               <label>Pago</label>
                            </div>
                            
                            <div class="input-field col m2">
                              <select class="select" name="simulada" id="simulada">
                                       <option value="" th:selected="selected">Selecione</option>
                                       <option value='true'>Sim</option>
                                       <option value='false'>Não</option>
                              </select>
                               <label>Simulada</label>
                            </div>
                            
                        <div class="input-field col m3">
                            <i class="material-icons prefix">search</i>
                            <input name="empresa" type="text" id="txt-pesq-empresa" />
                            <label for="txt-pesq-cliente">Cliente</label>
                        </div>
                        
                       
                        
                        <div class="col m3 ">
                            <button type="submit" id="btn" class="waves-effect blue btn modal-trigger left-align">
                                <i class="material-icons left">search</i>Buscar
                            </button>
                        </div>
           

                        
                    </div>
                </form>
            </div>
        </li>
    </ul>
    
   
							<table class="responsive-table table-default bordered" id="tabela-comissoes">
								<thead>
									<tr>
										<th>Campanha</th>
				                     	<th>Contrato</th>
				                     	<th>Produto</th>
				                     	<th>Dt. recebimento do cliente</th>
				                     	<th>Dt. recebimento do funcionário</th>
				                     	<th>Etapa Trabalho</th>
				              <!--        	<th>Cobrado</th> -->
				                     	<th>Comissão Perc.</th>
				                     	<th>Comissão Valor</th>
				                     	<th>Comissão Simulada</th>
				                     	<th class="ignore">Detalhes Comissão </th>
				                     	<th class="ignore" sec:authorize="hasRole('ROLE_ADMIN')"> Editar Comissão </th>
				                     	<th class="ignore">Validar Comissão </th>
				                     	<th class="ignore" sec:authorize="hasRole('ROLE_ADMIN')"> Excluir Comissão </th>
									</tr>
								</thead>
								<tbody id="tbody-comissoes">
									<tr th:each="comissoes : ${comissoes}">
										<td id="campanha" 					th:text="${comissoes?.producao?.ano}"></td>
										<td id="cliente" 					th:text="${comissoes?.contrato?.cliente?.razaoSocial}"></td>
										<td id="produto" 					th:text="${comissoes?.producao?.produto?.nome}"></td>
										<td id="dtRecebimentoCliente" 		th:text="${comissoes?.notaFiscal?.dataCobranca}"></td>
										<td id="dtRecebimentoFuncionario" 	th:text="${comissoes?.dataRecebimentoFuncionario}"></td>
										<td id="percentualEtapa" 			th:text="${comissoes?.etapaTrabalho?.nome}"> </td>
										<!-- <td id="cobrado" 					th:text="${comissoes?.cobrado}"></td> -->
										<td id="comissaoPerc" 				th:text="${comissoes?.comissaoPercentual} + '%'"></td>
										<td id="comissaoValor"				th:text="'R$' +  ${comissoes?.comissaoValor}"></td>
										<td th:text="${comissoes?.comissaoSimulada} ? 'SIM' : 'NÃO'"> </td>
										
										<td class="ignore">
											<a th:href="@{/comissoes/info/} + ${comissoes.id}"
				                            		data-position="top" 
				                            		data-tooltip="Visualizar comissão" 
				                            		class="tooltipped btn grey darken-1 ">
				                                <i class="material-icons">visibility</i>
				                            </a>
			                        	</td>
				                        <td class="ignore" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_ADMINISTRATIVO')">
				                            <a th:href="@{/comissoes/update/} + ${comissoes.id}" 
				                            		type="submit" 
				                            		data-position="top" 
				                            		data-tooltip="Editar comissão" 
				                            		class="tooltipped btn light-blue darken-4">
				                                <i class="material-icons">edit</i>
				                       		</a>
				                        </td>
				                       
										
										
										<td class="ignore"> 
											<button th:if="${comissoes?.validado == false and comissoes?.comissaoSimulada == false}" th:value="${comissoes.id}" name="validado" title="Validar Comissão" class="btn validar">
												<i class="Large material-icons ">check</i>
											</button>
							
											<button th:if="${comissoes?.validado != false or comissoes?.comissaoSimulada != false}" th:disabled='disabled' name="validado" title="Validar Comissão" class="btn validar">
												<i class="Large material-icons ">check</i>
											</button>

										</td>
				   				

				                <td class="ignore">        	
				                    <button sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_ADMINISTRATIVO')" type="button" class="btn modal-trigger btn tooltip red "
											th:attr="data-target='modalD' + ${comissoes.id}" id="btnRemover" >
											<i class="material-icons">delete</i>
									</button>

									<form th:action="@{/comissoes/delete/} + ${comissoes.id}" method="POST">
										<div th:id="modalD + ${comissoes.id}" class="modal bottom-sheet">
											<div class="modal-content">
												<h4>
													Deseja mesmo remover essa comissão ? <i
													class="material-icons right modal-close mouse-hand">close</i>
												</h4>
												<p
												th:text="'Você está removendo uma produção, este processo é irreversível'"></p>
											</div>
											<div class="modal-footer">
												<button type="submit"
												class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Remover</button>
											</div>
										</div>
									</form>
				                 </td>    
				                    	
				                    	                 
									</tr>
								</tbody>
							</table>
							
						</div>
						
						
					</div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">star</i>Prêmios</div>
	                    <div class="collapsible-body grey lighten-3">
							<div class="row center">
								<h5>Prêmios</h5>
								<section id="filters">
									<div class="input-field col s3 m3 s3 center">
										<select class="select" name="campanhaComissao" id="select-ano" style="left: 100px;">
											<option value="" th:selected="selected">Selecione</option>
		      								<option value="2018">2018</option>
		                                	<option value="2019">2019</option>
		                                	<option value="2020">2020</option>
		                                	<option value="2021">2021</option>
			      						</select>
	                                <label>Campanha</label>
									</div>
									<div class="input-field col s3 m3 s3 center">
										<i class="material-icons prefix center" style="margin-top: 10px">date_range</i> 
										<input type="text" id="dataRecebimentoPremio" name="dataRecebimentoComissao" class="datepicker" /> 
										<label for="txt-pesq-dataRecebimento">Filtrar Dt. recebimento Func</label>
									</div>
									<div class="col s3 m3 s3 center" style="margin-top: 18px">
					                    <a type="submit" data-position="above" data-tooltip="Adicionar novo prêmio" class="tooltipped waves-effect light-blue darken-4 btn" 
											th:href="@{/premios/add}">
											<i class="material-icons left">add</i>Adicionar Prêmio
										</a>
					                </div>
									<div class="col s3 m3 s3" style="margin-top: 18px">
					                    <a id="excelBtn" onClick="htmlTableToExcel('tabela-premio','premio');" data-position="left" data-tooltip="Baixar o estado dos prêmios para Excel" class="tooltipped waves-effect cols3 m4 l4 btn center">
						                    <i class="material-icons left">file_download</i>Exportar Excel
					                    </a>
					                </div>
								</section>
							<table id="tabela-premio" class="responsive-table table-default bordered">
								<thead>
									<tr>
										<th class="ignore" th:hidden="hidden">#</th>
										<th>Campanha</th>
<!-- 									<th>Propostas</th> -->
<!-- 									<th>Contrato</th> -->
<!-- 									<th>Ticket Medio</th> -->
<!-- 									<th>Faturamento no ano</th> -->
<!-- 									<th>Eficiência</th> -->
				                    	<th>Dt. recebimento do funcionário</th>
				                     	<th>Percentual</th>
										<th>Valor a receber</th>
										<th class="ignore" ></th>
									</tr>
								</thead>
								<tbody id="tbody-premios">
									<tr th:each="p : ${premios}">
										<td id="campanhaPremio" 			th:text="${p.producao.ano}"></td>
										<td id="dataRecebimentoFuncionario" th:text="${p.dataRecebimentoFuncionario}"></td>
										<td id="porcentagemPremio" 			th:text="${p.porcentagemPremio} + '%'"></td>
										<td id="ValorPremio" 				th:text="'R$' + ${p.valorPremio}"></td>
										<td class="ignore">
											<a th:href="@{/premios/info/} + ${p.id}"
				                            		data-position="top" 
				                            		data-tooltip="Visualizar prêmio" 
				                            		class="tooltipped btn grey darken-1 ">
				                                <i class="material-icons">visibility</i>
				                            </a>
			                        	</td>
				                        <td sec:authorize="hasRole('ROLE_ADMIN')" class="ignore">
				                            <a th:href="@{/premios/premio/update} + ${p.id}" 
				                            		type="submit" 
				                            		data-position="top" 
				                            		data-tooltip="Editar prêmio" 
				                            		class="tooltipped btn light-blue darken-4">
				                                <i class="material-icons">edit</i>
				                       		</a>
				                        </td>
			                        	<td sec:authorize="hasRole('ROLE_ADMIN')" class="ignore">
				                            <button type="button" 
				                            		data-position="top" 
				                            		data-tooltip="Excluir prêmio" 
				                            		class="tooltipped modal-trigger btn tooltip red" 
				                            		th:attr="data-target='modal' + ${p.id}" 
				                            		id="btnRemoverPremio">
				                            		<i class="material-icons">delete</i>
				                        	</button>  
				                    	</td> 
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div th:include="fragments/footer :: footer"></div>
		<script src="../js/libs/jquery.mask.min.js"></script>
		<script src="../js/libs/datePickerInit.js"></script>
		<script th:src="@{/js/comissao/details.js}"></script>
		<script th:src="@{/js/libs/exportExcel.js}"></script>
	</body>
</html>