<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8" />
		<title>Cadastrar Comissão</title>
		<link th:include="fragments/header :: header-css" />
	</head>
	
	<body>
		<div th:include="fragments/header :: menu-lateral"></div>
	
	    <div class="row">
	
	        <div th:include="fragments/btnMenuLogout :: btns-default"></div>
	
	        <div class="col m10">
	            <div class="center">
	                <!-- Título da página -->
	                <h4>+ Comissão</h4>
	                <hr/>
	            </div>
	        </div>
	    </div>
	
		<div class="container">
        	<form id="form" th:action="@{/comissoes/add}" method="POST" th:object="${consultor}">
       			<ul class="collapsible">
       				<li>
       					<div class="collapsible-header"><i class="material-icons">person</i>Funcionário</div>
       					<div class="collapsible-body grey lighten-3">
       						
       						<div class="row">
       							<div class="input-field col m5">
       								<select name="consultor.id" id="select-consultor" class="select tooltip" th:required="required">
			                           <option value="" th:disabled="disabled" th:selected="selected">Selecione o funcionário</option>
			                           <option 	th:each="consultor : ${consultores}"
			                            		th:value="${consultor.id}" 
			                            		th:text="${consultor.nome}">
			                           </option>
				                    </select>
                                    <label>Funcionário</label>
       							</div>
<!--        							th:value="${consultor.email}"  -->
				                <div class="input-field col m6">
				                    <input name="email" id="email" readonly="true" type="text" class="tooltip" th:required="required"/>
				                    <label for="email">E-mail @fi-group.com</label>
				                </div>
       						</div>
<!--        						th:value="${consultor.cargo}" -->
       						<div class="row">
       							<div class="input-field col m4">
                                    <input  name="cargo" id="cargo" readonly="true" type="text" class="tooltip" th:required="required"/>
                                    <label for="cargo">Cargo</label>
                                </div>
       						</div>
       					</div>
       				</li>
       				<li>
       					<div class="collapsible-header"><i class="material-icons">business</i>Nota Fiscal</div>
       					<div class="collapsible-body grey lighten-3">
             
                            
                            	<input type="text" name="contrato.id" th:hidden="hidden" id="idcontrato"/>
                            	
                            	     <div class="row ">
                            	
                               	<div class="input-field col m3">
                                    <input name="faturamento.cnpjFaturar" id="cnpjFaturar" maxlength="14" th:type="text" class="tooltip" th:required="required" />
                                    <label for="cnpjFaturar">CNPJ</label>
                                </div>
                                
                                </div>
                                
                                 <div class="row ">
                					<h5>Nota Fiscal</h5><hr />
       								 <table id="tabela-nota-fiscal" class="responsive-table tabela-cliente bordered">
            			<thead>
               					<tr>
                    					<th>NºNota</th>
                    					<th>Produto</th>
                    					<th>Valor à pagar</th>
                    					<th>Campanha</th>
                   						 <th>Selecionar</th>
              					</tr>
           					</thead>
            				<tbody id="corpo-nota-fiscal">
            			</tbody>
       				 </table>
             
                            	<!-- <div class="input-field col m6">
                            		<input id="cliente" name="cliente" readonly="true" type="text" class="tooltip" th:required="required"  />
			                        <label>Cliente</label>
                               	</div>
                            	
                            </div>
                         	<div class="row">
                            	<div class="input-field col m6">
                                    <input id="razaoSocial" name="razaoSocial" readonly="true" type="text" class="tooltip" th:required="required"  />
                                    <label for="razaoSocial">Razão Social</label>
                               	</div>
                               	<div class="input-field col m6">
                                    <select name="select-producao" id="select-producao" class="select" th:required="required">
                                		<option value="" th:disabled="disabled" th:selected="selected">Selecione a produto</option>
				                    </select>
				                    <label>Produção</label>
                               	</div>
                               	
                          	</div>
                            <div class="row" style="margin-top: 0px">
                               	<div class="input-field col m5">
                                	<select name="select-etapaTrabalho" id="select-etapaTrabalho" class="select">
                                   		<option value="" th:disabled="disabled" th:selected="selected">Selecione a etapa de trabalho</option>
                                   	</select>
                               	</div>
                               	<div class="input-field col m2 center">
                                    <input name="porcentagemEtapa" id="porcentagemEtapa" readonly="true" autofocus="autofocus" type="text" class="tooltip center"/>
                                    <label for="porcentagemEtapa" class="center">%</label>
                               	</div>
                               	
                            </div>
                            <div class="row" style="margin-top: 0px">
                               	<div class="input-field col m2">
                                    <input name="valorContrato" id="valorContrato" readonly="true" type="text" class="center" th:required="required"/>
                                    <label for="valorContrato">Valor do contrato</label>
                               	</div>
                               	<div class="input-field col m2">
                                    <input name="anoCampanha" id="anoCampanha" readonly="true"  type="text" class="tooltip center" th:required="required"  />
                                    <label for="anoCampanha">Campanha</label>
                               	</div>
                               	 -->
                            </div>
       					</div>
       				</li>
                	<li>
	                    <div class="collapsible-header"><i class="material-icons">attach_money</i>Valores</div>
	                    <div class="collapsible-body grey lighten-3">
							
							<div class="row" style="margin-top: 0px">
								<div>
									<label style="padding-left: 40%">Impostos</label>
								</div>
                            	
                            	<!-- <div class="input-field col m2">
                                    <input th:value="${impostos.IRPJ}" 		readonly="true" id="irpj" type="text" class="tooltip center" name="irpj" />
                                    <label for="irpj">IRPJ</label>
                               	</div> -->
                               	
                               	<div class="input-field col m3">
	                           		<input  id="semImposto" readonly="readonly" type="text" class="tooltip center" />
	                               <label for="comissaoComImpostos">Valor líquido Com Desconto IRPJ</label>
	                            </div>
                            </div>
                       		<div class="row" style="margin-top: 0px;margin-bottom: 0px"> 
	                           	<input name="manual" id="manual" th:hidden="hidden" type="text"
                                    value="true" />
                                    
	                       		<div class="input-field col m3">
	                           		<input name="valorLiquido" id="valorLiquido" readonly="true" type="text" class="tooltip center" />
	                               <label for="comissaoComImpostos">Valor líquido da nota</label>
	                            </div>
	                            <!-- <input name="totalImpostos" id="totalImpostos" type="text" th:hidden="hidden" th:value="${impostos.totalPorcentagemImposto}"/> -->
	                            <div class="input-field col m3">
	                           		<input value="0" id="porcemtagemComissao" type="number" data-position="above" data-tooltip="de 0% ate 20%" class="tooltipped center" 
	                           			name="comissaoPercentual" 
	                           			onkeyup="handleChange(this);" min="0" max="20" step="0.1"/>
	                               	<label for="porcemtagemComissao">Porcentagem da comissão</label>
	                            </div>
	                            <div class="input-field col m3">
	                       			<input value="" id="comissaoValor"  type="text" class="tooltip center" name="comissaoValor" />
	                            	<label for="totalReceber">Resultado da comissão</label>
	                            </div>
                        	</div>
                       		<div class="row" style="margin-top: 22px"> 
	                           	<div class="col m6">
	                           		<input name="pagamento" id="pagamento" type="checkbox" class="filled-in"/>
									<label for="pagamento">Pagamento ao funcionário</label>
	                        	</div>
                        	</div>
	                    </div>
                    </li>
       				<li>
                    <div class="collapsible-header"><i class="material-icons">date_range</i>Datas da comissão</div>
	                    <div class="collapsible-body grey lighten-3">
	                        <div class="row">
	                        	<div class="input-field col m4">
                           			<label>Data de recebimento do cliente</label>
                                   	<input id="dataRecebimentoCliente" name="dataDeRecebimentoCliente" type="text" class="datepicker col m12" />
                                </div>
                                <div class="input-field col m4">
                                   	<label>Data de autorização de pagamento</label>
                                 	<input id="dataAutorizacao" name="data_autorizacao" type="text" class="datepicker col m12" />
                                </div>
                             </div> 
	                        <div class="row">
                                <div class="input-field col m4">
                                    <label>Data de pagamento ao funcionário</label>
                                   	<input id="dataRecebimentoFuncionario" name="dataRecebimentoFuncionario" type="text" class="datepicker col m12" />
                                </div>
                                <div class="input-field col m4">
                                    <label>Data de pagamento da comissão</label>
	                                <input id="dataPagamento" name="data_pagamento" type="text" class="datepicker col m12" />
                                </div>
	                        </div>
	                    </div>
                	</li>
                   	<li>
                    	<div class="collapsible-header"><i class="material-icons">priority_high</i>Observações</div>
	                    <div class="collapsible-body grey lighten-3">
	                        <div class="row">
               					<div class="input-field col m8">
                   					<textarea id="obsComissao" name="observacoes" class="materialize-textarea"></textarea>
                   					<label for="obsComissao">Observações</label>
               					</div>
	                        </div>                
	                    </div>
                	</li>
       			</ul>
	       		<div class="row">
	                <div class="col m4">
	                    <button type="submit" data-position="above" data-tooltip="Adicionar nova comissão" class="tooltipped waves-effect green btn tooltip" id="btn-add-comissao">
		                    <i class="material-icons left">add</i>
		                    Adicionar	        
		                </button>
	                </div>               
				    <div class="col m8 right-align">
	                    <a th:href="@{/comissoes/all}" data-position="left" data-tooltip="Voltar para listagem" class="tooltipped waves-effect tooltip">
	                    	<i class="material-icons left">arrow_back</i>
	                    	Voltar
	                    </a>
	                </div>                
	            </div>
       		</form>
       	</div>
	
		<div th:include="fragments/footer :: footer"></div>
		<script src="../js/libs/jquery.mask.min.js"></script>
		<script src="../js/libs/datePickerInit.js"></script>
		<script src="../js/comissao/buscaCNPJ.js"></script>
		<script src="../js/comissao/form.js"></script>
	</body>
</html>