<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

	<head>
		<meta charset="UTF-8" />
	    <title>Detalhes Comissão</title>
		<link th:include="fragments/header :: header-css" />
	</head>
	
	<body>
	
		<div th:include="fragments/header :: menu-lateral"></div>
		<div class="row">
			<div th:include="fragments/btnMenuLogout :: btns-default"></div>
			<div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Detalhes Comissão</h4>
                <hr/>
            </div>
        </div>
		</div>
	
		<div class="container">
			<form action="/comissoes/update" method="POST" th:object="${comissao}">
			
			<input type="text" name="id" id="id" th:hidden="hidden"/>
			
				<div class="row ">
					<h5>Informações Gerais</h5>
					<hr/>
					<table class="responsive-table table-default bordered">
						<thead>
							<tr>
								<th>Campanha</th>
								<th>Cliente</th>
								<th>Produto</th>
								<th>Dt. de pagamento</th>
								<th>Dt. de autorização</th>
								<th>Comissão Perc.</th>
	                     		<th>Comissão Valor</th>
	                     		<th>Validada</th>
	                     		<th>Bônus Econômico</th>
	                     		<th>Trimestre Pagamento</th>
	                     		<th>Ano Pagamento</th>
							</tr>
						</thead>
						<tbody id="tbody-informacoes-comissao">
							<tr>
								<td th:text="${comissao?.campanha}"></td>
								<td th:text="${comissao?.contrato?.cliente?.razaoSocial}"></td>
								<td th:text="${comissao?.producao?.produto?.nome}"></td>
								<td th:text="${comissao?.dataDeRecebimentoCliente}"></td>
								<td th:text="${comissao?.data_autorizacao}"></td>
								<td th:text="${comissao?.comissaoPercentual}"></td>
								<td th:class="money" th:text="${comissao?.comissaoValor}"></td>
								<td th:if="${comissao?.validado == true}" th:text="Sim"></td>
								<td th:if="${comissao?.validado == false}" th:text="Não"></td>
								<td th:text="${comissao?.bonusEconomico}"></td>
								<td th:text="${comissao?.trimestrePagamento}"></td>
								<td th:text="${comissao?.anoPagamento}"></td>
							</tr>
						</tbody>
					</table>
				</div>	
				
				
				<div class="row">
					<h5>Informações de Contrato</h5>
					<hr/>
					<table class="responsive-table table-default bordered">
						<thead>
							<tr>
								<th>Data entrada</th>
								<th>Comercial Responsavel Entrada</th>
								<th>Comercial Responsavel Efetivo</th>
								
							</tr>
						</thead>
						
						<tbody id="tbody-faturamento-comissao">
							<tr>

								<td th:text="${comissao?.contrato?.dataEntrada}"></td>
								<td th:text="${comissao?.contrato?.comercialResponsavelEntrada?.nome}"></td>
								<td th:text="${comissao?.contrato?.comercialResponsavelEfetivo?.nome}"></td>
								

							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="row">
            <h5>Informações do Balancete</h5>
            <hr/>
        </div>
        <div class="row">
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th>Versão</th>
                        <th>Apuração</th>
                        <th>Dispêndio</th>
                        <th>Redução</th>
                        <th>% da Etapa</th>
                        <th>Valor Faturamento</th>
                        <th>Submotivo</th>
                    </tr>
                </thead>
                <tbody id="tbody-informacoesBalancete">
                <tr>
                    <td th:if="${comissao?.notaFiscal} != null" th:text="${comissao?.producao?.tipoDeApuracao}"></td>
                    <td th:if="${comissao?.notaFiscal} != null" th:text="${comissao?.notaFiscal?.faturamento?.balancete?.versao}"></td>
                    <td th:if="${comissao?.notaFiscal} != null" th:text="'R$ ' +${comissao?.notaFiscal?.faturamento?.balancete?.valorTotal}"></td>
                    <td th:if="${comissao?.notaFiscal} != null" th:id="idReducaoImposto" class="valorBeneficio" th:text="'R$ ' + ${comissao?.notaFiscal?.faturamento?.balancete?.reducaoImposto}"></td>
                    <td th:if="${comissao?.notaFiscal} != null" th:text="${submotivo}"></td>
                    
                    <td th:if="${comissao?.notaFiscal} == null" th:text="'Não gerou Nota Fiscal'"></td>
                    <td th:if="${comissao?.notaFiscal} == null" th:text="''"></td>
                    <td th:if="${comissao?.notaFiscal} == null" th:text="''"></td>
                    <td th:if="${comissao?.notaFiscal} == null" th:id="beneficio" th:text="''"></td>
                    <td th:if="${comissao?.notaFiscal} == null" th:text="''"></td>
                </tr>
            	</tbody>
            </table>
        </div>
        <div class="center-align input-field col s6">
                    <textarea id="obsBalancete" class="materialize-textarea" th:value="${faturamento?.balancete?.observacoes}"
                        th:inline="text" th:text="${faturamento?.balancete?.observacoes}" name="obsBalancete" th:readonly="readonly"></textarea>
                    <label for="obsBalancete">Observações do Balancete</label>
                </div>
								
				<div class="row">
					<h5>Informações de Faturamento</h5>
					<hr/>
					<table class="responsive-table table-default bordered">
						<thead>
							<tr>
								<th>CPNJ a Faturar</th>
								<th>Percentual da Etapa</th>
								<th>Estado</th>
								<th>Valor Etapa</th>
								<th>Valor Total</th>
								<th th:hidden="hidden"> Id</th>
							</tr>
						</thead>
						
						<tbody id="tbody-faturamento-comissao">
							<tr>
								<td th:if="${notaFiscal?.faturamento} == null" th:text="'Não gerou Faturamento'"></td>
        		                <td th:if="${notaFiscal?.faturamento} == null" th:text="''"></td>
		                        <td th:if="${notaFiscal?.faturamento} == null" th:text="''"></td>
                		        <td th:if="${notaFiscal?.faturamento} == null" th:text="''"></td>
                        		<td th:if="${notaFiscal?.faturamento} == null" th:text="''"></td>
		                        <td th:if="${notaFiscal?.faturamento} == null" th:text="''"></td>
		                        <td th:if="${notaFiscal?.faturamento} == null" th:text="''" th:hidden="hidden"></td>

								<td th:if="${notaFiscal?.faturamento} != null" th:text="${comissao?.faturamento?.cnpjFaturar}"></td>
								<td th:if="${notaFiscal?.faturamento} != null" th:text="${comissao?.faturamento?.percetEtapa} + '%'"></td>
								<td th:if="${notaFiscal?.faturamento} != null" th:text="${comissao?.faturamento?.estado}"></td>
								<td th:if="${notaFiscal?.faturamento} != null" th:id="idValorEtapa" th:class="money" th:text="${comissao?.faturamento?.valorEtapa}"></td>
								<td th:if="${notaFiscal?.faturamento} != null" th:class="money" th:text="${comissao?.faturamento?.valorTotal}"></td>
								<td th:if="${notaFiscal?.faturamento} != null" th:text="${comissao?.faturamento?.id}" th:hidden="hidden" th:id="idFaturamento"></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="row">
					<h5>Informações da Nota Fiscal</h5>
					<hr/>
					<table class="responsive-table table-default bordered">
						<thead>
							<tr>
								<th>Nota Fiscal</th>
								<th>Etapa a faturar</th>
								<th>Cancelada</th>
								<th>Data Emissao</th>
								<th>Data Vencimento</th>
								<th>Data Cobrança</th>
							</tr>
						</thead>
						
						<tbody id="tbody-nota-fisca-comissao">
							<tr>
								<td th:if="${notaFiscal} == null" th:text="'Não gerou Nota Fiscal'"></td>
        		                <td th:if="${notaFiscal} == null" th:text="''"></td>
		                        <td th:if="${notaFiscal} == null" th:text="''"></td>
                		        <td th:if="${notaFiscal} == null" th:text="''"></td>
                        		<td th:if="${notaFiscal} == null" th:text="''"></td>
		                        <td th:if="${notaFiscal} == null" th:text="''"></td>

								<td th:text="${comissao?.notaFiscal?.numeroNF}"></td>
								<td th:text="${comissao?.notaFiscal?.timing}"></td>
								<td th:if="${comissao?.notaFiscal?.cancelada} and ${notaFiscal} != null" th:text="SIM"> </td>
	                   			<td	th:if="!${comissao?.notaFiscal?.cancelada} and ${notaFiscal} != null" th:text="NÃO"> </td>
	                   			<td th:text="${comissao?.notaFiscal?.dataEmissao}"></td>
	                   			<td th:text="${comissao?.notaFiscal?.dataVencimento}"></td>
	                   			<td th:text="${comissao?.notaFiscal?.dataCobranca}"></td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<div class="row">
            <h5>Impostos Retidos na Fatura</h5>
            <hr/>
        </div>
        <div class="row">
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th>IRRF (1,5%)</th>
                        <th>CSSL (1%)</th>
                        <th>PIS (0,65%)</th>
                        <th>COFINS (3%)</th>
                        <th>Total</th>
                        <th>Valor Líquido</th>
                    </tr>
                </thead>
                <tbody id="tbody-informacoes">
                    <tr>
                        <td th:if="${notaFiscal} == null" th:text="'Não gerou Nota Fiscal'"></td>
                        <td th:if="${notaFiscal} == null" th:text="''"></td>
                        <td th:if="${notaFiscal} == null" th:text="''"></td>
                        <td th:if="${notaFiscal} == null" th:text="''"></td>
                        <td th:if="${notaFiscal} == null" th:text="''"></td>
                        <td th:if="${notaFiscal} == null" th:text="''"></td>
                        
                        <td th:if="${notaFiscal} != null" id="idIRRF"></td>
                        <td th:if="${notaFiscal} != null" id="idCSSL"></td>
                        <td th:if="${notaFiscal} != null" id="idPIS"></td>
                        <td th:if="${notaFiscal} != null" id="idCOFINS"></td>
                        <td th:if="${notaFiscal} != null" id="idTotal"></td>
                        <td th:if="${notaFiscal} != null" id="idValorLiquido"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row" th:each="h : ${honors}">
            <div th:if="${h.nome == 'Percentual Escalonado'}">
                <h5>Cálculos de Faturamento F.I. (% Escalonado)</h5>
                <table class="responsive-table table-default bordered">
                    <thead>
                        <tr>
                            <th>Intervalo de Faturamento</th>
                            <th>Valor Aplicado</th>
                            <th>Percentual %</th>
                            <th>Honorários</th>
                        </tr>
                    </thead>
                    <tbody id="tabelaEscalonado">
                        <!-- <tr th:each="f,i : ${percentual?.faixasEscalonamento}">
                            <td th:id="'valores'+${i.index}"></td>
                            <td th:id="'valoresAplicados'+${i.index}"></td>
                            <td th:id="percentual" th:text="${f.valorPercentual}+'%'"></td>
                            <td th:id="'calc'+${i.index}" th:class="calc"></td>
                        </tr> -->
                        <!-- <tr>
                            <td th:id="valorAcimaDe"></td>
                            <td th:id="valorAplicadoAcimaDe"></td>
                            <td th:id="percentAcimaDe" th:text="${h.percentAcimaDe} + '%'"></td>
                            <td th:id="honorarioAcimaDe"></td>
                        </tr> -->
                    </tbody>
                    <tbody><tr><td></td><td style="font-weight:bold" th:class="left-align" th:id="totalHonorariosAplicados">
                    </td><td></td><td style="font-weight:bold" th:id="totalHonorarios"/></tr></tbody>
                </table>
                <input type="text" th:value="${h?.acimaDe}" id="idValorAcimaDe" th:hidden="hidden" />
                <input type="text" th:value="${h?.limitacao}" id="idLimitacao" th:hidden="hidden" />
            </div>

            <div th:if="${h.nome == 'Valor Fixo'}">
                <h5>Cálculos de Faturamento F.I. (Valor Fixo)</h5>
                <table class="responsive-table table-default bordered">
                    <thead>
                        <tr>
                            <th>Período do Honorário</th>
                            <th>Valor Fixo</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-informacoes-valorFixo">
                        <tr>
                            <td th:text="${faturamento?.producao?.tipoDeApuracao}"></td>
                            <td th:id="valorFixoHonorario" th:text="${faturamento?.valorF?.valor}" th:class="money">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${h.nome == 'Percentual Fixo'}">
                <h5>Cálculos de Faturamento F.I. (Percentual Fixo)</h5>
                <table class="responsive-table table-default bordered">
                    <thead>
                        <tr>
                            <th>Percentual Fixo</th>
                            <th>Valor Aplicado</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-informacoes-percentualFixo">
                        <tr>
                            <td th:id="idPercentualFixo" th:text="${faturamento?.percentualF?.valorPercentual} + '%'">
                            </td>
                            <td th:id="idPercentualFixoHonorarioValorAplicado"></td>
                            <td th:id="idPercentualFixoHonorario"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
		
				<div class="row">
					<h5>Observações da Comissão</h5>
					<hr/>
					<table class="responsive-table table-default bordered">
						<thead>
							<tr>
							</tr>
						</thead>
						<tbody id="tbody-informacoes-comissao">
							<tr>
								

<!-- 								<td th:if="${comissao?.observacoes != null}" th:text="'Observação: '+ ${comissao?.observacoes}"></td>
								<td th:if="${comissao?.observacoes == null}" th:text="'Sem' + ' ' + 'observações'"></td> -->
		   					</tr>
						</tbody>
					</table>
					<div class="left-align input-field col s12">
								<textarea th:if="${comissao?.observacoes != null}" class="materialize-textarea" th:text="'Observação: '+ ${comissao?.observacoes}"
			                        th:inline="text" th:readonly="readonly"></textarea>
			                    <textarea th:if="${comissao?.observacoes == null}" class="materialize-textarea" th:text="'Sem Observações.'"
			                        th:inline="text" th:readonly="readonly"></textarea>
			                        </div>
				</div>
				
					<div class="row m12">
						
	                    <div class="col m11 center-align">
                    		<button type="button" th:if="${comissao?.validado == false and comissao?.comissaoSimulada == false}"
                            		id="btn-valida-comissao" th:value="${comissao?.id}"
                            		data-position="above" data-tooltip="Validar comissão" 
                            		class="tooltipped waves-effect green btn validar center-align">Validar comissão
                           		<i class="material-icons left" style="margin: 0px; padding: 0px">check</i>
                            </button>
	                    </div>
		                <div class="col m1 right-align">
		                    <a sec:authorize="hasRole('ROLE_ADMIN')" href="javascript:history.back()" 
		                    	data-position="above" data-tooltip="Voltar para listagem" 
                           		class="tooltipped waves-effect tooltip right-align" style="margin-top: 3px">
		                    	<i class="material-icons left">arrow_back</i>Voltar</a>
		                </div>
		            </div>
			</form>
		</div>
	
		<div th:include="fragments/footer :: footer"></div>
		<script th:src="@{/js/faturamento/main.js}"></script>
		<script th:src="@{/js/libs/jquery.mask.min.js}"></script>
		<script th:src="@{/js/libs/CNPJ.js}"></script>
		<script th:src="@{/js/comissao/info.js}"></script>
	
	</body>

</html>
