<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Comissões</title>
		<link th:include="fragments/header :: header-css" />
		
	</head>
	<body>
		<div th:include="fragments/header :: menu-lateral"></div>
	
	    <div class="row" style="margin-bottom: 0px">
	
	        <div th:include="fragments/btnMenuLogout :: btns-default"></div>
	
	        <div class="col m10">
	            <div class="center">
	                <!-- Título da página -->
	                <h4>Prêmios e comissões</h4>
	                <hr/>
	            </div>
	        </div>
	    </div>
	    <div class="container">
			<div class="row center" style="margin-bottom: 0px;">
				<section id="filters">
					<div class="input-field col m5 valign-wrapper">
						<i class="material-icons prefix center" style="margin-bottom: 7px">search</i> 
						<input type="text" id="txt-pesq-consultor" /> 
						<label for="txt-pesq-consultor">Pesquisar consultor</label>
					</div>
					<div class="input-field col left m2" style="margin-left: 15%">
					    <select class="select right" th:name="campanhaComissao" id="campanhaComissao">
					        <option th:selected="selected" value="2021">2021</option>
					        <option value="2018">2018</option>
					        <option value="2019">2019</option>
					        <option value="2020">2020</option>
					        <option value="2021">2021</option>
					        <option value="2021">2022</option>
					    </select>
					</div>
					<div class="col m3 center" style="margin-top: 18px;">
	                	<a id="geraCOMISSOES"  data-position="right" data-tooltip="Gerar comissões" class="tooltipped waves-effect green btn center"><i class="material-icons left">refresh</i>Gerar Comissões</a>
	                </div>
						<!--=================CONSERTAR PESQUISA POR CARGO==========================-->
<!-- 					<div class="input-field col m4 valign-wrapper"> -->
<!-- 						<select name="cargos" id="cargos" class="select col m12"  > -->
<!--                         	<option value="" th:disabled="disabled" th:value="'NULL'"  th:selected="selected" >Selecione o cargo</option> -->
<!--                            <option th:each="cargo : ${cargos}" -->
<!--                             	th:value="${cargo.name()}" -->
<!-- 	                      		th:text="${cargo.displayName()}"></option> -->
<!--                         </select> <label>Cargo</label> -->
<!-- 					</div> -->
				</section>
			</div>
			<div class="row center" style="margin-bottom: 0px; border-bottom: 0px">
				<div class="col s3 m3 l3" style="margin-top: 18px;">
					<a type="submit" data-position="above" data-tooltip="Adicionar nova comissão" class="tooltipped waves-effect green btn center" 
						th:href="@{/comissoes/form}">
						<i class="material-icons left">add</i>Nova comissão
					</a>
				</div>
				<div class="col s3 m3 l3" style="margin-top: 18px">
					<a type="submit" data-position="above" data-tooltip="Adicionar novo prêmio" class="tooltipped waves-effect green btn center" 
						th:href="@{/premios/form}">
						<i class="material-icons left">add</i>Nova premiação
					</a>
				</div>
				<div class="input-field col left m2" style="margin-left: 6.7%">
				    <select class="select right" th:name="campanhaPremiacao" id="campanhaPremiacao">
				        <option th:selected="selected" value="2021">2021</option>
				        <option value="2018">2018</option>
				        <option value="2019">2019</option>
				        <option value="2020">2020</option>
				        <option value="2021">2021</option>
				        <option value="2021">2022</option>
				    </select>
				</div>
				<div class="col m3 center" style="margin-top: 18px">
                	<a id="geraPREMIACOES" data-position="right" data-tooltip="Gerar premiações" class="tooltipped waves-effect green btn center"><i class="material-icons left">refresh</i>Gerar Premiações</a>
                </div>
				
			</div>
		</div>
		<div class="container" style="margin-top: 0px; border-top: 0px">
			<div class="getAll">
	            <table id="tabela-consultor" 
	            		class="tabela-consultor responsive-table"
	            		style="margin-top: 25px">
	                <thead>
		                <tr>
							<th th:hidden="hidden">#</th> 
							<th>Consultor</th>
							<th>Cargo</th>
							<th>E-mail</th>
						</tr>
	                </thead>
	                <tbody>
	                	<tr th:each="c : ${consultores}" id="consultor">
							<td th:hidden="hidden" id="id" th:text="${c.id}"></td>
							<td id="nome" 	th:text="${c.nome}"></td>
							<td id="cargo" 	th:text="${c.cargo}"></td>
							<td id="email" 	th:text="${c.email}"></td>
							
							<td>
								<a th:href="@{/comissoes/details/} + ${c.id}" type="submit" 
									data-position="left" data-tooltip="Detalhes" class="tooltipped btn grey" th:data="${c.username}"> 
									<i class="material-icons">info</i>
								</a>
							</td>
							
<!-- 							<td>
								<a th:href="@{/comissoes/} + ${c.id}" type="submit"  
 									class="btn light-blue darken-4" th:data="${c.username}"> 
									<i class="material-icons">edit</i> 
								</a> 
							</td> 
-->
						</tr>
	                </tbody>
	            </table>
	        </div>
	    </div>
        <div th:include="fragments/footer :: footer"></div>
		<script src="../js/comissao/list.js"></script>
		<script src="../js/libs/jquery.mask.min.js"></script>
	</body>
</html>