<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>Atualizar Comissão</title>
<link th:include="fragments/header :: header-css" />

</head>

<body>
	<div th:include="fragments/header :: menu-lateral"></div>

	<div class="row">

		<div th:include="fragments/btnMenuLogout :: btns-default"></div>

		<div class="col m10">
			<div class="center">
				<!-- Título da página -->
				<h4>Alteração de comissão</h4>
				<!-- <h4 th:text="Atualizar + ' ' + 'Comissao' + ' ' + ${comissao.consultor.nome}"></h4> -->

				<hr />
			</div>
		</div>
	</div>
	
	<!-- <input th:text="${comissao?.id}" th:hidden="hidden"/> -->

	<div class="container">
		<form action="/comissoes/update" method="POST"  th:object="${comissao}">
			<div class="row">
				<input type="text" name="id" id="idComissao" th:value="${comissao.id}" th:hidden="hidden"/>
				<input type="text" name="contrato.id" id="contratoId" th:value="${comissao?.contrato?.id}" th:hidden="hidden"/>
				<input type="text" name="notaFiscal.id" id="notaFiscalId" th:value="${comissao?.notaFiscal?.id}" th:hidden="hidden"/>
				<input type="text" name="faturamento.id" id="faturamentoId" th:value="${comissao?.faturamento?.id}" th:hidden="hidden"/>
				<input type="text" name="valorNegocio.id" id="valorNegocioId" th:value="${comissao?.valorNegocio?.id}" th:hidden="hidden"/>
				<input type="text" name="etapaPagamento.id" id="etapaPagamentoId" th:value="${comissao?.etapaPagamento?.id}" th:hidden="hidden"/>
				<input type="text" name="etapaTrabalho.id" id="etapaTrabalhoId" th:value="${comissao?.etapaTrabalho?.id}" th:hidden="hidden"/>
				<input type="text" name="producao.id" id="producaoId" th:value="${comissao?.producao?.id}" th:hidden="hidden"/>
				
			
				<input type="text" name="consultor.id" id="consultorId" th:value="${comissao?.consultor?.id}" th:hidden="hidden"/>
			</div>

			<ul class="collapsible">
			<li>
					<div class="collapsible-header">
						<i class="material-icons">enhanced_encryption</i>Informações gerais
					</div>
				<div class="collapsible-body grey lighten-4">
					<div class="row">
					<div class="input-field col m2">
                    	<input id="nome" readonly="readonly" type="text"  th:value="${comissao?.contrato?.cliente?.razaoSocial}" name="razaoSocial" />
                    	<label for="nome">Empresa</label>
                    </div>
					
					<div class="input-field col m2">
                    	<input id="nome" readonly="readonly" type="text"  th:value="${comissao?.contrato?.cnpjFaturar}" name="razaoSocial" />
                    	<label for="nome">CNPJ</label>
                    </div>
							
					<div class="input-field col m2">
                    	<input id="nome" readonly="readonly" type="text"  th:value="${comissao?.producao?.produto?.nome}" name="razaoSocial" />
                    	<label for="nome">Produto</label>
                    </div>
                    
                    <div class="input-field col m1">
                    	<input id="nome" readonly="readonly" type="text"  th:value="${comissao?.producao?.ano}" name="razaoSocial" />
                    	<label for="nome">Campanha</label>
                    </div>
                    
                     <div class="input-field col m1">
                    	<input id="nome" readonly="readonly" type="text"  th:value="${comissao?.faturamento?.anoFiscal}" name="razaoSocial" />
                    	<label for="nome">Ano Fiscal</label>
                    </div>
					</div>
					
					<div class="row">
					<div class="input-field col m2">
                    	<input id="nome" readonly="readonly" type="text"  th:value="${comissao?.faturamento?.valorTotal}" name="razaoSocial" />
                    	<label for="nome">Valor Total</label>
                    </div>
                    
                    <div class="input-field col m2">
                    	<input id="nome" readonly="readonly" type="text"  th:value="${comissao?.faturamento?.valorEtapa}" name="razaoSocial" />
                    	<label for="nome">Valor Etapa</label>
                    </div>
                    
                    <div class="input-field col m2">
                    	<input id="trimestrePagamento" type="text" th:value="${comissao?.trimestrePagamento}" name="trimestrePagamento" />
                    	<label for="trimestrePagamento">Trimestre Pagamento</label>
                    </div>
                    
                    <div class="input-field col m2">
                    	<input id="anoPagamento" type="text" th:value="${comissao?.anoPagamento}" name="anoPagamento" />
                    	<label for="anoPagamento">Ano de Pagamento</label>
                    </div>
					</div>
				</div>
				</li>
				
				
				
				<li>
					<div class="collapsible-header">
						<i class="material-icons">library_books</i>Contrato
					</div>
					<div class="collapsible-body grey lighten-3">
				
							<div class="row">
								
								<div class="input-field col m2">
                    				<input id="nome" readonly="readonly" type="text" th:value="${comissao?.contrato?.estimativaComercial}"  />
                    				<label for="nome">Estimativa Comercial</label>
                    			</div>
							</div>
							
							<div class="row">
								<div class="right-align">
				                   	 <a  th:href="@{/contratos/} + ${comissao?.contrato?.id}" 
				                     	data-position="top" 
				                        data-tooltip="Acessar Contrato" 
				                        class="tooltipped btn light-blue darken-4 right-align">
				                        <i class="material-icons">library_books</i>
				                    </a>
				               	</div>
							</div>
					
					</div>
				</li>
				
				<li>
					<div class="collapsible-header">
						<i class="material-icons">attach_money</i>Faturamento
					</div>
					<div class="collapsible-body grey lighten-3">
							<div class="row">
								<div class="input-field col m4">
                    				<input id="nome" readonly="readonly" type="text" th:value="${comissao?.faturamento?.estado}"  />
                    				<label for="nome">Estado</label>
                    			</div>
                    			
                    			<div class="input-field col m1">
                    				<input id="nome" readonly="readonly" type="text" th:value="${comissao?.faturamento?.percetEtapa} + ' %'"  />
                    				<label for="nome">PercentualEtapa</label>
                    			</div>
                    			
                    			<div class="input-field col m4">
                    				<input id="nome" readonly="readonly" type="text" th:value="${comissao?.faturamento?.obsContrato}"  />
                    				<label for="nome">Observação</label>
                    			</div>
                    			
							</div>
							
							<div class="row">
									<div class="right-align">
				                   		 <a  th:href="@{/faturamentos/details/} + ${comissao?.faturamento?.id}" 
				                     		data-position="top" 
				                        	data-tooltip="Acessar Faturamento" 
				                        	class="tooltipped btn light-blue darken-4 right-align">
				                        	<i class="material-icons">attach_money</i>
				                    	</a>
				               		</div>
								</div>
					</div>
				</li>
				
				<li>
					<div class="collapsible-header">
						<i class="material-icons">receipt</i>Nota Fiscal
					</div>
					<div class="collapsible-body grey lighten-3">
						
						 <div class="row">
								<div class="input-field col m2">
                   					<input readonly ="readonly" id="numeroNF" type="text" class="tooltip"  th:value="${comissao?.notaFiscal?.numeroNF}"  name="numeroNF" /> 
                   					<label for="numeroNnF">N° NF</label>
               					</div>
               
	               				 <div class="input-field col m1">
	                   				<input readonly ="readonly" id="cancelada" type="text" class="tooltip"  th:if="${comissao?.notaFiscal?.cancelada} " th:value="SIM"/>
	                   				<input readonly ="readonly" id="cancelada" type="text" class="tooltip"  th:if="!${comissao?.notaFiscal?.cancelada} " th:value="NÃO"/>
	                    			<label for="numeroNnF">Cancelada</label>
	               				</div>
	               				
	               				<div class="input-field col m1">
	                   				<input readonly ="readonly" id="emAtraso" type="text" class="tooltip"  th:if="${comissao?.notaFiscal?.atraso} " th:value="SIM"/>
	                   				<input readonly ="readonly" id="emAtraso" type="text" class="tooltip"  th:if="!${comissao?.notaFiscal?.atraso} " th:value="NÃO"/>
	                    			<label for="numeroNnF">Em atraso</label>
	               				</div>
	               				
	               				<div class="input-field col m2">
	                   					<input readonly ="readonly" id="numeroNF" type="text" class="tooltip"  th:value="${comissao?.notaFiscal?.valorCobranca}"  name="numeroNF" /> 
	                   					<label for="numeroNnF">Valor de cobrança</label>
	               				</div>
	               				
	               				<div class="input-field col m2">
	                   					<input readonly ="readonly" id="parcelas" type="text" class="tooltip"  th:value="${comissao?.notaFiscal?.parcela}"  name="numeroNF" /> 
	                   					<label for="parcelas">QTD Parcelas</label>
	               				</div>
	               				
	               				<div class="input-field col m4">
	                   				<input readonly ="readonly" id="Timing" type="text" class="tooltip"  th:value="${comissao?.notaFiscal?.timing}"/>
	                    			<label for="numeroNnF">Timing</label>
	               				</div>
						</div>
						
						<div class="row">
								<div class="input-field col m2">
                   					<input readonly ="readonly" id="emissao" type="text" class="tooltip"  th:value="${comissao?.notaFiscal?.dataEmissao}"   /> 
                   					<label for="vigencia">Data Emissão</label>
               					</div>
               					
               					<div class="input-field col m2">
                   					<input readonly ="readonly" id="emissao" type="text" class="tooltip"  th:value="${comissao?.notaFiscal?.dataCobranca}"   /> 
                   					<label for="vigencia">Data Pagamento</label>
               					</div>
               					
               					<div class="input-field col m2">
                   					<input readonly ="readonly" id="emissao" type="text" class="tooltip"  th:value="${comissao?.notaFiscal?.dataVencimento}"   /> 
                   					<label for="vigencia">Data Vencimento</label>
               					</div>
						</div>
						
						<div class="row">
								<div class="input-field col m2">
                   					<input readonly ="readonly" id="vigencia" type="text" class="tooltip"  th:value="${comissao?.contrato?.vigencia?.inicioVigencia}"   /> 
                   					<label for="vigencia">Início vigência</label>
               					</div>
               					
               					
               					
						</div>
						
						<div class="row">
							<div class="right-align">
				                    <a  th:href="@{/notasFiscais/} + ${comissao?.notaFiscal?.id}" 
				                        data-position="top" 
				                        data-tooltip="Acessar nota fiscal" 
				                        class="tooltipped btn light-blue darken-4 right-align">
				                        <i class="material-icons">receipt</i>
				                    </a>
				               </div>
						</div>
	
					</div>
				</li>
				
				<li>
					<div class="collapsible-header">
						<i class="material-icons">person</i>Consultor
					</div>
					<div class="collapsible-body grey lighten-3">
						<div class="">
							<div class="row">
								<div class="input-field col m4">
									<select 
										id="comercialResponsavelEntrada" class="select"
										>
										<option value="" th:disabled="disabled" th:selected="selected">Selecione</option>
										<option th:each="cr : ${consultores}" th:value="${cr.id}"
											th:text="${cr.sigla} +', '+${cr.nome}"
											th:selected="(${comissao?.contrato?.comercialResponsavelEntrada?.nome == cr.nome})">
										</option>
									</select> <label for="comercialResponsavelEntrada">Consultor
										Comercial </label>
								</div>
								
								 <div class="col m2">
                					<input name="validado" type="checkbox"  class="filled-in" id="validado"
                					 th:checked="${comissao.isValidado()}" />
                    				<label for="validado">Comissão Validada </label>
                				</div>
							</div>
						</div>
					</div>
				</li>
				<li>
				   <div class="collapsible-header"><i class="material-icons">date_range</i>Datas da comissão</div>
	                    <div class="collapsible-body grey lighten-3">
	                        <div class="row">
	                        	<div class="input-field col m4">
                           			<label>Data de recebimento do cliente</label>
                                   	<input id="dataDeRecebimentoCliente" name="dataDeRecebimentoCliente"  type="text" class="datepicker col m12" th:value="${comissao?.dataDeRecebimentoCliente}"/>
                                </div>
                                <div class="input-field col m4">
                                   	<label>Data de autorização de pagamento</label>
                                 	<input id="data_autorizacao" name="data_autorizacao"  type="text" class="datepicker col m12" th:value="${comissao?.data_autorizacao}"/>
                                </div>
                             </div> 
	                        <div class="row">
                                <div class="input-field col m4">
                                    <label>Data de pagamento ao funcionário</label>
                                   	<input id="dataRecebimentoFuncionario" name="dataRecebimentoFuncionario" type="text" class="datepicker col m12" th:value="${comissao?.dataRecebimentoFuncionario}"/>
                                </div>
                                <div class="input-field col m4">
                                    <label>Data de pagamento da comissão</label>
	                                <input id="data_pagamento" name="data_pagamento" type="text" class="datepicker col m12" th:value="${comissao?.data_pagamento}"/>
                                </div>
	                        </div>
	                    </div>
				</li>
				<li>
					<div class="collapsible-header">
						<i class="material-icons">attach_money</i>Valores
					</div>
					<div class="collapsible-body grey lighten-3">
						<div class="row">
							<ul class="container">
							</ul>

							 <div class="input-field col m3">
								                
								<input type="text" class="money" id="comissaoValor"
									name="comissaoValor" th:value="${comissao?.comissaoValor}" />
									<label>Valor comissão R$</label>
							 </div> 
							 
							 <div class="input-field col m3">
								                
								<input type="number" id="comissaoPercentual" step="0.01"
									name="comissaoPercentual" th:value="${comissao?.comissaoPercentual}" />
									<label>Percentual </label>
							 </div> 
							
							 <div class="col m2">
                				<input name="pagamento" type="checkbox"  class="filled-in" id="pagamento"
                				 th:checked="${comissao.isPagamento()}" />
                    			<label for="pagamento">Comissão Paga </label>
                			</div>
						</div>


					</div>
				</li>
				<li>
					<div class="collapsible-header">
						<i class="material-icons">local_atm</i>Impostos
					</div>
					<div class="collapsible-body grey lighten-3">
						<div class="container">
							<div class="row"></div>
						</div>
					</div>
				</li>
				
				<li>
					<div class="collapsible-header">
						<i class="material-icons">priority_high</i>Observações
					</div>
					<div class="collapsible-body grey lighten-3">
						<div class="row">
							<ul>

								
								 <div class="input-field col s6">
                        			<textarea th:if="${comissao?.observacoes == null}" th:text="''" id="observacoes"
                            			name="observacoes" class="materialize-textarea"
                           				 placeholder="Observações"></textarea>
                        			<textarea th:if="${comissao?.observacoes != null}" id="observacoes" name="observacoes"
                            			class="materialize-textarea" placeholder="observações do faturamento"
                            			th:inline="text">[[${comissao?.observacoes}]]</textarea>
                        			<label for="textarea1">Observações</label>
                    			</div>
							</ul>
						</div>

					</div>
				</li>

			</ul>
	
		<div class="row">
			<div class="col m4">
				<button type="submit" class="waves-effect green btn tooltip"
					id="btn-update-comissao">
					<i class="material-icons left">edit</i>Gravar alterações
				</button>
			</div>



			<div class="col m8 right-align">
				<a th:href="@{/comissoes/all}" class="waves-effect tooltip"><i
					class="material-icons left">arrow_back</i>Voltar</a>
			</div>
		</div>
		
			</form>
	</div>

	<div th:include="fragments/footer :: footer"></div>
	<script th:src="@{/js/comissao/update.js}"></script>
	<script th:src="@{/js/libs/datePickerInit.js}"></script>
	<script th:src="@{/js/libs/jquery.mask.min.js}"></script>
</body>
</html>