<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Produtos</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/produto/list.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4 th:text="'Etapa: '+${etapa.nome}"></h4>
                <hr/>
            </div>
        </div>

    </div>

    <div class="container">
        
        <div class="row">
            <table id="tabela-produtos" class="responsive-table bordered">
                <thead>
                    <tr>
                        <th>Etapas de Trabalho</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tarefa : ${etapa.tarefas}" class="produto">
                        <td th:hidden="hidden" id="idEtapa" th:text="${etapa.id}"></td>
                        
                        <td id="etapa">
                        	<a th:text="${tarefa.nome}"></a>
                        </td>
                        
                        <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PRODUTO')" class="right">
                            <form th:action="@{/produtos/delete/} + ${tarefa.id}" method="POST" id="formDeleteProduto">
                                <input type="hidden" th:value="${tarefa.id}" name="cnpj" />
                                <button type="submit" class="btn tooltip red"><i class="material-icons">delete</i></button>
                            </form>
                        </td> 
                        <td class="right">
                        </td>
                        <td class="right">
	                        <a th:href="@{/tarefas/} + ${tarefa.id} + '/' + ${produto.id} + '?idEtapa='+${etapa.id}" class="btn light-blue darken-4">
	                            <i class="material-icons">edit</i>
	                        </a>
                    	</td>
                      
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
        <br/>
        <div class="col m10 right-align">
                    <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/produto/list.js"></script>
	
</body>

</html>
