<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Cadastrar Produto</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Produto</h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <form th:action="@{/produtos/add}" method="POST">

            <div class="row">

                <div class="input-field col m4">
                    <input id="nomeProduto" type="text" class="tooltip" th:required="required" name="nome" />
                    <label for="nomeProduto">Nome do produto</label>
                </div>

            </div>

            <div class="row">
                <div class="input-field col m8">
                    <textarea id="descricaoProduto" name="descricao" th:required="required" class="materialize-textarea"></textarea>
                    <label for="descricaoProduto">Descrição do produto</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col m12">
                    <select id="etapasTrabalho" multiple="multiple" name="etapasTrabalho" th:required="required">
	                	<option value="" th:disabled="disabled"
	             			th:selected="selected" >Selecione as etapas de trabalho deste produto</option>
	                   <option th:each="etapaTrabalho : ${etapasTrabalho}"
	                    	th:value="${etapaTrabalho.id}"
	                    	th:text="${etapaTrabalho.id} + ' - ' + ${etapaTrabalho.nome} "></option>
	                </select>
	                <label>Etapas de trabalho deste produto</label>
	            </div>
         	 </div>
             
             <div class="row">
             	 <div class="col m4">
		           	 <button type="submit" class="waves-effect green btn tooltip" id="btnAddProduto">
		                  <i class="material-icons left">add</i>Adicionar
		             </button>
	             </div>  
	             <div class="col m2 right-align">
                   	<a th:href="@{/produtos/all}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
               	</div>      
             	 <div class="col m6 right-align">
             		<a href="/etapasTrabalho/form" class="waves-effect yellow-text black btn tooltip" id="btnAddEtapaTrabalho">
		                  <i class="material-icons left">add</i>Etapa de trabalho
		             </a>
             	 </div>
             </div>
              
		</form>
		
		<div class="row">
			<div class="col m12 right-align">
				<a href="/tarefas/form" class="waves-effect yellow-text black btn tooltip" id="btnAddTarefa">
					<i class="material-icons left">add</i>Tarefa
				</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col m12 right-align">
				<a href="/itensTarefas/form" class="waves-effect yellow-text black btn tooltip" id="btnAddItensTarefa">
					<i class="material-icons left">add</i>Itens da tarefa
				</a>
			</div>
		</div>
	</div>
	
	<div th:include="fragments/footer :: footer"></div>
	
	<script src="../js/produto/form.js"></script>
	
</body>

</html>
