<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Produtos</title>
    <link th:include="fragments/header :: header-css" />
    <link rel="stylesheet" href="../css/produto/list.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Produtos</h4>
                <hr/>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <section id="filters">
                <div class="input-field col m5">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="txt-pesq-produto" />
                    <label for="txt-pesq-produto">Pesquisar produto</label>
                </div>
            </section>
            <div class="col m3 offset-m4">
                <a type="submit" class="waves-effect green btn right" th:href="@{/produtos/form}" title="adicionar"><i class="material-icons left">add</i>Produto</a>
            </div>
        </div>
        <div class="row">
            <table id="tabela-produtos" class="responsive-table bordered">
                <thead>
                    <tr>
                    	<th th:hidden="hidden">#</th>
                        <th>Nome</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="produto : ${produtos}" class="produto">
                        <td th:hidden="hidden" id="idProduto" th:text="${produto.id}"></td>
                        
                        <td id="nome" >
                        	<a th:text="${produto.nome}" th:href="@{/produtos/detalhes/} + ${produto.id}"></a>
                        </td>
                        
                        <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_PRODUTO')" class="right">
                            <form th:action="@{/produtos/delete/} + ${produto.id}" method="POST" id="formDeleteProduto">
                                <input type="hidden" th:value="${produto.id}" />
                                <button type="submit" class="btn tooltip red"><i class="material-icons">delete</i></button>
                            </form>
                        </td> 
                        
                        <td class="right">
	                        <a th:href="@{/ordenacoes/produto/} + ${produto.id}" class="btn orange">
	                            <i class="material-icons">reorder</i>
	                        </a>
                    	</td>
                                                   
                        <td class="right">
	                        <a th:href="@{/produtos/} + ${produto.id}" class="btn light-blue darken-4">
	                            <i class="material-icons">edit</i>
	                        </a>
                    	</td>
                    	
                    	     
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/produto/list.js"></script>
	
</body>

</html>
