<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Produção</title>
    <link th:include="fragments/header :: header-css" />
</head>

<style>
    .nav-wrapper {
        background-color: #616161;
        min-height: 74px;
        min-width: 900px;
        overflow: auto;
        white-space: nowrap;
    }

    .nav-wrapper a {
        display: inline-block;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none;
    }

</style>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>
    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Tarefas</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <nav>
                <div class="nav-wrapper">
                    <div class="col m12 grey darken-2 z-depth-1">
                         <a th:if="${#authentication.getPrincipal().getPais().name()=='BRASIL'}" th:href="@{/producoes/cliente/} + ${cliente.id}" class="breadcrumb"
                            th:text="${cliente.razaoSocial}"></a>
                            <a th:if="${#authentication.getPrincipal().getPais().name()=='CHILE'}" th:href="@{/producoes/clienteCL/} + ${cliente.id}" class="breadcrumb"
                            th:text="${cliente.razaoSocial}"></a>
                            <a th:if="${#authentication.getPrincipal().getPais().name()=='COLOMBIA'}" th:href="@{/producoes/clienteCO/} + ${cliente.id}" class="breadcrumb"
                            th:text="${cliente.razaoSocial}"></a>
                        <a th:href="@{/producoes/update/} + ${producao.id}" class="breadcrumb" th:text="'Etapas'"></a>
                        <a href="#" class="breadcrumb" th:text="${etapa.nome}"></a>
                    </div>
                </div>
            </nav>
        </div>

        <br />

        <div class="row">

            <input type="text" id="idProd" th:value="${producao.id}" th:hidden="hidden" />
            <input type="text" id="idEtapa" th:value="${etapa.id}" th:hidden="hidden" />
            <input type="text" id="idConclusao" th:value="${conclusao.id}" th:hidden="hidden" />
            <input type="text" id="inclusaoEficiencia" th:value="${conclusao.inclusaoHoras}" th:hidden="hidden"/>
            <input type="text" id="cnpjHolder" th:value="${producao.cliente.cnpj}" th:hidden="hidden" />
            <input type = "text" id= "idTarefaAtual" th:hidden="hidden" />
            <input type = "text" id= "idItemValorAtual" th:hidden="hidden" />
            <input type = "text" id= "inclsaoHora" th:hidden="hidden" />
            
		
            <h5>Itens de Tarefas</h5>
            <hr />

            <ul class="collapsible">
                <li th:each="t : ${tarefas}">
                    <div class="collapsible-header"><i class="material-icons">dvr</i><span id="filho" th:text="${t.nome}"></span></div>
                    <div th:id="${t.id}" th:name="${t.nome}" class="corpo collapsible-body"><span></span></div>
                </li>
            </ul>

        </div>

        <div sec:authorize="hasAnyRole('ROLE_ADMINISTRATIVO','LIDERTECNICO', 'ADMIN', 'TI','ROLE_CONSULTOR')">
            <div class="row">
                <div class="col m4">
                    <button type="submit" class="waves-effect green btn tooltip" id="salvar">
                        <i class="material-icons left">save</i>Salvar
                    </button>
                </div>
                <div class="col m8 right-align">
                    <a href="javascript:history.back()" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        </div>
    </div>

    <div id="modalEficiencia" class="modal">
        <div class="modal-content">
            <h4>Apontamento de Horas</h4>
            <p>Cadastre as horas para as atividades da etapa: <b th:text="${etapa.nome}"></b></p>
            <div class="row">
                <h5>Atividades</h5>
                <div th:id="corpo">
                    <a th:id="addAtividade" class="mouse-hand add tooltipped" data-position="left" data-tooltip="Adicionar Atividade"><i class="material-icons left">add</i></a>
                    <a th:id="removeAtividade" class="mouse-hand remove tooltipped" data-position="right" data-tooltip="Remover Atividade"><i style='color: red' class="material-icons left">remove</i></a>
                    <br />
                    <br />
                </div>

                <button class="waves-effect green btn tooltip salvar right" id="salvaEficiencia">
                    <i class="material-icons left">save</i>Salvar
                </button>

            </div>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/item2o.js}"></script>
    <script th:src="@{/js/libs/datePickerInit.js}"></script>
    <script th:src="@{/js/libs/jquery.mask.min.js}"></script>
</body>
</html>
