<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Produção"></title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <h4 th:text="${cliente.razaoSocial}+ ' - ' + ${producao.ano}+ ' - ' +${producao.tipoDeNegocio}"></h4>
                <hr />
            </div>
        </div>
    </div>
    <div class="container">

            <div class="col m8 right-align">
                <a th:href="@{/producoes/all}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
            </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script th:src="@{/js/producao/update.js}"></script>

</body>

</html>