<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Relatório Financiamento"></title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Relatório Financiamento</h4>
                <hr />
            </div>
        </div>

    </div>
	
	 <div class="container" style="width: 100%;">
	 
	 <div class="row">
            <a id="excelBtn" onClick="htmlTableToExcel('tabela-financiamento','financiamento');" data-position="left"
                data-tooltip="Baixar o estado atual da tabela para Excel" class="tooltipped waves-effect btn right"><i
                    class="material-icons left">file_download</i>Exportar Excel</a>
        </div>
	 
    <ul class="collapsible popout" data-collapsible="expandable">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">search</i>Filtros
            </div>
            <div class="collapsible-body grey lighten-3">

                <form th:action="@{/relatorios/relatorioFinanciamento}">

                    <input name="queryTrigger" th:hidden="hidden" type="text" value="true" />

                    <div class="row">

                        <section id="filters">
                            <div class="input-field col m2">
                                <i class="material-icons prefix">search</i>
                                <select name="campanha" class="select" id="select-campanha">
                                    <option th:selected="selected" th:value="''">Selecione</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                </select>
                                <label>Campanha</label>
                            </div>

                            <div class="input-field col m3">
                                <select name="idProduto" id="selectProduto" class="select">
                                    <option value="" th:selected="selected">Selecione</option>
                                    <option th:each="p : ${produtos}" th:value="${p.id}" th:text="${p.nome}"></option>
                                </select>
                                <label>Produto</label>
                            </div>

                            <div class="input-field col m4">
                                <select class="select" name="etapa" id="select-etapa">
                                    <option value="" th:selected="selected">Selecione</option>
                                </select>
                                <label>Etapa</label>
                            </div>

                            <div class="input-field col m3">
                                <select class="select" name="filial" id="select-filial">
                                    <option value="" th:selected="selected">Selecione</option>
                                    <option th:each="e : ${filiais}" th:value="${e.id}" th:text="${e.nome}"></option>
                                </select>
                                <label>Filial</label>
                            </div>
                        </section>

                    </div>

                    <div class="row">
                        <div class="input-field col m4">
                            <i class="material-icons prefix">search</i>
                            <input name="empresa" type="text" id="txt-pesq-empresa" />
                            <label for="txt-pesq-cliente">Empresa</label>
                        </div>

                        <div class="input-field col m2">
                            <select class="select" name="tipoNegocio" id="tipoNegocio">
                                <option value="" th:selected="selected">Selecione</option>
                                <option th:value="NN">Novo Negócio</option>
                                <option th:value="RR">Recorrência</option>
                            </select>
                            <label>Tipo de Negócio</label>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col m3">
                            <button type="submit" id="btn" class="waves-effect blue btn modal-trigger">
                                <i class="material-icons left">search</i>Buscar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>

        <div class="row">
            <div id="listFaturamentos">
                <table class="responsive-table striped" id="tabela-faturamentos" style="margin-top: 50px">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th>CNPJ</th>
                            <th>Filial</th>
                            <th>Ano do Faturamento</th> <!-- <th>Ano do Faturamento</th> -->
                            <th>Campanha</th> <!-- <th>Campanha</th> -->
                            <th>Produto</th>
                            <th>Total Faturamento</th> <!-- <th>Total Faturamento = DEVE SER AS SOMAS DAS ETAPAS, FORMATO DE NUMERO IGUAL AO FSE</th> -->
                            <th>Etapa</th> <!-- <th>Etapa</th> -->
                            <th>Valor Etapa</th> <!-- <th>Valor Etapa</th> -->
                            <th>Versão</th> <!-- <th>Versão</th> -->
                            <th>Situação</th> <!-- <th>Situação</th> -->
                            <th>Número Nota Fiscal</th> <!-- <th>número nf</th> -->
                            <th>Comentários</th> <!-- <th>Comentários: e ser aberto para FABIANA detalhar</th> -->
                            <th>Subsituação</th> <!-- <th>sub_situacao CAMPO QUE PEDIMSO PRA CRIAR INICIALMENTE PARA CONTROLE </th> -->
                            <th>Tipo de Negócio</th> <!-- <th>Tipo de Negócio</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="f : ${faturamentos}" id="faturamento">
                            <td><a th:href="@{/faturamentos/faturamentoUpdate/} + ${f?.id}" th:text="${f?.cliente?.razaoSocial}"></a></td>
                            <td th:text="${f?.cnpjFaturar}"></td>
                            <td th:class="filialClass" th:text="${f?.producao?.filial?.nome}"></td>
                            <td th:text="${f?.anoFiscal}"></td>
                            <td th:text="${f?.campanha}"></td>
                            <td th:text="${f?.produto?.nome}"></td>
                            <td th:text="'R$' + ' ' + (${f.valorTotal} ?: '0.00')"> </td>
                            <td th:text="${f?.etapa?.nome}"></td>
                            <td th:text="'R$ '+${f.valorEtapa}"></td>
                            <td th:text="${f?.balancete?.versao}"></td>
                            <td th:text="${f?.estado}"></td>
                            <td th:text="${f?.numeroNF}"></td>
                            <td th:text="${f?.observacao}"></td>
                            <td th:text="${f?.subEstadoFaturamento}"></td>
                            <td th:text="${f?.producao?.tipoDeNegocio}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/libs/exportExcel.js"></script>
    <script src="../js/faturamento/relatorio.js"></script>

</body>

</html>