<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Criar Período Pagamento</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Período De Pagamento</h4>
                <hr />
            </div>
        </div>
    </div>

    <div class="container">
	 <form th:action="@{/periodoPagamento/add}" id="form" method="POST">
        <div class="row ">
            <h5>Informações do Período de Pagamento</h5>
            <hr />
        </div>

        <div class="row">

                 
            <div class="input-field col m4">
                  <div class="input-field">
                        <select class='select' id="select-departamento" name="departamento" th:required="required">
                        	<option value="" 
                     			th:selected="selected" >Selecione o departamento</option>
                           <option th:each="departamento : ${departamentos}"
                            	th:value="${departamento.name()}"
	                      		th:text="${departamento.displayName()}"></option>
                        </select>
                        <label>Departamento</label>
                    </div>
            </div> 

            
            

        </div>

        <div class="row">
        	
        	<div class="col m2">
                <input type="text" name="dataInicio" th:placeholder="'YYYY/MM/DD'" id="dataEmissao" class="datepicker" />
                <label for="dataInicio">Data de Inicio do Período</label>
            </div>
            
            <div class="col m2">
                <input type="text" name="dataFim" th:placeholder="'DD/MM/YYYY'" id="dataFim" class="datepicker" />
                <label for="dataFim">Data de Finalização do Período</label>
            </div>
        	
            <div class="col m2">
                <input type="text" name="dataPagamento" th:placeholder="'DD/MM/YYYY'" id="dataPagamento" class="datepicker" />
                <label for="dataPagamento">Data de Pagamento</label>
            </div>
            <p>
                <input name="pago" type="checkbox" class="filled-in" id="cancelada" />
                <label for="pago">Pago</label>
            </p>

        </div>


=
        <div class="row">
            <div class="col m4">
                <button type="submit" id="btn-cad-PeriodoPagamento" class="waves-effect green btn"><i
                        class="material-icons left">add</i>Adicionar</button>
            </div>
            <div class="col m10 right-align">
                <a th:href="@{/periodoPagamento/list}" class="waves-effect tooltip"><i
                        class="material-icons left">arrow_back</i>Voltar</a>
            </div>
        </div>
    </form>    
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <!-- <script src="../js/libs/datePickerInit.js"></script> -->
    <script src="../js/libs/datePickerInitAmericanDate.js"></script>
    <script th:src="@{/js/periodoPagamento/form.js}"></script>

</body>

</html>