
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Acompanhamentos"></title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Gerênciar Períodos de Pagamento</h4>
                <hr />
            </div>
        </div>

    </div>
	
	 <div class="container" style="width: 100%;">
	 
	 <div class="row">
            <a id="excelBtn" onClick="htmlTableToExcel('tabela-faturamentos','faturamentos');" data-position="left"
                data-tooltip="Baixar o estado atual da tabela para Excel" class="tooltipped waves-effect btn right"><i
                    class="material-icons left">file_download</i>Exportar Excel</a>
        </div>
	 
	 <div class="row">
				<div class="col s3 m3 l3">
					<a type="submit" data-position="above" data-tooltip="Adicionar nova comissão" class="tooltipped waves-effect green btn center" 
						th:href="@{/periodoPagamento/form}">
						<i class="material-icons left">add</i>Novo Período
					</a>
				</div>
	</div>			
	 
    <ul class="collapsible popout" data-collapsible="expandable">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">search</i>Filtros
            </div>
            <div class="collapsible-body grey lighten-3">

                <form th:action="@{/relatorios/relatorioFaturamento}">

                    <input name="queryTrigger" th:hidden="hidden" type="text" value="true" />

                    <div class="row">

                        <section id="filters">
                            <div class="input-field col m2">
                                <i class="material-icons prefix">search</i>
                                <select name="campanha" class="select" id="select-campanha">
                                    <option th:selected="selected" th:value="''">Selecione</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                </select>
                                <label>Campanha</label>
                            </div>

                           
                        </section>

                    </div>

                   

                    <div class="row">

                        <div class="col m3">
                            <button type="submit" id="btn" class="waves-effect blue btn modal-trigger">
                                <i class="material-icons left">search</i>Buscar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
    </ul>

	        <div class="row">
            <div id="listPeriodos">
                <table class="responsive-table striped" id="tabela-faturamentos" style="margin-top: 50px">
                    <thead>
                        <tr>
                           <th th:hidden="hidden">#</th> 
                           <th>Departamento</th>
                           <th>Data Ínicio</th>
                           <th>Data FInal</th>
							<th>Data Pagamento</th>
							<th>status</th>
							<th>detalhes</th>
							<th>editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p : ${periodos}" id="periodo">
                        <td th:text="${p?.departamento}"></td>
                        <td th:text="${p?.dataInicio}"></td>
                        <td th:text="${p?.dataFim}"></td>
                           <td th:text="${p?.dataPagamento}"></td>
							<!-- <td th:text="${p?.evolucaoTotal}"> </td> -->
							<td th:text="${p?.pago}"></td>
							<td class="ignore">
											<a 
				                            		data-position="top" 
				                            		data-tooltip="Visualizar comissão" 
				                            		class="tooltipped btn grey darken-1 ">
				                                <i class="material-icons">visibility</i>
				                            </a>
			                        	</td>
				                        <td class="ignore" >
				                            <a 
				                            		type="submit" 
				                            		data-position="top" 
				                            		data-tooltip="Editar comissão" 
				                            		class="tooltipped btn light-blue darken-4">
				                                <i class="material-icons">edit</i>
				                       		</a>
				                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
	
    </div>

    <div th:include="fragments/footer :: footer"></div>
    <script src="../js/libs/jquery.mask.min.js"></script>
    <script src="../js/libs/exportExcel.js"></script>
    <script src="../js/faturamento/relatorio.js"></script>

</body>

</html>