#contato-cliente {
    display: none;
}

#table-contatos {
    display: none;
}

#tabela-contatos {
    display: none;
}

#tabela-contato-cliente-hidden {
    display: none;
}

#tabela-contato-instituicao-hidden {
    display: none;
}

#contato-instituicao {
    display: none;
}

.hidden {
    display: none;
}

.progress {
    display: none;
}
