.tabela-empresa{
	font-size: 14px;
}

#btnFat{
	position: relative;
	left: 35px;
}

.container{
	max-width: 98%;
	min-width: 85%
}

table td {
	table-layout: fixed !important;
	width: 40% !important;
	word-wrap: break-word !important;
}

