<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Cadastrar Item da Tarefa</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4 th:text="${item.nome}"></h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <form th:action="@{/listas/add/}+${item.id}" method="POST">
		<div class="row">
				<div class="input-field col m5">
					<input name="idItem" type="text" th:value="${item.id}" th:hidden="hidden"/>
                    <input id="nomeDoItem" type="text" class="tooltip" th:required="required" name="valor" />
                    <label for="nomeDoItem">Nome do item</label>
                </div>
                <br/>
                <div class="col m6">
                    <button type="submit" class="waves-effect green btn tooltip" id="btnAddProduto">
		                  <i class="material-icons left">add</i>ITEM DA LISTA
		             </button>
                </div>
        </div>
        </form> 
        <div class="row">
            <h5>Itens da Listas</h5>
            <table class="responsive-table table-default bordered">
                <thead>
                    <tr>
                        <th th:hidden="hidden">#</th>
                        <th>Item</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbody-contatos">
                    <tr th:each="v : ${valores}">
                        <td th:text="${v.valor}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
       			<div class="col m8 right-align">
                    <a href="/itensTarefas/form" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
        
    </div>
    

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/itemtarefa/main.js"></script>

</body>

</html>
