<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title>Cadastrar Filial</title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>+ Filial</h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <form th:action="@{/filiais/add}" method="POST">

            <div class="row">

                <div class="input-field col m6">
                    <input id="filialNome" type="text" class="tooltip" th:required="required" name="nome" />
                    <label for="filialNome">Nome da filial</label>
                </div>

            </div>

            <div class="input-field col m4">
                <select name="consultores" id="selectColaboradores" class="select" multiple="multiple" th:required="required">
	                	<option value="" th:disabled="disabled"
	             			th:selected="selected" >Selecione os consultores da filial</option>
	                    <option th:each="consultor : ${consultores}"
	                    	th:value="${consultor.id}"
	                    	th:text="${consultor.sigla} +', '+${consultor.nome} "></option>
	                </select>
                <label>Selecione os consultores desta filial</label>
            </div>

            <div class="row">
                <div class="col m4">
                    <button type="submit" id="btn-cad-filial" class="waves-effect green btn"><i class="material-icons left">add</i>Adicionar</button>
                </div>
                <div class="col m10 right-align">
                    <a th:href="@{/filiais/all}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        </form>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/filial/form.js"></script>

</body>

</html>
