<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="UTF-8" />
<title>Filiais</title>
<link th:include="fragments/header :: header-css" />
<link rel="stylesheet" href="../css/filial/list.css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <!-- Título da página -->
                <h4>Filiais</h4>
                <hr />
            </div>
        </div>

    </div>
	<div class="container">
		<div class="row">
			<section id="filters">
                <div class="input-field col m5">
                    <i class="material-icons prefix">search</i>
                    <input type="text" id="txt-pesq-filial" />
                    <label for="txt-pesq-filial">Pesquisar filiais</label>
                </div>
            </section>
			<div class="col m3 offset-m4">
				<a type="submit" class="waves-effect green btn right"
					th:href="@{/filiais/form}" title="adicionar"><i
					class="material-icons left">add</i>Filial</a>
			</div>
		</div>

		<div class="row">
			<table id="tabela-filiais" class="responsive-table bordered">
				<thead>
					<tr>
						<th th:hidden="hidden">#</th>
						<th>Nome</th>
						<th>Qtd de colaboradores</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="f : ${filiais}" id="consultor">
						<td th:hidden="hidden" id="idFilial" th:text="${f.id}"></td>

						<td id="nome"><a th:text="${f.nome}"
							th:onclick="'listarConsultoresModal(' + ${f.id} + ');'"
							class="mouse-hand"></a></td>

						<td id="qtdColaboradores" th:text="${f.consultores.size()}"></td>

						<td sec:authorize="hasRole('ROLE_ADMIN')" class="right">

							<button type="button" class="btn modal-trigger btn tooltip red"
								th:attr="data-target='modal' + ${f.id}" id="btnRemover">
								<i class="material-icons">delete</i>
							</button>	
							 <form th:action="@{/filiais/delete/} + ${f.id}" method="POST">
                                <div th:id="modal + ${f.id}" class="modal bottom-sheet">
                                    <div class="modal-content">
                                        <h4>
                                            Deseja mesmo remover a filial ? <i class="material-icons right modal-close mouse-hand">close</i>
                                        </h4>
                                        <p th:text="'Você está removendo ' + ${f.nome} +', este processo é irreversível'"></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat red white-text">Remover</button>
                                    </div>
                                </div>
                            </form>                           
				
                        </td>

                        <td class="right">
                            <a th:href="@{/filiais/} + ${f.id}" class="btn light-blue darken-4"> <i class="material-icons">edit</i>
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Colaboradores</h4>
            <ul id="lista-colaboradores" class="collection">
                <li></li>
            </ul>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat red white-text mouse-hand">Fechar</a>
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/filial/list.js"></script>

</body>

</html>
