<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8" />
    <title th:text="Atualizar + ' ' + ${filial.nome}"></title>
    <link th:include="fragments/header :: header-css" />
</head>

<body>

    <div th:include="fragments/header :: menu-lateral"></div>

    <div class="row">

        <div th:include="fragments/btnMenuLogout :: btns-default"></div>

        <div class="col m10">
            <div class="center">
                <h4 th:text="Atualizar + ' ' + 'filial' + ' ' + ${filial.nome}"></h4>
                <hr/>
            </div>
        </div>
    </div>

    <div class="container">
        <p th:if="${sucesso}" th:text="${sucesso}"></p>
        <p th:if="${erro}" th:text="${erro}"></p>
        <form action="/filiais/update" method="POST" th:object="${filial}">
            <input id="ativo" type="checkbox" name="ativo" th:checked="${filial.ativo}" th:hidden="hidden" />
            <div class="row">
                <div class="input-field col m4">
                    <input th:value="${filial.id}" type="text" name="id" th:hidden="hidden" />
                    <input th:value="${filial.nome}" type="text" id="filialNome" name="nome" th:required="required" />
                    <label for="nomeCompleto">Nome da filial</label>
                </div>

                <div class="col m4">
                    <div class="input-field">
                        <select id="selectConsultores" multiple="multiple" name="consultores" th:required="required">
                        	<option value="" th:disabled="disabled" th:selected="selected" >Selecione os consultores
                        	</option>
                    	    <option 
                           		th:each="consultor : ${filial.consultores}"
                            	th:value="${consultor.id}"
                            	th:text="${consultor.sigla} +', '+${consultor.nome} "
                            	th:selected="selected">
                           </option>
                    	    <option 
                           		th:each="consultor : ${consultoresNoFilial}"
                            	th:value="${consultor.id}"
                            	th:text="${consultor.sigla} +', '+${consultor.nome} ">
                           </option>                           
                        </select>
                        <label>Consultores</label>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col m4">
                    <button type="submit" class="waves-effect light-blue darken-4 btn tooltip" id="btn-editar-consultor">
	                    <i class="material-icons left">edit</i>Atualizar
	                </button>
                </div>
                <div class="col m8 right-align">
                    <a th:href="@{/filiais/all}" class="waves-effect tooltip"><i class="material-icons left">arrow_back</i>Voltar</a>
                </div>
            </div>
        </form>
    </div>

    <div th:include="fragments/footer :: footer"></div>

    <script src="../js/filial/form.js"></script>

</body>

</html>
